<div class="">

  <div class="patchstyle">
      <div class="clear20"></div>
      <span class="title">Maternity Care</span><br>
      <img class="img-fluid" src="././assets/images/border_style.png">
      <div class="carousel-item active mt-2">
        <div class="text-on-image col-md-6 col-lg-6">
          <!-- <p class="mb-4">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters , as opposed to using ‘Content here ,content here’,making it look like readable English.</p> -->
          <label class="dates">AUGUEST 10,2018</label>
          <div class="clear20"></div>
          <button class="btn read_more">READ MORE</button>
        </div>
        <div class="image_div">
  
        <img class="img-fluid" src="././assets/images/maternity-health.png" alt="">
        </div>
      </div>
  </div>
  <div class="clear40"></div>
  <div class="patchstyle">
      <div class="clear20"></div>
      <span class="title">Maternity Care</span><br>
      <img class="img-fluid" src="././assets/images/border_style.png">
      <div class="carousel-item active mt-2">
        <div class="text-on-image col-md-6 col-lg-6">
          <!-- <p class="mb-4">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters , as opposed to using ‘Content here ,content here’,making it look like readable English.</p> -->
          <label class="dates">AUGUEST 10,2018</label>
          <div class="clear20"></div>
          <button class="btn read_more">READ MORE</button>
        </div>
        <div class="image_div">
  
        <img class="img-fluid"  src="././assets/images/{{carouselarr1[carouselImg].imageURL}}" alt="">
        </div>
      </div>
  </div>
  <div class="clear40"></div>
  </div>