<app-navigation></app-navigation>

<section class="declaimer"> 
    <app-floating></app-floating>
  <div class="container pt-5 text-center">
    <h1>Disclaimer</h1>
    <img src="././assets/images/big_border.png">
<div class="maindiv mt-4 text-left">
  <p>A. Emami is the owner/ proprietor of the Website. </p>
  <p>B. The information on the Website (including but not limited to video consult, live chat, e-mails, phone support) is provided for general informational purposes only and 
    should not be relied upon as a substitute for sound professional medical advice, evaluation or care from your physician or other qualified healthcare provider. Nothing on 
    the Website should be ...<span class="more"> Read More</span></p>
    <p>C. No medications, diet supplements or treatments as may be described on the Website shall be taken or begun without first consulting a physician or other healthcare 
      provider. </p>
      <p>D. Information or advice provided on the Website by professionals should be used merely as a guide rather than a definitive recommendation to adopt any specific action or 
        treatment. Nothing transmitted to or from the Website constitutes the establishment of a doctor-patient relationship between You and any professional providing 
        information or advice through the Website. </p>
        <p>E. Website is not intended to be used to: <br>
        <span class="small">
          i) Treat or give diagnosis of a medical emergency or medical condition. </span> <br>
          <span class="small">ii) Advise or resolve medical issues which are outside the scope of what has been specifically agreed.</span>
       </p>
         <p>F. User absolves professionals, engaged and / or contracted by Emami who offer services through the Website, from any responsibility or liability whatsoever, for any medical, 
          legal or financial events or outcomes related to services attained using online video consultation or any form of communication. </p>
          <p>G. Emami does not regularly review the posts on the Website and the views expressed therein are those of the posters and do not necessarily reflect those of Emami, its 
            officers, managers, directors, employees, agents, partners, advertisers, consultants or affiliates. Emami assumes no responsibility for the posts or the information contained 
            therein, nor does it make any claims, promises or guarantees about the accuracy, suitability or completeness of any of the information on the said posts.</p>

            <p>H. Emami is solely entitled to the trade marks, names, logos and service marks, copyrights and all other intellectual property rights including but not limited to the software, 
              application, graphics, text and other materials used therein (collectively, the “Content”). Nothing contained on the Website should be construed as granting any license or 
              right to use Content without the prior written permission of Emami. Any other material displayed on the Website ... <span class="more"> Read More</span> </p>

              <p>I. Emami makes no claim that the Content is appropriate or may be downloaded in a particular jurisdiction. The access to Website and Content may not be legal by certain 
                persons or in certain states or countries. If You access the Website from outside India, You do so at your own risk and are responsible for compliance with the laws of your 
                jurisdiction. </p>

                <p>J. The Content is for informational purposes only. The Content is not intended to be a substitute for face-to-face professional advice, diagnosis, or treatment. </p>
<p>K. The information on the Website may become outdated and efforts will be made to correct the errors and keep the Content updated. The information and materials on the 
  Website are provided on an “as is” basis.</p>
  <p>L. User shall provide full and complete information pertaining to the ailment (including but not limited to the User’s medical history).</p>

  <p>M. No warranty or representation of any kind, express or implied, is given by or on behalf of Emami that the responses to the queries, shall be appropriate, secure, reliable and 
    free from error. </p>
    <p>N. Emami shall not be liable for any negligence (including gross negligence), loss, injury or damage (including without limitation direct, indirect, consequential, special,
      exemplary or punitive loss) suffered by You on account of the use/performance of the information, response, advice furnished to You, any action or lack of action by User 
      and/ or medicines prescribed/ sold to the User.</p>
      <p>O. User agrees to defend, indemnify, compensate and hold Emami, its officers, directors, employees, agents, licensors, and suppliers, harmless from and against all claims, 
        actions or demands, liabilities and settlements including without limitation, reasonable legal and accounting fees, resulting from, or alleged to result from, User’s violation 
        of these terms and conditions or any claims based upon the User’s posts/submissions on the Website. 
   </p>

   <p>P. Emami shall not be liable to indemnify the User under any event.</p>

   <p>Q. For damages (including without limitation liability arising out of tort, strict liability, negligence, contract or patent or copyright infringement), if any, the liability of Emami 
    shall not exceed the lesser of: <br>
    <span class="small">
      i) The fees paid, if any, to Emami for the information or service provided on this Website;
    </span><br>
      <span class="small">  ii) INR 200 (Indian Rupees Two Hundred).</span>
    </p>

   <p>R. These terms and conditions and the privacy policy constitute the entire understanding and agreement between the User and Emami. There are no understandings, 
    representations or warranties (whether written or oral) except as expressly referred to herein. 
</p>
<p>S. If any dispute, difference, claim or question, shall at any time, arises between Emami and You, in relation to the use of the Website (in any manner whatsoever) such dispute, 
  difference, claim or question shall be referred to arbitration. Emami and You shall mutually appoint a sole arbitrator. Such arbitration shall be held in accordance with the 
  provisions of the Arbitration and Conciliation Act, 1996. The venue and seat of arbitration shall be [Kolkata, West Bengal] and the proceedings shall be in the English 
  language. </p>

  <p>T. User warrants that he/ she has completed eighteen (18) years of age as on date of this agreement and has fully read and understood these terms and conditions without any 
    impairment in judgment resulting, inter-alia, from mental illness, mental handicap, intoxication, medication, or any other health problem. 
</p> 
<div class="clear"></div> 
<p>U. There is no refund or cancellation policy</p>

</div>
  </div>
</section>
<div class="mb-5">
  <app-main-footer></app-main-footer>
</div>