
<app-doctor-navigation></app-doctor-navigation>
<div class="clear100"></div>
<div class="container" >
<app-doctor-infocard></app-doctor-infocard> 
<div class="clear20"></div> 
<div class="row m-0">
    <div class="col-lg-12 col-sm-12 col-12 IndexTabContentBox">
            <app-indextab></app-indextab>  
            <div class="clear10"></div> 
           
    </div> 
   
    <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <app-appointmentscard></app-appointmentscard>
    </div> -->
</div> 
<div class="clear20"></div>
<!-- <app-your-query-tabs></app-your-query-tabs> -->

<div class="clear20"></div>
<div class="row">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6">
     <app-doctor-piechart class="doct-pie-chart"></app-doctor-piechart>
  </div>
  <div class="col-12 col-sm-12 col-md-6 col-lg-6">
    <app-docdashcal></app-docdashcal>      
  </div>
</div>
</div> 

<div class="clear20"></div>
<app-footer></app-footer>