<app-navigation></app-navigation>

<section class="declaimer"> 
    <app-floating></app-floating>
  <div class="container pt-5 text-center">
    <h1>Shipping Policy:</h1>
    <img src="././assets/images/big_border.png">
<div class="maindiv mt-4 text-left">
  <!-- <p>Your privacy is important to Emami Group. Emami respects the privacy of every individual who visits our website. Emami is sensitive to the privacy concerns of the 
      visitors to its websites and recognizes that you are concerned about the information you provide us and how we treat that information. This privacy statement provides information about the personal information that Emami collects, and the ways in which Emami uses that personal information.</p> -->
  <p class="pmain">How can I place an order for Zandu products?</p>
  <p>For placing orders, please visit www.zanducare.com or alternatively call us at 1800-572-8000 (Open 9 AM - 8 PM from Monday – Sunday)
    </p>
    <p class="pmain">Is there a minimum value for placing orders?</p>
    <p>There is absolutely no minimum value for placing orders</p>

    <p class="pmain">Are the prices displayed on Zandu website inclusive of all applicable taxes?</p>
    <p>Yes, the prices displayed on our website are inclusive of all applicable taxes</p>
  
    <p class="pmain">To what all locations do you deliver orders?</p>
    <p>Currently, we are delivering orders only in Madhya Pradesh. We plan to make this facility available pan India in the future</p>

    <p class="pmain">How should I make the payment for the orders?</p>
    <p>For orders placed through our customer care or website, you can pay online through credit cards, debit cards, internet banking or E-wallets. We take very strict measures to ensure a fair and secure online transaction. In case you don’t feel comfortable transacting online, you can pay after receiving the order by choosing Cash on Delivery Option</p>
    <p class="pmain">What are the shipping charges?</p>
    <p>Currently, we don’t charge any shipping charges for delivering the orders</p>
    <p class="pmain">Will I get any confirmation after placing the order?</p>
    <p>Once you place the order, a notification will be sent to your email address and your registered mobile number along with the order reference number</p>
    
    <p class="pmain">How do I track my order?</p>
    <p>We ship orders through our registered courier partners. As soon as the order is shipped, you will receive an SMS from our courier partner which includes the AWB courier tracking number. Using the AWB number, you can either track the order on our website or on the website of our courier partners</p>
    <p class="pmain">When will I receive the order?</p>
    <p>The estimated time of delivery is generally 4-5 business days, time may vary according to your delivery location</p>
    <p class="pmain">When will I get the invoice for my order?</p>
    <p>Invoice copy will be provided to you when the order is delivered to your address</p>
    <p class="pmain">Who do I contact in case of any order queries?</p>
    <p>Please feel free to call us at 1800-572-8000 (Open 9 AM - 8 PM from Monday – Sunday)</p>
</div>
  </div>
</section>
<div class="mb-5">
  <app-main-footer></app-main-footer>
</div>