<div id="" class="months-slider-Container text-center my-4">
  <ul class="months-slider-list">
      <li>
          <img src="././assets/images/slide-arrow-left-black-1.png" data-slide="prev" (click)="previousSlide()" />
      </li>
      <li>
          <div (click)="singleMonthSelect(0)" class="mx-auto active-month-cirlce">{{monthsSlideArr[0].monthName}}</div>
      </li>
      <li>
          <div (click)="singleMonthSelect(1)" class="mx-auto mt-3 inactive-month-circle">{{monthsSlideArr[1].monthName}}</div>
      </li>
      <li>
          <div (click)="singleMonthSelect(2)" class="mx-auto mt-3 inactive-month-circle">{{monthsSlideArr[2].monthName}}</div>
      </li>
      <li>
          <div (click)="singleMonthSelect(3)" class="mx-auto mt-3 inactive-month-circle">{{monthsSlideArr[3].monthName}}</div>
      </li>
      <li>
          <div (click)="singleMonthSelect(4)" class="mx-auto mt-3 inactive-month-circle">{{monthsSlideArr[4].monthName}}</div>
      </li>
      <li>
          <div (click)="singleMonthSelect(5)" class="mx-auto mt-3 inactive-month-circle">{{monthsSlideArr[5].monthName}}</div>
      </li>
      <li>
          <div (click)="singleMonthSelect(6)" class="mx-auto mt-3 inactive-month-circle">{{monthsSlideArr[6].monthName}}</div>
      </li>
      <li>
          <div (click)="singleMonthSelect(7)" class="mx-auto mt-3 inactive-month-circle">{{monthsSlideArr[7].monthName}}</div>
      </li>
      <li>
          <div (click)="singleMonthSelect(8)" class="mx-auto mt-3 inactive-month-circle">{{monthsSlideArr[8].monthName}}</div>
      </li>
      <li>
          <div (click)="singleMonthSelect(9)" class="mx-auto mt-3 inactive-month-circle">{{monthsSlideArr[9].monthName}}</div>
      </li>
      <li>
          <div (click)="singleMonthSelect(10)" class="mx-auto mt-3 inactive-month-circle">{{monthsSlideArr[10].monthName}}</div>
      </li>
      <li>
          <div (click)="singleMonthSelect(11)" class="mx-auto mt-3 inactive-month-circle">{{monthsSlideArr[11].monthName}}</div>
      </li>
      <li>
          <img src="././assets/images/slide-arrow-right-black-1.png" (click)="nextSlide()" />
      </li>
    
  </ul>
</div>