<app-navigation *ngIf="showHeader"></app-navigation>
<section class="home-top pt-5"> 
    <app-floating></app-floating>
  <div class="container "> 
      <!-- <h1 class="main_title">Low back pain </h1>
    <h1 class="main_title2">“Back pain is a symptom, not a disease”</h1>

    <div class="clearfix"></div>
<div class="clear20"></div>
<div class="HedingMapContentBox col-12 col-lg-9">
  <div class="row" >
      <div class="col-lg-4">
        <div class="col-12 col-lg-12 text-center">
          <img src="././assets/images/diabetes-w.png">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 padlrn">
        <div class="col-12 col-lg-12 text-left padlrn">
          <div class="row">
            <div class="col-6 col-lg-6  Around50Text2 Around50Text  text-center">
              <p>India represents  
              </p>
              <h1>49%</h1>
            </div>
            <div class="col-6 col-lg-6 m-l-25 padlrn">
              <div class="clear10"></div>
                <div class="BorderBotton"></div>
                <p> in India suffer from UTI during their lifetime.  
                    </p>
              
              </div>
          </div>
          <div class="BorderBotton"></div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
          <div class="col-12 col-lg-12">
            <div class="row">
              <div class="col-6 col-sm-6 col-lg-6 m-t-18">
                  <h1 class="seventytwo">72</h1>
                  <p class="million"> million</p>
                   
              </div> 
              <div class="col-6 col-sm-6 col-lg-6 Around50Text2 Around50Text padlrn m-l-50">
                    <p>cases of diabetes
                      were reported in
                      the year 2017</p>     
              </div> 
          </div>  
                  <div class="clear"></div>
          <div class="col-8 col-lg-11 padln">
            <div class="BorderBotton"></div>
          </div>
                  
          </div>
        </div>
       
  </div>


</div>
<div class="clear20"></div>
  <div class="DibetectSection">
      <div class="DibeticLeft" (click)="scrollTo('Overview')">
        <img src="././assets/images/noun-health.png">
        <p class="m-0">Overview</p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('SymptomsCauses')">
        <img src="././assets/images/noun-medical.png">
        <p class="m-0">Symptoms &amp; Causes  </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('PreventionDiagnosis')" >
        <img src="././assets/images/noun-bacteria.png">
        <p class="m-0"> Prevention &amp; Diagnosis </p>
      </div>
      <div class="DibeticLeft"  (click)="scrollTo('AyurvedaApproach')">
        <img src="././assets/images/noun-herbal-medicine.png">
        <p class="m-0"> Ayurveda Approach </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('Complications')" >
        <img src="././assets/images/noun-healt.png">
        <p class="m-0"> Complications </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('RelatedProducts')">
          <img src="././assets/images/noun-medicine10.png">
          <p class="m-0">    Related Products </p>
        </div>
    
  
    </div>
 
<div class="clear"></div> -->
</div>
</section>
<!-- <div class="container"> -->
  <!-- <div class="zanduservicemain">
    <div class="card-deck px-5">
      <div class="card zanduservice">
        <div class="card-body">
          <p class="card-text">Sign up to get <br>
            Zandu Services FREE!</p>
        </div>
      </div>
      <div class="card zanduservice text-center">
        <div class="card-body">
          <button class="btn FbBtn" type="button"><img alt="facebook" class="mr-2" src="././assets/images/facebook.png">
            Login With Facebook</button>
        </div>
      </div>
      <div class="card zanduservice text-left">
        <div class="card-body ">
          <button class="btn  GoogleBtn" type="button"><img _ngcontent-c1="" alt="google" class="mr-2" src="././assets/images/google.png">
            Sign up with Google</button>
        </div>
      </div>
      <div class="card zanduservice mr-4">
        <div class="card-body ">
          <span>Call us @</span>
          <h5>9999 8888 22</h5>
        </div>
      </div>
    </div>
  </div> -->
<!-- </div>
<div class="clear"></div> -->

<section class="Yoga_AurvedaSection">
    <div class="container"> 
  <h1>Ayurveda diet</h1>
  <div class="clear"></div>
  <div class="text-center">
    <img src="././assets/images/big_border.png">
  </div> 
  <div class="row m-0">
  <!-- <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6 hidden text-center DisplayNone">
      <img class="w-100 img-fluid" src="././assets/images/backpain-w.png">
  </div> -->
  <div class="Yoga_Ayurveda_Div col-12 col-sm-12 col-md-12 col-lg-12 textcenter foralign-res ahaarpadding">
    <p>What we eat has a profound effect on our mind as well as the body. 
      It is not only important as to what we eat, but it is equally important
       as to how we eat. Following are a few tips on diet which help in getting
        the best out of what we eat. </p>
        <div class="row m-0">
            <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6  pl-0">
              <ul class="ayurveda-list p-0 ml-4">
                <li>The diet, especially hard substances, should be properly chewed.</li><div class="clear10"></div>
                <li>Wherever possible intake of curd or buttermilk should follow food.</li><div class="clear10"></div>
                <li>It should neither be very hot nor absolutely cold.</li><div class="clear10"></div>
                <li>Water should be avoided at least 15 minutes before food. The quantity of water after food should be small. Drink water often.</li><div class="clear10"></div>
                <li>Heavy (Guru) food should be taken in a limited quantity.</li><div class="clear10"></div>
                <li>
                  Heavy food should not be taken at night. The proper time of night meal is two to three hours before going to bed. After night meal, it is better to go for a short walk.</li><div class="clear10"></div>
                <li>After meals, heavy mental or physical work should be avoided. Some rest is advisable for proper digestion of food.</li><div class="clear10"></div>
              </ul>
            </div> 
             
            <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6 pl-0">
                <ul class="ayurveda-list p-0 ml-4">
                  <li>The food should be fresh, easily digestible and protein-enriched. If cooked food is kept for a long period of time, its positive qualities diminish, due to the existence of free  radicles and oxidisation, and this when eaten, is harmful for our health.</li><div class="clear10"></div>
                  <li>One has to keep in mind that the acidic and alkaline contents of the foods do not exceed their upper limits. Excess of alkali is not as harmful as excessive acids in food, which might lead to acidity or other stomach related problems.
                  </li><div class="clear10"></div>
                  <li>Avoid fried edibles.
                  </li><div class="clear10"></div>
                  <li>Each meal must contain at least one protein-filled and one carbohydrate-filled dish. One could eat fresh vegetables, salads, fresh chutnies, pickles, papad and soup with a sprinkling of salt. Each individual should consume not more than 1/2 to 3/4 litre of oil per month.</li><div class="clear10"></div>
                  <li>Stale, tinned/ canned food and edibles that are kept in the open, cooked and uncovered or left cut and in the open are harmful in nature.
                  </li><div class="clear10"></div>
                </ul>     
            </div>
            </div> 
          </div>
</div>

  <div class="clear"></div>
</div>
</section>
<section class="ahaars">
    <div class="col-12 col-sm-12 col-md-11 col-lg-11 mx-auto">
      <div class="clear40"></div>
        <div class="container">
            <app-ahaarsilder></app-ahaarsilder>
        </div>
    </div>
    <div class="clear"></div>  
</section>
<section class="Yoga_AurvedaSection">
    <div class="container"> 
  <h1>Vata Diet</h1>
  <div class="clear"></div>
  <div class="text-center">
    <img src="././assets/images/big_border.png">
  </div> 
  <div class="vata-padding">
  <p class="Yoga_Ayurveda_Div foralign-res">Use this diet to help relieve nervous tension, cramps, pain, anxiety, insomnia, bloating, constipation, dryness.</p>
  </div>
  <div class="row m-0">
  <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-12 textcenter pl-0">
      <div class="vata-padding">
      <h2>General treatment</h2>
        <div class="row m-0">
            <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-12 pl-0">
              <ul class="ayurveda-list p-0 ml-4">
                <li>Just eat what is appropriate for you. If you are intolerant of any food or simply do not like it then avoid it. Thdiet is to enhance the assimilation of nutrients which will help calm the nervous system.</li>
                <li>Emphasise foods that are warm, soupy and easy to digest.</li>
                <li>Eat at regular times.</li>
                <li>Eat to less than full.</li>
                <li>Practice relaxation.</li>
                <li>Avoid yeast, refined sugars, coffee, tea, tobacco, drugs, poor quality oils and extremely spicy foods as these aggravate the digestion and the nervous system.
                </li>
                <li>Favour foods that are warm, heavy, and oily as these nourish the nervous system.</li>
                <li>Reduce foods that are cold, dry, and hard as these aggravate digestion.</li>
                <li>Favour foods that are sweet (e.g. wheat, milk, rice), sour (e.g. vinegar, yogurt, umeboshi plums, citrus fruit), and salty as these are all nourishing.</li>
                <li>Reduce foods that are very spicy, bitter (e.g. coffee, chillies, green leafy vegetables), and astringent (e.g. apples, beans) as these aggravate digestion and disturb the nervous system.
                </li>
              </ul>         
            </div>
        </div> 
      </div>
        <div class="row m-0">
          <!-- <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6 hidden text-center DisplayNone">
              
          </div> -->
          <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-12 textcenter pl-0 foralign-res">
                <div class="row m-0">
                    <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6 pl-0">
                      <div class="vata-padding">
                        <h4>Dairy</h4>
                        <div class="clear10"></div>
                        <p class="dairyDiv">All dairy products nourish the nervous system. Always boil milk before you drink it, mix with cardamom seeds and drink it warm. Don’t take milk with a full meal or with fruit. Use organic milk. If allergic substitute with almond or rice milk. Avoid ice cream, powdered milks and soya milk.</p>
                        <div class="clear40"></div>
                        <h4>Olis</h4>
                        <div class="clear10"></div>
                        <p class="dairyDiv">All oils reduce dryness and nourish the nervous system. Emphasise Flax, hemp, sesame, ghee, olive, sunflower, evening primrose, borage and fish oils. Use these internally and externally.</p>
                        <div class="clear40"></div>
                        <h4>Fruits</h4>
                        <div class="clear10"></div>
                        <p class="dairyDiv">Favour sweet, sour, or heavy fruits, such as berries, bananas, avocados, grapes, cherries, lemons, limes, fresh figs, peaches, melons, plums, pineapples, mangoes, and papayas. Avoid dried fruits, uncooked apples, pears, pomegranates, cranberries as these can create wind.</p>
                        <div class="clear40"></div>
                        <div class="clear40"></div>
                        <h4>Spices</h4>
                        <div class="clear10"></div>
                        <p class="dairyDiv">Most of them, especially; asafoetida, cardamom, cumin, coriander, ginger, fennel, dill, cinnamon, salt, cloves, mustard seed, black pepper all help reduce gas and spasms in the digestive system.</p>
                        <div class="clear30"></div>
                        <h4>Beans</h4>
                        <div class="clear10"></div>
                        <p class="dairyDiv">Avoid all beans, except for marinated tofu and mung lentils and occasionally red lentils.</p>
                    </div> 
                  </div>
                    <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6 pl-0">
                        <div class="vata-padding">
                        <h4>Sweeteners</h4>
                        <div class="clear10"></div>
                        <p class="dairyDiv">All sweet flavours are good for nourishing the nervous system. Reduce refined white sugar. Avoid all sugars if bloating is present.</p>     
                        <div class="clear40"></div>
                        <div class="clear40"></div>
                        <div class="clear10"></div>
                        <h4>Grains</h4>
                        <div class="clear10"></div>
                        <p class="dairyDiv">Rice (basmati, brown, wild), wheat, oats (cooked) and quinoa are very good for nourishing the nervous system. Reduce intake of barley, corn, millet, buckwheat and rye as these are a bit drying and can be difficult to digest creating wind. Avoid the rest</p>
                        <div class="clear40"></div>
                        <h4>Vegetables</h4>
                        <div class="clear10"></div>
                        <p class="dairyDiv">Asparagus, beets, cucumbers, carrots, and sweet potatoes are the best. Peas, green leafy vegetables, celery, summer squash, winter squash, and potatoes are best. Seaweeds are very beneficial. It’s best to avoid the Brassica family; brussel sprouts, broccoli, cauliflower and cabbage. Also avoid Solanaceae family; peppers, aubergines, potatoes and tomatoes. Raw vegetables, especially onions are banned as these all create wind.</p>
                        <div class="clear30"></div>

                        <h4>Nuts</h4>
                        <div class="clear10"></div>
                        <p class="dairyDiv">All nuts and seeds are good in moderation, especially soaked.</p>
                        <div class="clear40"></div>
                        <div class="clear40"></div>
                        <h4>Meat and fish</h4>
                        <div class="clear10"></div>
                        <p class="dairyDiv">Chicken, turkey, eggs and seafood are fine; beef should be avoided. </p>
                    </div>
                    </div> 
                  </div>
        </div>
        
    </div>
</div>
</div>
<div class="clear"></div>
</div>
</section> 
<section id="Overview" class="Yoga_AurvedaSection">
  <div class="container"> 
<h1>Pitta Diet</h1>
<div class="clear"></div>
<div class="text-center">
  <img src="././assets/images/big_border.png">
</div>
<div class="vata-padding">
<p class="Yoga_Ayurveda_Div foralign-res">Use this diet to help clear skin inflammations, itching, joint pain, hot flushes, acidity, ulcers, anger, irritation, infections, fever, late spring</p>
</div>
<div class="row m-0">
<div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-12 textcenter pl-0">
    <div class="vata-padding">
    <h2>General treatment</h2>
    <div class="clear"></div>
      <div class="row m-0">
          <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-12 pl-0">
            <ul class="ayurveda-list p-0 ml-4">
              <li>Please just eat what is appropriate for you. If you are intolerant of any food or simply do not like it then please avoid it.</li>
              <li>Include Aloe Vera juice and rosewater daily</li>
              <li>Avoid alcohol, coffee, tea, chocolate, cheese, yogurt, and animal products. Low quality oils are a major cause of inflammation.</li>
              <li>Avoid sour, salty, and pungent foods as these aggravate inflammation.</li>
              <li>Favour foods that are cool, refreshing and liquid. Fresh organic fruits and vegetables.</li>
              <li>Favour foods that are sweet, bitter, or astringent as these reduce heat.
              </li>
              <li>Reduce foods that are spicy, salty or sour as these increase heat.</li>
            </ul>         
          </div>
      </div>
    </div> 
      <div class="row m-0">
        <!-- <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6 hidden text-center DisplayNone">
            
        </div> -->
        <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-12 textcenter pl-0 foralign-res">
              <div class="row m-0">
                  <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6 pl-0">
                      <div class="vata-padding">
                   <h4>Dairy</h4>
                   <div class="clear10"></div>
                   <p class="dairyDiv">Milk, butter, and ghee are good for pacifying heat. Avoid yogurt, cheese, sour cream, and cultured buttermilk; these sour tastes aggravate inflammation.cream, powdered milks and soya milk.</p>
                   <div class="clear10"></div>
                   <h4>Olis</h4>
                   <div class="clear10"></div>
                   <p class="dairyDiv">Flax, hemp, borage, evening primrose, olive, sunflower, and coconut oils are best. Reduce sesame, almond, and corn oil, all of these increase heat.</p>
                   <div class="clear20"></div>
                   <h4>Fruits</h4>
                   <div class="clear10"></div>
                   <p class="dairyDiv">Favour sweet fruits such as grapes, limes, cherries, melons, avocado, coconut, pomegranates, mangoes, apples, berries, sweet and fully ripened oranges, pineapples, and plums. Reduce sour fruits such as grapefruits, lemons, olives, papayas and sour, not-yet-ripened oranges, pineapples, and plums as they can increase heat and acidity.</p>
                   <div class="clear70"></div>
                   <h4>Spices</h4>
                   <div class="clear10"></div>
                   <p class="dairyDiv">Cinnamon, coriander, dill, aniseed, cardamom, fennel, turmeric, fresh ginger and small amounts of black pepper are good, but the following spices strongly increase heat and should be taken in moderation: Asafoetida, dry ginger, cumin, fenugreek, clove, celery seed, salt, and mustard seed. Chilli peppers and cayenne should be avoided.</p>
                      <div class="clear20"></div>
                   <h4>Beans</h4>
                   <div class="clear10"></div>
                   <p class="dairyDiv">Avoid all beans except for tofu and mung lentils. Especially avoid peanuts as these can create inflammation.</p>
                  </div> 
                </div>
                   
                  <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6 pl-0">
                      <div class="vata-padding">
                      <h4>Sweeteners</h4>
                      <div class="clear10"></div>
                      <p class="dairyDiv">All sweeteners are good except for honey and molasses.</p>     
                      <div class="clear50"></div>
                      <h4>Grains</h4>
                      <div class="clear10"></div>
                      <p class="dairyDiv">Wheat, basmati rice, barley and oats are anti-inflammatory. Reduce corn, rye, millet, and brown rice as they are a little heating.</p>
                      <div class="clear30"></div>
                      <h4>Vegetables</h4>
                      <div class="clear10"></div>
                      <p class="dairyDiv">Favour asparagus, cucumber, cooked beetroots, sweet potatoes, green leafy vegetables, pumpkins, summer squash, broccoli, cauliflower, celery, okra, lettuce, sprouted beans, peas, green beans. Avoid Solanaceae nightshade family; hot peppers, bell peppers, tomatoes, aubergines, potato (can be consumed in small portions). Also avoid Allium family; especially raw onions, garlic, radishes. Also avoid and raw beetroots, raw spinach and mustard greens as these all increase heat and acidity.</p>
                      <div class="clear20"></div>
                      <h4>Meat and fish</h4>
                      <div class="clear10"></div>
                      <p class="dairyDiv">Chicken, pheasant, and turkey are preferable; but beef, seafood, and egg yolk increase inflammation.</p>
                        <div class="clear70"></div>
                      <h4>Superfoods</h4>
                      <div class="clear10"></div>
                      <p class="dairyDiv">Chlorella, Spirulina, Wheat grass, Barley grass, Kalamath lake algae, seaweeds all help to cool the system and clear inflammation.</p>
                  </div>
                  </div>
                  </div> 
                </div>
      </div>
      
  </div>
  <!-- </div> -->
</div>
<div class="clear"></div>
</div>
</section> 
<section id="Overview" class="Yoga_AurvedaSection">
  <div class="container"> 
<h1>Kapha Diet</h1>
<div class="clear"></div>
<div class="text-center">
  <img src="././assets/images/big_border.png">
</div> 
<div class="vata-padding">
<p class="Yoga_Ayurveda_Div foralign-res">Use this diet to help clear mucus, heaviness, sinus congestion, thick tongue coating, tirednesss, sluggishness, high cholesterol, oedema and during winter months</p>
</div>
<div class="row m-0">
<div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-12 textcenter pl-0">
  <div class="vata-padding">
    <h2>General treatment</h2>
    <div class="clear"></div>
      <div class="row m-0">
          <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-12 pl-0">
            <ul class="ayurveda-list p-0 ml-4">
              <li>Please just eat what is appropriate for you. If you are intolerant of any food or simply do not like it then please avoid it.</li>
              <li>Avoid yeast, salt, cheese, yoghurt, chocolate, and refined sugars and flours as these increase mucus.</li>
              <li>Avoid overeating, especially at night.
              </li>
              <li>Do not eat when you are not hungry. Do not eat between meals.</li>
              <li>Do not eat cold foods
              </li>
              <li>A primarily vegetarian diet is highly recommended.

              </li>
              <li>Include ginger in your daily diet: take a pinch of fresh ginger root with a few drops of lemon juice before each meal.

              </li>
              <li>Favour foods that are light, dry, and warm as these reduce mucus.
              </li>
              <li>Reduce foods that are heavy, oily, and cold as these increase weight and mucus.
              </li>
              <li>Favour foods that are spicy, bitter, and astringent (e.g. ginger, asparagus, tea) as these help to dry excess fluids in the body.
              </li>
              <li>Reduce foods that are sweet, salty, and sour (e.g. cakes, crisps, vinegar) as these increase fluids in the body.</li>
            </ul>         
          </div>
      </div>
      </div> 
    <!-- </div> -->
      <div class="row m-0">
        <!-- <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6 hidden text-center DisplayNone">
            
        </div> -->
        <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-12 textcenter pl-0 foralign-res">
              <div class="row m-0">
                  <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6 pl-0">
                      <div class="vata-padding">
                   <h4>Dairy</h4>
                   <div class="clear10"></div>
                   <p class="dairyDiv">Low-fat milk is better. Always boil milk before you drink it (making it easier to digest) and take it warm. Do not take milk with a full meal, or with sour or salty food. Add some cardamom or ginger to whole milk before boiling it to help reduce any mucus generating properties. Use goat’s milk or water milk down 50/50. A little ghee (clarified butter) is fine. Avoid eggs, cheese, yoghurt and buffalo milk.</p>
                   <div class="clear10"></div>
                   <h4>Sweeteners</h4>
                   <div class="clear10"></div>
                   <p class="dairyDiv">Use a little honey (2 tsp/day) as it helps to reduce mucus. Reduce all other sugar products.</p>
                   <div class="clear10"></div>
                   <h4>Nuts</h4>
                   <div class="clear10"></div>
                   <p class="dairyDiv">Reduce all nuts as they are too oily.</p>
                   <div class="clear10"></div>
                   <h4>Vegetables</h4>
                   <div class="clear10"></div>
                   <p class="dairyDiv">Increase asparagus, aubergine, beetroots, broccoli, cabbage, carrot, cauliflower, celery, garlic, ginger, green leaves, kale, onion, potato, pumpkin, radish, sprouts. Reduce okra, olives, tomatoes, cucumbers, sweet potatoes, and summer squash as these increase fluids.</p>
      
                   </div>
                  </div> 
                   
                  <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6 pl-0">
                      <div class="vata-padding">
                      <h4>Fruits</h4>
                      <div class="clear10"></div>
                      <p class="dairyDiv">Lighter fruits, such as apples and pears, are better. Reduce sweet, heavy or sour fruits such as oranges, bananas, pineapples, figs, dates, avocados, coconuts, and melons, as these fruits increase mucus.</p>     
                      <div class="clear60"></div>
                      <h4>Beans</h4>
                      <div class="clear10"></div>
                      <p class="dairyDiv">All beans are fine, except tofu as it is very cold.</p>
                      <div class="clear10"></div>
                      <h4>Oils</h4>
                      <div class="clear10"></div>
                      <p class="dairyDiv">Reduce all oils but flax, corn and sunflower is ok.</p>
                      <div class="clear10"></div>
                      <h4>Grains</h4>
                      <div class="clear10"></div>
                      <p class="dairyDiv">Increase barley, corn, buckwheat, quinoa and millet as these are slightly drying or warming. Avoid or do not take too much wheat, rice, or oats, as they increase heaviness and mucus.</p>
                      <div class="clear20"></div>
                      <h4>Spices</h4>
                      <div class="clear10"></div>
                      <p class="dairyDiv">Include all spices except for salt. Salt increases water retention and mucus whereas spices increase warmth in the body.</p>
                  </div>
                  </div>
                  </div> 
                </div>
      </div>
      
  </div>
</div>
<div class="clear"></div>
</div>
</section> 
<!-- code -->
  <section id="PreventionDiagnosis" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms mt-5">
  <div class="container">
      <!-- <h1>Factors That Increase Your <br/>
        Risk Of Back Pain</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
       -->
     
      <!-- <div class="clear"></div>
      <div class="clear20"></div> -->
      <div class="row m-0 ResMainDiv">
        <!-- <div class="div2 text-center ResScroll">
            <img src="././assets/images/Obesity.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Obesity</span>
        </div> -->

        <!-- <div class="div3 text-center ResScroll">
            <img src="././assets/images/Lack of exercise.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Lack of exercise
                </span>
        </div> -->
        <div class="div1 text-center ResScroll">
          <img src="././assets/images/Yoga for you.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Choose yoga for you</span>
      </div>
        <div class="div4 text-center ResScroll">
            <img src="././assets/images/Home remidies.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Home remedies
               </span>
        </div>
        <div class="div5 text-center ResScroll">
            <img src="././assets/images/surya namaskar.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Surya namaskar
               </span>
        </div>  
        <!-- <div class="div1 text-center WebHide ResScroll">
          <img src="././assets/images/fire-food.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Fried Food
              </span>
      </div>  -->
      <!-- <div class="div2 text-center WebHide ResScroll">
          <img src="././assets/images/sugary-food.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Sugary Food</span>
      </div> -->
      <!-- <div class="div3 text-center WebHide ResScroll">
          <img src="././assets/images/aquqtic-animal.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Aquatic Animal<br>
              Meat 
              </span>
      </div> -->
      <!-- <div class="div4 text-center WebHide ResScroll">
          <img src="././assets/images/sugarcane-juce.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Sugarcane Juice
             </span>
      </div> -->
      <!-- <div class="div5 text-center WebHide ResScroll">
          <img src="././assets/images/extra-fat.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Extra fat<br>
              Dairy Food
             </span>
      </div> -->
      </div> 
      <div class="clear40"></div>
      <div class="row m-0 ResMainDiv">
    
        <div class="div1 text-center ResScroll">
          <img src="././assets/images/Diet2.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Diet</span>
      </div>
        <div class="div4 text-center ResScroll">
            <img src="././assets/images/panchkarma2.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Panchakarma
               </span>
        </div>
        <div class="div5 text-center ResScroll">
            <img src="././assets/images/lifestyle.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Lifestyle
               </span>
        </div>  
        
      </div> 
      <div class="clear40"></div>
      <div class="row m-0 ResMainDiv">
        <!-- <div class="div2 text-center ResScroll">
            <img src="././assets/images/Obesity.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Obesity</span>
        </div> -->

        <!-- <div class="div3 text-center ResScroll">
            <img src="././assets/images/Lack of exercise.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Lack of exercise
                </span>
        </div> -->
        <div class="div1 text-center ResScroll">
          <img src="././assets/images/meditation2.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Meditation</span>
      </div>
        <div class="div4 text-center ResScroll">
            <img src="././assets/images/ayurveda and hair care.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Ayurveda & hair care
               </span>
        </div>
        <div class="div5 text-center ResScroll">
            <img src="././assets/images/Ayurveda and skin care.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Ayurveda & skin care
               </span>
        </div>  
        
      </div> 
       <div class="clear"></div>
    </div>
    </section> 
  
    <div class="clear40"></div>
<div class="">
  <app-main-footer></app-main-footer>
</div>
<!-- The Modal -->
<div class="modal {{nomodel}}">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body text-center py-5">
        <span class="modeltitle">COMING SOON</span>
        <img src="././assets/images/model_border.png">
        <p class="pt-3">Your Dosha Calculator</p>
        <div class="smlltxt pb-4">We’ll Notify You Via Mail</div>
        <button type="button" class="btn closingbtn" data-dismiss="modal" (click)="closed()">OK</button>
      </div>
    </div>
  </div>
</div>