<div class="header">
  <p class="m-0">ZanduCare</p>
</div>
<div class="clear"></div>
<div class="row m-0">
  <div class="col-12 col-lg-6 col-md-6 p-0">
    <div class="DoctorLoginLeftBox">
      <img class="Thetescopeimg" src="././assets/images/ForgotPassword.png">
      <div class="content">
        <h4>Welcome to <br /> Zandu Health Care !</h4>
        <div class="clear10"></div>
        <h6>Inspiring and Enhancing the quality of human life by <br />
          enabling people to feelbetter, remain youthful and <br />
          enjoy and active life.
        </h6>
        <h5 class="NaturalText">100% Natural and safe</h5>
        <div class="clear20"></div>
        <div class="row">
          <div class="col-12 col-lg-8 Margin0_auto">
            <div class="row m-0 mt-4">
              <div class="col-12 col-lg-6 col-sm-6">
                <div class="AudioImg">
                  <img src="././assets/images/PhoneCall.png">
                  <h5 class="mt-4">audio <br />
                    consultation</h5>
                </div>
              </div>
              <div class="col-12 col-lg-6 col-sm-6">
                <div class="AudioImg">
                  <img src="././assets/images/videocam.png">
                  <h5 class="mt-4">video <br />
                    consultation</h5>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="col-12 col-lg-6 col-md-6 p-0">
    <div class="bgcolor">
      <div class="mt-4 text-center">
        <h4 class="text-center mt-4 ForgotPasswordheading">reset password</h4>
        <img _ngcontent-c1="" src="././assets/images/borderImg.png">
        <div class="card border-0 mt-2">
          <div class="card-body">
            <h6>We have sent an OTP to your <br />
              registerd Mobile Number</h6>
            <form class="form-horizontal" [formGroup]="resetPasswordForm">
              <div class="form-group">
                <div class="col-sm-12 col-12 col-md-12 col-lg-12">
                  <input type="text" id="otp" class="FormText form-control1 form-control form-control11 mb-2 mr-sm-2 border-0"
                    formControlName="otp" required placeholder="otp">
                </div>
                <div class="col-sm-12 col-12 col-md-12 col-lg-12 my-4">
                  <input type="text" id="new_pass" class="FormText form-control2 form-control form-control11 mb-2 mr-sm-2 border-0"
                    formControlName="new_pass" required placeholder="new password">
                </div>
                <div class="col-sm-12 col-12 col-md-12 col-lg-12">
                  <input type="text" id="confirm_pass" class="FormText form-control3 form-control form-control11 mb-2 mr-sm-2 border-0"
                    formControlName="confirm_pass" required placeholder="Confirm password">
                </div>
              </div>
              <div class="clear10"></div>
              <button _ngcontent-c1="" (click)="resetPassword(resetPasswordForm.value)" class="btn updatebtn" type="button">reset
                password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<footer class="footerDiv">
  <h6 class="mb-4">ZanduCare</h6>
  <p>© 2018 Zandu. All Rights Reserved. </p>
</footer>