<app-navigation></app-navigation>
<app-floating></app-floating>

<section class="declaimer">
  <div class="container pt-5 text-center">
    <h1>Asthma (Tamaka Swasa) </h1>
    <img src="././assets/images/big_border.png">
<div class="maindiv mt-4 text-left">
  <h3>Overview of Asthma:<sup>1</sup></h3>
  <p>People, especially in urban India, seem to complain a lot about having shortness of breath, cough and sneezing these days. In the past decade, population growth, heavy traffic, industries everywhere,
     poor hygiene have all played a great role in accelerating the overall prevalence of asthma and other respiratory allergies worldwide. Epidemiological studies reveal that globally,
      around 100 to 150 million people suffer from asthma. Death tolls due to asthma rise to 180,000 annually. In India itself, this problem is prevalent in about 10% to 15 % of 5 to 11-year old kids. Till date, approximately 15 – 20 million asthma patients have been reported in India. </p>
  <p>Asthma is a chronic breathing disorder in which the airway becomes hyper-responsive on exposure to a particular allergen. This causes spasmodic narrowing of the airways which, however, can be relieved with treatment. Asthma and allergies usually start in early childhood, but asthma attacks
     (severe form of asthma causing respiratory distress) can occur in all age groups. </p>
    
     

    <h3>Asthma in Ayurveda<sup>2,3</sup></h3>
    <p>In Ayurveda, breathing difficulty or shortness of breath (dyspnoea) is termed as Swasa. 
        Breathing difficulty (Swasa) is caused by aggravation of Vata and Kapha doshas. The disease process in Asthma, or Tamaka Swasa, may develop due to a problem in the respiratory system (primary cause) or may also develop secondary to a problem in other body system. However, irrespective of the cause of origin, asthma affects the respiratory system of the body.      
           </p>
     <div class="row">
       <!-- <div class="col-1 col-lg-1 col-md-1"></div> -->
       <div class="col-12 col-lg-12 col-md-12">
          <div class="carbohydrate-border">
              <h3>What causes Asthma and respiratory allergies(Nidana)?<sup>3,4</sup> </h3>
              <p>According to Ayurveda, the various causes (Nidana) associated with Asthma and respiratory allergies are as follows:
              </p>
          </div>
       </div>
       <!-- <div class="col-1 col-lg-1 col-md-1"></div> -->
     </div> 
     <ul class="dysfunctions">
       <li>•	If any of the parents have asthma or allergies (genetic cause)<sup>4</sup></li>
       <li>•	A genetic tendency to develop allergy (atopy)<sup>4</sup></li>
       <li>•	Inhalation of dust (Raja)</li>
       <li> •	Drinking cold water</li>
       <li>•	Exposure to cold places or climate</li>
       <li>•	Exhausting exercises or walking</li>
       <li>•	Air pollution (Dhooma)</li>
       <li>•	Eating very dry food (Ruksha Anna)</li>
       <li>•	Eating unhygienic food (VishaSevana)</li>
       <li>•	Eating meat of aquatic animals (Anupa Mamsa)</li>
       <li>•	Accumulation of toxins in the body (Amadosha) </li>
       <li>•	Excessive weakness due to decreased immunity (Atiaptarpana and Daurbalya) </li>
       <li>•	Injury in the vital areas of the body like throat, chest and other vital organs (Marmaghat)</li>
       <li></li>
     </ul>
     <div class="diabetes">
      <h3>Pathogenesis of Asthma (Samprapti)<sup>3</sup></h3>
      <p>According to Ayurveda, because of Nidana Sevana (causative factors- as listed above), there is vitiation of Vata, Kapha and the obstruction of Pranavaha Srotas (airways). Since the respiratory system is obstructed, the increased Vata dosha changes its normal
         pathway (Pratiloma Gamana), leading to breathing difficulty. This leads to aggravation of kapha dosha. </p>
         <p>This aggravated Kapha along with Vata reaches the Greeva (neck region) and Shiras (head region), leading to stiffness in head and neck part along with pinasa (running nose and sneezing).</p>
     </div>
     <div class="causes">
        <h3>Keep a lookout for the following symptoms of Asthma<sup>3</sup></h3>
        <p>
            According to Western medicine, the following are the symptoms of Asthma - wheezing, breathlessness, chest tightness and cough. These symptoms are aggravated by exercise, cold weather, exposure to airborne allergens or pollutants, and viral upper respiratory tract infections<sup>9</sup>
            </p>
            <p>In addition, Ayurvedic texts indicate some more symptoms of asthma which are as follows:</p>
        <ul class="dysfunctions">
            <li>•	Sneezing and running nose (Pinasa)</li>
            <li>•	Stuffiness in the head and neck part (GreevashirhSamgrah)</li>
            <li>•	Expectoration while coughing (KaphaNishtheevan)</li>
            <li>•	Disturbed sleep due to breathlessness (Anidra)</li>
            <li>•	Vomiting (vmathu)</li>
            <li>•	Deterioration of consciousness during coughing (PramohamKasamanashcha)</li>
            <li>•	Soreness of the throat (Kanthodhwams)</li>
            <li>•	Patient may find it difficult to speak freely due to choked throat</li>
            <li>•	Sweating on the forehead (LalatSweda)</li>
            <li>•	Dyspnoea increases while lying down(Sayanah Shwas Peeditaha)</li>
            <li>•	Feeling comfortable to breath in sitting position (Aseeno Labhate Soukhyam)</li>
            <li>•	Mouth gets dry very frequently(Vishushkasya)</li>
            <li>•	Oedema around the eyes (Ucharitaksho)</li>
          </ul>
          <p><b>Unchecked, Asthma can take an ugly turn (Upadrava):<sup>4</sup></b></p>
          <p>Asthma and respiratory allergies, if not treated properly, may lead to certain complications like:</p>
        <ul class="dysfunctions">
            <li>1.Permanent narrowing of the bronchial tubes</li>
            <li>2.Constant fatigue</li>
            <li>3.Severe chest pain </li>
            <li>4.Accessory muscles of respiration become prominent (due to excessive usage)</li>
          </ul>
     </div>
        <div class="row">
          <h3>What triggers Asthma?<sup>5</sup></h3>
              <p>If a person has asthma or allergies, certain factors may trigger the onset of an episode of asthma or allergy</p>
              <ul class="dysfunctions">
                  <li>1.Irritants like cigarette smoke, chemicals, air pollution or dust at the workplace increases the probability of developing asthma. </li>
                  <li>2.Consuming foods and drinks that have chemicals like sulfites  </li>
                  <li>3.Allergens in animal fur, cockroaches, pollen from flowers, grasses, mold, etc can increase risk of allergies and asthma.</li>
                  <li>4.Medicine such as aspirin or NSAIDs (non-steroidal anti-inflammatory drugs) and nonselective beta-blockers</li>
                  <li>5.Having an upper respiratory tract infection (viral) like cold or flu </li>
                  <li>6.Excessive physical activity or exercise may also trigger asthma</li>
                </ul> 
          </div>
          <!-- <div class="row">
              <div class="col-1 col-lg-1 col-md-1"></div>
              <div class="col-10 col-lg-10 col-md-10">
                 <div class="carbohydrate-border">
                     <h3>The Predominant Dosha and the diabetes type</h3>
                     <p>According to Ayurveda, vataja prameha is similar to type 1 diabetes which is hereditary and has no cure. On the other hand, kaphaja prameha is similar to type 2 diabetes which is acquired and is curable. 
                            </p>                     
                 </div>
              </div>
              <div class="col-1 col-lg-1 col-md-1"></div>
            </div>  -->
            <div class="symptoms">
                <h3>Diagnosis of Asthma<sup>5</sup></h3>
                <p>While diagnosing asthma, the physician needs to find out-
                </p>
                <ul>
                  <li>1.Medical history of the patient</li>
                  <li>2.Information about any allergic episode, previous episodes of breathing difficulty, or any other medical conditions</li>
                  <li>3.If the patient had cold or flu recently</li>
                  <li>4.If the patient smokes or spends time with someone who smokes</li>
                </ul>
                
                <p>Following this, the physician will listen to the patient’s breathing sounds using a stethoscope to check for wheezing or any
                   other type abnormal breathing. The physician may suggest few tests to confirm the diagnosis of asthma/ respiratory allergies:<sup>6</sup>
                       </p>
                <ul>
                  <li><b>1. X-ray (Chest and Sinus):</b> Chest X-ray will help to determine if there is any other underlying medical condition like pneumonia,
                     lung cancer, etc., which are causing the symptoms in the patient. X-ray of the sinus helps to examine if there is any infection in the sinus.</li>
                  <li><b>2. LFT (Lung Function Test):</b> Lung function test is done to check if there is normal air flow throughout the body during breathing. </li>
                  <li><b>3. Peak flow meter:</b> It is a simple instrument that helps to determine how well the air from the lungs moves out during exhalation. </li>
                  <li id="Kapha"><b>4. Allergy tests:</b> This test is helpful in finding the allergen causing the asthma or respiratory allergy. </li>
                  <li><b>5. Methacholine challenge test:</b> Methacholine is a chemical which, when inhaled, triggers constriction of airways. If your airways react to methacholine, you most likely have asthma.</li>
                  <li><b>6. Nitric oxide tests:</b> In this test, the amount of nitric oxide in your breath is determined. High levels of nitric oxide in the breath is an indication of airway inflammation (which may be due to asthma or allergy)  </li>
                </ul>
                <h3>
                    Manage Bronchial Asthma, the Ayurvedic Way<sup>7</sup>
                    </h3>
                <p>Management of Tamakaswasa (bronchial asthma) is classified depending on the health status of the patient:</p>
                <ul>
                    <li><b>1. Vegakalina (Patient with acute asthmatic attack):</b> Here, the treatment aims to reduce the blockage of the airways due to obstruction of Kapha Dosha and to relieve the spasmodic constriction of the airways in order to facilitate normal breathing in the patient. </li>
                    <p>The following treatments aim towards preventive and curative aspect of the condition.</p>
                    <ul>
                      <li>•	Oil Massage (Abhyanga)-Using Til oil and salt (Lavan) on the chest region </li>
                      <li>•	Steam therapy (Swedana) </li>
                      <li>•	Expulsion of phlegm (Sadhyo-Vamana) – Using salt water, sugarcane juice, decoction of Yastimadhu. </li>
                      <li>•	Fumigation (Dhoomapana) – Using Ginger (ArdrakaArka) </li>
                      <li>•	Nebulization by ‘Amritdhara’-A mixture of Menthol, Thymol and Camphor is used as an aerosol. </li>
                      <li>•	ShamanaAushadhi (disease pacifying drugs): Various herbal and herbo- mineral compounds.</li>
                    </ul>
                    <li><b>2. Avegakalina (Patient without asthmatic attack):</b> Here the treatment aims to prevent the recurrence of asthma attacks, 
                      improve immunity and strength of the patient, thereby providing a good quality of life. The formulations listed below are followed for Avegakalinachikitsa:</li> 
                      <ul>
                        <li>•	Chyavanprasha:  Chyavanprash is a cooked mixture of sugar, honey, ghee, amla, seesam oil and various other herbs and spices. It helps to reduce seasonal or non-seasonal bronchospasm, cough and asthmatic symptoms. Maintain hydration and improve strength of the respiratory system. </li>
                        <li>•	VardhamanPippali: It provides strength to Pranavahasrotas(airways). </li>
                        <li>•	ChatuhshashtaPrahariPippali: It helps to detoxify lung and improve lung health.</li>
                      </ul>
                </ul>
                <h3>Battle Asthma, with just a few lifestyle changes</h3>
                <p>Small changes in lifestyle can bring a great impact on one’s health. Lifestyle modifications in Ayurveda includes modification in diet (Ahara), physical activities (vihara)and following certain dos and don’ts in your daily routine. </p>
                <p><b>Diet for Asthma (Ahara)<sup>5,7</sup></b></p>
                <p>Inculcating the following in your daily diet, helps in preventing asthma and improving lung health: </p>
                <ul>
                    <li>1.Hot water</li>
                    <li>2.Warm foods taken in little quantities (Laghu and ushna diet)</li> 
                    <li>3.Honey</li> 
                    <li>4.Date fruit</li> 
                    <li>5.Cardamom</li> 
                    <li>6.Goat milk</li> 
                    <li>7.Garlic</li>  
                    <li>8.Red rice (unpolished)</li>  
                    <li>9.Horse Gram (Kulatha)</li> 
                    <li>10.Wheat</li> 
                    <li>11.Barley</li>  
                    <li>12.Ridge gourd (Patol)</li> 
                    <li>13.Green gram(Mudga)</li> 
                    <li>14.Citron (Matulunga)  </li>
                    <li>15.Lemon(Jambira)</li>  
                    <li>16.Sprouts, nuts and seeds</li> 
                    <li>17.Warm drinks like herbal tea, spice tea etc.</li>                       
                </ul>
                <h3>Breathing and exercising can keep Asthma at bay<sup>8</sup></h3>
                <p><b>Pranayama</b></p>
                <p>
                    Pranayama practice enhances breathing through the nose, which warms and purifies the air when it enters the lungs. It also ensures a longer and complete exhalation which facilitates maximum oxygen absorption from the lungs. However, prolonged holding of breath and rapid or forceful breathing techniques are contraindicated (not recommended) for Asthma patients.
                    </p>
                <p>The following pranayama techniques may benefit individuals with asthma:</p>
                <ul>
                    <li><b>1. Ujayyi (breathing):</b> Ujayyi breathing should be practiced with more emphasis on extended exhalation.
                       In this technique, one should breathe in and out of the nose. Inhalation is deeper than normal, and exhalation is slow. It is helpful in training the mind to follow the flow of complete exhalation.</li>
                    <li><b>2. Viloma (three-part breathing):</b> This is a three-part breathing technique which includes small pauses within and in-between the consecutive breathing cycles. This technique emphasizes on the movement of the stomach, upper and lower ribs during breathing. </li> 
                    <li><b>3. Extended exhalations:</b> This technique of breathing aims to attain 1:2 ratio of inhalation to exhalation. At first, the patient may try to reach an equal duration of inhalation and exhalation and then work on increasing the duration of exhalation.</li> 
                    <li><b>4. Alternate nostril breathing:</b> This technique helps to slow down breathing, and calms the nervous system (sympathetic and parasympathetic activation).</li> 
                    <li><b>5. Yoga chair breathing:</b> This technique helps to empty the lungs of residual before the next inhalation, increasing breathing efficiency. To practice this technique,
                       the individual should sit on a chair facing the back of another chair. His/ her arms rest on the back of the chair he/she faces. The individual should lift his/her arm while inhaling, to open the chest, and then exhale while moving the spine, chest and neck into gentle flexion. Repeat this for 5 times and then repeat the sequence by producing a sound “ah” during expiration for 5 times and then with the sound “mmm” during expiration for 5 times.</li> 
                    <li><b>6. Kapalbhati (breathing):</b> This form of pranayama helps to clear the mucous secretions that accumulate due to upper respiratory infection, allergies or inactivity. This technique emphasizes on exhalation and facilitates removal of airway secretions that may have accumulated due to infections or allergies.</li>                                      
                </ul>
                <h3>Yoga</h3>
                <p>Yoga helps to reduce the symptoms of asthma and increases strength of the respiratory muscles. However, some yoga poses can trigger or worsen asthma symptoms. Therefore, it is mandatory to practice yoga under proper supervision. Poses with the head below the abdomen should be avoided to prevent gastro-esophageal reflux that
                   may lead to airway constriction and aggravate asthma. Avoid doing yoga within 2 hours of having a meal. Avoid prone poses (lying on the back) like cobra-pose (bhujangasana) etc. in an empty stomach. It may induce gastroesophageal reflux. Emphasize more on standing and sitting poses without external abdominal compression.</p>
                <p>The following yoga poses have been found to be beneficial for people with asthma and allergies:</p>
                <ul>
                    <li>1.Cat/dog lifts</li>
                    <li>2.Cobra pose (bhujangasana)</li> 
                    <li>3.Sage twist (marichyasana)</li> 
                    <li>4.Mountain pose (tadasana)</li> 
                    <li>5.Downward facing dog pose (adhomukhasvanasana)</li> 
                    <li>6.Pyramid pose (iparsvottanasana)</li>  
                    <li>7.Side angle pose (parsvokonasana)</li>  
                    <li>8.Fish pose (matsyasana)</li>  
                    <li>9.Sitting forward bend (paschimottanasana)</li>   
                    <li>10.Elevated supine corpse pose (savasana)</li>                                                
                </ul>
                <h3>Pathya and Apathya <sup>5,7</sup></h3>
                <!-- <p>There are some blood tests that help in finding out if you have diabetes: </p> -->
                <p><span class="hbbold">Pathya (Do’s): </span></p>
                <ul>
                  <li>1.Frequent steam treatment (swedana)</li>
                  <li>2.Exposure to sunlight (Atapasevana)</li>
                  <li>3.Take hot water bath</li>
                  <li>4.Body massage with oil (TailaAbhyanga )</li>
                  <li>5.Wearing warm clothes in winter season</li>
                </ul>
                <p><span class="hbbold">Apathya (Don’ts):</span></p>
                <ul>
                  <li>
                      	1.Avoid milk during bed time.
                  </li>
                  <li>2.Avoid fried and heavy meals.</li>
                  <li>3.Avoid Masha (black gram), fish, sheep, mustard leaves, sweets, sour food, amlaphala (citrus fruits).</li>
                  <li>4.Avoid cold drinks (sheetapaneeya), and deep fried items like samosa </li>
                  <li>5.Avoid dadhi, aamaksheera, burger, pizza, paneer, etc.</li>
                  <li>6.Avoid stored food. </li>
                  <li>7.Avoid chilled water.</li>
                  <li>8.Avoid exposure to dust, fumes, hot sun, smoke, pollutants, pollens, pets, air conditioner (Ruksha).</li>
                  <li>9.Avoid doing work speedily (Vegadharana).</li>
                  <li>10.Avoid cold, damp or humid atmosphere.</li>
                  <li>11.Avoid fasting for a long period.</li>
                  <li>12.Avoid physical exertion or excessive exercise.</li>
                  <li>13.Avoid exposure to dust and fumes, smoke, pollutants and pollens.</li>
                </ul>
                <p>Ayurveda uses a comprehensive therapy plan for the management of Asthma. Ayurvedic medicines help to decrease the recurrence of asthmatic attacks and improve immunity,
                   which helps to improve the quality of life of asthma patients. In addition, the lifestyle measures help to maintain good lung health and improve respiratory efficiency.  </p>
            </div>         
        
                
                
                  <div class="reference">
                      <h3>References:</h3>
                      <ul>
                        <li>1.	World Health Organization website. Bronchial Asthma- Fact Sheet. 2018.(Internet) (Cited on  August 30, 2018). Available from: http://www.who.int/mediacentre/factsheets/fs206/en/.</li>
                        <li>2.	P.V sharma. Chapter XIX section 1- on eight abdominal diseases etc. In: In: Caraka samita. 4th edition .1998. Varanasi. Chaukhambha Orientalia;2017</li>
                        <li>3.	P.V Sharma. Chapter XVII, Section 6- On Treatment Of Hikka (Hiccup) And Svasa (Dyspnoea). In: Caraka samita. 4th edition .1998. Varanasi. Chaukhambha Orientalia;2017</li>
                        <li>4.	National Health Portal website. Asthma. 2015(Internet) (Updated on 5/2/2016, Cited on 30/8/2018). Available from:   https://www.nhp.gov.in/disease/respiratory/lungs/asthma .</li>
                        <li>5.	Central Council for Research in Ayurvedic Sciences, Ministry of AYUSH, Government of India. Bronchial Asthma: TamakaSwasa. (Internet) (Cited on 30/8/2018). Available from:   http://www.ccras.nic.in/sites/default/files/viewpdf/faq/Bronchial%20Asthma%20article%20and%20FAQs%20for%20web%20site.pdf</li>
                        <li>6.	Nicki R Colledge, Brian R Walker, Stuart Ralston, Stanley Davidson. Davidson's principles and practice of medicine-21st edition. Edinburgh: Churchill Livingstone/Elsevier; 2014</li>
                        <li>7.	D Choudhary, V Prakash, M Choudhary. A review on ayurvedic management of tamaka shwasa (bronchial asthma). International Ayurvedic Medical Journal. March 2017; 5 (3): 897-905</li> 
                        <li>8.	Morse D. Yoga for Asthma. International Journal of Yoga Therapy. 2007; 17(1):  81-88.</li>
                      </ul>
                  </div>    
            </div>
    </div>
</section>
<div class="mb-5 mt-5">
  <app-main-footer></app-main-footer>
</div>