<app-navigation></app-navigation>
<section class="home-top pt-5"> 
    <app-floating></app-floating>
  <div class="container ">
    <h1 class="main_title">Diarrhoea</h1>
    <h1 class="main_title2">“A condition characterized by abnormal <br/>
        loose or watery stools”</h1>

    <div class="clear10"></div>
    <div class="HedingMapContentBox AcuteDirehaContentBox">
      <div class="MapLeft">
        <img src="././assets/images/DihraAcute.png">

      </div>
      <div class="MapLeft2"> 
       
        <div class="Around50Text"> 
            <div class="BorderBotton"></div>
          <p>Acute Diarrhoea
            </p>
          <h1>3-4 <span>Days</span></h1> 
          <div class="clear10"></div>
          <div class="BorderBotton AcuteDihreaMarginTop"></div>
        </div>
        <div class="Around50Text2 Around50Text"> 
            <div class="BorderBotton"></div>
            <p>Chronic Diarrhoea

              </p>
            <h1><span class="MoreThanText">More than</span>  4 <span>Weeks</span></h1>  
            <div class="clear10"></div>
            <div class="BorderBotton"></div>
        </div>
        <div class="clear10"></div>
        
        <div class="clear30"></div> 
      </div>
    </div>


    <div class="clear"></div>

    <div class="DibetectSection">
      <div class="DibeticLeft" (click)="scrollTo('Overview')">
        <img src="././assets/images/noun-health.png">
        <p class="m-0">Overview</p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('SymptomsCauses')">
        <img src="././assets/images/noun-medical.png">
        <p class="m-0">Symptoms &amp; Causes  </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('PreventionDiagnosis')" >
        <img src="././assets/images/noun-bacteria.png">
        <p class="m-0"> Prevention &amp; Diagnosis </p>
      </div>
      <div class="DibeticLeft"  (click)="scrollTo('AyurvedaApproach')">
        <img src="././assets/images/noun-herbal-medicine.png">
        <p class="m-0"> Ayurveda Approach </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('Complications')" >
        <img src="././assets/images/noun-healt.png">
        <p class="m-0"> Complications </p>
      </div>
      <div class="DibeticLeft ResReletedproduct" (click)="scrollTo('RelatedProducts')">
          <img src="././assets/images/noun-medicine10.png">
          <p class="m-0">    Related Products </p>
        </div>
    
  
    </div>
  </div>

</section>
<section id="Overview" class="Yoga_AurvedaSection">
  <div class="container">
    <h1>What is diarrhoea?</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div>
    <div class="row m-0">
      <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-lg-6 ResDispayNone">
        <img class="w-100" src="././assets/images/DhireaLeft.png">
      </div>
      <div class="Yoga_Ayurveda_RightDiv Yoga_Ayurveda_RightDivRes col-12 col-sm-12 col-lg-6">
        <h5>diarrhoea is the common symptom of many underlying gastrointestinal problems.  </h5>
        <div class="clear10"></div>
        <p class="txtpadr">People with diarrhoea have loose, watery stools along 
            with symptoms such as stomach pain or cramps.
            <br/> <br/>
            Diarrhoea may be acute or chronic. Acute diarrhoea 
            lasts for less than three days and subsides on its own, 
            whereas chronic diarrhoea persists for longer than 
            four weeks. </p>

        
        <div class="clear10"></div>
        <button class="btn btn-primary mb-2 mt-2 ml-2 SignBtn" type="button" routerLink="../DiherraRead">read more</button>
      </div>
    </div>
    <div class="clear"></div>

  </div>
</section>
<section id="SymptomsCauses" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms">
  <div class="container">
    <h1>Symptoms of diarrhoea</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div>
    <p class="text-center HeadingTextSmall txtpadr">According to Ayurveda, the following symptoms become apparent, due to the aggravation of the doshas:</p>
    <div class="row m-0">
      <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12  col-lg-6 ResDispayNone ResTextInCenter">
        <img class="" src="././assets/images/Symptoms.png">
      </div>
      <div class="Yoga_Ayurveda_RightDiv Symptopsofpilestext col-12 col-sm-12  col-lg-6">
        <h5>Symptoms of  Premonitory diarrhoea </h5>
        <div class="clear10"></div>
        <ul>
          <li>   Abdominal distention
            </li>
          <li>Indigestion
          </li>
          <li>Piercing pain in the heart, umbilicus, abdomen and rectum.</li>
          <li>   Non-elimination of flatus
          </li>
         
        </ul>
        <div class="clear10"></div> 
        <h5>Symptoms of  diarrhoea according to Dosha </h5>
        <div class="clear"></div>
        <ul class="ULListNone pl-4">
          <li>  The symptoms of diarrhoea vary according to the involved <br/>
              dosha and some of them are listed below:
              
            </li>
        
         
        </ul> 
        <div class="clear"></div> 
        <h4 class="TrojnProBold ml-4"><img class="mr-1 ml-2" src="././assets/images/LiRightArrow.png"> Vatajatisara</h4> 
        <p class="Font16 ml-5 txtpadr">  Vatajatisara occur in two different forms, amaatisara and pakwatisara. 
            In ama atisara type of diarrhoea, the stool is slimy and sinks in water 
            and in pakwatisara type the stool is thick and floats in water.
      </p> 
      <h4 class="TrojnProBold ml-4"> <img class="mr-1 ml-2" src="././assets/images/LiRightArrow.png"> Pittajatisara</h4> 
      <p class="Font16 ml-5">The Pitta originated stools. 
        </p> 
        <h4 class="TrojnProBold ml-4"> <img class="mr-1 ml-2" src="././assets/images/LiRightArrow.png"> Kaphajatisara</h4> 
        <p class="Font16 ml-5"> The kapha originated atisara </p>  
        <div class="clear"></div> 
        <div class="ResReadMore">
        <button class="btn btn-primary mb-2 mt-2 ml-2 SignBtn" type="button" routerLink="../DiherraRead">read more</button>
     </div>
      </div>
    </div>
    <div class="clear"></div>
   
  </div>
</section>
<section id="PreventionDiagnosis" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms ActuallyCausesPiles">
  <div class="container">
    <h1>Do you know what actually <br/>
        causes diarrhoea</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div>
    <p class="text-center HeadingTextSmall txtpadr">The reasons for your diarrhoea could be numerous- from the hakka noodles that you had yesterday, <br/>
        or the multiple drinks which you binged on, or a gut infection or even premenstrual syndrome.</p>

    <div class="clear"></div>

    <div class="row rscroll hidden-md">
      <div class="ActuallyCausesLeft1 text-center wscroll">
        <img src="././assets/images/Frequenttraveling.png">
        <div class="clear mt-4"></div>
        <span>Frequent
             <br />
             traveling
        </span>
      </div>
      <div class="ActuallyCausesLeft1 text-center wscroll">
        <img src="././assets/images/ImproperSelfHygiene.png">
        <div class="clear mt-4"></div>
        <span>Improper Self
            <br />
            Hygiene
        </span>
      </div>
      <div class="ActuallyCausesLeft1 text-center wscroll">
        <img src="././assets/images/WeakenedImmunity.png">
        <div class="clear mt-4"></div>
        <span>Weakened
             <br />
             Immunity

        </span>
      </div>
      <div class="ActuallyCausesLeft1 text-center wscroll">
        <img src="././assets/images/ProlongeduseofAntibiotics.png">
        <div class="clear mt-4"></div>
        <span>Prolonged use of
             <br />
             Antibiotics
        </span>
      </div> 
      <div class="ActuallyCausesLeft1 text-center wscroll">
          <img src="././assets/images/UnhealthyEatingHabits.png">
          <div class="clear mt-4"></div>
          <span>Unhealthy
              <br />
              Eating Habits
          </span>
        </div>

        <div class="ActuallyCausesLeft1 text-center wscroll">
          <img src="././assets/images/EatingHeavy,Spicyfood.png">
          <div class="clear mt-4"></div>
          <span>Eating Heavy,
              <br />
              Spicy food
          </span>
        </div>
        <div class="ActuallyCausesLeft1 text-center wscroll">
          <img src="././assets/images/LatenightMeals.png">
          <div class="clear mt-4"></div>
          <span>Late night
              <br />
              Meals
          </span>
        </div>
        <div class="ActuallyCausesLeft1 text-center wscroll">
          <img src="././assets/images/LimitedintakeofCerealsPulses.png">
          <div class="clear mt-4"></div>
          <span>Limited intake of
             <br />
             Cereals & Pulses 
          </span>
        </div>
        <div class="ActuallyCausesLeft1 text-center wscroll">
          <img src="././assets/images/Uncooked,HalfCookedMeat.png">
          <div class="clear mt-4"></div>
          <span>Uncooked, Half
               <br />
               Cooked Meat
          </span>
        </div> 
        <div class="ActuallyCausesLeft1 text-center wscroll">
            <img src="././assets/images/StressfulActivityatWork.png">
            <div class="clear mt-4"></div>
            <span>Stressful 
                <br />
                Activity at Work
            </span>
          </div>

    </div>

    <div class="row m-0 mt-5 hidden-xs">
      <div class="ActuallyCausesLeft1 text-center wscroll">
        <img src="././assets/images/Frequenttraveling.png">
        <div class="clear mt-4"></div>
        <span>Frequent
             <br />
             traveling
        </span>
      </div>
      <div class="ActuallyCausesLeft1 text-center wscroll">
        <img src="././assets/images/ImproperSelfHygiene.png">
        <div class="clear mt-4"></div>
        <span>Improper Self
            <br />
            Hygiene
        </span>
      </div>
      <div class="ActuallyCausesLeft1 text-center wscroll">
        <img src="././assets/images/WeakenedImmunity.png">
        <div class="clear mt-4"></div>
        <span>Weakened
             <br />
             Immunity

        </span>
      </div>
      <div class="ActuallyCausesLeft1 text-center wscroll">
        <img src="././assets/images/ProlongeduseofAntibiotics.png">
        <div class="clear mt-4"></div>
        <span>Prolonged use of
             <br />
             Antibiotics
        </span>
      </div> 
      <div class="ActuallyCausesLeft1 text-center wscroll">
          <img src="././assets/images/UnhealthyEatingHabits.png">
          <div class="clear mt-4"></div>
          <span>Unhealthy
              <br />
              Eating Habits
          </span>
        </div>
    </div> 
    <div class="row m-0 mt-5 hidden-xs">
        <div class="ActuallyCausesLeft1 text-center rscroll">
          <img src="././assets/images/EatingHeavy,Spicyfood.png">
          <div class="clear mt-4"></div>
          <span>Eating Heavy,
              <br />
              Spicy food
          </span>
        </div>
        <div class="ActuallyCausesLeft1 text-center rscroll">
          <img src="././assets/images/LatenightMeals.png">
          <div class="clear mt-4"></div>
          <span>Late night
              <br />
              Meals
          </span>
        </div>
        <div class="ActuallyCausesLeft1 text-center rscroll">
          <img src="././assets/images/LimitedintakeofCerealsPulses.png">
          <div class="clear mt-4"></div>
          <span>Limited intake of
             <br />
             Cereals & Pulses 
          </span>
        </div>
        <div class="ActuallyCausesLeft1 text-center rscroll">
          <img src="././assets/images/Uncooked,HalfCookedMeat.png">
          <div class="clear mt-4"></div>
          <span>Uncooked, Half
               <br />
               Cooked Meat
          </span>
        </div> 
        <div class="ActuallyCausesLeft1 text-center rscroll">
            <img src="././assets/images/StressfulActivityatWork.png">
            <div class="clear mt-4"></div>
            <span>Stressful 
                <br />
                Activity at Work
            </span>
          </div>
      </div>
    <div class="clear"></div>
    <div class="topping_spac">
      <div class="all_benefits pt-3">
        <p>Want to get all the Benefits of <br>
          Ayurveda? Get a Free consultation!</p>
        <span>Book Your Appointment now in 3 Easy Steps</span>
      </div>

      <div class="all_benefits all_benefits2 text-center">
        <button class="btn btn-primary mb-2 SignBtn" type="button" routerLink="../patientloginpage">consult ayurvedic doctor</button>
        <p class="ORTExt">Or </p>
        <p>call 1800 572 8000</p>
      </div>
    </div>
  </div>
</section>
<div class="clear"></div>
<section class="Yoga_AurvedaSection  artcle text-center">
  <div class="container">
    <div class="small_wrapper mb-4">
      <h1>diarrhoea & the Doshas  </h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div>
      <p class="text-center HeadingTextSmall txtpadr">According to Ayurveda, aggravation of any of the tridoshas (vata, pitta, kapha) acts on the digestive fire or Agni and ultimately causes diarrhoea.  </p>

      <div class="clear mt-5"></div>
      <div class="text-center rscroll">
        <div class="article_div wscroll">
          <img class="mx-auto d-block img-fluid" src="././assets/images/Kapha.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>
            <span>Kapha</span>
            <div class="clear10"></div>
            <p>Aggravated Kapha dosha leads to excess<br/> cold or moisture content in the body,<br/> which may reduce the effect of digestive...
          </div>
          <div class="clear10"></div> 
         <div class="col-12 col-sm-12 col-md-12 col-lg-12 rmposition">
            <button class="btn  read_more" routerLink="../DiherraRead" (click)="setNav('Kapha')">READ MORE</button>
         </div>
        </div> 

        <div class="article_div wscroll">
          <img class="mx-auto d-block img-fluid" src="././assets/images/Pita.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>
            <span>Pita</span>
            <div class="clear10"></div>
            <p>Vitiation of pita dosha increases the heat<br/> in the body and tends to cause frequent,<br/> loose stools. It also causes hot, burning...
          </div>
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 rmposition">
              <button class="btn  read_more" routerLink="../DiherraRead" (click)="setNav('Kapha')">READ MORE</button>
           </div>
        </div>

        <div class="article_div wscroll">
          <img class="mx-auto d-block img-fluid" src="././assets/images/Vata.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>
            <span> Vata</span>
            <div class="clear10"></div>
            <p>Aggravated Vata dosha results in increased<br/> water content in the body. When it acts on<br/> the digestive system...
          </div>
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 rmposition">
              <button class="btn  read_more" routerLink="../DiherraRead" (click)="setNav('Kapha')">READ MORE</button>
           </div>
        </div>
      </div>
    </div>
    <div class="clear mt-4"></div>
    <!-- <div class="dosham_Piles mt-5">
      <h5>Take our 3 Minute Dosha Test</h5>

      <div class="clear10"></div>
      <button class="btn btn-primary mb-2 SignBtn" type="button" data-toggle="modal" data-target="#myModal" (click)="model()">calculate
        now</button>

    </div> -->
    <div class="clear"></div>
    <div class="topping_spac ResMArgint">
      <div class="all_benefits callToGetInTouch pt-3">
        <p><span> Call 1800 572 8000</span> to get in touch with our
          Health Experts & resolve your Health Queries</p>

      </div>

    </div>
  </div>
</section>

<section class="Yoga_AurvedaSection Yoga_AurvedaSymptoms ActuallyCausesPiles">
    <div class="container">
      <h1>Preventions for diarrhoea</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div>
      <div class="clear"></div>
      <div class="row m-0 mt-5">
        <div class="col-12 col-lg-12 Margin0_auto">
          <div class="row m-0 mt-5 rscroll">
            <div class="ActuallyCausesLeft1 text-center wscroll">
              <img src="././assets/images/DrinkplentyLiquids.png">
              <div class="clear mt-4"></div>
              <span>Drink plenty<br />
                Liquids
                             </span>
            </div>
            <div class="ActuallyCausesLeft1 text-center wscroll">
              <img src="././assets/images/Washfood.png">
              <div class="clear mt-4"></div>
              <span>Wash food  <br />
                before consuming
                
              </span>
            </div>
            <div class="ActuallyCausesLeft1 text-center wscroll">
              <img src="././assets/images/Ensure.png">
              <div class="clear mt-4"></div>
              <span>Ensure <br />
                adequate rest
                  
              </span>
            </div>
            <div class="ActuallyCausesLeft1 text-center wscroll">
              <img src="././assets/images/Consume.png">
              <div class="clear mt-4"></div>
              <span>Consume light <br />
                food
                              </span>
            </div> 
            <div class="ActuallyCausesLeft1 text-center wscroll">
                <img src="././assets/images/Washhands.png">
                <div class="clear mt-4"></div>
                <span>Wash hands  <br />
                  before eating
                  
                </span>
              </div>
          </div> 
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </section>
  
  <section class="Yoga_AurvedaSection Yoga_AurvedaSymptoms ActuallyCausesPiles">
      <div class="container">
        <h1>Yoga for diarrhoea</h1>
        <div class="clear"></div>
        <div class="text-center">
          <img src="././assets/images/big_border.png">
        </div>
        <div class="clear"></div>
        <div class="row m-0 mt-5">
          <div class="col-12 col-lg-12 Margin0_auto">
            <div class="row m-0 mt-5 rscroll">
              <div class="ActuallyCausesLeft1 text-center wscroll">
                <img src="././assets/images/trikonasan.png">
                <div class="clear mt-4"></div>
                <span>Trikonasana </span>
              </div>
              <div class="ActuallyCausesLeft1 text-center wscroll">
                <img src="././assets/images/adhomukhasan.png">
                <div class="clear mt-4"></div>
                <span>Adhomukhashavasana 
                </span>
              </div>
              <div class="ActuallyCausesLeft1 text-center wscroll">
                <img src="././assets/images/bhujangasan.png">
                <div class="clear mt-4"></div>
                <span>Bhujangasana
                </span>
              </div>
              <div class="ActuallyCausesLeft1 text-center wscroll">
                <img src="././assets/images/ardhachakrasana.png">
                <div class="clear mt-4"></div>
                <span>Ardhachakrasana  </span>
              </div> 
              <div class="ActuallyCausesLeft1 text-center wscroll">
                  <img src="././assets/images/matsyasan.png">
                  <div class="clear mt-4"></div>
                  <span>Matsyasana
                  </span>
                </div>
            </div> 
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </section>
    <section class="artcle text-center Yoga_AurvedaSection Yoga_AurvedaSymptoms InspectionSectionDiv ActuallyCausesPiles">
        <div class="container">
          <div class="small_wrapper mb-4">
            <h1>How diarrhoea is Identified <br/>
              in the Human Body </h1>
            <div class="clear"></div>
            <div class="text-center">
              <img src="././assets/images/big_border.png">
            </div>
            
            <div class="clear"></div>
            <div class="text-center mt-4 row rscroll">
              <div class="article_div">
                <img class="mx-auto d-block img-fluid" src="././assets/images/Stooltest.png">
                <div class="clear10"></div>
                <div class="infor">
                  <div class="clear10"></div>
                  <span>Stool test</span>
                  <div class="clear10"></div>
                  <p>A sample of stool is examined to check <br/>for the presence of disease-causing <br/>
                    organisms and also to check for the <br/>
                    unusual constituents like toxins, blood<br/> and mucus (ama, rakta and kapha).
                     </p>
                </div>
                <div class="clear10"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 rmposition">
                    <button class="btn  read_more" routerLink="../DiherraRead">READ MORE</button>
                </div>
              </div>
      
              <div class="article_div ResMarginEndoscopy">
                <img class="mx-auto d-block img-fluid" src="././assets/images/Endoscopy.png">
                <div class="clear10"></div>
                <div class="infor">
                  <div class="clear10"></div>
                  <span>Endoscopy</span>
                  <div class="clear10"></div>
                  <p>The doctor may recommend different<br/> types of endoscopy such as colonoscopy or sigmoidoscopy,<br/>  to examine the bowels.</p>
                </div>
                <div class="clear10"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 rmposition">
                    <button class="btn  read_more" routerLink="../DiherraRead">READ MORE</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

<section id="AyurvedaApproach" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms ActuallyCausesPiles">
  <div class="container">
    <h1>Ayurvedic Approach to Manage diarrhoea</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div>
    <p class="text-center HeadingTextSmall txtpadr">The treatment aims to avoid the causative factors (nidanparivarjan), to pacify the aggravated doshas <br/>
      and restore electrolyte levels. Ayurvedic therapy consists of both herbal therapy and ayurvedic drug therapy.
    </p>

    <div class="clear mt-5"></div>
    <div class="row m-0">
      <div class="col-12 col-lg-12 text-center">
        <img src="././assets/images/Ayurvedicdrugtherapy.png">
        <div class="clear20"></div>
        <span>Ayurvedic herbal & drug therapy
        </span>
      </div>
     
    </div>
    <div class="clear"></div>
    <div class="topping_spac panchkarmaTretment">

      <p>Lifestyle Management</p>

    </div>
    <div class="row m-0 rscroll">
      <div class="col-8 col-sm-6 col-lg-3 text-center wscroll">
        <img src="././assets/images/Diet.png">
        <div class="clear20"></div>
        <span>Diet
        </span>
      </div>
      <div class="col-6 col-sm-6 col-lg-3 text-center wscroll">
        <img src="././assets/images/diaexercise.png">
        <div class="clear20"></div>
        <span>Exercise
        </span>
      </div>
      <div class="col-6 col-sm-6 col-lg-3 text-center wscroll">
        <img src="././assets/images/Pranayama.png">
        <div class="clear20"></div>
        <span>Pranayama
        </span>
      </div>
      <div class="col-6 col-sm-6 col-lg-3 text-center wscroll">
        <img src="././assets/images/Yoga2.png">
        <div class="clear20"></div>
        <span>Yoga
        </span>
      </div>
      
    </div>
  </div>
</section>
 <!-- <section class="dosha mt-5">
  <div class="dosham">

    <p>People who have recovered recently and those who are 
      prone to diarrhoea follow the adaptations in lifestyle, 
      to avoid the recurrence of the disease. The following 
      changes in the daily routine are helpful in individuals 
      suffering from frequent diarrhoea:
       </p>
    <ul class="DrugUl mt-4">
      <li>
        -&nbsp;&nbsp;&nbsp; Wake up early in the morning, before the sunrise to <br/>
        &nbsp;&nbsp;&nbsp;  pacify the vata dosha.
    </li>
      <li> -&nbsp;&nbsp;&nbsp;  Drink one or two glasses of lukewarm water on an <br/>
        &nbsp;&nbsp;&nbsp; empty stomach to help in healthy elimination
   </li>
      <li> -&nbsp;&nbsp;&nbsp; Consume freshly cooked foods
      </li>
      <li> -&nbsp;&nbsp;&nbsp; Cleaning surroundings on a daily basis</li> 
      <li>-&nbsp;&nbsp;&nbsp; Wash hands before every meal 
      </li> 
      <li>-&nbsp;&nbsp;&nbsp; Follow a regular exercise regime
      </li>
    </ul>
  </div>
  <div class="clear"></div>

</section>  -->
<section class="Yoga_AurvedaSection Yoga_AurvedaSymptoms HomeRemedies">
  <div class="container">

    <div class="mb-4">
      <h1>Home Remedies </h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div>
      <div class="shadoo mx-0 mt-5 rscroll">
        <div class="card tab_card mx-0 small_div BorderradiusLeft wscroll">
          <div class=" BorderradiusLeft card-body {{tabs[0].active}}" (click)="openCity(0)">
            <div class="border_div">
              <span> sesame seeds  </span>
            </div>
          </div>
        </div>
        <div class="card tab_card mx-0 wscroll">
          <div class="card-body {{tabs[1].active}}" (click)="openCity(1)">
            <div class="border_div">
              <span> unripe bananas</span>
            </div>
          </div>
        </div>
        <div class="card tab_card mx-0 CarretDiv wscroll">
          <div class=" BorderradiusRight card-body CarretDiv2  {{tabs[2].active}} " (click)="openCity(2)">
            <div class="border_div pt-0">
              <span>  buttermilk & Water</span>
            </div>
          </div>
        </div>
        <div class="card tab_card mx-0 wscroll">
          <div class=" BorderradiusRight card-body  {{tabs[3].active}} " (click)="openCity(3)">
            <div class="border_div">
              <span>  UNRIPE pear</span>
            </div>
          </div>
        </div> 
        <div class="card tab_card mx-0 BorderradiusRight wscroll">
          <div class=" BorderradiusRight  card-body  {{tabs[4].active}} " (click)="openCity(4)">
            <div class="border_div HiddenBorder">
              <span>   carrots & ghee</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="{{tabs[0].tabcontent}} p-0 TabContentBox paddingTabContentDiv BorderRadiusDiv bordertop">

      <div class="tab1ContentBox">
        <div class="row">
          <div class="col-12 col-lg-6 mt-4">
            <p class="herbof_text herbof_text3 mt-5">Consume finely ground sesame seeds with lukewarm water and honey.
            </p>
          </div>
          <div class="col-12 col-lg-6">
            <img class="w-100" src="././assets/images/DirheaHome1.png">
          </div>
        </div>


        <div class="clear20"></div>

      </div>

    </div>

    <div class="{{tabs[1].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">

        <div class="tab1ContentBox">
            <div class="row">
              <div class="col-12 col-lg-6 mt-4">
                <p class="herbof_text herbof_text3 mt-5">Eat one or two unripe bananas.
                </p>
              </div>
              <div class="col-12 col-lg-6">
                <img class="w-100" src="././assets/images/DirheaHome2.png">
              </div>
            </div>
    
    
            <div class="clear20"></div>
    
          </div>

    </div>

    <div class="{{tabs[2].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">

        <div class="tab1ContentBox">
            <div class="row">
              <div class="col-12 col-lg-6 mt-4">
                <p class="herbof_text herbof_text3 mt-5">Drink buttermilk with lots of water.
                </p>
              </div>
              <div class="col-12 col-lg-6">
                <img class="w-100" src="././assets/images/DirheaHome3.png">
              </div>
            </div>
    
    
            <div class="clear20"></div>
    
          </div>

    </div>

    <div class="{{tabs[3].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">

        <div class="tab1ContentBox">
            <div class="row">
              <div class="col-12 col-lg-6 mt-4">
                <p class="herbof_text herbof_text3 mt-5">Eat a pear that is not over-ripe.
                </p>
              </div>
              <div class="col-12 col-lg-6">
                <img class="w-100" src="././assets/images/DirheaHome4.png">
              </div>
            </div>
    
    
            <div class="clear20"></div>
    
          </div>

    </div>

    <div class="{{tabs[4].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">

        <div class="tab1ContentBox">
            <div class="row">
              <div class="col-12 col-lg-6 mt-4">
                <p class="herbof_text herbof_text3 mt-5">Consume well-steamed carrots and ghee after an acute episode of diarrhoea.
                </p>
              </div>
              <div class="col-12 col-lg-6">
                <img class="w-100" src="././assets/images/DirheaHome5.png">
              </div>
            </div>
    
    
            <div class="clear20"></div>
    
          </div>

    </div>

  </div>
</section>
<section id="Complications" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms ActuallyCausesPiles">
    <div class="container">
      <h1>Complications in diarrhoea</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div>
      <p class="text-center HeadingTextSmall txtpadr">Severe acute diarrhoea or prolonged diarrhoea leads to dehydration, manifests as the following symptoms</p>
      <div class="row m-0">
        <div class="Yoga_Ayurveda_RightDiv col-12 col-lg-6 col-sm-12 text-center ResDispayNone">
          <img class="" src="././assets/images/ComplicationDhariya.png">
        </div>
        <div class="Yoga_Ayurveda_RightDiv col-12 col-lg-6 col-sm-12">
  
          <div class="clear10"></div>
          <ul class="AnaemiaBG ThirstUl">
            <li>Thirst
            </li>
            <li>Fever
            </li>
  <li>Tastelessness</li> 
  <li>Pain in the rectum
  </li> 
  <li>Low blood pressure</li>
          </ul>
          <div class="clear10"></div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  
  </section>
<section id="RelatedProducts" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms ActuallyCausesPiles">
  <div class="deal_area container">
    <div class=" mb-4">
      <h1>Related Products </h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">

      </div>
      <div class="clear"></div>
      <div class="row mt-5" *ngIf="visibleCategory.length!=0">
          <div class="col-6 col-sm-4 col-md-4 col-lg-4 "  *ngFor="let data of visibleCategory">
              <div class="col-6 col-sm-12 col-md-12 col-lg-12 Product_div tab-h text-center padlrn" *ngIf="visibleCategory.length!=0">
                <div class="clear20"></div>
                <div class="WhiteBox">
                  <div (click)="getProductDetails(data.id)" >
                      <img src="{{data.imageUrl}}" width="199" height="194">
                      <div class="clear10"></div>
                      <label class="zl-text cursor">{{data.name}}</label>
                  </div>
                </div>
          <br>
         
            <div class="row">
              <div class="text-center col-6 col-sm-6 col-md-6 col-lg-6 margintopproduct ">
                <label class="">
                  <label class="zl-text1">&#8377;</label>
            
                  <label class="zl-text12">{{data.selling}}</label>
                </label>
              </div>
              <div class=" col-6 col-sm-6 col-md-6 col-lg-6 text-left margintopproduct">
                <div class="product_img">
                  <div class="clear10"></div>
                  <div class="order-margin-top2">
<!--                 
                    <i *ngIf="qtyP!=0" class="fa" (click)="qtyP=qtyP-1; add(qtyP, data.id)"><img src="././assets/images/SpinnerMinus.png"></i>&nbsp;
                    <input [(ngModel)]="qtyP" class="input-spinner">&nbsp;
                    <i class="fa" (click)="qtyP=qtyP+1; add(qtyP, data.id)"><img src="././assets/images/SpinnerPluse.png"></i>
                  -->
                  <i *ngIf="qtyP!=0" class="fa" (click)="reduce(data)"><img src="././assets/images/SpinnerMinus.png"></i>&nbsp;
                  <input [(ngModel)]="data.qty" class="input-spinner" >&nbsp;
                  <i class="fa" (click)=" add(data)"><img src="././assets/images/SpinnerPluse.png"></i>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="clearfix"></div>
           <!-- <div class="row">
                <div class="col-6 col-lg-12 text-center rmpositionnew">
                    <div class="clear20"></div>
                    <button class="btn  read_morerp AddToCartBtn" (click)="addToCart(qtyP, data.id)" type="button">add
                        to cart</button>
                  
                </div> 
                </div> -->
                <div class="row mt-3">
                  <div class="col-6 col-lg-12 text-center rmpositionnew">
                      <div class="clear20"></div>
                      <button class="btn  read_morerp AddToCartBtn" (click)="addToCart(data)" type="button">add
                          to cart</button>
                    
                  </div> 
                  </div>
            <div class="clear20"></div>
          </div>
        </div>
      </div>
      <div  class="row " *ngIf="visibleCategory.length==0">
        <div class="col-12 col-lg-12 text-center">
            <div class="clear20"></div>
            <h6>No Products Found...</h6>
        </div> 
      
      </div>
      <!-- <div  class="row " *ngIf="visibleCategory.length==0">
          <div class="col-12 col-lg-12 text-center">
              <div class="clear20"></div>
              <h6>No Products Found...</h6>
          </div> 
        
        </div> -->
    </div> 
    <!-- <div class="text-center" *ngIf="visibleCategory.length!=0">
    <button  class="btn btn-primary mb-2 mt-4  SignBtn" type="button" routerLink="../mainproductpage">explore all products</button> 
  </div> -->
  <div class="row" *ngIf="visibleCategory.length!=0">
    <div class="col-6 col-lg-12 text-center">
        <div class="clear20"></div>

        <button class="btn read_morerp" routerLink="../mainproductpage">explore all products</button>            
    </div> 
    </div>
  </div>
</section>
<div class="clear"></div>

<div class="clear"></div>


<section class="artcle text-center Yoga_AurvedaSection Yoga_AurvedaSymptoms ActuallyCausesPiles">
  <div class="container">
    <div class="small_wrapper mb-4">
      <h1>Articles </h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div>
      <div class="clear"></div>
      <div class="text-center rscroll">
        <div class="article_div wscroll">
          <img class="mx-auto d-block img-fluid" src="././assets/images/diarrhoea1.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>

            <div class="clear10"></div>
            <p class="smallTextArticles m-0">Diarrhoea</p>
            <p class="SaffronText">Top 8 Foods to<br/>Have When...
            </p>
          </div>
          <div class="clear10"></div>
          <button class="btn read_more" routerLink="../DiarrhoeaArticles">READ MORE</button>
        </div>

        <div class="article_div ResMarginArticles2 wscroll">
          <img class="mx-auto d-block img-fluid" src="././assets/images/diarrhoea2.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>

            <div class="clear10"></div>
            <p class="smallTextArticles m-0">Kutaja</p>
            <p class="SaffronText">Kutaja  is a<br/> well-known...
              </p>
          </div>
          <div class="clear10"></div>
          <button class="btn read_more" routerLink="../DiarrhoeaKutajaArticles">READ MORE</button>
        </div>

        <!-- <div class="article_div ResMarginArticles ResMarginArticles2">
          <img class="mx-auto d-block img-fluid" src="././assets/images/health.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>

            <div class="clear10"></div>
            <p class="smallTextArticles m-0">PRANAYAMA</p>
            <p class="SaffronText">14 best & worst<br /> foods for your ...</p>
          </div>
          <div class="clear10"></div>
          <button class="btn read_more" routerLink="../DiherraRead">READ MORE</button>
        </div> -->
      </div>
    </div>
    <div class="clear"></div>
    <div class="topping_spac">
        <div class="all_benefits pt-3">
          <p>Want to get all the Benefits of <br>
            Ayurveda? Get a Free consultation!</p>
          <span>Book Your Appointment now in 3 Easy Steps</span>
        </div>
  
        <div class="all_benefits all_benefits2 text-center">
          <button class="btn btn-primary mb-2 SignBtn" type="button" routerLink="../patientloginpage">consult ayurvedic doctor</button>
          <p class="ORTExt">Or </p>
          <p>call 1800 572 8000</p>
        </div>
      </div>
  </div>
</section>
<div class="">
  <app-main-footer></app-main-footer>
</div>