<div class="row">
  <div class="col-12 col-lg-8">
<div class="card cardbodydiv">
  <div class="card-body"> 
    <div class="row">
      <div class="col-lg-6 col-sm-12 col-12">
          <h6 class="dr">&nbsp;{{DR_Name}}</h6>
      </div> 
      <div class="col-lg-6 col-sm-12 col-12"> 
        
    </div>
    </div>
   
    <h3 class="tenappo"><app-datepicker class="d-none"></app-datepicker> You have {{NoOfAppointment}} appointments today!</h3>
   <div class="clear20"></div> 
 <div class="row">
    <div class="col-lg-6 col-sm-12 col-12"> 
        <div class="d-none CardRightContent">
        <img src="././assets/images/help-copy.png">
        <label class="query-style" >You have <label class="query-style2">2 new queries</label></label>  
      </div>
    </div>
 </div>   
</div>
</div> 
</div> 
<div class="col-12 col-lg-4 pl-0">
  <app-doctor-urgentcard></app-doctor-urgentcard>
</div>
</div>