<app-navigation *ngIf="showHeader"></app-navigation>
<section class="home-top pt-5"> 
    <app-floating></app-floating>
  <div class="container "> 
      <h1 class="main_title">Asthma</h1>
    <h1 class="main_title2">“a chronic breathing disorder ”</h1>

    <div class="clearfix"></div>
<div class="clear20"></div>
<div class="HedingMapContentBox col-12 col-sm-12 col-md-12 col-lg-10">
  <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-3">
        <div class="col-12 col-lg-12 text-center">
          <img src="././assets/images/world-map.png">
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 padlrn ResMarginAuto">
        <div class="col-12 col-lg-12 text-left padlrn">
          <div class="row">
            <div class="col-6 col-lg-6  Around50Text2 Around50Text  text-center">
              <h1>100-150</h1>
              <span class="million">million people suffer  
                </span>
            </div>
            <div class="col-6 col-lg-6 m-l-25 padlrn">
              <div class="clear10"></div>
                <!-- <div class="BorderBotton"></div> -->
                <span class="million1"> from asthma 
                    globally every 
                    year.
                </span>     
              </div>
          </div>
          <div class="BorderBotton"></div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-11 col-lg-1 ResMarginAuto">
          <img src="././assets/images/india.png">
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 ResMarginAuto">
          <div class="col-12 col-lg-12">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <!-- <div class="row">
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                       <span class="million1">High BP accounts for</span> 
                  </div>
                  <div class="col-2 col-sm-2 col-lg-1 col-md-1 padlrn">
                    <div class="clear20"></div>
                      <div class="BorderBotton"></div>
                  </div>
                </div> -->
                  
              </div>
              <div class="col-6 col-sm-6 col-md-6 col-lg-4">
                  <h1 class="seventytwo">15-20</h1>
                  <p class="million"> million
                      asthmatics</p>
                   
              </div> 
              <div class="col-6 col-sm-6 col-md-6 col-lg-5 Around50Text2 Around50Text padlrn indpad">
                    <p>have been 
                        reported 
                        in India.
                        </p>     
              </div> 
          </div>  
                  <div class="clear"></div>
          <div class="col-8 col-lg-9 padln">
            <div class="BorderBotton ResDisplaynone"></div>
          </div>
                  
          </div>
        </div>
       
  </div>


</div>
<div class="clear20"></div>
  <div class="DibetectSection">
      <div class="DibeticLeft" (click)="scrollTo('Overview')">
        <img src="././assets/images/noun-health.png">
        <p class="m-0">Overview</p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('SymptomsCauses')">
        <img src="././assets/images/noun-medical.png">
        <p class="m-0">Symptoms &amp; Causes  </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('PreventionDiagnosis')" >
        <img src="././assets/images/noun-bacteria.png">
        <p class="m-0"> Prevention &amp; Diagnosis </p>
      </div>
      <div class="DibeticLeft"  (click)="scrollTo('AyurvedaApproach')">
        <img src="././assets/images/noun-herbal-medicine.png">
        <p class="m-0"> Ayurveda Approach </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('Complications')" >
        <img src="././assets/images/noun-healt.png">
        <p class="m-0"> Complications </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('RelatedProducts')">
          <img src="././assets/images/noun-medicine10.png">
          <p class="m-0">    Related Products </p>
        </div>
    
  
    </div>
    <div class="clear20"></div>
<div class="clear"></div>
</div>
</section>
<div class="container">
  <!-- <div class="zanduservicemain">
    <div class="card-deck px-5">
      <div class="card zanduservice">
        <div class="card-body">
          <p class="card-text">Sign up to get <br>
            Zandu Services FREE!</p>
        </div>
      </div>
      <div class="card zanduservice text-center">
        <div class="card-body">
          <button class="btn FbBtn" type="button"><img alt="facebook" class="mr-2" src="././assets/images/facebook.png">
            Login With Facebook</button>
        </div>
      </div>
      <div class="card zanduservice text-left">
        <div class="card-body ">
          <button class="btn  GoogleBtn" type="button"><img _ngcontent-c1="" alt="google" class="mr-2" src="././assets/images/google.png">
            Sign up with Google</button>
        </div>
      </div>
      <div class="card zanduservice mr-4">
        <div class="card-body ">
          <span>Call us @</span>
          <h5>9999 8888 22</h5>
        </div>
      </div>
    </div>
  </div> -->
</div>
<div class="clear"></div>

<section id="Overview" class="Yoga_AurvedaSection">
    <div class="clear"></div>
  <h1>What is Asthma</h1>
  <div class="clear"></div>
  <div class="text-center">
    <img src="././assets/images/big_border.png">
  </div> 
  <div class="row m-0">
  <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-lg-6 DisplayNone">
      <img class="w-100" src="././assets/images/wiasthma.png">
  </div>
  <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12  col-lg-6">
    <h5>Asthma is a chronic breathing disorder in which the airway becomes hyper-responsive on exposure to a particular allergen.  </h5>
    <p>This causes spasmodic narrowing of the airways, 
        which however, can be relieved with treatment. 
        Asthma and allergies usually start in early childhood 
        but asthma attacks can occur in all age groups. </p>
  
    <button class="btn btn-primary mb-2 mt-4 SignBtn" routerLink="../AsthmaRead" type="button">read more</button>
  </div> 
</div>
  <div class="clear"></div>
  

</section> 
<section id="SymptomsCauses" class="Yoga_AurvedaSection12 Yoga_AurvedaSymptoms symptoms-uti">
  <div class="container">
    <h1 class="text-center">Symptoms of Asthma</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
    <p class="text-center ptractinfection">The symptoms of asthma are as follows </p>
    <div class="clear30"></div>
   <div class="row">
     
      <div class="Yoga_Ayurveda_RightDiv col-12 col-md-12 col-sm-12 col-lg-5 ml-auto">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12  comp-contentbx1 BorderRadiusSymptomsDiv">
         <div class="row">
           <div class="col-1 col-lg-1">
              <span><img src="././assets/images/nxt-arrow.png"> </span>
           </div>
           <div class="col-10 col-lg-10">
              <p class="c-infection">Sneezing and running nose</p>
           </div>
         </div>
         <div class="row">
            <div class="col-1 col-lg-1">
                <span><img src="././assets/images/nxt-arrow.png"> </span>
            </div>
            <div class="col-10 col-lg-10">
                <p class="c-infection">
                    Wheezing</p>
            </div>
          </div>
          <div class="row">
              <div class="col-1 col-lg-1">
                  <span><img src="././assets/images/nxt-arrow.png"> </span>
              </div>
              <div class="col-10 col-lg-10">
                  <p class="c-infection">
                      Stuffiness in the head and neck part</p>
              </div>
          </div>
          <div class="row">
            <div class="col-1 col-lg-1">
                <span><img src="././assets/images/nxt-arrow.png"> </span>
            </div>
            <div class="col-10 col-lg-10">
                <p class="c-infection"> 
                    Rapid breathing with dyspnoea</p>
            </div>
          </div>
          <div class="row">
            <div class="col-1 col-lg-1">
                <span><img src="././assets/images/nxt-arrow.png"> </span>
            </div>
            <div class="col-10 col-lg-10">
                <p class="c-infection">
                    Severe difficulty in breathing</p>
            </div>
          </div>
          <div class="row">
              <div class="col-1 col-lg-1">
                  <span><img src="././assets/images/nxt-arrow.png"> </span>
              </div>
              <div class="col-10 col-lg-10">
                  <p class="c-infection">Expectoration while coughing
                      </p>
              </div>
            </div>
            <div class="row">
                <div class="col-1 col-lg-1">
                   <span><img src="././assets/images/nxt-arrow.png"> </span>
                </div>
                <div class="col-10 col-lg-10">
                   <p class="c-infection">Disturbed sleep due to breathlessness  </p>
                </div>
              </div>
              <div class="row">
                 <div class="col-1 col-lg-1">
                     <span><img src="././assets/images/nxt-arrow.png"> </span>
                 </div>
                 <div class="col-10 col-lg-10">
                     <p class="c-infection">Cough</p>
                 </div>
               </div>
               <div class="row">
                   <div class="col-1 col-lg-1">
                       <span><img src="././assets/images/nxt-arrow.png"> </span>
                   </div>
                   <div class="col-10 col-lg-10">
                       <p class="c-infection">Vomiting</p>
                   </div>
               </div>
               <div class="row">
                 <div class="col-1 col-lg-1">
                     <span><img src="././assets/images/nxt-arrow.png"> </span>
                 </div>
                 <div class="col-10 col-lg-10">
                     <p class="c-infection">Deterioration of consciousness during coughing</p>
                 </div>
               </div>
      
        </div>
        </div> 
        <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-5 mr-auto RespaddingBottom">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12  comp-contentbx1">
           <div class="row">
             <div class="col-1 col-lg-1">
                <span><img src="././assets/images/nxt-arrow.png"> </span>
             </div>
             <div class="col-10 col-lg-10">
                <p class="c-infection">Soreness of the throat</p>
             </div>
           </div>
           <div class="row">
              <div class="col-1 col-lg-1">
                  <span><img src="././assets/images/nxt-arrow.png"> </span>
              </div>
              <div class="col-10 col-lg-10">
                  <p class="c-infection">Patient may find it difficult to speak freely due to choked throat</p>
              </div>
            </div>
            <div class="row">
                <div class="col-1 col-lg-1">
                    <span><img src="././assets/images/nxt-arrow.png"> </span>
                </div>
                <div class="col-10 col-lg-10">
                    <p class="c-infection">
                        Sweating on the forehead</p>
                </div>
            </div>
            <div class="row">
              <div class="col-1 col-lg-1">
                  <span><img src="././assets/images/nxt-arrow.png"> </span>
              </div>
              <div class="col-10 col-lg-10">
                  <p class="c-infection"> Slight relief in breathlessness on splitting out the sputum</p>
              </div>
            </div>
            <div class="row">
              <div class="col-1 col-lg-1">
                  <span><img src="././assets/images/nxt-arrow.png"> </span>
              </div>
              <div class="col-10 col-lg-10">
                  <p class="c-infection">
                      Dyspnoea increases in while lying down</p>
              </div>
            </div>
            <div class="row">
                <div class="col-1 col-lg-1">
                    <span><img src="././assets/images/nxt-arrow.png"> </span>
                </div>
                <div class="col-10 col-lg-10">
                    <p class="c-infection"> Feels comfortable to breath in sitting position
                        </p>
                </div>
              </div>
              <div class="row">
                  <div class="col-1 col-lg-1">
                     <span><img src="././assets/images/nxt-arrow.png"> </span>
                  </div>
                  <div class="col-10 col-lg-10">
                     <p class="c-infection"> Patient may like hot things </p>
                  </div>
                </div>
                <div class="row">
                   <div class="col-1 col-lg-1">
                       <span><img src="././assets/images/nxt-arrow.png"> </span>
                   </div>
                   <div class="col-10 col-lg-10">
                       <p class="c-infection">
                          Mouth gets dry very frequen</p>
                   </div>
                 </div>
                 <div class="row">
                     <div class="col-1 col-lg-1">
                         <span><img src="././assets/images/nxt-arrow.png"> </span>
                     </div>
                     <div class="col-10 col-lg-10">
                         <p class="c-infection">Oedema around the eyes </p>
                     </div>
                 </div>
          </div>
          </div> 
   </div> 
    <div class="clear"></div>
  </div>
  
  </section>  
  <div class="clear"></div>
  <section id="PreventionDiagnosis" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms mt-4">
  <div class="container">
      <h1>Do you know what actually<br>
          causes Asthma</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
      <p class="text-center ptractinfection">According to Ayurveda, the various causes (Nidana) associated with Asthma and respiratory allergies are as follows:</p>
     
      <div class="clear"></div>
      <div class="clear20"></div>
      <div class="row ResMainDiv">
          <div class="col-8 col-sm-5 col-md-3 col-lg-3 text-center ResScroll">
            <img src="././assets/images/inhaling-dust.png">
            <div class="clear20"></div>
            <label class="lyfestyle-mgmt">Inhaling<br>
                Dust</label>
          </div>
          <div class="col-8 col-sm-5 col-md-3 col-lg-3 text-center ResScroll">
              <img src="././assets/images/drinking-coldwater.png">
              <div class="clear20"></div>
              <label class="lyfestyle-mgmt">Drinking <br>
                  cold water</label>
            </div>
            <div class="col-8 col-sm-5 col-md-3 col-lg-3 text-center ResScroll">
                <img src="././assets/images/cold-climate.png">
                <div class="clear20"></div>
                <label class="lyfestyle-mgmt">Exposure to <br>
                    Cold Climate</label>
              </div>
              <div class="col-8 col-sm-5 col-md-3 col-lg-3 text-center ResScroll">
                  <img src="././assets/images/aquatic-food.png">
                  <div class="clear20"></div>
                  <label class="lyfestyle-mgmt">Eating <br>
                      Aquatic Food</label>
                </div> 

                <div class="col-8 col-sm-5 col-md-3 col-lg-4 text-right padr50 ResScroll DisplayNone_Web">
                  <img src="././assets/images/w-immune-sys.png">
                  <div class="clear20"></div>
                  <label class="lyfestyle-mgmt">Weakened Immune<br>
                      System</label>
        
                </div>
                <div class="col-8 col-sm-5 col-md-3 col-lg-4 text-center ResScroll DisplayNone_Web">
                    <img src="././assets/images/exseccive-exercise.png">
                    <div class="clear20"></div>
                    <label class="lyfestyle-mgmt">Exhausting exercises<br>
                        or walking</label>
                  </div>
                  <div class="col-8 col-sm-5 col-md-3 col-lg-4 text-left padl50 ResScroll DisplayNone_Web">
                      <img src="././assets/images/airpollution.png">
                      <div class="clear20"></div>
                      <label class="lyfestyle-mgmt">Air Pollution</label>
                    </div>
        </div>  
     <div class="clear10"></div>
     <div class="row">
        <div class="col-12 col-sm-5 col-md-3 col-lg-4 text-right padr50 ResDisplayNoneScroll">
          <img src="././assets/images/w-immune-sys.png">
          <div class="clear10"></div>
          <label class="lyfestyle-mgmt">Weakened Immune<br>
              System</label>

        </div>
        <div class="col-12 col-sm-5 col-md-3 col-lg-4 text-center ResDisplayNoneScroll">
            <img src="././assets/images/exseccive-exercise.png">
            <div class="clear20"></div>
            <label class="lyfestyle-mgmt">Exhausting exercises<br>
                or walking</label>
          </div>
          <div class="col-12 col-sm-5 col-md-3 col-lg-4 text-left padl50 ResDisplayNoneScroll">
              <img src="././assets/images/airpollution.png">
              <div class="clear20"></div>
              <label class="lyfestyle-mgmt">Air Pollution</label>
            </div>
          
      </div>  
      <div class="clear"></div>
      <div class="topping_spac">
        
          <div class="all_benefits pt-3">
            <p>Want to get all the Benefits of <br>
              Ayurveda? Get a Free consultation!</p>
            <span>Book Your Appointment now in 3 Easy Steps</span>
          </div>
    
          <div class="all_benefits all_benefits2 text-center">
            <button class="btn btn-primary mb-2 SignBtn" type="button" routerLink="../patientloginpage">book appointment</button>
            <p class="ORTExt">Or </p>
            <p>call 1800 572 8000</p>
          </div>
     
      </div>
    </div>
    </section> 

    <section class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms ">
        <h1 class="text-center">Asthma & the Doshas   </h1>
        <div class="clear"></div>
        <div class="text-center">
          <img src="././assets/images/big_border.png">
        </div> 
        <p class="text-center ptractinfection">Breathing difficulty (Swasa) is caused by aggravation of Vata and Kapha doshas. </p>
      <div class="clear20"></div>
      <div class="container">
      <div class="text-center ResMainDiv">
          <div class="article_div ResScroll">
            <img class="mx-auto d-block img-fluid" src="././assets/images/Kapha.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>Kapha</span>
              <div class="clear10"></div>
              <p>In Ayurveda, breathing difficulty or shortness of breath is termed as Swasa. Breathing difficulty (Swasa) is caused by aggravation of  Kapha doshas.
                </p>
            </div>
            <div class="clear50"></div>
           
            <button class="btn read_more rmposition" (click)="setNav('Kapha')"   routerLink="../AsthmaRead">READ MORE</button>
        
          </div>
  
         
  
          <div class="article_div ResScroll">
            <img class="mx-auto d-block img-fluid" src="././assets/images/Vata.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span> VATA</span>
              <div class="clear10"></div>
              <p>The increased Vata dosha changes its normal pathway (Pratiloma Gamana) leading to breathing difficulty.</p>
            </div>
            <div class="clear30"></div> 
          
            <button class="btn read_more rmposition" (click)="setNav('Kapha')" routerLink="../AsthmaRead">READ MORE</button>
         
          </div>
      </div>
      <div class="clear40"></div>
      <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <label class="minitues">Take our 3 Minute Dosha Test</label>
          <div class="clear30"></div>
          <div class="col-12 col-lg-12 text-center">
              <button class="btn  read_more1 ">calculate now</button>
          </div>
        </div> -->
    </div>
    <div class="clear"></div>
    <div class="container">
        <div class="topping_spac">
        
       <span class="call-queries1">Call 1800 572 8000</span> <span class="call-queries">  to get in touch with our 
            Health Experts & resolve your Health Queries</span>  
        
       
          </div>
        </div>
      </section> 

<div class="clear40"></div>
<section class="Yoga_AurvedaSection-prevention Yoga_AurvedaSymptoms">
    <h1>Preventions for Asthma</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
    <p class="text-center ptractinfection">Inculcating the following in your routine, helps in preventing asthma and improving lung health
      </p>
     
    <div class="clear"></div>
    <div class="clear40"></div>
   <div class="container">
      <div class="row m-0 ResMainDiv">
          <div class="commondiv text-center ResScroll ">
              <img src="././assets/images/cerelas-pulses.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever">Cereals & Pulses
                  </span>
          </div> 
          <div class="commondiv text-center ResScroll">
              <img src="././assets/images/vegetables-2.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever">Vegetables</span>
          </div>
          <div class="commondiv text-center ResScroll">
              <img src="././assets/images/spices-herbs.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever">Spices & Herbs</span>
          </div>
          <div class="commondiv text-center ResScroll">
              <img src="././assets/images/fruits-new.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever">Fruits</span>
          </div>
          <div class="commondiv text-center ResScroll">
              <img src="././assets/images/beverages.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever">Beverages</span>
          </div> 
          <div class="col-12 col-md-3 col-lg-3 text-center ResScroll DisplayNone_Web">
            <img src="././assets/images/steam-treatment.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Steam Treatment</span>
        </div> 
        <div class="col-12 col-md-3 col-lg-3 text-center ResScroll DisplayNone_Web">
            <img src="././assets/images/sunlight.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Exposure to<br>
                Sunlight
                </span>
        </div>
        <div class="col-8 col-md-3 col-lg-3 text-center ResScroll DisplayNone_Web">
            <img src="././assets/images/hot-water-bath.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Hot Water Bath</span>
        </div>
        <div class="col-8 col-md-3 col-lg-3 text-center ResScroll DisplayNone_Web">
            <img src="././assets/images/boddy-massage.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Body Massage <br>
                with Oil</span>
        </div>
        </div> 
        <div class="clear20"></div>
        <div class="row m-0">
            <div class="col-8 col-md-3 col-lg-3 text-center ResDisplayNoneScroll">
                <img src="././assets/images/steam-treatment.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Steam Treatment</span>
            </div> 
            <div class="col-8 col-md-3 col-lg-3 text-center ResDisplayNoneScroll">
                <img src="././assets/images/sunlight.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Exposure to<br>
                    Sunlight
                    </span>
            </div>
            <div class="col-8 col-md-3 col-lg-3 text-center ResDisplayNoneScroll">
                <img src="././assets/images/hot-water-bath.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Hot Water Bath</span>
            </div>
            <div class="col-8 col-md-3 col-lg-3 text-center ResDisplayNoneScroll">
                <img src="././assets/images/boddy-massage.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Body Massage <br>
                    with Oil</span>
            </div>
           
        </div> 
         <div class="clear20"></div>
   </div>
 

    <div class="clear"></div>
  </section> 
<div class="clear40"></div>
<div class="clear40"></div>
<section class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms">
    <h1 class="text-center">How Asthma is Identified<br>
        in the Human Body </h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
  <div class="clear20"></div>
  <div class="container">

    <div class="row ResMainDiv hidden-md">
        <div class="article_div-human ">
            <img class="mx-auto d-block img-fluid" src="././assets/images/chest-x-ray.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>. X-ray<br>
                  (Chest and Sinus)</span>
              <div class="clear10"></div>
            </div>
            <div class="clear10"></div>
            <button class="btn read_more rmposition12" routerLink="../AsthmaRead">READ MORE</button>
          </div>
    
          <div class="article_div-human ">
            <img class="mx-auto d-block img-fluid" src="././assets/images/bp-monitoring.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>LFT <br>
                  (Lung Function Test) </span>
              <div class="clear10"></div>
            </div>
            <div class="clear10"></div>
            <button class="btn read_more rmposition12" routerLink="../AsthmaRead">READ MORE</button>
          </div>
    
          <div class="article_div-human ">
            <img class="mx-auto d-block img-fluid" src="././assets/images/pic-flow-meter.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>Peak flow meter</span>
              <div class="clear10"></div>
            </div>
            <div class="clear30"></div>
                <button class="btn read_more rmposition12" routerLink="../AsthmaRead">READ MORE</button>
          </div>
          <div class="article_div-human ">
              <img class="mx-auto d-block img-fluid" src="././assets/images/allergy-test.png">
              <div class="clear10"></div>
              <div class="infor">
                <div class="clear10"></div>
                <span>Allergy tests</span>
                <div class="clear10"></div>
              </div>
              <div class="clear10"></div>
              <button class="btn read_more rmposition12" routerLink="../AsthmaRead">READ MORE</button>
            </div>
      
            <div class="article_div-human ">
              <img class="mx-auto d-block img-fluid" src="././assets/images/methacoline-test.png">
              <div class="clear10"></div>
              <div class="infor">
                <div class="clear10"></div>
                <span>Methacholine<br>
                    challenge test</span>
                <div class="clear10"></div>
              </div>
              <div class="clear10"></div>
              <button class="btn read_more rmposition12" routerLink="../AsthmaRead">READ MORE</button>
            </div>
      
            <div class="article_div-human ">
              <img class="mx-auto d-block img-fluid" src="././assets/images/nitric-oxide-test.png">  
                 <div class="clear10"></div>
              <div class="infor">
                <div class="clear10"></div>
                <span>Nitric oxide tests </span>
                <div class="clear10"></div>
              </div>
              <div class="clear30"></div>
             
                  <button class="btn read_more rmposition12" routerLink="../AsthmaRead">READ MORE</button>
              
            </div>
      
    </div>

  <div class="text-center row hidden-xs">
      <div class="article_div-human ">
        <img class="mx-auto d-block img-fluid" src="././assets/images/chest-x-ray.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>. X-ray<br>
              (Chest and Sinus)</span>
          <div class="clear10"></div>
        </div>
        <div class="clear10"></div>
        <button class="btn read_more rmposition12" routerLink="../AsthmaRead">READ MORE</button>
      </div>

      <div class="article_div-human ">
        <img class="mx-auto d-block img-fluid" src="././assets/images/bp-monitoring.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>LFT <br>
              (Lung Function Test) </span>
          <div class="clear10"></div>
        </div>
        <div class="clear10"></div>
        <button class="btn read_more rmposition12" routerLink="../AsthmaRead">READ MORE</button>
      </div>

      <div class="article_div-human ">
        <img class="mx-auto d-block img-fluid" src="././assets/images/pic-flow-meter.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>Peak flow meter</span>
          <div class="clear10"></div>
        </div>
        <div class="clear30"></div>
            <button class="btn read_more rmposition12" routerLink="../AsthmaRead">READ MORE</button>
      </div>

     
  </div>
  <div class="clear30"></div>
  <div class="text-center row hidden-xs">
      <div class="article_div-human ">
        <img class="mx-auto d-block img-fluid" src="././assets/images/allergy-test.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>Allergy tests</span>
          <div class="clear10"></div>
        </div>
        <div class="clear10"></div>
        <button class="btn read_more rmposition12" routerLink="../AsthmaRead">READ MORE</button>
      </div>

      <div class="article_div-human ">
        <img class="mx-auto d-block img-fluid" src="././assets/images/methacoline-test.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>Methacholine<br>
              challenge test</span>
          <div class="clear10"></div>
        </div>
        <div class="clear10"></div>
        <button class="btn read_more rmposition12" routerLink="../AsthmaRead">READ MORE</button>
      </div>

      <div class="article_div-human ">
        <img class="mx-auto d-block img-fluid" src="././assets/images/nitric-oxide-test.png">  
           <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>Nitric oxide tests </span>
          <div class="clear10"></div>
        </div>
        <div class="clear30"></div>
       
            <button class="btn read_more rmposition12" routerLink="../AsthmaRead">READ MORE</button>
        
      </div>

     
  </div>
</div>
<div class="clear"></div>
  </section> 

  <div class="clear40 hidden-xs"></div>
<div class="clear40 hidden-xs"></div>


<div class="clear40 hidden-xs"></div>
<!-- <section class="dosha">
  <div class="dosham">
    <p>As hypertension is a lifestyle-related disease, adapting to 
        healthy habits is the major part of the treatment. The 
        healthy day-to-day regime helps the patient to prevent 
        complications of the disease.</p>
       <h5>-       Ayurvedic diet recommendations </h5> 
       <h5>-      Yoga</h5> 
       <h5>-      Pranayama (breathing exercises</h5>    
       <div class="clear20"></div> 
  </div>
  <div class="clear"></div>
  <div class="clear40"></div>
  <div class="clear40"></div>
  <div class="clear40"></div>
 

</section>  -->
<section class="HomeDisplayNone">
  <div class="container">
      <div class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms deal-areabg"> 
     
          <h1 class="text-center">Home Remedies</h1>
          <div class="clear"></div>
          <div class="text-center">
            <img src="././assets/images/big_border.png">
          </div>    
      <div class="clear"></div>
      <div class="clear20"></div>
      <div class="deal_area">
          <div class=" mb-4">
            <div class="shadoo1 mx-0">
              <div class="card tab_card mx-0 small_div BorderradiusLeft">
                <div class=" BorderradiusLeft card-body {{tabs[0].active}}" (click)="openCity(0)">
                  <div class="border_div">
                    <span>ginger</span>
                  </div>
                </div>
              </div>
              <div class="card tab_card mx-0">
                <div class="card-body {{tabs[1].active}}" (click)="openCity(1)">
                  <div class="border_div">
                    <span>honey</span>
                  </div>
                </div>
              </div>
              <div class="card tab_card mx-0 BorderradiusRight">
                <div class=" BorderradiusRight card-body  {{tabs[2].active}} " (click)="openCity(2)">
                  <div class="border_div ">
                    <span>steam</span>
                  </div>
                </div>
              </div>
            
              <div class="card tab_card mx-0 BorderradiusRight">
                  <div class=" BorderradiusRight card-body  {{tabs[3].active}} " (click)="openCity(3)">
                    <div class="border_div HiddenBorder">
                      <span> luke warm water </span>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        
          <div class="{{tabs[0].tabcontent}} p-0 TabContentBox paddingTabContentDiv BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
               <div class="row">
                 <div class="col-12 col-sm-12 col-lg-6 hr-tabdiv">
                   <p class="tab-p">Make a mixture with 5 gms of ginger, cardamom, black pepper, clove, cinnamon, turmeric and sugar (30 gms). Grind the ingredients and take half to 1 teaspoon of this mixture and mix with honey. Take it twice regularly.</p>
                 </div>
                 <div class="col-12 col-sm-12 col-lg-6 ResDisplayNoneScroll">
                   <img class="img-fluid" src="././assets/images/mixture-glass.png">
                 </div>
               </div>
              </div>
            </div>
          </div>
        
          <div class="{{tabs[1].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
              <div class="">
                  <div class="tab1ContentBox">
                   <div class="row">
                     <div class="col-12 col-sm-12 col-lg-6 hr-tabdiv">
                       <p class="tab-p">Make a mixture with 5 gms of ginger, cardamom, black pepper, clove, cinnamon, turmeric and sugar (30 gms). Grind the ingredients and take half to 1 teaspoon of this mixture and mix with honey. Take it twice regularly.</p>
                     </div>
                     <div class="col-12 col-sm-12 col-lg-6 ResDisplayNoneScroll">
                       <img class="img-fluid" src="././assets/images/mixture-glass.png">
                     </div>
                   </div>
                  </div>
                </div>
          </div>
        
          <div class="{{tabs[2].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
              <div class="">
                  <div class="tab1ContentBox">
                   <div class="row">
                     <div class="col-12 col-sm-12 col-lg-6 hr-tabdiv">
                       <p class="tab-p">Make a mixture with 5 gms of ginger, cardamom, black pepper, clove, cinnamon, turmeric and sugar (30 gms). Grind the ingredients and take half to 1 teaspoon of this mixture and mix with honey. Take it twice regularly.</p>
                     </div>
                     <div class="col-12 col-sm-12 col-lg-6 ResDisplayNoneScroll">
                       <img class="img-fluid" src="././assets/images/mixture-glass.png">
                     </div>
                   </div>
                  </div>
                </div>
          </div>
      
          <div class="{{tabs[3].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
              <div class="">
                  <div class="tab1ContentBox">
                   <div class="row">
                     <div class="col-12 col-sm-12 col-lg-6 hr-tabdiv">
                       <p class="tab-p">Make a mixture with 5 gms of ginger, cardamom, black pepper, clove, cinnamon, turmeric and sugar (30 gms). Grind the ingredients and take half to 1 teaspoon of this mixture and mix with honey. Take it twice regularly.</p>
                     </div>
                     <div class="col-12 col-sm-12 col-lg-6 ResDisplayNoneScroll">
                       <img class="img-fluid" src="././assets/images/mixture-glass.png">
                     </div>
                   </div>
                  </div>
                </div>
          </div>
        </div> 
      </div>
  </div>
</section>
<section id="Complications" class="Yoga_AurvedaSection">
    <div class="container">
      <div class="clear40"></div>
    <h1>Complications of Asthma
      </h1>
    <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
    <p class="text-center ptractinfection">Some of the complications associated with uncontrolled Asthma are as follows:   </p>
    <div class="clear"></div>
    
    <div class="row m-0">
        <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-6 col-lg-6 ResDisplayNoneScroll">
            <img class="w-100" src="././assets/images/comp-of-asth.png">
        </div>
    <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-6 col-lg-5 mr-auto CompletionOfAsthmaResDiv">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12  comp-contentbx1">
     <div class="row">
       <div class="col-1 col-lg-1 p-0">
          <span><img src="././assets/images/nxt-arrow.png"> </span>
       </div>
       <div class="col-11 col-lg-10">
          <p class="c-infection">Permanent narrowing of the 
              bronchial tubes </p>
       </div>
     </div>
     <div class="row">
        <div class="col-1 col-lg-1 p-0">
            <span><img src="././assets/images/nxt-arrow.png"> </span>
        </div>
        <div class="col-11 col-lg-10">
            <p class="c-infection">Constant fatigue</p>
        </div>
      </div>
      <div class="row">
          <div class="col-1 col-lg-1 p-0">
              <span><img src="././assets/images/nxt-arrow.png"> </span>
          </div>
          <div class="col-11 col-lg-10">
              <p class="c-infection">Severe chest pain </p>
          </div>
      </div>
    </div>
    </div> 
  </div>
    <div class="clear"></div>
  </div>
  
  </section> 
  <div class="clear40"></div>
  <div class="clear40"></div>

  <section id="RelatedProducts" class="Yoga_AurvedaSectionrp Yoga_AurvedaSymptoms">
      <h1 class="text-center">Related Products</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
     
  <div class="clear"></div>
  <div class="clear20"></div>
  <div class="container" >
    <!-- <div> -->
    <div class="row" *ngIf="visibleCategory">
    <div class="col-6 col-sm-4 col-md-4 col-lg-4 "  *ngFor="let data of visibleCategory">
          <div class="col-6 col-sm-12 col-md-12 col-lg-12 Product_div tab-h text-center padlrn" *ngIf="visibleCategory!=''">
            <div class="clear20"></div>
            <div class="WhiteBox">
          <div (click)="getProductDetails(data.id)" >
              <img src="{{data.imageUrl}}" width="199" height="194">
              <div class="clear10"></div>
              <label class="zl-text cursor">{{data.name}}</label>
          </div>
        </div>
           <br>
          <div class="row">
              <div class="text-center col-6 col-sm-6 col-md-6 col-lg-6 ">
                <label class="">
                  <label class="zl-text1">&#8377;</label>
                  <label class="zl-text12">{{data.selling}}</label>
                </label>
              </div>
              <div class=" col-6 col-sm-6 col-md-6 col-lg-6 text-left">
                <div class="product_img">
                  <div class="clear10"></div>
                  <div class="order-margin-top2"> 
                 
                    <i *ngIf="qtyP!=0" class="fa" (click)="reduce(data)"><img src="././assets/images/SpinnerMinus.png"></i>&nbsp;
                    <input [(ngModel)]="data.qty" class="input-spinner" >&nbsp;
                    <i class="fa" (click)=" add(data)"><img src="././assets/images/SpinnerPluse.png"></i>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="clearfix"></div>
            <div class="row">
            <div class="col-6 col-lg-12 text-center rmpositionnew">
                <div class="clear20"></div>
                <button class="btn  read_morerp AddToCartBtn" (click)="addToCart(data)" type="button">add
                    to cart</button>
              
            </div> 
            </div>
            <div class="clear20"></div>       
          </div>
        </div>
    </div>
    <div  class="row " *ngIf="visibleCategory.length==0">
        <div class="col-12 col-lg-12 text-center">
            <div class="clear20"></div>
            <h6>No Products Found...</h6>
        </div> 
      
      </div>
  <!-- </div> -->
    <div class="clear20"></div>
    <div class="row" *ngIf="visibleCategory.length!=0">
        <div class="col-6 col-lg-12 text-center">
            <div class="clear20"></div>
  
            <button class="btn read_morerp" routerLink="../mainproductpage">explore all products</button>            
        </div> 
        </div>
  </div>
  <div class="clear10"></div>  
</section> 
<div class="clear40 hidden-xs"></div>
<div class="clear40 hidden-xs"></div>

<div class="clear40 hidden-xs"></div>

<div class="clear40 hidden-xs"></div>

  <div class="clear40 hidden-xs"></div>
  <!-- <section class="Yoga_AurvedaSection-prevention Yoga_AurvedaSymptoms">
      <h1>Yoga for Hypertension</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
       
      <div class="clear"></div>
      <div class="clear40"></div>
     <div class="container">
        <div class="row m-0">
            <div class="col-12 col-md-2 col-lg-2 text-center ">
                <img src="././assets/images/tadasna.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Tada  Asana 
                    </span>
            </div> 
            <div class="col-12 col-md-2 col-lg-2 text-center">
                <img src="././assets/images/trikonasan.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Trikona 
                    Asana 
                    </span>
            </div>
            <div class="col-12 col-md-2 col-lg-2 text-center ">
                <img src="././assets/images/bhujangasan.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Bhujanga 
                    Asana  
                    </span>
            </div>
            <div class="col-12 col-md-2 col-lg-2 text-center">
                <img src="././assets/images/vakraasan.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Vakra<br>
                    Asana
                    </span>
            </div>
            <div class="col-12 col-md-2 col-lg-2 text-center">
                <img src="././assets/images/matsyasan.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Matsya<br>
                    Asana 
                    </span>
            </div>
            <div class="col-12 col-md-2 col-lg-2 text-center">
                <img src="././assets/images/pavanmuktasana.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Pavana  Mukta
                    Asana 
                    </span>
            </div>
          </div>        
     </div>
   
  
      <div class="clear"></div>
    </section>  -->
<div class="clear40"></div>
<section class="Yoga_AurvedaSection-artical Yoga_AurvedaSymptoms">
    <h1 class="text-center">Articles </h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
   
  <div class="clear20"></div>
  <div class="container">
  <div class="text-center ResMainDiv">
      <div class="article_div-artical ResScroll">
        <img class="mx-auto d-block img-fluid" src="././assets/images/Asthama1.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>Asthma</span>
          <div class="clear10"></div>
          <p>Surprising<br/>
             Triggers Of... Asthma</p>
        </div>
        <div class="clear50"></div>
        <button class="btn read_more rmposition1" routerLink="../AsthmaArticles">READ MORE</button>
      </div>

      <div class="article_div-artical ResScroll">
        <img class="mx-auto d-block img-fluid" src="././assets/images/Asthama2.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>Kantkari</span>
          <div class="clear10"></div>
          <p>1Kantakari or<br/> Solanum... </p>
        </div>
        <div class="clear10"></div>
        <button class="btn read_more rmposition1" routerLink="../KantkariAsthma">READ MORE</button>
      </div>

      <!-- <div class="article_div-artical text-center">
        <img class="mx-auto d-block img-fluid" src="././assets/images/b-food.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span> PRANAYAMA</span>
          <div class="clear10"></div>
          <p>14 best & worst<br> foods for your ... </p>
        </div>
        <div class="clear30"></div>
        <button class="btn read_more rmposition1" routerLink="../AsthmaRead">READ MORE</button>
      </div> -->
  </div>
  <div class="clear40"></div>
</div>
<div class="clear"></div>

  </section> 



  <div class="container">
      <div class="topping_spac">
        
          <div class="all_benefits pt-3">
            <p>Want to get all the Benefits of <br>
              Ayurveda? Get a Free consultation!</p>
            <span>Book Your Appointment now in 3 Easy Steps</span>
          </div>
    
          <div class="all_benefits all_benefits2 text-center">
            <button class="btn btn-primary mb-2 SignBtn" type="button" routerLink="../patientloginpage">Consult ayurvedic doctor</button>
            <p class="ORTExt">Or </p>
            <p>call 1800 572 8000</p>
          </div>
     
        </div>
      </div>





<div class="">
  <app-main-footer></app-main-footer>
</div>


<!-- The Modal -->
<div class="modal {{nomodel}}">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body text-center py-5">
        <span class="modeltitle">COMING SOON</span>
        <img src="././assets/images/model_border.png">
        <p class="pt-3">Your Dosha Calculator</p>
        <div class="smlltxt pb-4">We’ll Notify You Via Mail</div>
        <button type="button" class="btn closingbtn" data-dismiss="modal" (click)="closed()">OK</button>
      </div>
    </div>
  </div>
</div>