<app-navigation></app-navigation>
<section class="home-top pt-5"> 
    <app-floating></app-floating>
  <div class="container "> 
      <h1 class="main_title">Dysmenorrhoea</h1>
    <h1 class="main_title2">“most common reason for women<br>
      to visit gynecologists”</h1>

    <div class="clearfix"></div>
<div class="clear20"></div>
<div class="HedingMapContentBox col-12 col-lg-9">
  <div class="row">
      <div class="offset-lg-3 col-sm-4 col-lg-1">
        <div class="col-12 col-lg-12 text-center">
          <img src="././assets/images/women.png">
        </div>
      </div>
      <div class="col-sm-5 col-lg-5 padlrn">
        <div class="col-12 col-lg-12 text-left padlrn">
          <div class="row">
            <div class="col-5 col-md-5 col-lg-5  Around50Text2 Around50Text">
                <p>It affects nearly   
                  </p>
            </div>
            <div class="col-7 col-md-7 padln col-lg-7">
              <div class="clear10"></div>
                <div class="BorderBotton"></div>
              </div>
          </div>
          <div class="row">
            <div class="col-6 col-lg-6  Around50Text2 Around50Text">
             
              <h1>40%-70%</h1>
            </div>
            <div class="col-6 col-lg-6 m-l-25   Around50Text2 Around50Text padlrn">
              <div class="clear10"></div>
               
                <p class="mrl-10">of the women in<br>
                    their reproductive age.</p>
              </div>
          </div>
          <div class="BorderBotton"></div>
        </div>
      </div>
      <!-- <div class="col-4 col-sm-4 col-lg-4">
          <div class="col-12 col-lg-12">
            <div class="row">
              <div class="col-6 col-lg-6 m-t-18">
                  <h1 class="seventytwo">72</h1>
                  <p class="million"> million</p>
                   
              </div> 
              <div class="col-12 col-lg-6 Around50Text2 Around50Text padlrn m-l-50">
                    <p>cases of diabetes
                      were reported in
                      the year 2017</p>     
              </div> 
          </div>  
                  <div class="clear"></div>
          <div class="col-8 col-lg-11 padln">
            <div class="BorderBotton"></div>
          </div>
                  
          </div>
        </div> -->
       
  </div>


</div>
<div class="clear20"></div>
  <div class="DibetectSection">
      <div class="DibeticLeft">
        <img src="././assets/images/noun-health.png">
        <p class="m-0">Overview</p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('SymptomsCauses')">
        <img src="././assets/images/noun-medical.png">
        <p class="m-0">Symptoms &amp; Causes  </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('PreventionDiagnosis')" >
        <img src="././assets/images/noun-bacteria.png">
        <p class="m-0"> Prevention &amp; Diagnosis </p>
      </div>
      <div class="DibeticLeft"  (click)="scrollTo('AyurvedaApproach')">
        <img src="././assets/images/noun-herbal-medicine.png">
        <p class="m-0"> Ayurveda Approach </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('Complications')" >
        <img src="././assets/images/noun-healt.png">
        <p class="m-0"> Complications </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('RelatedProducts')">
          <img src="././assets/images/noun-medicine10.png">
          <p class="m-0">    Related Products </p>
        </div>
    
  
    </div>
    <div class="clear20"></div>
<div class="clear"></div>
</div>
</section>
<div class="container">
  <!-- <div class="zanduservicemain">
    <div class="card-deck px-5">
      <div class="card zanduservice">
        <div class="card-body">
          <p class="card-text">Sign up to get <br>
            Zandu Services FREE!</p>
        </div>
      </div>
      <div class="card zanduservice text-center">
        <div class="card-body">
          <button class="btn FbBtn" type="button"><img alt="facebook" class="mr-2" src="././assets/images/facebook.png">
            Login With Facebook</button>
        </div>
      </div>
      <div class="card zanduservice text-left">
        <div class="card-body ">
          <button class="btn  GoogleBtn" type="button"><img _ngcontent-c1="" alt="google" class="mr-2" src="././assets/images/google.png">
            Sign up with Google</button>
        </div>
      </div>
      <div class="card zanduservice mr-4">
        <div class="card-body ">
          <span>Call us @</span>
          <h5>1800 572 8000</h5>
        </div>
      </div>
    </div>
  </div> -->
</div>
<div class="clear20"></div>

<section class="Yoga_AurvedaSection">
    <div class="clear40"></div>
  <h1>What is Dysmenorrhoea?</h1>
  <div class="clear"></div>
  <div class="text-center">
    <img src="././assets/images/big_border.png">
  </div> 
  <div class="row m-0">
  <div class="Yoga_Ayurveda_RightDiv col-sm-6 col-lg-6">
      <img class="w-100" src="././assets/images/dynowhat.png">
  </div>
  <div class="Yoga_Ayurveda_RightDiv col-sm-6 col-lg-6 padrwh">
    <h5>It refers to the pain experienced during the menstrual period.</h5>
    <p>Menstrual cramp or Dysmenorrhoea is the pain 
        experienced during the menstrual period. The 
        intensity of the pain may range from mild to severe; 
        in some women, the severe pain may restrict them 
        from performing daily activities, whereas few women 
        don’t feel any pain. </p>
 
    <button class="btn btn-primary mb-2 mt-4 SignBtn" type="button">read more</button>
  </div> 
</div>
  <div class="clear"></div>
  

</section> 
<section id="SymptomsCauses" class="Yoga_AurvedaSection12 Yoga_AurvedaSymptoms symptoms-uti">
  <div class="container">
    <h1 class="text-center">Symptoms of Dysmenorrhoea</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
    <p class="text-center ptractinfection">The common features of Dysmenorrhoea are:   </p>
        <div class="row m-0">
            <div class="Yoga_Ayurveda_RightDiv col-sm-6 col-lg-6">
                <img class="w-100" src="././assets/images/symptoms-dysm.png">
            </div>
            <div class="Yoga_Ayurveda_RightDiv col-sm-6 col-lg-6 comp-contentbx">
              <div class="clear100"></div>
              <p class="sop">Symptoms of  Dysmenorrhoea</p>
             <div class="row">
               <div class="col-1 col-lg-1">
                  <span><img src="././assets/images/nxt-arrow.png"> </span>
               </div>
               <div class="col-10 col-lg-11">
                  <div class="c-infection"> Depletion of menstrual blood (Krichrartava)</div>
               </div>
             </div>           
             <div class="row">
                <div class="col-1 col-lg-1">
                    <span><img src="././assets/images/nxt-arrow.png"> </span>
                </div>
                <div class="col-10 col-lg-11">
                    <div class="c-infection"> Ease after release of rajas (Vimukta sukha)</div>
                </div>
              </div>
              <div class="row">
                  <div class="col-1 col-lg-1">
                      <span><img src="././assets/images/nxt-arrow.png"> </span>
                  </div>
                  <div class="col-10 col-lg-11">
                      <p class="c-infection">Pain (Ruk)</p>
                  </div>
              </div>
              <div class="row">
                <div class="col-1 col-lg-1">
                    <span><img src="././assets/images/nxt-arrow.png"> </span>
                </div>
                <div class="col-10 col-lg-11">
                    <p class="c-infection">Uterine cramps (Yoniprapeedana)</p>
                </div>
              </div>
              <div class="clear20"></div>
            </div> 
          </div>
        <!-- <div class="row m-0">
            <div class="col-12 col-lg-3 text-center">
                <img src="././assets/images/fever.png">  
                <div class="clear"></div>
                <span class="pfever">Fever</span>
            </div> 
            <div class="col-12 col-lg-3 text-center">
                <img src="././assets/images/urenety-pain.png">  
                <div class="clear"></div>
                <span class="pfever">Dysuria or pain
                   <br/>
                   while urinating
                    </span>
            </div>
            <div class="col-12 col-lg-3 text-center">
                <img src="././assets/images/urination.png">  
                <div class="clear"></div>
                <span class="pfever">Increased 
                    frequency  <br/>
                    of urination
                    </span>
            </div>
            <div class="col-12 col-lg-3 text-center">
                <img src="././assets/images/lower-abdomen.png">  
                <div class="clear"></div>
                <span class="pfever">Pain in Lower 
                   <br/>   Abdomen
                    </span>
            </div>
          </div> 
    -->
   
    <div class="clear"></div>
  </div>
  
  </section> 
  <div class="clear40"></div>
  <div class="clear40"></div>
  <section id="PreventionDiagnosis" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms">
  <div class="container">
      <h1>Do you know what actually<br> 
          causes Dysmenorrhoea</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
      <p class="text-center ptractinfection">The vitiation of the three doshas can be caused by the following factors.</p>
      <div class="clear"></div>
      <div class="clear20"></div>
     
      <div class="row hscroll hidden-md">
        <div class="col-4 col-md-3 offset-md-1 text-center">
          <img src="././assets/images/meal-time.png">
          <div class="clear20"></div>
          <label class="pfever">Irregular meal times</label>
        </div>
        <div class="col-4 col-md-3 text-center">
            <img src="././assets/images/e-exercise.png">
            <div class="clear20"></div>
            <label class="pfever">Excessive exercises</label>
        </div>
        <div class="col-4 col-md-3 text-center">
            <img src="././assets/images/sendetary-lifestyle.png">
            <div class="clear20"></div>
            <label class="pfever">Sedentary lifestyle</label>
        </div>  
        <div class="col-4 col-md-3 offset-md-1 text-center">
          <img src="././assets/images/anger-dys.png">
          <div class="clear20"></div>
          <label class="pfever">Anger</label>
        </div>
        <div class="col-4 col-md-3 text-center">
            <img src="././assets/images/grief.png">
            <div class="clear20"></div>
            <label class="pfever">Grief</label>
        </div>
        <div class="col-4 col-md-3 text-center">
            <img src="././assets/images/stress-dys.png">
            <div class="clear20"></div>
            <label class="pfever">Stress</label>
        </div> 
      </div>

      
      <div class="row hidden-xs">
        <div class="col-4 col-md-3 offset-md-1 text-center">
          <img src="././assets/images/meal-time.png">
          <div class="clear20"></div>
          <label class="pfever">Irregular meal times</label>
        </div>
        <div class="col-4 col-md-3 text-center">
            <img src="././assets/images/e-exercise.png">
            <div class="clear20"></div>
            <label class="pfever">Excessive exercises</label>
        </div>
        <div class="col-4 col-md-3 text-center">
            <img src="././assets/images/sendetary-lifestyle.png">
            <div class="clear20"></div>
            <label class="pfever">Sedentary lifestyle</label>
        </div>
      </div>
      <div class="clear20"></div>
      <div class="row hidden-xs">
          <div class="col-4 col-md-3 offset-md-1 text-center">
            <img src="././assets/images/anger-dys.png">
            <div class="clear20"></div>
            <label class="pfever">Anger</label>
          </div>
          <div class="col-4 col-md-3 text-center">
              <img src="././assets/images/grief.png">
              <div class="clear20"></div>
              <label class="pfever">Grief</label>
          </div>
          <div class="col-4 col-md-3 text-center">
              <img src="././assets/images/stress-dys.png">
              <div class="clear20"></div>
              <label class="pfever">Stress</label>
          </div>
        </div>
     
      <div class="clear"></div>
      <div class="topping_spac">
        
          <div class="all_benefits pt-3">
            <p>Want to get all the Benefits of <br>
              Ayurveda? Get a Free consultation!</p>
            <span>Book Your Appointment now in 3 Easy Steps</span>
          </div>
    
          <div class="all_benefits all_benefits2 text-center">
            <button class="btn btn-primary mb-2 SignBtn" type="button" routerLink="../patientloginpage">book appointment</button>
            <p class="ORTExt">Or </p>
            <p>call 1800 572 8000</p>
          </div>
     
      </div>
    </div>
    </section> 
    <div class="clear40"></div>
    <div class="clear40"></div>
    <section class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms ">
        <h1 class="text-center">Dysmenorrhea & the Doshas   </h1>
        <div class="clear"></div>
        <div class="text-center">
          <img src="././assets/images/big_border.png">
        </div> 
        <p class="text-center ptractinfection">Kashtatarva is a vata predominant tridoshavyadhi (imbalance of the vata, pitta and kapha)  </p>
      <div class="clear20"></div>
      <div class="container">
      <div class="text-center row hscroll">
          <div class="article_div col-4">
            <img class="mx-auto d-block img-fluid" src="././assets/images/Kapha.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>Kapha</span>
              <div class="clear10"></div>
              <p>5.	Clotting of the menstrual blood <BR/>(baddha artava) can make the expulsion <BR/>of the blood difficult; this is due to<BR/> kapha dosha.</p>
            </div>
            <div class="clear50"></div>
            <button class="btn read_more rmposition">READ MORE</button>
          </div>
  
          <div class="article_div col-4">
            <img class="mx-auto d-block img-fluid" src="././assets/images/Pita.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>PITA</span>
              <div class="clear10"></div>
              <p>Manjistha acts as an excellent blood <BR/>cleanser, helps in eradicating pita, and <BR/>gently builds the blood. Anantamul is...
                  </p>
            </div>
            <div class="clear10"></div>
            <button class="btn read_more rmposition">READ MORE</button>
          </div>
  
          <div class="article_div col-4">
            <img class="mx-auto d-block img-fluid" src="././assets/images/Vata.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span> VATA</span>
              <div class="clear10"></div>
              <p>The aggravation of vata dosha causes<BR/> pain in any part of the body. This aggra-<BR/>vation can be due to three main reasons...</p>
            </div>
            <div class="clear30"></div>
            <button class="btn read_more rmposition">READ MORE</button>
          </div>
      </div>
      <div class="clear40"></div>
      <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <label class="minitues">Take our 3 Minute Dosha Test</label>
          <div class="clear30"></div>
          <div class="col-12 col-lg-12 text-center">
              <button class="btn  read_more1 ">calculate now</button>
          </div>
        </div> -->
    </div>
    <div class="clear"></div>
    <div class="container">
        <div class="topping_spac">
        
       <span class="call-queries1">Call 1800 572 8000</span> <span class="call-queries">  to get in touch with our 
            Health Experts & resolve your Health Queries</span>  
        
       
          </div>
        </div>
      </section> 
      <div class="clear40"></div>
<section class="Yoga_AurvedaSection Yoga_AurvedaSymptoms">
    <h1>Preventions for Dysmenorrhoea</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
     
    <div class="clear"></div>
    <div class="clear40"></div>
   <div class="container">
    <div class="row m-0 hscroll">
        <div class="col-sm-3 col-lg-3 text-center ">
            <img src="././assets/images/spicy-hot.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Avoid spicy, hot<br>
                & salty food
                </span>
        </div> 
        <div class="col-sm-3 col-lg-3 text-center">
            <img src="././assets/images/caffeine.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever"> Avoid caffeine,<br>
                smoking, and alcohol 
                </span>
        </div>
        <div class="col-sm-3 col-lg-3 text-center ">
            <img src="././assets/images/physical-exer.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Avoid physical<br> 
                exertion
                </span>
        </div>
        <div class="col-sm-3 col-lg-3 text-center ">
            <img src="././assets/images/dys-asleep.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Avoid sleep
                during<br>  the day
                </span>
        </div>
       
      </div> 
    </div>
    <div class="clear"></div>
  </section> 

<div class="clear40"></div><div class="clear40"></div>
<section class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms">
    <h1 class="text-center">How Dysmenorrhoea is Identified<br>
        in the Human Body </h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
  <div class="clear20"></div>
  <div class="container">

    <div class="text-center row hidden-md hscroll">
        <div class="article_div-human col-4">
            <img class="mx-auto d-block img-fluid" src="././assets/images/blood-sample.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>Blood Routine<br> 
                  Test</span>
              <div class="clear10"></div>
            </div>
            <div class="clear50"></div>
            <button class="btn read_more rmposition">READ MORE</button>
          </div>
    
          <div class="article_div-human col-4">
            <img class="mx-auto d-block img-fluid" src="././assets/images/bp-monitoring.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>Blood sugar<br>
                  evaluation</span>
              <div class="clear10"></div>
            </div>
            <div class="clear10"></div>
            <button class="btn read_more rmposition">READ MORE</button>
          </div>
    
          <div class="article_div-human col-4">
            <img class="mx-auto d-block img-fluid" src="././assets/images/urin-sample.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span> Assessment of<br>
                  vaginal fluid </span>
              <div class="clear10"></div>
            </div>
            <div class="clear30"></div>
            <button class="btn read_more rmposition">READ MORE</button>
          </div>
          
              <div class="article_div-human col-4">
                <img class="mx-auto d-block img-fluid" src="././assets/images/Ultrasonography.png">
                <div class="clear10"></div>
                <div class="infor">
                  <div class="clear10"></div>
                  <span>Ultrasonography<br>
                      of the pelvis</span>
                    
                  <div class="clear10"></div>
                </div>
                <div class="clear50"></div>
                <button class="btn read_more rmposition">READ MORE</button>
              </div>
        
              <div class="article_div-human col-4">
                <img class="mx-auto d-block img-fluid" src="././assets/images/dys-ctscan.png">
                <div class="clear10"></div>
                <div class="infor">
                  <div class="clear10"></div>
                  <span>CT scan of the pelvis
                      </span>
                  <div class="clear10"></div>
                </div>
                <div class="clear10"></div>
                <button class="btn read_more rmposition">READ MORE</button>
              </div>
        
              <div class="article_div-human col-4">
                <img class="mx-auto d-block img-fluid" src="././assets/images/laparoscopy.png">
                <div class="clear10"></div>
                <div class="infor">
                  <div class="clear10"></div>
                  <span> laparoscopy<br>
                      with biopsy 
                     </span>
                  <div class="clear10"></div>
                </div>
                <div class="clear30"></div>
                <button class="btn read_more rmposition">READ MORE</button>
              </div>
    </div>

  <div class="text-center row hidden-xs">
      <div class="article_div-human col-4">
        <img class="mx-auto d-block img-fluid" src="././assets/images/blood-sample.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>Blood Routine<br> 
              Test</span>
          <div class="clear10"></div>
        </div>
        <div class="clear50"></div>
        <button class="btn read_more rmposition">READ MORE</button>
      </div>

      <div class="article_div-human col-4">
        <img class="mx-auto d-block img-fluid" src="././assets/images/bp-monitoring.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>Blood sugar<br>
              evaluation</span>
          <div class="clear10"></div>
        </div>
        <div class="clear10"></div>
        <button class="btn read_more rmposition">READ MORE</button>
      </div>

      <div class="article_div-human col-4">
        <img class="mx-auto d-block img-fluid" src="././assets/images/urin-sample.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span> Assessment of<br>
              vaginal fluid </span>
          <div class="clear10"></div>
        </div>
        <div class="clear30"></div>
        <button class="btn read_more rmposition">READ MORE</button>
      </div>

     
  </div>
</div>
  <div class="clear20"></div>
  <div class="container">
      <div class="text-center row hidden-xs">
          <div class="article_div-human col-4">
            <img class="mx-auto d-block img-fluid" src="././assets/images/Ultrasonography.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>Ultrasonography<br>
                  of the pelvis</span>
                
              <div class="clear10"></div>
            </div>
            <div class="clear50"></div>
            <button class="btn read_more rmposition">READ MORE</button>
          </div>
    
          <div class="article_div-human col-4">
            <img class="mx-auto d-block img-fluid" src="././assets/images/dys-ctscan.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>CT scan of the pelvis
                  </span>
              <div class="clear10"></div>
            </div>
            <div class="clear10"></div>
            <button class="btn read_more rmposition">READ MORE</button>
          </div>
    
          <div class="article_div-human col-4">
            <img class="mx-auto d-block img-fluid" src="././assets/images/laparoscopy.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span> laparoscopy<br>
                  with biopsy 
                 </span>
              <div class="clear10"></div>
            </div>
            <div class="clear30"></div>
            <button class="btn read_more rmposition">READ MORE</button>
          </div>
    
         
      </div>
    </div>
<div class="clear"></div>
  </section> 


<div class="clear40"></div>
<div class="clear40"></div>
<section id="AyurvedaApproach" class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms">
    <h1 class="text-center">Ayurvedic Approach to Manage Dysmenorrhea</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
    <p class="text-center ptractinfection">In Ayurvedic texts, dysmenorrhea (kashtartava) is not explained as a separate disease, but it is comparable to udavartini yoni vyapada</p>
  <div class="clear20"></div>
  <div class="container">
      <div class="row">
        <div class="col-sm-3 col-lg-3">

        </div>
        <div class="col-sm-6 col-lg-6">
          <div class="row hscroll">
              <div class="col-sm-6 col-lg-6">
                  <div class="text-center">
                      <div class="article_div1">
                        <img class="mx-auto d-block img-fluid" src="././assets/images/ayurvedic-drug.png">
                        <div class="clear10"></div>
                        <div class="infor">      
                          <div class="clear10"></div>
                          <label class="utitop">Ayurvedic herbal<br>
                              & drug therapy</label>
                        </div>
                        <div class="clear10"></div>
                      </div>
                  </div>
                </div>
                <div class="col-sm-6 col-lg-6">
                    <div class="text-center">
                        <div class="article_div1">
                          <img class="mx-auto d-block img-fluid" src="././assets/images/panchkarma.png">
                          <div class="clear10"></div>
                          <div class="infor">      
                            <div class="clear10"></div>
                            <label class="utitop">Panchakarma<br>
                                Therapy</label>
                          </div>
                          <div class="clear10"></div>
                        </div>
                    </div>
                  </div>
          </div>
        </div>   
      </div>
 
  
  
  <div class="clear30"></div>
  <div class="col-12 col-lg-12 text-center lfst-box">
    <label class="lyfestyle-mgmt">Lifestyle Management</label>
  </div>
  <div class="clear40"></div>
  <div class="row hscroll">
    <div class="col-3 col-lg-3 text-center">
      <img src="././assets/images/Diet.png">
      <div class="clear20"></div>
      <label class="lyfestyle-mgmt">DIET</label>
    </div>
    <div class="col-3 col-lg-3 text-center">
        <img src="././assets/images/running.png">
        <div class="clear20"></div>
        <label class="lyfestyle-mgmt">Exercise</label>
      </div>
      <div class="col-3 col-lg-3 text-center">
          <img src="././assets/images/pranayam.png">
          <div class="clear20"></div>
          <label class="lyfestyle-mgmt">Pranayama</label>
        </div>
        <div class="col-3 col-lg-3 text-center">
            <img src="././assets/images/yoga-ramdevbaba.png">
            <div class="clear20"></div>
            <label class="lyfestyle-mgmt">Yoga</label>
          </div>
  </div>
</div>
<div class="clear"></div>

  </section> 
<div class="clear40"></div>
<!-- <section class="dosha">
  <div class="dosham">
    <p>As Dysmenorrhoea is mainly caused by the vitiated vata. 
        The vata must be brought back to the normal state and 
        spontaneously the disease will be managed.<br>
        To maintain the effects of the ayurvedic therapy, certain 
        lifestyle modifications are mandatory. 
          </p>
    
        
       <h5>-      Pranayama</h5> 
       <h5>-      Apathya</h5> 
       <h5>-      Dietary Measures</h5>    
       <h5>-      Yoga-</h5> 
         
       <div class="clear20"></div> 
     
  </div>
  <div class="clear"></div>
  <div class="clear40"></div>
  <div class="clear40"></div>
  <div class="clear40"></div>
 
</section>  -->
<section class="HomeDisplayNone">
  <div class="container">
      <div class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms deal-areabg"> 

          <h1 class="text-center">Home Remedies</h1>
          <div class="clear"></div>
          <div class="text-center">
            <img src="././assets/images/big_border.png">
          </div> 
         
      <div class="clear"></div>
      <div class="clear20"></div>
      <div class="deal_area">
          <div class=" mb-4">
            <div class="shadoo1 mx-0">
              <div class="card tab_card2 mx-0 small_div BorderradiusLeft">
                <div class=" BorderradiusLeft card-body {{tabs[0].active}}" (click)="openCity(0)">
                  <div class="border_div">
                    <span> asafetida             </span>
                  </div>
                </div>
              </div>
              <div class="card tab_card mx-0">
                <div class="card-body {{tabs[1].active}}" (click)="openCity(1)">
                  <div class="border_div">
                    <span>garlic          </span>
                  </div>
                </div>
              </div>
              <div class="card tab_card1 mx-0 BorderradiusRight">
                <div class=" BorderradiusRight card-body  {{tabs[2].active}} " (click)="openCity(2)">
                  <div class="border_div ">
                    <span>Ginger</span>
                  </div>
                </div>
              </div>
      
              <div class="card tab_card2 mx-0 BorderradiusRight">
                  <div class=" BorderradiusRight card-body  {{tabs[3].active}} " (click)="openCity(3)">
                    <div class="border_div ">
                      <span>  sesame seeds</span>
                    </div>
                  </div>
                </div>
                <div class="card tab_card mx-0 BorderradiusRight">
                    <div class=" BorderradiusRight card-body  {{tabs[4].active}} " (click)="openCity(4)">
                      <div class="border_div ">
                        <span>  chamomile tea </span>
                      </div>
                    </div>
                  </div>
              <div class="card tab_card3 mx-0 BorderradiusRight">
                  <div class=" BorderradiusRight card-body  {{tabs[5].active}} " (click)="openCity(5)">
                    <div class="border_div HiddenBorder">
                      <span> heating pad </span>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        
          <div class="{{tabs[0].tabcontent}} p-0 TabContentBox paddingTabContentDiv BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
               <div class="row">
                 <div class="col-6 col-lg-6 hr-tabdiv">
                   <p class="tab-p">Consume a paste made up of 
                      asafetida (hingu) fried in ghee three times daily. </p>
                 </div>
                 <div class="col-6 col-lg-6">
                   <img class="img-fluid" src="././assets/images/dys-hr.png">
                 </div>
               </div>
              </div>
            </div>
          </div>
        
          <div class="{{tabs[1].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
              <div class="">
                  <div class="tab1ContentBox">
                   <div class="row">
                     <div class="col-6 col-lg-6 hr-tabdiv">
                       <p class="tab-p">Consume a paste made up of 
                          asafetida (hingu) fried in ghee three times daily. </p>
                     </div>
                     <div class="col-6 col-lg-6">
                       <img class="img-fluid" src="././assets/images/dys-hr.png">
                     </div>
                   </div>
                  </div>
                </div>
          </div>
        
          <div class="{{tabs[2].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
              <div class="">
                  <div class="tab1ContentBox">
                   <div class="row">
                     <div class="col-6 col-lg-6 hr-tabdiv">
                       <p class="tab-p">Consume a paste made up of 
                          asafetida (hingu) fried in ghee three times daily. </p>
                     </div>
                     <div class="col-6 col-lg-6">
                       <img class="img-fluid" src="././assets/images/dys-hr.png">
                     </div>
                   </div>
                  </div>
                </div>
          </div>
      
          <div class="{{tabs[3].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
              <div class="">
                  <div class="tab1ContentBox">
                   <div class="row">
                     <div class="col-6 col-lg-6 hr-tabdiv">
                       <p class="tab-p">Consume a paste made up of 
                          asafetida (hingu) fried in ghee three times daily. </p>
                     </div>
                     <div class="col-6 col-lg-6">
                       <img class="img-fluid" src="././assets/images/dys-hr.png">
                     </div>
                   </div>
                  </div>
                </div>
            </div>
      
            <div class="{{tabs[4].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
                <div class="">
                    <div class="tab1ContentBox">
                     <div class="row">
                       <div class="col-6 col-lg-6 hr-tabdiv">
                         <p class="tab-p">Consume a paste made up of 
                            asafetida (hingu) fried in ghee three times daily. </p>
                       </div>
                       <div class="col-6 col-lg-6">
                         <img class="img-fluid" src="././assets/images/dys-hr.png">
                       </div>
                     </div>
                    </div>
                  </div>
              </div>
        
          <div class="{{tabs[5].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
              <div class="">
                  <div class="tab1ContentBox">
                   <div class="row">
                     <div class="col-6 col-lg-6 hr-tabdiv">
                       <p class="tab-p">Consume a paste made up of 
                          asafetida (hingu) fried in ghee three times daily. </p>
                     </div>
                     <div class="col-6 col-lg-6">
                       <img class="img-fluid" src="././assets/images/dys-hr.png">
                     </div>
                   </div>
                  </div>
                </div>
            </div>
        </div> 
      
      </div> 
  </div>
</section>
<div class="clear40"></div>
<section id="Complications" class="Yoga_AurvedaSection">
  <div class="container">
    <div class="clear40"></div>
  <h1>Complications in Dysmenorrhoea</h1>
  <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
  <p class="text-center ptractinfection">Dysmenorrhoea can lead to complications such as  </p>
  <div class="clear"></div>
  
  <div class="row m-0 ">
 
  
  <div class="Yoga_Ayurveda_RightDiv col-sm-6 col-lg-6">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row hscroll">
      <div class="col-sm-6 offset-md-6 col-md-6 col-lg-6 offset-lg-6">
        <img src="././assets/images/menor-girl.png">
        <div class="clear20"></div>
        <label class="pfever">Menorrhagia</label>
      </div>

        <div class="col-sm-6 offset-md-6 col-md-6 col-lg-6 offset-lg-6">
            <img src="././assets/images/infertility.png">
            <div class="clear20"></div>
            <label class="pfever">Infertility</label> 
        </div>
      </div>
    </div>
    </div> 
    <div class="Yoga_Ayurveda_RightDiv col-sm-4 col-lg-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12  comp-contentbx1">
       
       <div class="row">
         <div class="col-1 col-lg-1">
            <span><img src="././assets/images/nxt-arrow.png"> </span>
         </div>
         <div class="col-10 col-lg-10">
            <p class="c-infection">Tumor (gulma) </p>
         </div>
       </div>
       <div class="row">
          <div class="col-1 col-lg-1">
              <span><img src="././assets/images/nxt-arrow.png"> </span>
          </div>
          <div class="col-10 col-lg-10">
              <p class="c-infection">
                  Piles (arsha)</p>
          </div>
        </div>
        <div class="row">
            <div class="col-1 col-lg-1">
                <span><img src="././assets/images/nxt-arrow.png"> </span>
            </div>
            <div class="col-10 col-lg-10">
                <p class="c-infection"> 
                    Menorrhagia, excessive or<br> 
                    irregular menstruation (asrigdara) </p>
            </div>
        </div>
        <div class="row">
          <div class="col-1 col-lg-1">
              <span><img src="././assets/images/nxt-arrow.png"> </span>
          </div>
          <div class="col-10 col-lg-10">
              <p class="c-infection">
                  Infertility (vandhyatwa) 
                  </p>
          </div>
        </div>
      </div>
       
         
      </div> 
  
</div>
  <div class="clear"></div>
</div>

</section> 

  <section id="RelatedProducts" class="Yoga_AurvedaSectionrp Yoga_AurvedaSymptoms">
      <h1 class="text-center">Related Products</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
     
  <div class="clear"></div>
  <div class="clear20"></div>
<div class="container">
  <div class="row">
      <div class="col-12 col-sm-6 col-md-6 col-lg-4" *ngFor="let item of recommendation">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 Product_div tab-h text-center padlrn">
          <div class="clear20"></div>
          <img src="{{item.pimg}}">
          <div class="clear10"></div>
          <label class="zl-text">{{item.product}}</label>
          <br>
          <label class="zl-text2">{{item.description}}</label>

          <div class="row">
            <div class="text-center col-6 col-sm-6 col-md-6 col-lg-6 ">
              <label class="">
                <label class="zl-text1">&#8377;</label>
                <label class="zl-text12">{{item.price}}</label>
              </label>
            </div>
            <div class=" col-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <div class="product_img">
                <div class="clear10"></div>
                <div class="order-margin-top2">
                  <i class="fa" (click)="down()">&#xf056;</i>&nbsp;
                  <input [(ngModel)]="spinner" class="input-spinner">&nbsp;
                  <i class="fa" (click)="spinner=spinner+1">&#xf055;</i>
                </div>
              </div>
            </div>
          </div>
          <!-- <span>{{item.offer}}</span> -->
          <div class="clearfix"></div>
          <div class="row">
          <div class="col-12 col-lg-12 text-center">
              <div class="clear20"></div>

              <button class="btn read_morerp">ADD TO CART</button>            
          </div> 
          </div>
          <div class="clear20"></div>       
        </div>
      </div>
  </div>
  <div class="clear20"></div>
  <div class="row">
      <div class="col-12 col-lg-12 text-center">
          <div class="clear20"></div>

          <button class="btn read_morerp" routerLink="../mainproductpage">explore all products</button>            
      </div> 
      </div>
</div> 
</section> 
<div class="clear40"></div>

<div class="clear40"></div>


<div class="clear40"></div>
<section class="Yoga_AurvedaSection-artical Yoga_AurvedaSymptoms">
    <h1 class="text-center">Articles </h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
   
  <div class="clear20"></div>
  <div class="container">
  <div class="text-center row hscroll">
      <div class="article_div-artical text-center col-4">
        <img class="mx-auto d-block img-fluid" src="././assets/images/saffron.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>skin</span>
          <div class="clear10"></div>
          <p>Saffron for<br>
              good health..</p>
        </div>
        <div class="clear50"></div>
        <button class="btn read_more rmposition1">READ MORE</button>
      </div>

      <div class="article_div-artical text-center col-4">
        <img class="mx-auto d-block img-fluid" src="././assets/images/w-food.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>YOGA FOR PAIN</span>
          <div class="clear10"></div>
          <p>14 best & worst...</p>
        </div>
        <div class="clear10"></div>
        <button class="btn read_more rmposition1">READ MORE</button>
      </div>

      <div class="article_div-artical text-center col-4">
        <img class="mx-auto d-block img-fluid" src="././assets/images/b-food.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span> PRANAYAMA</span>
          <div class="clear10"></div>
          <p>14 best & worst... </p>
        </div>
        <div class="clear30"></div>
        <button class="btn read_more rmposition1">READ MORE</button>
      </div>
  </div>
  <div class="clear40"></div>
</div>
<div class="clear"></div>

  </section> 



  <div class="container">
      <div class="topping_spac">
        
          <div class="all_benefits pt-3">
            <p>Want to get all the Benefits of <br>
              Ayurveda? Get a Free consultation!</p>
            <span>Book Your Appointment now in 3 Easy Steps</span>
          </div>
    
          <div class="all_benefits all_benefits2 text-center">
            <button class="btn btn-primary mb-2 SignBtn" type="button" routerLink="../patientloginpage">book appointment</button>
            <p class="ORTExt">Or </p>
            <p>call 1800 572 8000</p>
          </div>
     
        </div>
      </div>





<div class="">
  <app-main-footer></app-main-footer>
</div>


<!-- The Modal -->
<div class="modal {{nomodel}}">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body text-center py-5">
        <span class="modeltitle">COMING SOON</span>
        <img src="././assets/images/model_border.png">
        <p class="pt-3">Your Dosha Calculator</p>
        <div class="smlltxt pb-4">We’ll Notify You Via Mail</div>
        <button type="button" class="btn closingbtn" data-dismiss="modal" (click)="closed()">OK</button>
      </div>
    </div>
  </div>
</div>