<app-navigation *ngIf="showHeader"></app-navigation>
<section class="home-top pt-5"> 
    <app-floating></app-floating>
  <div class="container "> 
      <h1 class="main_title">Diabetes</h1>
    <h1 class="main_title2">“The fastest growing Disease in India”</h1>

    <div class="clearfix"></div>
<div class="clear20"></div>
<div class="HedingMapContentBox col-12 col-lg-9">
  <div class="row m-0" >
      <div class="col-lg-4">
        <div class="col-12 col-lg-12 text-center">
          <img src="././assets/images/diabetes-w.png">
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-12 col-lg-4 padlrn">
        <div class="col-12 col-md-6 col-sm-8  col-lg-12 text-left padlrn ResCenter">
          <div class="row">
            <div class="col-6 col-lg-6  Around50Text2 Around50Text  text-center">
              <p>India represents  
              </p>
              <h1>49%</h1>
            </div>
            <div class="col-6 col-md-6  col-lg-6 m-l-25 padlrn">
              <div class="clear10"></div>
                <div class="BorderBotton"></div>
                <p>of the world’s 
                    diabetic burden. 
                    </p>
              
              </div>
          </div>
          <div class="BorderBotton"></div>
        </div>
      </div>
      <div class="col-md-6 col-sm-8 col-12 col-lg-4 ResCenter ResMT20">
          <div class="col-12 col-lg-12">
            <div class="row">
              <div class="col-6 col-sm-6 col-lg-6 m-t-18">
                  <h1 class="seventytwo">72</h1>
                  <p class="million"> million</p>
                   
              </div> 
              <div class="col-6 col-sm-6 col-lg-6 Around50Text2 Around50Text padlrn m-l-50">
                    <p>cases of diabetes
                      were reported in
                      the year 2017</p>     
              </div> 
          </div>  
                  <div class="clear"></div>
          <div class="col-8 col-lg-11 padln">
            <div class="BorderBotton"></div>
          </div>
                  
          </div>
        </div>
       
  </div>


</div>
<div class="clear20"></div>
  <div class="DibetectSection">
      <div class="DibeticLeft" (click)="scrollTo('Overview')">
        <img src="././assets/images/noun-health.png">
        <p class="m-0">Overview</p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('SymptomsCauses')">
        <img src="././assets/images/noun-medical.png">
        <p class="m-0">Symptoms &amp; Causes  </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('PreventionDiagnosis')" >
        <img src="././assets/images/noun-bacteria.png">
        <p class="m-0"> Prevention &amp; Diagnosis </p>
      </div>
      <div class="DibeticLeft"  (click)="scrollTo('AyurvedaApproach')">
        <img src="././assets/images/noun-herbal-medicine.png">
        <p class="m-0"> Ayurveda Approach </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('Complications')" >
        <img src="././assets/images/noun-healt.png">
        <p class="m-0"> Complications </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('RelatedProducts')">
          <img src="././assets/images/noun-medicine10.png">
          <p class="m-0">    Related Products </p>
        </div>
    
  
    </div>
 
<div class="clear"></div>
</div>
</section>
<div class="container">
  <!-- <div class="zanduservicemain">
    <div class="card-deck px-5">
      <div class="card zanduservice">
        <div class="card-body">
          <p class="card-text">Sign up to get <br>
            Zandu Services FREE!</p>
        </div>
      </div>
      <div class="card zanduservice text-center">
        <div class="card-body">
          <button class="btn FbBtn" type="button"><img alt="facebook" class="mr-2" src="././assets/images/facebook.png">
            Login With Facebook</button>
        </div>
      </div>
      <div class="card zanduservice text-left">
        <div class="card-body ">
          <button class="btn  GoogleBtn" type="button"><img _ngcontent-c1="" alt="google" class="mr-2" src="././assets/images/google.png">
            Sign up with Google</button>
        </div>
      </div>
      <div class="card zanduservice mr-4">
        <div class="card-body ">
          <span>Call us @</span>
          <h5>9999 8888 22</h5>
        </div>
      </div>
    </div>
  </div> -->
</div>
<div class="clear"></div>

<section id="Overview" class="Yoga_AurvedaSection">

  <h1>What is Diabetes?</h1>
  <div class="clear"></div>
  <div class="text-center">
    <img src="././assets/images/big_border.png">
  </div> 
  <div class="row m-0">
  <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6 hidden text-center DisplayNone">
      <img class="w-100" src="././assets/images/sugar-test.png">
  </div>
  <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6 textcenter">
    <h5>Diabetes is a chronic metabolic disorder in which there is accumulation of excess sugar in blood. </h5>
    <p>It can be due to:</p>
   <div class="row ResMainDiv">
      <div class="col-6 col-lg-4 text-center ResScroll">
          <img class="img-fluid" src="././assets/images/decreasedInsulin.png">
          <p class="wht-dp">Decreased Insulin
            production by the
            pancreas
            </p>
         </div>
         <div class="col-6 col-lg-4 text-center ResScroll">
            <img class="img-fluid" src="././assets/images/decreasedGlucose.png">
            <p class="wht-dp">Decreased glucose
                uptake by the
                body cells                
                </p>
          </div>
   </div>
   <div class="col-12 col-sm-12 col-md-12 col-lg-12 textcenter">
    <button class="btn btn-primary mb-2 mt-4 SignBtn " type="button" routerLink="../DibetiesRead">read more</button>
   </div>
   
  </div> 
</div>
  <div class="clear"></div>
  

</section> 
<section id="SymptomsCauses" class="Yoga_AurvedaSection12 Yoga_AurvedaSymptoms symptoms-uti">
  <div class="container">
    <h1 class="text-center">Symptoms of Diabetes</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
    <p class="text-center ptractinfection">Diabetes is a chronic disease. This condition is diagnosed late because the chief symptoms,<br>
        such as increased urination, is evident only during the later stages of the disease. According to Ayurveda,<br>
        the following symptoms become evident due to the aggravation of the doshas:   </p>
        <div class="row m-0">
            <div class="Yoga_Ayurveda_RightDiv col-md-12 col-lg-6 DisplayNone">
                <img class="w-100" src="././assets/images/smpts-ofd.png">
            </div>
            <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6 comp-contentbx">
              <div class="clear20"></div>
              <p class="sop">Symptoms of  Prediabetes</p>
             <div class="row">
               <div class="col-1 col-lg-1">
                  <span><img src="././assets/images/nxt-arrow.png"> </span>
               </div>
               <div class="col-11 col-lg-11">
                  <div class="c-infection">Excess thirst</div>
               </div>
             </div>           
             <div class="row">
                <div class="col-1 col-lg-1">
                    <span><img src="././assets/images/nxt-arrow.png"> </span>
                </div>
                <div class="col-11 col-lg-11">
                    <div class="c-infection">
                        Excess sweating</div>
                </div>
              </div>
              <div class="row">
                  <div class="col-1 col-lg-1">
                      <span><img src="././assets/images/nxt-arrow.png"> </span>
                  </div>
                  <div class="col-11 col-lg-11">
                      <p class="c-infection">  Sensation of sweetness in mouth
                        </p>
                  </div>
              </div>
              <div class="row">
                <div class="col-1 col-lg-1">
                    <span><img src="././assets/images/nxt-arrow.png"> </span>
                </div>
                <div class="col-11 col-lg-11">
                    <p class="c-infection">
                        Weakness and fatigue
                      </p>
                </div>
              </div>
              <div class="row">
                <div class="col-1 col-lg-1">
                    <span><img src="././assets/images/nxt-arrow.png"> </span>
                </div>
                <div class="col-11 col-lg-11">
                    <p class="c-infection">
                        Accumulation of waste on the teeth</p>
                </div>
              </div> 
              <div class="row">
                  <div class="col-1 col-lg-1">
                      <span><img src="././assets/images/nxt-arrow.png"> </span>
                  </div>
                  <div class="col-11 col-lg-11">
                      <div class="c-infection">Burning sensation in feet and hands</div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-1 col-lg-1">
                        <span><img src="././assets/images/nxt-arrow.png"> </span>
                    </div>
                    <div class="col-11 col-lg-11">
                        <p class="c-infection"> Excessive growth of hair, and nails </p>
                    </div>
                </div>
                <div class="row">
                  <div class="col-1 col-lg-1">
                      <span><img src="././assets/images/nxt-arrow.png"> </span>
                  </div>
                  <div class="col-11 col-lg-11">
                      <p class="c-infection">
                          Dryness and coarseness of hair
                        </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-1 col-lg-1">
                      <span><img src="././assets/images/nxt-arrow.png"> </span>
                  </div>
                  <div class="col-11 col-lg-11">
                      <p class="c-infection"> Bees and ants getting attracted to body and urine</p>
                  </div>
                </div> 
              <div class="clear20"></div>
              <p class="sop">Symptoms of  Diabetes</p>
              <div class="c-infection">
                  In addition to the above symptoms, the following signs 
                  are seen in patients with diabetes     
              </div>
              <div class="row">
                  <div class="col-1 col-lg-1">
                      <span><img src="././assets/images/nxt-arrow.png"> </span>
                  </div>
                  <div class="col-11 col-lg-11">
                      <p class="c-infection">
                          Excessive urination (Prabhoot mutrata)
                        </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-1 col-lg-1">
                      <span><img src="././assets/images/nxt-arrow.png"> </span>
                  </div>
                  <div class="col-11 col-lg-11">
                      <p class="c-infection">Turbid urine (Avilmutrata)</p>
                  </div>
                </div> 
            </div> 
          </div>
        <!-- <div class="row m-0">
            <div class="col-12 col-lg-3 text-center">
                <img src="././assets/images/fever.png">  
                <div class="clear"></div>
                <span class="pfever">Fever</span>
            </div> 
            <div class="col-12 col-lg-3 text-center">
                <img src="././assets/images/urenety-pain.png">  
                <div class="clear"></div>
                <span class="pfever">Dysuria or pain
                   <br/>
                   while urinating
                    </span>
            </div>
            <div class="col-12 col-lg-3 text-center">
                <img src="././assets/images/urination.png">  
                <div class="clear"></div>
                <span class="pfever">Increased 
                    frequency  <br/>
                    of urination
                    </span>
            </div>
            <div class="col-12 col-lg-3 text-center">
                <img src="././assets/images/lower-abdomen.png">  
                <div class="clear"></div>
                <span class="pfever">Pain in Lower 
                   <br/>   Abdomen
                    </span>
            </div>
          </div> 
    -->
   
    <div class="clear"></div>
  </div>
  
  </section> 
  <section id="PreventionDiagnosis" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms mt-5">
  <div class="container">
      <h1>Do you know what actually <br>
          causes Diabetes</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
      <p class="text-center ptractinfection">Diabetes is a chronic metabolic disorder in which there is accumulation of excess sugar in blood.</p>
     
      <div class="clear"></div>
      <div class="clear20"></div>
      <div class="row m-0 ResMainDiv">
        <div class="div1 text-center ResScroll">
            <img class="ResImgHeight" src="././assets/images/smoking.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <div class="ImgText">
            <span class="pfever">Smoking</span> 
            </div>
        </div> 
        <div class="div2 text-center ResScroll">
            <img class="ResImgHeight" src="././assets/images/e-sleeping.png">  
            <div class="clear"></div>
            <div class="clear10"></div> 
            <div class="ImgText">
            <span class="pfever">Excessive Sleeping</span> 
            </div>
        </div>
        <div class="div3 text-center ResScroll">
            <img class="ResImgHeight" src="././assets/images/sitting.png">  
            <div class="clear"></div>
            <div class="clear10"></div> 
            <div class="ImgText">
            <span class="pfever">Prolonged Sitting<br>
                on Cushioned Surface 
                </span> 
              </div>
        </div>
        <div class="div4 text-center ResScroll">
            <img class="ResImgHeight" src="././assets/images/urg-urin.png">  
            <div class="clear"></div>
            <div class="clear10"></div> 
            <div class="ImgText">
            <span class="pfever">Suppressing Urge<br>
                to Urine
               </span> 
               </div>
        </div>
        <div class="div5 text-center ResScroll">
            <img class="ResImgHeight" src="././assets/images/stress.png">  
            <div class="clear"></div>
            <div class="clear10"></div> 
            <div class="ImgText">
            <span class="pfever">Excess Stress
               </span> 
               </div>
        </div>  
        <div class="div1 text-center WebHide ResScroll">
          <img class="ResImgHeight" src="././assets/images/fire-food.png">  
          <div class="clear"></div>
          <div class="clear10"></div> 
          <div class="ImgText">
          <span class="pfever">Fried Food
              </span> 
              </div>
      </div> 
      <div class="div2 text-center WebHide ResScroll">
          <img class="ResImgHeight" src="././assets/images/sugary-food.png">  
          <div class="clear"></div>
          <div class="clear10"></div> 
          <div class="ImgText">
          <span class="pfever">Sugary Food</span> 
          </div>
      </div>
      <div class="div3 text-center WebHide ResScroll">
          <img class="ResImgHeight" src="././assets/images/aquqtic-animal.png">  
          <div class="clear"></div>
          <div class="clear10"></div> 
          <div class="ImgText">
          <span class="pfever">Aquatic Animal<br>
              Meat 
              </span> 
              </div>
      </div>
      <div class="div4 text-center WebHide ResScroll">
          <img class="ResImgHeight" src="././assets/images/sugarcane-juce.png">  
          <div class="clear"></div>
          <div class="clear10"></div> 
          <div class="ImgText">
          <span class="pfever">Sugarcane Juice
             </span> 
             </div>
      </div>
      <div class="div5 text-center WebHide ResScroll">
          <img class="ResImgHeight" src="././assets/images/extra-fat.png">  
          <div class="clear"></div>
          <div class="clear10"></div> 
          <div class="ImgText">
          <span class="pfever">Extra fat<br>
              Dairy Food
             </span> 
             </div>
      </div>
      </div> 
     <div class="clear10"></div>
     <div class="row m-0">
        <div class="div1 text-center DisplayNone">
            <img src="././assets/images/fire-food.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Fried Food
                </span>
        </div> 
        <div class="div2 text-center DisplayNone">
            <img src="././assets/images/sugary-food.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Sugary Food</span>
        </div>
        <div class="div3 text-center DisplayNone">
            <img src="././assets/images/aquqtic-animal.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Aquatic Animal<br>
                Meat 
                </span>
        </div>
        <div class="div4 text-center DisplayNone">
            <img src="././assets/images/sugarcane-juce.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Sugarcane Juice
               </span>
        </div>
        <div class="div5 text-center DisplayNone">
            <img src="././assets/images/extra-fat.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Extra fat<br>
                Dairy Food
               </span>
        </div>
      </div> 
      <div class="clear"></div>
      
     
      <div class="topping_spac">
        
          <div class="all_benefits pt-3">
            <p>Want to get all the Benefits of <br>
              Ayurveda? Get a Free consultation!</p>
            <span>Book Your Appointment now in 3 Easy Steps</span>
          </div>
    
          <div class="all_benefits all_benefits2 text-center">
            <button class="btn btn-primary mb-2 SignBtn" type="button" routerLink="../patientloginpage">consult ayurvedic <br>doctor</button>
            <p class="ORTExt">Or </p>
            <p>call 1800 572 8000 </p>
          </div>
     
      </div>
    </div>
    </section> 
  
    <div class="clear40"></div>
    <div class="clear40"></div>
    <section class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms ">
        <h1 class="text-center">Diabetes & the Doshas  </h1>
        <div class="clear"></div>
        <div class="text-center">
          <img src="././assets/images/big_border.png">
        </div> 
        <p class="text-center ptractinfection">In Ayurveda, diabetes has been categorized as a type of Prameha which refer to a group of disorders <br>
            that cause excessive urination and causes abnormal changes in the characteristics of urine.   </p>
      <div class="clear20"></div>
      <div class="container">
      <div class="text-center ResMainDiv">
          <div class="article_div ResScroll">
            <img class="mx-auto d-block img-fluid" src="././assets/images/Kapha.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>Kapha</span>
              <div class="clear10"></div>
              <p>Diabetes is known to start with the <br>
                  aggravation with kapha which spread all<br>
                   over the body and mixes with meda<br>
                    </p>
            </div>
            <div class="clear50"></div>
            <button class="btn read_more rmposition" (click)="setNav('Kapha')" routerLink="../DibetiesRead" fragment="Kapha">READ MORE</button>
          </div>
  
          <div class="article_div ResScroll">
            <img class="mx-auto d-block img-fluid" src="././assets/images/Pita.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>PITA</span>
              <div class="clear10"></div>
              <p>Pita is believed to be the prime reason<br> for excessive urination. Aggravation can<br> lead to problems in the development of<br> bone marrow, body tissues, nutritional elements and hormones.
                  </p>
            </div>
            <div class="clear10"></div>
            <button class="btn read_more rmposition" (click)="setNav('Kapha')" routerLink="../DibetiesRead">READ MORE</button>
          </div>
  
          <div class="article_div ResScroll">
            <img class="mx-auto d-block img-fluid" src="././assets/images/Vata.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span> VATA</span>
              <div class="clear10"></div>
              <p>According to Ayurveda, vataja prameha is<br> similar to type 1 diabetes which is<br>
                  hereditary and has no cure. This is<br>
                  further divided into 4 subtypes. </p>
            </div>
            <div class="clear30"></div>
            <button class="btn read_more rmposition" (click)="setNav('Kapha')" routerLink="../DibetiesRead">READ MORE</button>
          </div>
      </div>
      <div class="clear"></div>
      
     
      <div class="clear40"></div>
      <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <label class="minitues">Take our 3 Minute Dosha Test</label>
          <div class="clear30"></div>
          <div class="col-12 col-lg-12 text-center">
              <button class="btn  read_more1 ">calculate now</button>
          </div>
        </div> -->
    </div>
    <div class="clear"></div>
    <div class="container">
        <div class="topping_spac">
        
       <span class="call-queries1">Call 1800 572 8000 </span> <span class="call-queries">  to get in touch with our 
            Health Experts & resolve your Health Queries</span>  
        
       
          </div>
        </div>
      </section> 



<div class="clear"></div>
<div class="clear40"></div>
<section id="PreventionDiagnosis" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms mt-5">
  <div class="container">
      <h1>Prevention for Diabetes</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
      <p class="text-center ptractinfection">The following prevention has been recommended for diabetes</p>
     
      <div class="clear"></div>
      <div class="clear20"></div>
      <div class="row m-0 ResMainDiv">
        <div class="div1 text-center ResScroll">
            <img class="ResImgHeight" src="././assets/images/cereals.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <div class="ImgText">
            <span class="pfever">Cereals: Include barley, wheat and bajra</span> 
            </div>
        </div> 
        <div class="div2 text-center ResScroll">
            <img class="ResImgHeight" src="././assets/images/pulsesn.png">  
            <div class="clear"></div>
            <div class="clear10"></div> 
            <div class="ImgText">
            <span class="pfever">Pulses:  Green gram (green moong), chana,pigeon pea (tuvar dal)</span> 
            </div>
        </div>
        <div class="div3 text-center ResScroll">
            <img class="ResImgHeight" src="././assets/images/vegeatables.png">  
            <div class="clear"></div>
            <div class="clear10"></div> 
            <div class="ImgText">
            <span class="pfever">Vegetables: All bitter vegetables- bitter gourd (karela), fenugreek (methi), garlic (rason), cluster figs(udumbar)
                </span> 
              </div>
        </div>
        <div class="div4 text-center ResScroll">
            <img class="ResImgHeight" src="././assets/images/fruitsn.png">  
            <div class="clear"></div>
            <div class="clear10"></div> 
            <div class="ImgText">
            <span class="pfever">Fruits: Grossberry (Amala), black plums(jamun), palm sugar, palm dates
               </span> 
               </div>
        </div>
        <div class="div5 text-center ResScroll">
            <img class="ResImgHeight" src="././assets/images/spices.png">  
            <div class="clear"></div>
            <div class="clear10"></div> 
            <div class="ImgText">
            <span class="pfever">Spices: such as peppers, ginger, mustard seeds 
               </span> 
               </div>
        </div>  
      </div> 
     <div class="clear10"></div>
      <div class="clear"></div>
      
     
     
    </div>
    </section> 
    <div class="clear40"></div>
<section class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms">
    <h1 class="text-center">How Diabetes is Identified
        in the Human Body </h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
  <div class="clear20"></div>
  <div class="container">
  <div class="text-center ResMainDiv">
      <div class="article_div-human ResScroll">
        <img class="mx-auto d-block img-fluid" src="././assets/images/hba1cBloodTest.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>HbA1c blood<br> test</span>
          <div class="clear10"></div>
          <p>HbA1c forms when hemoglobin in the blood combines with glucose in blood...</p>
        </div>
        <div class="clear50"></div>
        <button class="btn read_more rmposition HumanBodyBtn" routerLink="../DibetiesRead">READ MORE</button>
      </div>

      <div class="article_div-human ResScroll">
        <img class="mx-auto d-block img-fluid" src="././assets/images/fastingPlasma.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>Fasting plasma glucose test</span>
          <div class="clear10"></div>
          <p>In this test, the patient’s blood sugar level is measured after the patient...</p>
        </div>
        <div class="clear10"></div>
        <button class="btn read_more rmposition HumanBodyBtn" routerLink="../DibetiesRead">READ MORE</button>
      </div>

      <div class="article_div-human ResScroll">
        <img class="mx-auto d-block img-fluid" src="././assets/images/postPrandial.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span> Post prandial glucose test</span>
          <div class="clear10"></div>
          <p>In this test, blood sugar is measured after you have had your meal...  </p>
        </div>
        <div class="clear30"></div>
        <button class="btn read_more rmposition HumanBodyBtn" routerLink="../DibetiesRead">READ MORE</button>
      </div>

      <div class="article_div-human ResScroll">
        <img class="mx-auto d-block img-fluid" src="././assets/images/diabetestest.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span> Oral glucose 
            tolerance test</span>
          <div class="clear10"></div>
          <p>In this test, the patient’s blood sugar is measured after 8 hours... </p>
        </div>
        <div class="clear30"></div>
        <button class="btn read_more rmposition HumanBodyBtn" routerLink="../DibetiesRead">READ MORE</button>
      </div>
     
  </div>

</div>
<div class="clear"></div>
  </section> 
<div class="clear"></div>
<div class="clear40"></div>
<div class="clear40"></div>
<section id="AyurvedaApproach" class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms">
    <h1 class="text-center">Ayurvedic Approach to Manage Diabetes</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
    <p class="text-center ptractinfection">Ayurveda has a holistic approach towards managing a disease. Management of diabetes in Ayurveda involves the following:  </p>
  <div class="clear20"></div>
  <div class="container">
      <div class="row">
        <div class="col-12 col-lg-3">

        </div>
        <div class="col-12 col-lg-6">
          <div class="row ResMainDiv">
              <div class="col-8 col-sm-7 col-md-6 col-lg-6 ResScroll">
                  <div class="text-center">
                      <div class="article_div1">
                        <img class="mx-auto d-block img-fluid" src="././assets/images/ayurvedic-drug.png">
                        <div class="clear10"></div>
                        <div class="infor">      
                          <div class="clear10"></div>
                          <label class="utitop">Ayurvedic herbal<br>
                              & drug therapy</label>
                        </div>
                        <div class="clear10"></div>
                      </div>
                  </div>
                </div>
                <div class="col-8 col-sm-7 col-md-6 col-lg-6 ResScroll">
                    <div class="text-center">
                        <div class="article_div1">
                          <img class="mx-auto d-block img-fluid" src="././assets/images/panchkarma.png">
                          <div class="clear10"></div>
                          <div class="infor">      
                            <div class="clear10"></div>
                            <label class="utitop">Panchakarma<br>
                                Therapy</label>
                          </div>
                          <div class="clear10"></div>
                        </div>
                    </div>
                  </div>
          </div>
        </div>   
      </div>
 
  
  
  <div class="clear30"></div>
  <div class="col-12 col-lg-12 text-center lfst-box">
    <label class="lyfestyle-mgmt">Lifestyle Management</label>
  </div>
  <div class="clear40"></div>
  <div class="row ResMainDiv">
    <div class="col-7 col-sm-7 col-md-3 col-lg-3 text-center ResScroll">
      <img src="././assets/images/Diet.png">
      <div class="clear10"></div>
      <label class="lyfestyle-mgmt">DIET</label>
    </div>
    <div class="col-7 col-sm-7 col-md-3 col-lg-3 text-center ResScroll">
        <img src="././assets/images/running.png">
        <div class="clear20"></div>
        <label class="lyfestyle-mgmt">Exercise</label>
      </div>
      <div class="col-7 col-sm-7 col-md-3 col-lg-3 text-center ResScroll">
          <img src="././assets/images/pranayam.png">
          <div class="clear20"></div>
          <label class="lyfestyle-mgmt">Pranayama</label>
        </div>
        <div class="col-7 col-sm-7 col-md-3 col-lg-3 text-center ResScroll">
            <img src="././assets/images/yoga-ramdevbaba.png">
            <div class="clear20"></div>
            <label class="lyfestyle-mgmt">Yoga</label>
          </div>
  </div>

</div>
<div class="clear"></div>

  </section> 
<div class="clear40"></div>
<!-- <section class="dosha">
  <div class="dosham">
    <p>In Ayurveda, the main aim of the treatment is correcting the 
        vitiated dosha.  Various methods are available in Ayurveda to 
        treat diabetes.<br>
        Ayurveda has a holistic approach towards managing a disease. 
        It aims at not only treating the disease but a patient as a whole.
        Management of diabetes in Ayurveda involves the following:
          </p>
    
        
       <h5>-      Herbal Therapy</h5> 
       <h5>-      Ayurvedic Drug Therapy</h5> 
       <h5>-      Dietary Measures</h5>    
       <h5>-      Yoga</h5> 
       <h5>-      Sleep</h5>        
       <div class="clear20"></div> 
      
       <div class="col-12 col-lg-12">
          <button _ngcontent-c1="" class="btn read_more rmposition">READ MORE</button>
          <div class="clear40"></div>
       </div>
    
  </div>
  <div class="clear"></div>
  
</section> -->
<section class="HomeDisplayNone">
  <div class="container">
      <div class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms deal-areabg">
          <h1 class="text-center">Home Remedies</h1>
          <div class="clear"></div>
          <div class="text-center">
            <img src="././assets/images/big_border.png">
          </div> 
         
      <div class="clear"></div>
      <div class="clear20"></div>
      <div class="deal_area">
          <div class=" mb-4">
            <div class="shadoo1 mx-0">
              <div class="card tab_card2 mx-0 small_div BorderradiusLeft">
                <div class=" BorderradiusLeft card-body {{tabs[0].active}}" (click)="openCity(0)">
                  <div class="border_div">
                    <span> Sleep and Diabetes   </span>
                  </div>
                </div>
              </div>
              <div class="card tab_card mx-0">
                <div class="card-body {{tabs[1].active}}" (click)="openCity(1)">
                  <div class="border_div">
                    <span> Dietary Measures  </span>
                  </div>
                </div>
              </div>
              <div class="card tab_card1 mx-0 BorderradiusRight">
                <div class=" BorderradiusRight card-body  {{tabs[2].active}} " (click)="openCity(2)">
                  <div class="border_div ">
                    <span>YOGA</span>
                  </div>
                </div>
              </div>
    
              <div class="card tab_card2 mx-0 BorderradiusRight">
                  <div class=" BorderradiusRight card-body  {{tabs[3].active}} " (click)="openCity(3)">
                    <div class="border_div ">
                      <span> CEREALS & VEGETABLES    </span>
                    </div>
                  </div>
                </div>
                <div class="card tab_card mx-0 BorderradiusRight">
                    <div class=" BorderradiusRight card-body  {{tabs[4].active}} " (click)="openCity(4)">
                      <div class="border_div ">
                        <span>GINGER PASTE</span>
                      </div>
                    </div>
                  </div>
              <div class="card tab_card3 mx-0 BorderradiusRight">
                  <div class=" BorderradiusRight card-body  {{tabs[5].active}} " (click)="openCity(5)">
                    <div class="border_div HiddenBorder">
                      <span>TURMERIC</span>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        
          <div class="{{tabs[0].tabcontent}} p-0 TabContentBox paddingTabContentDiv BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
               <div class="row">
                 <div class="col-12 col-sm-12 col-md-12 col-lg-6 hr-tabdiv textcenter">
                   <p class="tab-p">Studies suggest that good sleep and meditation helps to regain hormonal balance and effective blood sugar control.</p>
                 </div>
                 <div class="col-md-6 col-lg-6 DisplayNone">
                   <img class="img-fluid" src="././assets/images/d-homer.png">
                 </div>
               </div>
              </div>
            </div>
          </div>
        
          <div class="{{tabs[1].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
               <div class="row">
                 <div class="col-md-12 col-lg-6 col-12 col-sm-12 hr-tabdiv textcenter">
                   <p class="tab-p">Studies suggest that good sleep and meditation helps to regain hormonal balance and effective blood sugar control.</p>
                 </div>
                 <div class="col-md-6 col-lg-6 DisplayNone">
                   <img class="img-fluid" src="././assets/images/d-homer.png">
                 </div>
               </div>
              </div>
            </div>
          </div>
        
          <div class="{{tabs[2].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
               <div class="row">
                 <div class="col-md-12 col-lg-6 col-12 col-sm-12 hr-tabdiv textcenter">
                   <p class="tab-p">Studies suggest that good sleep and meditation helps to regain hormonal balance and effective blood sugar control.</p>
                 </div>
                 <div class="col-md-6 col-lg-6 DisplayNone">
                   <img class="img-fluid" src="././assets/images/d-homer.png">
                 </div>
               </div>
              </div>
            </div>
          </div>
    
          <div class="{{tabs[3].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
               <div class="row">
                 <div class="col-md-12 col-lg-6 col-12 col-sm-12 hr-tabdiv textcenter">
                   <p class="tab-p">Studies suggest that good sleep and meditation helps to regain hormonal balance and effective blood sugar control.</p>
                 </div>
                 <div class="col-md-6 col-lg-6 DisplayNone">
                   <img class="img-fluid" src="././assets/images/d-homer.png">
                 </div>
               </div>
              </div>
            </div>
            </div>
    
            <div class="{{tabs[4].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
              <div class="">
                <div class="tab1ContentBox">
                 <div class="row">
                   <div class="col-md-12 col-lg-6 hr-tabdiv col-12 col-sm-12 textcenter">
                     <p class="tab-p">Studies suggest that good sleep and meditation helps to regain hormonal balance and effective blood sugar control.</p>
                   </div>
                   <div class="col-md-6 col-lg-6 DisplayNone">
                     <img class="img-fluid" src="././assets/images/d-homer.png">
                   </div>
                 </div>
                </div>
              </div>
              </div>
        
          <div class="{{tabs[5].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
               <div class="row">
                 <div class="col-md-12 col-lg-6 col-12 col-sm-12 hr-tabdiv textcenter">
                   <p class="tab-p">Studies suggest that good sleep and meditation helps to regain hormonal balance and effective blood sugar control.</p>
                 </div>
                 <div class="col-md-6 col-lg-6 DisplayNone">
                   <img class="img-fluid" src="././assets/images/d-homer.png">
                 </div>
               </div>
              </div>
            </div>
            </div>
        </div>
      </div> 
  </div>
</section>
<div class="clear20"></div>
<section id="Complications" class="Yoga_AurvedaSection mt-0 Complications">
  <div class="container">
    <div class="clear"></div>
  <h1>Complications in Diabetes</h1>
  <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
  <p class="text-center ptractinfection">Based on the predominant dosha, which has caused diabetes, the following complications are observed,  </p>
  <div class="clear"></div>
  
  <div class="row m-0">
 
  <div class="Yoga_Ayurveda_RightDiv col-lg-4">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12  comp-contentbx1">
    <div class="col-12 col-lg-12 text-center">
        <label class="cnd-htext">KAPHA</label>
    </div>
    <hr>
   <div class="row">
     <div class="col-1 col-lg-1">
        <span><img src="././assets/images/nxt-arrow.png"> </span>
     </div>
     <div class="col-11 col-lg-10">
        <p class="c-infection">Indigestion </p>
     </div>
   </div>
   <div class="row">
      <div class="col-1 col-lg-1">
          <span><img src="././assets/images/nxt-arrow.png"> </span>
      </div>
      <div class="col-11 col-lg-10">
          <p class="c-infection">Loss of appetite</p>
      </div>
    </div>
    <div class="row">
        <div class="col-1 col-lg-1">
            <span><img src="././assets/images/nxt-arrow.png"> </span>
        </div>
        <div class="col-11 col-lg-10">
            <p class="c-infection">Nausea </p>
        </div>
    </div>
    <div class="row">
      <div class="col-1 col-lg-1">
          <span><img src="././assets/images/nxt-arrow.png"> </span>
      </div>
      <div class="col-11 col-lg-10">
          <p class="c-infection">Excessive sleep</p>
      </div>
    </div>
    <div class="row">
      <div class="col-1 col-lg-1">
          <span><img src="././assets/images/nxt-arrow.png"> </span>
      </div>
      <div class="col-11 col-lg-10">
          <p class="c-infection">Cough</p>
      </div>
    </div>
    <div class="row">
        <div class="col-1 col-lg-1">
            <span><img src="././assets/images/nxt-arrow.png"> </span>
        </div>
        <div class="col-11 col-lg-10">
            <p class="c-infection">
                Cold with runny nose
                </p>
        </div>
      </div>
  
  </div>
   
     
  </div> 
  <div class="Yoga_Ayurveda_RightDiv col-lg-4">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12  comp-contentbx1">
      <div class="col-12 col-lg-12 text-center">
          <label class="cnd-htext">PITA</label>
      </div>
      <hr>
     <div class="row">
       <div class="col-1 col-lg-1">
          <span><img src="././assets/images/nxt-arrow.png"> </span>
       </div>
       <div class="col-11 col-lg-10">
          <p class="c-infection">Pain in bladder and urinary tract </p>
       </div>
     </div>
     <div class="row">
        <div class="col-1 col-lg-1">
            <span><img src="././assets/images/nxt-arrow.png"> </span>
        </div>
        <div class="col-11 col-lg-10">
            <p class="c-infection">
                Pain in testes</p>
        </div>
      </div>
      <div class="row">
          <div class="col-1 col-lg-1">
              <span><img src="././assets/images/nxt-arrow.png"> </span>
          </div>
          <div class="col-11 col-lg-10">
              <p class="c-infection">Fever </p>
          </div>
      </div>
      <div class="row">
        <div class="col-1 col-lg-1">
            <span><img src="././assets/images/nxt-arrow.png"> </span>
        </div>
        <div class="col-11 col-lg-10">
            <p class="c-infection">Burning sensation</p>
        </div>
      </div>
      <div class="row">
        <div class="col-1 col-lg-1">
            <span><img src="././assets/images/nxt-arrow.png"> </span>
        </div>
        <div class="col-11 col-lg-10">
            <p class="c-infection">Acidity</p>
        </div>
      </div>
      <div class="row">
          <div class="col-1 col-lg-1">
              <span><img src="././assets/images/nxt-arrow.png"> </span>
          </div>
          <div class="col-11 col-lg-10">
              <p class="c-infection">
                  Giddiness
                  </p>
          </div>
      </div>
      <div class="row">
          <div class="col-1 col-lg-1">
              <span><img src="././assets/images/nxt-arrow.png"> </span>
          </div>
          <div class="col-11 col-lg-10">
              <p class="c-infection">Diarrhoea</p>
          </div>
        </div>
        <div class="row">
          <div class="col-1 col-lg-1">
              <span><img src="././assets/images/nxt-arrow.png"> </span>
          </div>
          <div class="col-11 col-lg-10">
              <p class="c-infection">Pain in chest</p>
          </div>
        </div>
        <div class="row">
            <div class="col-1 col-lg-1">
                <span><img src="././assets/images/nxt-arrow.png"> </span>
            </div>
            <div class="col-11 col-lg-10">
                <p class="c-infection">
                    Insomnia
                    </p>
            </div>
        </div>
    </div>
     
       
    </div> 
    <div class="Yoga_Ayurveda_RightDiv col-lg-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12  comp-contentbx1">
        <div class="col-12 col-lg-12 text-center">
            <label class="cnd-htext">VATA</label>
        </div>
        <hr>
       <div class="row">
         <div class="col-1 col-lg-1">
            <span><img src="././assets/images/nxt-arrow.png"> </span>
         </div>
         <div class="col-11 col-lg-10">
            <p class="c-infection">Tremor </p>
         </div>
       </div>
       <div class="row">
          <div class="col-1 col-lg-1">
              <span><img src="././assets/images/nxt-arrow.png"> </span>
          </div>
          <div class="col-11 col-lg-10">
              <p class="c-infection">Gripping pain in chest</p>
          </div>
        </div>
        <div class="row">
            <div class="col-1 col-lg-1">
                <span><img src="././assets/images/nxt-arrow.png"> </span>
            </div>
            <div class="col-11 col-lg-10">
                <p class="c-infection">Pain </p>
            </div>
        </div>
        <div class="row">
          <div class="col-1 col-lg-1">
              <span><img src="././assets/images/nxt-arrow.png"> </span>
          </div>
          <div class="col-11 col-lg-10">
              <p class="c-infection">Insomnia</p>
          </div>
        </div>
        <div class="row">
          <div class="col-1 col-lg-1">
              <span><img src="././assets/images/nxt-arrow.png"> </span>
          </div>
          <div class="col-11 col-lg-10">
              <p class="c-infection">Wasting</p>
          </div>
        </div>
        <div class="row">
            <div class="col-1 col-lg-1">
                <span><img src="././assets/images/nxt-arrow.png"> </span>
            </div>
            <div class="col-11 col-lg-10">
                <p class="c-infection">
                    Cough
                    </p>
            </div>
          </div>
          <div class="row">
              <div class="col-1 col-lg-1">
                  <span><img src="././assets/images/nxt-arrow.png"> </span>
              </div>
              <div class="col-11 col-lg-10">
                  <p class="c-infection">
                      Difficulty to breath</p>
              </div>
            </div>
      </div>
       
         
      </div> 
</div>
  <div class="clear"></div>
</div>

</section> 
<div class="clear20"></div>

  <section id="RelatedProducts" class="Yoga_AurvedaSectionrp Yoga_AurvedaSymptoms">
      <h1 class="text-center">Related Products</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
     
  <div class="clear"></div>
  <div class="clear20"></div>
  <!-- ----------------------------------------Diabetes.component.html----------------------------- -->

<div class="container" >
  <!-- <div> -->
  <div class="row" *ngIf="visibleCategory">
  <div class="col-12 col-sm-12 col-md-4 col-lg-4 mrgnt10"  *ngFor="let data of visibleCategory">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 Product_div tab-h text-center padlrn" *ngIf="visibleCategory.length!=0">
          <div class="clear20"></div>
          <div class="WhiteBox">
        <div (click)="getProductDetails(data.id)" >
            <img src="{{data.imageUrl}}" width="199" height="194">
            <div class="clear10"></div>
            <label class="zl-text cursor">{{data.name}}</label>
        </div>
      </div>
         <br>
        <div class="row">
            <div class="text-center col-12 col-sm-12 col-md-6 col-lg-6 ">
              <label class="">
                <label class="zl-text1">&#8377;</label>
                <label class="zl-text12">{{data.selling}}</label>
              </label>
            </div>
            <div class=" col-12 col-sm-12 col-md-6 col-lg-6 text-left">
              <div class="product_img">
                <div class="clear10"></div>
                <div class="order-margin-top2"> 
               
                  <i *ngIf="data.qty!=0" class="fa" (click)="reduce(data)"><img src="././assets/images/SpinnerMinus.png"></i>&nbsp;
                  <input [(ngModel)]="data.qty" class="input-spinner" >&nbsp;
                  <i class="fa" (click)=" add(data)"><img src="././assets/images/SpinnerPluse.png"></i>
                </div>
              </div>
            </div>
          </div>
  
          <div class="clearfix"></div>
          <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmpositionnew">
              <div class="clear20"></div>
              <button class="btn  read_morerp AddToCartBtn" (click)="addToCart(data)" type="button">add
                  to cart</button>
            
          </div> 
          </div>
          <div class="clear20"></div>       
        </div>
      </div>
  </div>
  <div  class="row " *ngIf="visibleCategory.length==0">
      <div class="col-12 col-lg-12 text-center">
          <div class="clear20"></div>
          <h6>No Products Found...</h6>
      </div> 
    
    </div>
<!-- </div> -->
  <div class="clear20"></div>
  <div class="row" *ngIf="visibleCategory.length!=0">
      <div class="col-12 col-lg-12 text-center">
          <div class="clear20"></div>
          <button class="btn read_morerp" routerLink="../mainproductpage">explore all products</button>            
      </div> 
      </div>
</div>
  <div class="clear10"></div> 
</section> 
<!-- <div class="clear40"></div> -->

<div class="clear40"></div>

<div class="clear40"></div>
<!-- <section class="Yoga_AurvedaSection Yoga_AurvedaSymptoms">
    <h1>Preventions for Diabetes</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
     
    <div class="clear"></div>
    <div class="clear40"></div>
   
    <div class="row m-0 ResMainDiv">
        <div class="col-md-6 col-lg-4 text-center padlr20 ResScroll">
            <img src="././assets/images/fiber-food.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Eat High Fiber<br>
                contents Food
                </span>
        </div> 
        <div class="col-md-6 col-lg-4 text-center ResScroll">
            <img src="././assets/images/sufficent-intek.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Sufficient intake<br> 
                of Fluids
                </span>
        </div>
        <div class="col-md-6 col-lg-4 text-left padl20 ResScroll">
            <img src="././assets/images/lossbody-fat.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Lose excess<br> 
                Body Fat 
                </span>
        </div>
       
      </div> 

      
    <div class="clear"></div>
  </section>  -->



<div class="clear"></div>
<section class="Yoga_AurvedaSection-artical Yoga_AurvedaSymptoms mt-0 Complications">
    <h1 class="text-center">Articles </h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
   
  <div class="clear20"></div>
  <div class="container">
  <div class="text-center ResMainDiv">
      <div class="article_div-artical ResScroll">
        <img class="mx-auto d-block img-fluid" src="././assets/images/Dibeties1.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>DIABETES</span>
          <div class="clear10"></div>
          <p>Top 9 Measures To<br/> Prevent Foot... </p>
        </div>
        <div class="clear50"></div> 
        <div class="BtnRes">
        <button class="btn read_more rmposition1 ArticlesBtn" routerLink="../DiabetesTopTipsArticles">READ MORE</button>
      </div>
    </div>

      <div class="article_div-artical ResScroll">
        <img class="mx-auto d-block img-fluid" src="././assets/images/Dibeties2.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>Gurmar</span>
          <div class="clear10"></div>
          <p>Gurmaar, also<br/> known as...</p>
        </div>
        <div class="clear10"></div> 
        <div class="BtnRes">
        <button class="btn read_more rmposition1 ArticlesBtn" routerLink="../GurmarDiabetes">READ MORE</button>
      </div>
      </div>

      <!-- <div class="article_div-artical text-center">
        <img class="mx-auto d-block img-fluid" src="././assets/images/b-food.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span> PRANAYAMA</span>
          <div class="clear10"></div>
          <p>14 best & worst<br> foods for your ... </p>
        </div>
        <div class="clear30"></div>
        <button class="btn read_more rmposition1" routerLink="../DibetiesRead">READ MORE</button>
      </div> -->
  </div>
 
  <div class="clear40"></div>
</div>
<div class="clear"></div>
  </section> 
  <div class="container">
      <div class="topping_spac">
          <div class="all_benefits pt-3">
            <p>Want to get all the Benefits of <br>
              Ayurveda? Get a Free consultation!</p>
            <span>Book Your Appointment now in 3 Easy Steps</span>
          </div>
          <div class="all_benefits all_benefits2 text-center">
            <button class="btn btn-primary mb-2 SignBtn" type="button" routerLink="../patientloginpage">consult ayurvedic <br>doctor</button>
            <p class="ORTExt">Or </p>
            <p>call 1800 572 8000</p>
          </div>
        </div>
      </div>
<div class="">
  <app-main-footer></app-main-footer>
</div>
<!-- The Modal -->
<div class="modal {{nomodel}}">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body text-center py-5">
        <span class="modeltitle">COMING SOON</span>
        <img src="././assets/images/model_border.png">
        <p class="pt-3">Your Dosha Calculator</p>
        <div class="smlltxt pb-4">We’ll Notify You Via Mail</div>
        <button type="button" class="btn closingbtn" data-dismiss="modal" (click)="closed()">OK</button>
      </div>
    </div>
  </div>
</div>