.formContent{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); 
    width: 55%;

margin: 0 auto;
} 
.InputEmail{
    width: 58%;

float: left;
} 
.Btn1{
    background: #bccf60;
    font-family: 'TrajanPro-Bold';
color: #402909;
font-size: 14px;
padding: 1% 5%;
}



.FormText{
    font-size: 14px;
    background-color: #fbf8ee !important;
}  
.overlayBG{
    background: rgba(0, 0, 0, 0.5); 
    width: 100%;
    float: left; 
    height: 750px; 
}
.ContentTextBox h3{
    font-family: 'TrajanPro-Regular';
}
.TransperentBtn{
    background-color: transparent;
box-shadow: none;
border: 1px solid #d9b065;
border-radius: 10px;
color: #402909;
height: 63px;
width: 198px;
font-family: 'TrajanPro-Bold';
} 
.SocialIcon{
    /* width: 33%; */
    width: 50%;
    float: left;
    cursor: pointer
}
.SocialIconContentBox{
    /* width: 60%; */
    width: 31%;
    margin: 0 auto;
}
.AccountText{
font-size: 18px; 
font-family: 'PlayfairDisplay-Bold';
}
.ConnectWithText{
    font-size: 16px; 
    font-family: 'PlayfairDisplay-Regular';
}
.card{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    width: 35%;
    text-align: center;
    margin: 0 auto; 
    position: absolute; 
    top: 89px;
    left: 276px;
    }   
    .card2{
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        width: 35%;
        text-align: center;
        margin: 0 auto; 
        position: absolute; 
        top: 89px;
        right: -37px;
        } 
    .bgcolor{
        width: 100%;
        float: left; 
        height: 750px; 
        background: url("../../../assets/images/loginBG.png") no-repeat; 
        background-size: cover;
    } 
    .card-body{
        padding: 10% 10%;
    }
    .EmailID{
        border-radius: 0px; 
        float: left;
        width: 100%;
    } 
    .btn-primary:not(:disabled):not(.disabled):active{
        background-color: #cfa15a;
        box-shadow: none;
    }
    .SignBtn, .SignBtn:active, .SignBtn:hover, .SignBtn:focus{
        font-family: 'TrajanPro-Bold';
    background-color: #cfa15a;
   border: 0px;
    box-shadow: 0px 0px 15px #ccc;
    margin: 0 auto; 
    width: 198px;
    height: 63px;
font-size: 15px;
font-weight: bold;
color: #402909;
outline: 1px solid #c29a5d;
outline-offset: -11px;
border-radius: 10px;
-moz-outline-radius: 10px;
    } 
 
  
    a{color:inherit;
    cursor: pointer;}

    .bot-a-font{
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
      }
     /*---------------- ///////////////////////////////------------------- */  
     .LoginContentBox{
        margin: 0 auto;
        
         position: relative; 
         margin-top: 10%;
         border-radius: 10px;
     }  
     .LineImg {
        width: 31%;
        }
     .form-control11{
        border-radius: 5px;
        padding: 11px 10px 11px 50px;
         font-family: 'TrajanPro-Regular'; 
         height: 47px; 
         background-image: url("../../../assets/images/upDropDown.png"), url(/assets/images/healthArea.png) ; 
         background-position: 318px center, 20px center; 
         background-repeat: no-repeat, no-repeat;
     }  
     .OTPSelected{
         border-bottom: none; 
         border-radius: 5px; 
         background: #fbf8ee;
       
     } 
     .termcondi input[type=checkbox] {
        outline: 2px solid #d6ad66;
      }
     /* .form-control1{
        background:  no-repeat  !important;
     }  */
     .form-control2{
        background: url(/assets/images/Mailicon.png) no-repeat 20px center;
     } 
     .form-control22{
        background: url(/assets/images/smartphone-call.png) no-repeat 20px center;
     } 
     .form-control3{
        background: url(/assets/images/PasswordIcon.png) no-repeat 20px center;
     } 
     .phoneno{
        background: url(/assets/images/smartphone-call.png) no-repeat 20px center;
     } 
     .RightContentBox{
        padding: 6% 4% 6% 9%;
        background: #f9f4e4;
        border-radius: 0px 10px 10px 0px;
        text-align: center;
     } 
     .RightContentBox2{
        padding: 6% 4% 6% 0%;
        background: #f9f4e4;
        border-radius: 10px 0px 0px 10px;
        text-align: center;
     } 
     .ForgetText{
        font-size: 14px; 
        font-family: 'PlayfairDisplay-Regular';
     } 
     .SignBtn2{
        margin-top: 50px;
     } 
.SignUpText{
    font-size: 30px;
    font-family: 'TrajanPro-Bold'; 
    margin-bottom: 0px;
}  
.termcondi {
    font-family: 'PlayfairDisplay-Regular';
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: 0.8px;
    margin-top: 20px;
    color: #333333;
}
.captchaa{
    height: 11px;
    width: 11px;
    margin-right: 10px;
}
.colored{color: #d6ad66}
.capthchadiv{margin: 0 auto;
    width: 87%;}


        .note {
            margin-bottom: 15px;
            padding: 2px 12px;
        }
        
        .danger {
            background-color: #ffdddd;
            border-left: 6px solid #f44336;
        }
        .success {
            background-color: #ddffdd;
            border-left: 6px solid #4CAF50;
        }
        
          .container.scroll {
            display: block;
            padding: 5px;
            margin-top: 5px;
            height: 470px;
            overflow: scroll;
        }  

        .termspointer{
            cursor: pointer;
        }        
        .ENTER-OTP {
            font-family: 'PlayfairDisplay-Regular';
            font-size: 14px;
            line-height: 1;
            letter-spacing: 0.7px;
            color: rgba(64, 41, 9, 0.8);
          }

        .otp_notify{
            height: 12px;
            font-family: 'PlayfairDisplay-Regular';
            font-size: 11px;
            color: #402909;
        }

        .RESEND-OTP{
            object-fit: contain;
            font-family: 'PlayfairDisplay-Regular';
            font-size: 14px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.10;
            letter-spacing: 0.7px;
            text-align: center;
            color: #402909;
            cursor: pointer;
        }

        .partitioned {
            padding-left: 15px;
            letter-spacing: 42px;
            border: 0;
            background-image: linear-gradient(to left, #f9f4d7 70%, rgba(255, 255, 255, 0) 0%); 
            background-position: bottom;
            background-size: 50px 50px;
            background-repeat: repeat-x;
            background-position-x: 35px;
            width: 230px;
            min-width:210px;
            border-radius: 0px;
          }
        
          .partitioned:focus, .partitioned:focus{
              outline: none
          } 
          
          #divInner{
            left: 0;
            position: sticky;
          }
          
          #divOuter{
            width:190px;
            overflow:hidden;
            margin: 0 auto;
          }
            
        @media screen and (min-width: 1px) and (max-width: 380px) { 
            .card{
      
                left: 43px;
            }
        }

        .custom_modal {
            position: fixed !important ;
            top: 0 !important;
            left: 0 !important;
            right: 0 !important;
            background: rgba(0,0,0,0.5);
            z-index: 1 !important;
        }

        .ORTExt{
            font-size: 16px; 
            font-family: 'PlayfairDisplay-Regular';
        } 
        .ORTextLineImg {
            width: 33%;
        } 
        .phNo{
        font-size: 22px;
        font-family: 'TrajanPro-Bold';
        }  
        .ConsultdrText2 {
            font-size: 16px; 
            font-family: 'TrajanPro-Regular';
        }
        .ConsultdrText{
            font-size: 18px; 
            font-family: 'TrajanPro-Regular';
        }
        .alert {
            position: relative;
            padding: 0px 21px;
            border: 0px solid transparent;
            border-radius: 0rem;
            color: red;
            font-weight: 400;
            font-size: 12px;
            margin-top: 5px;
            margin-bottom: 0px;
        }
    
       .text-border{
        border: none; 
        background-color: #fbf8ee; 
        background: url("../../../assets/images/healthArea.png") no-repeat; 
        background-position: 20px center;
padding-left: 42px;
       }
       .swidth {
        border-radius: 0px !important;
       }
       .innersearch p {
       
        padding-bottom: 16px;
        margin-bottom: 0px;
        padding-top: 16px; 
        text-transform: uppercase;
    }
    .bg-white {
        background-color: rgba(30, 28, 28, 0.49) !important;
    color: #ffffff;
    }
        
        @media screen and (min-width: 1px) and (max-width: 1370px) { 
            .LineImg {
                width: 27%;
            }
        } 
             @media screen and (min-width: 1px) and (max-width: 1300px) { 
            
            }  
            @media screen and (min-width: 1px) and (max-width: 1250px) { 
                .navspac .nav-item {
                    padding: 0px;
                   }
                }
            @media screen and (min-width: 1px) and (max-width: 1200px) {  
                .LineImg {
                    width: 22px;
                    
                } 
                .navspac {
                    margin-left: 0%;
                } 
            }  
        
            @media screen and (min-width: 1px) and (max-width: 1150px) {  
              
            .card {
                 left: 216px;
            }
            }  
            @media screen and (min-width: 1px) and (max-width: 1090px) {  
              
                .card {
                    left: 224px;
                }
                }  
        
        
            @media screen and (min-width: 1px) and (max-width: 1060px) {
            .navspac .nav-item {
                margin: 0px 11px;
            }  
            .card {
                left: 196px;
            }
        }
                @media screen and (min-width: 1px) and (max-width: 992px) {  
                    .card {
                        width: 42%;
                        left: 128px;
                    } 
                    .SignUpText {
                        font-size: 22px;
                     
                    }
                    .card2 {
                        right: -165px;
                    }
                    .ContentTextBox h3 {
                       
                        font-size: 18px;
                    } 
                    .navspac .nav-item {
                        padding: 0% 2.3%;
                        margin: 0px 2px;
                    }  
                    .navlink {
                        font-size: 12px;
                      } 
                      .nav-link {
                       
                          font-size: 12px;
                      } 
                } 
                @media screen and (min-width: 768px) and (max-width: 1360px) { 
                    .txtright{
                        float: right;
                    }        
                }
                @media screen and (min-width: 1px) and (max-width: 766px) { 
                    .ContentTextBox {
                        padding: 3%;
                    } 
                    .resLoginSignupMt{
                        margin-top: 48px !important;
                    }
                    .bgcolor {
                          height: 100%;
                    }
                    .overlayBG{
                        background: rgba(0, 0, 0, 0.5); 
                        width: 100%;
                        float: left; 
                        height: auto ; 
                    }
                    .all_benefits2 {
                         width: 100%; 
                        margin-top: 20px;
                    }
                    .card {
                        clear: both;
                        position: relative;
                        top: -26px !important;
                        width: 100%;
                        left: 0px;
                    }
                    .RightContentBox, .RightContentBox2 {
                        margin-top: 415px;
                        padding: 0px;
                        min-height: 0px;
                        border-radius: 5px;
                    }  
                    .RightContentBox2 { 

                    margin-top: 775px;
                }
                    .Rcb2{
                        position: relative;
                        bottom: -250px;
                    }
                    .bgcolor1{
                        display: none;
                    }
                    /* .bgcolor2{
                        display: block;
                        background: url("../../assets/images/lbannew.png") no-repeat;  
                        height: 100%;
                    } */
                    .mrgnt15{
                        margin-top: 15px;
                    }
                    .txtaligncenter{
                        text-align: center;
                    }
                    .card {
                        clear: both;
                        position: relative; 
                        top: 0px; 
                        width: 100%;
                        left: 0px;
                    }  
                    .LoginContentBox {
                        position: absolute;  
                    margin-top: -145px;      
                    } 
                    .RightContentBox, .RightContentBox2 {
                        padding: 0px; 
                        min-height: 0px;
                        height: auto;
                    }
                   .ContainerHeight{
                    height: 990px;
                   } 
                   .otp_notify {
                    padding: 0px 10px;
                    } 
                }
                @media screen and (min-width: 1px) and (max-width: 480px) {  
                    
                    .m-top{
                        margin-top: 90px !important;
                    }
                   
                    .FormText {
                        font-size: 11px;
                        background-color: #fbf8ee !important;
                    }
                    .form-control11 {
                        border-radius: 5px;
                        padding: 0px 45px;
                        font-size: 12px;
                        font-family: 'PlayfairDisplay-Regular';
                    }
                    .card-body {
                        flex: 1 1 auto;
                        padding: 47px 0px 20px 0px;
                    }
                    .RightContentBox {
                        /* padding: 8% 4% 8% 5%; */
                        top: -10px;
                        border-radius: 10px;
                    }
                    .card2  {
                        left: -201px; 
                        width: 76%; 
                      
                    } 
                    .card{
                        width: 100%; 
                        top: 385px;
                        margin: 0px;
                    } 
                    .ContentTextBox{
                        text-align: center;
                    } 
                    .RightContentBox {
                        /* padding: 8% 4% 8% 5%; */
                        top: -69px;
                        border-radius: 10px;
                    } 
                    .RightContentBox2{
                        border-radius: 10px;
                    }
                } 