<app-navigation></app-navigation>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 home-top">
    <app-floating></app-floating>
</div>
<div class="clear"></div>
<div class="container">
  <div class="row m-0">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <p class="blurtxt txtcenter">Punarnava (Boerhaavia diffusa)</p>
      <div class="clear20"></div>
      <p class="txt1 txtcenter">Boerhaavia diffusa is an essential 
        plant used in Ayurveda, Siddha, 
        and Unani system of medicine.</p>
      <div class="clear10"></div>
      <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
      <div class="clear20"></div>
      <p class="topptxt txtcenter">It is a perennial herb that grows in tropical and sub-tropical regions. The plant is used for the treatment of various conditions. It is also consumed as a vegetable in some populations. </p>
      <div class="clear40"></div>
      <div class="row m-0">
        <div class="col-6 col-am-6 col-md-6 col-lg-6 borderright">
          <p class="byUStxt">By U.S. News Staff</p>
        </div>
        <div class="col-6 col-am-6 col-md-6 col-lg-6">
          <label class="byUStxt">Jan 03, 2018 at 7:45 pm</label>
        </div>
      </div>
      <div class="clear40"></div>
      <p class="paratxt1 txtcenter">What is Boerhaavia diffusa?</p>
      <p class="paratxt3 txtcenter">Boerhaavia diffusa is a diffused perennial herb that belongs to the Nyctaginaceae family. It is commonly known as ‘Punarnava,’ that means the one that renews the body. It is a creeping weed found in tropical and sub-tropical regions, including India, Africa, Brazil, Australia, Egypt, China, Pakistan, Sri Lanka, Sudan, Iran, USA, and several countries of the Middle East. The herb grows up to 20-60 cm long with spreading branches. It is found growing in various terrestrial habitats, like managed grasslands, agroecosystems, wastelands, and large forest gaps.
        Punarnava has been used in the Indian medicinal system from time immemorial. Although the root is majorly used for therapeutic purposes, other parts of the plant are also used in the treatment of many diseases.
        </p>
      <div class="clear40"></div>
      <p class="paratxt1 txtcenter">What are the benefits of Boerhaavia diffusa? </p>
      <p class="paratxt3 txtcenter">The aerial parts, leaves, and roots of the plant are used for the treatment of various disorders. Some the benefits of the different parts are listed below:</p>
     
     
     <ul>
       <li>
        The root:
       </li>
       <p class="paratxt3 txtcenter"> 
        It is used to treat conditions like gonorrhea, inflammation of the internal organs, dyspepsia, jaundice, edema, menstrual disorders, liver, anemia, kidney and gallbladder disorders, abdominal pain, enlargement of spleen, abdominal tumors, and other cancers. It also helps to cure corneal ulcers, night blindness and helps restore virility in men.</p>
       <li>
        The juice:
       </li>
       <p class="paratxt3 txtcenter">
        The leaves are used to produce the juice that is useful in ophthalmia. It is also taken orally to relieve muscular pain and as a blood purifier.
        The other benefits of the plant include the treatment of conditions such as paralysis, nervous weakness, cough, constipation, obesity, jaundice, and fever.</p>
      </ul>
      <p class="paratxt1 txtcenter"> What are the medicinal properties of Boerhaavia diffusa?</p>
      <p class="paratxt3 txtcenter"> Boerhaavia diffusa contains numerous compounds that can be used for medicinal purposes. Some of the medicinal properties of the plant are as follows:</p>
     
     
      <ul>
        <li>
          Antidiabetic Activity:
        </li>
        <p class="paratxt3 txtcenter">
          The whole plant and the leaf extract are reported to have significant antihyperglycemic activities.</p>
        <li> Antibacterial Activity: </li>
        <p class="paratxt3 txtcenter"> 
          The extract of the leaves and the stem bark have antibacterial activity.</p>
        <li> Antistress or Immunomodulatory or Adaptogenic Activity:</li>
        <p class="paratxt3 txtcenter">
          The extracts of the roots are reported to exhibit antistress, adaptogenic activity, whereas the leaf extracts have shown the anti-inflammatory property.</p>
          <li>Hepatoprotective Activity:</li>
          <p class="paratxt3 txtcenter">The different extracts of the root are proved to possess hepatoprotective activity.</p>
          <li>Analgesic or Anti-Inflammatory Activity: </li>
          <p class="paratxt3 txtcenter">
            The juice or decoction of the leaves and the latex extract are shown to have analgesic and anti-inflammatory activity. </p>
            <li>Antitumor Activity:</li>
            <p class="paratxt3 txtcenter">
              The plant extracts is proved to exhibit anti-tumor activity.</p>
          <li> Anti-Convulsant Activity: </li>
          <p class="paratxt3 txtcenter">
            The root extract is reported to have anti-convulsant property.</p>
          <li> Antiproliferative and Antiestrogenic Activity:</li>
          <p class="paratxt3 txtcenter">
            The plant extract is shown to possess antiproliferative and antiestrogenic activity.</p>
            <li> Cytological Activity:</li>
            <p class="paratxt3 txtcenter">
              The root extract is reported to exhibit cytological property. </p>
          <li> Bronchial asthma:</li>
          <p class="paratxt3 txtcenter">
            The leaf decoction along with extract of other herbs is proved to be effective for the treatment of bronchial asthma.</p>
          <li> Anti-fibrinolytic Activity:</li>
          <p class="paratxt3 txtcenter"> 
            The herbal extract may possess anti-fibrinolytic property.</p>
            <li>Antioxidant property:</li>
            <p class="paratxt3 txtcenter">The plant extract has demonstrated antioxidant activity.</p>
            <li>Anti-viral activity:</li>
            <p class="paratxt3 txtcenter"> 
              The root extract is reported to have a broad-spectrum antiviral activity.</p>

      </ul>
      <p class="paratxt1 txtcenter"> What are the side effects of Boerhaavia diffusa?</p>
        <p class="paratxt3 txtcenter">
          No signs of toxicity have been reported by research studies. Most studies suggest that Boerhaavia diffusa is safe for consumption. Although it appears to be perfectly safe for human consumption, more research is being conducted to understand its efficacy and safety for all time consumption.</p>
        <p class="paratxt1 txtcenter"> 
          Using Boerhaavia diffusa safely</p>
        <p class="paratxt3 txtcenter">
          Several Boerhaavia diffusa extracts have activities like vasodilatory, diuretic, immunomodulatory, anticonvulsant, angiotensin-converting enzyme (ACE) inhibitory activity. Thus, the extract of the herb may interfere with other drugs having similar or opposing activities. 
          Patients with diabetes must be closely monitored if they consume punarnava, as it contains sugar and may result in some complications.  
          </p>
      <div class="clear40"></div>
      <hr />
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 topreads">
        <p class="txt1 txtcenter">Top Reads </p>
        <div class="clear10"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 txtcenter">
          <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
        </div>
        <div class="clear20"></div>
      </div>
      <div class="row m-0">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
          <img src="././assets/images/b-food.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <label class="diseasestxt">Digestive Health</label>
          </div>
          <label class="diseasestxt2">14 best & worst foods for your ...</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
            <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
          <img src="././assets/images/safron.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <label class="diseasestxt">SKIN</label>
          </div>
          <label class="diseasestxt2">Saffron for good health..</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
            <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
      </div>
      <div class="clear20"></div>
      <div class="row m-0">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
          <img src="././assets/images/b-food.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <label class="diseasestxt">Digestive Health</label>
          </div>
          <label class="diseasestxt2">14 best & worst foods for your ...</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
            <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
          <img src="././assets/images/safron.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <label class="diseasestxt">SKIN</label>
          </div>
          <label class="diseasestxt2">Saffron for good health..</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
            <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
      </div>
      <div class="clear40"></div>
      <hr />
    </div>
  </div>
  <div class="clear40"></div>
  <div class="row m-0">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <label class="txt1">Related Articles</label>
      <div class="clear10"></div>
      <img class="img-fluid iwidth" src="././assets/images/big_border.png">
      <div class="clear20"></div>
    </div>
    <div class="clear40"></div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
      <img src="././assets/images/awellness.png">
      <div class="clear10"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <label class="diseasestxt">wellness</label>
      </div>
      <label class="diseasestxt2">Low calorie diet
        to lose weight...</label>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
        <button class="btn read_morenew">READ MORE</button>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
      <img src="././assets/images/asuryanamaskar.png">
      <div class="clear10"></div>
      <div class="col-12 col-md-12 col-sm-12 col-lg-12 text-center">
        <label class="diseasestxt">healthy food</label>
      </div>
      <label class="diseasestxt2">Food & Activity
        Journal for...</label>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
        <button class="btn read_morenew">READ MORE</button>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
      <img src="././assets/images/plane.png">
      <div class="clear10"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <label class="diseasestxt">kids & teens</label>
      </div>
      <label class="diseasestxt2">Young overweight
        & Obesity in...</label>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
        <button class="btn read_morenew">READ MORE</button>
      </div>
    </div>
  </div>
  <div class="clear70"></div>
</div>