<app-navigation></app-navigation>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 home-top">
        <app-floating></app-floating>
</div>
<div class="clear20"></div>
<div class="container">
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <p class="blurtxt txtcenter">Kantakari (Solanum xanthocarpum)</p>
          <div class="clear20"></div>
          <p class="txt1 txtcenter">Kantakari or Solanum 
              xanthocarpum is an important 
              medicinal plant. </p>
              <div class="clear10"></div>
              <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
              <div class="clear20"></div>
              <p class="topptxt txtcenter">It is an extremely popular herb for the treatment of respiratory diseases in Ayurveda.  All the parts of Kantakari- the roots, stem, flowers and the fruits are used as medicines. Kantakari is an important constituent of the popular Ayurvedic formulation Dashamoola which is prescribed for the treatment of a variety of ailments.  </p>
              <div class="clear40"></div>
              <div class="row m-0">
                <div class="col-6 col-am-6 col-md-6 col-lg-6 borderright">
                  <p class="byUStxt">By U.S. News Staff</p>
                </div>
                <div class="col-6 col-am-6 col-md-6 col-lg-6">
                     <label class="byUStxt">Jan 03, 2018 at 7:45 pm</label>
                  </div>
              </div>
              <div class="clear40"></div>
              <p class="paratxt1 txtcenter">What is Kantakari?</p>
              <p class="paratxt3 txtcenter">
                  Kantakari is a prickly, bright-green perennial plant with a thick woody base and numerous branches.  It yields yellow berries which may have green stripes. It is a summer crop grown mainly in tropical and sub-tropical regions. This plant requires dry weather and abundant sunshine to grow.  The plant yields flowers and fruits throughout the year. It belongs to the family Solanaceae. 
                  This plant is a native of Asian countries such as India, Srilanka, Bangladesh,     Myanmar, Afghanistan and Saudi Arabia. In India, it is found in dry districts in the plains and the foothills in Northern India. In the south, it is found abundantly in Kanyakumari and the Coromandel Coast.</p>
              <div class="clear40"></div>
              <p class="paratxt1 txtcenter">Quick Facts:</p>
              <ul>
                  <li>
                      The Kondh tribe of Dhenkanal district, Orissa, use hot aqueous Kantakari fruit    extract for the treatment of diabetes.
                      </li>
                  <li> Kantakari is also a part of an Ayurvedic formulation Arkadhi which is useful for the treatment of dengue fever and acute bronchitis.</li>
                  <li> The decoction of the roots or crushed fruits are given to cattle for the treatment of constipation or stomach-ache.</li>
                </ul>
                <p class="txtcenter paratxt1">Pharmacological Properties:</p>
              <p class="paratxt2 txtcenter">Kantakari has been found to have the following medicinal properties:</p>
              <p class="paratxt2 txtcenter">1.Antiasthmatic:</p>
              <p class="paratxt3 txtcenter">Clinical studies have proven the efficacy of extracts of S. xanthocarpum in treating bronchial asthma. Its efficacy has also been advocated in the Siddha system of    medicine. The powder of the whole plant or its decoction has been found to improve respiratory parameters in patient with mild to moderate asthma. It has been        suggested that improvement in asthma can be due to- bronchodilation, decrease in the edema of the bronchial mucosa, decreased mucus secretion within the airways.
</p>
              <p class="paratxt2 txtcenter">2. Anti-inflammatory:</p>
              <p class="paratxt3 txtcenter"> Histamine is an important inflammatory mediator, which plays a major role in the pathophysiology of asthma.  Kantakari has been found to have anti-histaminic       activity and this can be one of the reasons for its effectiveness in asthma.</p>
              <p class="paratxt2 txtcenter">3. Hypoglycemia:</p>
              <p class="paratxt3 txtcenter"> 
                  Aqueous extracts of Kantakari has been found to be as effective as a standard         antidiabetic drug- glibenclamide, in bringing about reduction in the blood sugar levels.</p>
              <p class="paratxt2 txtcenter">4. Antifertility activity:</p>
              <p class="paratxt3 txtcenter">
                  Solasodine, which is an alkaloid present in Kantakari is known to reduce sperm    production and motility.
              </p>
              <p class="paratxt2 txtcenter"> 5. Hepatoprotective:</p>
              <p class="paratxt3 txtcenter">
                  Kantakari is known to have potential antioxidant activity and thus can be useful for the treatment of various liver problems. </p>
            
                  <p class="paratxt2 txtcenter"> 6. Mosquito larvicidal activity:</p>
                  <p class="paratxt3 txtcenter">Crude extracts of Kantakari have been found to be an effective larvicide (agents that kill the mosquito larvae) and can be used for protection against various vector borne diseases. </p>
                  <p class="paratxt2 txtcenter"> 7. Antibacterial, antifungal:</p>
                  <p class="paratxt3 txtcenter"> 
                      Leaf extracts of Kantakari has been found to be effective against the bacteria     Staphylococcus aureus, which is a common pathogen for various wound infections. It has also been found to be effective for infections caused by fungus such as           Aspergillus niger and Candida albicans. </p>
                  <div class="clear40"></div>
                  <p class="paratxt1 txtcenter">Medicinal uses:</p>
                  <p class="paratxt2 txtcenter">According to Ayurveda, all the parts of the plant have different medicinal uses:</p>
                  <ul class="ulstyle">
                    <li>
                         Roots and seeds are prescribed as expectorant in patients with asthma and cough. The plant powder is also prescribed as an anti-tussive.</li>
                      <li> 
                           The warm extracts obtained from the dried fruits are useful for treating fever, cough and heart problems.</li>
                      <li> 
                           The juice obtained from the fruits is used to treat sore throat and rheumatic      diseases. The paste of the fruits can also be applied externally to treat acne and swelling.</li>
                      <li> The stems, flowers and the fruits have been used to treat burning sensation and vesicular eruption in the feet.</li>
                        </ul>
              <div class="clear40"></div>
              <p class="paratxt1 txtcenter">
                  Side effects and Safety:</p>
              <p class="paratxt3 txtcenter">
                  Kantakari has not been found to have any side effects or drug interactions in adults and children. However, as for any herbal formulation, Kantakari should also be taken in dosages as prescribed by the physician. </p>

              
                          <div class="clear40"></div>
                          <hr/>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 topreads">
            <p class="txt1 txtcenter">Top Reads </p>
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 txtcenter">
                <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
            </div>
            <div class="clear20"></div>
        </div>
        <div class="row m-0">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
            <img src="././assets/images/b-food.png">
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <label class="diseasestxt">Digestive Health</label>
            </div>
            <label class="diseasestxt2">14 best & worst foods for your ...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/safron.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">SKIN</label>
              </div>
              <label class="diseasestxt2">Saffron for good health..</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
        </div>
        <div class="clear20"></div>
        <div class="row m-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/b-food.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">Digestive Health</label>
              </div>
              <label class="diseasestxt2">14 best & worst foods for your ...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
                <img src="././assets/images/safron.png">
                <div class="clear10"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <label class="diseasestxt">SKIN</label>
                </div>
                <label class="diseasestxt2">Saffron for good health..</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                    <button class="btn read_morenew">READ MORE</button>
                </div>
              </div>
          </div>
          <div class="clear40"></div>
          <hr/>
      </div>
  </div>
  <div class="clear40"></div>
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <label class="txt1">Related Articles</label>
          <div class="clear10"></div>
          <img class="img-fluid iwidth" src="././assets/images/big_border.png">
          <div class="clear20"></div>
      </div>
      <div class="clear40"></div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
          <img src="././assets/images/awellness.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <label class="diseasestxt">wellness</label>
          </div>
          <label class="diseasestxt2">Low calorie diet
              to lose weight...</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
              <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
            <img src="././assets/images/asuryanamaskar.png">
            <div class="clear10"></div>
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 text-center">
                <label class="diseasestxt">healthy food</label>
            </div>
            <label class="diseasestxt2">Food & Activity
                Journal for...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
              <img src="././assets/images/plane.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">kids & teens</label>
              </div>
              <label class="diseasestxt2">Young overweight 
                  & Obesity in...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
  </div>
   <div class="clear70"></div>
</div>
