<app-navigation *ngIf="showHeader"></app-navigation>
<section class="home-top pt-5"> 
    <app-floating></app-floating>
  <div class="container "> 
      <h1 class="main_title">Osteoporosis</h1>
    <h1 class="main_title2">“a bone disease in which the bones become weak and fragile”</h1>

    <div class="clearfix"></div>
<div class="clear20"></div>
<div class="HedingMapContentBox col-12 col-lg-9">
  <div class="row" >
      <div class="col-lg-4">
        <div class="col-12 col-lg-12 text-center">
          <img src="././assets/images/world-map.png">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 padlrn">
        <div class="col-12 col-lg-12 text-left padlrn">
          <div class="row">
            <div class="col-6 col-lg-6  Around50Text2 Around50Text  text-center">
              <p>India represents  
              </p>
              <h1>49%</h1>
            </div>
            <div class="col-6 col-lg-6 m-l-25 padlrn">
              <div class="clear10"></div>
                <div class="BorderBotton"></div>
                <p> in India suffer from UTI during their lifetime.  
                    </p>
              
              </div>
          </div>
          <div class="BorderBotton"></div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
          <div class="col-12 col-lg-12">
            <div class="row">
              <div class="col-lg-6 m-t-18">
                  <h1 class="seventytwo">72</h1>
                  <p class="million"> million</p>
                   
              </div> 
              <div class="col-12 col-lg-6 Around50Text2 Around50Text padlrn m-l-50">
                    <p>cases of diabetes
                      were reported in
                      the year 2017</p>     
              </div> 
          </div>  
                  <div class="clear"></div>
          <div class="col-8 col-lg-11 padln">
            <div class="BorderBotton"></div>
          </div>
                  
          </div>
        </div>
       
  </div>


</div>
<div class="clear20"></div>
  <div class="DibetectSection">
      <div class="DibeticLeft" (click)="scrollTo('Overview')">
        <img src="././assets/images/noun-health.png">
        <p class="m-0">Overview</p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('SymptomsCauses')">
        <img src="././assets/images/noun-medical.png">
        <p class="m-0">Symptoms &amp; Causes  </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('PreventionDiagnosis')" >
        <img src="././assets/images/noun-bacteria.png">
        <p class="m-0"> Prevention &amp; Diagnosis </p>
      </div>
      <div class="DibeticLeft"  (click)="scrollTo('AyurvedaApproach')">
        <img src="././assets/images/noun-herbal-medicine.png">
        <p class="m-0"> Ayurveda Approach </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('Complications')" >
        <img src="././assets/images/noun-healt.png">
        <p class="m-0"> Complications </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('RelatedProducts')">
          <img src="././assets/images/noun-medicine10.png">
          <p class="m-0">    Related Products </p>
        </div>
    
  
    </div>
 
<div class="clear"></div>
</div>
</section>
<div class="container">
  <!-- <div class="zanduservicemain">
    <div class="card-deck px-5">
      <div class="card zanduservice">
        <div class="card-body">
          <p class="card-text">Sign up to get <br>
            Zandu Services FREE!</p>
        </div>
      </div>
      <div class="card zanduservice text-center">
        <div class="card-body">
          <button class="btn FbBtn" type="button"><img alt="facebook" class="mr-2" src="././assets/images/facebook.png">
            Login With Facebook</button>
        </div>
      </div>
      <div class="card zanduservice text-left">
        <div class="card-body ">
          <button class="btn  GoogleBtn" type="button"><img _ngcontent-c1="" alt="google" class="mr-2" src="././assets/images/google.png">
            Sign up with Google</button>
        </div>
      </div>
      <div class="card zanduservice mr-4">
        <div class="card-body ">
          <span>Call us @</span>
          <h5>9999 8888 22</h5>
        </div>
      </div>
    </div>
  </div> -->
</div>
<div class="clear"></div>

<section id="Overview" class="Yoga_AurvedaSection">

  <h1>What is Osteoporosis</h1>
  <div class="clear"></div>
  <div class="text-center">
    <img src="././assets/images/big_border.png">
  </div> 
  <div class="row m-0">
  <div class="Yoga_Ayurveda_RightDiv col-md-6 col-lg-6">
      <img class="w-100" src="././assets/images/OsteoporosisLeft.png">
  </div>
  <div class="Yoga_Ayurveda_RightDiv col-md-6 col-lg-6">
    <h5>A condition in which the bones become weak and fragile due to the reduction in the bone mass.   </h5>
    <p>Post-menopausal women are affected the most.
      There is a reduction in bone mass and disruption 
      in the architecture of bones, leading to decreased 
      bone strength and increased risk of fracture.  </p>
  
    <button class="btn btn-primary mb-2 mt-4 SignBtn" type="button" routerLink="../DibetiesRead">read more</button>
  </div> 
</div>
  <div class="clear"></div>
  

</section> 
<section id="SymptomsCauses" class="Yoga_AurvedaSection12 Yoga_AurvedaSymptoms symptoms-uti">
  <div class="container">
    <h1 class="text-center">Symptoms of Osteoporosis</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
    <p class="text-center ptractinfection">An osteoporotic patient may exhibit the following signs and symptoms:
    </p>
        <div class="row m-0">
            <div class="Yoga_Ayurveda_RightDiv col-md-6 col-lg-6">
                <img class="w-100" src="././assets/images/smpts-ofd.png">
            </div>
            <div class="Yoga_Ayurveda_RightDiv col-md-6 col-lg-6 comp-contentbx">
              <div class="clear20"></div>
              <!-- <p class="sop">Symptoms of  Prediabetes</p> -->
             <div class="row">
               <div class="col-1 col-lg-1">
                  <span><img src="././assets/images/nxt-arrow.png"> </span>
               </div>
               <div class="col-11 col-lg-11">
                  <div class="c-infection">Bone Pain (Asthitoda)
                  </div>
               </div>
             </div>           
             <div class="row">
                <div class="col-1 col-lg-1">
                    <span><img src="././assets/images/nxt-arrow.png"> </span>
                </div>
                <div class="col-11 col-lg-11">
                    <div class="c-infection">
                      Joint Pain (Sandhishoola)
</div>
                </div>
              </div>
              <div class="row">
                  <div class="col-1 col-lg-1">
                      <span><img src="././assets/images/nxt-arrow.png"> </span>
                  </div>
                  <div class="col-11 col-lg-11">
                      <p class="c-infection">  Difficulty to walk (SandhiSaithilya)

                        </p>
                  </div>
              </div>
              <div class="row">
                <div class="col-1 col-lg-1">
                    <span><img src="././assets/images/nxt-arrow.png"> </span>
                </div>
                <div class="col-11 col-lg-11">
                    <p class="c-infection">
                      Fractures (Angabhanga)

                      </p>
                </div>
              </div>
              <div class="row">
                <div class="col-1 col-lg-1">
                    <span><img src="././assets/images/nxt-arrow.png"> </span>
                </div>
                <div class="col-11 col-lg-11">
                    <p class="c-infection">
                      Fragile and soft bones (Asthisaushirya)</p>
                </div>
              </div> 
              <div class="row">
                  <div class="col-1 col-lg-1">
                      <span><img src="././assets/images/nxt-arrow.png"> </span>
                  </div>
                  <div class="col-11 col-lg-11">
                      <div class="c-infection">Peridontal disease (Dantabhanga)
                      </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-1 col-lg-1">
                        <span><img src="././assets/images/nxt-arrow.png"> </span>
                    </div>
                    <div class="col-11 col-lg-11">
                        <p class="c-infection"> Continuous bone pain (Asthibheda)
                        </p>
                    </div>
                </div>
                <div class="row">
                  <div class="col-1 col-lg-1">
                      <span><img src="././assets/images/nxt-arrow.png"> </span>
                  </div>
                  <div class="col-11 col-lg-11">
                      <p class="c-infection">
                        Spine bends forward (Vinamana)

                        </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-1 col-lg-1">
                      <span><img src="././assets/images/nxt-arrow.png"> </span>
                  </div>
                  <div class="col-11 col-lg-11">
                      <p class="c-infection"> Hair loss (Keshapatana)
                      </p>
                  </div>
                </div>  
                <div class="row">
                  <div class="col-1 col-lg-1">
                      <span><img src="././assets/images/nxt-arrow.png"> </span>
                  </div>
                  <div class="col-11 col-lg-11">
                      <p class="c-infection"> Nakha Vikara & Pata (Brittle Nails)
                      </p>
                  </div>
                </div> 
                <div class="row">
                  <div class="col-1 col-lg-1">
                      <span><img src="././assets/images/nxt-arrow.png"> </span>
                  </div>
                  <div class="col-11 col-lg-11">
                      <p class="c-infection"> Extreme fatigue (Srama)

                      </p>
                  </div>
                </div>  
                <div class="row">
                  <div class="col-1 col-lg-1">
                      <span><img src="././assets/images/nxt-arrow.png"> </span>
                  </div>
                  <div class="col-11 col-lg-11">
                      <p class="c-infection"> Weakness (Balakshaya)  


                      </p>
                  </div>
                </div> 
              <div class="clear20"></div>
            
            </div> 
          </div>
        <!-- <div class="row m-0">
            <div class="col-12 col-lg-3 text-center">
                <img src="././assets/images/fever.png">  
                <div class="clear"></div>
                <span class="pfever">Fever</span>
            </div> 
            <div class="col-12 col-lg-3 text-center">
                <img src="././assets/images/urenety-pain.png">  
                <div class="clear"></div>
                <span class="pfever">Dysuria or pain
                   <br/>
                   while urinating
                    </span>
            </div>
            <div class="col-12 col-lg-3 text-center">
                <img src="././assets/images/urination.png">  
                <div class="clear"></div>
                <span class="pfever">Increased 
                    frequency  <br/>
                    of urination
                    </span>
            </div>
            <div class="col-12 col-lg-3 text-center">
                <img src="././assets/images/lower-abdomen.png">  
                <div class="clear"></div>
                <span class="pfever">Pain in Lower 
                   <br/>   Abdomen
                    </span>
            </div>
          </div> 
    -->
   
    <div class="clear"></div>
  </div>
  
  </section> 
  <section id="PreventionDiagnosis" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms mt-5">
  <div class="container">
      <h1>Do you know what actually <br/>
        causes Osteoporosis</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
      <p class="text-center ptractinfection">According to Ayurveda, the various causes (Nidana) associated with Osteoporosis are as follows:</p>
     
      <div class="clear"></div>
      <div class="clear20"></div>
      <div class="row m-0">
        <div class="div1 text-center">
            <img src="././assets/images/causesOsteoporosis1.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Starving</span>
        </div> 
        <div class="div2 text-center">
            <img src="././assets/images/causesOsteoporosis2.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Eating food<br/> 
              without oil</span>
        </div>
        <div class="div3 text-center">
            <img src="././assets/images/causesOsteoporosis3.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Lack of nutritious<br/> 
              food 
                </span>
        </div>
        <div class="div4 text-center">
            <img src="././assets/images/causesOsteoporosis4.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Anger
               </span>
        </div>
        <div class="div5 text-center">
            <img src="././assets/images/causesOsteoporosis5.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Sadness
               </span>
        </div>
      </div> 
     <div class="clear10"></div>
     <div class="row m-0">
        <div class="div1 text-center">
            <img src="././assets/images/causesOsteoporosis6.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Fear
                </span>
        </div> 
        <div class="div2 text-center">
            <img src="././assets/images/causesOsteoporosis7.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Excessive exercising</span>
        </div>
        <div class="div3 text-center">
            <img src="././assets/images/causesOsteoporosis8.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Excess swimming
                </span>
        </div>
        <div class="div4 text-center">
            <img src="././assets/images/causesOsteoporosis9.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Sleeping during<br/> 
              the daytime 
               </span>
        </div>
        
      </div> 
      <div class="clear"></div>
     
    </div>
    </section>  
    <section id="PreventionDiagnosis" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms mt-5">
      <div class="container">
          <h1>Risk Factors</h1>
          <div class="clear"></div>
          <div class="text-center">
            <img src="././assets/images/big_border.png">
          </div> 
          <!-- <p class="text-center ptractinfection">According to Ayurveda, the various causes (Nidana) associated with Osteoporosis are as follows:</p>
          -->
          <div class="clear"></div>
          <div class="clear20"></div>
          <div class="row m-0">
            <div class="div1 text-center">
                <img src="././assets/images/RiskFactoryOS1.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Sedentary lifestyle</span>
            </div> 
            <div class="div2 text-center">
                <img src="././assets/images/RiskFactoryOS2.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Lack of sufficient<br/> 
                  calcium in diet </span>
            </div>
            <div class="div3 text-center">
                <img src="././assets/images/RiskFactoryOS3.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Emotional stress 
                    </span>
            </div>
           
          </div> 
         <div class="clear10"></div>
         <div class="row m-0">
            <div class="div1 text-center">
                <img src="././assets/images/RiskFactoryOS4.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Excessive alcohol<br/> 
                  consumption and smoking
                    </span>
            </div> 
            <div class="div2 text-center">
                <img src="././assets/images/RiskFactoryOS5.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Family history </span>
            </div>
            <div class="div3 text-center">
                <img src="././assets/images/RiskFactoryOS6.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Long-term corticosteroid<br/> 
                  treatment 
                    </span>
            </div>
          
            
          </div> 
          <div class="clear"></div>
          <div class="topping_spac">
            
              <div class="all_benefits pt-3">
                <p>Want to get all the Benefits of <br>
                  Ayurveda? Get a Free consultation!</p>
                <span>Book Your Appointment now in 3 Easy Steps</span>
              </div>
        
              <div class="all_benefits all_benefits2 text-center">
                <button class="btn btn-primary mb-2 SignBtn" type="button" routerLink="../patientloginpage">book appointment</button>
                <p class="ORTExt">Or </p>
                <p>call 1800 572 8000 </p>
              </div>
         
          </div>
        </div>
        </section> 
    <div class="clear40"></div>
    <div class="clear40"></div>
    <section class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms ">
        <h1 class="text-center">Osteoporosis & the Doshas   </h1>
        <div class="clear"></div>
        <div class="text-center">
          <img src="././assets/images/big_border.png">
        </div> 
        <p class="text-center ptractinfection">Here, the root cause of the disease is aggravation of vatadosha    </p>
      <div class="clear20"></div>
      <div class="container">
      <div class="text-center">
          <div class="article_div">
            <img class="mx-auto d-block img-fluid" src="././assets/images/Vata.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>Vata</span>
              <div class="clear10"></div>
              <p>In this condition, the vatadosha due to vitiation causes fragility in the bones and increases the risk of fractures. the root cause of the disease, that is aggravation of vatadosha should be eliminated.  

              </p>
            </div>
            <div class="clear50"></div>
            <button class="btn read_more rmposition" routerLink="../DibetiesRead" fragment="Kapha">READ MORE</button>
          </div>
  
      </div>
      <div class="clear40"></div>
      <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <label class="minitues">Take our 3 Minute Dosha Test</label>
          <div class="clear30"></div>
          <div class="col-12 col-lg-12 text-center">
              <button class="btn  read_more1 ">calculate now</button>
          </div>
        </div> -->
    </div>
    <div class="clear"></div>
    <div class="container">
        <div class="topping_spac text-center">
        
       <span class="call-queries1">Call 1800 572 8000 </span> <span class="call-queries">  to get in touch with our<br/> 
            Health Experts & resolve your Health Queries</span>  
        
       
          </div>
        </div>
      </section> 

<div class="clear"></div>

<section id="Complications" class="Yoga_AurvedaSection mt-0">
  <div class="container">
    <div class="clear"></div>
  <h1>Prevention for Osteoporosis</h1>
  <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
    <div class="clear40"></div>
  
    <div class="row m-0">
      <div class="div1 text-center">
          <img src="././assets/images/PreventionforOsteoporosis1.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Milk and dairy<br/> 
            products</span>
      </div> 
      <div class="div2 text-center">
          <img src="././assets/images/PreventionforOsteoporosis2.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Green leafy vegetables</span>
      </div>
      <div class="div3 text-center">
          <img src="././assets/images/PreventionforOsteoporosis3.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Nuts 
              </span>
      </div>
      <div class="div3 text-center">
        <img src="././assets/images/PreventionforOsteoporosis4.png">  
        <div class="clear"></div>
        <div class="clear10"></div>
        <span class="pfever">Whole grains 
            </span>
    </div>
    </div>   
    <div class="clear30"></div>
    <div class="row m-0">
      <div class="div1 text-center">
          <img src="././assets/images/PreventionforOsteoporosis5.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Legumes</span>
      </div> 
      <div class="div2 text-center">
          <img src="././assets/images/PreventionforOsteoporosis6.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Banana</span>
      </div>
      <div class="div3 text-center">
          <img src="././assets/images/PreventionforOsteoporosis7.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Fish 
              </span>
      </div>
      <div class="div3 text-center">
        <img src="././assets/images/PreventionforOsteoporosis8.png">  
        <div class="clear"></div>
        <div class="clear10"></div>
        <span class="pfever">30-minute sun<br/> 
          exposure
            </span>
    </div>
    </div>  
    <div class="clear30"></div>
    <div class="row m-0">
      <div class="div1 text-center">
          <img src="././assets/images/PreventionforOsteoporosis9.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever"> Cauliflower</span>
      </div> 
      <div class="div2 text-center">
          <img src="././assets/images/PreventionforOsteoporosis10.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Broccoli</span>
      </div>
      <div class="div3 text-center">
          <img src="././assets/images/PreventionforOsteoporosis11.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Brussel sprouts 
              </span>
      </div>
     
    </div> 
  <div class="clear"></div>
</div>

</section> 
<div class="clear40"></div>
<div class="clear40"></div>
<section id="AyurvedaApproach" class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms">
    <h1 class="text-center">Yoga for Osteoporosis</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
      <div class="clear20"></div>
  <div class="container">
    <div class="row m-0">
      <div class="div1 text-center">
          <img src="././assets/images/YogaforOsteoporosis1.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Pedangusthasana<br/> 
            (Big toe pose)</span>
      </div> 
      <div class="div2 text-center">
          <img src="././assets/images/YogaforOsteoporosis2.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">AdhoMukha<br/>
            Svanasana<br/> 
            (Downward-<br/>
            facing dog)</span>
      </div>
      <div class="div3 text-center">
          <img src="././assets/images/YogaforOsteoporosis3.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">UtthitaTrikona<br/>  
            (Extended<br/> 
            triangle pose)<br/>
              </span>
      </div>
      <div class="div4 text-center">
          <img src="././assets/images/YogaforOsteoporosis4.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">ArdhaChandrasana<br/> 
            (Half moon pose)
             </span>
      </div>
      <div class="div5 text-center">
          <img src="././assets/images/YogaforOsteoporosis5.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Uttanasana<br/> 
            (Standing<br/> 
            forward bend <br/>
            pose)
             </span>
      </div>
    </div> 
 
  
</div>
<div class="clear40"></div>

  </section>  
  <section class="Yoga_AurvedaSymptoms">
    <h1 class="text-center">How Osteoporosis is Identified<br/>
      in the Human Body </h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
   
  <div class="clear20"></div>
  <div class="container">
  <div class="text-center">
      <div class="article_div-artical">
        <img class="mx-auto d-block img-fluid" src="././assets/images/OsteoporosIdentified1.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>. Radiography</span>
          <div class="clear10"></div>
          <p>Radiography includes X-ray, CT-scan...</p>
        </div>
        <div class="clear50"></div>
        <button class="btn read_more rmposition1" routerLink="../DiabetesTopTipsArticles">READ MORE</button>
      </div>

      <div class="article_div-artical">
        <img class="mx-auto d-block img-fluid" src="././assets/images/OsteoporosIdentified2.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>Dual Energy X-Ray Scan</span>
          <div class="clear10"></div>
          <p>This modality helps to accurately diagnose osteoporosis... </p>
        </div>
        <div class="clear10"></div>
        <button class="btn read_more rmposition1" routerLink="../GurmarDiabetes">READ MORE</button>
      </div>

      <div class="article_div-artical text-center">
        <img class="mx-auto d-block img-fluid" src="././assets/images/OsteoporosIdentified2.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span> Biomarkers</span>
          <div class="clear10"></div>
          <p>These are useful tools in the examination of bone... 
          </p>
        </div>
        <div class="clear30"></div>
        <button class="btn read_more rmposition1" routerLink="../DibetiesRead">READ MORE</button>
      </div>
  </div>
  <div class="clear40"></div>
</div>
<div class="clear"></div>

  </section> 
<div class="clear40"></div> 

<section id="AyurvedaApproach" class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms">
  <h1 class="text-center">Ayurvedic Approach to Manage Osteoporosis
  </h1>
  <div class="clear"></div>
  <div class="text-center">
    <img src="././assets/images/big_border.png">
  </div> 
    <div class="clear20"></div>
<div class="container">
  <div class="row m-0">
    <div class="div1 text-center">
        <img src="././assets/images/ManageOsteoporosis1.png">  
        <div class="clear"></div>
        <div class="clear10"></div>
        <span class="pfever">Allergens -<br/>
          animal fur, grasses,<br/>
          pollen from flowers </span>
    </div> 
    <div class="div2 text-center">
        <img src="././assets/images/ManageOsteoporosis2.png">  
        <div class="clear"></div>
        <div class="clear10"></div>
        <span class="pfever">Cigarette
          Smoke</span>
    </div>
    <div class="div3 text-center">
        <img src="././assets/images/ManageOsteoporosis3.png">  
        <div class="clear"></div>
        <div class="clear10"></div>
        <span class="pfever">Upper respiratory
          tract infection-<br/>
          cold & flu<br/>
            </span>
    </div>
    <div class="div4 text-center">
        <img src="././assets/images/ManageOsteoporosis4.png">  
        <div class="clear"></div>
        <div class="clear10"></div>
        <span class="pfever">Foods that<br/> 
          contain chemicals<br/>
          like sulfites
          
           </span>
    </div>
    <div class="div5 text-center">
        <img src="././assets/images/ManageOsteoporosis5.png">  
        <div class="clear"></div>
        <div class="clear10"></div>
        <span class="pfever">Excessive<br/>
          Exercising
           </span>
    </div>
  </div> 
  <div class="topping_spac panchkarmaTretment">

    <p>Lifestyle Management</p>

  </div>
  <div class="row m-0">
    <div class="div1 text-center">
        <img src="././assets/images/ManageOsteoporosis1.png">  
        <div class="clear"></div>
        <div class="clear10"></div>
        <span class="pfever">Diet</span>
    </div> 
    <div class="div2 text-center">
        <img src="././assets/images/ManageOsteoporosis2.png">  
        <div class="clear"></div>
        <div class="clear10"></div>
        <span class="pfever">Yoga</span>
    </div>
  
  </div> 
</div>
<div class="clear40"></div>

</section>  

<!-- <section class="dosha">
  <div class="dosham">
    <p>In Ayurveda, the main aim of the treatment is correcting the 
        vitiated dosha.  Various methods are available in Ayurveda to 
        treat diabetes.<br>
        Ayurveda has a holistic approach towards managing a disease. 
        It aims at not only treating the disease but a patient as a whole.
        Management of diabetes in Ayurveda involves the following:
          </p>
    
        
       <h5>-      Herbal Therapy</h5> 
       <h5>-      Ayurvedic Drug Therapy</h5> 
       <h5>-      Dietary Measures</h5>    
       <h5>-      Yoga</h5> 
       <h5>-      Sleep</h5>        
       <div class="clear20"></div> 
      
       <div class="col-12 col-lg-12">
          <button _ngcontent-c1="" class="btn read_more rmposition">READ MORE</button>
          <div class="clear40"></div>
       </div>
    
  </div>
  <div class="clear"></div>
  
</section> -->
<section>
  <div class="container">
      <div class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms deal-areabg">
          <h1 class="text-center">Home Remedies</h1>
          <div class="clear"></div>
          <div class="text-center">
            <img src="././assets/images/big_border.png">
          </div> 
         
      <div class="clear"></div>
      <div class="clear20"></div>
      <div class="deal_area">
          <div class=" mb-4">
            <div class="shadoo1 mx-0">
              <div class="card tab_card2 mx-0 small_div BorderradiusLeft">
                <div class=" BorderradiusLeft card-body {{tabs[0].active}}" (click)="openCity(0)">
                  <div class="border_div">
                    <span> Sleep and Diabetes   </span>
                  </div>
                </div>
              </div>
              <div class="card tab_card mx-0">
                <div class="card-body {{tabs[1].active}}" (click)="openCity(1)">
                  <div class="border_div">
                    <span> Dietary Measures  </span>
                  </div>
                </div>
              </div>
              <div class="card tab_card1 mx-0 BorderradiusRight">
                <div class=" BorderradiusRight card-body  {{tabs[2].active}} " (click)="openCity(2)">
                  <div class="border_div ">
                    <span>YOGA</span>
                  </div>
                </div>
              </div>
    
              <div class="card tab_card2 mx-0 BorderradiusRight">
                  <div class=" BorderradiusRight card-body  {{tabs[3].active}} " (click)="openCity(3)">
                    <div class="border_div ">
                      <span> CEREALS & VEGETABLES    </span>
                    </div>
                  </div>
                </div>
                <div class="card tab_card mx-0 BorderradiusRight">
                    <div class=" BorderradiusRight card-body  {{tabs[4].active}} " (click)="openCity(4)">
                      <div class="border_div ">
                        <span>GINGER PASTE</span>
                      </div>
                    </div>
                  </div>
              <div class="card tab_card3 mx-0 BorderradiusRight">
                  <div class=" BorderradiusRight card-body  {{tabs[5].active}} " (click)="openCity(5)">
                    <div class="border_div HiddenBorder">
                      <span>TURMERIC</span>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        
          <div class="{{tabs[0].tabcontent}} p-0 TabContentBox paddingTabContentDiv BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
               <div class="row">
                 <div class="col-md-6 col-lg-6 hr-tabdiv">
                   <p class="tab-p">Studies suggest that good sleep and meditation helps to regain hormonal balance and effective blood sugar control.</p>
                 </div>
                 <div class="col-md-6 col-lg-6">
                   <img class="img-fluid" src="././assets/images/d-homer.png">
                 </div>
               </div>
              </div>
            </div>
          </div>
        
          <div class="{{tabs[1].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
              <div class="">
                  <div class="tab1ContentBox">
                   <div class="row">
                     <div class="col-6 col-lg-6 hr-tabdiv">
                       <p class="tab-p">Studies suggest that good sleep and meditation helps to regain hormonal balance and effective blood sugar control.</p>
                     </div>
                     <div class="col-6 col-lg-6">
                       <img class="img-fluid" src="././assets/images/d-homer.png">
                     </div>
                   </div>
                  </div>
                </div>
          </div>
        
          <div class="{{tabs[2].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
              <div class="">
                  <div class="tab1ContentBox">
                   <div class="row">
                     <div class="col-6 col-lg-6 hr-tabdiv">
                       <p class="tab-p">Studies suggest that good sleep and meditation helps to regain hormonal balance and effective blood sugar control.</p>
                     </div>
                     <div class="col-6 col-lg-6">
                       <img class="img-fluid" src="././assets/images/d-homer.png">
                     </div>
                   </div>
                  </div>
                </div>
          </div>
    
          <div class="{{tabs[3].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
              <div class="">
                  <div class="tab1ContentBox">
                   <div class="row">
                     <div class="col-6 col-lg-6 hr-tabdiv">
                       <p class="tab-p">Studies suggest that good sleep and meditation helps to regain hormonal balance and effective blood sugar control.</p>
                     </div>
                     <div class="col-6 col-lg-6">
                       <img class="img-fluid" src="././assets/images/d-homer.png">
                     </div>
                   </div>
                  </div>
                </div>
            </div>
    
            <div class="{{tabs[4].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
                <div class="">
                    <div class="tab1ContentBox">
                     <div class="row">
                       <div class="col-6 col-lg-6 hr-tabdiv">
                         <p class="tab-p">Studies suggest that good sleep and meditation helps to regain hormonal balance and effective blood sugar control.</p>
                       </div>
                       <div class="col-6 col-lg-6">
                         <img class="img-fluid" src="././assets/images/d-homer.png">
                       </div>
                     </div>
                    </div>
                  </div>
              </div>
        
          <div class="{{tabs[5].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
              <div class="">
                  <div class="tab1ContentBox">
                   <div class="row">
                     <div class="col-6 col-lg-6 hr-tabdiv">
                       <p class="tab-p">Studies suggest that good sleep and meditation helps to regain hormonal balance and effective blood sugar control.</p>
                     </div>
                     <div class="col-6 col-lg-6">
                       <img class="img-fluid" src="././assets/images/d-homer.png">
                     </div>
                   </div>
                  </div>
                </div>
            </div>
        </div>
      </div> 
  </div>
</section>

  <section id="RelatedProducts" class="Yoga_AurvedaSectionrp Yoga_AurvedaSymptoms">
      <h1 class="text-center">Related Products</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
     
  <div class="clear"></div>
  <div class="clear20"></div>
  <!-- ----------------------------------------Diabetes.component.html----------------------------- -->

<div class="container" >
  <!-- <div> -->
  <div class="row" *ngIf="visibleCategory">
  <div class="col-6 col-sm-4 col-md-4 col-lg-4 "  *ngFor="let data of visibleCategory">
        <div class="col-6 col-sm-12 col-md-12 col-lg-12 Product_div tab-h text-center padlrn" *ngIf="visibleCategory.length!=0">
          <div class="clear20"></div>
          <div class="WhiteBox">
        <div (click)="getProductDetails(data.id)" >
            <img src="{{data.imageUrl}}" width="199" height="194">
            <div class="clear10"></div>
            <label class="zl-text">{{data.name}}</label>
        </div>
      </div>
         <br>
        <div class="row">
            <div class="text-center col-6 col-sm-6 col-md-6 col-lg-6 ">
              <label class="">
                <label class="zl-text1">&#8377;</label>
                <label class="zl-text12">{{data.selling}}</label>
              </label>
            </div>
            <div class=" col-6 col-sm-6 col-md-6 col-lg-6 text-left">
              <div class="product_img">
                <div class="clear10"></div>
                <div class="order-margin-top2"> 
               
                  <i *ngIf="qtyP!=0" class="fa" (click)="reduce(data)"><img src="././assets/images/SpinnerMinus.png"></i>&nbsp;
                  <input [(ngModel)]="data.qty" class="input-spinner" >&nbsp;
                  <i class="fa" (click)=" add(data)"><img src="././assets/images/SpinnerPluse.png"></i>
                </div>
              </div>
            </div>
          </div>
  
          <div class="clearfix"></div>
          <div class="row">
          <div class="col-6 col-lg-12 text-center rmpositionnew">
              <div class="clear20"></div>
              <button class="btn  read_morerp AddToCartBtn" (click)="addToCart(data)" type="button">add
                  to cart</button>
            
          </div> 
          </div>
          <div class="clear20"></div>       
        </div>
      </div>
  </div>
  <div  class="row " *ngIf="visibleCategory.length==0">
      <div class="col-12 col-lg-12 text-center">
          <div class="clear20"></div>
          <h6>No Products Found...</h6>
      </div> 
    
    </div>
<!-- </div> -->
  <div class="clear20"></div>
  <div class="row" *ngIf="visibleCategory.length!=0">
      <div class="col-6 col-lg-12 text-center">
          <div class="clear20"></div>

          <button class="btn read_morerp" routerLink="../mainproductpage">explore all products</button>            
      </div> 
      </div>
</div>

  <div class="clear10"></div> 
</section> 
<!-- <div class="clear40"></div> -->
<div class="clear40"></div>
<section class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms">
    <h1 class="text-center">How Diabetes is Identified
        in the Human Body </h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
  <div class="clear20"></div>
  <div class="container">
  <div class="text-center">
      <div class="article_div-human ">
        <img class="mx-auto d-block img-fluid" src="././assets/images/hba1cBloodTest.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>HbA1c blood test</span>
          <div class="clear10"></div>
          <p>HbA1c forms when hemoglobin in the blood combines with glucose in blood. Levels of HbA1c gives an estimate of the average blood sugar over a week or month.</p>
        </div>
        <div class="clear50"></div>
        <button class="btn read_more rmposition" routerLink="../DibetiesRead">READ MORE</button>
      </div>

      <div class="article_div-human ">
        <img class="mx-auto d-block img-fluid" src="././assets/images/fastingPlasma.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>Fasting plasma glucose test</span>
          <div class="clear10"></div>
          <p>In this test, the patient’s blood sugar level is measured after the patient had been fasting for 8 hours. This test helps to detect diabetes or pre-diabetes.</p>
        </div>
        <div class="clear10"></div>
        <button class="btn read_more rmposition" routerLink="../DibetiesRead">READ MORE</button>
      </div>

      <div class="article_div-human ">
        <img class="mx-auto d-block img-fluid" src="././assets/images/postPrandial.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span> Post prandial glucose test</span>
          <div class="clear10"></div>
          <p>In this test, blood sugar is measured after you have had your meal. This test helps in assessing how well is your body able to tolerate increase in glucose levels.  </p>
        </div>
        <div class="clear30"></div>
        <button class="btn read_more rmposition" routerLink="../DibetiesRead">READ MORE</button>
      </div>

     
  </div>
</div>
<div class="clear"></div>
  </section> 
<div class="clear40"></div>

<div class="clear40"></div>
<section class="Yoga_AurvedaSection Yoga_AurvedaSymptoms">
    <h1>Preventions for Diabetes</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
     
    <div class="clear"></div>
    <div class="clear40"></div>
   
    <div class="row m-0">
        <div class="col-md-6 col-lg-4 text-center padlr20">
            <img src="././assets/images/fiber-food.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Eat High Fiber<br>
                contents Food
                </span>
        </div> 
        <div class="col-md-6 col-lg-4 text-center">
            <img src="././assets/images/sufficent-intek.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Sufficient intake<br> 
                of Fluids
                </span>
        </div>
        <div class="col-md-6 col-lg-4 text-left padl20">
            <img src="././assets/images/lossbody-fat.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Lose excess<br> 
                Body Fat 
                </span>
        </div>
       
      </div> 
    <div class="clear"></div>
  </section> 
<div class="clear80"></div>
<section class="Yoga_AurvedaSection-artical Yoga_AurvedaSymptoms">
    <h1 class="text-center">Articles </h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
   
  <div class="clear20"></div>
  <div class="container">
  <div class="text-center">
      <div class="article_div-artical">
        <img class="mx-auto d-block img-fluid" src="././assets/images/Dibeties1.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>DIABETES</span>
          <div class="clear10"></div>
          <p>Top 9 Measures To<br/> Prevent Foot... </p>
        </div>
        <div class="clear50"></div>
        <button class="btn read_more rmposition1" routerLink="../DiabetesTopTipsArticles">READ MORE</button>
      </div>

      <div class="article_div-artical">
        <img class="mx-auto d-block img-fluid" src="././assets/images/Dibeties2.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>Gurmar</span>
          <div class="clear10"></div>
          <p>Gurmaar, also<br/> known as...</p>
        </div>
        <div class="clear10"></div>
        <button class="btn read_more rmposition1" routerLink="../GurmarDiabetes">READ MORE</button>
      </div>

      <!-- <div class="article_div-artical text-center">
        <img class="mx-auto d-block img-fluid" src="././assets/images/b-food.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span> PRANAYAMA</span>
          <div class="clear10"></div>
          <p>14 best & worst<br> foods for your ... </p>
        </div>
        <div class="clear30"></div>
        <button class="btn read_more rmposition1" routerLink="../DibetiesRead">READ MORE</button>
      </div> -->
  </div>
  <div class="clear40"></div>
</div>
<div class="clear"></div>

  </section> 



  <div class="container">
      <div class="topping_spac">
        
          <div class="all_benefits pt-3">
            <p>Want to get all the Benefits of <br>
              Ayurveda? Get a Free consultation!</p>
            <span>Book Your Appointment now in 3 Easy Steps</span>
          </div>
    
          <div class="all_benefits all_benefits2 text-center">
            <button class="btn btn-primary mb-2 SignBtn" type="button" routerLink="../patientloginpage">book appointment</button>
            <p class="ORTExt">Or </p>
            <p>call 1800 572 8000</p>
          </div>
     
        </div>
      </div>





<div class="">
  <app-main-footer></app-main-footer>
</div>


<!-- The Modal -->
<div class="modal {{nomodel}}">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body text-center py-5">
        <span class="modeltitle">COMING SOON</span>
        <img src="././assets/images/model_border.png">
        <p class="pt-3">Your Dosha Calculator</p>
        <div class="smlltxt pb-4">We’ll Notify You Via Mail</div>
        <button type="button" class="btn closingbtn" data-dismiss="modal" (click)="closed()">OK</button>
      </div>
    </div>
  </div>
</div>