<app-navigation></app-navigation>
<app-floating></app-floating>

<section class="declaimer">
    <div class="container pt-5 text-center">
      <h1>Stress</h1>
        <img src="././assets/images/big_border.png">
    <div class="maindiv mt-4 text-left">
      <h3>Do you always feel stressed out?</h3>
        <p>Stress is a biological response of the body to any mental, physical, or emotional changes or external situations. Everybody experiences stress - be it a child, an adult, or an elderly person. Only the reason for stress varies. Although we believe that people today are more stressed than they were in the past generations, stress has forever been a part of life. Stress is normal and harmless if a person can cope with it in a healthy manner.  </p>
        <p>Every person responds to a situation (external or internal) in a different manner. Likewise, every individual has a different reaction to stress. A little stress can help when you’re working under pressure; it enhances motivation.  However, if one continuously faces stress, it can negatively affect the body and increase the risk of several diseases, or aggravate the symptoms of existing health problems. It is very important to identify the signs and symptoms of stress and get an early treatment to prevent any serious complication of stress. </p>


      <p><span class="hbbold">What is stress? </span></p>
      <p>Stress is the body’s response to any change that needs adjustment. It can be a result of any external or internal factor. The causes of stress are called stressors. As the body becomes aware of the stressor, it initiates a stress response (fight-flight response). The common stressors include: </p>

      <!-- <p> <span class="hbbold">Secondary dysmenorrhea </span> is the pain caused by another condition related to woman’s reproductive organ, like adenomyosis, endometriosis, uterine fibroids, or an infection. This type of pain typically begins early and lasts longer than normal menstrual cramps. In secondary dysmenorrhea, the pain is not associated with nausea, fatigue, vomiting, or diarrhoea. </p> -->
     
      <ul class="dysfunctions"> 
          <li>•	Injury</li>
          <li>•	Illness</li>
          <li>•	Fear</li>
          <li>•	Anxiety</li>      
        </ul>

        <div class="col-12 col-sm-12 col-md-10 col-lg-10 mx-auto">
            <div class="carbohydrate-border">
                <p><span class="hbbold">The flight or fight response</span></p>
                <p>Over the years, many theories have come up to explain the mechanism of stress. One of the most popular theories is the flight or fight response. Your stress response begins in the brain. The amygdala is that part of the brain that senses danger or the need to be stressed. When it perceives stress, it sends a signal to the hypothalamus to take action. The hypothalamus is like a stress response headquarter. It sends signals to all parts of the body through the autonomic nervous system(ANS). The ANS has two parts - the sympathetic nervous system and the parasympathetic nervous system. The sympathetic nervous system(SNS) has a stimulatory effect on the body systems and is responsible for the flight and fight response of the body. </p>
                <p>When the SNS is activated, it stimulates the adrenal gland, which releases epinephrine in the blood. This chemical brings about a lot of bodily changes- pulse, breathing and blood pressure go up, airways open up, sight and hearing become alert. All these changes prepare your body to either attack or run away from the stressor. </p>
              </div>
        </div>
       
          <p>In some situations, positive changes, such as childbirth, promotion and mortgage can also lead to stress.</p>

          <p>Stress is classified into the following types:</p>
            <ul class="dysfunctions"> 
                <li>•	Panic disorders</li>
                <li>•	Specific phobias</li>
                <li>•	Social phobias</li>
                <li>•	Generalized anxiety disorder [GAD]</li> 
                <li>•	Obsessive compulsive disorders [OCD]</li>  
                <li>•	Acute Stress disorder</li>   
                <li>•	Adjustment disorder</li>
                <li>•	Post-traumatic stress disorder [PTSD]</li>
              </ul>

            <p><span class="hbbold">Stress in Ayurveda</span></p>
            <p><span class="hbbold">What causes stress? (Nidana)</span></p>
            <p>Stressors, factors causing stress, can be physical, environmental or psychological. </p>
            <p>The common physical factors include:</p>
            <ul class="dysfunctions"> 
                <li>•	Excessive physical exercise</li>
                <li>•	Injury</li>
                <li>•	Exhaustion</li>
                <li>•	Lack of sleep</li> 
                <li>•	Fasting</li>  
              </ul>

              <p>The common psychological factors include:</p>
            <ul class="dysfunctions"> 
                <li>•	Anger (Krodha)</li>
                <li>•	Anxiety (Udvega) </li>
                <li>•	Fear (Bhaya)</li>
                <li>•	Grief (Soka)</li> 
              </ul>

              <p>The environmental factors include: </p>
              <ul class="dysfunctions"> 
                  <li>•	High altitude</li>
                  <li>•	Prolonged exposure to the sun </li>
                  <li>•	Fire exposure</li>
                  <li>•	Work overload</li>
                  <li></li>
                </ul>

                <p><span class="hbbold"> What happens inside the body? (Samprapti)</span></p>
                <p>According to Ayurveda, stress occurs due to an imbalance in the three sharirika doshas-  Vata, Pitta and Kapha, and two manasika doshas-  Rajas and Tamas. It also occurs due to less realization of the deeper, inner self. The imbalance of Kapha also occurs when the balance of Vata and Pitta gets impaired for a long duration of time.  Vata from the colon, Pitta from the small intestine, or Kapha from the stomach, reach the body circulation and embed themselves into the nervous system. This obstructs the normal functioning of the nervous system, leading to stress.</p>
                
                <p>Stress and the tridoshas</p>

                <p>Stress affects the doshas negatively. The Vata dosha is mainly impaired by excessive physical stress. Psychological stress also leads to impairment of the Vata dosha. The impairment of the Pitta dosha is mainly due to anger (krodha). The impairment of Vata dosha leads to mainly serious diseases (Vatavyadhi).</p>

                <p><span class="hbbold"> Know the signs of stress (Rupa)</span></p>
                <p>Stress can manifest in several ways. The symptoms also vary according to the type of stress disorder one has: </p>

                <p><span class="hbbold">Panic disorder: </span></p>
                <p>A person experiences the following symptoms during a panic attack:</p>

                <ul class="dysfunctions"> 
                   <li>• Palpitation, thumping heart or fast heart rate</li>
                    <li>• Sweating</li>
                    <li>• Feeling of choking or difficulty swallowing</li>
                    <li>• Breathlessness or smothering</li>
                    <li>• Trembling or shaking </li>
                    <li>• Pain or discomfort in the chest</li>
                    <li>• Numbness or tingling sensations </li>
                    <li>• Feeling of light-headedness, or inability to be steady</li>
                    <li>• Chills or hot flashes</li>
                    <li>• Fear of dying </li>
                    <li>• Nausea or vomiting</li>
                    <li>• Fear of losing control or going crazy </li>
                  </ul>

                  <p><span class="hbbold">Phobias:</span></p>
                <p>Characteristics of phobia:</p>

                <ul class="dysfunctions"> 
                  <li>1.	The person has an irrational fear of a situation, object or an activity.</li>
                  <li>2.	The fear is out of proportion to the dangerousness perceived. </li>
                  <li>3.	The person is aware that the fear as unreasonable.</li>
                  <li>4.	The person is unable to control the fear and is very distressed by it. </li>
                  <li>5.	There is a persistent avoidance of the particular object, situation or activity. </li>
                  <li>6.	The fear gradually becomes a preoccupation for the patient, which causes severe distress.</li>
                  </ul>

                  <p><span class="hbbold">Specific phobia:</span>It is the irrational fear of a specific object or situation. Some examples are: zoophobia (fear of animals), xenophobia (fear of strangers), algophobia (fear of pain), and claustro phobia (fear of closed places).</p>
                  <p><span class="hbbold">Social phobia: </span>It refers to the irrational fear related to a particular social situation which makes the person escape or avoid the situation. Some associated symptoms are- blushing, trembling, dry mouth, increased sweating when exposed to the feared situation, and fear of embarrassment, or others noticing how anxious they are.</p>
                  
                  <p><span class="hbbold">Generalized anxiety disorder: </span></p>
                  <p>A person has this disorder if he exhibits the following symptoms on most days, for at least 6 months:</p>
                    <ul class="dysfunctions"> 
                      <li>•	Restlessness </li>
                      <li>•	Easy fatigability</li>
                      <li>•	Concentration difficulties or ‘mind goes blank’</li>
                      <li>•	Irritability</li>
                      <li>•	Disturbed sleep</li>
                      <li>•	Increased muscle tension</li>
                    </ul>

                  <p><span class="hbbold">Obsessive-Compulsive Disorder:</span></p>
                  <ul class="dysfunctions"> 
                      <li><span class="hbbold">•	Obsessions:</span>They refer to unwanted repetitive thoughts, mental images or urges which cause anxiety. Some symptoms include aggressive thoughts about oneself or others, fear of contamination etc. </li><br>
                      <li><span class="hbbold">•	Compulsions:</span>They refer to the behaviours that a person feels, an urge to do something in response to obsessive thoughts. Some examples of such behaviours include excessive cleaning, frequent checking on things, compulsively arranging things in a specific manner. </li><br>
                    </ul>

                    <p><span class="hbbold">Acute stress disorder: </span></p>
                      <p>The patient with acute stress disorder may present with - being is a ‘daze’ situation, depression12, anxiety, anger or despair. They also show decreased attention, disorientation, feeling of hopelessness, aggression and excess grief. These symptoms occur in response to an overwhelmingly stressful event (such as trauma/ death). These patients are at a high risk of having post-traumatic stress disorder. </p>

                      <p><span class="hbbold">Adjustment disorder: </span></p>
                      <p>This refers to the undesirable adaptation (coping) of an individual to a stressful life event in the past. These patients may exhibit depressed mood, anxious mood, or a mix of anxious and depressed mood. </p>

                      <p><span class="hbbold">Post-traumatic stress disorder: </span></p>
                      <p>This is a condition which one develops after a traumatic experience. The symptoms usually begin 3 months after the incident. If a person has these symptoms for at least one month, he might be suffering from PTSD: </p>
                     
                      <p><span class="hbbold">Re-experiencing symptoms: </span></p>
                      <ul class="dysfunctions"> 
                          <li>1. Having flashbacks of the experience</li>
                          <li>2. Scary thoughts</li>
                        </ul>

                        <p><span class="hbbold">Avoidance symptoms: </span></p>
                         
                           <p>1. Avoiding thoughts related to the event</p> 
                           <p>2. Avoiding places, or objects that are reminders of the event</p> 
                            <p>Arousal or reactivity symptoms: </p>
                            <ul class="dysfunctions"> 
                                <li>•	Increased irritability</li>
                                <li>•	Difficulty in sleeping</li>
                                <li>•	Startled easily</li>
                            </ul>
                        
                        <!-- <p><span class="hbbold">Avoidance symptoms: </span></p>
                        <ul class="dysfunctions"> 
                            <li>1. Avoiding thoughts related to the event</li>
                            <li>2. Avoiding places, or objects that are reminders of the event</li>
                            <p>Arousal or reactivity symptoms: </p>
                            <ul class="dysfunctions"> 
                                <li>•	Increased irritability</li>
                                <li>•	Difficulty in sleeping</li>
                                <li>•	Startled easily</li>
                            </ul>
                        </ul> -->


                        <p><span class="hbbold">Other symptoms:</span></p>
                          <ul class="dysfunctions"> 
                              <li>1. Negative thoughts about oneself, self-blaming</li>
                              <li>2. Disinterest in any leisure activity</li>
                            </ul>

                            <p><span class="hbbold">Problems caused by stress:</span></p>
                            <p>If stress is not managed properly, it can aggravate the following health condition: </p>
                            <ul class="dysfunctions"> 
                                <li>•	Heart diseases</li>
                                <li>•	Sleep problems</li>
                                <li>•	Digestive problems</li>
                                <li>•	Obesity</li>
                                <li>•	Hormonal disorder</li>
                                <li>•	Skin disorders</li>
                                <li>•	Pain of any kind</li>
                              </ul>
                              <p>If these conditions are already existing, stress can aggravate them. </p>

                              <p><span class="hbbold">Manage stress, the Ayurvedic way</span></p>
                              <p>Ayurveda provides us with some great measures to manage stress. The ayurvedic methods are natural, gentle, effective, and show quick results. The Ayurvedic treatment helps the person to attain the state of balance that is long-lasting, which reduces the chances of stress recurring. The treatment aims to correct the dosha imbalance. </p>
                              <p>In Ayurveda, stress management is done by:  </p>

                              <ul class="dysfunctions"> 
                                  <li>•	Ayurveda panchakarma procedures and medicines</li>
                                  <li>•	Lifestyle management</li>
                                </ul>
                              
                                <p><span class="hbbold">Ayurveda panchakarma and medicines</span></p>
                                <p>Ayurvedic Panchakarma therapy is a therapy for eliminating body toxins and maintaining the balance of all doshas. This therapy helps in relieving many chronic diseases and improving physical and mental health. The panchakarma treatment for stress includes:  </p>
                                <ul class="dysfunctions"> 
                                    <li>1. <span class="hbbold">Pre-purification (Purvakarma): </span>The body is prepared for the therapy. It includes two procedures- oil massage (Snehana) and medicated steam bath (Swedana).</li><br>
                                    <ul class="dysfunctions"> 
                                        <li>•<span class="hbbold">Oil massage (Snehana)- </span>The complete body is massaged with medicated oil. Specific types of massage strokes are given to attain the desired effect. Oil massage helps to move the toxins towards the gastrointestinal tract from which it can be removed.</li><br>
                                        <li>•	<span class="hbbold">Medicated steam bath (Swedana): </span>After the oil massage, steam is given to further remove the toxins by sweating.</li><br>
                                      </ul>
                                    
                                      <li>2. <span class="hbbold">Therapeutic emesis (Vamana): </span>It is given to remove the Kapha that causes excessive mucus.</li><br>
                                      <li>3. <span class="hbbold">Purgation therapy (Virechana)- </span>Laxatives are given to balance out the Pitta dosha</li><br>
                                      <li>4. <span class="hbbold"> Enema therapy (Basti)- </span>It helps in cleaning toxins from the tissues (Dhatus) and in removing body waste from the colon.</li><br>
                                      <li>5.<span class="hbbold">Nasal administration (Nasya)-</span>It helps in purifying the head region that leads to clarity of mind</li>
                                    </ul>

                                    <p><span class="hbbold">Other special methods:</span></p>
                                    <p><span class="hbbold">Shirodhara-</span>In this procedure, medicated milk, herbal oils and medicated water are poured on the forehead for 30-45 minutes. It helps in calming the central nervous system and reducing anxiety, mental stress and depression.</p>
                                    <p><span class="hbbold">ShiroVasti- </span>Herbal oil is kept in a cap that is placed on the head.</p>

                                    <p><span class="hbbold">Manage stress with a few simple lifestyle changes</span></p>
                                    <p>The main aim of lifestyle management is to help patients make behavioural changes that avoid factors causing stress (nidanas) and restore balance of the doshas. Lifestyle management includes avoiding the factors that cause stress (Nidanparivarjana), which can be achieved by:</p>

                                    <ul class="dysfunctions"> 
                                        <li>•	Following a proper daily routine (Morning walk to get fresh air)</li><br>
                                        <li>•	Practicing meditation for self-realization - to know your true worth</li><br>
                                        <li>•	Taking positive vibes from the surrounding</li><br>
                                        <li>•	Making a habit to empty the bladder and colon in the morning</li><br>
                                        <li>•	Getting body oil massage </li><br>
                                        <li>•	Indulging yourself in some exercises (Vyayama)</li><br>
                                        <li>•	Making a habit of taking a bath after exercise</li><br>
                                        <li>•	Increasing the intake of vegetables, milk, fruits, grain, and milk products (Sattvikahar)</li>

                                      </ul>

                                      <p><span class="hbbold">Yoga can get rid of your stress for good</span></p>
                                      <p>Yoga helps in relaxing the body physically, mentally and emotionally. It helps in improving blood circulation and in increasing the oxygen intake by body tissues. It releases tension from the body muscles and relaxes the body. For stress management, certain yoga asanas are very effective. The yoga asanas include:</p>
  
                                      <ul class="dysfunctions"> 
                                         <li>•	Dhyana (Meditation by comfortable Lotus Posture)</li>
                                         <li>•	Sarvangasana</li>
                                         <li>•	Shavasana (Corpse Pose)</li>
                                         <li>•	Trikonasana(Extended Triangle pose)</li>
                                         <li>•	 Vajrasana  </li>
                                         <li>•	Bhujangasana (Cobrapose)</li>
                                         <li>•	Padmasana (Lotus Pose)</li>
                                         <li>•	Siddhasana </li>
                                         <li>•	Matsyasana</li>
                                        </ul>

                                        <p><span class="hbbold">Pranayama for stress management </span></p>
                                      <p>Pranayama refers to the controlling of breath. It helps in increasing concentration and relieves stress. It relaxes the body and mind completely. Pranayama for stress management includes:</p>
  
                                      <ul class="dysfunctions"> 
                                         <li>•	Chandra anuloma viloma</li>
                                         <li>•	Cooling Pranayama</li>
                                         <li>•	Ujjayi</li>
                                         <li>•	Bhramari</li>
                                        </ul>


                                        <p><span class="hbbold">Recommended Changes in daily routine(Dinacharya)</span></p>
                                          <ul class="dysfunctions"> 
                                            <li>1. Engage in mild physical activities, yoga, pranayama and meditation.</li><br>
                                            <li>2. Read spiritual books and listen to good music.</li><br>
                                            <li>3. Engage in spiritual activities such as satsanga.</li><br>
                                            <li>4. Visit temples and other religious places.</li><br>
                                            <li>5. Stay away from conditions that trigger stress.</li><br>
                                            <li>6. Avoid heavy meals during dinner.</li><br>
                                            <li>7. Avoid caffeinated drinks such as coffee, tea, and other beverages such as soft drinks, alcohol. </li><br>
                                            <li>8. Quit smoking.</li>
                                          </ul>

                                          <p>In the 21st century, stress is unavoidable. Stress is a very common condition in modern civilization due to increased competition, frustration and worries. Ayurveda has special remedies to manage stress. Panchakarma therapies, herbs and medications along with lifestyle measures related to diet and exercise have a wonderful effect on reducing stress and achieving a balanced mind.   </p>
                                            <br>
                                            <div class="reference">
                                          <h3>References:</h3>
                                            <ul class="dysfunctions"> 
                                              <li>1.	David Semple, Roger Smith. Oxford Handbook of Psychiatry. Third Edition. Oxford Medical Publications; 2013</li><br>
                                              <li>2.	Arora D, Kumar M, Dubey SD, Baapat SK. Stress - management: leads from Ayurveda. Anc Sci Life. 2003. 23(1):8-15.</li><br>
                                              <li>3.	Niraj Ahuja. A short textbook of psychiatry. Seventh Edition. Jaypee Brothers Medical Publishers; 2011</li><br>
                                              <li>4.	Deekshitulu P.V. Stress relaxation through Ayurveda. IJAHM.2013. 3(4): 1246-1252  </li><br>
                                              <li>5.	Hari Sharma, H.M Chandola. Ayurvedic Approach to Food and Dietary Supplements for the Brain and Neurological Health, in Bioactive Nutraceuticals and Dietary Supplements  in Neurological and Brain Disease: Prevention and Therapy, Edited by Ronald Ross Watson, Victor R. Preedy,Academic Press, San Diego, CA, USA ,2015</li><br>
                                              <li>6.	Tripathi J S. Role of stress in lifestyle disorders and its management. IJRAP. 2011.2(5): 1435-1434</li><br>
                                              <li>7.	Balaji Deekshitulu PV. Stress and Yoga. J Yoga Phys Ther. 2012; 2:109</li><br>
                                              <li>8.	Udupa, K.N, Prasad RC. Stress and its management by yoga. Delhi: Motilal Banarsidass; 1985</li><br>
                                              <li>9.	National Health Portal. Chittodvega. (Internet). 2016.(Last updated on: Jan 8. 2016. Cited on 30/10/2018). Available from- https://www.nhp.gov.in/Chittodvega(Anxiety-neurosis)_mtl</li><br>
                                              <li>10.	H.M Chandola, Ila Tanna. Role of Omega – 3 Fatty Acids in Brain and Neurological Health with special reference to clinical depression, in Omega – 3 fatty Acids in Brain and Neurological Health, Edited by Ronald Ross Watson, Meester FD (eds.), pp 163-179. San Diego: Academic press, CA, USA – 2014 </li><br>
                                            </ul>
                                      </div>


      
             <!-- code -->
           
            </div>
    </div>
</section>
<div class="mb-5 mt-5">
  <app-main-footer></app-main-footer>
</div>