<app-navigation></app-navigation>
<app-floating></app-floating>

<section class="declaimer">
  <div class="container pt-5 text-center">
    <h1>Are you suffering from hypertension?</h1>
    <img src="././assets/images/big_border.png">
<div class="maindiv mt-4 text-left">
  <h3>Overview of Hypertension:</h3>
  <p>Hypertension, or high blood pressure, is a global disease and a major cause for death. One in every 8 deaths in the world is due to high blood pressure.
     In India, every fourth adult has high blood pressure. This condition accounts for nearly 1.1 million deaths in India, every year.<sup>1</sup> </p>
  <p>High blood pressure is a major health concern, as it can progress into serious conditions such as stroke, coronary heart disease (CHD), and other vascular complications.
     Hypertension is likely to affect nearly 1/3rdof the Indian population by 2020.  </p>
     <div class="row">
       <div class="col-1 col-lg-1 col-md-1"></div>
       <div class="col-10 col-lg-10 col-md-10">
          <div class="carbohydrate-border">
              <h3>What is blood pressure?<sup>2</sup> </h3>
              <p>Heart pumps blood throughout the body, via the blood vessels, to supply oxygen and nutrition to various body tissues. This blood exerts a lateral pressure onto the walls of the arteries.
                 This is called blood pressure. The blood pressure is measured in its dual aspect – systolic blood pressure, the pressure exerted by the blood on the artery wall during the contraction of the heart, and diastolic pressure, the pressure applied during the relaxation of the heart. </p>
             
          </div>
       </div>
       <p>The ideal blood pressure (systolic/diastolic) is 120/80 mmHg. When the blood pressure elevates above 140/90 mmHg, it is considered as <span class="hbbold">hypertension</span>  or high blood pressure.
          If the blood pressure continues to rise and is not controlled, it can lead to serious consequences such as stroke, heart failure, kidney disease, and vision loss.<sup>2</sup> </p>
       <div class="col-1 col-lg-1 col-md-1"></div>
     </div> 
     <h3 class="dysfunctions">Types of hypertension:</h3> 
     <ul class="dysfunctions">
       <li>1.Isolated systolic hypertension refers to elevation of only the systolic blood pressure. </li>
       <li>2.Isolated diastolic hypertension refers to elevation of only the diastolic blood pressure.</li>
       <li>3.Systolic-diastolic blood pressure refers to elevation of both systolic and diastolic pressure. </li>
       <li>4.Neurogenic hypertension occurs when the sympathetic nervous system is strongly stimulated.</li>
     </ul>
     <p>Depending upon the causes, hypertension is divided into primary or secondary hypertension. </p>
     <p>Primary (essential) hypertension occurs in nearly 95% of patients with hypertension. Hypertension can be caused by an unknown factor, which may include dietary factors, environmental factors, and genetic factors. </p>
     <p>Secondary hypertension is caused by other medical conditions which affect endocrine system, kidney, arteries, heart or during pregnancy. </p>
     <div class="diabetes">
      <h3>Classification of hypertension<sup>3</sup></h3>
      <p>Based on the range of blood pressure (BP), hypertension is classified as the following:</p>
     </div>
     <table class="mx-auto my-4 table-responsive">
        <tr>
          <th>Classification</th>
          <th>Systolic BP (in mmHg)</th> 
          <th>Diastolic BP (in mmHg)</th>   
        </tr>
        <tr>
          <td>Normal</td>
          <td><120</td>
          <td><80</td>                      
        </tr>
        <tr>
          <td>Elevated</td>
          <td>120-129</td>   
          <td><80</td> 
        </tr>
        <tr>
          <td>Hypertension stage 1</td>
          <td>130-139</td>  
          <td>80-89</td> 
        </tr>  
        <tr>
            <td>Hypertension stage 2</td>
            <td>>=140</td>  
            <td>>=90</td> 
          </tr>                  
      </table>
     <div class="causes">
        <h3>Hypertension, as seen in Ayurveda <sup>4,5</sup></h3>
        <p>In Ayurveda, hypertension (Vyanabalavaishamya) is not described as a Vyadhi (disease). Thus, to understand the nature of the disease, the physician must examine many
           factors including the Dosha Vriddhi (increase in three biological humors), Dhatu Dushti (vitiation of the fundamental elements of the body), and Strotodushti (issues in the pores or channels of the body).</p>
        <p id="kapha">Several Ayurvedic experts have described hypertension using different terms, including SiragataVata, RaktagataVata, AvritaVata,RaktaVikshepa, DhamaniPrapurana, VyanaPrakopa, Uchharaktachapa, Raktamada,VyanaAtibala etc.
           But, all the scholars have a common opinion regarding the pathogenesis that hypertension is a disorder of rakta (blood) and the blood vessels. </p>
        <h3>What causes hypertension? (Nidana)<sup>6</sup></h3>
        <p>According to Ayurveda, hypertension is caused by the vitiation of the three somatic doshas (Vata, Pitta, Kapha) and derangements in mental health (manas). Some factors responsible for this vitiation are as follows:</p>
        <p><b>Dietary causes (Aaharajnidana):</b></p>
        <ul class="dysfunctions">
            <li>1.Excessive intake of salt (Atilavana), alcohol (Atimadyapana), meat (Mansasewan), spicy and junk food (Ati guru Bhojana), oily food (AtiSnigdhaBhojana).</li>
            <li>2.Eating, before the previously consumed food is digested (Adhyasana) or over-eating.</li>
          </ul>
          <p><b> Lifestyle factors (Viharajnidana):</b></p>
        <ul class="dysfunctions">
            <li>1.Difficulty in sleeping at night (Ratrijagarana)</li>
            <li>2.Daytime sleeping (divaswapana) </li>
            <li>3.Holding-up of natural urges (vegavidharana) </li>
            <li>4.Sedentary lifestyle (avyayama)</li>
            <li>5.Excessive physical exertion (ativyayama)</li>
          </ul>
          <p><b>Psychological causes (Manashetu):</b></p>
          <ul class="dysfunctions">
              <li>1.Anger (Krodha) </li>
              <li>2.Fear (Bhaya) </li>
              <li>3.Stress (Chinta)</li>
              <li>4.Displeasure (Shoka)</li>
              <li>5.Mental irritation (Trasa)</li>
            </ul>
     </div>
        <div class="row">
          <h3>Doshas involved in hypertension<sup>4,6</sup></h3>
              <p>Aggravation of Vata Dosha is considered as the main cause of hypertension, especially the vitiation of Prana vata and VyanaVata.
                 Vata is complemented by Pitta dosha and Kapha dosha leading to a progression of the disease. As all the three doshas are involved, hypertension is a<b> ‘Vata Pradhan TridoshajaVyadhi’</b> which is influenced by Manas (psychology).  </p>
              <p><b>Vyanavata</b> is situated in the heart and is responsible for the self-excitatory function of the heart, such as heart contraction, propelling blood (Rasa Rakta Dhatu) throughout the body. Thus, VyanaVata is involved in regulating the blood pressure.                   
              </p>
              <p><b>Prana Vata</b> is seated in the Moordha (Brain) and it regulates the Hridaya (heart) and carries out DhamaniDharana (arterial perpetuation). Hence, Prana Vata controls the heart rate. </p> 
              <p><b>Mana</b> is considered to play a role in pathogenesis, prognosis as well as treatment of a disease. Modern medicine also believes that psychological factors cause hypertension.</p>
          </div>
          <div class="row">
              <div class="col-1 col-lg-1 col-md-1"></div>
              <div class="col-10 col-lg-10 col-md-10">
                 <div class="carbohydrate-border">
                     <h3>Other factors implicated in hypertension<sup>4</sup></h3>
                     <p><b>Samana Vayu</b> (balancing component of Vata humor) is believed to play a role in circulation. After digestion, ‘Samana Vayu’ aids in the transportation of the Rasa from the heart and circulating it to the entire body. </p>                     
                     <p><b>Apana Vayu</b> is responsible for removal of waste from the body. Vitiation of Apana vayu hinders the excretion of feces (Purisha) and urine (Mutra), disturbing the homeostasis and altering the blood pressure.</p>
                     <p><b>AvalambakaKapha</b> maintains muscle tone, contractility, and normal rhythm of the heart. Vitiation of AvalambakaKapha will affect the normal functioning of the heart.</p>
                    </div>
              </div>
              <div class="col-1 col-lg-1 col-md-1"></div>
            </div> 
            <div class="symptoms">
                <h3>Pathogenesis (Samprapti)<sup>5,6</sup></h3>
                <p>Various mechanisms have been suggested for the pathogenesis of hypertension in Ayurveda. 
                  But it has been proposed that the main pathophysiological process of hypertension begins in Rakta (blood) and the blood vessels. 
                </p>
                <p>When the renal sodium homeostasis is disturbed, the amount of sodium excreted is reduced, and salt and water retention is increased,
                   which causes rise in the extra cellular fluid and plasma. Thus, the circulating blood volume is increased, leading to hypertension. In the ayurvedic outlook, this may be due to vitiation of Rakta and Pitta caused by dietary factors such as Lavana Rasa and AtiKatuahara (excess consumption of salty and pungent foods). 
                </p>
                <p>In another mechanism, Pitta Dushti (vitiation of pitta dosha) caused by endocrinal defects, is considered as the reason for hypertension. These defects result in enhanced functional vasoconstriction, leading to increased peripheral resistance (the resistance offered by the blood vessel walls against the blood flow.  </p>
                <p>One of the other mechanisms suggests that the vitiation of Vata by various factors can impair the normal functioning of the autonomic nervous system, resulting in increased blood pressure. The blood vitiated by Vata (VataDooshitaRakta) is fast moving (Sheeghragama) and is dilute. Hemodilution causes a rise in the circulating blood volume. 
                  As Vata is cold (Sheeta) and dry (Ruksha) in nature, the vessels may become stiff and increase the peripheral vascular resistance, leading to hypertension. </p>
                <p>Another mechanism explains that alterations in the vascular smooth muscles, such as in atherosclerosis (narrowing of the blood vessels due to fat depositions), can increase the peripheral resistance, resulting in high blood pressure. This effect may be due to the vitiation of MedoDhathu (fat tissue) or KaphaDosha. </p>
                  <h3>Suffering from hypertension? These are the signs to look out for. (Lakshana)<sup>6,7</sup></h3>
                
                <ul>
                  <li>1.Giddiness (Bhrama)</li>
                  <li>2.Nausea (Hralasa)</li>
                  <li>3.Headache (Shiroruk)</li>
                  <li>4.Burning sensation after meals (Daha)</li>
                  <li>5.Easy fatigability (Klama)</li>
                  <li>6.Insomnia (Nidranasha) </li>
                  <li>7.Edema (Sotha)</li>
                  <li>8.Palpitation (Hriddravata)</li>
                  <li>9.Chest pain (Urahshula)</li>
                  <li>10.Tinnitus (Karnanidana)</li>
                  <li>11.Excessive anger (Krodha)</li>
                  <li>12.Epistaxis (Raktapitta)</li>
                  <li>13.Nocturia or Polyuria(Bahumutrata)</li>
                </ul>
                <h3>Diagnosis<sup>2</sup></h3>
                
                <ul>
                    <li>1.<span class="hbbold">Blood pressure monitoring </span> by using sphygmomanometer is done usually in the clinic to find out the systolic and diastolic blood pressure. </li>
                    <li>2.<span class="hbbold">24-hour ambulatory blood pressure monitoring:  </span> In this test, the blood pressure of the patient is recorded over a 24-hour period while he/she is doing regular day to day activities.</li> 
                    <li>3.<span class="hbbold">	Blood samples  </span> are withdrawn to examine serum creatinine, serum electrolytes, fasting blood sugar, lipid profile. </li>
                    <li>4.<span class="hbbold">Urine samples  </span> is taken to analyse protein, glucose, blood and to perform other renal function tests. </li>
                    <li>5.<span class="hbbold">Chest X Ray   </span>is done to find out if there is enlargement of heart, which is an indicator of heart failure (a serious complication of high BP) .  </li>
                    <li>6.<span class="hbbold">Electro cardiogram (ECG)  </span> is used to measure electrical activity of the heart. This test shows if the patient has heart rhythm disturbances (arrythmia). </li>
                </ul>
                <h3>Complications (Upadrava)<sup>2</sup></h3>
                <p><b>Some of the complications associated with uncontrolled hypertension are as follows: </b></p>
                <ul>
                    <li>1.Myocardial infarction</li>
                    <li>2.Cerebrovascular accidents (CVA) or strokes</li> 
                    <li>3.Congestion in the lungs</li> 
                    <li>4.Hypertensive nephropathy, retinopathy, and encephalopathy</li> 
                    <li>5.Hypertensive cardiomyopathy (heart failure)</li> 
                    <li>6.Left ventricular hypertrophy</li>    
                    <li>7.Blurring of vision owing to retinal changes</li>  
                    <li>8.Impotence</li>  
                    <li>9.Epistaxis (nose bleeding) </li> 
                    <li>10.Angina pectoris (chest pain) </li>                            
                </ul>
                <h3>Are you at risk of hypertension? (VyadhiHetu)<sup>2</sup></h3>
                <p>Knowing your risks is very important. The more risk factors you have, the more susceptible
                   you are to develop hypertension. The following are some of the important risk factors of hypertension: </p>
                <ul>
                    <li>1.Obesity </li>
                    <li>2.Age > 45 years </li> 
                    <li>3.Conditions such as dyslipidemia, and diabetes mellitus</li> 
                    <li>4.Gender (men and postmenopausal women)</li> 
                    <li>5.Physical inactivity </li> 
                    <li>6.Child of Hypertensive parents</li>  
                    <li>7.Smoking</li> 
                    <li>8.Alcoholism</li>
                    <li>9. Insommia (Nidranasam)</li>                                    
                </ul>
                <h3>Manage hypertension, with an Ayurvedic spin</h3>
                <p>In the Ayurvedic system of medicine, avoiding the causative factor (NidanaParivarjana) is considered as
                   the first line of treatment for all diseases. Along with this prevention, various therapies are implemented to treat hypertension.</p>
               
                <h3>Panchakarma<sup>4</sup></h3>
                <p>Panchakarma is a form of Ayurvedic cleansing or detoxification treatment, which corrects the vitiated Doshas and treats hypertension and other cardiac disorders to regain health of the heart. </p>
                <ul>
                  <li><span class="hbbold">1.	Abhyanga (oil massage):</span> A full body oil massage (SarvangaAbhyanga) is done with special formulated oils, which enhances blood circulation in the body. </li>
                  <li><span class="hbbold">2.Vaman and Virechana (Emesis and purgative therapy):</span> Based on the vitiated Dosha, Shodhana (cleansing) procedures like Vamana and Virechana can be recommended for patients with good immunity (UttamBala), mild or moderate hypertension, without any other complications. </li>
                  <li><span class="hbbold">3.	Basti (Medicated enema):</span>According to DoshaDushti (vitiated Dosha) and RugnaBala (strength of the patient), Karma, Kala or Yoga Basti can be advised. Basti is one of the five therapies of panchakarma, which is effective for the Vata disorders.</li>
                  <li></li>
                </ul>
                
             <h3>Lifestyle measures</h3>
                <p>As hypertension is a lifestyle-related disease, adapting to healthy habits is the major part of the treatment. The healthy day-to-day regime helps the patient to prevent complications of the disease.  </p>
             <h3>Ayurvedic diet recommendations (Ahara)<sup>4,8,10</sup></h3>
             <p>Diet plays a major role in restricting blood pressure to the normal range. Ayurvedic experts believe that, reducing the use of Lavana (salt) can decrease excess water retention, and consuming sufficient amount of potassium maintains an optimal sodium-potassium balance. </p>
             <p>Consumption of the following foods will help in reducing the blood pressure.<sup>9</sup></p>
             <ul class="dysfunctions">
               <li>1.Sorghum (Jowar)</li>
               <li>2.Barley (Yava)</li>
               <li>3.Wheat</li>
               <li>4.Moringa (Shigru)</li>
               <li>5.Bottle gourd (Ghia/ Lauki)</li>
               <li>6.Horse gram</li>
               <li>7.Greengram (Mudga/Moong dal)</li>
               <li>8.Carrot (Gajar)</li>
               <li>9.Bitter gourd (Karela)</li>
               <li>10.Radish (Muli)</li>
               <li>11.Turnip (Shalgam)</li>
               <li>12.Indian gooseberry (Amla)</li>
               <li>13.Black grapes (Draksha)</li>
               <li>14.Cucumber (Khira)</li>
               <li>15.Apple</li>
               <li>16.Pomegranate (Anar)</li>
               <li>17.Pineapple</li>
             </ul>
            </div>  

            <div class="">
                <h3>Yoga<sup>11</sup></h3> 
                <h3 class="dysfunctions">Manage hypertension, with a few simple Yoga postures </h3> 
                <p>Yoga, meditation and other mind and body relaxation techniques are very helpful in reducing blood pressure. The following are some of the asanas that are beneficial for hypertensive patients. </p>
                <ul class="dysfunctions">
                  <li>1.Tada Asana (mountain pose)</li>
                  <li>2.Trikona Asana (triangle pose)</li>
                  <li>3.Padottana Asana (wide-legged forward bend)</li>
                  <li>4.Hasthapada Asana (hand-to-feet pose)</li>
                  <li>5.Bhujanga Asana (cobra pose)</li>
                  <li>6.ArdhaShalaba Asana (locust pose)</li>
                  <li>7.Vakra Asana (half spinal twist pose)</li>
                  <li>8.Gomukha Asana (cow face pose)</li>
                  <li>9.Ushtra Asana (camel pose)</li>
                  <li>10.Shashaka Asana (hare pose)</li>
                  <li>11.Matsya Asana (the fish posture)</li>
                  <li>12.Pavana Mukta Asana (the wind-releasing pose)</li>
                </ul>
                <h3 class="dysfunctions">Pranayama (breathing exercises)<sup>11</sup></h3> 
                <ul class="dysfunctions">
                  <li>1.Chandra anulomaviloma</li>
                  <li>2.Nadisodhana</li>
                  <li>3.Ujjayi</li>
                  <li>4.Bhramari</li>
                </ul>
              </div>


              <div class="">
                <h3>Pathya-Apathy (Do’s and Don’ts)<sup>10</sup></h3>
                <h3 class="dysfunctions">Pathya:</h3> 
                <ul class="dysfunctions">
                  <li>1.Eat foods like Celery (Ajwain), Indian gooseberry (Amla), lemon, watermelon, boiled potato, magnesium containing vegetables, olive oil - all are good for heart health. </li>
                  <li>2.Garlic, onion and mustard have excellent cardioprotective properties, hence must be included in our diet. </li>
                  <li>3.Monitor blood pressure on a regular basis.</li>
                  <li>4.Consume a healthy and balanced diet. </li>
                  <li>5.Maintain a healthy body weight.</li>
                  <li>6.Do physical activity every day, such as brisk walking for 30 – 60 minutes.</li>
                  <li>7.Take dairy products to keep your bones strong. </li>
                  <li>8.Have good sleep, and timely sleeping and awakening.</li>
                  <li>9.Practice yoga and meditation on a daily basis. </li>
                </ul>
                <h3 class="dysfunctions">Apathya: :</h3> 
                <ul class="dysfunctions">
                  <li>1.Avoid excessive use of salt, refined sugar, ghee, butter, chilies, Til taila (sesame oil), pickles, bengal gram, sour fruits, mustard oil, curd, coffee, tea, etc. </li>
                  <li>2.Avoid consuming processed/oily food and animal fat.</li>
                  <li>3.Avoid sleeping during the day and sleeping late.</li>
                  <li>4.Stop consuming alcohol and smoking tobacco.</li>
                </ul>
              </div>
                      
                  <div class="reference">
                      <h3>References:</h3>
                      <ul>
                        <li>1. Anchala R, Kannuri NK, Pant H, et al. Hypertension in India: a systematic review and meta-analysis of prevalence, awareness, and control of hypertension. J Hypertens. 2014;32(6):1170-7.</li>
                        <li>2. Harrison's principles of internal medicine (19th edition). New York: McGraw Hill Education; 2015. Chapter 298, Hypertensive vascular disease;1611-1627</li>
                        <li>3. Whelton PK, Carey RM, Aronow WS, Casey DE Jr, et al. 2017 ACC/AHA/AAPA/ABC/ACPM/AGS/APhA/ASH/ASPC/NMA/PCNA guideline for the prevention, detection, evaluation, and management of high blood pressure in adults: a report of the American College of Cardiology/American Heart Association Task Force on Clinical Practice Guidelines. J Am Coll Cardiol 2018;71 :e127–248.</li>
                        <li>4.  Vithalani L V, Dalvi S A, Lele V T, Sakharkar B V. Hypertension - An Ayurvedic Perspective. IAMJ. November- 2015; 3(11): 2322-2329</li>
                        <li>5.	Menon M, Shukla A. Understanding hypertension in the light of Ayurveda. J Ayurveda Integr Med. 2017; 1-6</li>
                        <li>6.	P.V Sharma. Chapter XXIV, Section 1- On Properly Formed Blood etc. In: Caraka Samhita. 2014 Edition. Varanasi: Chaukhambha Orientalia.</li>
                        <li>7.	Dixit M, Mishra P K,Sharma B. Understanding Hypertension in Ayurveda. World Journal of Pharmaceutical and Medical Research 2017;3(1): 263-266</li>
                        <li>8.	Sharma T, Ramamurthy A, Anand P, Malvika. Hypertension: Management Through Ayurveda Herbs. World Journal of Pharmacy and Pharmaceutical Sciences.2016; 5(7): 468-480</li>
                        <li>9.	National Health Portal. Vyanabalavaishamya (Hypertension). (Online) (Published on 12/02/2016, Cited on 04/09/2018). Available from: https://www.nhp.gov.in/Vyanabala-vaishamya-(Hypertension)_mtl	</li>
                        <li>10.	Central Council for Research In Ayurvedic Sciences. Ministry of AYUSH. Govt. of India. Hypertension. (online). (Cited on 04/09/2018) Available from:  http://www.ccras.nic.in/sites/default/files/viewpdf/faq/HYPERTENSION.pdf</li>
                        <li>11.	Ananda Balayogi Bhavanani. Yoga As A Therapy-10: Hypertension and its Yogic management. International Centre for Yoga Education and Research. (online) (cited on 04/09/2018). Available from:   http://icyer.com/documents/yoga%20as%20a%20therpy-10-Hypertension%20and%20its%20yogic%20management.pdf</li>
                      </ul>
                  </div>    
            </div>
    </div>
</section>
<div class="mb-5 mt-5">
  <app-main-footer></app-main-footer>
</div>