<app-navigation></app-navigation>
<section class="home-top pt-5"> 
    <app-floating></app-floating>
  <div class="container "> 
      <h1 class="main_title">Urinary Tract Infection</h1>
    <h1 class="main_title2">“one of the most common bacterial infections”</h1>

    <div class="clearfix"></div>
<div class="clear20"></div>
<div class="HedingMapContentBox col-12 col-lg-9">
  <div class="row">
      <div class="col-6 col-sm-6 col-lg-4">
        <div class="col-12 col-lg-12 text-center">
          <img src="././assets/images/world-map.png">
        </div>
      </div>
      <div class="col-6 col-sm-6 col-lg-4">
          <div class="col-12 col-lg-12">
            <div class="row">
              <div class="col-6 col-lg-6 Around50Text2 Around50Text text-center">
                  <p>Affects nearly  
                    </p> 
                  <h1>150,000 million</h1>
                   
              </div> 
              <div class="col-6 col-lg-6 Around50Text2 Around50Text padlrn">
                    <p>individuals 
                        per year 
                        globally.</p>     
              </div> 
          </div>  
                  <div class="clear"></div>
                  <div class="BorderBotton"></div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-4 padlrn">
            <div class="col-12 col-lg-12 text-left padlrn">
              <div class="row">
                <div class="col-6 col-lg-6  Around50Text2 Around50Text  text-center">
                  <p>Approximately</p>
                  <h1>40% 12%</h1>
                  <p>Women&Men</p>
                </div>
                <div class="col-6 col-lg-6 Around50Text2 Around50Text padlrn">
                  <div class="clear10"></div>
                    <div class="BorderBotton"></div>
                    <p> in India suffer from UTI during their lifetime.  
                        </p>
                  
                  </div>
              </div>
            </div>
          </div>
  </div>


</div>
<div class="clear20"></div>
  <div class="DibetectSection">
      <div class="DibeticLeft" (click)="scrollTo('Overview')">
        <img src="././assets/images/noun-health.png">
        <p class="m-0">Overview</p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('SymptomsCauses')">
        <img src="././assets/images/noun-medical.png">
        <p class="m-0">Symptoms &amp; Causes  </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('PreventionDiagnosis')" >
        <img src="././assets/images/noun-bacteria.png">
        <p class="m-0"> Prevention &amp; Diagnosis </p>
      </div>
      <div class="DibeticLeft"  (click)="scrollTo('AyurvedaApproach')">
        <img src="././assets/images/noun-herbal-medicine.png">
        <p class="m-0"> Ayurveda Approach </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('Complications')" >
        <img src="././assets/images/noun-healt.png">
        <p class="m-0"> Complications </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('RelatedProducts')">
          <img src="././assets/images/noun-medicine10.png">
          <p class="m-0">    Related Products </p>
        </div>
    
  
    </div>
    <div class="clear20"></div>
  <div class="clear"></div>
 </div>
</section>
<div class="container">
  <!-- <div class="zanduservicemain">
    <div class="card-deck px-5">
      <div class="card zanduservice">
        <div class="card-body">
          <p class="card-text">Sign up to get <br>
            Zandu Services FREE!</p>
        </div>
      </div>
      <div class="card zanduservice text-center">
        <div class="card-body">
          <button class="btn FbBtn" type="button"><img alt="facebook" class="mr-2" src="././assets/images/facebook.png">
            Login With Facebook</button>
        </div>
      </div>
      <div class="card zanduservice text-left">
        <div class="card-body ">
          <button class="btn  GoogleBtn" type="button"><img _ngcontent-c1="" alt="google" class="mr-2" src="././assets/images/google.png">
            Sign up with Google</button>
        </div>
      </div>
      <div class="card zanduservice mr-4">
        <div class="card-body ">
          <span>Call us @</span>
          <h5>9999 8888 22</h5>
        </div>
      </div>
    </div>
  </div> -->
</div>
<div class="clear"></div>

<section id="Overview" class="Yoga_AurvedaSection">
    <div class="clear"></div>
  <h1>What is Urinary Tract Infection?</h1>
  <div class="clear"></div>
  <div class="text-center">
    <img src="././assets/images/big_border.png">
  </div> 
  <div class="row m-0">
  <div class="Yoga_Ayurveda_RightDiv col-sm-6 col-lg-6 imghidden">
      <img class="w-100" src="././assets/images/urinary-tractinfection.png">
  </div>
  <div class="Yoga_Ayurveda_RightDiv col-sm-6 col-lg-6 padrwh">
    <h5 class="txtpad">Any infection in the urinary tract, be it the kidneys, urinary bladder or the urethra, is called as urinary tract infection. </h5>
    <div class="clear10"></div>
    <p class="txtpad">UTI is one of the most common bacterial infections 
        that its estimated incidence is approximately 
        150,000 million per year globally. </p>
    <div class="clear10"></div> 
   
     <div class="clear10"></div> 
    <button class="btn btn-primary mb-2 mt-4 SignBtn" type="button" routerLink="../UtiReadMore">read more</button>
  </div> 
</div>
  <div class="clear"></div>
  

</section> 
<section id="SymptomsCauses" class="Yoga_AurvedaSection12 Yoga_AurvedaSymptoms symptoms-uti">
    <h1 class="text-center">Symptoms of Urinary Tract Infection</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
    <p class="text-center ptractinfection txtpad">In case of Urinary Tract Infection, produce symptoms like burning sensation during micturition<br> 
        yellowish urine. turbid urine due to the presence of leucocytes,  and inflammation of the bladder  </p>
  <div class="clear20"></div>
        <div class="row m-0 rscroll">
            <div class="col-8  col-md-6 col-lg-3 text-center wscroll">
                <img src="././assets/images/fever.png">  
                <div class="clear"></div>
                <span class="pfever">Fever</span>
            </div> 
            <div class="col-8  col-md-6 col-lg-3 text-center wscroll">
                <img src="././assets/images/urenety-pain.png">  
                <div class="clear"></div>
                <span class="pfever">Dysuria or pain
                   <br/>
                   while urinating
                    </span>
            </div>
            <div class="col-8  col-md-6 col-lg-3 text-center wscroll">
                <img src="././assets/images/urination.png">  
                <div class="clear"></div>
                <span class="pfever">Increased 
                    frequency  <br/>
                    of urination
                    </span>
            </div>
            <div class="col-8  col-md-6 col-lg-3 text-center wscroll">
                <img src="././assets/images/lower-abdomen.png">  
                <div class="clear"></div>
                <span class="pfever">Pain in Lower 
                   <br/>   Abdomen
                    </span>
            </div>
          </div> 
   
  
    <div class="clear"></div>
    
  
  </section> 
  <section id="PreventionDiagnosis" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms">
      <h1>Do you know what actually <br>
          causes Urinary tract Infection</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
       <p class="text-center ptractinfection txtpad">The various causes of urinary tract infection are as follows:</p> 
     
      <div class="clear"></div>
      <div class="clear20"></div>

      <div class="row rscroll hidden-md">

        <div class="col-8  col-md-6 col-lg-3 text-center wscroll">
          <img src="././assets/images/Exercise.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Excessive
              <br/>Exercise
              </span>
      </div> 
      <div class="col-8  col-md-6 col-lg-3 text-center wscroll">
          <img src="././assets/images/sea-foods.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Excessive 
              intake of 
               <br/>sea foods  
              </span>
      </div>
      <div class="col-8 col-md-6 col-lg-3 text-center wscroll">
          <img src="././assets/images/medication.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Medication 
              </span>
      </div>
      <div class="col-8 col-md-6 col-lg-3 text-center wscroll">
          <img src="././assets/images/alcohol.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Alcohol 
              <br/>Consumption
             </span>
      </div>   
      
      <div class="col-8 col-md-6 col-lg-3 text-center wscroll">
        <img src="././assets/images/sea-foods.png">  
        <div class="clear"></div>
        <div class="clear10"></div>
        <span class="pfever">Salt & Astringent
            <br/>Materials
            </span>
    </div> 
    <div class="col-8 col-md-6 col-lg-3 text-center wscroll">
        <img src="././assets/images/excess-travel.png">  
        <div class="clear"></div>
        <div class="clear10"></div>
        <span class="pfever">Excessive
             <br/>Travelling
            </span>
    </div>
    <div class="col-8 col-md-6 col-lg-3 text-center wscroll">
        <img src="././assets/images/heavy-meal.png">  
        <div class="clear"></div>
        <div class="clear10"></div>
        <span class="pfever">Heavy meal<br>
            & Indigestion 
            </span>
    </div>
    <div class="col-8 col-md-6 col-lg-3 text-center wscroll">
        <img src="././assets/images/incompitable-food.png">  
        <div class="clear"></div>
        <div class="clear10"></div>
        <span class="pfever">Incompatible foods<br>
            combinations <br>
            such as fish & milk <br>
            together, curds <br>
            & milk together
            </span>
    </div>

      </div>


      <div class="row m-0 rscroll hidden-xs">
        <div class="col-8  col-md-6 col-lg-3 text-center wscroll">
            <img src="././assets/images/Exercise.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Excessive
                <br/>Exercise
                </span>
        </div> 
        <div class="col-8  col-md-6 col-lg-3 text-center wscroll">
            <img src="././assets/images/sea-foods.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Excessive 
                intake of 
                 <br/>sea foods  
                </span>
        </div>
        <div class="col-8 col-md-6 col-lg-3 text-center wscroll">
            <img src="././assets/images/medication.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Medication 
                </span>
        </div>
        <div class="col-8 col-md-6 col-lg-3 text-center wscroll">
            <img src="././assets/images/alcohol.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Alcohol 
                <br/>Consumption
               </span>
        </div>
      </div>
      <div class="clear40"></div> 
      <div class="row m-0 rscroll hidden-xs">
          <div class="col-8 col-md-6 col-lg-3 text-center wscroll">
              <img src="././assets/images/sea-foods.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever">Salt & Astringent
                  <br/>Materials
                  </span>
          </div> 
          <div class="col-8 col-md-6 col-lg-3 text-center wscroll">
              <img src="././assets/images/excess-travel.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever">Excessive
                   <br/>Travelling
                  </span>
          </div>
          <div class="col-8 col-md-6 col-lg-3 text-center wscroll">
              <img src="././assets/images/heavy-meal.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever">Heavy meal<br>
                  & Indigestion 
                  </span>
          </div>
          <div class="col-8 col-md-6 col-lg-3 text-center wscroll">
              <img src="././assets/images/incompitable-food.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever">Incompatible foods<br>
                  combinations <br>
                  such as fish & milk <br>
                  together, curds <br>
                  & milk together
                  </span>
          </div>
         
        </div> 
      <div class="clear"></div>
      <div class="container">
      <div class="topping_spac">
        
          <div class="all_benefits pt-3">
            <p>Want to get all the Benefits of <br>
              Ayurveda? Get a Free consultation!</p>
            <span>Book Your Appointment now in 3 Easy Steps</span>
          </div>
    
          <div class="all_benefits all_benefits2 text-center">
            <button class="btn btn-primary mb-2 SignBtn" type="button" routerLink="../patientloginpage">book appointment</button>
            <p class="ORTExt">Or </p>
            <p>call 1800 572 8000</p>
          </div>
     
        </div>
      </div>
    </section> 
    <div class="clear40"></div>
    <div class="clear40"></div>
    <section class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms ">
        <h1 class="text-center">Urinary Tract Infection & the Doshas  </h1>
        <div class="clear"></div>
        <div class="text-center">
          <img src="././assets/images/big_border.png">
        </div> 
        <p class="text-center ptractinfection txtpad">The causative factors, as mentioned above, cause vitiation of all three doshas (vata, pitta, kapha).  </p>
      <div class="clear20"></div>
      <div class="container">
      <div class="text-center rscroll">
          <div class="article_div wscroll">
            <img class="mx-auto d-block img-fluid" src="././assets/images/Kapha.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>Kapha</span>
              <div class="clear10"></div>
              <p>Massage with medicated oil prepared<br> with bitter herbs. Enema is given as medicate<br> niruha basti. Fomentation therapies.<br> Vamana. Medicated Uttara Basti.</p>
            </div>
            <div class="clear50"></div>
            <button class="btn read_more rmposition" (click)="setNav('kapha')" routerLink="../UtiReadMore">READ MORE</button>
          </div>
  
          <div class="article_div wscroll">
            <img class="mx-auto d-block img-fluid" src="././assets/images/Pita.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>PITA</span>
              <div class="clear10"></div>
              <p>Whole body massage with cooling oils like<br> olive oil, sunflower oil and coconut oil<br>
                  Cold affusion, cold bath with pitta pacifying<br> herbs like manjistha, amalaki, gokshura.<br> Enema is given as medicate niruha<br> basti and medicate anuvasan basti.
                  </p>
            </div>
            <div class="clear10"></div>
            <button class="btn read_more rmposition" (click)="setNav('kapha')" routerLink="../UtiReadMore">READ MORE</button>
          </div>
  
          <div class="article_div wscroll">
            <img class="mx-auto d-block img-fluid" src="././assets/images/Vata.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span> VATA</span>
              <div class="clear10"></div>
              <p>Whole body massage with medicated oils that<br> alleviate vata. Massage on the area above pelvis<br> with warm sesame oil along with ashwagandha<br>
                  Heat therapy in hot tub bath with application<br> of heat above the pelvis area. </p>
            </div>
            <div class="clear30"></div>
            <button class="btn read_more rmposition" (click)="setNav('kapha')" routerLink="../UtiReadMore">READ MORE</button>
          </div>
      </div>
      <div class="clear40"></div>
      <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <label class="minitues">Take our 3 Minute Dosha Test</label>
          <div class="clear30"></div>
          <div class="col-12 col-lg-12 text-center">
              <button class="btn  read_more1 ">calculate now</button>
          </div>
        </div> -->
    </div>
    <div class="clear"></div>
    <div class="container">
        <div class="topping_spac">
        
       <span class="call-queries1">Call 1800 572 8000</span> <span class="call-queries">  to get in touch with our 
            Health Experts & resolve your Health Queries</span>  
        
       
          </div>
        </div>
      </section> 
      <div class="clear40"></div>
      <div class="clear40"></div>
      <section class="Yoga_AurvedaSection Yoga_AurvedaSymptoms mt-5"> 
          <div class="container">
            <h1>Preventions for Urinary Tract Infection</h1>
            <div class="clear"></div>
            <div class="text-center">
              <img src="././assets/images/big_border.png">
            </div> 
            <p class="text-center ptractinfection txtpad">The following is a list of habits and foods that should be avoided to prevent UTI and its recurrence </p>
  
             
            <div class="clear"></div>
            <div class="clear20"></div>

            <div class="row rscroll hidden-md">
              <div class="col-8  col-md-6 col-lg-3 text-center wscroll">
                <img src="././assets/images/cerel-pulses.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">
                    BETEL LEAVES
                    </span>
            </div> 
            <div class="col-8 col-md-6 col-lg-3 text-center wscroll">
                <img src="././assets/images/vegetables-new.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Fish
                    </span>
            </div>
            <div class="col-8  col-md-6 col-lg-3 text-center wscroll">
                <img src="././assets/images/dairy-product.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Too much salt
       
                    </span>
            </div>
            <div class="col-8  col-md-6 col-lg-3 text-center wscroll">
                <img src="././assets/images/fruit.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Black Gram
                   </span>
            </div>

            <div class="col-8  col-md-6 col-lg-3 ml-auto text-center wscroll">
              <img src="././assets/images/Asafeotida.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever">
                Asafeotida
                  </span>
          </div> 
          <div class="col-8 col-md-6 col-lg-4 text-center wscroll">
              <img src="././assets/images/Incompatible.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever">
                  Incompatible foods<br>combinations
                  </span>
          </div>
          <div class="col-8  col-md-6 col-lg-3 mr-auto text-center wscroll">
              <img src="././assets/images/Sesame seeds.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever">Sesame seeds
     
                  </span>
          </div>

            </div>

            <div class="row m-0 rscroll hidden-xs">
              <div class="col-8  col-md-6 col-lg-3 text-center wscroll">
                  <img src="././assets/images/cerel-pulses.png">  
                  <div class="clear"></div>
                  <div class="clear10"></div>
                  <span class="pfever">
                      BETEL LEAVES
                      </span>
              </div> 
              <div class="col-8 col-md-6 col-lg-3 text-center wscroll">
                  <img src="././assets/images/vegetables-new.png">  
                  <div class="clear"></div>
                  <div class="clear10"></div>
                  <span class="pfever">Fish
                      </span>
              </div>
              <div class="col-8  col-md-6 col-lg-3 text-center wscroll">
                  <img src="././assets/images/dairy-product.png">  
                  <div class="clear"></div>
                  <div class="clear10"></div>
                  <span class="pfever">Too much salt
         
                      </span>
              </div>
              <div class="col-8  col-md-6 col-lg-3 text-center wscroll">
                  <img src="././assets/images/fruit.png">  
                  <div class="clear"></div>
                  <div class="clear10"></div>
                  <span class="pfever">Black Gram
                     </span>
              </div>
            </div> 
            <div class="clear40"></div>
            <div class="row m-0 rscroll hidden-xs">
              <div class="col-8  col-md-6 col-lg-3 ml-auto text-center wscroll">
                  <img src="././assets/images/Asafeotida.png">  
                  <div class="clear"></div>
                  <div class="clear10"></div>
                  <span class="pfever">
                    Asafeotida
                      </span>
              </div> 
              <div class="col-8 col-md-6 col-lg-4 text-center wscroll">
                  <img src="././assets/images/Incompatible.png">  
                  <div class="clear"></div>
                  <div class="clear10"></div>
                  <span class="pfever">
                      Incompatible foods<br>combinations
                      </span>
              </div>
              <div class="col-8  col-md-6 col-lg-3 mr-auto text-center wscroll">
                  <img src="././assets/images/Sesame seeds.png">  
                  <div class="clear"></div>
                  <div class="clear10"></div>
                  <span class="pfever">Sesame seeds
         
                      </span>
              </div>
            
            </div> 
           
            <div class="clear"></div> 
          </div>
          </section> 

<div class="clear40"></div>
<div class="clear40"></div>
<section class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms">
    <h1 class="text-center">How UTI is Identified
        in the Human Body </h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
  <div class="clear20"></div>
  <div class="container">
  <div class="text-center row rscroll">
      <div class="article_div-human ">
        <img class="mx-auto d-block img-fluid" src="././assets/images/urine-analysis.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>Urine Analysis</span>
          <div class="clear40"></div>
          <p>In this procedure the urine sample is sent to laboratory to examine for the presence of any bacteria, white blood cell, or red blood cell. The patient would be asked to wipe the genital area with an antiseptic pad and then collect midstream urine in a container.</p>
        </div>
        <div class="clear50"></div>
        <button class="btn read_more rmposition" routerLink="../UtiReadMore">READ MORE</button>
      </div>

      <div class="article_div-human ">
        <img class="mx-auto d-block img-fluid" src="././assets/images/u-culture.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>Urine Culture</span>
          <div class="clear40"></div>
          <p>In this procedure, once the urine sample is collected, it is sent to laboratory for culture. This helps to find out the type of bacteria which is causing UTI and also helps the doctor to prescribe the effective medications</p>
        </div>
        <div class="clear10"></div>
        <button class="btn read_more rmposition" routerLink="../UtiReadMore">READ MORE</button>
      </div>

      <div class="article_div-human ">
        <img class="mx-auto d-block img-fluid" src="././assets/images/ct-scan.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span> CT Scan / MRI of Urinary Tract</span>
          <div class="clear10"></div>
          <p>CT scan (Computerised Tomography) and MRI (Magnetic Resonance Imaging) uses high frequency radio waves to develop images of the urinary tract. A contrast dye may be used to highlight the intended structures for examination. These images helps to examine the internal structure of the urinary tract.It helps in diagnosing various skin disorders such as infections or skin cancer. </p>
        </div>
        <div class="clear30"></div>
        <button class="btn read_more rmposition" routerLink="../UtiReadMore">READ MORE</button>
      </div>

      <div class="article_div-human ">
          <img class="mx-auto d-block img-fluid" src="././assets/images/syscocopy.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>
            <span> Cystoscopy</span>
            <div class="clear40"></div>
            <p>Cystoscopy is done by using a long thin tube called as cystoscope. The cystoscope is inserted into the urethra and passed to the bladder. 
                This is usually recommended for patients who have recurrent UTI. It helps in diagnosing various skin disorders such as infections or skin cancer.</p>
          </div>
          <div class="clear30"></div>
          <button class="btn read_more rmposition" routerLink="../UtiReadMore">READ MORE</button>
        </div>
  </div>
</div>
<div class="clear"></div>
  </section> 
<div class="clear40"></div>
<div class="clear40"></div>
<section id="AyurvedaApproach" class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms">
    <h1 class="text-center">Ayurvedic Approach to Manage UTI</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
    <p class="text-center ptractinfection txtpad">Ayurvedic therapies are prescribed according to the type of dosha associated with UTI. The various ayurvedic therapies for the treatment of UTI are listed below:  </p>
  <div class="clear20"></div>
  <div class="container">
  <div class="text-center">
      <div class="article_div1">
        <img class="mx-auto d-block img-fluid" src="././assets/images/ayurvedic-drug.png">
        <div class="clear10"></div>
        <div class="infor">      
          <div class="clear10"></div>
          <label class="utitop">Ayurvedic herbal<br>
              & drug therapy</label>
        </div>
        <div class="clear10"></div>
      </div>
  </div>
  <div class="clear30"></div>
  <div class="col-12 col-lg-12 text-center lfst-box">
    <label class="lyfestyle-mgmt">Lifestyle Management</label>
  </div>
  <div class="clear40"></div>
  <div class="row rscroll">
    <div class="col-sm-4 col-lg-4 text-center wscroll">
      <img src="././assets/images/Diet.png">
      <div class="clear10"></div>
      <label class="lyfestyle-mgmt">DIET</label>
    </div>
    <div class="col-sm-4 col-lg-4 text-center wscroll">
        <img src= "././assets/images/Diet.png">
        <div class="clear20"></div>
        <label class="lyfestyle-mgmt">Pranayama</label>
      </div>
      <div class="col-sm-4 col-lg-4 text-center wscroll">
          <img src="././assets/images/Diet.png">
          <div class="clear20"></div>
          <label class="lyfestyle-mgmt">Yoga</label>
        </div>
  </div>
</div>
<div class="clear"></div>

  </section> 
<div class="clear40"></div>
<!-- <section class="dosha">
  <div class="dosham">
    <p>Various Ayurvedic herbs and medicines are used for the<br>
        treatment of UTI. Ayurvedic therapies are prescribed <br>
        according to the type of dosha associated with UTI. <br>
        Namely,  </p>
        
       <h5>-      Vataja Mutrakrcchra</h5> 
       <h5>-      Pitaja mutrakrccha</h5> 
       <h5>-      Kaphaja mutrakrcchra   </h5>           
       <div class="clear20"></div> 
       <div class="col-12 col-lg-12">
          <button _ngcontent-c1="" class="btn read_more rmposition">READ MORE</button>
          <div class="clear40"></div>
       </div>

  </div>
  <div class="clear"></div>
  <div class="clear40"></div>
  <div class="clear40"></div>
  <div class="clear40"></div>
</section> -->
<section class="HomeDisplayNone">
  <div class="container ">
      <div class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms deal-areabg">
          <h1 class="text-center">Home Remedies</h1>
          <div class="clear"></div>
          <div class="text-center">
            <img src="././assets/images/big_border.png">
          </div> 
         
      <div class="clear"></div>
      <div class="clear20"></div>
      <div class="deal_area">
          <div class=" mb-4">
            <div class="shadoo1 mx-0 rscroll">
              <div class="card tab_card mx-0 small_div BorderradiusLeft wscroll">
                <div class=" BorderradiusLeft card-body {{tabs[0].active}}" (click)="openCity(0)">
                  <div class="border_div">
                    <span>  coriander seeds  </span>
                  </div>
                </div>
              </div>
              <div class="card tab_card mx-0 wscroll">
                <div class="card-body {{tabs[1].active}}" (click)="openCity(1)">
                  <div class="border_div">
                    <span>    cranberry juice </span>
                  </div>
                </div>
              </div>
              <div class="card tab_card mx-0 BorderradiusRight wscroll">
                <div class=" BorderradiusRight card-body  {{tabs[2].active}} " (click)="openCity(2)">
                  <div class="border_div ">
                    <span>  Cinnamon tea   </span>
                  </div>
                </div>
              </div>
              <div class="card tab_card mx-0 BorderradiusRight wscroll">
                  <div class=" BorderradiusRight card-body  {{tabs[3].active}} " (click)="openCity(3)">
                    <div class="border_div HiddenBorder">
                      <span>   baking soda       </span>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        
          <div class="{{tabs[0].tabcontent}} p-0 TabContentBox paddingTabContentDiv BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
               <div class="row">
                 <div class="col-sm-6 col-lg-6">
                   <p class="tab-p">Mix powdered coriander seeds (3 tablespoons) with unrefined sugar or powdered rock candy (1 tablespoon) in an earthen vessel with 3 cups of water. Soak it overnight, then mix well and drink 3 times a day (1 cup each time). This helps to relieve the pacifying pita.</p>
                 </div>
                 <div class="col-sm-6 col-lg-6">
                   <img class="img-fluid" src="././assets/images/hu-powder.png">
                 </div>
               </div>
              </div>
            </div>
          </div>
        
          <div class="{{tabs[1].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
                  <div class="row">
                      <div class="col-sm-6 col-lg-6">
                        <p class="tab-p">Mix powdered coriander seeds (3 tablespoons) with unrefined sugar or powdered rock candy (1 tablespoon) in an earthen vessel with 3 cups of water. Soak it overnight, then mix well and drink 3 times a day (1 cup each time). This helps to relieve the pacifying pita.</p>
                      </div>
                      <div class="col-sm-6 col-lg-6">
                        <img class="img-fluid" src="././assets/images/hu-powder.png">
                      </div>
                    </div>
              </div>
            </div>
          </div>
        
          <div class="{{tabs[2].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
                  <div class="row">
                      <div class="col-sm-6 col-lg-6">
                        <p class="tab-p">Mix powdered coriander seeds (3 tablespoons) with unrefined sugar or powdered rock candy (1 tablespoon) in an earthen vessel with 3 cups of water. Soak it overnight, then mix well and drink 3 times a day (1 cup each time). This helps to relieve the pacifying pita.</p>
                      </div>
                      <div class="col-sm-6 col-lg-6">
                        <img class="img-fluid" src="././assets/images/hu-powder.png">
                      </div>
                    </div>
              </div>
            </div>
          </div>
        
          <div class="{{tabs[3].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
              <div class="">
                <div class="tab1ContentBox">
                    <div class="row">
                        <div class="col-sm-6 col-lg-6">
                          <p class="tab-p">Mix powdered coriander seeds (3 tablespoons) with unrefined sugar or powdered rock candy (1 tablespoon) in an earthen vessel with 3 cups of water. Soak it overnight, then mix well and drink 3 times a day (1 cup each time). This helps to relieve the pacifying pita.</p>
                        </div>
                        <div class="col-sm-6 col-lg-6">
                          <img class="img-fluid" src="././assets/images/hu-powder.png">
                        </div>
                      </div>
                </div>
              </div>
            </div>
        </div>
      </div> 
  </div>
</section>
<section id="Complications" class="Yoga_AurvedaSection">
    <div class="container">
      <div class="clear40"></div>
    <h1>Complications of Urinary Tract Infection</h1>
    <p class="text-center ptractinfection txtpad">UTI if left untreated may lead to the following complications:  </p>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
    <div class="row m-0">
    <div class="Yoga_Ayurveda_RightDiv col-lg-6 imghidden">
        <img class="w-100" src="././assets/images/urinary-complication.png">
    </div>
    <div class="Yoga_Ayurveda_RightDiv col-lg-6 comp-contentbx">
      <div class="clear20"></div>
     <div class="row">
       <div class="col-1 col-lg-1">
          <span><img src="././assets/images/nxt-arrow.png"> </span>
       </div>
       <div class="col-11 col-lg-11">
          <p class="c-infection">Permanent damage of the kidneys</p>
       </div>
     </div>
     <div class="row">
        <div class="col-1 col-lg-1">
            <span><img src="././assets/images/nxt-arrow.png"> </span>
        </div>
        <div class="col-11 col-lg-11">
            <p class="c-infection">
                Risk of delivering low birth weight 
                babies or premature infants in 
                pregnant women who has UTI</p>
        </div>
      </div>
      <div class="row">
          <div class="col-1 col-lg-1">
              <span><img src="././assets/images/nxt-arrow.png"> </span>
          </div>
          <div class="col-11 col-lg-11">
              <p class="c-infection">Recurrent UTI in women</p>
          </div>
      </div>
      <div class="row">
        <div class="col-1 col-lg-1">
            <span><img src="././assets/images/nxt-arrow.png"> </span>
        </div>
        <div class="col-11 col-lg-11">
            <p class="c-infection">
                Narrowing of urethra in men who 
                has recurrent episodes of UTI</p>
        </div>
      </div>
  <div class="row">
        <div class="col-1 col-lg-1">
            <span><img src="././assets/images/nxt-arrow.png"> </span>
        </div>
        <div class="col-11 col-lg-11">
            <p class="c-infection">
                Sepsis may occur if the infection 
                reaches the kidneys 
                </p>
        </div>
      </div>
    
     
     
       
    </div> 
  </div>
    <div class="clear"></div>
  </div>
  
  </section> 
  <section id="RelatedProducts" class="Yoga_AurvedaSectionrp Yoga_AurvedaSymptoms">
      <h1 class="text-center">Related Products</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
     
  <div class="clear"></div>
  <div class="clear20"></div>
  <div class="container">
    <div class="row" *ngIf="visibleCategory">
  
        <div class="col-6 col-sm-4 col-md-4 col-lg-4 "  *ngFor="let data of visibleCategory">
      <div class="col-6 col-sm-12 col-md-12 col-lg-12 Product_div tab-h text-center padlrn" *ngIf="visibleCategory.length!=0">
        <div class="clear20"></div>
        <div class="WhiteBox">
          <div (click)="getProductDetails(data.id)" >
              <img src="{{data.imageUrl}}" width="199" height="194">
              <div class="clear10"></div>
              <label class="zl-text cursor">{{data.name}}</label>
          </div>
        </div>
        <br>
      

        <div class="row">
          <div class="text-center col-6 col-sm-6 col-md-6 col-lg-6 ">
            <label class="">
              <label class="zl-text1">&#8377;</label>
              <label class="zl-text12">{{data.selling}}</label>
            </label>
          </div>
          <div class=" col-6 col-sm-6 col-md-6 col-lg-6 text-left">
            <div class="product_img">
              <div class="clear10"></div>
              <div class="order-margin-top2"> 
             
                <i *ngIf="qtyP!=0" class="fa" (click)="reduce(data)"><img src="././assets/images/SpinnerMinus.png"></i>&nbsp;
                <input [(ngModel)]="data.qty" class="input-spinner" >&nbsp;
                <i class="fa" (click)=" add(data)"><img src="././assets/images/SpinnerPluse.png"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">
        <div class="col-6 col-lg-12 text-center rmpositionnew">
            <div class="clear20"></div>
            <button class="btn  read_morerp AddToCartBtn" (click)="addToCart(data)" type="button">add
                to cart</button>
          
        </div> 
        </div>
        <div class="clear20"></div>       
      </div>
    </div>
</div>
<div  class="row " *ngIf="visibleCategory.length==0">
    <div class="col-12 col-lg-12 text-center">
        <div class="clear20"></div>
        <h6>No Products Found...</h6>
    </div> 
  
  </div>
<!-- </div> -->
<div class="clear20"></div>
<div class="row" *ngIf="visibleCategory.length!=0">
    <div class="col-6 col-lg-12 text-center">
        <div class="clear20"></div>

        <button class="btn read_morerp" routerLink="../mainproductpage">explore all products</button>            
    </div> 
    </div>
</div> 
</section> 
<div class="clear40"></div>
<div class="clear40"></div>

<div class="clear40"></div>

<div class="clear40"></div>

<div class="clear40"></div>
<section class="Yoga_AurvedaSection-artical Yoga_AurvedaSymptoms">
    <h1 class="text-center">Articles </h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
   
  <div class="clear20"></div>
  <div class="container">
  <div class="text-center rscroll">
      <div class="article_div-artical">
        <img class="mx-auto d-block img-fluid" src="././assets/images/Uti1.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>UTI</span>
          <div class="clear10"></div>
          <p>Top 7 Habits To<br/> Change...</p>
        </div>
        <div class="clear50"></div>
        <button class="btn read_more rmposition1" routerLink="../UTIHabitsArticles">READ MORE</button>
      </div>

      <div class="article_div-artical">
        <img class="mx-auto d-block img-fluid" src="././assets/images/Uti2.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>Punarnava </span>
          <div class="clear10"></div>
          <p>Boerhaavia diffusa is<br/> an essential...</p>
        </div>
        <div class="clear10"></div>
        <button class="btn read_more rmposition1" routerLink="../PunarnavaArticles">READ MORE</button>
      </div>

      <!-- <div class="article_div-artical text-center">
        <img class="mx-auto d-block img-fluid" src="././assets/images/b-food.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span> PRANAYAMA</span>
          <div class="clear10"></div>
          <p>14 best & worst<br> foods for your ... </p>
        </div>
        <div class="clear30"></div>
        <button class="btn read_more rmposition1" routerLink="../UtiReadMore">READ MORE</button>
      </div> -->
  </div>
  <div class="clear40"></div>
</div>
<div class="clear"></div>

  </section> 



  <div class="container">
      <div class="topping_spac">
        
          <div class="all_benefits pt-3">
            <p>Want to get all the Benefits of <br>
              Ayurveda? Get a Free consultation!</p>
            <span>Book Your Appointment now in 3 Easy Steps</span>
          </div>
    
          <div class="all_benefits all_benefits2 text-center">
            <button class="btn btn-primary mb-2 SignBtn" type="button"  routerLink="../patientloginpage">book appointment</button>
            <p class="ORTExt">Or </p>
            <p>call 1800 572 8000</p>
          </div>
     
        </div>
      </div>

<div class="">
  <app-main-footer></app-main-footer>
</div>


<!-- The Modal -->
<div class="modal {{nomodel}}">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body text-center py-5">
        <span class="modeltitle">COMING SOON</span>
        <img src="././assets/images/model_border.png">
        <p class="pt-3">Your Dosha Calculator</p>
        <div class="smlltxt pb-4">We’ll Notify You Via Mail</div>
        <button type="button" class="btn closingbtn" data-dismiss="modal" (click)="closed()">OK</button>
      </div>
    </div>
  </div>
</div>