.alert-danger {
    padding: 19px;
    background-color: #f44336;
    color: white;
    margin-bottom: 12px;
    border-radius: 30px;
    width: 25%;
    height: 57px;
}

.alert-warning {
    padding: 19px;
    background-color: yellow;
    color: white;
    margin-bottom: 12px;
    border-radius: 30px;
    width: 25%;
    height: 57px;
}
.alert-success {
    padding: 19px;
    background-color: greenyellow;
    color: white;
    margin-bottom: 12px;
    border-radius: 30px;
    width: 25%;
    height: 57px;
}


.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}


.closebtn:hover {
    color: black;
}