<app-navigation></app-navigation>
<app-floating></app-floating>

<section class="declaimer">
  <div class="container pt-5 text-center">
    <h1>Constipation</h1>
    <img src="././assets/images/big_border.png">
<div class="maindiv mt-4 text-left">
  <h3>Overview of Constipation:</h3>
  <p>The matter of greatest concern for all Indian parents- Did my child eat food properly? And Is he/she passing stools regularly? If the answer is yes for both, then they are at ease, because for ages, a good appetite, and regular bowel movements has been considered to be the prime indicator of good health.  </p>
  <p>Almost everyone has constipation once in their life. Insufficient water and/or fiber intake, faulty food habits having certain medications, lack   of exercise- all can contribute to constipation.   </p>
  <p>Around 2% of Indians have recurrent or chronic constipation. Moreover, it is found to be more common in women than in men. According to the World Health Organisation, 80% of the population in developed countries depends on Ayurvedic or herbal medicines to treat constipation.<sup>1</sup></p>
     

    <h3>Rome Criteria for Functional Constipation<sup>2</sup> </h3>
    <p>As per the Rome Criteria for Functional Constipation, the diagnostic criteria for constipation must include two or more of the following:</p>
    <ul class="romecritaria">
      <li>Straining during at least 25% of defecations</li>
      <li>Lumpy or hard stools in at least 25% of defecations</li>
      <li>Sensation of incomplete evacuation for at least 25% of defecations</li>
      <li>Sensation of anorectal obstruction/blockage for at least 25% of defecations</li>
      <li>Manual maneuvers to facilitate at least 25% of defecations (e.g., digital evacuation, support of the pelvic floor)</li>
      <li>Fewer than three defecations per week</li>
    </ul> 
    <!-- <div class="row">
       <div class="col-1 col-lg-1 col-md-1"></div>
       <div class="col-10 col-lg-10 col-md-10">
          <div class="carbohydrate-border">
              <h3>What causes Asthma and respiratory allergies(Nidana)? </h3>
              <p>According to Ayurveda, the various causes (Nidana) associated with Asthma and respiratory allergies are as follows:
              </p>
          </div>
       </div>
       <div class="col-1 col-lg-1 col-md-1"></div>
     </div>  -->
     <h3 class="dysfunctions">Ayurvedic approach to Constipation:</h3> 
     <p>Constipation is referred to as called Vibandha in Ayurveda. It is the most common cause of painful defecation.<sup>3</sup></p>
     <h3 class="dysfunctions">
      Constipation and the tridoshas<sup>4</sup> 
      </h3>
      <p>According to Ayurveda, constipation occurs due to the predominance of vata dosha. People <b>with vata body composition are more</b>  prone to this condition. Any disturbance in this dosha causes an increased dryness in the body, which also affects the consistency of the faeces and leads to harder bowel movements.</p>
      <p>An aggravated Pitta dosha in addition to vata imbalance, increases heat in the body leads to drying out of the stools.
        Constipation can also be caused by Kaphadosha imbalance. If there is excess kapha in the bowel (in form of mucus or ama-undigested food) , the downward movement of Apanavata(wind responsible for elimination of the stools) is obstructed. In this case, the stools become hard, heavy and sticky. 
        </p>
      <h3 class="dysfunctions">Causes of Constipation (Hetu)<sup>4,5,6</sup>:</h3>
      <p>The following is the list of some of the common factors causing constipation:</p>
      <h3 class="dysfunctions ">Dietary factors:</h3>
     <ul class="dysfunctions">
       <li>•	Eating at irregular times</li>
       <li>•	Consuming fatty or spicy food that is hard to digest</li>
       <li>•	Decreased fibre content in regular meals</li>
       <li>•	Eating too cold or rough foods</li>
       <li>•	Drinking lots of tea, coffee or other caffeine drinks</li>
       <li>•	Not having sufficient amounts of water in a day</li>
       
     </ul>
     <div class="diabetes">
      <h3>Environmental and behavioural factors:</h3>
      <ul class="dysfunctions">
        <li>•	Suppression of the urges  </li>
        <li>•	Improper way of sexual intercourse</li>
        <li>•	Excessive consumption of alcohol and tobacco-related products</li>
        <li>•	Regular night-outs or sleeping very late in the nights</li>
        <li>•	Insomnia (sleeplessness)</li>
        <li>•	Ageing</li>
        <li>•	Psychological anger or depression</li>
        <li>•	Feelings of guilt and fear</li>
      </ul>
     <h3 class="dysfunctions">
      Other factors:
      </h3>
      <ul class="dysfunctions">
        <li>•	Underlying gastrointestinal diseases such as irritable bowel syndrome, colonic carcinoma, fissures and piles. </li>
        <li>•	Neurological diseases like multiple sclerosis, Parkinson’s disease and spinal cord abnormalities.</li>
        <li>•	Endocrinal disorders such as hypothyroidism, diabetes mellitus and hypocalcaemia.</li>
        <li>•	Pregnancy and Obesity</li>
        <li>•	Prolonged use of drugs such as opiates, calcium and iron supplements.</li>
      </ul>
     </div>
     <div class="causes">
        <h3 class="dysfunctions">Samprapti (the disease progression inside the body):<sup>7</sup> </h3>
        <p>
          The causative factors of constipation lead to the formation of Ama, i.e stagnant, undigested food that becomes toxic over time. The accumulation of ama gives rise to vata dosha. The digested stool (pakva) gets constipated and passed in small amount with sound, froth and pain.    
            </p>
            <p>The dryness caused by the aggravated vata dosha results in the following:</p>
        <ul class="dysfunctions">
            <li>•	Hardness in the stools</li>
            <li>•	Slower peristaltic movements</li>
            <li>•	Retention of stool in the colon (pakvashaya)</li>
          </ul>
          <p>All the above listed factors make the passage of stools a difficult process and lead to Vibandha or Constipation.</p>
          <h3 class="dysfunctions">Signs and Symptoms of Constipation:<sup>5</sup></h3>
          <p>The aggravated vata dosha gives rise to the following preliminary signs (Purvarupa) of constipation:</p>
        <ul class="dysfunctions">
            <li>•	Thirst  </li>
            <li>•	Heaviness in the abdomen (Anaha)</li>
            <li>•	Lassitude </li>
            <li>•	Debility </li>
            <li>•	Burning of food</li>
            <li>•	Delayed digestion </li>
            <li>•	Loss of appetite (Aruchi)</li>
          </ul>
     </div>
        <div class="row">
          <h3 class="dysfunctions">Symptoms of Constipation (Rupa)<sup>4,5</sup> </h3>
              <p>The symptoms of constipation according to the Ayurvedic perspective include the following:</p>
              <ul class="dysfunctions">
                  <li>•	Anorexia </li>
                  <li>•	Abnormal taste in mouth </li>
                  <li>•	Excessive salivation </li>
                  <li>
                    •	Dark discoloration of the tongue
                    </li>
                  <li>•	Slow digestion process </li>
                  <li>•	Yellowish coloured stools</li>
                  <li>•	Difficult in the elimination of stool</li>
                  <li>•	Excess abdominal bloating, cramps and uneasiness</li>
                  <li>•	Loss of appetite</li>
                  <li>
                    •	Feeling Lethargic
                    </li>
                    <li>•	Bright red rectal bleeding in case of acute constipation</li>
                    <li>•	Nausea and Vomiting</li>
                    <li>•	Weight loss</li>
                    <li>•	Headache and dizziness</li>
                    <li>•	Dry, small and hard fecal formation</li>
                </ul> 
          </div>
          <!-- <div class="row">
              <div class="col-1 col-lg-1 col-md-1"></div>
              <div class="col-10 col-lg-10 col-md-10">
                 <div class="carbohydrate-border">
                     <h3>The Predominant Dosha and the diabetes type</h3>
                     <p>According to Ayurveda, vataja prameha is similar to type 1 diabetes which is hereditary and has no cure. On the other hand, kaphaja prameha is similar to type 2 diabetes which is acquired and is curable. 
                            </p>                     
                 </div>
              </div>
              <div class="col-1 col-lg-1 col-md-1"></div>
            </div>  -->
            <div class="">
                <h3>
                  Complications of Constipation (Upadrava)<sup>5</sup>
                  </h3>
                <p>Constipation is not a very serious problem, but if you are experiencing it for a very long time then the following health issues may set-in:
                </p>
                <ul class="hirania">
                  <li>Hernia</li>
                  <p>In case of chronic constipation, the bowels may bulge into the inguinal region, and give rise to inguinal hernia.</p>
                  <li>Rectal prolapse:</li>
                  <p>In this condition the rectum gets unattached from its original position and then bulges out of the rectal opening, turning inside out. Excessive pressure on the rectal region during defecation may cause rectal prolapse.</p>
                  <li>Bowel obstruction: </li>
                  <p>Hard stools formed as a result of constipation may obstruct the bowels.</p>
                  <li>Haemorrhoids</li>
                  <p>Haemorrhoids are the swelling of veins in the ano-rectal region. It occurs due to chronic constipation and prolonged straining.</p>
                </ul>
                






                <h3>Risk factors for Constipation:</h3>
                <p>The following factors increase the risk of constipation:</p>
                <ul class="dysfunctions">
                  <li>•	Poor dietary habits, lack of fibre-rich food in the regular meals.</li>
                  <li>•	Lack of physical activity, as a part of daily routine</li>
                  <li>•	Being female </li>
                  <li>•	Elderly adults</li>
                  <li>•	Obesity</li>
                  <li>•	Pregnancy</li>
                </ul>
                <h3>
                  Diagnosis of Constipation:<sup>8,9</sup>
                    </h3>
                <p>The doctors recommend the following list of laboratory tests and imaging studies to diagnose constipation:</p>
                <ul class="hirania">
                    <li>Stool examination: </li>
                    <p>In this test, a sample of stool is microscopically examined to determine any disease-causing microorganisms. It also helps to evaluate the presence of any underlying problems related to digestive system.</p>
                    <li>Barium enema:</li> 
                    <p>During this test, an x-ray is performed to examine the large intestine i.e the colon and the rectum. A contrast medium such as barium is passed in form of an enema which highlights the bowel and the rectum on the X-ray. The x-ray helps to trace the flow of barium solution through the intestinal tract and to identify the areas of obstruction.</p>
                    <li>Abdominal ultrasound:</li>
                    <p>High-frequency ultrasonic waves are passed through the abdomen to get the detailed images of the internal organs such as liver, pancreas, urinary bladder and bowel. </p>
                    <li>Complete blood count:</li>
                    <p>A sample of blood is collected to determine the blood cell count. Any alterations in the number of blood cells may imply some underlying health conditions, which may contribute to the development of constipation.</p>
                    <li>Sigmoidoscopy:</li>
                    <p>During this test, a flexible, long and narrow tube with a light and camera, called a sigmoidoscope is used to look inside the rectum and the colon. It helps to determine any obstructions in the bowel.</p>
  
                </ul>
                <h3>Ayurvedic therapy for Constipation<sup>10</sup> </h3>
                <p>The main aim of treatment is to reduce the aggravated vata dosha and its symptoms such as hard stools and slow bowel movements. Ayurvedic therapy for constipation can be classified into herbal therapy and drug therapy. </p>

                <p class="dysfunctions">Herbal therapy:<sup>11</sup></p>
                <p>Many herbal remedies are available for treating constipation. Most of the laxatives used for treating constipation contain herbs, which increase the peristaltic movements of the intestine. Peristalsis refers to the wave like contractions of the bowel muscles which are responsible for propelling the food forwards.  </p>
                <p>Below mentioned herbs are useful in treating constipation:</p>
                <ul class="dysfunctions">
                    <li>•	Trivrit (Indian Jalap or Turpeth)</li>
                    <li>•	Amla (Indian gooseberry)</li> 
                    <li>•	Haritaki</li> 
                    <li>•	Nilini (true indigo)</li> 
                    <li>•	Vacha(sweet flag)</li> 
                    <li>•	Kampillaka (Shendri)</li> 
                    <li>•	Saptala (Oregano)</li>  
                    <li>•	Udakiryaka (Teripod)</li>                 
                </ul>
                <p class="dysfunctions">Exercise:</p>
            
                <p>Lack of exercise and sedentary lifestyle has contributed a lot to the increasing prevalence of constipation in the past decade. Physical activity plays a major role in maintaining normal gut health. Let us check out some yoga poses and routine exercises which could be useful to prevent constipation. </p>
                <h3>Yoga for Constipation<sup>12</sup></h3>
                <p>
                    Here is the list of some yogic postures to relieve constipation:
                    </p>
                <ul class="dysfunctions">
                    <li>•	Suryanamaskara</li>
                    <li>•	Vajrasana </li> 
                    <li>•	Dhanurasana</li> 
                    <li>•	Ardha dhanurasana</li> 
                    <li>•	Paschimotasana</li> 
                </ul>
                <p>Other than that Pranayama has also found to be useful for constipation. </p>
                <h3>Routine exercises for Constipation:</h3>
                <p>Regular exercise helps in good digestion and healthy living of an individual. The following aerobic exercises may be useful for you:</p>
                
                <ul class="dysfunctions">
                    <li>•	Brisk walking daily for at least 20-30 minutes</li>
                    <li>•	Jogging </li> 
                    <li>•	Running</li> 
                    <li>•	Swimming</li>                                              
                </ul>
                <h3>Changes in the daily routine (Dinacharya): </h3>
                <p>Some modifications in the daily routine may help to prevent the recurrence of constipation: </p>
                <!-- <p><span class="hbbold">Pathya (Do’s): </span></p> -->
                <ul>
                  <li>•	Schedule a proper dinacharya (daily routine) for passing stools.</li>
                  <li>•	Never try to suppress the sensation to pass stools.</li>
                  <li>•	Manage stress levels by practising meditation regularly</li>
                  <li>•	A Sitz bath is recommended to reduce pain in constipation due to fissures</li>
                  <li>•	Food should be properly cooked and chewed</li>
                  <li>•	Drink more water, at least 3-4 litres a day</li>
                </ul>
                <h3>Do’s and Don’ts for Constipation<sup>4</sup>: </h3>
                <p>Incorporating the following do’s and don’ts helps to prevent constipation:</p>
                <p>Do’s (Pathya):</p>
                <ul class="dysfunctions">
                  <li>
                      •	Consume water from copper utensils
                  </li>
                  <li>•	Drink warm water in the early mornings</li>
                  <li>•	Drink lukewarm water with lime</li>
                  <li>•	Sleep adequately for at least 6 to 8 hours to allow for the complete digestion of food</li>
                  <li>•	Always consume properly cooked vegetables and fresh fruits</li>
                  <li>•	Add fibre rich vegetables and fruits to your daily meals</li>
                  <li>•	Eat salads for at least three times weekly</li>
                  <li>•	Drink warm milk before going to sleep</li>
                  <li>•	Get proper treatment if you have any underlying conditions of the gut such as bowel tumors or diseases </li>
                </ul>
                <p class="dysfunctions">Don’ts (Apathya):</p>
               <ul class="dysfunctions">
                 <li>•	Avoid the suppression of natural urges</li>
                 <li>•	Limit the consumption of oily and fatty foods, which are hard to digest</li>
                 <li>•	Avoid late night sleeps or sleeping for less than five hours</li>
                 <li>•	Limit the consumption of rice, banana, tubers and black gram </li>
                 <li>•	Reduce the intake of drugs, alcohol and tobacco </li>
               </ul>
               <p>Constipation is a common problem but if it becomes chronic, it has a great impact on one’s health. Ayurveda, in addition to herbs and medications, focuses a lot changing one’s daily lifestyle which brings a positive change in his/her physical and mental health and also keep problems like constipation at bay. </p>
            </div>         
        
                
                
                  <div class="reference">
                      <h3>References:</h3>
                      <ul>
                        <li>1.	Jamshed A, Lee Z, Kevin W. Olden. Diagnostic Approach to Chronic Constipation in Adults. Am Fam Physician. 2011 Aug 1;84(3):299-306.</li>
                        <li>2.	Rome Foundation. Rome III Diagnostic Criteria for Functional Gastrointestinal Disorders. (online) (Cited on 14/10/2018) Available from: https://www.theromefoundation.org/assets/pdf/19_RomeIII_apA_885-898.pdf</li>
                        <li>3.	Bhishagratna, K. L. An English translation of the Sushruta samhita: Based on original Sanskrit text, with a full and comprehensive introduction, additional texts, different readings, notes, comparative views, index, glossary and plates. (1963). [2nd ed.]. (Volume 1). Varanasi: Chowkhamba Sanskrit Series Office. Chapter XXXIV</li>
                        <li>4.	Rawat A K S, Srivasatava S, Ojha S K. Herbal Remedies for Management of Constipation and its Ayurvedic Perspectives. JIMSA. 2012; 25(1): 27-30.</li>
                        <li>5.	P.V Sharma. Chapter XV, Section 6- On Treatment of Grahani Disorder. In: Caraka Samhita. 4th edition.1998. Chaukhamba Orientalia. </li>
                        <li>6.	Lingu Inya, Kulkarni P V, Tanna I, Chandola H.M. Evaluation of Diet, Lifestyle and Stress in the Etiopathogenesis of ConstipatioOh n in Geriatric People. Int J of Res Ayur & Pharm. 2012; 3(6):  879-883</li>
                        <li>7.	P.V Sharma. Chapter XIX, Section 6- On Treatment of Diarrhoea. In: Caraka Samhita. 4th edition.1998. Chaukhamba Orientalia.</li>
                        <li>8.	National Health Portal. Constipation (Vibandha). (online). (cited on 29/08/2018) Available from: https://www.nhp.gov.in/constipation-vibandha_mtl</li>
                        <li>9.	Sonia Friedman, Richard S. Blumberg. Harrison's principles of internal medicine (19th edition). New York: McGraw Hill Education; 2015. Chapter 55, Diarrhoea and Constipation;264-274</li>
                        <li>10.	Gupta S ,Shindhe P S. A conceptual study about etiopathogenesis of vibandha and role of ayurveda in its management: a review. IJRAP.2017; 8(6): 8-13.</li>
                        <li>11.	Kulkarni P.  Parikartika- Case study.  Int. J. Res. Ayurveda Pharm. 2015; 6(4). 449-451</li>
                        <li>12.	 Satani KG, Raghvani H, Raghvani K. Role of Yoga in gastro-intestinal problems w.s.r. to Constipation (Vibandha) in geriatrics. JAIMS. 2017; 2(2):104-109</li>
                      </ul>
                  </div>    
            </div>
    </div>
</section>
<div class="mb-5 mt-5">
  <app-main-footer></app-main-footer>
</div>