<div class="FlotingSection">
  <div class="floating">
   
    <div class="floatingImg" (mouseenter)="mouseHovering()">
      <img src="././assets/images/call.png">
    </div> 
    <div class="floatingbox1" *ngIf="isHovering" (mouseleave)="mouseLeft()">
      <div class="floatingbox2">
        <h6 routerLink="../patientbookappointment">book a doctor<br />
          consultation</h6>
      </div>
      <div class="floatingbox2 floatingbox3">
        <h6>call us @<br /><span>1800 572 8000</span></h6>
      </div>

    </div>
  </div>
  <div class="clear10"></div>

  <div class="clearfix"></div>
  <div class="floating floatingexp"> 
      <div class="floatingImg floatingImgexp" (mouseenter)="mouseHovering2()">
      <img class="ml-2" src="././assets/images/FloterIcon2.png">
    </div>
    <div class="floatingbox1 floatingbox1exp" *ngIf="isHovering2" (mouseleave)="mouseLeft2()">
      <div class="floatingbox2 floatingbox2exp">
        <h6 class="CursorPointer" routerLink="../mainproductpage">explore products</h6>
      </div>


    </div>
  
  </div>
</div>