<app-navigation></app-navigation>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 home-top">
        <app-floating></app-floating>
</div>
<div class="clear"></div>
<div class="container">
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <p class="blurtxt txtcenter">Sarpagandha (Rauwolfia serpentina)</p>
          <div class="clear20"></div>
          <p class="txt1 txtcenter">Rauwolfia serpentina is an 
            important herb used in 
            Ayurvedic and folk medicine  </p>
              <div class="clear10"></div>
              <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
              <div class="clear20"></div>
              <p class="topptxt txtcenter">since ages, especially for the treatment of high blood pressure and psychiatric conditions. It is also known as Indian Snakeroot and Devil-pepper. The roots, and the leaves of this plant are all used as medicines.  </p>
              <div class="clear40"></div>
              <div class="row m-0">
                <div class="col-6 col-am-6 col-md-6 col-lg-6 borderright">
                  <p class="byUStxt">By U.S. News Staff</p>
                </div>
                <div class="col-6 col-am-6 col-md-6 col-lg-6">
                     <label class="byUStxt">Jan 03, 2018 at 7:45 pm</label>
                  </div>
              </div>
              <div class="clear40"></div>
              <div class="clear40"></div>
              <p class="paratxt1 txtcenter">What is Sarpagandha?</p>
              <p class="paratxt3 txtcenter"> 
               
Sarpagandha is small, green, erect, perennial shrub which grows at a height of around 15-45cm. This plant grows well in hot, humid weathers within a temperature range of about 10-380C. It is usually seen in tropical and subtropical areas with good monsoon rains. 
Sarpagandha is found in India, China, Pakistan, Bangladesh, Indonesia, Sri Lanka, Thailand and Myanmar. In India, it is found in the states of Himachal Pradesh, Jammu and Kashmir, Uttar Pradesh, Bihar, West Bengal, Andhra Pradesh, Tamil Nadu, Kerala, Lakshadweep and Andaman and Nicobar Islands.</p>
              <p class="paratxt1 txtcenter">  Medicinal Properties:</p>
              <p class="paratxt3 txtcenter"> Rauwolfia serpentina (Sarpagandha) has been reported to have the following  medicinal properties:</p>
            <ul class="number">
                <li>
                  Vasodilator:
                </li>
                <p class="paratxt3 txtcenter"> 
                  This herb is known to reduce the tone of the blood vessels and therefore, reduces the blood pressure.</p>
                <li>  Central Nervous system depressant: </li>
                <p class="paratxt3 txtcenter">
                  Sarpagandha has a depressant action on brain centres and therefore, it is useful in the treatment of conditions in which there is excess brain activity, such as anxiety and agitation.</p>
                <li>
                  Stimulates gut motility:
                </li>
                <p class="paratxt3 txtcenter"> 
                  Sarpagandha is known to have a stimulatory action on the intestinal musculature. This property may be helpful in the treatment of gut motility disorders.
                  </p>
            </ul>

                <p class="paratxt1 txtcenter">Medicinal uses:</p>
                <p class="paratxt3 txtcenter">
                  R. serpentina have been reported to be useful for the treatment of the following 
                  conditions: 
                </p>

            <ul class="number">
              <li>
                High blood pressure:
              </li>
              <p class="paratxt3 txtcenter">
                Sarpagandha is known to lower blood pressure by many mechanisms. Firstly, it causes dilatation of the blood vessels. Secondly, reserpine, an alkaloid present in Sarpagandha, is responsible for inhibiting brain centres which are responsible for controlling blood pressure. It also affects the function of the autonomic nervous system by inhibiting the sympathetic nervous system activity and stimulating 
                parasympathetic activity. This results in decreased heart rate, strength of heart muscle contraction and tone of the blood vessels. Sarpagandha is especially useful in those cases where the blood pressure has aggravated due to excess sympathetic 
                nervous system activity such as in stress.</p>
              <li>
                Psychotic disorders:
              </li>
              <p class="paratxt3 txtcenter">
                Clinical studies have proven that Sarpagandha, if used for around a period of 20 days can be helpful to reduce anxiety. The root of Sarpagandha is used to reduce 
                agitation, insomnia and induce sedation. It has been used in the past for a large range of psychiatric disorders encompassing schizophrenia, epilepsy and insanity.</p>
                <li>
                  Intestinal disorder:
                </li>
                <p class="paratxt3 txtcenter">Sarpagandha has also been used to treat various intestinal disorders such as 
                        diarrhoea and dysentery. </p>
                <li>
                     Prostate cancer:
                </li>
                <p class="paratxt3 txtcenter">
                        The plant extracts of R. serpentine have shown anticancer activity against prostate cancer in various experimental studies  
                        In folk medicine, plant extracts of Sarpagandha has been used to treat colic, cholera and fever. The roots of this plant have been used for treating poisonous insect stings and snake bites. Its roots have also been used to stimulate uterine contractions and promote expulsion of the fetus during delivery. The juice extracted from the leaves is used to treat corneal opacity. Extracts of R. Serpentina is also used in treating conditions such as fever, eye problems, asthma, headache, pain related to liver problems etc.</p>
            </ul>


            <p class="paratxt1 txtcenter">Side effects:</p>
            <p class="paratxt3 txtcenter"> 
                    Consumption of R. serpentina can cause appetite and weight changes, nasal 
                    congestion, drowsiness, loose stools, muscle aches, headaches, chills, nausea and vomiting in some people. Long term use of R. serpentina is known to have caused depression.</p>
            <p class="paratxt1 txtcenter"> Safety:</p>
            <p class="paratxt3 txtcenter">The dose of Rauwolfia serpentina depends on the condition and the age, health of the person using it. The exact safe dose of R. serpentina has not yet been 
                    determined. 
                    The people having the following conditions must be cautious while taking Rauwolfia serpentina:</p>
            <ul class="number">
                <li> Taking electroconvulsive therapy:</li>
                <p class="paratxt3 txtcenter">
                        People taking shock therapy for mental illnesses should stop using Rauwolfia 
                        serpentina atleast 1 week before the planned therapy.</p>
                <li> Gallstones: </li>
                <p class="paratxt3 txtcenter">
                        Having Rauwolfia serpentina might worsen gall bladder disease.</p>
                <li>Low blood pressure:</li>
                <p class="paratxt3 txtcenter">
                     Rauwolfia serpentina reduces blood pressure levels. If you already have low blood pressure, you must avoid taking Rauwolfia serpentina.</p>
                <li>Depression:</li>
                <p class="paratxt3 txtcenter">
                        You should avoid taking Rauwolfia serpentina if you have depression or suicidal 
                        tendencies.
                         
                        Rauwolfia serpentina also interacts with certain medications. You should avoid taking the following if you take the following medications.</p>
            </ul>
            
            <ul class="disc">
                <li>Alcohol: </li>
                <p class="paratxt3 txtcenter">
                        Alcohol depresses central nervous system (CNS)activity. Having Rauwolfia 
                        serpentina may potentiate the effects of alcohol and cause serious deterioration of CNS 
                        activity.</p>
                <li>Digoxin:</li>
                <p class="paratxt3 txtcenter">
                        Digoxin is given to increase the heart rate. Rauwolfia serpentina decreases heart rate and may therefore, reduce the effectiveness of digoxin.</p>
                <li>Levodopa:</li>
                <p class="paratxt3 txtcenter"> 
                        Rauwolfia serpentina have been found to reduce the effectiveness of Levodopa, which is a drug commonly, prescribed to treat Parkinson’s disease.</p>
                <li> Antipsychotics and Sedatives:</li>
                <p class="paratxt3 txtcenter">Antipsychotics and sedatives depress central nervous system activity. Rauwolfia serpentina may potentiate the effects of these drugs and cause serious deterioration of CNS activity.
                    </p>
                <li> Antihypertensives:</li>
                <p class="paratxt3 txtcenter">
                        Rauwolfia serpentina may potentiate the effects of antihypertensive drugs and cause serious drop in blood pressure.</p>
                <li>CNS stimulant drugs:</li>
                <p class="paratxt3 txtcenter">
                        Rauwolfia serpentina may reduce the effects of CNS stimulant drugs such as 
                        epinephrine and phenteramine and pseudoephedrine. 
                </p>
                <li>Diuretics:</li>
                <p class="paratxt3 txtcenter">
                        Diuretics reduce potassium levels in the body. Low potassium levels cause decrease functioning of the heart. Having R. serpentina may further deteriorate heart 
                        function.  
                        Like any other drug, Rauwolfia serpentina should also be taken in doses as 
                        prescribed by the physician. Self- administration (without prescription) of herbal 
                        medications is not safe and may lead to adverse effects.
                </p>
            </ul>






           
              
              
                          <div class="clear40"></div>
                          <hr/>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 topreads">
            <p class="txt1 txtcenter">Top Reads </p>
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 txtcenter">
                <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
            </div>
            <div class="clear20"></div>
        </div>
        <div class="row m-0">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
            <img src="././assets/images/b-food.png">
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <label class="diseasestxt">Digestive Health</label>
            </div>
            <label class="diseasestxt2">14 best & worst foods for your ...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/safron.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">SKIN</label>
              </div>
              <label class="diseasestxt2">Saffron for good health..</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
        </div>
        <div class="clear20"></div>
        <div class="row m-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/b-food.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">Digestive Health</label>
              </div>
              <label class="diseasestxt2">14 best & worst foods for your ...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
                <img src="././assets/images/safron.png">
                <div class="clear10"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <label class="diseasestxt">SKIN</label>
                </div>
                <label class="diseasestxt2">Saffron for good health..</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                    <button class="btn read_morenew">READ MORE</button>
                </div>
              </div>
          </div>
          <div class="clear40"></div>
          <hr/>
      </div>
  </div>
  <div class="clear40"></div>
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <label class="txt1">Related Articles</label>
          <div class="clear10"></div>
          <img class="img-fluid iwidth" src="././assets/images/big_border.png">
          <div class="clear20"></div>
      </div>
      <div class="clear40"></div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
          <img src="././assets/images/awellness.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <label class="diseasestxt">wellness</label>
          </div>
          <label class="diseasestxt2">Low calorie diet
              to lose weight...</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
              <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
            <img src="././assets/images/asuryanamaskar.png">
            <div class="clear10"></div>
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 text-center">
                <label class="diseasestxt">healthy food</label>
            </div>
            <label class="diseasestxt2">Food & Activity
                Journal for...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
              <img src="././assets/images/plane.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">kids & teens</label>
              </div>
              <label class="diseasestxt2">Young overweight 
                  & Obesity in...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
  </div> 
  <div class="clear70"></div>
</div>
