<app-navigation></app-navigation>
<app-floating></app-floating>

<section class="declaimer">
  <div class="container pt-5 text-center">
    <h1>Skin Disease</h1>
    <img src="././assets/images/big_border.png">
<div class="maindiv mt-4 text-left">
  <h3>Are skin problems troubling you? </h3>
  <p>Can you imagine any life on earth without an outer skin? Skin is one of the most important organs that serves as the first line of defence of your body. It protects all your internal organs against every external influence. In addition to that, skin is the largest sense organ that perceives sensations such as pain, touch, pressure and temperature.
     Good skin health implies overall well-being, and contributes to the beauty of an individual. </p>
  <p>The incidence of skin problems has drastically increased in our times owing to faulty eating habits, environmental factors and weak immunity. Some of the common skin diseases, which are highly prevalent among us,
     are acne, dermatitis, eczema and psoriasis. This article deals with skin diseases in general, and mentions of particular diseases wherever appropriate.  </p>
  <h3>Treat skin problems with Ayurveda <sup>1</sup> </h3>   
  <p id="kapha">Ancient Ayurvedic texts have described skin diseases under one broad term known as Kustha<sup>1</sup>. Skin disease may be hereditary in origin or may be acquired due to physical, psychological and social causes. It affects the overall health of an individual.  </p>
  <p>Patients with skin disorders also exhibit psychological disorders such as anxiety or depression. This relationship between skin and mind has been explained by Acharya Charaka as ChetahSamvayi<sup>2</sup>. To treat skin problems, Ayurveda focuses on improving the overall health of an individual i.e both physical and psychological.</p>
  <h3>What causes skin diseases? (Nidana) <sup>2</sup></h3>
  <p>Ayurveda has described many internal and external factors that cause skin diseases. The different etiological factors are as follows:</p>
  <ul class="dysfunctions">
    <li>1. Real or main causative factors <span class="hbbold">(SannikristaNidana):</span> 
        The vitiation of the three doshas in the body - Vata, Pitta and Kapha, and the four dushyas i.e. derangements in the Tvak (Rasa)- essence that nourishes the skin, Rakta(Blood), Mamsa(muscles) and Ambu(channels which regulate water metabolism) affect the skin and give rise to various dermatological disorders.
        </li>
    <li>2. Other factors <span class="hbbold">(ViprakrishtaNidana):</span>  
      These factors do not cause the disease directly, but aggravate the actual disease-causing agents or doshas in the body. They are divided into the following groups:
    <ul class="dysfunctions">
      <li>-	KulajaNidana: These refer to the genetic causes which may give rise to skin diseases. Such diseases are present since birth and are believed to have transmigrated from the past lives. </li>
      <li>-	Janmottarakalaja: These refer to various dietary, lifestyle, and psychological factors which give rise to skin diseases. </li>
    </ul>  
    </li>
   </ul>
   <p>People with different body composition are vulnerable to specific skin conditions. </p>
   <p>Let us have a look at the specific causes of skin diseases:</p>
   <h3 class="dysfunctions">Food related factors (Aharaja) <sup>1</sup></h3>
   <ul class="dysfunctions">
     <li>-	Excess intake of salts (Atilavana)</li>
     <li>-	Eating heavy and fatty foods (Guru annapana)</li>
     <li>-	Excessive consumption of oily foods (SnigdhaAnnapana)</li>
     <li>-	Eating honey or fish or jaggery in excess quantity (Madhu or matsya or guda)</li>
     <li>-	Drinking excess of alcohol or fruit juices or milk or rasam (Atidaravapana)</li>
     <li>-	Excessive intake of food items prepared from sesame (tila)</li>
     <li>-	Eating food before the previous food has been digested (Ajeernahara)</li>
     <li>-	Eating foods which are not compatible with one’s body composition or are not local. For eg: noodles, pizza(AsatmyaAhara)</li>
     <li>-	Frequent consumption of radish, black gram and curd</li>
     <li>-	Eating cold foods immediately after hot foods or vice versa</li>
     <li>-	Excessive alcohol intake </li>
   </ul>
   <h3 class="dysfunctions">Lifestyle factors (Viharaja) <sup>1</sup> </h3>
   <ul class="dysfunctions">
     <li>-	Excessive exposure to sunlight</li>
     <li>-	Continuous exposure to air-conditioning at the workplace</li>
     <li>-	Excessive physical strain</li>
     <li>-	Daytime sleeping </li>
     <li>-	Being awake till late nights</li>
     <li>-	Suppression of natural urges</li>
   </ul>
   <span class="h3span">Psychological factors (Manasikanidana):<sup>2</sup></span><span class="pspan">Not all, but a few diseases may have a psychological etiology.</span>
   <ul class="dysfunctions">
     <li>-	Sorrow (chinta)</li>
     <li>-	Bhaya (fear)</li>
     <li>-	Depression (Vishadha)</li>
   </ul>
   <div class="">
     <h3>Samprapti<sup>2,3</sup></h3>
     <p>According to Acharya Charaka, there are seven dravyas involved in the disease process inside the body. They are Vata, Pitta, Kapha dosha, rakta(blood), mamsa (muscle), tvaka (skin) and lasika (lymphatic fluid). Disease-causing factors (nidana) cause imbalance of the tri- dosha in the body which in turn affect the body tissues (dhatus) and result in the development of skin diseases (Kushtharoga).  </p>
     </div>
   
     <h3>Types of Skin Conditions<sup>1</sup></h3>
     <p>According to ancient Ayurvedic literature, skin diseases are of many types, some of which are mentioned below: </p>

     <ul class="dysfunctions">
       <li>1. Acne (YauvanPidika)</li>
       <li>2. Eczema (Vicharchika)</li>
       <li>3. Psoriasis (Kitibha)</li>
       <li>4. Pruritis (Kandu)</li>
       <li>5. Urticaria (Shitapitta)</li>
       <li>6. Allergy due to insect bites (Keetdansh)</li>
       <li>7. Prickly heat (Pittajamasoorika)</li>
       <li>8. Dermatitis (Twakshoth)</li>
       <li>9. Cracked foot (Vipadika)</li>
       <li>10. Fungal infections/ Tinea/ Ringworm (Dadru/mandala)</li>
       <li>11. Hypertrophy of the skin (Charmadala)</li>
       <li>12. Blisters (Visphota)</li>
       <li>13. Ichthyosis(Ekakustha)</li>
       <li>14. Scabies (Pama)</li>
     </ul>
     <h3>Know the signs of skin disease (KushthaLakshana) <sup>1,3</sup></h3>
     <p>In case of skin diseases, the following symptoms are usually evident
        before a person actually starts to show the clinical symptoms of a particular skin disease (Purvarupa): </p>
    
     <ul class="dysfunctions">
       <li>-	Loss of touch sensation</li>
       <li>-	Appearance of rashes </li>
       <li>-	Skin roughness (TvakParushya)</li>
       <li>-	Excessive sweating (Atisweda)</li>
       <li>-	Lack of sweat (Asweda)</li>
       <li>-	Itching (Kandu)</li>
       <li>-	Skin discolouration (TwakVaivarnya)</li>
       <li>-	Numbness (Suptangata)</li>
       <li>-	Heaviness (Gouravam)</li>
       <li>-	Hot flushes (Ushmayanam)</li>
       <li>-	Delayed healing of the wound</li>
     </ul>
    
    
     <div class="diabetes">
      <h3>Different skin diseases and their symptoms (Rupa) <sup>3</sup></h3>
     <p>Different kinds of skin diseases show different symptoms. Some of the major skin disorders and their symptoms are:</p>
      <ul class="dysfunctions">
       <li>1.	Kapala kustha- Skin rashes appear like black and reddish pieces of earthen jars, thin, coarse, rough and very painful.</li>
        <li>2. Audumbara kustha- Skin rashes, reddish in colour, painful along with burning sensation.</li>
        <li>3. Mandala kustha- White, red, extensive raised patches that are joined to one another.</li>
        <li>4. Rsya-jihva kustha- Internally blackish skin patches with red margins that are rough and painful.</li>
        <li>5. Pundarika kustha- Skin patches that are whitish internally with red margins, rough and raised along with burning sensation.</li>
        <li>6. Sidhma kustha-White, coppery, thin rashes. On rubbing, leaves dust-like powder. </li>
        <li>7. Kakanaka kustha- The skin colour takes on the hue of gunja seeds, extremely painful.</li>
      </ul>
     </div>

     <h3 class="dysfunctions">Signs of skin disease to look out for (Rupa)<sup>2,3</sup> </h3>
     <p>The symptoms of skin disease (kushtha) are based on the dosha predominance: </p>
     <span class="h3span">VatajaKustha:</span><span class="pspan"> People with this type of kushtha have skin lesions with the following characteristics:</span>
     <ul class="dysfunctions">
       <li>1. Roughness in the skin</li>
       <li>2. Piercing pain</li>
       <li>3. Hardness </li>
       <li>4. Blackish and reddish skin patches</li>
       <li>5. Coarseness</li>
       <li>6. Wasting </li>
       <li>7. Dryness due to the absence of sweating (Anhydrosis)</li>
       <li>8. Numbness in the affected area</li>
       <li>9. Stretching</li>
       <li>10. Swelling</li>
     </ul>
     <span class="h3span">PittajaKushtha :</span><span class="pspan">Below is a list of characteristics of skin lesions with aggravated pitta dosha:</span>
        <ul class="dysfunctions">
       <li>1. Redness of the skin</li>
       <li>2. Burning sensation</li>
       <li>3. Fleshy smell</li>
       <li>4. Pus discharge</li>
       <li>5. Blister formation</li>
       <li>6. Excessive secretions</li>
     </ul>
     <h3 class="dysfunctions">KaphajaKushtha: </h3>
     <p>The skin lesions with the vitiation of kaphadosha in the body are as follows:</p>
     <ul class="dysfunctions">
       <li>1. Skin becomes cold and dense </li>
       <li>2. Itching </li>
       <li>3. Raising </li>
       <li>4. Discolouration</li>
       <li>5. Heaviness in the affected area</li>
       </ul>
       <p>The prognosis in the individuals with vata-kapha predominant kushtha is benign, as it can be easily treated with ayurvedic treatment.</p>
     <h3>Can skin problems lead to more troubles? (Upadrava)<sup>4</sup></h3>
     <p>Early diagnosis and treatment of Kushtha is essential to avoid the development of complications such as infections (krimi) in the affected areas. The infections may be of a bacterial or fungal type, and give rise to the following symptoms:</p>
     <ul class="dysfunctions">
       <li>1. Formation of skin boils</li>
       <li>2. Excessive thirst and burning</li>
       <li>3. Infections around the nails</li>
       <li>4. Infections of the hair follicle</li>
       <li>5. Jock itch</li>
       <li>6. Vaginal infections</li>
     </ul>
    
     <div class="">
        <h3>Diagnosis of Kushtha <sup>5</sup>  </h3>
        <p>The Ayurvedic practitioner observes the doshic composition and notes down a detailed history of the onset of the symptoms, diet pattern and lifestyle. Most of the skin diseases are identified based on the symptoms. But following diagnostic tests may sometimes become necessary.</p>
        <ul class="dysfunctions">
            <li><span class="hbbold">1. Skin biopsy:</span>  In this test, a small section of the skin is excised using a scalpel and then studied under the microscope to identify the exact pathology.</li>
            <li><span class="hbbold">2. KOH preparation:</span>  When a fungal skin infection is suspected, testing with KOH preparation is done. A small sample from the edge of the skin lesion is scraped off and is collected in the microscope slide. 
              It is then treated with potassium hydroxide solution which helps in easier visualisation of the fungus which has caused infection. </li>
            <li><span class="hbbold">3. Tzanck Smear:</span>  This test is to find out herpes virus infection of the skin. The scrapings from the skin lesion is placed on a microscope slide and is stained with Giemsa stain. Multinucleated giant epithelial cells indicate herpes virus or varicella zoster infection. </li>
            <li><span class="hbbold">4. Wood Lamp test:</span>  A wood lamp uses ultraviolet light to diagnose skin conditions for example certain types of tinea capitis, Corynebacterium infection, vitiligo. The various skin conditions exhibit specific colors when viewed under the Wood’s lamp</li>
            <li><span class="hbbold"> 5. Patch test: </span>This test helps to find out sensitivity to specific allergen. In this test, a set of suspected allergens are placed on various section of
               the patient’s skin and allowed to remain in contact for 48 hours. Following this, the allergens are removed, and the skin is evaluated for signs of hypersensitivity. </li>
          </ul>

          <h3>Treat skin diseases with Ayurveda<sup>1</sup> </h3>
          <p>The main aim of Ayurvedic treatment is to regain the lost doshic balance in the body. Ayurveda focuses on three-fold management of skin diseases:</p>

          <ul class="dysfunctions">
            <li>1. Avoidance of the causative factors <span class="hbbold">(Nidanaparivarjana):</span>  Avoid exposure to the disease-causing agents or allergens.</li>
            <li>2. Pacification <span class="hbbold">(Samshamana):</span>  It is the process of regaining the balance between the three doshas.</li>
            <li>3. Bio-purification <span class="hbbold">(Samshodhana):</span>  It refers to the cleansing of the body with five types of panchakarma. </li>
          </ul>
          <p>The different approaches in Ayurvedic treatment are discussed here:</p>
          <h3 class="dysfunctions">Herbal therapy:<sup>3</sup></h3>
          <p>Ayurveda recommends some medicinal herbs for the treatment of skin diseases. These herbs are useful to hydrate and provide nutrition to the skin. Some of the commonly used drugs are as follows:</p>
          <ul class="dysfunctions">
            <li>1. Arishtha or Nimbu</li>
            <li>2. Tulsi</li>
            <li>3. Khadira</li>
            <li>4. Bhringraj</li>
            <li>5. Brahmi</li>
            <li>6. Champaka</li>
            <li>7. Darbha</li>
            <li>8. Guggulu</li>
            <li>9. Jambiri</li>
            <li>10. Satavari</li>
            <li>11. Karvellaka</li>
            <li>13. Kusumba</li>
            <li>14. Nilini</li>
            <li>15. Pippali </li>
          </ul>
          <h3 class="dysfunctions">Ayurvedic therapy:</h3>
          <p>The Ayurvedic therapy for skin diseases is divided into: </p>
          <ul class="dysfunctions">
            <li>1.Panchakarma therapy</li>
            <li>2.Drug treatment</li>
          </ul>
          <span class="h3span">Panchakarma treatment: </span><span class="pspan">According to Dosha predominance in skin diseases, specific therapies are advised.</span>
          <ul class="dysfunctions">
            <li>1. Vataja skin disease - Ghrutapan</li>
            <li>2. Pittaja skin disease - Virechan, Raktamokshan</li>
            <li>3. Kaphaja skin disease- Vaman</li>
          </ul>
          <span class="h3span">Drug therapy<sup>1</sup></span><span class="pspan">: The consumption of certain ayurvedic drugs should be under the guidance of a licensed Ayurvedic practitioner. The drugs commonly prescribed for skin diseases are listed below:</span>
          <div class="clear10"></div>
          <span class="h3span">Asava or Arishta: </span><span class="pspan">These are the type of ayurvedic drugs prepared with natural fermentation process, herbs or flowers, water and sugar. </span>
          <div class="clear10"></div>
          <span class="h3span">Kwatham: </span><span class="pspan">These are the decoctions of certain herbs. </span>
          <div class="clear10"></div>
          <span class="h3span">Guggulu: </span><span class="pspan">These are potent Ayurvedic herbs that are used to treat certain skin diseases.  </span>
          <div class="clear10"></div>
          <span class="h3span">Ghrita: </span><span class="pspan">These refer to the medicated ghee which are useful in treating skin conditions. </span>
          <div class="clear10"></div>
          <span class="h3span">Ras: </span><span class="pspan">These ayurvedic formulations contain mineral drugs as the main ingredients.  </span>
          <div class="clear10"></div>
          <span class="h3span">Churna: </span><span class="pspan">These are fine powders of different Ayurvedic herbs. </span>
          <div class="clear10"></div>
          <span class="h3span">Taila:  </span><span class="pspan">These refer to the oils that are prepared by boiling decoction of herbs and a paste of various herbal drugs.  </span>
          <div class="clear10"></div>
          <span class="h3span">Lepa: </span><span class="pspan">Lepa refers to a mixture of various herbal pastes to have beneficial effects on the skin. </span>
          <div class="clear10"></div>
     </div>



        <div class="">
          <h3>Keep skin diseases in check, with a few lifestyle changes  </h3>
              <p>Lifestyle habits incompatible with the patient’s body type are one of the primary reasons for the development of various types of skin diseases. So, the following modifications have been suggested to prevent the recurrence of skin diseases:</p>
              <div class="clear"></div>
              <h3 class="dysfunctions">Fight skin diseases, without leaving your kitchen (Ahara)<sup>1</sup></h3>
              <p>Daily consumption of these are helpful in keeping skin diseases at bay</p>
              <ul class="dysfunctions">
                <li>1. Vegetables: Bitter gourd, garlic, cucumber, cabbage and leafy vegetables with a bitter taste.</li>
                <li>2. Fruits: Gooseberry(Amla), papaya, Dadim</li>
                <li>3. Pulses: Green gram, lentils and red gram </li>
                <li>4. Cereals and millets: Wheat, rice, maize and barley</li>
                <li>5. Other products: Honey, ghee, mustard oil and buttermilk</li>
              </ul>
              <h3>A few yoga postures can keep skin diseases at bay<sup>6</sup> </h3>
              <p>The following yogic postures are helpful in treating various skin diseases:</p>
              <ul class="dysfunctions">
                <li>1. Shavasana</li>
                <li>2. Sarvangasana</li>
                <li>3. Pranayama</li>
                <li>4. Siddhasana (with Kumbhak)</li>
                <li>5. Makarasana</li>
                <li>6. Trikonasana</li>
                <li>7. Padmasana</li>
              </ul>
              <p>Pranayam, which includes different breathing exercises, also helps to regenerate and rejuvenate damaged skin cells.<span class="hbbold">Kapalbhati</span>  is one of the most commonly practised breathing techniques. Kapalbhati is the practice of forceful breathing with gentle inhalation and forceful exhalation. 
                It is helpful in treating the disorders of the skin and improving the immunity of an individual.</p>
          </div>
          <div class="row">
            <h3>Changes in the daily routine (Dinacharya) <sup>1</sup> </h3>
            <p>Individuals having skin problems are recommended to inculcate the following in their daily routine:</p>
            <ul class="dysfunctions">
              <li>1. Take regular baths (regular snana)</li>
              <li>2. Massage with Karanjataila (Abhyanga)</li>
              <li>3. Cut your hair and nails at frequent intervals (Neecharomanakha)</li>
              <li>4. Avoid the exposure to the scorching heat of the sun in the noon</li>
              <li>5. Maintaining regular hygiene of the surroundings </li>
            </ul>
          </div>
          <div class="">
            <h3>Skin problems? Prevention is better than cure <sup>1</sup> </h3>
            <p>The following practices are helpful in treating skin diseases. </p>
            <h3 class="dysfunctions">Ayurvedic Do's (Pathya):</h3>
            <ul class="dysfunctions">
              <li>1. Consume easily digestible foods (laghuannapana).</li>
              <li>2. Eat bitter food items (tikta rasa pradhanaahara).</li>
              <li>3. Consume only freshly prepared food.</li>
              <li>4. Eat in limited quantity (matravat asana).</li>
              <li>5. Maintain enough gap between the meals and eat only after the earlier food has been digested (jeerneanna).</li>
              <li>6. Have a good sleep.</li>
            </ul>
            <h3 class="dysfunctions">Don’ts (Apathya):</h3>
            <ul class="dysfunctions">
              <li>1. Do not eat excessive salty foods (lavana rasa pradhanaahara).</li>
              <li>2. Avoid eating spicy foods (katu rasa pradhanaahara).</li>
              <li>3. Avoid using items used by others, mainly inner wear, towels and soap</li>
              <li>4. Don’t avoid exercise and physical activity (Avyayam).</li>
              <li>5. Avoid excessive sleeping and day time sleeping (Atiswapna and Diwaswap).</li>
              <li>6. Limit the intake of tobacco or alcohol. </li>
              <li>7. Avoid the situations which cause excess anger or sadness (krodha or shoka).</li>
            </ul>
          </div>
                  <div class="reference">
                      <h3>References:</h3>
                      <ul>
                        <li>1. Central Council for research in Ayurvedic sciences. (2018). Ayurveda based diet and life style guidelines for prevention and management of Skin Diseases. [online] [Accessed 6 Sep. 2018]. Available at: http://www.ccras.nic.in/sites/default/files/ebooks/24052018_CCRAS_HQ_Ayurvedabaseddiet&lifeStyleGuidelinesSkinDiseases.pdf</li>
                        <li>2.  Singh S, Byadgi P S, Rai N P. Concept of dermatological disorders in Ayurveda.  IJAHM. 2015; 5(4): 1964-1975</li>
                        <li>3. P.V Sharma. Chapter VII, section 6- On treatment of kustha. In: Caraka samita. 4th edition. 1998. Varanasi. Chaukhambha Orientalia;2017</li>
                        <li>4.4. Monika A, Byadgi P S, Dwibedy B K. Review Article: A critical study on clinico-etiopathological study of Kushtha. Int. J. Pharm. Phytopharmacol. Res. 2015; 4 (4): 252-256</li>
                        <li>5. Sonia Friedman, Richard S. Blumberg. Harrison's principles of internal medicine (19th edition). New York: McGraw Hill Education; 2015. Chapter 70, Approach to the Patient with a Skin Disorder;339-344 </li>
                        <li>6. Satyapal Singh. J. S. Tripathi. N. P. Rai. Potential application of Yoga therapy in Psoriasis. Wjpps. 2015; 4(10): 1959-1966</li>
                        </ul>
                  </div>    
            </div>
    </div>
</section>
<div class="mb-5 mt-5">
  <app-main-footer></app-main-footer>
</div>