<app-navigation></app-navigation>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 home-top">
        <app-floating></app-floating>
</div>
<div class="clear"></div>
<div class="container">
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <p class="blurtxt txtcenter">Piles</p>
          <div class="clear20"></div>
          <p class="txt1 txtcenter">9 Habits to Inculcate If you 
              Have Piles  </p>
              <div class="clear10"></div>
              <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
              <div class="clear20"></div>
              <p class="topptxt txtcenter">While people who are in their 30s and early 40s are busy struggling with midlife crisis, there is another big problem, which most face and but hesitate to discuss- Piles. Piles or hemorrhoids are swollen blood vessels around rectum and the anus.  </p>
              <div class="clear40"></div>
              <div class="row m-0">
                <div class="col-6 col-am-6 col-md-6 col-lg-6 borderright">
                  <p class="byUStxt">By U.S. News Staff</p>
                </div>
                <div class="col-6 col-am-6 col-md-6 col-lg-6">
                     <label class="byUStxt">Jan 03, 2018 at 7:45 pm</label>
                  </div>
              </div>
              <div class="clear40"></div>
              <p class="paratxt3 txtcenter">Piles and having normal bowel movements is an absolute must to relieve discomfort and relieve Piles.  Following certain self-help measures can be helpful to ease bowel movement and heal bleeding piles:
                </p>
              <div class="clear40"></div>
              <p class="paratxt1 txtcenter">1.Exercise::</p>
              <p class="paratxt3 txtcenter"> 
               
Being active helps to improve your digestive system. It also helps to keep the bowel active and propel the stools. You could opt for any physical activity, like walking, jogging, yoga, swimming and aerobics. However, avoid lifting heavy weights. Heavy weights increase the abdominal pressure and make haemorrhoids worse. </p>
              <p class="paratxt1 txtcenter">2. Load your daily food with good fibres:</p>
              <p class="paratxt3 txtcenter">  Adding fibre to your diet is perhaps the most popularly recommended way to relieve constipation. Fruits such as bananas, pears and apples, vegetables such as cabbage, peas and spinach, wholegrains such as brown rice, barley and oatmeal and pulses such as black beans, kidney beans and split peas are all great sources of fibre.  Fibre adds bulk to your stools and make them softer. This makes it easier to eliminate stools.</p>
              <p class="paratxt1 txtcenter">

                  3. Don’t fight the defecation urge:</p>
              <p class="paratxt3 txtcenter"> 
                  One of the best ways to prevent haemorrhoids is to listen to your body, go to the loo when it tells you to. Delaying nature calls can harden the stools and cause constipation or worsen the already existing constipation.</p>
              <p class="paratxt1 txtcenter">

                  4. Add lubricating oils in your grocery list:</p>
              <p class="paratxt3 txtcenter"> 
                  Having organic oils such as sesame oils, olive oils or even a small quantity of mineral oil coats the stools and makes it pass through your bowels more easily.</p>
              <p class="paratxt1 txtcenter">5. Do not strain while you defecate:</p>
              <p class="paratxt3 txtcenter"> 
                  When you strain to pass stools, there is an additional pressure on the veins around the rectum and the anus, and the haemorrhoids enlarge. This causes pain while defecation. </p>
              <p class="paratxt1 txtcenter">6. Avoid sitting for a long time: </p>
              <p class="paratxt3 txtcenter"> 
                  Sitting for a long time puts more pressure on the veins around the anus. If you have piles, avoid sitting on hard surfaces as this can put more pressure in the area around your anus.</p>
              <p class="paratxt1 txtcenter">
 
                7. Keep fibre supplements handy:</p>
              <p class="paratxt3 txtcenter">In our modern-day lifestyle, most people do not take in adequate amount of fibre in their diet. Therefore, it is advisable to take external fibre supplements such as psyllium husk and methylcellulose (Women: 25 grams a day, and Men: 38 grams a day) to have regular and soft stools. </p>
              <p class="paratxt1 txtcenter">

                  8. Befriend Water: </p>
              <p class="paratxt3 txtcenter">
                  Constipation is sometimes due to dehydration. Therefore, drinking adequate water may help loosen the stools and make it easy to pass. Moreover, if you take high fibre diet, you must take water as well. Without water, the fibre makes your stools hard and this can aggravate constipation.
                  </p>
              <p class="paratxt1 txtcenter">9. Take Sitz bath: 
                </p>
              <p class="paratxt3 txtcenter">
                  A sitz is a shallow tub which is filled with warm water. You need to sit in the bath and immerse your bottom (anal area) in warm water. This helps to relieve burning and inflammation of the genital area. If piles is really bothering you, it is the best option for instant relief. 
                  Piles is not a life-threatening condition but causes immense discomfort. But the good news is that it can be managed by following some simple steps. However, in spite of following these measures, if piles discomfort doesn’t get relieved, consult your doctor.  If piles have advanced, you may be recommended surgery. 
                  </p>
              
                          <div class="clear40"></div>
                          <hr/>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 topreads">
            <p class="txt1 txtcenter">Top Reads </p>
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 txtcenter">
                <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
            </div>
            <div class="clear20"></div>
        </div>
        <div class="row m-0">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
            <img src="././assets/images/b-food.png">
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <label class="diseasestxt">Digestive Health</label>
            </div>
            <label class="diseasestxt2">14 best & worst foods for your ...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/safron.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">SKIN</label>
              </div>
              <label class="diseasestxt2">Saffron for good health..</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
        </div>
        <div class="clear20"></div>
        <div class="row m-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/b-food.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">Digestive Health</label>
              </div>
              <label class="diseasestxt2">14 best & worst foods for your ...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
                <img src="././assets/images/safron.png">
                <div class="clear10"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <label class="diseasestxt">SKIN</label>
                </div>
                <label class="diseasestxt2">Saffron for good health..</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                    <button class="btn read_morenew">READ MORE</button>
                </div>
              </div>
          </div>
          <div class="clear40"></div>
          <hr/>
      </div>
  </div>
  <div class="clear40"></div>
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <label class="txt1">Related Articles</label>
          <div class="clear10"></div>
          <img class="img-fluid iwidth" src="././assets/images/big_border.png">
          <div class="clear20"></div>
      </div>
      <div class="clear40"></div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
          <img src="././assets/images/awellness.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <label class="diseasestxt">wellness</label>
          </div>
          <label class="diseasestxt2">Low calorie diet
              to lose weight...</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
              <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
            <img src="././assets/images/asuryanamaskar.png">
            <div class="clear10"></div>
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 text-center">
                <label class="diseasestxt">healthy food</label>
            </div>
            <label class="diseasestxt2">Food & Activity
                Journal for...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
              <img src="././assets/images/plane.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">kids & teens</label>
              </div>
              <label class="diseasestxt2">Young overweight 
                  & Obesity in...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
  </div>
   
</div>
