<app-navigation></app-navigation>

<section class="declaimer"> 
    <app-floating></app-floating>
  <div class="container pt-5 text-center">
    <h1>Return Policy:</h1>
    <img src="././assets/images/big_border.png">
<div class="maindiv mt-4 text-left">
  <!-- <p>Your privacy is important to Emami Group. Emami respects the privacy of every individual who visits our website. Emami is sensitive to the privacy concerns of the 
      visitors to its websites and recognizes that you are concerned about the information you provide us and how we treat that information. This privacy statement provides information about the personal information that Emami collects, and the ways in which Emami uses that personal information.</p> -->
  <p class="pmain">When are returns possible?</p>
  <p>At Zandu Care, we strive to ensure your orders are delivered to your satisfaction. However, in the rare event that your order is unsatisfactory, we are happy to accept returns for orders, if:
    </p>
    <ul>
      <li>Product(s) delivered do not match your order;</li>
      <li>Product(s) delivered are past or near to its expiry date (medicines with an expiry date of less than 03 months shall be considered as near expiry);</li>
      <li>Product(s) delivered were damaged in transit (Please do not accept product(s) with tampered seal)</li>
    </ul>
    <p class="pmain">Can I return part of my order?</p>
    <p>Yes, return is possible at an item level and if you have ordered multiple items, you can request return of a partial quantity</p>

    <p class="pmain">In how many days can I raise the return request?</p>
    <p>You may raise a return request with our customer care within 07 (Seven) days from the delivery of the product. Zandu reserves the right to cancel the return request, if the customer reaches out to Zandu after 7 days of delivery</p>
  
    <p class="pmain">What is the process for returning the products?</p>
    <ul>
      <li>For Return intimation, please call us at 1800-572-8000 (Open 9 AM - 8 PM from Monday – Sunday).</li>
      <li>In order to validate the reason, you will asked to send the photos of the product(s) to care@zandu.com</li>
      <li>Once the Zandu customer care feels that the claim is genuine and reasonable, Zandu customer care will place a new order for replacement of the products and will initiate the collection of product(s) to be returned</li>
      <li>The customer will be required to return the products along with the original packing</li>
    </ul>
    <p class="pmain">What is your policy for Order Cancellation?</p>
    <p>Currently we don’t entertain Order Cancellations at Zandu Care</p>
    <p class="pmain">What is your policy for Refunds?</p>
    <p>Currently, we don’t entertain refunds at Zandu Care. However, we will replace the products that you may wish to return (as per the return policy)</p>
    <p class="pmain">How many days will Zandu Care take to replace item(s)?</p>
    <p>Replaced item(s) of your order will reach you within 4-5 days once the return claim is verified</p>
    <!-- <p class="pmain">Using personal information</p>
  <p>Emami may store and process your personally identifiable information to understand your needs better and how we may improve our products and services, and to 
      contact you (viz. we may send you marketing or promotional materials or other information), we may respond to your comments or requests for information.
      Emami will not give or forward your personally identifiable information to any outside organization for the organization&apos;s own use without your consent. Your information may be shared with agents or contractors of Emami in connection with services that these individuals or entities perform for the company.
      Should any viewer of the web site respond with information including feedback data such as questions, comments, suggestions on this Web Site, such information shall be deemed to be non-confidential and Emami shall deal with the same in the manner it deems fit.
  </p>
  <p class="pmain">

      Cross-border data transfers
      </p>
  <p>Information that Emami collects may be stored and processed in and transferred between any of the countries in which Emami operates to enable the use of the 
      information in accordance with this privacy policy.
      In addition, personal information that you submit for publication on the website will be published on the internet and may be available around the world.
      You agree to such cross-border transfers of personal information.
      In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, Emami may disclose your personal information to the extent that it is required to do so by law, in connection with any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.
  </p>
  <p class="pmain">Securing your data</p>
  <p>
      Emami will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information.
      Agents or contractors of Emami who have access to your personally identifiable information in connection with providing services for Emami are required to keep the information confidential and are not permitted to use this information for any other purpose than to carry out the services they are performing for Emami. However, Emami is not liable to any individual who has posted his personally identifiable information on this website and is being misused by somebody else due to no fault, 
      negligence or otherwise on the part of Emami.
  </p>
  <p class="pmain2">Non-Personally Identifiable Information Collected Automatically</p>
  <p>
      In some cases, we may collect information about you that is not personally identifiable. Examples of this type of information include the type of internet browser or 
      computer operating system you are using and the domain name of the website from which you linked to our site. Emami does not collect personally identifiable 
      information automatically, but we may tie information collected automatically to your previously submitted personally identifiable information.</p>
  <p class="pmain">Other websites
    </p>
  <p>This website may contain links to other websites. Our websites may contain links with other websites whose information and privacy practices are different from ours Emami is not responsible for the privacy policies or practices of any third party.</p> 
  <div class="clear"></div>
<p class="pmain">Refund and Cancellation</p>

    <p>
        There is no refund or cancellation policy
    </p>

  <p>Please contact us using the Contact Information below if you have comments or concerns regarding our policies or practices. In addition, you may contact us at that address or e-mail address if you want to do any of the following:</p>
  <p class="pmain">Contact Information
  </p>
  <p > you have questions, comments or concerns about this Privacy policy, you may contact us at:
  </p>
  <p class="pmain2">Emami Limited</p>
  <p> 
      Emami Tower<br>
      687, Anandapur, E M Bypass<br>
      Kolkata -700 107<br>
      West Bengal</p>
  <p>Phone: 1800 572 8000</p>
  <p>Email: care@zandu.com</p>
  <p>We will be happy to answer your questions.

    </p> -->


</div>
  </div>
</section>
<div class="mb-5">
  <app-main-footer></app-main-footer>
</div>