<app-navigation></app-navigation>
<section class="home-top pt-5">
  <div class="container "> 
      <h1 class="main_title">Erectile Dysfunction</h1>
    <h1 class="main_title2">“one of the most common<br>
      sexual problem in males”</h1>

    <div class="clearfix"></div>
<div class="clear20"></div>

<div class="clear20"></div>
  <div class="DibetectSection">
      <div class="DibeticLeft" (click)="scrollTo('Overview')">
        <img src="././assets/images/noun-health.png">
        <p class="m-0">Overview</p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('SymptomsCauses')">
        <img src="././assets/images/noun-medical.png">
        <p class="m-0">Symptoms &amp; Causes  </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('PreventionDiagnosis')" >
        <img src="././assets/images/noun-bacteria.png">
        <p class="m-0"> Prevention &amp; Diagnosis </p>
      </div>
      <div class="DibeticLeft"  (click)="scrollTo('AyurvedaApproach')">
        <img src="././assets/images/noun-herbal-medicine.png">
        <p class="m-0"> Ayurveda Approach </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('Complications')" >
        <img src="././assets/images/noun-healt.png">
        <p class="m-0"> Complications </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('RelatedProducts')">
          <img src="././assets/images/noun-medicine10.png">
          <p class="m-0">    Related Products </p>
        </div>
    
  
    </div>
    <div class="clear20"></div>
<div class="clear"></div>
</div>
</section>
<div class="container">
  <!-- <div class="zanduservicemain">
    <div class="card-deck px-5">
      <div class="card zanduservice">
        <div class="card-body">
          <p class="card-text">Sign up to get <br>
            Zandu Services FREE!</p>
        </div>
      </div>
      <div class="card zanduservice text-center">
        <div class="card-body">
          <button class="btn FbBtn" type="button"><img alt="facebook" class="mr-2" src="././assets/images/facebook.png">
            Login With Facebook</button>
        </div>
      </div>
      <div class="card zanduservice text-left">
        <div class="card-body ">
          <button class="btn  GoogleBtn" type="button"><img _ngcontent-c1="" alt="google" class="mr-2" src="././assets/images/google.png">
            Sign up with Google</button>
        </div>
      </div>
      <div class="card zanduservice mr-4">
        <div class="card-body ">
          <span>Call us @</span>
          <h5>9999 8888 22</h5>
        </div>
      </div>
    </div>
  </div> -->
</div>
<div class="clear"></div>

<section id="Overview" class="Yoga_AurvedaSection">
    <div class="clear"></div>
  <h1>What is Erectile Dysfunction?</h1>
  <div class="clear"></div>
  <div class="text-center">
    <img src="././assets/images/big_border.png">
  </div> 
  <div class="row m-0">
  <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6 DisplayNone">
      <img class="w-100" src="././assets/images/Erectile_Dysf.png">
  </div>
  <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-md-6 col-lg-6">
    <h5>Erectile dysfunction is referred as difficulty to start or maintain erection till the end of ejaculation.</h5>
    <p>Though discussing sex is considered a taboo, 
      sexual health is as important as the physical and 
      mental health. </p>
   <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 text-center">
          <img class="img-fluid" src="././assets/images/abs-ten.png">
          
         </div>
       
   </div>
    <button routerLink="../EDRead" class="btn btn-primary mb-2 mt-4 SignBtn" type="button">read more</button>
  </div> 
</div>
  <div class="clear"></div>
  

</section> 
<section id="SymptomsCauses" class="Yoga_AurvedaSection12 Yoga_AurvedaSymptoms symptoms-uti">
  <div class="container">
    <h1 class="text-center">Symptoms of Erectile Dysfunction</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
    <p class="text-center ptractinfection">The symptoms or Rupa of erectile dysfunction are:  </p>
        <div class="row m-0">
            <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6 DisplayNone">
                <img class="w-100" src="././assets/images/symptof-enrif.png">
            </div>
            <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6 comp-contentbx">
              <div class="clear20"></div>
              <p class="sop">Symptoms of  Erectile Dysfunction:</p>
             <div class="row">
               <div class="col-1 col-lg-1">
                  <span><img src="././assets/images/nxt-arrow.png"> </span>
               </div>
               <div class="col-11 col-lg-11">
                  <div class="c-infection">  Constriction of the penis (MlanaSisnata)
                  </div>
               </div>
             </div>           
             <div class="row">
                <div class="col-1 col-lg-1">
                    <span><img src="././assets/images/nxt-arrow.png"> </span>
                </div>
                <div class="col-11 col-lg-11">
                    <div class="c-infection">
                      Lack of ejaculation (Nirvirya)
                    </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-1 col-lg-1">
                      <span><img src="././assets/images/nxt-arrow.png"> </span>
                  </div>
                  <div class="col-11 col-lg-11">
                      <p class="c-infection">     The absence of erection (Dhvajanuccharya)

                        </p>
                  </div>
              </div>
              <div class="row">
                <div class="col-1 col-lg-1">
                    <span><img src="././assets/images/nxt-arrow.png"> </span>
                </div>
                <div class="col-11 col-lg-11">
                    <p class="c-infection">
                      Inability to perform a sexual act (Suratasaktata)
                      </p>
                </div>
              </div>
              <div class="row">
                <div class="col-1 col-lg-1">
                    <span><img src="././assets/images/nxt-arrow.png"> </span>
                </div>
                <div class="col-11 col-lg-11">
                    <p class="c-infection">
                      Profuse sweating (SvinnaGatrata)</p>
                </div>
              </div> 
              <div class="row">
                  <div class="col-1 col-lg-1">
                      <span><img src="././assets/images/nxt-arrow.png"> </span>
                  </div>
                  <div class="col-11 col-lg-11">
                      <div class="c-infection">  The absence of frothy formation in urine</div>
                  </div>
                </div>
               
              <div class="clear20"></div>
              <button routerLink="../EDRead" class="btn btn-primary mb-2 mt-4 SignBtn" type="button">read more</button>
            </div> 
          </div>
        <!-- <div class="row m-0">
            <div class="col-12 col-lg-3 text-center">
                <img src="././assets/images/fever.png">  
                <div class="clear"></div>
                <span class="pfever">Fever</span>
            </div> 
            <div class="col-12 col-lg-3 text-center">
                <img src="././assets/images/urenety-pain.png">  
                <div class="clear"></div>
                <span class="pfever">Dysuria or pain
                   <br/>
                   while urinating
                    </span>
            </div>
            <div class="col-12 col-lg-3 text-center">
                <img src="././assets/images/urination.png">  
                <div class="clear"></div>
                <span class="pfever">Increased 
                    frequency  <br/>
                    of urination
                    </span>
            </div>
            <div class="col-12 col-lg-3 text-center">
                <img src="././assets/images/lower-abdomen.png">  
                <div class="clear"></div>
                <span class="pfever">Pain in Lower 
                   <br/>   Abdomen
                    </span>
            </div>
          </div> 
    -->
   
    <div class="clear"></div>
  </div>
  <div class="clear40"></div>
  <div class="clear40"></div>
  </section> 
  <section id="PreventionDiagnosis" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms">
  <div class="container">
      <h1>Do you know what actually <br>
          causes Erectile Dysfunction</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
      <p class="text-center ptractinfection">The causes of Klaibya is classified as dietary causes, lifestyle causes and psychological causes. They are as listed below:</p>
     
      <div class="clear"></div>
      <div class="clear20"></div>
      <div class="row m-0 ResMainDiv">
        <div class="col-8 col-sm-5 col-md-4 col-lg-4 text-center ResScroll">
            <img src="././assets/images/depression.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Anxiety or<br>
              depression</span>
        </div> 
        <div class="col-8 col-sm-5 col-md-4 col-lg-4 text-center ResScroll">
            <img src="././assets/images/life-stressor.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Life stressors</span>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-4 text-center ResScroll">
            <img src="././assets/images/relationship-issue.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Relationship issues
                </span>
        </div>
        <div class="col-8 col-sm-5 col-md-4 col-lg-4 text-center WebDisplayNone ResScroll">
          <img src="././assets/images/phy-discomfort.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Physical discomfort</span>
      </div> 
      <div class="col-8 col-sm-5 col-md-4 col-lg-4 text-center WebDisplayNone ResScroll">
          <img src="././assets/images/med-sideeffect.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Side effects of<br>
            certain medications</span>
      </div>
      <div class="col-8 col-sm-5 col-md-4 col-lg-4 text-center WebDisplayNone ResScroll">
          <img src="././assets/images/ilness.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Pain and fatigue<br>
            due to illness 
              </span>
      </div>
      </div> 
     <div class="clear40"></div>
     <div class="row m-0">
      <div class="col-md-4 col-lg-4 text-center DisplayNone">
        <img src="././assets/images/phy-discomfort.png">  
        <div class="clear"></div>
        <div class="clear10"></div>
        <span class="pfever">Physical discomfort</span>
    </div> 
    <div class="col-md-4 col-lg-4 text-center DisplayNone">
        <img src="././assets/images/med-sideeffect.png">  
        <div class="clear"></div>
        <div class="clear10"></div>
        <span class="pfever">Side effects of<br>
          certain medications</span>
    </div>
    <div class="col-md-4 col-lg-4 text-center DisplayNone">
        <img src="././assets/images/ilness.png">  
        <div class="clear"></div>
        <div class="clear10"></div>
        <span class="pfever">Pain and fatigue<br>
          due to illness 
            </span>
    </div>
      </div> 
      <div class="clear"></div>
      <div class="topping_spac">
        
          <div class="all_benefits pt-3">
            <p>Want to get all the Benefits of <br>
              Ayurveda? Get a Free consultation!</p>
            <span>Book Your Appointment now in 3 Easy Steps</span>
          </div>
    
          <div class="all_benefits all_benefits2 text-center">
            <button routerLink="../patientloginpage" class="btn btn-primary mb-2 SignBtn" type="button">book appointment</button>
            <p class="ORTExt">Or </p>
            <p>call 1800 572 8000</p>
          </div>
     
      </div>
    </div>
    </section> 
    <div class="clear40"></div>
    <div class="clear40"></div>
    <section class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms ">
        <h1 class="text-center">Erectile Dysfunction & the Doshas   </h1>
        <div class="clear"></div>
        <div class="text-center">
          <img src="././assets/images/big_border.png">
        </div> 
        <p class="text-center ptractinfection">According to Ayurveda, aggravation of the vata dosha causes Erectile Dysfunction</p>
      <div class="clear20"></div>
      <div class="container">
      <div class="text-center">
           
          <div class="article_div">
            <img class="mx-auto d-block img-fluid" src="././assets/images/Vata.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span> VATA</span>
              <div class="clear10"></div>
              <p>Sorrow or grief causes an aggravation of the<br>
               vata dosha, and diminution of semen. This may<br>
                lead to erectile dysfunction. psychological <br>
factors like anger or depression causes an <br>
increase in the vata dosha, which leads to a <br>
decrease in the tissue fluids </p>
            </div>
            <div class="clear30"></div>
            <button routerLink="../EDRead" class="btn read_more rmposition">READ MORE</button>
          </div>
      </div>
      <div class="clear40"></div>
      <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <label class="minitues">Take our 3 Minute Dosha Test</label>
          <div class="clear30"></div>
          <div class="col-12 col-lg-12 text-center">
              <button class="btn  read_more1 ">calculate now</button>
          </div>
        </div> -->
    </div>
    <div class="clear"></div>
    <div class="container">
        <div class="topping_spac">
        
       <span class="call-queries1">Call 1800 572 8000 </span> <span class="call-queries">  to get in touch with our 
            Health Experts & resolve your Health Queries</span>
          </div>
        </div>
      </section>  
      <div class="clear40"></div>
<div class="clear"></div>
<section class="Yoga_AurvedaSection Yoga_AurvedaSymptoms">
    <div class="">
    <h1>Preventions for Erectile Dysfunction</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
     
    <div class="clear"></div>
    <div class="clear40"></div>
    <div class="row m-0 ResMainDiv">
      <div class="col-7 col-sm-7 col-md-6 col-lg-3 text-center ResScroll">
          <img src="././assets/images/wheat-rice.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Cereals: Wheat<br> 
            and rice
              </span>
      </div> 
      <div class="col-7 col-sm-7 col-md-6 col-lg-3 text-center ResScroll">
          <img src="././assets/images/fruits.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Fruits: Apples, mangoes,<br>
            watermelon,pomegranate<br> 
            & cherries
              </span>
      </div>
      <div class="col-7 col-sm-7 col-md-6 col-lg-3 text-center ResScroll">
          <img src="././assets/images/sweetners.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Sweeteners: Sugarcane<br>
            related products
              </span>
      </div>
      <div class="col-7 col-sm-7 col-md-6 col-lg-3 text-center ResScroll">
        <img src="././assets/images/l-food.png">  
        <div class="clear"></div>
        <div class="clear10"></div>
        <span class="pfever">Consume light<br>
          food
            </span>
    </div>
    <div class="col-7 col-sm-7 col-md-6 col-lg-3 ml-auto text-center WebDisplayNone ResScroll">
      <img src="././assets/images/plenty-liquid.png">  
      <div class="clear"></div>
      <div class="clear10"></div>
      <span class="pfever">Drink plenty<br>
        Liquids
          </span>
  </div> 
  <div class="col-7 col-sm-7 col-md-6 col-lg-4 text-center WebDisplayNone ResScroll">
      <img src="././assets/images/wash-food-b-consume.png">  
      <div class="clear"></div>
      <div class="clear10"></div>
      <span class="pfever">Wash food<br>
        before consuming
          </span>
  </div>
  <div class="col-7 col-sm-7 col-md-6 col-lg-3 mr-auto text-center WebDisplayNone ResScroll">
      <img src="././assets/images/adquate-rest.png">  
      <div class="clear"></div>
      <div class="clear10"></div>
      <span class="pfever text-center">Ensure<br>
        adequate rest
          </span>
  </div>
    </div> 
    <div class="clear40"></div>
    <div class="row m-0">
        <div class="col-12 col-md-6 col-lg-3 ml-auto text-center DisplayNone">
            <img src="././assets/images/plenty-liquid.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Drink plenty<br>
              Liquids
                </span>
        </div> 
        <div class="col-12 col-md-6 col-lg-4 text-center DisplayNone">
            <img src="././assets/images/wash-food-b-consume.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Wash food<br>
              before consuming
                </span>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mr-auto text-center DisplayNone">
            <img src="././assets/images/adquate-rest.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever text-center">Ensure<br>
              adequate rest
                </span>
        </div>
       
      </div> 
    <div class="clear"></div>
    </div>
  </section> 
<div class="clear40"></div> 
<div class="clear40"></div>
<section class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms">
    <h1 class="text-center">How Erectile Dysfunction is<br>
      Identified in the Human Body</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
  <div class="clear20"></div>
  <div class="container">
  <div class="text-center ResMainDiv">
      <div class="article_div-human ResScroll">
        <img class="mx-auto d-block img-fluid" src="././assets/images/regular-sex.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>How regularly do
            you participate in sex?</span>
          <div class="clear10"></div>
        </div>
        <div class="clear50"></div>
        <button routerLink="../EDRead" class="btn read_more rmposition">READ MORE</button>
      </div>

      <div class="article_div-human ResScroll">
        <img class="mx-auto d-block img-fluid" src="././assets/images/erection-early-morning.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>Do you have an 
            erection early in
            the morning? </span>
          <div class="clear10"></div>
        </div>
        <div class="clear10"></div>
        <button routerLink="../EDRead" class="btn read_more rmposition">READ MORE</button>
      </div>

      <div class="article_div-human ResScroll">
        <img class="mx-auto d-block img-fluid" src="././assets/images/confidence-in-sex.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span> How would you
            rate your confidence
            levels in sex? </span>
          <div class="clear10"></div>
        </div>
        <div class="clear30"></div>
        <button routerLink="../EDRead" class="btn read_more rmposition">READ MORE</button>
      </div>

      <div class="article_div-human ResScroll">
        <img class="mx-auto d-block img-fluid" src="././assets/images/after-having-sex.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>Do you regularly
            experience climax 
            or orgasm after
            having sex? </span>
          <div class="clear10"></div>
        </div>
        <div class="clear30"></div>
        <button routerLink="../EDRead" class="btn read_more rmposition">READ MORE</button>
      </div>
     
  </div>
</div>
<div class="clear"></div>
  </section>
<div class="clear40"></div> 
<section id="AyurvedaApproach" class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms mt-2">
  <h1 class="text-center">Ayurvedic Approach to Manage Erectile Dysfunction</h1>
  <div class="clear"></div>
  <div class="text-center">
    <img src="././assets/images/big_border.png">
  </div> 
  <p class="text-center ptractinfection">Ayurvedic treatment for erectile dysfunction includes both herbal treatments and ayurvedic drugs treatment </p>
<div class="clear20"></div>
<div class="container">
    <div class="row">
      <div class="col-3 col-lg-3">

      </div>
      <div class="col-md-6 col-lg-6">
        <div class="row">
            <div class="col-12 col-lg-12 text-center">
                <div class="text-center">
                    <div class="article_div1">
                      <img class="mx-auto d-block img-fluid" src="././assets/images/ayurvedic-drug.png">
                      <div class="clear10"></div>
                      <div class="infor">      
                        <div class="clear10"></div>
                        <label class="utitop">Ayurvedic herbal
                            & drug therapy</label>
                      </div>
                      <div class="clear10"></div>
                    </div>
                </div>
              </div>
             
        </div>
      </div>   
    </div>



<div class="clear30"></div>
<div class="col-12 col-lg-12 text-center lfst-box">
  <label class="lyfestyle-mgmt">Lifestyle Management</label>
</div>
<div class="clear40"></div>
<div class="row ResMainDiv">
  <div class="col-8 col-sm-6 col-md-6 col-lg-3 text-center ResScroll">
    <img src="././assets/images/warm-milk.png">
    <div class="clear10"></div>
    <label class="lyfestyle-mgmt">Have warm milk<br> 
      regularly before<br>
      going to sleep</label>
  </div>
  <div class="col-8 col-sm-6 col-md-6 col-lg-3 text-center ResScroll">
      <img src="././assets/images/early-morning.png">
      <div class="clear20"></div>
      <label class="lyfestyle-mgmt">Practise suryanamaskara<br>
        early in the morning</label>
    </div>
    <div class="col-8 col-sm-6 col-md-6 col-lg-3 text-center ResScroll">
        <img src="././assets/images/sex-regularly.png">
        <div class="clear20"></div>
        <label class="lyfestyle-mgmt">Practice sex<br>
          regularly</label>
      </div>
      <div class="col-8 col-sm-6 col-md-6 col-lg-3 text-center ResScroll">
          <img src="././assets/images/health-diet.png">
          <div class="clear20"></div>
          <label class="lyfestyle-mgmt">Take healthy diet<br>
            with lots of fruits<br>
            and vegetables
            </label>
        </div>
</div>
</div>
<div class="clear"></div>

</section> 
<section class="HomeDisplayNone">
  <div class="container">
      <div class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms deal-areabg">
          <h1 class="text-center">Home Remedies</h1>
          <div class="clear"></div>
          <div class="text-center">
            <img src="././assets/images/big_border.png">
          </div> 
         
      <div class="clear"></div>
      <div class="clear20"></div>
      <div class="deal_area">
          <div class=" mb-4">
            <div class="shadoo1 mx-0">
              <div class="card tab_card mx-0 small_div BorderradiusLeft">
                <div class=" BorderradiusLeft card-body {{tabs[0].active}}" (click)="openCity(0)">
                  <div class="border_div">
                    <span>MILK   </span>
                  </div>
                </div>
              </div>
              <div class="card tab_card mx-0">
                <div class="card-body {{tabs[1].active}}" (click)="openCity(1)">
                  <div class="border_div">
                    <span> SALAD  </span>
                  </div>
                </div>
              </div>
              <div class="card tab_card mx-0 BorderradiusRight">
                <div class=" BorderradiusRight card-body  {{tabs[2].active}} " (click)="openCity(2)">
                  <div class="border_div ">
                    <span>honey</span>
                  </div>
                </div>
              </div>
    
              <div class="card tab_card mx-0 BorderradiusRight">
                  <div class=" BorderradiusRight card-body  {{tabs[3].active}} " (click)="openCity(3)">
                    <div class="border_div ">
                      <span> dry fruits      </span>
                    </div>
                  </div>
                </div>
              <div class="card tab_card mx-0 BorderradiusRight">
                  <div class=" BorderradiusRight card-body  {{tabs[4].active}} " (click)="openCity(4)">
                    <div class="border_div HiddenBorder">
                      <span>  boiled eggs</span>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        
          <div class="{{tabs[0].tabcontent}} p-0 TabContentBox paddingTabContentDiv BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
               <div class="row">
                 <div class="col-12 col-sm-12 col-md-12 col-lg-6 hr-tabdiv">
                   <p class="tab-p">Consume milk mixed with a cup of tulsi seeds every day.</p>
    
                   <p class="tab-p"> Drink lukewarm milk with boiled drumstick flowers added to it.
                    </p>
                 </div>
                 <div class="col-12 col-sm-12 col-md-12 col-lg-6 DisplayNone">
                   <img class="img-fluid" src="././assets/images/elrf-comp.png">
                 </div>
               </div>
              </div>
            </div>
          </div>
        
          <div class="{{tabs[1].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
               <div class="row">
                 <div class="col-12 col-sm-12 col-md-12 col-lg-6 hr-tabdiv">
                   <p class="tab-p">Consume milk mixed with a cup of tulsi seeds every day.</p>
    
                   <p class="tab-p"> Drink lukewarm milk with boiled drumstick flowers added to it.
                    </p>
                 </div>
                 <div class="col-12 col-sm-12 col-md-12 col-lg-6 DisplayNone">
                   <img class="img-fluid" src="././assets/images/elrf-comp.png">
                 </div>
               </div>
              </div>
            </div>
          </div>
        
          <div class="{{tabs[2].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
               <div class="row">
                 <div class="col-12 col-sm-12 col-md-12 col-lg-6 hr-tabdiv">
                   <p class="tab-p">Consume milk mixed with a cup of tulsi seeds every day.</p>
    
                   <p class="tab-p"> Drink lukewarm milk with boiled drumstick flowers added to it.
                    </p>
                 </div>
                 <div class="col-12 col-sm-12 col-md-12 col-lg-6 DisplayNone">
                   <img class="img-fluid" src="././assets/images/elrf-comp.png">
                 </div>
               </div>
              </div>
            </div>
          </div>
    
          <div class="{{tabs[3].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
               <div class="row">
                 <div class="col-12 col-sm-12 col-md-12 col-lg-6 hr-tabdiv">
                   <p class="tab-p">Consume milk mixed with a cup of tulsi seeds every day.</p>
    
                   <p class="tab-p"> Drink lukewarm milk with boiled drumstick flowers added to it.
                    </p>
                 </div>
                 <div class="col-12 col-sm-12 col-md-12 col-lg-6 DisplayNone">
                   <img class="img-fluid" src="././assets/images/elrf-comp.png">
                 </div>
               </div>
              </div>
            </div>
            </div>
    
            <div class="{{tabs[4].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
              <div class="">
                <div class="tab1ContentBox">
                 <div class="row">
                   <div class="col-12 col-sm-12 col-md-12 col-lg-6 hr-tabdiv">
                     <p class="tab-p">Consume milk mixed with a cup of tulsi seeds every day.</p>
      
                     <p class="tab-p"> Drink lukewarm milk with boiled drumstick flowers added to it.
                      </p>
                   </div>
                   <div class="col-12 col-sm-12 col-md-12 col-lg-6 DisplayNone">
                     <img class="img-fluid" src="././assets/images/elrf-comp.png">
                   </div>
                 </div>
                </div>
              </div>
              </div>
        </div>
      </div> 
  </div>
</section>
<section id="Complications" class="Yoga_AurvedaSection">
  <div class="container">
    <div class="clear"></div>
  <h1>Complications in Erectile Dysfunction</h1>
  <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
  <p class="text-center ptractinfection">The following are the complications associated with erectile dysfunction:</p>
  <div class="clear"></div>
  
  <div class="row m-0">
 
  <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-4 ml-auto text-center DisplayNone">
       <img src="././assets/images/complication-erefdys.png" class="img-fluid">
  </div> 
  <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-4 mr-auto">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12  comp-contentbx1">
       <div class="row">
         <div class="col-1 col-lg-1">
            <span><img src="././assets/images/nxt-arrow.png"> </span>
         </div>
         <div class="col-11 col-lg-10">
            <p class="c-infection">Unhappy sexual life </p>
         </div>
       </div>
       <div class="row">
          <div class="col-1 col-lg-1">
              <span><img src="././assets/images/nxt-arrow.png"> </span>
          </div>
          <div class="col-11 col-lg-10">
              <p class="c-infection">Strained relationships</p>
          </div>
        </div>
        <div class="row">
            <div class="col-1 col-lg-1">
                <span><img src="././assets/images/nxt-arrow.png"> </span>
            </div>
            <div class="col-11 col-lg-10">
                <p class="c-infection">
                  Psychological symptoms like anxiety 
                  and depression </p>
            </div>
        </div>
        <div class="row">
          <div class="col-1 col-lg-1">
              <span><img src="././assets/images/nxt-arrow.png"> </span>
          </div>
          <div class="col-11 col-lg-10">
              <p class="c-infection">
                Low self-esteem</p>
          </div>
        </div>
      </div>    
  </div> 
</div>
  <div class="clear"></div>
</div>
</section> 
 
<div class="clear40"></div>
<!-- <section class="dosha">
  <div class="dosham">
    <p>Ayurveda also lays emphasis dietary modifications and 
      other lifestyle changes which help in treating erectile 
      dysfunction and improving sexual health-
          </p>
    
        
       <h5>-     Dietary modifications</h5> 
        <p class="p-padl">   Ayurveda depicts shukradosha as the main cause for the occurrence of 
          erectile dysfunction
 </p>
       <h5>-      Exercise</h5> 
       <p class="p-padl"> Maintenance of the overall physical and mental health also plays an 
        important role in good sexual health.</p> 
       <h5>-      Yoga</h5> 
          
       <div class="clear20"></div> 
      

  </div>
  <div class="clear"></div>
  <div class="clear40"></div>
  <div class="clear40"></div>
  <div class="clear40"></div>
  
</section> -->


  <section id="RelatedProducts" class="Yoga_AurvedaSectionrp Yoga_AurvedaSymptoms">
      <h1 class="text-center">Related Products</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
     
  <div class="clear"></div>
  <div class="clear20"></div>
  <div class="container" >
    <!-- <div> -->
    <div class="row" *ngIf="visibleCategory">
    <div class="col-6 col-sm-4 col-md-4 col-lg-4 "  *ngFor="let data of visibleCategory">
          <div class="col-6 col-sm-12 col-md-12 col-lg-12 Product_div tab-h text-center padlrn" *ngIf="visibleCategory!=''">
            <div class="clear20"></div>
            <div class="WhiteBox">
          <div (click)="getProductDetails(data.id)" >
              <img src="{{data.imageUrl}}" width="199" height="194">
              <div class="clear10"></div>
              <label class="zl-text cursor">{{data.name}}</label>
          </div>
        </div>
           <br>
          <div class="row">
              <div class="text-center col-6 col-sm-6 col-md-6 col-lg-6 ">
                <label class="">
                  <label class="zl-text1">&#8377;</label>
                  <label class="zl-text12">{{data.selling}}</label>
                </label>
              </div>
              <div class=" col-6 col-sm-6 col-md-6 col-lg-6 text-left">
                <div class="product_img">
                  <div class="clear10"></div>
                  <div class="order-margin-top2"> 
                 
                    <i *ngIf="qtyP!=0" class="fa" (click)="reduce(data)"><img src="././assets/images/SpinnerMinus.png"></i>&nbsp;
                    <input [(ngModel)]="data.qty" class="input-spinner" >&nbsp;
                    <i class="fa" (click)=" add(data)"><img src="././assets/images/SpinnerPluse.png"></i>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="clearfix"></div>
            <div class="row">
            <div class="col-6 col-lg-12 text-center rmpositionnew">
                <div class="clear20"></div>
                <button class="btn  read_morerp AddToCartBtn" (click)="addToCart(data)" type="button">add
                    to cart</button>
              
            </div> 
            </div>
            <div class="clear20"></div>       
          </div>
        </div>
    </div>
    <div  class="row " *ngIf="visibleCategory.length==0">
        <div class="col-12 col-lg-12 text-center">
            <div class="clear20"></div>
            <h6>No Products Found...</h6>
        </div> 
      
      </div>
  <!-- </div> -->
    <div class="clear20"></div>
    <!-- <div class="row" *ngIf="visibleCategory.length!=0">
        <div class="col-6 col-lg-12 text-center">
            <div class="clear20"></div>
  
            <button class="btn read_morerp" routerLink="../mainproductpage">explore all products</button>            
        </div> 
        </div> -->
  </div>
  
    <div class="clear10"></div> 
</section> 
<div class="clear40"></div>
 
<div class="clear40"></div>

<div class="clear40"></div>
<section class="Yoga_AurvedaSection-artical Yoga_AurvedaSymptoms">
    <h1 class="text-center">Articles </h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
   
  <div class="clear20"></div>
  <div class="container">
  <div class="text-center ResMainDiv">
      <div class="article_div-artical ResScroll">
        <img class="mx-auto d-block img-fluid" src="././assets/images/saffron.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>skin</span>
          <div class="clear10"></div>
          <p>Saffron for<br>
              good health..</p>
        </div>
        <div class="clear50"></div>
        <button routerLink="../EDRead" class="btn read_more rmposition1">READ MORE</button>
      </div>

      <div class="article_div-artical ResScroll">
        <img class="mx-auto d-block img-fluid" src="././assets/images/w-food.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>YOGA FOR PAIN</span>
          <div class="clear10"></div>
          <p>14 best & worst<br> foods for your ...</p>
        </div>
        <div class="clear10"></div>
        <button routerLink="../EDRead" class="btn read_more rmposition1">READ MORE</button>
      </div>

      <div class="article_div-artical text-center ResScroll">
        <img class="mx-auto d-block img-fluid" src="././assets/images/b-food.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span> PRANAYAMA</span>
          <div class="clear10"></div>
          <p>14 best & worst<br> foods for your ... </p>
        </div>
        <div class="clear30"></div>
        <button routerLink="../EDRead" class="btn read_more rmposition1">READ MORE</button>
      </div>
  </div>
  <div class="clear40"></div>
</div>
<div class="clear"></div>

  </section> 



  <div class="container">
      <div class="topping_spac">
        
          <div class="all_benefits pt-3">
            <p>Want to get all the Benefits of <br>
              Ayurveda? Get a Free consultation!</p>
            <span>Book Your Appointment now in 3 Easy Steps</span>
          </div>
    
          <div class="all_benefits all_benefits2 text-center">
            <button routerLink="../patientloginpage" class="btn btn-primary mb-2 SignBtn" type="button">book appointment</button>
            <p class="ORTExt">Or </p>
            <p>1800 572 8000</p>
          </div>
     
        </div>
      </div>





<div class="">
  <app-main-footer></app-main-footer>
</div>


<!-- The Modal -->
<div class="modal {{nomodel}}">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body text-center py-5">
        <span class="modeltitle">COMING SOON</span>
        <img src="././assets/images/model_border.png">
        <p class="pt-3">Your Dosha Calculator</p>
        <div class="smlltxt pb-4">We’ll Notify You Via Mail</div>
        <button type="button" class="btn closingbtn" data-dismiss="modal" (click)="closed()">OK</button>
      </div>
    </div>
  </div>
</div>