<app-navigation></app-navigation>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 home-top">
        <app-floating></app-floating>
</div>
<div class="clear"></div>
<div class="container">
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <p class="blurtxt txtcenter">Diarrhoea</p>
          <div class="clear20"></div>
          <p class="txt1 txtcenter">Top 8 Foods to Have When 
            You Have Diarrhoea </p>
              <div class="clear10"></div>
              <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
              <div class="clear20"></div>
              <p class="topptxt txtcenter">Diarrhoea is perhaps one of the most common yet the most loathsome condition that everyone experiences one or the other time. It has many causes- it can be due to a potential</p>
              <div class="clear40"></div>
              <div class="row m-0">
                <div class="col-6 col-am-6 col-md-6 col-lg-6 borderright">
                  <p class="byUStxt">By U.S. News Staff</p>
                </div>
                <div class="col-6 col-am-6 col-md-6 col-lg-6">
                     <label class="byUStxt">Jan 03, 2018 at 7:45 pm</label>
                  </div>
              </div>
              <div class="clear40"></div>
              <!-- <p class="paratxt1 txtcenter">What is kutki (Picrorhiza kurroa)?</p> -->
              <p class="paratxt3 txtcenter">While all of us do have some over-the-counter medications to control diarrhoea in our medicine cabinets, little do we know that mere diet can also sometimes help to curb diarrhoea. A person having diarrhoea loses a lot of water and essential electrolytes. Thus, the main aim of dietary management of diarrhoea is to restore fluid and electrolyte balance. Let us find out which foods can actually be beneficial for you when you have diarrhoea: 
               <div class="clear40"></div>
              <p class="paratxt1 txtcenter">1. Bananas and Applesauce: </p>
              <p class="paratxt3 txtcenter"> Bananas are great source of potassium, the electrolyte that is often lost during diarrhoea. Bananas and apples are also a good source of pectin, which is a soluble fibre, which helps to reduce diarrhoea. </p>
              <p class="paratxt2 txtcenter"> 2. White rice: </p>
              <p class="paratxt3 txtcenter">
                White rice is a good source of carbohydrates and is easy on your digestive system. It also has adequate soluble dietary fibre, which helps to make your stool bulkier.</p>
              <p class="paratxt2 txtcenter"> 3. Toast, crackers and pretzels:</p>
              <p class="paratxt3 txtcenter"> These foods are bland, add to the bulk of the stool, plus they are also high on sodium. Thus, they are great for people with diarrhoea. </p>
              <p class="paratxt2 txtcenter"> 4. Soups and broths:</p>
              <p class="paratxt3 txtcenter"> If you have diarrhoea, you are losing a lot of fluids. Soups made of vegetable and meats are digested easily, are highly nutritious, and help to restore fluid loss. 
              </p>
              <p class="paratxt2 txtcenter">5. Coconut water: 
              </p>
              <p class="paratxt3 txtcenter">Coconut water is a rich source of electrolytes. Having coconut water is indeed a great way to replenish all the depleted stores of electrolyte and fluids </p>
              <div class="clear40"></div>
              <p class="paratxt1 txtcenter">  6. Yogurt/ Kefir: 
              </p>
              <p class="paratxt3 txtcenter">These are easily digestible (when compared to other dairy products) and more importantly, they are also rich in probiotics. Probiotics are the bacteria which replace the gut microbiome or assist in their function and help to maintain a healthy gastrointestinal tract. 
              </p> 
              <p class="paratxt1 txtcenter">  7. Lean meat and scrambled eggs: 

              </p>
              <p class="paratxt3 txtcenter">Diarrhoea makes you really fatigued. Lean meats such as baked chicken, pork and beef provides you with proteins which helps to maintain your energy levels.  
 
              </p>
              <p class="paratxt1 txtcenter">  8. Boiled potatoes:
              </p>
              <p class="paratxt3 txtcenter">Boiled and mashed potatoes have a good carbohydrate content which helps you to provide energy. Plus, they are also rich in electrolytes such as sodium and potassium and also certain important vitamins. 
 
              </p> 
              <p class="paratxt3 txtcenter">In addition to knowing what to eat, you should also know what not to eat. Avoid sugary, spicy, deep fried food and high fat dairy. These foods put additional pressure on your stomach and may aggravate diarrhoea. In some people, diarrhoea is caused by food intolerances such as lactose or gluten intolerance, in such cases the food that you are intolerant to (lactose- milk products, and gluten- wheat, barley, rye etc) must be avoided. Avoid foods that produce gas such as cabbage and cauliflower. Beverages that contain caffeine such as tea, coffee also stimulate the digestive system and may worsen your symptoms. Carbonated drinks irritate the gastrointestinal tract and also cause flatulence, hence must be avoided. 
 <br/> Diarrhoea makes you tired, so the importance of taking rest and letting your body heal should not be underestimated. Limit physical activities as they can further increase dehydration. Sip in water throughout the day, keep yourself well hydrated. 

 
              </p> 

                         <div class="clear40"></div>
                          <hr/>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 topreads">
            <p class="txt1 txtcenter">Top Reads </p>
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 txtcenter">
                <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
            </div>
            <div class="clear20"></div>
        </div>
        <div class="row m-0">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
            <img src="././assets/images/b-food.png">
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <label class="diseasestxt">Digestive Health</label>
            </div>
            <label class="diseasestxt2">14 best & worst foods for your ...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/safron.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">SKIN</label>
              </div>
              <label class="diseasestxt2">Saffron for good health..</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
        </div>
        <div class="clear20"></div>
        <div class="row m-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/b-food.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">Digestive Health</label>
              </div>
              <label class="diseasestxt2">14 best & worst foods for your ...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
                <img src="././assets/images/safron.png">
                <div class="clear10"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <label class="diseasestxt">SKIN</label>
                </div>
                <label class="diseasestxt2">Saffron for good health..</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                    <button class="btn read_morenew">READ MORE</button>
                </div>
              </div>
          </div>
          <div class="clear40"></div>
          <hr/>
      </div>
  </div>
  <div class="clear40"></div>
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <label class="txt1">Related Articles</label>
          <div class="clear10"></div>
          <img class="img-fluid iwidth" src="././assets/images/big_border.png">
          <div class="clear20"></div>
      </div>
      <div class="clear40"></div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
          <img src="././assets/images/awellness.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <label class="diseasestxt">wellness</label>
          </div>
          <label class="diseasestxt2">Low calorie diet
              to lose weight...</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
              <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
            <img src="././assets/images/asuryanamaskar.png">
            <div class="clear10"></div>
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 text-center">
                <label class="diseasestxt">healthy food</label>
            </div>
            <label class="diseasestxt2">Food & Activity
                Journal for...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
              <img src="././assets/images/plane.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">kids & teens</label>
              </div>
              <label class="diseasestxt2">Young overweight 
                  & Obesity in...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
  </div>
  <div class="clear70"></div>
</div>
