<app-navigation></app-navigation>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 home-top">
    <app-floating></app-floating>
</div>
<div class="clear"></div>
<div class="container">
  <div class="row m-0">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <p class="blurtxt txtcenter">Gurmaar (Gymnema sylvestre)</p>
      <div class="clear20"></div>
      <p class="txt1 txtcenter">Gurmaar, also known as Gymnema 
        Sylvestre (G. Sylvestre), </p>
      <div class="clear10"></div>
      <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
      <div class="clear20"></div>
      <p class="topptxt txtcenter">Gurmaar, also known as Gymnema 
        Sylvestre (G. Sylvestre),  </p>
      <div class="clear40"></div>
      <div class="row m-0">
        <div class="col-6 col-am-6 col-md-6 col-lg-6 borderright">
          <p class="byUStxt">By U.S. News Staff</p>
        </div>
        <div class="col-6 col-am-6 col-md-6 col-lg-6">
          <label class="byUStxt">Jan 03, 2018 at 7:45 pm</label>
        </div>
      </div>
      <div class="clear40"></div>
      <p class="paratxt1 txtcenter">What is Gurmaar/ G Sylvestre?</p>
      <p class="paratxt3 txtcenter"> 
        Gymnema Sylvestre is a medicinal plant that belongs to the family Asclepiadaceae. This is a slow growing, perennial, woody climber. This herb is widely distributed in the India, Malaysia, Australia, Sri-Lanka, Indonesia, tropical Africa and some parts of China. In India, G. Sylvestre is native of the tropical forests of Central and Southern India.  </p>
      <div class="clear40"></div>

      <p class="paratxt1 txtcenter">Quick facts </p>
      <ul>
        <li>The word Gymnema comes from the Hindi word ‘Gurmaar’ which means ‘destroyer of sweet’. This name had probably been given to this plant owing to its antidiabetic properties.
        </li>
        <li> Traditional healers believe that chewing the leaves of G. Sylvestre caused a reversible loss of sweet taste.</li>
        <li> In Tanzanian folk medicine, G. Sylvestre was administered as an aphrodisiac.</li>
      </ul>
      <p class="paratxt1 txtcenter">Medicinal Properties: </p>
      <ul>
        <li> Antidiabetic:</li>
        <p class="paratxt3 txtcenter">
          The powder of G. Sylvestre is known to be effective in reducing fasting and post meal blood sugar.</p>
          <li> Anti-obesity:</li>
        <p  class="paratxt3 txtcenter">
          Studies have proven that G. Sylvestre helps in reducing excess body weight and promote normal lipid levels.  G. Sylvestre also suppresses sweet cravings. This may also help in weight loss.</p>
        <li> Hypolipidemic:</li>
        <p class="paratxt3 txtcenter"> 
          The leaf extracts of G. Sylvestre may reduce elevated serum triglyceride (TG), total cholesterol (TC), very low-density lipoprotein (VLDL) and low-density lipoprotein (LDL). Some compounds present in G. Sylvestre may increase excretion of fats through faeces.</p>
        <li> Antimicrobial: </li>
        <p class="paratxt3 txtcenter">
          G. Sylvestre has been found to have good antimicrobial activity against bacteria such as Bacillus pumilis, B. subtilis, Pseudomonas aeruginosa Staphylococcus aureus, and Klebsiella pneumoniae.</p>
        <li>Anti-inflammatory: </li>
        <p class="paratxt3 txtcenter">
          Animal studies have found G. Sylvestre to be effective in reducing signs of inflammation.</p>
        <li>Anticancer:</li>
        <p class="paratxt3 txtcenter">
          Many phytochemicals present in G. Sylvestre have been found to show significant anticancer activity.</p>
        <li> Immunostimulatory:</li>
        <p class="paratxt3 txtcenter"> 
          The aqueous extracts of G. Sylvestre have stimulatory effects on the immune system which allows the body to fight infections better.</p>
        <li> Diuretic:</li>
        <p class="paratxt3 txtcenter"> 
          G. Sylvestre has been known to increase the production of urine.</p>
      </ul>
      <p class="paratxt1 txtcenter"> Medical uses of Gurmaar:</p>
      <ul>
        <li>
          Diabetes:
        </li>
        <p>Gurmaar has been found to improve blood sugar levels in diabetics, owing to its following actions:</p>
        <ul>
          <li> Regeneration of insulin producing cells in the pancreas</li>
          <li>Increase secretion of insulin</li>
          <li>Increases utilisation of glucose</li>
        </ul>
        <p class="paratxt1 txtcenter">Clinical studies have found Gurmaar to be effective in patient with both Type 1 and type 2 diabetes.</p>
        <li> Weight loss:</li>
        <p class="paratxt3 txtcenter"> Studies have proven that taking Gurmaar extracts for 12 weeks have reduced body weight and body mass index in patients who were overweight.</p>
        <p class="paratxt3 txtcenter">In traditional Indian healing systems, G. Sylvestre has been used to treat chronic cough, asthma, breathing troubles, eye complaints, constipation, snake bite, urinary problems, digestive problems, piles, colic pain, dyspepsia, and liver and spleen enlargement.</p>
      </ul>
      <p class="paratxt1 txtcenter">Using Gurmaar Safely:</p>
      <p class="paratxt1 txtcenter">Side effects and Precautions: </p>
      <p class="paratxt3 txtcenter">
        G. Sylvestre has been found to be safe with no potential adverse reactions even after 20 months of use. However, one needs to be careful while taking G. Sylvestre in the following conditions:</p>
      <ul class="number">
        <li>Diabetes:</li>
        <p class="paratxt3 txtcenter"> 
          G. Sylvestre has the potential to lower blood sugar levels. Therefore, diabetics, especially those on medications must take only the recommended doses. Having high doses can lead to hypoglycaemia.</p>
        <li> Surgery:</li>
        <p class="paratxt3 txtcenter">
          G. Sylvestre can alter your blood sugar levels and interfere with blood sugar control. Therefore, you must stop using G. Sylvestre 2 weeks before scheduled surgery. 
          Drug Interactions:</p>
      </ul>
      <ul class="circle">
        <li>  Antidiabetic medications:</li>
        <p class="paratxt3 txtcenter">
          G. Sylvestre can potentiate the effects of antidiabetics and cause dangerous drop in blood sugar levels. Therefore, people taking antidiabetic drugs should only take G. Sylvestre as prescribed by the physician and also frequently monitor blood sugar levels.</p>
        <li>Anti-lipidemic agents:</li>
        <p class="paratxt3 txtcenter"> 
          G. Sylvestre can also potentiate the effects of antilipidemic drugs (drugs that lower cholesterol and triglyceride levels in the blood).  Therefore, people taking antilipidemic drugs should only take G. Sylvestre as prescribed by the physician. 
          </p>
      </ul>
      <li></li>
      <p class="paratxt3 txtcenter"> 
        G. Sylvestre is available in powder, paste and solid form. The recommended dosage of G. Sylvestre is</p>
        <ul>
          <li></li><span class="paratxt3 txtcenter">Liquid extract: 25-75ml/week for 6-12 months; </span>
          <li></li><span class="paratxt3 txtcenter">Tablet: 8-12 grams per day</span>
        </ul> 
        <p class="paratxt3 txtcenter">
        G. Sylvestre is also a part of important Ayurvedic preparations like Ayaskri, Varunadi Kasaya, Varunadighrtam, and Mahakalyanakaghrtam. The recommended dosage may vary from person to person. Therefore, individual herbs or their compound formulations must be taken as recommended by the physician. 
        </p>

        <div class="clear40"></div>
      <hr />
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 topreads">
        <p class="txt1 txtcenter">Top Reads </p>
        <div class="clear10"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 txtcenter">
          <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
        </div>
        <div class="clear20"></div>
      </div>
      <div class="row m-0">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
          <img src="././assets/images/b-food.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <label class="diseasestxt">Digestive Health</label>
          </div>
          <label class="diseasestxt2">14 best & worst foods for your ...</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
            <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
          <img src="././assets/images/safron.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <label class="diseasestxt">SKIN</label>
          </div>
          <label class="diseasestxt2">Saffron for good health..</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
            <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
      </div>
      <div class="clear20"></div>
      <div class="row m-0">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
          <img src="././assets/images/b-food.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <label class="diseasestxt">Digestive Health</label>
          </div>
          <label class="diseasestxt2">14 best & worst foods for your ...</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
            <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
          <img src="././assets/images/safron.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <label class="diseasestxt">SKIN</label>
          </div>
          <label class="diseasestxt2">Saffron for good health..</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
            <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
      </div>
      <div class="clear40"></div>
      <hr />
    </div>
  </div>
  <div class="clear40"></div>
  <div class="row m-0">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <label class="txt1">Related Articles</label>
      <div class="clear10"></div>
      <img class="img-fluid iwidth" src="././assets/images/big_border.png">
      <div class="clear20"></div>
    </div>
    <div class="clear40"></div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
      <img src="././assets/images/awellness.png">
      <div class="clear10"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <label class="diseasestxt">wellness</label>
      </div>
      <label class="diseasestxt2">Low calorie diet
        to lose weight...</label>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
        <button class="btn read_morenew">READ MORE</button>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
      <img src="././assets/images/asuryanamaskar.png">
      <div class="clear10"></div>
      <div class="col-12 col-md-12 col-sm-12 col-lg-12 text-center">
        <label class="diseasestxt">healthy food</label>
      </div>
      <label class="diseasestxt2">Food & Activity
        Journal for...</label>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
        <button class="btn read_morenew">READ MORE</button>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
      <img src="././assets/images/plane.png">
      <div class="clear10"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <label class="diseasestxt">kids & teens</label>
      </div>
      <label class="diseasestxt2">Young overweight
        & Obesity in...</label>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
        <button class="btn read_morenew">READ MORE</button>
      </div>
    </div>
  </div>
  <div class="clear70"></div>
</div>