/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}

/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}
.carousel-inner {
    padding: 10px;
}
.image-center {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-hover:hover .image {
  opacity: 0.3;
}

.image-hover:hover .centered {
font-size:18px;
color:red; 
 opacity: 1;
}
.input-spinner{
    width: 70px;
    text-align: center;
    font-family: PlayfairDisplay;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: 1.2px;
    color: #1d1d1b;
  }
  .SignBtn, .SignBtn:active, .SignBtn:hover, .SignBtn:focus {
    font-family: 'TrajanPro-Bold';
    background-color: #cfa15a !important;
    border: 0px;
    margin: 0 auto;
    width: 297px;
    font-size: 15px;
    font-weight: bold;
    color: #402909 !important;
    outline: 1px solid #c29a5d;
    outline-offset: -6px;
    border-radius: 10px;
    -moz-outline-radius: 10px;
    box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.13);
}
.custom_card {
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: relative;
    display: block;
}
h4.card-title {
    font-family: 'TrajanPro-Bold';
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    /* text-align: left; */
    color: #333333;
}
p.card-text {
    font-family: 'PlayfairDisplay-Regular';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: left;
    color: #402909;
}
.product_info h4 {
    font-family: 'PlayfairDisplay-Regular';
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: left;
    color: #333333;
}
.carousel-control-prev {
    left: -60px;
}
.carousel-control-next {
    right: -60px;
}
.custom_card{position: relative;overflow: hidden;}
.custom_card span {
    position: absolute;
    top: 5px;
    left: -26px;
    background: #402909;
    color: #ffffff;
    padding: 6px;
    transform: rotate(-42deg);
    overflow: hidden;
    width: 108px;
    font-family: 'PlayfairDisplay-Regular';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
span.main_title {
    font-family: 'TrajanPro-Regular';
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #402909;
    display: inline-block;
    width: 50%;
}
span.arrows {
    display: inline-block;
    width: 50%;
    text-align: right;
}