<app-navigation></app-navigation>
<app-floating></app-floating>

<section class="declaimer">
  <div class="container pt-5 text-center">
    <h1>Piles or Hemorrhoids</h1>
    <img src="././assets/images/big_border.png">
<div class="maindiv mt-4 text-left">
  <h3>Are you suffering from piles?<sup>1</sup> </h3>
  <p>One of the most common conditions that stops you from sitting comfortably on your bottom is  piles or hemorrhoids. Although not very harmful to your health, it does cause a lot of distress. The chances of developing piles increases with increasing age. </p>
  <p>The exact cause of the condition is not yet known. However, it is suggested that chronic constipation, chronic diarrhoea, pregnancy, improper diet, overweight or lifting heavy weights can all trigger the onset of symptomatic  piles. There are a number of treatments available for piles. In some cases, home remedies and life style modifications are more than sufficient. </p>
  <h3>What is piles?<sup>1</sup></h3>   
  <p>Piles is a condition in which the veins of the anus and lower rectum region get inflamed and swollen. Piles occurs when the pressure on the blood vessels, in and around, the anus increases. </p>
  <p>On the basis of location, piles is of two types:<sup>1</sup></p>
  <ul class="dysfunctions">
    <li>1. Internal piles: Piles located above the opening of the anus</li>
    <li>2. External piles: Piles located outside the edge of the anus </li>
   </ul>
   <p>On the basis of severity, piles is divided into four degrees:<sup>6</sup></p>
   <ul class="dysfunctions">
     <li>1. First degree- bleed only, no prolapse</li>
     <li>2. Second degree- prolapse but reduce spontaneously</li>
     <li>3. Third degree- prolapse and has to be manually reduced</li>
     <li>4. Fourth degree- permanently prolapsed</li>
   </ul>
   <div class="">
     <h3>Piles, as seen through Ayurveda <sup>1</sup></h3>
     <p>In Ayurveda, piles is known as Arsha, and is defined as: </p>
     <p><b><i>‘Arivat pranan shrinoti hinastiiti arshah’</i></b></p>
     <p> which means -Arsha is a condition that tortures a person’s vital body force like an enemy.<sup>10</sup>  Arsha is a disease condition in which a fleshy mass of different shape, size and colour is formed in the anus. In Ayurveda, piles has been categorized as a type of Ashta Mahagada, which refers to diseases that are caused due to hypofunction of digestive enzymes that may lead to constipation. </p>
   </div>
   
     <h3>What causes piles? (Nidana/ Hetu)<sup>2</sup></h3>
     <p>Piles occurs when the digestive fire (Agni) becomes abnormal or gets reduced, owing to improper diet and lifestyle. Disturbances in the digestive fire (jatharagni) impairs the balance of tridosha (Vata, Pitta and kapha), mainly Vata Dosha, and leads to the development of piles in the guda region (place for accommodation and elimination of the faeces).  </p>
     <p>Let us see some of the dietary and lifestyle factors that contribute to piles: </p>
     <h3 class="dysfunctions">Diet factors- Ahara Nidana </h3> 
    
     <ul class="dysfunctions">
       <li>1. Having heavy food (guru), cold food (sheeta), kapha aggravating food (Abhishyandi), acidic (vidahi) and sweet food (madhur)</li>
       <li>2. Excess intake of black gram (masha/ Urad ), dry meat (ruksha mamsa), sugarcane juice (ikshu ras) oil cakes, germinated corns & pulses, freshly harvested crops & cereals (Navanna)</li>
     </ul>
     <p>All these foods do not contain fibre and may cause constipation, which in turn leads to the protrusion of piles. </p>
     <h3 class="dysfunctions">Lifestyle factors- Vihara Nidana<sup>2</sup> </h3>
     <ul class="dysfunctions" id="Kapha">
       <li>1.Sleeing during the day (Diwaswapna)</li>
       <li>2.Lack of exercise (Avayayam)</li>
       <li>3.Suppression of the natural urges to defecate (Vegavarodha)</li>
       <li>4.Excessive purgation (Ati virechana)</li>
     </ul>
     <p>These lifestyle factors lead to the dosha imbalances which cause piles. </p>
   
     <div class="diabetes">
      <h3>Classification of piles in Ayurveda </h3>
      <h3 class="dysfunctions">On the basis of effected dosha , it is classified into  six types:<sup>3</sup> </h3>
      <ul class="dysfunctions">
        <li><span class="hbold">Vataja-</span> caused due to the actions of deranged vayu dosha </li>
        <li><span class="hbold">Pittaja– </span> caused due to actions of deranged pitta dosha </li>
        <li><span class="hbold">Kaphaja-</span>caused due to actions of deranged kapha dosha</li>
        <li><span class="hbold">Raktaja-</span> caused due to vitated blood </li>
        <li><span class="hbold">	Sannipataja-</span> caused due to deranged vayu, pitta and kapha dosha all together</li>
        <li><span class="hbold">	Sahaja-</span> present since birth </li>
      </ul>
      <p>On the basis of origin, piles is classified into two types:<sup>4,5</sup></p>
      <ul class="dysfunctions">
        <li>1. Hereditary(Sahaja): This type of piles runs in families</li>
        <li>2. Acquired(Janmottarakalaja): This type of piles may occur due to improper diet and lifestyle</li>
      </ul>
      <p>On the basis of the character of bleeding, piles can be classified into two types:<sup>5</sup></p>
      <ul class="dysfunctions">
        <li>1. Bleeding piles (Stravi Arsha): Occurs due to impairment of Rakta(blood) , Vata and Pitta Dosha </li>
        <li>2. Non-bleeding piles (Shushka Arsha): Occurs due to impairment of Vata and Kapha Dosha </li>
      </ul>
      <p>On the basis of the site, piles can be classified into two types:<sup>5</sup></p>
      <ul class="dysfunctions">
        <li>1. Internal piles (Bahya)</li>
        <li>2. External piles (Abhyantara)</li>
      </ul>
     </div>

     <h3 class="dysfunctions">What piles does to your body (Samprapti)?<sup>4</sup> </h3>
     <p>The causes, or nidanas as mentioned above, lead to derangements in the digestive fire (jatharagni) which leads to tridosha imbalances, especially vata dosha. These affected doshas gets localised in the anal region (Gudavali) and blood vessels (Dhamani), and cause a disturbance in the digestive system (annavaha srotas dushti) which further affects the skin (Twak),
        muscles (Mansa) and fat (Meda) tissues. The derangements in these three dhatus (body tissues) leads to the formation of lumps which is known as piles. </p>
      <h3 class="dysfunctions">The signs to look out for (Rupa)</h3>
      <p>The following are the common symptoms of piles:<sup>6</sup></p>
        <ul class="dysfunctions">
       <li>1. Bright-red, painless bleeding</li>
       <li>2. Mucus discharge</li>
       <li>3. Prolapse</li>
       <li>4. Pain only on prolapse</li>
     </ul>
     <h3 class="dysfunctions">Complications of piles (Upadrava)<sup>2</sup></h3>
     <p>The following are the complications of piles:</p>
     <ul class="dysfunctions">
       <li>1. Anaemia (Pandu): It is rare, but excess blood loss from bleeding piles may lead to anemia. </li>
       <li>2. Thrombosed strangulated piles: Sometimes, a clot may form in the hemorrhoids which may further cut off the blood supply to the hemorrhoid. This causes intense pain. </li>
       </ul>
     <h3 class="dysfunctions" id="Identified">Diagnosis of piles:</h3>
     <p>Piles is diagnosed by doing the anal examination (Guda Pariksha). There are three methods involved in clinical examination, i.e, Inspection (darshanam), Palpation (sparshanam) and Interrogation (prashna).</p>
     <ul class="dysfunctions">
       <li><span class="hbbold" >1. Inspection (Darshanam):</span> Visual inspection of the anorectal region helps in detecting the presence  of an advanced case of I and II degree can only be diagnosed. The presence of internal haemorrhoids and thrombotic piles masses may also be diagnosed. </li>
       <li><span class="hbbold" >2.Palpation (Sparshanam):</span> Palpation helps in detecting the piles which are not evident on visual inspection. </li>
       <li><span class="hbbold" >3.Interrogation (Prashna):</span> It is important to get information from the person about the symptoms, type of pain and lifestyle habits. The pain described by the patient helps to determine the exact </li>
     </ul>
     <p>cause of anorectal pain. E.g.  throbbing pain in the anorectal region indicates abscess formation, whereas severe intermittent pain indicates a fissure. The rapid onset of severe pain confirms the thrombotic piles.</p>

       <p>Some diagnostic tests for piles:<sup>2</sup></p>
       <ul class="dysfunctions">
         <li>1.Proctoscopy</li>
         <li>2.Sigmoidoscopy</li>
         <li>3.Colonoscopy</li>
         <li>4.Barium enema</li>
       </ul>

     <div class="">
        <h3>Cure piles with Ayurveda  </h3>
        <p>Ayurveda helps the person to improve their overall health and lead a healthy life. Treatment for Arsha in Ayurveda has been classified into: </p>
        <ul class="dysfunctions">
            <li>1. Drug therapy (Bheshaja Karma)</li>
            <li>2. Surgical therapy (Shastra Karma)</li>
            <li>3. Chemical cauterization (Kshara Karma)</li>
            <li>4. Cauterization (Agni Karma)</li>
          </ul>

          <h3 class="dysfunctions">Drug therapy (Bheshaja Karma):<sup>5</sup> </h3>
          <p>The mild form of piles can be cured by medicines alone, and does not need any surgical treatment. For treating piles, drug therapy can be administered in different ways, such as:</p>
          <p> Oral medicines: The internal medicines are present in different forms:</p>
          <ul class="dysfunctions">
            <li>1. Rasaushadhi- Arsha-Kuthara, Nityodit Ras and Chakrakuthar Ras</li>
            <li>2. Choorna- Lavannothamandi Choorna, Nyagrodhradi Choorna, Kesar Choorna and Samangadi choorna</li>
            <li>3. Asava/Arists- Abhyarishta, Dantyarishta, Duralabharishta and Drakshasava</li>
            <li>4. Gud/Vatika- Suran Putpaka, Bahusala Gud and Kankayangutika </li>
          </ul>
          <p>Topical medicines: Ayurvedic preparations are used for Panchakarma therapies, which help in reducing the pain of piles (Arsha)</p>
          <ul class="dysfunctions">
            <li>1. Oil massage with oils containing Chitraka, Yvaksharabilwa etc.</li>
            <li>2. Steam therapy (Swedan) with  Rasoonpinda, Vijyapinda etc.</li>
            <li>3. Immersion therapy (Avagahan) with Arka, Kanji, Triphla, Agnimanth etc.</li>
            <li>4. Rectal enema using yastimadhu Taila, Chitrakadi Tailabasti, Kasissadi Tailabasti</li>
            <li>5. Fumigation therapy (Dhooma) along with Devdaru, Ghee, Pippali, Vidanga etc.</li>
            <li>6. Pastes (Lepa) for local application like Pippalyadipralepa, Haridrachurnapralepa, Snuhiksheer Mixed Hardidra Churnalepa</li>
          </ul>
          <h3 class="dysfunctions">Surgical therapy (Shastra Karma):<sup>8</sup> </h3>
          <p>The surgical approach is used to treat piles. The most common surgical method used to treat piles is kshara sutra ligation (surgical ligation).</p>
          <p>Kshara sutra ligation- It is a para-surgical method in which a herbal thread that is coated with Snuhi Latex (Euphortia Neriifolia), Apamarga Kshara (Achyranthes Aspera) and Haridra Churna (turmeric powder) is used. This medicated herbal thread is placed around internal and external piles, and within 5-7 days the piles mass gets removed. This is the most effective method to treat piles, with a cure rate of 97%.</p>
          <div class="col-12 col-sm-12 col-md-10 col-lg-10 mx-auto">
            <div class="carbohydrate-border">
              <h3 class="dysfunctions">What are the benefits of Kshara sutra?<sup>8</sup></h3>
              <ul class="dysfunctions">
                <li>1. It is a simple and safe treatment</li>
                <li>2. It has no complications</li>
                <li>3. Chances of recurrence are minimal</li>
                <li>4. Patients of all age can take this treatment</li>
                <li>5. Patients do not require any antibiotics</li>
                <li>6. It is day care surgery</li>
                <li>7. It is an affordable treatment</li>
                <li>8. This treatment can also be given to cardiac patient</li>
              </ul>
            </div>
          </div>
          <h3 class="dysfunctions">Chemical cauterization (Kshara Karma):</h3>
          <p>It is a potential cauterization method to treat piles. Kshara,  such as Apamarg kashara, Snuhi kashara, are caustic chemicals, which are alkaline in nature and obtained from ashes of medicinal plants. These agents are applied to the piles, which makes the walls of the bulging vein collapse, and contracts the pile mass. It is a flexible method that can be used in places, to treat piles that is difficult to be approached by other methods.</p>
          <h3 class="dysfunctions">Cauterization (Agni Karma):</h3>
          <p>It is a method used when the condition cannot be cured by medicines or other methods. There are many different cauterization methods that are effective in treating piles. The treatment can be done by using laser surgery, cryosurgery, electrocautery or infrared radiation.</p>
       
     </div>
        <div class="">
          <h3>Keep piles at bay with a few changes in your diet (Ahara)<sup>8</sup> </h3>
              <p>Diet plays an important role in the prevention of piles, as piles occurs due to an impairment of the digestive function (Agni). To maintain the proper digestive function of the body, a high fiber diet should be taken. The diet must include:</p>
              <div class="clear"></div>
              <ul class="dysfunctions">
                <li>1. Leafy vegetables</li>
                <li>2. milk</li>
                <li>3. Mutton soup </li>
                <li>4. Pomegranate</li>
                <li>5. Butter milk (takra)</li>
                <li>6. Wheat</li>
                <li>7. Ghee </li>
                <li>8. Shali variety of rice</li>
                <li>9. Ridge gourd (patola)</li>

              </ul>
          </div>
          <div class="row">
            <h3>Make piles vanish with a few yoga poses <sup>9</sup></h3>
            <p>Certain yoga poses helps in removing body toxins and makes the body active. Yoga can be very helpful in reducing the pain due to piles. The recommended  yoga asanas for managing piles are:</p>
            <ul class="dysfunctions">
              <li>1.Vajrasana </li>
              <li>2.Matsyasana </li>
              <li>3.Halasana </li>
              <li>4.Sarvangasana </li>
              <li>5.Bhujangasana </li>
              <li>6.Paschimottasana</li>
            </ul>
          </div>
          <div class="">
            <h3>Prevention is better than cure</h3>
            <h3 class="dysfunctions">Pathya (Dos)<sup>8</sup></h3>
            <p>According to Ayurveda, the basic preventive measure for a disease condition is to avoid the causative factors. The preventive measures for piles include:</p>
            <ul class="dysfunctions">
              <li>1. Prevention of constipation: Constipation can be prevented by using laxatives like Triphala Churna, Panchasakar Churna, Haritaki Churna and Abhayaarista</li>
              <li>2. Improve digestion (Deepan Pachan): Improve digestion by taking ayurvedic preparations, such as Chitrakadi Vati, Lavan Baskar and Agnitundi Vati</li>
              <li>3. Increased abdominal pressure: Avoid straining during defecation</li>
              <li>4. Dietary intake: Increase the intake of food with a high fibre content to improve the digestion</li>
              <li>5. Increase fluid intake: Drink enough fluids to improve the digestion and defecation functions of the body.</li>
            </ul>
            <p>Now that you know what all has to be done to manage piles, let’s also have a look at what should be avoided to manage piles</p>
            <h3 class="dysfunctions">Things to be avoided in piles (Apathya):<sup>8</sup></h3>
            <p>In Diet: </p>
            <ul class="dysfunctions">
              <li>1. Spices</li>
              <li>2. Chillies</li>
              <li>3. Fried food</li>
              <li>4. Food prepared by maida (White flour)</li>
              <li>5. Food prepared by rice</li>
              <li>6. Non-vegetarian foods</li>
              <li>7. Curd</li>
              <li>8. Paneer</li>
              <li>9. Oilcakes (pinyaka)</li>
              <li>10. Sesame (seed of tila)</li>
              <li>11. Black bean (Masha/urad)</li>
            </ul>
            <p>Habits to be avoided:</p>
            <ul class="dysfunctions">
              <li>1. Straining during defecation</li>
              <li>2. Constant sitting on a hard surface</li>
              <li>3. Prolonged constipation</li>
              <li>4. Suppressing the urge of urination or defecation</li>
              <li>5. Lifting heavy weights</li>
              <li>6. Sitting or standing for a long duration</li>
            </ul>
            <p>Ayurveda follows a holistic approach in the treatment of piles. Not only does it help to remove piles, but it also eliminates the pathophysiological process of piles from the grass root level. </p>
            <!-- <h3 class="dysfunctions">Signs of Jaundice complicated with Diarrhoea (Panaki)</h3>
            <p>This type of jaundice is manifested in the form of:</p>
            <ul class="dysfunctions">
              <li>1 Pyrexia (Santapa)</li>
              <li>2. Yellowish discolouration of the external and internal body parts (Vahirantasca Pitta)</li>
              <li>3. Loose motions (Bhinnavarcasa)</li>
              <li>4. Pale eyes (Pandunetra)</li>  
            </ul> -->
           
            <h3 class="dysfunctions">Symptoms of Jaundice with Ascites (Kumbhakamala)</h3>
            <p>People with Ascites associated jaundice shows the following symptoms:</p>
            <div class="clear10"></div>
            <ul class="dysfunctions">
              <li>1. Oedema in the joints (Sopha)</li>
              <li>2. Joints pain (Parva-bheda)</li>
            </ul>
          </div>         
                  <div class="reference">
                      <h3>References:</h3>
                      <ul>
                        <li>1.National Health Portal .Haemorrhoids. (Online). (Cited on: 9/10/2018). Available from : https://www.nhp.gov.in/haemorrhoids_mtl. 
                         </li>
                        <li>2. Patil S, Gandagi N. Correlation of Arsha with Piles. IAMJ. Aug 2015; 3(8): 2515-2522 </li>
                        <li>3. Bhishagratna, K. L. An English translation of the Sushruta samhita: Based on original Sanskrit text, with a full and comprehensive introduction, additional texts, different readings, notes, comparative views, index, glossary and plates. (1963). [2nd ed.]. (Volume 1). Varanasi: Chowkhamba Sanskrit Series Office.</li>
                        <li>4. P.V Sharma. Chapter XIV- On Treatment of Piles. In: Caraka Samhita. 4th edition.1998. Chaukhamba Orientalia.</li>
                        <li>5. Devi H. Role of Ayurveda in the management of Arsha (Haemorrhoids) – A review. Int J Ayu Pharm Chem. 2017. 7(2) </li>
                        <li>6. Williams, N. (Ed.), O'Connell, P. (Ed.), McCaskie, A. (Ed.). (2018). Bailey & Love's Short Practice of Surgery, 27th Edition. Boca Raton: CRC Press. Chapter 74, The anus and the anal canal; 1339-1373</li>
                        <li>7. National Health Portal. Arsha (Piles). (Online). (Cited on 14/09/2018). Available from: https://www.nhp.gov.in/arsha-piles-_mtl. </li>
                        <li>8. Mishra N, Sharma HP. Hemorrhoids–(Arsha): A comprehensive review on its causes and treatment. Unique Journal of Ayurvedic and Herbal Medicines. Nov-Dec 2013; 1(3): 31-33</li>
                        <li>9. Mulla A, Chavan SG, Prashanth AS. Role of Yogasana in ArshoRoga. JAIMS. July - Aug 2016; 1(3): 31-37</li>
                        </ul>
                  </div>    
            </div>
    </div>
</section>
<div class="mb-5 mt-5">
  <app-main-footer></app-main-footer>
</div>