<app-navigation></app-navigation>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 home-top">
        <app-floating></app-floating>
</div>
<div class="clear"></div>
<div class="container">
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <p class="blurtxt txtcenter">HYPERTENSION</p>
          <div class="clear20"></div>
          <p class="txt1 txtcenter">Top 7 Everyday Habits To Adopt for 
              Managing High Blood Pressure  </p>
              <div class="clear10"></div>
              <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
              <div class="clear20"></div>
              <p class="topptxt txtcenter">You go for a regular health check-up and find that your blood pressure seems to be out of control even though you did not have any symptoms. This is a pretty common scenario. But, diseases such as hypertension and diabetes are often insidious, and they start showing only when they become complicated.  </p>
              <div class="clear40"></div>
              <div class="row m-0">
                <div class="col-6 col-am-6 col-md-6 col-lg-6 borderright">
                  <p class="byUStxt">By U.S. News Staff</p>
                </div>
                <div class="col-6 col-am-6 col-md-6 col-lg-6">
                     <label class="byUStxt">Jan 03, 2018 at 7:45 pm</label>
                  </div>
              </div>
              <div class="clear40"></div>
              <p class="paratxt3 txtcenter">Check out the best ways to manage high blood pressure:</p>
              <div class="clear40"></div>
              <p class="paratxt1 txtcenter">1.Daily exercise:</p>
              <p class="paratxt3 txtcenter"> 
                Did you know that spending 30 minutes daily on exercise can decrease your blood pressure by 5-8mmHg? So, are you rushing to take a gym membership already? Actually, it is not necessary, any activity which makes your heart beat faster or make you breathe harder is good enough. However, before starting any exercise regime consult your doctor.</p>
              <p class="paratxt1 txtcenter">2.The DASH diet:</p>
              <p class="paratxt3 txtcenter">
                   
DASH refers to the Dietary Approaches To Stop Hypertension. A group of leading clinicians and the nutritionists from all over the world devised a diet plan to manage hypertension in the early 1990s. This diet, if followed judiciously, can show a reduction in the blood pressure in just two weeks. 
According to this diet plan, one should have:
</p>
            <ul>
                <li>
                    5 servings of vegetables: Veggies rich in vitamins and minerals such as green      
                    leafy vegetables, tomatoes, carrots, sweet potatoes etc. 
                </li>
                <li>  5 servings of fruits:  Fruits that have a low glycemic index such as pears, apples,  
                    oranges, grapefruits, plums, strawberries and grapes are a great option. </li>
                <li>
                    7 servings of carbohydrates: Broken wheat, oats, millets are healthier carb op  
                    tions for people with hypertension. You can have cereal, rice or pasta. 
                </li>
                <li>
                    2 servings of low fat dairy: Try to get low fat milk, yogurt, cheese 
                </li>
                <li>
                    2 servings of lean meat per day: Among low fat lean meats, prefer having heart
                    healthy meats such as salmon and tuna fishes. 
                </li>
                <li>
                    4-5 servings of nuts per week: Almonds, kidney beans, lentil and peas are great         
                    sources of proteins, minerals and phytochemicals. 
         So now you know, what to have in your grocery shopping list.
                </li>
            </ul>
           
              <p class="paratxt1 txtcenter">3. Ditch restaurants and store-bought foods:</p>
              <p class="paratxt3 txtcenter"> 
                Restaurant foods and processed foods have high levels of sodium, which can increase the blood pressure. High sodium foods include- pizzas, sandwiches, chips, canned and pickled vegetables, cheeses, and soups. Therefore, try to have homemade foods as much as possible.</p>
                

              <p class="paratxt1 txtcenter">4. Stay away from alcohol:</p>
              <p class="paratxt3 txtcenter">
                Alcohol, in excess, is really bad for your health. Heavy drinking not only spikes up your blood pressure but also is bad for your weight as alcohol is high in calories.  However, having one drink a day for women and around 2 drinks per day for men is considered moderate drinking and can actually be beneficial to the heart. (One drink is 12 ounces of beer, or five ounces of wine).</p>
            
              <p class="paratxt1 txtcenter">
                5. Quit smoking:</p>
              <p class="paratxt3 txtcenter">
                When you smoke, your blood pressure increases, it remains high for minutes even after you have stopped smoking. Nicotine, a byproduct of tobacco smoke, not only increases your blood pressure but also damage the internal lining of the blood vessel wall, that increases the chances of having many complications such as heart attack and stroke.</p>
              
              <p class="paratxt1 txtcenter"> 6. Think before taking an over-the-counter medication:</p>
              <p class="paratxt3 txtcenter"> 
                Many common day to day drugs such as decongestants (phenylephrine, pseudoephedrine), painkiller (aspirin, ibuprofen, naproxen), corticosteroids and oral contraceptives can all raise you blood pressure. Also, some natural herbs can also raise your blood pressure.</p>
               
              <p class="paratxt1 txtcenter">7. Get yourself a BP monitor:</p>
              <p class="paratxt3 txtcenter"> 
                Blood pressure monitors are widely available and keeping a track of your blood pressure helps to find out how your lifestyle measures are influencing your blood pressure. Moreover, your medication dose can also be modified if you seem to have a better control of our blood pressure.</p>
                
              <p class="paratxt3 txtcenter">A healthy diet and exercise is the key to controlling high blood pressure. Also, staying away from eating junk, smoking, and alcohol equally counts. Keep a track of your blood pressure and also maintain a daily diary where you note down what you ate, your medications, and your blood pressure readings. This diary would also be useful for your doctor to plan out treatment which would be most useful for you. 
</p>
              
                          <div class="clear40"></div>
                          <hr/>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 topreads">
            <p class="txt1 txtcenter">Top Reads </p>
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 txtcenter">
                <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
            </div>
            <div class="clear20"></div>
        </div>
        <div class="row m-0">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
            <img src="././assets/images/b-food.png">
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <label class="diseasestxt">Digestive Health</label>
            </div>
            <label class="diseasestxt2">14 best & worst foods for your ...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/safron.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">SKIN</label>
              </div>
              <label class="diseasestxt2">Saffron for good health..</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
        </div>
        <div class="clear20"></div>
        <div class="row m-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/b-food.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">Digestive Health</label>
              </div>
              <label class="diseasestxt2">14 best & worst foods for your ...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
                <img src="././assets/images/safron.png">
                <div class="clear10"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <label class="diseasestxt">SKIN</label>
                </div>
                <label class="diseasestxt2">Saffron for good health..</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                    <button class="btn read_morenew">READ MORE</button>
                </div>
              </div>
          </div>
          <div class="clear40"></div>
          <hr/>
      </div>
  </div>
  <div class="clear40"></div>
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <label class="txt1">Related Articles</label>
          <div class="clear10"></div>
          <img class="img-fluid iwidth" src="././assets/images/big_border.png">
          <div class="clear20"></div>
      </div>
      <div class="clear40"></div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
          <img src="././assets/images/awellness.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <label class="diseasestxt">wellness</label>
          </div>
          <label class="diseasestxt2">Low calorie diet
              to lose weight...</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
              <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
            <img src="././assets/images/asuryanamaskar.png">
            <div class="clear10"></div>
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 text-center">
                <label class="diseasestxt">healthy food</label>
            </div>
            <label class="diseasestxt2">Food & Activity
                Journal for...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
              <img src="././assets/images/plane.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">kids & teens</label>
              </div>
              <label class="diseasestxt2">Young overweight 
                  & Obesity in...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
  </div>
  <div class="clear70"></div>
</div>
