<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control InputBox visibility" #testD value="{{Date_Of_Birth}}" placeholder="Date of Birth" (ngModelChange)="sendDate(testD.value)"
             name="dp" [(ngModel)]="model"  ngbDatepicker #d="ngbDatepicker">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d.toggle(); "  type="button"></button>
      </div>
    </div>
  </div>
</form>

<!-- <hr/> -->
<!-- <pre>Model: {{ model | json }}</pre> -->