.img{
    height: 200px;
}
/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}
.SpinnerImg {
    float: left;
    margin-right: 10px;
    margin-top: 6px;
}

.SpinnerImg2 {
    margin-top: 0px;
    margin-left: 10px;
}
.SpinnerImg3 {
    margin-right: 24px;
}
.Spinner {
    width: 46%;
    /* float: left; */
    right: 23px;
    position: absolute;
}

.SpinnerInput {
    width: 70px;
    height: 30px;
    float: left;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}
.imgstyle{
    cursor: pointer;
}
.pimg{
    width: auto;
    height: 140px;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}

/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}
.carousel-inner {
    padding: 10px;
}
.image-center {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-hover:hover .image {
  opacity: 0.3;
}

.image-hover:hover .centered {
font-size:18px;
color:red; 
 opacity: 1;
}
.input-spinner{
    width: 65px;
    text-align: center;
    font-family: PlayfairDisplay-Regular;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: 1.2px;
    color: #1d1d1b; 
    vertical-align: middle;
  }
  .SignBtn, .SignBtn:active, .SignBtn:hover, .SignBtn:focus {
    font-family: 'TrajanPro-Bold';
    background-color: #cfa15a !important;
    border: 0px;
    box-shadow: 0px 0px 15px #ccc;
    margin: 0 auto;
    width: 297px;
    height: 63px;
    font-size: 15px;
    font-weight: bold;
    color: #402909 !important;
    outline: 1px solid #c29a5d;
    outline-offset: -11px;
    border-radius: 10px;
    -moz-outline-radius: 10px;
}
.custom_card {
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: relative;
    display: block;
    padding: 20px;
}
h4.card-title {
    font-family: 'TrajanPro-Bold';
    font-size: 18px;
    font-weight: bold;
    min-height: 46px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    /* text-align: left; */
    color: #333333;
}
p.card-text {
    font-family: 'PlayfairDisplay-Regular';
    font-size: 14px;
    font-weight: normal;
    min-height: 38px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    color: #402909; 
    margin-bottom: 0px;
}
.product_info h4 {
    font-family: 'PlayfairDisplay-Regular';
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: center;
    color: #333333;
} 
.product_img{
    margin-top: 9px; 
    text-align: left;
}
.carousel-control-prev {
    left: -15px;
    width: 20px !important;
}
.carousel-control-next {
    right: -15px;
    width: 20px !important;
}
.custom_card{position: relative;overflow: hidden;}
.custom_card span {
    position: absolute;
    top: 5px;
    left: -26px;
    background: #402909;
    color: #ffffff;
    padding: 6px;
    transform: rotate(-42deg);
    overflow: hidden;
    width: 108px;
    font-family: 'PlayfairDisplay-Regular';
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}
.rmposition{
    position: absolute;
    bottom: 0;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /*/ IE10 + CSS styles go here /*/

   
}

@media screen and (min-width: 1600px) and (max-width: 2400px) {
}

@media screen and (min-width: 1px) and (max-width: 1200px) {
}

@media screen and (min-width: 1px) and (max-width: 1060px) {
   
}

@media screen and (min-width:768px) and (max-width: 992px) {
    .input-spinner {
        width: 50px;
        vertical-align: middle;
    }
    .custom_card {
        position: relative;
        min-height: 595px;
        overflow: hidden;
    }
}

@media screen and (min-width: 1px) and (max-width: 768px) {
    .cp{
        margin-top: 100px;
    }
    .cn{
        margin-top: 100px;
    }

    .mrgnt15{
        margin-top: 15px;
    }
    
}

@media screen and (min-width: 1px) and (max-width: 480px) {
    .input-spinner {
        width: 30px;
    }
    .product_info h4 {
        font-size: 18px;
    }
}

@media screen and (min-width: 1px) and (max-width: 420px) {
}

@media screen and (min-width: 1px) and (max-width: 380px) {
}