<app-patient-navigation></app-patient-navigation>
<div class="container pt-5"> 
  <div class="clear20"></div> 
  <div class="clear20"></div>
    <div id="accordion">
      <div class="card">
        <div class="card-header CashBgColor" >
          <a class="card-link" data-toggle="collapse"> 
            <img  class="mr-2" *ngIf="ImgDiv" src="././assets/images/tick.png">
              1. My Order
              <img (click)="openCity(0)" *ngIf="ImgDiv" class="float-right pr-2" src="././assets/images/Cart_Edit.png">
          </a>
        </div>
        <div id="collapseOne"  class="collapse  {{accordance[0].show}}"  data-parent="#accordion">
          <div class="card-body">
             
             
                  <div>
                    <div class="appon_card product_card">
                      <div class="row p-2 HeadingPaddingLeft ResFlexCol">
                        <div class="col-lg-6">
                          <p class="order-head">Product Name</p>
        
                        </div>
        
                        <div class="col-lg-4">
                          <p class="order-head2">Quantity</p>
        
                        </div>
        
                        <div class="col-lg-2">
                          <p class="order-head2">Price</p>
        
                        </div>
                      </div>
                      <div class="clear"></div>
                      <div *ngFor="let data of productBeanList" class="row  pl-5 p-2 ShoppingCardBGRow mt-0 ResFlexCol">
                        <div class="col-lg-6 col-12">
        
                          <div class="row DisplayFlex">
                            <div class="col-12 col-lg-3">
                              <img  class="img-fluid imgr" src="{{data.imageUrl}}" style="width:100%">
                            </div>
        
                            <div class="col-12 col-lg-6">
                              <p class="ZanduSonaChandiText">{{data.productName}}</p>
                            </div>
        
                          </div>
                        </div>
        
                        <div class="col-12 col-lg-4">
        
                          <div class="order-margin-top2">
                            <ng-container *ngIf="data.qty==0">
                                <i class="fa"><img src="././assets/images/SpinnerMinus.png"></i>
                            </ng-container>
                            
                            <i *ngIf="data.qty>0" class="fa" (click)="data.qty=data.qty-1; add(data.qty, data.productId)"><img src="././assets/images/SpinnerMinus.png"></i>&nbsp;
                            <input [(ngModel)]="data.qty" class="input-spinner">&nbsp;
                            <i class="fa" (click)="data.qty=+data.qty+1; add(data.qty, data.productId)"><img src="././assets/images/SpinnerPluse.png"></i>
                          </div>
                        </div>
        
                        <div class="col-md-2">
        
                          <div class="order-margin-top2">
                            <strong><b class="rupeesText">&#X20B9; {{data.sellingPrice}} </b></strong>
                             &nbsp;&nbsp;&nbsp; &nbsp;
                             <strong><b class="rupeesText"> <i class="fa fa clear" (click)="deleteFieldValue(data.qty,data.productId,i)" title="Remove"><img src="././assets/images/closeIconOrange.png"></i> </b></strong>&nbsp;
                 
                          </div>
                        </div>
                      </div>
                     
        
                      <div class="row m-0 ResFlexCol">
                        <div  class="col-12 col-lg-4 text-center">
                          <div class="clear10"></div>
                          <select *ngIf="dropFlag" (change)="product($event.target.value)" class="form-control">
                              <option selected disabled>Add more Products</option>
                              <option  *ngFor="let data of getProduct">{{data.name}}</option>
                              
                            </select>
                          </div>
                            <div class="col-12 col-lg-4">
                              <div class="clear10"></div>
                              <span  *ngIf="productFlag">
                                <select (change)="productSelect($event.target.value)"  class="form-control float-right product">
                                  <option selected  >Select Products</option>
                                  <option  *ngFor="let item of products">{{item.name}}</option>
                                </select>
                              </span>  
                      </div>
                      <div class="col-12 col-lg-4 ">
                        <div class="row">
                          <div class="col-6 col-md-6">
                              <div *ngIf="productFlag1" class="order-margin-top2">
                                  <ng-container *ngIf="qty==0">
                                      <i class="fa"><img src="././assets/images/SpinnerMinus.png"></i>
                                  </ng-container>
                                <i class="fa" (click)="qty=qty-1"><img *ngIf="qty>0" src="././assets/images/SpinnerMinus.png"></i>&nbsp;
                                <input [(ngModel)]="qty" class="input-spinner">&nbsp;
                                <i class="fa" (click)="qty=qty+1"><img src="././assets/images/SpinnerPluse.png"></i>
                              
                              </div>
                          </div>
                          <div  *ngIf="productFlag1"  class="col-6 col-md-6 text-center">
                            <div class="clear20"></div>
                              <button type="button" class="btn-size addButton" (click)="addProduct()">Add</button>
                            </div>
                        </div>
                         
                       
                      </div>
                      </div>
                      <div class="clear20"></div>
                      <div class="product_footer pl-5 pb-1 mb-3">
                        <p (click)="openDrop()" class="AddMoreProductText"> <img src="././assets/images/SpinnerPluse.png">
                          &nbsp;&nbsp; Add more Products</p>
                      </div>
                    </div>
        
        
        
        
                    <div class="appon_card2 price_card">
                      <div class="inner_Div rounded bg-white shadow-sm RightCardPadding">
                        <p class="order-head">Price Detail</p>
                        <div class="clear10"></div>
                        <div class="row">
                          <div class="col-md-8 col-6 mt-2">
                            <p class="Subtotal">Subtotal</p> 
                          </div>
                          <div class="col-md-4 col-6">
                            <strong class="Subtotal"><b>&#X20B9; {{total1}} </b></strong>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-8 col-6 mt-2">
                            <p class="Subtotal">Shipping Charges</p> 
                          </div>
                          <div class="col-md-4 col-6">
                            <strong class="Subtotal"><b>&#X20B9; {{total_shipping_charges}} </b></strong>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-8 col-6 mt-2">
                            <p class="Subtotal">Discount</p> 
                          </div>
                          <div class="col-md-4 col-6">
                            <strong class="Subtotal"><b>&#X20B9; {{discount}} </b></strong>
                          </div>
                        </div>
        
                        <div class="row">
                          <div class="col-md-7">
                            <input type="text" class="form-control searchbg2" placeholder="Apply Coupon Code">
                          </div>
                          <div class="col-md-5" class="btn-apply">
                            <button type="button" class="btn btn-success btn-size">Apply</button>
                          </div>
                        </div>
        
                       
                        <div class="row">
                          <div class="col-md-8 col-6 bg-whitesmoke">
                            <p class="amount-payable-heading">Amount payable</p>
                          </div>
        
                          <div class="col-md-4 col-6 bg-linen">
                            <p class="amount-payable"><strong>&#X20B9; {{total1}}</strong></p>
                          </div>
                        </div>
                      </div>
        
                      <button type="button" class="btn btn-success UpdateBtn proceedbtn mt-4" (click)="openCity(2)">Proceed</button>
                    </div>
        
                  </div>
             
          
          </div>
        </div>
      </div>
 
      <!-- <div class="card">
        <div class="card-header {{headerBG2}}" >
          <a class="collapsed card-link" data-toggle="collapse"> 
              <img  class="mr-2" *ngIf="ImgDiv2" src="././assets/images/tick.png">
              2. Login or Sign Up 
              <img (click)="openCity(1)"  *ngIf="ImgDiv2" class="float-right pr-2" src="././assets/images/Cart_Edit.png">
        </a>
        </div>
        <div id="collapseTwo" class="collapse {{accordance[1].show}}"  data-parent="#accordion">
          <div class="card-body">
           
              <div class="appon_card payment_card p-4 center">
                  <div class="row">
                    <div class="col-12 col-lg-6 borderright">
                      <p class="ChooseOption">Choose your Option</p>
                      <p class="ChooseOption1">Register with us for fast checkout. to track the status of<br />
                        your order and more. You can also checkout as a guest user. </p>
                      <div class="form-check">
                        <p class="form-check-label rad-size" for="radio1">
                          <input type="radio" class="form-check-input {{btn[0]}} rad-btn" (click)="addBankingDetails(0)" id="radio1"
                            name="optradio" value="option1" checked> Login
                        </p>
                      </div>
      
                      <div class="form-check">
                        <p class="form-check-label rad-size" for="radio2">
                          <input type="radio" class="form-check-input {{btn[1]}} rad-btn" name="optradio" id="radio2" (click)="addBankingDetails(1)"
                            value="option2">Sign Up
                        </p>
                      </div>
                      <div class="form-check">
                        <p class="form-check-label rad-size" for="radio3">
                          <input type="radio" class="form-check-input {{btn[2]}} rad-btn" name="optradio" id="radio3" (click)="addBankingDetails(2)"
                            value="option3">Continue as a Guest
                        </p>
                      </div>
      
                    </div>
                    <div class="col-12 col-lg-6">
      
                      <div *ngIf="btn[0]=='active'">
                        <div class="card2 loginORsigninPad  my-3">
                          <form>
      
                            <div class="form-group">
      
                              <input type="email" class="form-control emailicon" id="email" placeholder="Email">
                            </div>
                            <div class="form-group">
      
                              <input type="password" class="form-control passwordicon" id="pwd" placeholder="Password">
                            </div>
                            <p class="forgetpass">Forgot password?</p>
                            <button _ngcontent-c1="" class="btn btn-success UpdateBtn proceedbtn mt-4" type="button">continue
                              as guest</button>
                          </form>
                          <div class="row">
                            <div class="col-md-12 mt-4"><a _ngcontent-c10="" class="ConnectWithText">
                                <img class="LineImg mr-2" src="././assets/images/line.png"> OR
                                <img class="LineImg ml-2" src="././assets/images/line.png"></a></div>
                          </div>
                          <div class="clear"></div>
                          <div class="SocialIconContentBox mt-4">
                            <div class="SocialIcon"><img src="././assets/images/facebook-logo.png"></div>
                            <div class="SocialIcon"><img src="././assets/images/google-plus.png"></div>
                            <div class="SocialIcon"><img src="././assets/images/linkedin.png"></div>
                          </div>
                        </div>
                      </div>
      
      
                      <div *ngIf="btn[1]=='active'">
                        <div class="card2 loginORsigninPad  my-3">
                          <form action="/action_page.php">
                            <div class="form-group">
      
                              <input type="text" class="form-control Usernameicon" id="user" placeholder="Username">
                            </div>
                            <div class="form-group">
      
                              <input type="email" class="form-control emailicon" id="email" placeholder="Email">
                            </div>
                            <div class="form-group">
      
                              <input type="password" class="form-control passwordicon" id="pwd" placeholder="Password">
                            </div>
      
                            <button _ngcontent-c1="" class="btn btn-success UpdateBtn proceedbtn mt-4" type="button">continue
                              as guest</button>
                          </form>
                          <div class="row">
                            <div class="col-md-12 mt-4"><a _ngcontent-c10="" class="ConnectWithText">
                                <img class="LineImg mr-2" src="././assets/images/line.png"> OR
                                <img class="LineImg ml-2" src="././assets/images/line.png"></a></div>
                          </div>
                          <div class="clear"></div>
                          <div class="SocialIconContentBox mt-4">
                            <div class="SocialIcon"><img src="././assets/images/facebook-logo.png"></div>
                            <div class="SocialIcon"><img src="././assets/images/google-plus.png"></div>
                            <div class="SocialIcon"><img src="././assets/images/linkedin.png"></div>
                          </div>
                        </div>
                      </div>
      
      
                      <div *ngIf="btn[2]=='active'">
                        <div class="card2 loginORsigninPad my-3">
                          <form action="/action_page.php">
                            <div class="form-group">
      
                              <input type="email" class="form-control emailicon" id="email" placeholder="Email">
                            </div>
                            <div class="form-group">
      
                              <input type="password" class="form-control passwordicon" id="pwd" placeholder="Phone Number">
                            </div>
      
      
                            <button _ngcontent-c1="" (click)="openCity(2)" class="btn btn-success UpdateBtn proceedbtn mt-4" type="button">continue
                              as guest</button>
                          </form>
                        </div>
                      </div>
                    </div>
      
      
      
                  </div>
      
      
                </div>
          
          
          </div>
        </div>
      </div> -->
      <div class="card">
        <div class="card-header {{headerBG3}}">
          <a class="collapsed card-link" data-toggle="collapse"> 
              <img  *ngIf="ImgDiv3"  class="mr-2" src="././assets/images/tick.png">
              2. Delivery Address
              <img (click)="openCity(2)" *ngIf="ImgDiv3" class="float-right pr-2" src="././assets/images/Cart_Edit.png">
          </a>
        </div>
        <div id="collapseThree" class="collapse {{accordance[2].show}}"  data-parent="#accordion">
          <div class="card-body">

            <form class="form-horizontal" [formGroup]="patientRegister">
              <div class="appon_card payment_card p-4 center">
                  <div class="rowDiliveryDiv">
                  <!-- Address -->
                    <div *ngFor="let data of addressBeanList" class="col-12 col-sm-12 col-md-4 col-lg-4 mb-3 DilivrySection1 bgcolorDiliveryScetion">
                      <div class="row">
                        <div class="col-2 col-sm-2 col-md-2 col-lg-3 text-right ResPadNone">
                        <input type="radio" formControlName='chkradio' (change)="selectAddress(data.addressId)" class="form-check-input diliverychekbox  rad-btn" id="radio4" name="optradio"
                            value="option4" required>
                            
                        </div>
                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 padlrn text-right ResPadNone" (click)="popup3(data.addressId)" data-toggle="modal"
                        data-target="#removeAddrConfirmationModal"><span class="clickable">Remove</span></div>
                        &nbsp; &nbsp; &nbsp;
                        <div class="col-4 col-sm-4 col-md-4  col-lg-3 text-right ResPadNone" (click)="popup4(data.addressId,data.name,data.addressLine1,data.addressLine2,data.state,data.city,data.location,data.pincode)" data-toggle="modal"
                        data-target="#editAddrConfirmationModal"><span class="clickable">Edit</span></div>
                      </div>
                      <div class="form-check">
                        <p class="form-check-label rad-size" for="radio4">
                          {{data.productName}}<br />
                          <span>{{data.location}}, {{data.addressLine1}}, {{data.addressLine2}},<br />
                            {{data.city}} - {{data.pincode}}, {{data.sate}}<br />
                            <span *ngIf="data.mobile!=null">Mobile - {{data.mobile}}</span>
                            <span *ngIf="data.mobile==null">Mobile - --</span>
                             </span>
                        </p>
                      </div>
                      <div class="clear20"></div>
                    </div>
                    <!-- Add new Address -->
                    <div class="col-12 col-lg-3 DilivrySection1 addnewaddDiv">
                      <div class="appon_card address_card p-4" *ngFor="let data of addMoreData">
                        <p>{{data.name}}</p>
                        <p>Address : {{data.address1}}, {{data.city}}, {{data.state}} - {{data.zipcode}}</p>
      
                      </div>
                      <div class=" address_card" >
                        <div class="tex-ali pt-5">
                          <img data-toggle="modal" (click)="popup();" src="././assets/images/AdressAdd.png">
                          <div class="clear20"></div>
                          <p>Add new address</p>
                        </div>
      
                      </div>
                    </div>
                  </div> 
                  <div class="clear"></div>
                  <!-- Delivery Button -->
                  <div class="DiliveryBtn">
                    <button type="button" [disabled]="!patientRegister.valid" (click)="openCity(3);" class="btn btn-success UpdateBtn proceedbtn mt-4">Proceed</button>
                  </div>
                </div>
            </form>
              
          </div>
        </div>
      </div>
    
      <div class="card">
          <div class="card-header {{headerBG4}}">
            <a class="collapsed card-link" data-toggle="collapse"> 
                <img class="mr-2" *ngIf="ImgDiv4" src="././assets/images/tick.png">
                3. Payment Option 
                <img (click)="openCity(3)" *ngIf="ImgDiv4" class="float-right pr-2" src="././assets/images/Cart_Edit.png">
            </a>
          </div>
          <div id="collapseFour" class="collapse {{accordance[3].show}}"  data-parent="#accordion">
            <div class="card-body">
                <div class="appon_card address_card CashPading" data-toggle="modal" (click)="openmodal();">
                    <div class="row m-0 CashRow">
                      <!--  *ngIf="ORDER_TYPE==1" -->
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 {{borderbg1}}" (click)="popup6()" data-toggle="modal"
                          data-target="#codModal">
                      
                       <div class="col-12 col-sm-12 col-md-12 col-lg-12 CashText text-center borderbg mrgnb15">
                        <div class="clear10"></div>
                        <img src="././assets/images/cod.png">
                        <div class="clear10"></div>
                        <p>Cash on Delivery</p>
                      </div>
                      </div>
                      <!-- *ngIf="ORDER_TYPE==2"  -->
                      

                          <div class="col-12 col-sm-6 col-md-4 col-lg-3 {{borderbg2}}" (click)="payment();popup5()" data-toggle="modal"
                          data-target="#onlinePaymentModal">

                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 CashText text-center borderbg mrgnb15">
                        <div class="clear10"></div>
                        <img src="././assets/images/onlinepayment.png">
                        <div class="clear10"></div>
                        <p>Online Payment</p>
                      </div>
                      </div>
                      <div class="clear"></div>
                    </div>
                    
                    <div class="clear"></div>
                  </div>
                  <!-- <div class="DiliveryBtn">
                      <button  class="btn btn-success UpdateBtn proceedbtn mt-4" type="button">Proceed</button>
                    </div> -->
          
            </div>
          </div>
        </div>
    </div>




</div>

 <!-- The Modal -->
 <div class="modal fade  {{custom3}}" id="removeAddrConfirmationModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Are you sure you want to remove this address?</h4>
          <button type="button" class="close" (click)="close3()">&times;</button>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="col-md-12  text-center">
            <button type="button" class="Addaddressbtn" (click)="removeAddress()">Yes</button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="popclose" data-dismiss="modal" (click)="close3()">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- The Modal -->
    <div class="modal fade  addAddressModal {{custom1}}" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Add New Address</h4>
              <button type="button" class="close" (click)="close()">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
              <div class="col-12 col-sm-12 col-lg-12 col-md-12">
                <form [formGroup]="addAddressForm">
                  <input type="text" formControlName="firstNameAdd" class="form-control" 
                    placeholder="First Name*">
                  <div class="clear10"></div>
                  <input type="text" formControlName="lastNameAdd" class="form-control" 
                    placeholder="Last Name*">
                  <div class="clear10"></div>
                  <input type="text" formControlName="addressLine1Add" class="form-control" 
                    placeholder="Address Line1*">
                  <div class="clear10"></div>
                  <input type="text" formControlName="addressLine2Add" class="form-control" 
                    placeholder="Address Line2">
                  <div class="clear10"></div>
                  <select (change)="onChangeState($event.target.value)" formControlName="stateAdd"
                    class="form-control select-style">
                    <option [selected]="state.storingValue" *ngFor="let state of editAddStateList"
                      [value]="state.storingValue">
                      {{state.storingValue}}
                    </option>
                  </select>
                  <div class="clear10"></div>
                  <select (change)="onChangeCity($event.target.value)" formControlName="cityAdd" class="form-control select-style">
                    <option [selected]="city.storingValue" *ngFor="let city of editAddCityList" [value]="city.storingValue">
                      {{city.storingValue}}
                    </option>
                  </select>
                  <div class="clear10"></div>
                  <input type="text" formControlName="localityAdd" class="form-control" placeholder="Locality">
                  <!-- <select formControlName="localityAdd" class="select-style">
                    <option [selected]="locality.storingValue" *ngFor="let locality of editAddLocationList"
                      [value]="locality.storingValue">
                      {{locality.storingValue}}
                    </option>
                  </select> -->
                  <div class="clear10"></div>
                  <input type="text" formControlName="zipAdd" class="form-control"  placeholder="Zip Code*">
                </form>

              </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <div class="col-md-12  text-center">
                <button type="button" class="Addaddressbtn" (click)="addNewAddress(addAddressForm.value)">Add
                  Address</button>&nbsp;&nbsp;&nbsp;
                <button type="button" class="popclose" data-dismiss="modal" (click)="close()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>

  
   <!-- The Modal -->
   <div class="modal fade  {{custom4}} addAddressModal " id="editAddrConfirmationModal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Edit Address</h4>
            <button type="button" class="close" (click)="close4()">&times;</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <div class="col-12 col-sm-12 col-lg-12 col-md-12">
              <form [formGroup]="editAddressForm">
                <input type="text" value="{{editFormName}}" #fName1 formControlName="firstNameEdit" class="form-control"
                   placeholder="First Name*">
                <div class="clear10"></div>
                <input type="text" value="{{editFormName}}" #lName1 formControlName="lastNameEdit" class="form-control"
                   placeholder="Last Name*">
                <div class="clear10"></div>
                <input type="text" value="{{editAddressLine1}}" #aLine1 formControlName="addressLine1Edit"
                  class="form-control"  placeholder="Address Line1*">
                <div class="clear10"></div>
                <input type="text" value="{{editAddressLine2}}" #aLine2 formControlName="addressLine2Edit"
                  class="form-control"  placeholder="Address Line2">
                <div class="clear10"></div>
                <select (change)="onChangeState($event.target.value)" #state1 formControlName="stateEdit"
                  class="form-control select-style">
                  <option [selected]="true" *ngFor="let state of editAddStateList"  [value]="state.storingValue">
                    {{state.storingValue}} 
                  </option>

                </select>
                <div class="clear10"></div>
                <select (change)="onChangeCity($event.target.value)" #city1 formControlName="cityEdit" class="form-control select-style">

                  <option [selected]="true" *ngFor="let city of editAddCityList"  [value]="city.storingValue">
                    {{city.storingValue}}
                  </option>
                </select>
                <div class="clear10"></div>
                <input type="text" value="" formControlName="localityEdit" #locality1 class="form-control"
                   placeholder="Zip Code*">
                <!-- <select formControlName="localityEdit" class="select-style">

                  <option [selected]="true" *ngFor="let locality of editAddLocationList" [value]="locality.storingValue">
                    {{locality.storingValue}}
                  </option>
                </select> -->
                <div class="clear10"></div>
                <input type="text" value="{{editZip}}" formControlName="zipEdit" #zipC1 class="form-control"
                   placeholder="Zip Code*">
              </form>

            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <div class="col-md-12  text-center">
              <button type="button" class="Addaddressbtn" (click)="editAddress(editAddressForm.value,fName1.value,lName1.value,aLine1.value,aLine2.value,state1.value,city1.value,locality1.value,zipC1.value)">Add
                Address</button>&nbsp;&nbsp;&nbsp;
              <button type="button" class="popclose" data-dismiss="modal" (click)="close4()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>

<!-- COD Modal -->
<div class="modal fade {{custom6}}" id="codModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Are you sure you want to continue with Cash On Delivery?</h4>
          <!-- <button type="button" class="close" (click)="close6()">&times;</button> -->
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="col-md-12  text-center">
            <button type="button" class="Addaddressbtn" (click)="cod()">Yes</button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="popclose" data-dismiss="modal" (click)="close6()">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<!-- Online Payment Modal -->
<div class="modal fade  {{custom5}}" id="onlinePaymentModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Are you sure you want to continue with Online Payment?</h4>
          <!-- <button type="button" class="close" (click)="close5()">&times;</button> -->
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="col-md-12  text-center">
            <button type="button" class="Addaddressbtn" (click)="onlinePayment()">Yes</button>&nbsp;&nbsp;&nbsp;
            <button type="button" class="popclose" data-dismiss="modal" (click)="close5()">No</button>
          </div>
        </div>
      </div>
    </div>
  </div>


<form #submitBill action="{{billbeskPaymentGatewayUrl}}" method="POST">


    <input type="hidden" name="msg"  [(ngModel)]='paymentRequestProcessParameter' ngModel>
    <input type="hidden" name="txtCustomerID"  [(ngModel)]='customerID' ngModel>
    <input type="hidden" name="txtTxnAmount"  [(ngModel)]='TxnAmount' ngModel>
    <input type="hidden" name="txtAdditionalInfo1"  [(ngModel)]='txtadditional1' ngModel>
    <input type="hidden" name="txtAdditionalInfo2"  [(ngModel)]='txtadditional2' ngModel>
    <input type="hidden" name="txtAdditionalInfo3"  [(ngModel)]='txtadditional3' ngModel>
    <input type="hidden" name="txtAdditionalInfo4"  [(ngModel)]='txtadditional4' ngModel>
    <input type="hidden" name="txtAdditionalInfo5"  [(ngModel)]='txtadditional5' ngModel >
    <input type="hidden" name="txtAdditionalInfo6"  [(ngModel)]='txtadditional6' ngModel>
    <input type="hidden" name="txtAdditionalInfo7"  [(ngModel)]='txtadditional7' ngModel>
    <input type="hidden" name="ru"  [(ngModel)]='ru' ngModel>

 </form>
