<div class="dropdown-content"> 
   
    <div class="container">
      <div class="row">
    
        <div class="col-12 col-lg-12">
         
  
          <div class="healthAresLeft healthAresLeft2">
            <h1 class="AharViharText">Aahar, Vihar and Oshadhi - The Ayurveda Way </h1>
            <div class="clear"></div> 
            <div class="row mt-4">
              <div class="col-12 col-lg-4">
                  <button type="button" class="btn AharviharBtn"><img class="mr-4" src="././assets/images/AyurvedicHerbs.png"> Ayurvedic Herbs <img class="ml-4" src="././assets/images/right_arrow.png"></button>
              </div> 
              <div class="col-12 col-lg-4">
                  <button type="button" class="btn AharviharBtn"><img class="mr-4" src="././assets/images/Panchakarma.png"> Panchakarma <img class="ml-4" src="././assets/images/right_arrow.png"></button>
              </div> 
              <div class="col-12 col-lg-4">
                  <button type="button" class="btn AharviharBtn"><img class="mr-4" src="././assets/images/HealthChakra.png"> Health Chakra <img class="ml-4" src="././assets/images/right_arrow.png"></button>
              </div>  
              
              <div class="col-12 col-lg-4 mt-4">
                  <button type="button" class="btn AharviharBtn"> Yoga and Ayurved <img class="BtnArrowImg" src="././assets/images/right_arrow.png"></button>
              </div> 
              <div class="col-12 col-lg-4 mt-4">
                  <button type="button" class="btn AharviharBtn"> Surya Namaskar <img class="BtnArrowImg" src="././assets/images/right_arrow.png"></button>
              </div> 
              <div class="col-12 col-lg-4 mt-4">
                  <button type="button" class="btn AharviharBtn"> Ayurvedic Diet <img class="BtnArrowImg" src="././assets/images/right_arrow.png"></button>
              </div> 
            </div>
          </div>
        </div>
      </div> 
      <div class="clear20"></div>
      <div class="row mt-2">
        <div class="col-12 col-lg-4">
          <div class="article">
            <p>article</p>
            <h6>Continuous glucose monitors are FDA
              approved systems that track your blood..</h6>
          </div>
          <div class="RightArrowImg">
            <img src="././assets/images/WhiteArrow.png">
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="article">
            <p>article</p>
            <h6>Continuous glucose monitors are FDA
              approved systems that track your blood..</h6>
          </div>
          <div class="RightArrowImg">
            <img src="././assets/images/WhiteArrow.png">
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="article">
            <p>article</p>
            <h6>Continuous glucose monitors are FDA
              approved systems that track your blood..</h6>
          </div>
          <div class="RightArrowImg">
            <img src="././assets/images/WhiteArrow.png">
          </div>
        </div>
      </div>
  <div class="clear20"></div>
  
    </div>
  </div>