.dropdown:hover  .dropdown-content{
    /* display: block !important; */
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown-content {
       /* display: none; */
       position: fixed;
       color: #fff9e5;
       z-index: 999;
      background-color: rgba(64, 41, 9, 0.91);
    width: 100%;
    float: left; 
    padding: 5% 0%;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {background-color: #ddd;}
    
    .dropdown:hover .dropdown-content {display: block;}
     
    /* --------DropDown Content End------------ */  
    .healthAresLeft{
        background: #fff9e5;
        border-radius: 5px;
        padding: 8%;
     }  
     .healthAresLeft2{
        padding: 3% 4%;
     }
     .healthAresLeft p {
        color: #402909;
        font-size: 16px;
        font-family: 'TrajanPro-Bold';
     } 
     .diabetesImg{
        width: 16%;
     float: left;
     } 
     .right_arrowContent{
        width: 9%;
        float: left;
     } 
     .DiabetesText{
        width: 73%;
        float: left;
     } 
     .healthAresContent{
        width: 100%;
    float: left;
    margin: 5px 0px;
     } 
     .Healtharesrightp p {
    color: #333333;
    font-size: 14px; 
    font-family: 'PlayfairDisplay-Regular'; 
    margin-bottom: 6px;
     } 
     .RightArrowImg{
        width: 14%;
        float: left; 
        margin-top: 29px;
     } 
     .article{
        width: 85%;
        float: left;
     } 
     .article p{
    font-size: 14px;
    color: #fff9e5; 
    font-family: 'TrajanPro-Regular'; 
    margin-bottom: 2px;
     } 
     .article h6{
        font-size: 16px; 
        color: #fff9e5; 
        font-family: 'PlayfairDisplay-Regular';
    } 
   .AharViharText{
       color:#402909;
       font-size: 35px; 
       line-height: 1.37; 
       text-align: center;
       font-family: 'PlayfairDisplay-Regular';
   } 
   .AharviharBtn{
    background: transparent;

    border: 1px solid #cfa15a;
    
    border-radius: 10px;
    
    height: 80px;
    
    width: 332px;
    
    color: #402909;
    
    font-size: 18px;
    
    font-family: 'TrajanPro-Bold';
   } 
   .BtnArrowImg{
    float: right;
    margin-right: 12px;
   }