<app-navigation></app-navigation>
<app-floating></app-floating>

<section class="declaimer">
  <div class="container pt-5 text-center">
    <h1>Did you get enough sleep last night?</h1>
    <img src="././assets/images/big_border.png">
<div class="maindiv mt-4 text-left">  
  <p>You can always point out a person who has had a bad sleep- they are irritable, feel lethargic early in the morning and have difficulty in concentration. Insomnia or sleeplessness is a common sleep disorder. An insomniac may either find it difficult to fall asleep or may have difficulty in remaining asleep for a long time. They tend to wake up early and are not able to get back to sleep again. We all have heard such complaints from many people, either at home or our workplace. </p>
  <p>Sleeplessness or insomnia can be considered both as a disorder and a symptom of a health problem. Insomnia for a long time may lead to various health issues like depression, high blood pressure, diabetes, and other psychiatric disorders. Therefore, any individual with insomnia should consult the doctor to find out if he/she has any health issues which is causing this symptom. Inability to sleep for more than 3.5 hours in females and 4.5 hours in males, indicative of severe insomnia. </p>    
  <p>Between 10% and 30% of adults have insomnia at any given point in time and up to half of them have insomnia in a given year. Insomnia is 40% more common in women than in men. </p>  

    <h3>Cure insomnia with Ayurveda </h3>
    <p>In Ayurveda, Insomnia is termed as “Nidranasha” or “Anidra”. The state of nidra occurs when indriyas gets exhausted and withdraw themselves from their objects. Anidra or Nidranasha is state in which person is unable to initiate or maintain sound sleep for the required time. </p>
     <div class="row">
       <div class="col-1 col-lg-1 col-md-1"></div>
       <div class="col-10 col-lg-10 col-md-10">
          <div class="carbohydrate-border">
              <h3>Why is sleep important?</h3>
              <p>According to Ayurveda, sleep plays a major role for sustaining life. It gives us some strong reasons for having a good sleep:</p>
              <ul>
                <li>	Sleep keeps your heart healthy.</li>
                <li>	Sleep reduces stress, improves memory, and decreases risk of mood disorders</li>
                <li>	Sleep increases bodily strength and controls body weight.</li>
                <li>	Sleep enhances the power of brain and mind.</li>
                <li>	Sleep helps to maintain the stability of the body.</li>
              </ul>
            </div>
       </div>
       <div class="col-1 col-lg-1 col-md-1"></div>
     </div> 
     <h3 class="dysfunctions">Types of nidra:</h3> 
     <p>Nidra is further classified into seven types, those are:</p>
     <ul class="dysfunctions">
       <li>Tamobhava nidra: Sleep occurs due to tamas, that is the root cause for diseases.</li>
       <li>	Sleshmasamudbhava nidra: Sleep occurs due to aggravation of kapha.</li>
       <li>Manahshramsambhava nidra: Sleep occurs due to mental exhaustion.</li>
       <li>Shareershramsambhava nidra: Sleep occurs due to physical exhaustion.  </li>
       <li>Agantuki nidra: It occurs due to tamas and is signal of any forthcoming disease.</li>
       <li>Vyadhyanuvartini nidra: Sleep occurs due to Kaphaja disorders.</li>
       <li>Ratriswabhavprabhava nidra: Sleep is natural, which occurs during night due to circadian rhythm.</li>
    </ul>
     <div class="diabetes">
      <h3>Ill effects of insomnia</h3>
      <p>The effect of sleeplessness on body includes:</p>
      <ul class="dysfunctions">
        <li>Body weakness (Abala)</li>
        <li>Unhappiness (Dukha)</li>
        <li>Emaciation (Karshyata)</li>           
     </ul>
     </div>
     <div class="causes">
        <h3>What causes sleeplessness? (Hetu)</h3>
        <p>The causative factors that can contribute to sleeplessness are as follows:</p>           
        <ul class="dysfunctions">
            <li>Consumption of dry foods like barley </li>
            <li>Excessive exercise (Vyaayama)</li>
            <li>Fasting (Upavasa)</li>
            <li>Excessive coitus and vigils</li>
            <li>Suppression of natural urges</li>
            <li>Hunger </li>
            <li>Uncomfortable bed</li>
            <li>Psychological causes: fear (bhaya), anxiety (chinta) and anger (Krodha) </li>
            <li>Working at night time or performing strenuous work</li>
            <li> Trauma and major injuries</li>
           </ul>
          <p>There are certain ayurvedic therapies when given in excess, may also lead to insomnia. They are:</p>
        <ul class="dysfunctions">
            <li>Vamana (emesis)</li>
            <li>Virechana (purgation)</li>
            <li>Nasya (nasal medications) </li>
            <li>Dhooma (medicated smoke)</li>
            <li>Raktamokshana (bloodletting)</li> 
            <li>Swedana (sudation)</li> 
        </ul>
     </div>
        <div class="row">
          <h3>Samprapti (Pathogenesis)</h3>
              <p>Insomnia may result if Vata and Pitta are increased in the human body or if Kapha is depleted within the body. Let us understand insomnia in relation to the dosha involved: </p>
              <ul class="dysfunctions">
                  <li>Tarpak Kapha is a Kaphadosha that nourishes the brain cells. It helps to attain a peaceful sleep at night. If this dosha is not balanced in the body, it leads to malnourishment of the brain cells leading to sleeplessness.</li>
                  <li>Pran Vayu is a Vatadosha that causes the nervous system to be over sensitive which may lead to anxiety, worrying, depression. Vatadosha with an aggravated pranvayu (vata in the head region) leads to sleeplessness.</li>
                  <li>Sadhak Pitta, present in the heart, is a Pitta dosha that controls emotions, desires, spirituality and decisiveness. Imbalance of sadhak pitta in the body leads to problems like overworking or working for prolonged periods. Keeping high expectations and demands from one’s own work may ultimately lead to sleeplessness.</li>
                </ul> 
          </div>
        <div class="symptoms">
            <h3>These are the signs to look out for (Rupa)</h3>
            <p>The following are some of the common symptoms of insomnia: </p>
           <ul>
              <li>Roughness and coldness</li>
              <li>Instability </li>
              <li>Non-sliminess, motion and formlessness </li>
              <li>Not feeling fresh in the morning</li>
              <li>Feeling tired but unable to sleep</li>
              <li>Lethargy and decreased ability to work</li>
              <li>Body heaviness and body ache</li>
           </ul>                
           <p>The symptoms of sleeplessness may vary according to the dosha involved. </p>
           <p class="hbbold">1. An individual with Vata dominant type of sleeplessness may have: </p>
           <ul class="symptoms">
                    <li>Restless sleep with tossing and turning</li>
                    <li>No sleep at all </li>
                    <li>Waking up between 2 to 4 am  </li>
                    <li>Difficulty to go back to sleep till 6 am</li>                   
                  </ul>
           <p class="hbbold">2. An individual with Pitta dominant type of insomnia may have:</p> 
                <ul class="symptoms">                               
                    <li>Inability to sleep within 10pm to 2 am</li>
                    <li>High cortisol levels in the body</li>
                    <li>Always irritable</li>
                    <li>Has disturbed dreams of fights (if they get sleep)</li>                   
              </ul>
              <p class="hbbold">3. An individual with Kapha dominant type of insomnia may complain about: </p>
              <ul class="symptoms"> 
                    <li>Sleep apnea (breathlessness while sleeping)</li>
                    <li>Waking up early in the morning around 6 am</li>
                    <li>Feeling lazy after a full night’s sleep</li>
                  </ul>
            
             <h3>Complications of Sleeplessness (Upadrava)</h3>
             <p>Sleep can rightfully be called as an everyday natural tonic that helps to rejuvenate all the living organisms. Inability to sleep deteriorates the activity of your body and mind. If not treated, insomnia may lead to </p>
            <ul class="dysfunctions">
                    <li>Anxiety disorder</li> 
                    <li>Increased risk of developing chronic diseases like diabetes, high blood pressure, etc</li>
                    <li>Depression</li>  
                    <li>Life threatening accidents may occur if the individual is drowsy throughout the day.</li>
                    <li>Difficulty to concentrate </li>
                    <li>Body ache and heaviness of the body</li>                      
                </ul>
                <h3>Risk factors for Sleeplessness (VyadhiHetu)</h3>
                   <p>According to Acharya Charaka, the father of Indian Medicine, following risk factors cause sleeplessness:</p>
                <ul class="avoid">                
                    <li><b>1. Karya (Work): </b> Ideally, an individual should not work at night and sleep in the morning hours or day time. Heavy work during the night time may cause sleeping disorder and may lead to insomnia. So, the people who work at night are more prone to develop sleeplessness.</li>
                    <li><b>2. Kaal (Age and time):</b> Age and Time are the two important aspects that affects an individual’s normal sleep. Babies usually sleep during the day time and also during the night but with advanced age the duration of sleep decreases. Due to Kapha Dosha, sleep duration in the children is more whereas in middle aged individuals, the duration of normal sleep ranges from 6 to 8 hours. In old age, there is predominance of Vata Dosha and decreased Kapha and thus, the duration of sleep is decreased. </li> 
                    <li><b>3. Prakruti (Constitution): </b>The individual having  VatajaPrakruti( body constitution) experiences shorter duration of sleep as compared to individuals with other constitution. </li> 
                </ul>
               <h3>Diagnosis of Sleeplessness</h3>
                <p>To diagnose sleeplessness or insomnia, the doctor will ask about the symptoms of the patients and gather the medical history of the patient. If the patient is on any medication, he/she should inform the doctor about the same. The doctor may also ask questions to find out the mental state of the patient (questions pertaining to any recent tragedy or stressful incident in the patient’s life like any trauma or loss etc). In order to rule out any other underlying cause related to insomnia, the doctor may recommend the following tests:</p>
                <ul class="avoid">
                    <li><span  class="hbbold">1. EEG:</span> Electroencephalogram (EEG) helps to diagnose any sleep disorders by recording abnormal electrical activity in the brain using the electrodes that are attached to the scalp.</li>
                    <li><span  class="hbbold">2. Thyroid function test:</span> Blood test is done to detect the levels of TSH (Thyroid- stimulating hormone). Hypothyroidism or low thyroid hormone levels may cause sleep disorders.</li> 
                    <li><span  class="hbbold">3. Polysomnography: </span>It is also known as sleep study. In this test, the electrical activity of the brain is recorded during sleep. In addition, the oxygen level in the blood, heart rate, breathing pattern, eye and leg movement of the patient during sleep are also recorded. All of these parameters help to diagnose the sleep disorder.</li> 
                    <li><span  class="hbbold">4. Evaluation of depression or anxiety:</span> Patients with depression and anxiety may exhibit symptoms of insomnia. Therefore, it is very important for the physician to know whether the patient has any such psychological conditions.</li> 
                </ul>
                <h3>Cure insomnia with Ayurveda  </h3>
                <p>Our Ayurvedic scholars have meticulously designed the management of Anidra based on the involvement of Doshas. Anidra or insomnia can be well managed with Ayurvedic treatment that includes, ayurvedic medicine or drugs, panchakarma, yoga or meditation and lifestyle modifications.</p>
                <h3>Panchakarma Therapy</h3>
                <ul>
                  <li>Abhyanga (whole body massage), Padabhyanga (foot massage), Shiroabhyanga (Head massage) with medicated oil</li>
                  <li>Moordhnitaila (oil massage on head)</li>
                  <li>Gatraudwartana (rubbing the body with medicated powder)</li>
                  <li>Samvahana (rubbing the body by hand)</li>
                  <li>Shirodhara (dropping of linear flow of medicated oil on head) with medicated oil- narayanataila daily 45 – 90 minutes for 21 days or with Himsagartaila for 7 days.</li>
                  <li>Virechana (Purgation) with Erandataila (10 – 20 ml with half glass of milk at night)</li>
                  <li>Pichu (application of a cloth soaked in oil) with Ksheerabalataila</li>
                </ul>
                <h3>Keep insomnia at bay, with a few lifestyle changes </h3>
                <p>The way you lead your life determines your health. Ayurveda puts upon great emphasis on the lifestyle therapy to control a disease. If you have insomnia, following these measures can be of great help: </p>
                <p class="hbbold">1. Diet Management (Ahara)</p>
                <ul>
                  <li>Include more carbohydrates and healthy fats in their diet plan like curd, milk, pulses flour (pishtanna), sweet dishes, cow ghee, oil, sugarcane products, meat soup etc.</li>
                  <li>Include fruits with high glycemic index like grapes, banana, chikoo, mango, litchi etc.</li>
                  <li>Buffalo’s milk (MahishiKsheer) is the best for enhancing sleep.</li>
                </ul>
                <p class="hbbold">2. Yogic Practices for the treatment of sleeplessness</p>
                <p>For the treatment of insomnia, yoga and pranayama plays a very important role. The patient is advised to follow regular yoga sessions at home or in any yoga institute under the supervision of a qualified yoga therapist. The various pranayama techniques that help to combat insomnia are as follows:</p>
                <ul>
                  <li>Bhramari</li>
                  <li>Chandra anulomaviloma</li>
                  <li>Cooling pranayama</li>
                  <li>Ujjai   </li>
                  <li>Yoga Nidra</li>
                </ul>
                <p>Patients with insomnia should practice yoga in their everyday life. Yogic practices include Suryanamaskara and other asanas such as: </p>
                <ul>
                    <li>Tadasana (Mountain pose or Samasthiti)</li>
                    <li>Matsyasana (Fish pose)</li>
                    <li>Bhujangasana (Cobra pose)</li>
                    <li>Paschimottanasana (Seated forward bend)  </li>
                    <li>Mandkasana (Frog pose)</li>
                    <li>Padmasana (Lotus Position)</li>
                    <li>Shavasana (Corpse pose)</li>
                </ul>
                <p class="hbbold"> 3. Behavioral Modification (Achara)</p>
                <p>Behavioral modification is very essential to manage stress and anxiety that leads to insomnia. Yama and niyama are the basic steps of Ashtanga Yoga. Yama includes Satya (truthfulness), Ahimsa (non-violence), Brahmacharya (celibacy), Astyeya (nonstealing) and Aparigraha (non-coveting); and Niyam includes Shaucha (physical and mental purity), Santosh (contentment), Tapas (asceticism), Svadhyaya (self study) and Ishvarapranidhana (devotion towards God). These principles form a code of conduct for common man to enhance the moral, ethical and social conduct. Following these principles help to increase the mental stamina, decrease stress and improve the stamina to fight anxiety.</p>
                <p>In addition to all these measures, there are some specific dos and don’ts which is very useful for a restful sleep:</p>
                <h3>Pathya:</h3>
                <p class="hbbold">The various foods that have been useful for managing insomnia are as follows: </p>
                <ul class="avoid">
                  <li>1. Meat of animals from marshy lands (Anupa Mamsa)</li>
                  <li>2. Meat of aquatic animals (Audaka Mamsa)</li>
                  <li>3. Curd (Dadhi)</li>
                  <li>4. Grapes (Draksha)</li>
                  <li>5. Jaggery (Gud)</li>
                  <li>6. Milk (Kshira)</li>
                  <li>7. Laja Odana(Cooked puffed rice)</li>
                  <li>8. Black Gram (Masha)</li>
                  <li>9. Buttermilk with cream (Snehanvit Takra) </li>
                </ul>
               <p class="hbbold">The various psychological factors that help in getting good sleep are as follows:</p>
              <ul class="avoid">
                  <li>1. Freeing oneself from fear, worry and greed (Bhayatyaga, Chintatyaga, Lobhtyaaga)</li>
                  <li>2. Having a pleasant smell in the room that you sleep (Manonukula Gandha granaha)</li>
                  <li>3. Listening to pleasant talk (Manonukula Sabda granaha)</li>
                  <li>4. Involving oneself in the subject of interest (Manonukula Vishaya grahana) </li>
                  <li>5 Having a comfortable bed (Sukha shayya)</li>
                  <li>6. Being content (Santhosha) </li>
              </ul>
              <h3>Don’t’s (Apathya)</h3>
              <ul class="avoid">
                  <li>•	Avoid excess consumption of coffee, tea, alcohol, soft drinks. </li>
                  <li>•	Avoid smoking.</li>
                  <li>•	Avoid hot and spicy food.</li>
                  <li>•	Avoid heavy meals at night. </li>
                  <li>•	Avoid napping during the day.</li>
              </ul>
              <div class="row">
                  <div class="col-1 col-lg-1 col-md-1"></div>
                  <div class="col-10 col-lg-10 col-md-10">
                     <div class="carbohydrate-border">
                         <h5 class="hbbold text-center">Guidelines provided by Ayurvedic texts for the management of Insomnia </h5>
                         <ul class="avoid">
                           <li>1. Before sleeping, one should not have any negative thoughts and should only think about good deeds and righteous acts. </li>
                           <li>2. Lying comfortably in a cozy bed helps to eliminate fatigue, soothes vata dosha and induces sleep.</li>
                           <li>3. The bed on which one is sleeping should be covered in soft, clean and smooth covers. The mattress should be soft. </li>
                           <li>4. Supine or left lateral position while sleeping helps in getting good sleep. </li>
                           <li>5. The bed should be at the knee joint level.</li>
                           <li>6. In hot weather, it is recommended to sleep with a cool breeze.</li>
                          <li>7. One should avoid sleeping during day time and waking up at night. </li>
                          </ul>
                       </div>
                  </div>
                  <div class="col-1 col-lg-1 col-md-1"></div>
              </div> 
              <p>The management of insomnia in Ayurvedic medicine encompasses a 360-degree strategy that analyzes and treats all the possible causes of insomnia.</p>
            </div>     
            <div class="reference">
                      <h3>References:</h3>
                      <ul>
                        <li>1. Singh P. Insomnia: A sleep disorder: Its causes, symptoms and treatments. International Journal of Medical and Health Research. October 2016; 2(10): 37-41</li>
                        <li>2. N Rajendra, B Sandeep, P Gajanan. Nidranasha (Insomnia): Causes, consequences & management-an Ayurvedic perspective. IJHM 2013; 1 (3): 68-72. </li>
                        <li>3. Deepshikha, Rai AK, Bharti. Evidence based management of Insomnia through Ayurveda. Int J Ayu Pharm Chem. 2018; 8(3): 273-289 </li>
                        <li>4. Patil AB, Kumar A, Kumari M. Insomnia (Anidra) And Ayurveda- A Critical Review. IAMJ.2014; 2(5):775-779</li>
                        <li>5. P.V Sharma. Chapter XXVIII, Section 6- On Treatment Of Vatavyadhi. In: Caraka Samhita. 2014 Edition. Varanasi: Chaukhambha Orientalia. </li>
                        <li>6. P.V Sharma. Chapter XX, Section 1- On Major Diseases. In: Caraka Samhita. 2014 Edition. Varanasi: Chaukhambha Orientalia.</li>
                        <li>7. National Health Portal. Anidra (Insomnia). (Online). (Published on Jan 19, 2016. Accessed on August 27, 2018). Available from:  https://www.nhp.gov.in/ANIDRA(Insomnia)_mtl</li>
                        <li>8.  Singh AK, Chandola HM, Ravishankar B. Clinical study on Psychic traits in stress induced chronic Insomnia (Anidra) and its management with Mamsyadi ghrita and Dashamula kwatha Shirodhara. AYU. Jan-March 2008; 29(1): 9-18</li>
                        <li>9. Vansh B, Chandola HM. Clinical study on psychic traits in stress induced Insomnia (Anidra) and its management with Tagaradi kwatha and Mahishi dugdha Shirodhara. AYU. July- Sept 2008;29(3): 133-139</li>
                        <li>10. Ila Tanna, H.M.Chandola. Therapeutic efficacy of various Shirodhara on stress induced Insomnia. Ayurveda Sameekshawa, Srilanka, Vol. II, Part VII, 2011, page 141-146</li>
                        <li>11. Nair TN ,Shukla A , Chandran H , Nair LP. An Ayurvedic review on the non-pharmacological management of nidranasha (Primary insomnia). Journal of Clinical and Diagnostic Research. 2018 Jun; Vol-12(6): KE01-KE05</li>
                      </ul>
                  </div>    
            </div>
    </div>
</section>
<div class="mb-5 mt-5">
  <app-main-footer></app-main-footer>
</div>