<app-navigation></app-navigation>
<app-floating></app-floating>

<section class="declaimer">
  <div class="container pt-5 text-center">
    <h1>Are you suffering from diarrhoea?</h1>
    <img src="././assets/images/big_border.png">
<div class="maindiv mt-4 text-left">
  <h3>Overview of diarrhoea:</h3>
  <p>Frequent toilet visits, watery stool, an uneasy, gurgling tummy – yes, we have all experienced the symptoms and we hate them. It could be diarrhoea, and there are many reasons for you to get it - the junk food that you had yesterday, the multiple drinks which you binged on, a gut infection or even premenstrual syndrome. Eating out, however, is perhaps the most common cause. The food we eat out may be tasty but may or may not be hygienically cooked or served, thereby leading to the onset of many diseases such as gut infections and diarrhoea. </p>
    <p>Diarrhoea may affect people of any age group. It is not a problem in itself and may get resolved with time. Prolonged diarrhoea or severe diarrhoea, however, may cause serious dehydration and electrolyte loss. This is the reason why diarrhoea remains a common cause of death in rural households and developing countries.
     </p>  

    <h3>What is Diarrhoea?<sup>1</sup></h3>
    <p>Diarrhoea is the common symptom of many underlying gastrointestinal problems. It is defined as the passing of abnormally liquid or unformed stools at an increased frequency. diarrhoea may be further classified as acute (if it persists <2 weeks), persistent (if it persists for 2–4 weeks), and chronic  (if it persists >4 weeks). 
           </p>
    <p>Acute diarrhoea is usually due to a gastrointestinal infection (such as Clostridium difficile). Other factors are also involved: side effect of certain medications such as NSAIDS, chemotherapy drugs, poisoning due to certain pesticides and other environmental toxins. Chronic diarrhoea may be due to an excess use of laxatives, gastrointestinal conditions such as partial bowel obstruction, congenital electrolyte related defects, Addison’s disease etc. </p>
    <p>Immediate medical care is necessary in patients passing loose stools for more than six times a day, as there is excessive fluid and electrolyte loss. Inability to restore fluid and electrolyte in the body can have life threatening consequences.</p> 
    <h3>Diarrhoea through the lens of Ayurveda<sup>2</sup></h3>
    <p>Diarrhoea has been described in the ancient Ayurvedic texts as “Atisara”. Ati means excessive and Sara means watery stools through the anus. 
           </p>
    <div class="causes">
        <h3>What causes Diarrhoea (Hetu)?<sup>2</sup> </h3>
        <p>According to Ayurveda, the following are some of the causative factors of atisaara:</p>
        <ul id="Kapha">
            <li>Dietetic factors (Aaharaj):Consumption of contaminated food or water</li>
            <li>Behavioral factors (Viharaj): Lack of self-hygiene and cleanliness</li>
            <li>Psychological (Manasik):Stress, anxiety, or depression</li>
            <li>Environmental or social (Samajik): Habitats with lack of fresh water supply, poor drainage system, floods and heavy water contamination.</li>
          </ul>
        <h3>Atisara and the three Doshas<sup>2,3</sup></h3> 
        <p>According to Ayurveda, aggravation of any of the tridosha (vata, pitta, kapha) acts on the digestive fire, or Agni, and ultimately causes atisara. </p>
        <ul>
            <li>Aggravation of Vata dosha results in increased water content in the body. When it acts on the digestive system, it reduces the effect of digestive fire or Agni. This aggravated vata dosha also forcefully moves the urine and sweat (water in the body) towards the gut. This moisture liquifies the stools and causes diarrhoea.</li>
            <li>Vitiation of pitta dosha increases the heat in the body and tends to cause frequent, loose stools. It also causes hot, burning pain during the passage of stools.. </li>
            <li>Aggravated Kaphadosha leads to excess cold or moisture content in the body, which may reduce the effect of digestive fire, disturbing the process of elimination and finally leading to diarrhoea.</li>
          </ul>
        <h3>Samprapti<sup>2,3</sup> </h3>
        <p>The place of origin(udbhavasthana) of atisaara is the stomach (amashaya). Ayurvedic texts mention, Vata involvement as the pradhana dosha for Atisara. </p>
        <p>The aggravated Vata dosha causes spoilage(vikriti)of the digestive juice (pachakapitta) and diminishes the digestive fire (agnimandya). It leads to a semi-digestion of the food materials, which begin to circulate in the body as toxins (Ama). Such ama is mostly sticky and has the consistency of Kapha (mucus like).The ama affects the channels carrying the stools (pureeshavahaSrotas) present in the large intestine and anus. </p> 
        <p>The ama, along with aggravated Vata dosha, liquefies the stools, which are moved downwards by the Apanavayu, a downward flowing energy in the rectum area, which throws out unwanted materials from the body. This leads to loose stools or diarrhoea (Atisara).</p>
        <h3>Signs to look out for<sup>3</sup></h3>
        <h5>Purvarupa</h5> 
        <p>According to Ayurveda, the following premonitory symptoms (Purvarupa) become apparent, due to the aggravation of the doshas:</p>
        <ul>
            <li>	Abdominal distention (adhmana)</li>
            <li>	Indigestion (avipaka)</li>
            <li>	Piercing pain (toda) in the heart (hridaya), umbilicus (nabhi), abdomen (udara) and rectum (kukshi).</li>
            <li>	Non-elimination of flatus (anilasannirodha)</li>
          </ul>
        <h5>Rupa<sup>2,3</sup></h5> 
        <p>The symptoms of diarrhoea vary according to the involved dosha. Some of them are listed below:</p>
        <h5>Vataja Atisara:</h5> 
        <p>Vataja Atisara occur in two different forms, amaatisara and pakwatisara. In ama atisara (the stool is slimy and sinks in water and in pakwatisara, the stool is thick and floats on water.</p>  
        <p>Ama-atisara manifests as:</p>
        <ul>
            <li>	Passing of loose, slimy stool (vijala)</li>
            <li>	Stool tends to spread (vipulta)</li>
            <li>	Foul smelling stool (amagandha)</li>
            <li>	Passing flatus</li>
            <li>	Pain or difficulty during defecation (sashula)</li>
          </ul>
        <p>The pakwatisara type of diarrhoea manifests as:</p>
        <ul>
            <li>	Passage of hard stool at frequent intervals (alpalapam)</li>
            <li>	Sounds during defecation (sashabdam)</li>
            <li>	Gripping pain in the abdomen (parikartika)</li>
            <li>	Dryness of mouth (sushkamukha)</li>
            <li>	Pain in the waist, hips, knees and back (kati, trika, janu and prishta)</li>
          </ul>
        <h5>Pittajatisara:</h5> 
        <p>The characteristics of pitta originated stools are:</p>
        <ul>
            <li>	Yellowish or greenish or blackish coloured stools with foul smell</li>
            <li>Excessive thirst (Trishna)</li>
            <li>	Increased / excessive Perspiration(Sweda)</li>
            <li>	Fainting(Murcha)</li>
            <li>	Pain and burning sensation during the elimination</li>
          </ul>
          <h5>Kaphajatisara:</h5> 
          <p>The kapha originated atisara has the following symptoms:</p>
          <ul>
              <li>	Whitish mucus discharge along with stool (sweta)</li>
              <li>Heavy and foul-smelling elimination (guru and durgandha)</li>
              <li>Sleepiness and laziness (nidra and alasya)</li>
              <li>	Heaviness in the abdomen (guruudara)</li>
              <li>	Incomplete elimination of feces (krite-api-akruta-samjata)</li>
              <li>	Aversion for food (annadweshi)</li>
            </ul> 
          <h3>Can diarrhoea lead to other problems Upadrava?<sup>3</sup> </h3>
          <p>Severe acute diarrhoea, or prolonged diarrhoea, leads to dehydration and manifests as the following symptoms:</p>
          <ul>
              <li>	Thirst (trishna)</li>
              <li>	Fever (jwara)</li>
              <li>	Tastelessness (aruchi)</li>
              <li>Pain in the rectum (parikartika)</li>
              <li>Low blood pressure</li>             
            </ul> 
            <h5>Diagnosing diarrhoea (Pareeksha)<sup>1,2</sup> </h5>
            <p>At an initial stage, an Ayurvedic practitioner records the detailed history of the patient’s condition -  type of symptoms, associated factors and travel history. Then he recommends the following tests to find out the cause of diarrhoea:</p>
            <ul>
                <li class="pareeksha"><span >Stool test (malapareeksha):</span> A sample of stool is examined to check for the presence of disease-causing organisms and also to check for the unusual constituents like toxins, blood and mucus (ama, rakta and kapha).
                  </li>
                  <li class="pareeksha"><span >Endoscopy:</span>If infection is not the primary cause diarrhoea, the doctor may recommend certain imaging tests to rule out non- infectious causes of diarrhoea such as diverticulitis or partial bowel obstruction. </li>
                  <li class="pareeksha"><span >Blood tests: </span>	Blood tests can help to find out electrolyte imbalances, nutritional deficiencies and other metabolic disturbances that may have led to diarrhoea. </li>                          
              </ul> 
            <h3>Treating Diarrhoea, the Ayurvedic way </h3> 
            <p>The treatment aims to avoid the causative factors (nidanparivarjan), to pacify the aggravated doshas and restore electrolyte levels. Therapy consists of both herbal and Ayurvedic formulations.</p>
            <h5>Herbal therapy<sup>4</sup> </h5>
            <p>Some natural herbs used in the treatment of atisara are as follows:</p>
            <ul>
              <li>Milkvetch (Astragalus)</li>
              <li>Golden seal (orange root)</li>
              <li >purple coneflower (Echiracea)</li> 
              <li>Agrimony (liverwrot)</li>
              <li>Psyllium (Indian plantago or horse flower)</li>
              <li>Carob (edible pod)</li>
              <li>Barberry</li>
              <li>Ginger (Zingiber officinalis)</li>
              <li>Raspberry (Rubus idaeus)</li>
              <li>Fenugreek (Triognella foenum)</li>
              <li>Flax seed(Linum usitatissimum)</li>
            </ul>
            <h3>Ayurvedic treatment for diarrhoea<sup>4</sup></h3>
            <p>There are two main stages of Diarrhoea: </p>
            <ul class="treatment">
              <li>Amatisar (Acute state)</li>
              <li>Pakwatisara (Chronic state)</li>
            </ul>
            <p>The treatment varies according to avastha (stage of diarrhoea) .</p>
            <ul class="stage" >
              <li >         1. Amatisar –
                <ul class="stage-inner">
                  <li>Langhana - Fasting or light diet</li>
                  <li>Pachan   - Digestive medicines</li>
                  <li>Anuloman - very mild laxative if required.</li>
                </ul> 
              </li>
              <li > 2. Pakwatisar
                  <ul class="stage-inner">
                      <li>Deepan/Pachan -Digestive and appetite enhancers.</li>
                      <li>Grahi -Regulating frequency of motions.</li>
                      <li>Stambhan - Controlling frequency of motions</li>
                    </ul>  
              </li>
            </ul>
            <p>Ayurvedic drugs are also prescribed either as single drugs or in combinations. </p>
            <h3>Treat diarrhoea without leaving your kitchen<sup>4,5</sup></h3>
            <p>Try these out: </p>
            <ul>
              <li>Consume finely ground sesame seeds with lukewarm water and honey</li>
              <li>Eat one or two unripe bananas</li>
              <li>Drink buttermilk with lots of water</li>
              <li>Eat a pear that is not over-ripe</li>
              <li>Consume well-steamed carrots and ghee after an acute episode of diarrhoea</li>
            </ul>
            <h3>Lifestyle measures for Diarrhoea</h3>
            <p>People who have recovered recently, and those who are prone to diarrhoea, may follow these adaptations in lifestyle, to avoid the recurrence of the disease:</p>
            <h5>Dietary modifications (Ahara)<sup>5</sup> </h5>
            <p>As diarrhoea is mainly caused by the vitiation of Vata dosha, adapting to vata pacifying diet is always helpful. Some of which include:</p>
            <ul class="lifestyle">
                <li><span>Vegetable soups: </span>Prepare soups made of boiling vegetables such as carrot, celery, beetroots and asparagus.</li>
                <li><span>Fruits: </span>Apple, watermelon, oranges, sweet lime and muskmelon</li>
                <li><span>Liquids: </span> Liquid rice or porridge, coconut water</li>
                <li><span>Milk or dairy products </span></li>
                <li>Always drink <span>boiled water</span></li>
                <li>Consume <span>freshly and completely cooked food</span></li>
              </ul>
            <h3>Keep diarrhoea at bay with simple yoga poses<sup>6</sup></h3>
            <p class="yoga">Patients with diarrhoea must practise yoga only <span>after the acute phase</span> is over, and after attaining <span>normalcy in electrolyte levels.</span> Yoga helps to maintain the overall fitness of an individual and also aids in controlling bowel movements.
                Some of the yogic practices beneficial for a good gut health are listed below:
                </p>
            <h5>Breathing exercises:<sup>6</sup></h5>
            <ul>
              <li>Shashankasana (moon pose breathing)</li>
              <li>Vyaghrasana (tiger pose breathing)</li>
              <li>Hands-stretch breathing</li>
              <li>Padottanasana(straight leg raise breathing)</li>
            </ul>
            <p>Perform savasana in between two new sets of exercises to relax the body completely. </p>
            <h5>Sithilakaranavyayama <sup>6</sup></h5>
            <p>In this type of exercise, you must move your body freely in the air in all directions to allow for complete mobility in the joints. The movements include:</p>
            <ul>
              <li>Forward bending</li>
              <li>Backward bending</li>
              <li>Side-bending</li>
              <li>Twisting to one side and then to the opposite side</li>
            </ul>
            <p>Other asanas include: </p>
            <ul>
                <li>Trikonasana (triangle pose)</li>
                <li>Bhujangasana (cobra pose)</li>
                <li>Sravangasana (shoulder stand)</li>
                <li>Vakrasana (half spinal twist)</li>
                <li>Shalabhasana (locust pose)</li>
                <li>Paschimottasana (seated forward bend pose)</li>
                <li>Ardhachakrasana (half-wheel pose)</li>
                <li>Ardhakatichakrasana (half-waist wheel pose)</li>
                <li>Matsyasana (fish-pose)</li>
                <li>Adhomukhashavasana (downward-facing dog pose)</li>
                <li>Marjariasana (cat pose)</li>               
              </ul>
            <p><span>Pranayama</span> and cleansing (Kriya) program:</p> 
            <ul>
                <li>Kapalbhati (forceful exhalation)</li>
                <li>Nadishuddhi pranayama (alternate nostril breathing)</li>
                <li>Vibhagiyasvasana (sectional breathing)</li>
                <li>Sitali (cooling pranayama)</li>
                <li>Uddiyanabandha and agnisara (restriction and movement of the abdomen)</li>
                <li>Bhramari (M-chanting)</li>
            </ul>
            <p>All these techniques are helpful in stretching the abdomen, and in providing complete rest and relaxation to the body.</p>
            <h3>Do’s and Don’ts during Diarrhoea<sup>3</sup> </h3> 
            <p>Practicing the following do’s and don’ts is very helpful for patients with diarrhoea:</p> 
            <h5 class="do">Do’s (Pathya):</h5>
            <ul>
                <li>Drink plenty of liquids such as water, buttermilk and coconut water.</li>
                <li>Wash hands properly before eating anything.</li>
                <li>Maintain clean and hygienic surroundings.</li>
                <li>Consume light food with boiled vegetables and soups.</li>
                <li>Cooked food should be properly covered.</li>
                <li>Wash the fruits and vegetables before consuming them.</li>
                <li>Take adequate rest.</li>
           </ul>
            <h5 class="do">Dont’s (Apathya):</h5>
            <ul>
                <li>Avoid consuming heavy or spicy food.</li>
                <li>Limit the consumption of tea, coffee and other caffeinated drinks.</li>
                <li>Avoid late night meals.</li>
                <li>Keep away from unhygienic surroundings.</li>
                <li>Avoid the intake of uncooked or half-cooked meat.</li>
                <li>Limit the intake of pulses and cereals.</li>
                <li>Avoid stressful activities both at home and workplace.</li>
            </ul>
            <p>Diarrhoea is a condition that causes a lot of discomfort. It makes you literally home-bound. Ayurveda gives you some simple, evidence-based remedies which prevent recurrence of diarrhoea, improves gut health and has an overall positive impact on your health. </p> 
          </div>
          <div class="reference">
                      <h3>References:</h3>
                      <ul>
                        <li>1. Sonia Friedman, Richard S. Blumberg. Harrison's principles of internal medicine (19th edition). New York: McGraw Hill Education; 2015. Chapter 55, diarrhoea and constipation;264-274</li>
                        <li>2. P.V Sharma. Chapter XIX, section 6 - On treatment of Atisara. In: Caraka Samhita. 2014 Edition. Varanasi: Chaukhambha Orientalia.</li>
                        <li>3. S Durgalakshmi, Pious Uthara Anu, Ajantha. An overview on nidana panchaka of Atisara (diarrhoea). IAMJ. Aug 2015;3(8):2419-2425</li>
                        <li>4.  Ashish M, Vinit S, Kritika H, Kumar M S. Plants used for treatment of Diarrhoea: An Ayurvedic Perspective. Innovare Journal of Ayurvedic sciences. 2015; 3(1): 1-6.</li>
                        <li>5. National Health Portal. Atisara- Acute diarrhoea. (Online). 2016. (Cited on 31/08/2018). Available from: https://www.nhp.gov.in/atisara-acute-diarrhea_mtl. </li> 
                        <li>6. Vijaya Kavuri, Nagarathna Raghuram, Ariel Malamud, and Senthamil R. Selvan, “Irritable Bowel Syndrome: Yoga as Remedial Therapy,” Evidence-Based Complementary and Alternative Medicine, vol. 2015, Article ID 398156, 10 pages, 2015. https://doi.org/10.1155/2015/398156.</li> 
                      </ul>
                  </div>    
            </div>
    </div>
</section>
<div class="mb-5 mt-5">
  <app-main-footer></app-main-footer>
</div>