.defalt{width: 200px;height: 200px; color: #fff;background: #000}
.changed{background: rgb(158, 14, 14)}
.mrgn-r50{
    margin-right: 50px;
}
.addnotes {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.modal-dialog {
    top: 20%;
}
.mrgnsr{
    margin-right: 20% !important;
}
.mrgnsrp{
    margin-right: 73% !important;
}
.FbBtn,.GoogleBtn {
    background-color: #385c9a;
    color: #ffffff;
    width: 227px;
    height: 60px;
    object-fit: contain;
    border-radius: 5px;
    background-color: #385c9a;
    font-family: ''TrajanPro-Bold'';
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    text-align: left;
    color: #ffffff;
}
.GoogleBtn {
    color: #333;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
span.zanduser {
    font-size: 30px;
    font-weight: 700;
}
.bor-r {
    border-right: 1px solid #ebebeb;
}
.minus-top{
    margin-top: -44px;
}
/* Style the tab */

/* Style the tab content */
.tabcontent {
    display: block;
}
.hide{
    display: none;
} 
.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5) !important;
}
.sm-btn {
    padding: 14px 32px;
}
.arrow_div {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -50px;
    display: none
}
.active .arrow_div{
    display: block;
}
.tab_card {
    position: relative;
    cursor: pointer;
    border-radius: 0px;
    text-align: center;
    font-family: 'TrajanPro-Regular';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1d1d1b;
  display: inline-block;
}
.tab_card img {
    margin-right: 10px;
}
.tab_card .card-body {
    padding: 14px 0px;
}
.border_div {
    border-right: 2px solid #d9b065;
    padding: 10px 30px;
    text-align: center;
    }
.maualpad{padding: 20px 30px;}
.input-spinner{
    width: 70px;
    text-align: center;
    font-family: PlayfairDisplay-Regular;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: 1.2px;
    color: #1d1d1b;
  }
  .product_img {
    text-align: center;
}
.product_info {
    text-align: center;
}
.product_info p {
    font-size: 12px;
}
.Product_div{position: relative;overflow: hidden;border-radius: 10px;
padding: 0px 20px;}
.Product_div span {
    display: block;
    width: 120px;
    height: 24px;
    background-color: #32aa61;
    -webkit-transform: rotate(45deg);
    transform: rotate(319deg);
    position: absolute;
    text-align: center;
    line-height: 24px;
    top: 8px;
    font-family: arial;
    font-size: 12px;
    left: -38px;
    font-weight: 600;
    color: #ffffff;
  }
  .cart_btn {
    width: 48%;
    font-weight: 700;
}
.order-margin-top2 .fa {
    cursor: pointer;
}
.keep_healthy h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 46px;
}
.gray {
    background: #f5f5f5;
}
 agm-map {
    height: 564px;
    width: 564px;
    border-radius: 50%;
  }
  :host >>>  .agm-map-container-inner{
border-radius: 50%
  }
.defalt_height{height:360px;overflow: hidden;}
.full_height{height: 780px;}
  .radio_container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #b47f3c;
}


/* When the radio button is checked, add a blue background */
.radio_container input:checked ~ .checkmark {
    background-color: #ffffff;
    border:1px solid #333333;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio_container .checkmark:after {
     top: 5px;
    left: 5px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: black;
}
.locate{background: url("../../assets/images/route.png") no-repeat;
    background-position: 97%;
    padding: 30px;
    border: none;
    background-color: #dddddd;
    border-radius: 10px;}
    .addres {
        background: #ffffff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    }
    .addres p,h1,h4,h2{margin-bottom: 0px}
    .km {
        display: inline-block;
        width: 25%;
        vertical-align: top;
        text-align: center;
        padding: 26px 18px;
        -o-object-fit: contain;
        object-fit: contain;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        background-color: #b5803c;
    }
    .location {
        width: 60%;
        display: inline-block;
        vertical-align: top;
        padding: 10px;
    }
    .timing {
        width: 14%;
        display: inline-block;
        vertical-align: top;
        vertical-align: text-bottom;
        text-align: right;
        padding: 10px 0px;
        padding-right: 10px;
    }
    h1.main_title {
        object-fit: contain;
        text-shadow: 0px 10px 35.6px rgba(0, 0, 0, 0.51);
        font-family: TrajanPro-Bold;
        font-size: 48px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        padding: 62px 0px 40px 0px;
    }

    h2.looking_for {
        object-fit: contain;
        font-family: TrajanPro-Bold;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.8px;
        color: #ffffff;
        margin-bottom: 10px;
    }
    .benefits_ayurveda {
        background: url('../../assets/images/yoga.png') no-repeat;
    }
    .card.ayur_you h2 {
        object-fit: contain;
        font-family: TrajanPro-Regular;
        font-size: 36px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #402909;
    }
    .card.ayur_you h4 {
        object-fit: contain;
        font-family: PlayfairDisplay-Regular;
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        padding: 15px 0;
        color: #402909;
    }
    .card.ayur_you p {
        object-fit: contain;
        font-family:  PlayfairDisplay-Regular;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: 0.3px;
        text-align: left;
        color: #333333;
        padding-bottom: 22px;
    }
    .SignBtn, .SignBtn:active, .SignBtn:hover, .SignBtn:focus {
        font-family: 'TrajanPro-Bold';
        background-color: #cfa15a !important;
        border: 0px;
        box-shadow: 0px 0px 15px #ccc;
        margin: 0 auto;
        width: 297px;
        height: 63px;
        font-size: 15px;
        font-weight: bold;
        color: #402909 !important;
        outline: 1px solid #c29a5d;
        outline-offset: -11px;
        border-radius: 10px;
        -moz-outline-radius: 10px;
    }
    .ayur_you .natural_div h4 {
        font-family: 'PlayfairDisplay-Bold';
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 50px;
    letter-spacing: normal;
    text-align: left;
    color: #d6ad66;
    padding: 0px !important;
    margin: 0 !important;
    }

    .ayur_you .natural_div p {
        object-fit: contain;
        font-family: 'TrajanPro-Regular';
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #402909;
    }
    .notext{font-size: 48px !important;
    line-height: 66px !important}
    .notext2{    font-size: 56px !important;
        line-height: 53px !important;}
    .ayur_you .natural_div h4 .chota{
        font-size: 24px
    }
    .nature_godes {
        padding-top: 23%;
    padding-bottom: 5%;
    }
    .dosha{
        background-image: url('../../assets/images/family.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 39% 10%;
        position: relative;
        width: 100%;
    }
    .dosham {
        object-fit: contain;
    border-radius: 10px;
    box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.13);
    background-color: #f9f4e4;
    width: 44%;
    position: absolute;
    top: 122px;
    padding: 40px;
    text-align: center;
    }
    .dosham h3 {
        object-fit: contain;
        font-family: 'TrajanPro-Regular';
        font-size: 36px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        margin-bottom: 0;
    } 

    .card-title {
        font-family: 'TrajanPro-Regular'; 
        font-size: 18px;
    }
    .dosham p {
        object-fit: contain;
        font-family: 'PlayfairDisplay-Regular';
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.64;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
    }
    .dosham h4 {
        object-fit: contain;
        font-family: 'PlayfairDisplay-Regular';
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
    }
    .dosham h5 {
        object-fit: contain;
        font-family: 'PlayfairDisplay-Bold';
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        margin: 20px 0px;
    }
    .my_email {
        border: none;
        border-bottom: solid 2px #d6ad66;
        background: transparent;
        border-radius: 0px;
        margin-bottom: 40px;
        font-family: 'PlayfairDisplay-Regular';
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #666666;
    }
    .zanduservicemain {
        border-radius: 10px;
        background-color: #f9f4e4;
        padding: 30px 10px;
    }
    .zanduservice p {
        object-fit: contain;
        font-family: 'TrajanPro-Bold';
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.64;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
    }
    .zanduservice {
        padding: 0px !important;
        margin: 0px !important;
        background: transparent;
    }
.zanduservice .card-body {
        padding: 0px;
    }
    .zanduservice span {
        font-family: 'TrajanPro-Regular';
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #402909;
        border-left: 1px solid #cccccc;
        padding-left: 40px;
        padding-top: 10px;
    }
    .zanduservice h5{
        font-family: 'TrajanPro-Bold';
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #402909;
  padding-top: 10px;
    border-left: 1px solid #cccccc;
    padding-left: 40px;
    margin-top: -2px;
}
.deal_area {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 6% 0px;
}

.artcle h6 {
    object-fit: contain;
    font-family: 'TrajanPro-Regular';
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-bottom: 0px;
}
.small_wrapper {
    width: 80%;
    margin: 0 auto;
}
.article_div {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}
.article_div span {
    font-family: 'TrajanPro-Regular';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: left;
    color: #333333;
}
.article_div p {
    font-family: 'PlayfairDisplay-Regular';
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

.read_more, .read_more:active, .read_more:hover, .read_more:focus {
    font-family: 'TrajanPro-Bold';
    background-color: #cfa15a !important;
    border: 0px;
    box-shadow: 0px 0px 15px #ccc;
    margin: 0 auto;
    width: 146px;
    height: 27px;
    font-size: 15px;
    font-weight: bold;
    color: #402909 !important;
    outline: 1px solid #c29a5d;
    outline-offset: -5px;
    border-radius: 10px;
    -moz-outline-radius: 10px;
}
.small_width{width: 70%}

.succes_stories {
    background-image: url('../../assets/images/slider_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15% 0px 5% 0px ;
}
.all_benefits {
    width: 68%;
    display: inline-block;
    vertical-align: top;
}
.topping_spac {
    margin-top: 157px;
}
.all_benefits2 {
    width: 32%;
}
.all_benefits p {
    font-family: 'TrajanPro-Bold';
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: #333333;
    margin-bottom: 0px;

}
.all_benefits span {
    font-family: 'PlayfairDisplay-Regular';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}



/* The container */
.check_container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'PlayfairDisplay-Regular';
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}

/* Hide the browser's default checkbox */
.check_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}



/* On mouse-over, add a grey background color */
.check_container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check_container input:checked ~ .checkmark {
    background-color: #42b550;
    border: 2px solid #42b550;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check_container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.locatus {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
.locatus h5 {
    font-family: 'TrajanPro-Regular';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.8px;
    text-align: left;
    color: #000000;
}
.locatus h6 {
    font-family: 'PlayfairDisplay-Regular';
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}
.locate_input {
    border: none;
    height: 60px;
    background-image: url('../../assets/images/gps.png');
    background-repeat: no-repeat;
    background-position: 92%;
    font-family: 'PlayfairDisplay-Regular';
    font-size: 32.5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    padding-left: 30px;
}

span.distance {
    font-family: 'TrajanPro-Bold';
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fbf4da;
    display: block;
}

span.kmeter {
    font-family: 'TrajanPro-Regular';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fbf4da;
    display: block;
}
.location h4 {
    font-family: 'TrajanPro-Regular';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}
.location p {
    font-family: 'TrajanPro-Regular';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
}
.topping_spac2 {
    margin-top: 166px;
}
.map {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}
.deal_title h5 {
    font-family: 'TrajanPro-Regular';
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-bottom: 0px;
}
.card-body.active {
    box-shadow: 0px 3px 14.2px 1.8px rgba(0, 0, 0, 0.14);
    background-color: #f9f4e4;
}
.card-body.active .border_div{
    border-right: 0px;
}
.genral_care {
    width: 39%;
    display: inline-block;
    vertical-align: middle;
    background-color: #f9f4e4;
    padding: 40px;
}
.big_product {
    width: 61%;
    display: inline-block;
    vertical-align: middle;
}

.genral_care h6 {
    font-family: 'TrajanPro-Bold';
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #402909;
}
.genral_care p {
    font-family: 'PlayfairDisplay-Regular';
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.product_info h6 {
    font-family: 'TrajanPro-Bold';
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    color: #333333;
}
.product_info p {
    font-family: 'PlayfairDisplay-Regular';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: left;
    color: #402909;
}
.product_info h4 {
    font-family: 'PlayfairDisplay-Regular';
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: 1.5px;
    text-align: left;
    color: #333333;
}
.home-top {
    background-image: url("../../assets/images/main_product.png");
    background-repeat: no-repeat;
    margin-top: 80px;
    background-position: center 0px;
    background-size: 100%;
    }
    .custom_card{position: relative;}
    .card.custom_card {
        border-radius: 5px;
        /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); */
        background-color: #fff9e5;
        padding: 10px;
    }
    .card.custom_card .card-body {
        border-radius: 10px;
        border: solid 1px #cfa15a;
    }
    .card_slider {
        margin-top: 100px;
    }
    p.card-text {
        font-family: 'TrajanPro-Regular';
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #402909;
    }
    h2.pruduct_title {
        font-family: 'TrajanPro-Regular';
        font-size: 36px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #402909;
    }
    .shadoo {
        border-radius: 5px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }
    .bottom_footer {
        background: url('../../assets/images/footer.png') no-repeat;
    background-position: center top;
    }
    .imgDiv{
        max-height: 150px;
    }
    .displayCat{
        position: absolute;
        left: 90px;
    }
    .displayCatParent{
        position: relative;
    }
    .SliderItem  {

        margin-top: 65px;
        
        } 
        .ProductSlider .card-deck .custom_card {
        max-width: 23%;
        width: 23%;
        position: relative;
        height: 418px;
        background: #ffffff;
        } 
        .SliderAddcartBtn, .SliderAddcartBtn:active, .SliderAddcartBtn:focus, .SliderAddcartBtn:hover{
        width: 219px !important;
        height: 34px;
        outline: 1px solid #c29a5d;
        outline-offset: -5px;
        border-radius: 5px;
        -moz-outline-radius: 5px; 
        position: absolute;
        
        bottom: -7px;
        
        left: 27px;
        } 
        .ProductImg{
        /* width: 141px; */
        height: 131px; 
        /* margin: 0 auto; */
        cursor: pointer;
        } 
        .ProductSlider .CardZandName {
        font-size:18px;
        font-family: 'TrajanPro-Bold';
        }
        .displayCat{
            position: absolute;
            left: 79px;
            
            font-size: 24px;
            
            font-family: 'TrajanPro-Regular';
            margin-top: 44px;
            }
            .product_info h5 {
                text-align: center !important;
                font-size: 20px !important;
                font-family: 'TrajanPro-Bold' !important; 
                margin-bottom: 0px;
                margin-top: 4px;
                }

                .border_div2 {
                    background: url("../../assets/images/TabLine.png") no-repeat; 
                    border: none; 
                    height: 75px;
                    } 
                    .ProductSlider  .card-body2 {
                        border-radius: 0px !important;
                        border: none !important;
                        position: absolute;
                        bottom: 25px;
                        min-height: 200px;
                        } 
                        .Spin{
                            margin-top: -10px;
                        } 
                        .PriceQty{
                            width: 81%;
    float: left;
    position: absolute;
    bottom: 36px;
                        }











        
    /* for product detail section */

    .defalt{width: 200px;height: 200px; color: #fff;background: #000}
.changed{background: rgb(158, 14, 14)}
.addnotes {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.modal-dialog {
    top: 20%;
}
.FbBtn,.GoogleBtn {
    background-color: #385c9a;
    color: #ffffff;
    width: 227px;
    height: 60px;
    object-fit: contain;
    border-radius: 5px;
    background-color: #385c9a;
    font-family: ''TrajanPro-Bold'';
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    text-align: left;
    color: #ffffff;
}
.GoogleBtn {
    color: #333;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
span.zanduser {
    font-size: 30px;
    font-weight: 700;
}
.bor-r {
    border-right: 1px solid #ebebeb;
}
.minus-top{
    margin-top: -44px;
}
/* Style the tab */

/* Style the tab content */
.rightdiv {
    display: block;
}
.tabcontent {
    display: block;
}
.hide{
    display: none;
} 
.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5) !important;
}
.sm-btn {
    padding: 14px 32px;
}
.arrow_div {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -50px;
    display: none
}
.active .arrow_div{
    display: block;
}
.tab_card {
    position: relative;
    cursor: pointer;
    border-radius: 0px;
    text-align: center;
    font-family: 'TrajanPro-Regular';
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #1d1d1b;
  display: inline-block;
}
.tab_card img {
    margin-right: 10px;
}
.tab_card .card-body {
    padding: 14px 0px;
}
.border_div {
   background: url("../../assets/images/TabLine.png") no-repeat;
    padding: 20px 30px;
    text-align: center;
}
.maualpad{padding: 20px 30px;}
.input-spinner{
    width: 70px;
    text-align: center;
    font-family: PlayfairDisplay-Regular;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: 1.2px;
    color: #1d1d1b;
  }
  .product_img {
    text-align: center;
}
.product_info {
    text-align: center;
}
.product_info p {
    font-size: 12px;
}
.Product_div{position: relative;overflow: hidden;border-radius: 10px;
padding: 0px 20px;}
.Product_div span {
    display: block;
    width: 120px;
    height: 24px;
    background-color: #32aa61;
    -webkit-transform: rotate(45deg);
    transform: rotate(319deg);
    position: absolute;
    text-align: center;
    line-height: 24px;
    top: 8px;
    font-family: arial;
    font-size: 12px;
    left: -38px;
    font-weight: 600;
    color: #ffffff;
  }
  .cart_btn {
    width: 48%;
    font-weight: 700;
}
.order-margin-top2 .fa {
    cursor: pointer;
}
.keep_healthy h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 46px;
}
.gray {
    background: #f5f5f5;
}
 agm-map {
    height: 564px;
    width: 564px;
    border-radius: 50%;
  }
  :host >>>  .agm-map-container-inner{
border-radius: 50%
  }
.defalt_height{height:360px;overflow: hidden;}
.full_height{height: 780px;}
  .radio_container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #b47f3c;
}


/* When the radio button is checked, add a blue background */
.radio_container input:checked ~ .checkmark {
    background-color: #ffffff;
    border:1px solid #333333;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio_container .checkmark:after {
     top: 5px;
    left: 5px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: black;
}
.locate{background: url("../../assets/images/route.png") no-repeat;
    background-position: 97%;
    padding: 30px;
    border: none;
    background-color: #dddddd;
    border-radius: 10px;}
    .addres {
        background: #ffffff;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    }
    .addres p,h1,h4,h2{margin-bottom: 0px}
    .km {
        display: inline-block;
        width: 25%;
        vertical-align: top;
        text-align: center;
        padding: 26px 18px;
        -o-object-fit: contain;
        object-fit: contain;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        background-color: #b5803c;
    }
    .location {
        width: 60%;
        display: inline-block;
        vertical-align: top;
        padding: 10px;
    }
    .timing {
        width: 14%;
        display: inline-block;
        vertical-align: top;
        vertical-align: text-bottom;
        text-align: right;
        padding: 10px 0px;
        padding-right: 10px;
    }
    h1.main_title {
        object-fit: contain;
        text-shadow: 0px 10px 35.6px rgba(0, 0, 0, 0.51);
        font-family: TrajanPro-Bold;
        font-size: 48px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        padding: 62px 0px 40px 0px;
    }

    h2.looking_for {
        object-fit: contain;
        font-family: TrajanPro-Bold;
        font-size: 25px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1.8px;
        color: #ffffff;
        margin-bottom: 10px;
    }
    .benefits_ayurveda {
        background: url('../../assets/images/yoga.png') no-repeat;
    }
    .card.ayur_you h2 {
        object-fit: contain;
        font-family: TrajanPro-Regular;
        font-size: 36px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #402909;
    }
    .card.ayur_you h4 {
        object-fit: contain;
        font-family: PlayfairDisplay-Regular;
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        padding: 15px 0;
        color: #402909;
    }
    .card.ayur_you p {
        object-fit: contain;
        font-family:  PlayfairDisplay-Regular;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.25;
        letter-spacing: 0.3px;
        text-align: left;
        color: #333333;
        padding-bottom: 22px;
    }
    .SignBtn, .SignBtn:active, .SignBtn:hover, .SignBtn:focus {
        font-family: 'TrajanPro-Bold';
        background-color: #cfa15a !important;
        border: 0px;
        box-shadow: 0px 0px 10px #ccc;
        margin: 0 auto;
      
        font-size: 12px;
        font-weight: bold;
        color: #402909 !important;
        outline: 1px solid #c29a5d;
        outline-offset: -5px;
        border-radius: 5px;  
        -moz-outline-radius: 5px;
    }
    .ayur_you .natural_div h4 {
        font-family: 'PlayfairDisplay-Bold';
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 50px;
    letter-spacing: normal;
    text-align: left;
    color: #d6ad66;
    padding: 0px !important;
    margin: 0 !important;
    }

    .ayur_you .natural_div p {
        object-fit: contain;
        font-family: 'TrajanPro-Regular';
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #402909;
    }
    .notext{font-size: 48px !important;
    line-height: 66px !important}
    .notext2{    font-size: 56px !important;
        line-height: 53px !important;}
    .ayur_you .natural_div h4 .chota{
        font-size: 24px
    }
    .nature_godes {
        padding-top: 23%;
    padding-bottom: 5%;
    }
    .dosha{
        background-image: url('../../assets/images/family.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 39% 10%;
        position: relative;
        width: 100%;
    }
    .dosham {
        object-fit: contain;
    border-radius: 10px;
    box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.13);
    background-color: #f9f4e4;
    width: 44%;
    position: absolute;
    top: 122px;
    padding: 40px;
    text-align: center;
    }
    .dosham h3 {
        object-fit: contain;
        font-family: 'TrajanPro-Regular';
        font-size: 36px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        margin-bottom: 0;
    }
    .dosham p {
        object-fit: contain;
        font-family: 'PlayfairDisplay-Regular';
        font-size: 22px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.64;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
    }
    .dosham h4 {
        object-fit: contain;
        font-family: 'PlayfairDisplay-Regular';
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
    }
    .dosham h5 {
        object-fit: contain;
        font-family: 'PlayfairDisplay-Bold';
        font-size: 24px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        margin: 20px 0px;
    }
    .my_email {
        border: none;
        border-bottom: solid 2px #d6ad66;
        background: transparent;
        border-radius: 0px;
        margin-bottom: 40px;
        font-family: 'PlayfairDisplay-Regular';
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #666666;
    }
    .zanduservicemain {
        border-radius: 10px;
        background-color: #f9f4e4;
        padding: 30px 10px;
    }
    .zanduservice p {
        object-fit: contain;
        font-family: 'TrajanPro-Bold';
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.64;
        letter-spacing: normal;
        text-align: left;
        color: #333333;
    }
    .zanduservice {
        padding: 0px !important;
        margin: 0px !important;
        background: transparent;
    }
.zanduservice .card-body {
        padding: 0px;
    }
    .zanduservice span {
        font-family: 'TrajanPro-Regular';
        font-size: 20px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #402909;
        border-left: 1px solid #cccccc;
        padding-left: 40px;
        padding-top: 10px;
    }
    .zanduservice h5{
        font-family: 'TrajanPro-Bold';
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #402909;
  padding-top: 10px;
    border-left: 1px solid #cccccc;
    padding-left: 40px;
    margin-top: -2px;
}
.deal_area {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 6% 0% 0% 0%;
}

.artcle h6 {
    object-fit: contain;
    font-family: 'TrajanPro-Regular';
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-bottom: 0px;
}
.small_wrapper {
    width: 80%;
    margin: 0 auto;
}
.article_div {
    width: 33%;
    display: inline-block;
    vertical-align: top;
}
.article_div span {
    font-family: 'TrajanPro-Regular';
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: left;
    color: #333333;
}
.article_div p {
    font-family: 'PlayfairDisplay-Regular';
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}

.read_more, .read_more:active, .read_more:hover, .read_more:focus {
    font-family: 'TrajanPro-Bold';
    background-color: #cfa15a !important;
    border: 0px;
    box-shadow: 0px 0px 15px #ccc;
    margin: 0 auto;
    width: 146px;
    height: 27px;
    font-size: 15px;
    font-weight: bold;
    color: #402909 !important;
    outline: 1px solid #c29a5d;
    outline-offset: -5px;
    border-radius: 10px;
    -moz-outline-radius: 10px;
}
.small_width{width: 70%}

.succes_stories {
    background-image: url('../../assets/images/slider_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15% 0px 5% 0px ;
}
.all_benefits {
    width: 68%;
    display: inline-block;
    vertical-align: top;
}
.topping_spac {
    margin-top: 157px;
}
.all_benefits2 {
    width: 32%;
}
.all_benefits p {
    font-family: 'TrajanPro-Bold';
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: #333333;
    margin-bottom: 0px;

}
.all_benefits span {
    font-family: 'PlayfairDisplay-Regular';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}



/* The container */
.check_container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'PlayfairDisplay-Regular';
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}

/* Hide the browser's default checkbox */
.check_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}



/* On mouse-over, add a grey background color */
.check_container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check_container input:checked ~ .checkmark {
    background-color: #42b550;
    border: 2px solid #42b550;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.check_container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.check_container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.locatus {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
.locatus h5 {
    font-family: 'TrajanPro-Regular';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.8px;
    text-align: left;
    color: #000000;
}
.locatus h6 {
    font-family: 'PlayfairDisplay-Regular';
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}
.locate_input {
    border: none;
    height: 60px;
    background-image: url('../../assets/images/gps.png');
    background-repeat: no-repeat;
    background-position: 92%;
    font-family: 'PlayfairDisplay-Regular';
    font-size: 32.5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
    padding-left: 30px;
}

span.distance {
    font-family: 'TrajanPro-Bold';
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fbf4da;
    display: block;
}

span.kmeter {
    font-family: 'TrajanPro-Regular';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fbf4da;
    display: block;
}
.location h4 {
    font-family: 'TrajanPro-Regular';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}
.location p {
    font-family: 'TrajanPro-Regular';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #666666;
}
.topping_spac2 {
    margin-top: 166px;
}
.map {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}
.deal_title h5 {
    font-family: 'TrajanPro-Regular';
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-bottom: 0px;
}
.card-body.active {
    box-shadow: 0px 3px 14.2px 1.8px rgba(0, 0, 0, 0.14);
    background-color: #f9f4e4;
    min-height: 110px;
}
.card-body.active .border_div{
    border-right: 0px;
}
.genral_care {
    width: 39%;
    display: inline-block;
    vertical-align: middle;
    background-color: #f9f4e4;
    padding: 40px;
}
.big_product {
    width: 61%;
    display: inline-block;
    vertical-align: middle;
}

.genral_care h6 {
    font-family: 'TrajanPro-Bold';
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #402909;
}
.genral_care p {
    font-family: 'PlayfairDisplay-Regular';
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.product_info h6 {
    font-family: 'TrajanPro-Bold';
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    color: #333333;
}
.product_info p {
    font-family: 'PlayfairDisplay-Regular';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: left;
    color: #402909;
}
.product_info h4 {
    font-family: 'PlayfairDisplay-Regular';
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: 1.5px;
    text-align: left;
    color: #333333;
}
.home-top {
    background-image: url("../../assets/images/main_product.png");
    background-repeat: no-repeat;
    margin-top: 80px;
    background-position: center 0px;
    background-size: 100%;
    }
    .custom_card{position: relative;}
    .card.custom_card {
        /* border-radius: 15px;
        box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.13); */
        background-color: transparent;
        padding: 10px;
    }
    .card.custom_card .card-body {
        border-radius: 10px;
        border: none; 
        padding: 0px;
    }
    .card_slider {
        margin-top: 100px;
    }
    p.card-text {
        font-family: 'TrajanPro-Regular';
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #402909;
    }  
    .CardBgWidth{
        width: 90%;
        margin: 0 auto; 
        margin-top: 13%;
    }
    .BorderLR{
        border-left: 2px solid #d9b065;

border-right: 2px solid #d9b065;
    }
    h2.pruduct_title {
        font-family: 'TrajanPro-Regular';
        font-size: 36px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #402909;
    }
    .shadoo {
        border-radius: 5px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
    }
    .bottom_footer {
        background: url('../../assets/images/footer.png') no-repeat;
    background-position: center top;
    } 
    .ChvanprashImg{
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
text-align: center;
/* padding: 19% 15%; */
border-radius: 5px 0px 0px 5px; 
min-height: 570px;
max-height: 570px;
    } 
    .ZandupancharistRight h3 {
        font-family: 'TrajanPro-Bold';
        position: relative;
    } 
    .Rupees175left{
        width: 43%;
        float: left;
    } 
    .Rupees175left2 {
        width: 55%;
        float: left; 
        text-align: right;
    } 
    .AddToCartBtn{
        background: #ffffff;
        width: 153px !important;
border: 1px solid #cfa15a;
height: 34px !important;
border-radius: 5px;  
font-family: 'TrajanPro-Bold'; 
font-size: 12px;
    } 
    .ZandupancharistRight{
        width: 100%;
        float: left;
        padding: 9% 14%;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); 
        border-radius: 0px 5px 5px 0px; 
        min-height: 570px;
    } 
    .borderbottom{
 border: 1px solid #d6ad66;
    } 
    ul{
        list-style: none;
    }
    ul li::before {
        /* content: url('../../assets/images/Product.png'); */
        color: #d6ad66;
        font-weight: bold;
        display: inline-block; 
        width: 1em;
        margin-left: 0em;
      } 
      .DirectionAndBenifits{
        font-size: 22px;
        font-family: 'TrajanPro-Bold';
      } 
      .PlayfairDisplayRegular{
        font-family: 'PlayfairDisplay-Regular'; 
        font-size: 18px;
      } 
      .IngredientsTab{
        width: 33%;
      } 
    .IngredientsTabContent  .card-body.active .border_div2 {
        border-right: 0px;
    } 
   .IngredientsTabContent .border_div2 {
        border-right: 2px solid #d9b065;
        padding: 20px 30px;
        text-align: center;
    } 
    .HiddenBorder{
        border-right: none !important;
    } 
    .IngredientsTabContent .card-body.active {
        min-height: 0px;
    } 
    .TriphalaContentBox{
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); 
        padding: 3% 3% 3% 0%;
        border-radius: 0px 0px 10px 10px;
    } 
    .TriphalaRightContentBox{
        width: 71%;
float: left; 
border: 1px solid #d6ad66;
font-family: 'PlayfairDisplay-Regular';
border-radius: 5px;
padding: 4% 3%;
line-height: 1.5;
letter-spacing: 0.8px;
    } 
    .TriphalaRightContentBox2{
        width: 29%;
        float: left; 
    } 
    .TriphalaRightContentBox2 img {
        border: 1px solid #d6ad66;
border-radius: 5px;
margin-left: 5px;
    } 
    .frequentlyBoughttogether h4{
        font-family: 'TrajanPro-Regular';
        letter-spacing: 2.4px;
    } 
    .FrequentBox{
        border-radius: 10px;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        text-align: center; 
        float: left;
width: 100%;
    } 
    .FrequentBox1{
        width: 42%;
        float: left;
    }  
    .FrequentBoxRight{
        width: 48%;
        float: left;
    } 
    .FrequentBox2{
        width: 10%;
        float: left; 
        margin-top: 38px;
    } 
    .BothBuyText{
background: #fffbef; 
padding: 6% ;
border-radius: 0px 0px 10px 10px;
    } 
    .BothBuyText h4 {
        color: #402909; 
        font-family: 'TrajanPro-Regular';
    } 
    .BothBuyText h4 span {
        font-size: 30px;
        font-family: 'PlayfairDisplay-Regular'; 
 
    } 
    .LeftBox1{
        padding: 12% 5%;
    } 
    .BorderLeftTop,  .IngredientTab1 .card-body.active{
        border-radius: 10px 0px 0px 0px; 
    } 
    .BorderRightTop, .IngredientTab2 .card-body.active{
        border-radius: 0px 10px 0px 0px; 
    } 
   .IngredientTab2{
    width: 34%;
   }  
   .Triphala{
    font-size: 18px; 
    font-family: 'PlayfairDisplay-Regular'; 
    text-align: center; 
    margin: 17px 0px;
   }
  
   .close{
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 11px;
    padding-right: 11px;
   }
   
   @media screen and (min-width: 1px) and (max-width: 1200px){
    .card.custom_card {
        padding: 0px;
    }
   }
@media screen and (min-width: 1px) and (max-width: 768px) { 
    
   
    .card-deck .card {
        display: flex;
        flex: 1 0 0%;
        flex-direction: column; 
        margin-bottom: 20px;
        margin-left: 0px;
    }
    .card-deck {
        display: table;
        text-align: center;
        margin: 0 auto;
    }
    .card-deck .px-5{
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
    .zanduservice {
        margin: 10px !important;
        text-align: center !important;
    }
    .zanduservice span, .zanduservice h5{
        border: none;
        text-align: center;
        margin: 0 auto;
        padding-left: 0px;
    }
    .zanduservice p {
        text-align: center;
        margin: 0 auto;
    } 
    .CardBgWidth {
        width: 100%;
    } 
    .BorderLR {
        border-left: none;
        border-right: none;
    } 
    p.card-text {
            text-align: left;
    }
} 

@media screen and (min-width: 1px) and (max-width: 480px) { 
    .mrgnsrp {
        margin-right: 70% !important;
    }  
}

@media screen and (min-width: 1px) and (max-width: 420px) { 

}

@media screen and (min-width: 1px) and (max-width: 380px) { 
    .mrgnsrp {
        margin-right: 66% !important;
    }  
 
}