<app-navigation></app-navigation>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 home-top">
    <app-floating></app-floating>
</div>
<div class="clear"></div>
<div class="container">
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <p class="blurtxt txtcenter">Sariva (Hemidesmus indicus) </p>
          <div class="clear20"></div>
          <p class="txt1 txtcenter">also known as sariva, is a semi-
            erect herb that has various 
            phytoconstituents. </p>
              <div class="clear10"></div>
              <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
              <div class="clear20"></div>
              <p class="topptxt txtcenter">These compounds add the medicinal value to the herb. Sariva has been used in the Ayurvedic system of medicine for many years. It is used in the treatment of conditions like skin disorders, diarhhoea, dysentery, eye diseases, syphilis, leukoderma, dyspepsia, chronic fever, leprosy, asthma, and others.   </p>
              <div class="clear40"></div>
              <div class="row m-0">
                <div class="col-6 col-am-6 col-md-6 col-lg-6 borderright">
                  <p class="byUStxt">By U.S. News Staff</p>
                </div>
                <div class="col-6 col-am-6 col-md-6 col-lg-6">
                     <label class="byUStxt">Jan 03, 2018 at 7:45 pm</label>
                  </div>
              </div>
            
              <!-- <p class="paratxt3 txtcenter">Piles and having normal bowel movements is an absolute must to relieve discomfort and relieve Piles.  Following certain self-help measures can be helpful to ease bowel movement and heal bleeding piles:
                </p> -->
              <div class="clear40"></div>
              <p class="paratxt1 txtcenter">What is Hemidesmus indicus?
              </p>
              <p class="paratxt3 txtcenter"> 
               
                Hemidesmus indicus is a slender, twining semi-erect shrub that belongs to the Asclepiadaceae family. It is commonly known as sariva, anantamul or sarsaparilla. It is found in the tropical and subtropical regions of India ranging from the upper Gangetic plains to Assam, and all over Western, Central, and Southern India<br/>The roots of the plant are used to treat several conditions, including skin diseases, syphilis, nephritic complaints, sore mouth in children, liver diseases, high blood pressure, and others.  </p>
              <p class="paratxt1 txtcenter">What are the benefits of Hemidesmus indicus?</p>
              <p class="paratxt3 txtcenter">  Sariva has been used in the traditional system of medicine for many years. The following are the uses of the parts of this shrub for various disease conditions:
              </p>
              <p class="paratxt1 txtcenter">

                • The entire plant: 
              </p>
              <p class="paratxt3 txtcenter"> 
                The dried plant, alone or in combination with other drugs is used for the treatment of several conditions, such as skin diseases, postpartum recovery, diarrhoea, improve appetite, impotence, stomach ulcers, scorpion sting, snake bite, fever, venereal diseases, and diabetes. 
</p>
              <p class="paratxt1 txtcenter">

                • The root:</p>
              <p class="paratxt3 txtcenter"> 
                The root extracts are used for the treatment of skin diseases, high fever, menorrhagia, stomach pain, diarrhoea, venereal diseases, scorpion stings, snake bite, sore mouth, leucorrhoea, anemia, gonorrhoea, skin affections, and syphilis.<br/>Apart from these uses, the extract of the plant is also used to reduce body heat, to increase blood circulation, used as a blood purifier, and a cooling beverage.</p>
              <p class="paratxt1 txtcenter">What are the medicinal properties of Hemidesmus indicus?</p>
              <p class="paratxt3 txtcenter"> 
                The plant extract has been used to treat various conditions due to its medicinal properties. Some of the pharmacological properties are given below: 

              </p>
              <p class="paratxt1 txtcenter">• Antiacne activity: 
              </p>
              <p class="paratxt3 txtcenter"> 
                The extract of the root has antiacne effects.</p>
              <p class="paratxt1 txtcenter">
 
                • Antioxidant activity: 
              </p>
              <p class="paratxt3 txtcenter">The root extract of the plant exhibits antioxidant property. 
              </p>
              <p class="paratxt1 txtcenter">

                • Hepatoprotective activity: 
              </p>
              <p class="paratxt3 txtcenter">
                The extract of the root possesses hepatoprotective property.

                  </p>
              <p class="paratxt1 txtcenter">• Antimicrobial activity: 
 
                </p>
              <p class="paratxt3 txtcenter">
                The root extracts have shown antifungal and anti-enterobacterial effects. 
 
                  </p> 

                  <p class="paratxt1 txtcenter">• Anticarcinogenic property: 

 
                  </p>
                <p class="paratxt3 txtcenter">
                  The decoction and the root extracts have demonstrated anticarcinogenic property. 
 
   
                    </p>
                    <p class="paratxt1 txtcenter">• Antithrombotic activity: 
 
 
                    </p>
                  <p class="paratxt3 txtcenter">
                    The root extracts of the shrub have shown antithrombotic activity. 

                      </p>
                      <p class="paratxt1 txtcenter">• Antihyperlipidemic activity: 

 
                      </p>
                    <p class="paratxt3 txtcenter">
                      The extract of the root exhibits antihyperlipidemic property. 

                        </p>
                        <p class="paratxt1 txtcenter">• Saliuretic and Natriuretic effect: 
 
 
                        </p>
                      <p class="paratxt3 txtcenter">
                        The root extract of the plant possesses saliuretic and natriuretic effect.
                          </p>
                          <p class="paratxt1 txtcenter">• Reno-protective activity: 
 
 
                          </p>
                        <p class="paratxt3 txtcenter">
                          The extract of the root has demonstrated the reno-protective effect. 

                            </p>
                            <p class="paratxt1 txtcenter">• Wound healing activity: 
 
 
                            </p>
                          <p class="paratxt3 txtcenter">
                            The extract of the root exhibits wound healing effect. 
                              </p>
                              <p class="paratxt1 txtcenter">• Anti-arthritic property: 
 
 
                              </p>
                            <p class="paratxt3 txtcenter">
                              Several extracts of the plant have anti-arthritic effects.

                                </p>

                                <p class="paratxt1 txtcenter">• Anti-inflammatory activity: 

 
                                </p>
                              <p class="paratxt3 txtcenter">
                                The plant extract has anti-inflammatory property. 
                                  </p>
                                  <p class="paratxt1 txtcenter">• Anti-venom activity: 
 
 
                                  </p>
                                <p class="paratxt3 txtcenter">
                                  The root extract of the herb exhibits anti-venom activity. 
                                    </p>
                                    <p class="paratxt1 txtcenter">• Antinociceptive effect: 

 
                                    </p>
                                  <p class="paratxt3 txtcenter">
                                    The extract of the plant has shown an antinociceptive effect.
                                      </p>

                                      <p class="paratxt1 txtcenter">What are the side effects of Hemidesmus indicus?
 

 
                                      </p>
                                    <p class="paratxt3 txtcenter">
                                      Hemidesmus indicus is safe for most individuals when consumed in the recommended doses. But, some studies have reported that when the herb is taken in larger amounts, it may cause some side effects such as stomach irritation. </p>
                                        <p class="paratxt1 txtcenter">• Antinociceptive effect: 

 
                                        </p>
                                      <p class="paratxt3 txtcenter">
                                        The extract of the plant has shown an antinociceptive effect.
                                          </p>
                                          <p class="paratxt1 txtcenter">Using Hemidesmus indicus safely

 
                                          </p>
                                        <p class="paratxt3 txtcenter">
                                          The use of Hemidesmus indicus is safe in most people. However, individuals with the following conditions must be cautious while using the herb:


                                            </p>
                                            <p class="paratxt1 txtcenter">• Pregnancy and Lactation: 
 

 
                                            </p>
                                          <p class="paratxt3 txtcenter">
                                            There is no sufficient information available concerning the use of sariva in pregnant and breastfeeding women. So, these women should avoid the use of the herb to be on the safer side. 

                                              </p> 
                                              <p class="paratxt1 txtcenter">• Asthma:  
 

 
                                              </p>
                                            <p class="paratxt3 txtcenter">
                                              When individuals with asthma are exposed to Hemidesmus indicus root dust, it can cause a runny nose and other symptoms of asthma. Thus, asthma patients must be monitored while using the herb
                                                </p>
                                                <p class="paratxt1 txtcenter">• Kidney disease: 
 

 
                                                </p>
                                              <p class="paratxt3 txtcenter">
                                                Research studies have reported that sariva can worsen some kidney diseases. Hence, patients with kidney problems are advised to avoid the herb.

                                              </p>
                          <div class="clear40"></div>
                          <hr/>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 topreads">
            <p class="txt1 txtcenter">Top Reads </p>
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 txtcenter">
                <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
            </div>
            <div class="clear20"></div>
        </div>
        <div class="row m-0">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
            <img src="././assets/images/b-food.png">
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <label class="diseasestxt">Digestive Health</label>
            </div>
            <label class="diseasestxt2">14 best & worst foods for your ...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/safron.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">SKIN</label>
              </div>
              <label class="diseasestxt2">Saffron for good health..</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
        </div>
        <div class="clear20"></div>
        <div class="row m-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/b-food.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">Digestive Health</label>
              </div>
              <label class="diseasestxt2">14 best & worst foods for your ...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
                <img src="././assets/images/safron.png">
                <div class="clear10"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <label class="diseasestxt">SKIN</label>
                </div>
                <label class="diseasestxt2">Saffron for good health..</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                    <button class="btn read_morenew">READ MORE</button>
                </div>
              </div>
          </div>
          <div class="clear40"></div>
          <hr/>
      </div>
  </div>
  <div class="clear40"></div>
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <label class="txt1">Related Articles</label>
          <div class="clear10"></div>
          <img class="img-fluid iwidth" src="././assets/images/big_border.png">
          <div class="clear20"></div>
      </div>
      <div class="clear40"></div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
          <img src="././assets/images/awellness.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <label class="diseasestxt">wellness</label>
          </div>
          <label class="diseasestxt2">Low calorie diet
              to lose weight...</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
              <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
            <img src="././assets/images/asuryanamaskar.png">
            <div class="clear10"></div>
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 text-center">
                <label class="diseasestxt">healthy food</label>
            </div>
            <label class="diseasestxt2">Food & Activity
                Journal for...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
              <img src="././assets/images/plane.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">kids & teens</label>
              </div>
              <label class="diseasestxt2">Young overweight 
                  & Obesity in...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
  </div>
   <div class="clear70"></div>
</div>
