<app-navigation></app-navigation>
<app-floating></app-floating>

<section class="declaimer">
  <div class="container pt-5 text-center">
    <h1>Do you often complain about your liver?</h1>
    <img src="././assets/images/big_border.png">
<div class="maindiv mt-4 text-left">
  <h3>Overview of liver disease:</h3>
  <p>Have you ever heard of grandparents or people of their generation talking about liver problems? Not usually, isn’t it. This is because of the fact that their daily lifestyle, food habits and physical activity levels were all favourable for a healthy liver. But, people of the present generation,
     especially of the urban population, seem to discuss a lot about liver diseases such as jaundice, fatty liver or liver cirrhosis. This is because we have adopted a culture of regular consumption of fast food or habitual drinking, all of which are directly or indirectly damaging the liver and causing various liver diseases. </p>
  <p>Loss of appetite, nausea, vomiting, pain in the upper abdomen and generalised weakness are some of the common symptoms of liver diseases. Treatment may range from medications to transplantation of the liver depending on the severity of the condition.<sup>1</sup>  </p>
  <h3>Why is your liver important?<sup>1</sup> </h3>   
  <p>The liver is one of the important visceral (deeper) organs of the body. The liver performs various functions such as:</p>
  <ul class="dysfunctions">
    <li>1.Produces and secretes bile acids that are helpful in the digestion and absorption of fats and fat-soluble vitamins like A, D, E and K.</li>
    <li>2.Filters the blood that comes from the digestive tract before it enters the rest of the body</li>
    <li>3.Detoxifies chemicals and drugs</li>
    <li>4.Removes bilirubin (formed by the breakdown of haemoglobin of the red blood cells) from the blood</li>
  </ul>
  <div class="row">
       <div class="col-1 col-lg-1 col-md-1"></div>
       <div class="col-10 col-lg-10 col-md-10">
          <div class="carbohydrate-border">
              <h3>Liver and Bile juice<sup>1</sup>  </h3>
              <p>Bile is the fluid secreted by the liver and is stored in the gallbladder. It helps in the process of digestion by breaking down fats into fatty acids, which are taken into the blood stream from the digestive system. </p>
             
          </div>
       </div>
       <div id="kapha" class="col-1 col-lg-1 col-md-1"></div>
     </div> 
     <h3>Aggravated Pitta: The Culprit<sup>2,3</sup>  </h3>
     <p>Pitta dosha is one of the tridosha in the body that is responsible for various metabolic processes such as digestion. It is characterised by fire (Agni), one of the five elements in the body. Aggravation of Pitta results in excessive bile production or a blockage in the bile flow and gives rise to many liver diseases.</p>
     <h3 class="dysfunctions">Types of Liver diseases:<sup>3,4,5</sup> </h3> 
     <p>According to Ayurveda, the following are the different types of liver diseases:</p>
     <h3 class="dysfunctions">Direct diseases (Pratyaksa):<sup>3,4</sup> </h3>
     <ul class="dysfunctions">
       <li>1.Cirrhosis of liver (Yakrddalyudara) </li>
       <li>2.Hepatomegaly (Yakrtvrddhi)</li>
       <li>3.Chronic hepatitis (YakrtgataDosa) </li>
     </ul>
     <h3 class="dysfunctions">Indirect diseases (Apratyaksa) <sup>3,4</sup> </h3>
     <p>These are the diseases which have been well discussed in the Ayurvedic texts but their exact, direct pathological relationship with the liver has not been determined.  </p>
     <ul class="dysfunctions">
       <li>1.Jaundice (Kamala)</li>
       <li>2.Jaundice complicated with Diarrhoea (Panaki)</li>
       <li>3.Jaundice aggravated with Ascites (Kumbha Kamala)</li>
       <li>4.Jaundice complicated with fever (Halimaka)</li>
     </ul>
    
     <div class="diabetes">
      <h3>What causes liver problems (Hetu)<sup>3</sup> </h3>
      <p>According to Ayurvedic text the following factors are considered responsible for the occurrence of liver diseases:</p>
     </div>
     <h3 class="dysfunctions">Dietary causes (Aaharaj):</h3>
     <p>Unhealthy eating habits are one of the main reasons for the pressure and damage to the liver. Few of such habits are listed below:</p>
     <ul class="dysfunctions">
       <li>1.Consumption of spicy or heat causing food items (Ushnateekshnaahara)</li>
       <li>2.Eating heavy and hard food items (Guru abhishyandibhojana)</li>
       <li>3.Consuming excessive non-vegetarian food regularly as a part of the daily meal.</li>
       <li>4.Eating uncooked or improperly cooked food (Ama Pakwanna)</li>
     </ul>
     <h3 class="dysfunctions">Habitual causes (Viharaja):</h3>
     <p>Liver problems are mainly caused by lifestyle habits such as:</p>
     <ul class="dysfunctions">
       <li>1.Suppression of natural urges (Vegadharana)</li>
       <li>2.Sleeping during the daytime (Diwaswapna)</li>
       <li>3.Sleep disturbances or waking up in the middle of the night (Ratrijagarana)</li>
       <li>4.Excessive drinking of alcohol (Madyapana)</li>
     </ul>
     <h3 class="dysfunctions">Exogenous factors (Agantujahetu):</h3>
     <p>Some external factors may irritate the liver and cause different types of liver diseases. They are as follows:</p>
     <ul class="dysfunctions">
       <li>1.Injury to the liver (Kshata) during severe road traffic accidents</li>
       <li>2.Infections such as hepatitis</li>
       <li>3.Constant exposure to toxic compounds </li>
       <li>4.Prolonged use of medications containing Acetaminophen, Erythromycin, Diclofenac and Rifampicin.</li>
     </ul>
     <p>According to Ayurveda, the causative factors of the liver disease aggravates the pitta dosha and results in an interruption in the metabolic processes of the body. By-products of metabolic processes are stored in the liver as bile juice, the 
       constituents of which are mainly derived from the metabolism of haemoglobin. This bile juice is considered as the useful by product of the metabolic processes in the body (Dhaturupa mala).<sup>5</sup> </p>
       <p>The aggravated pitta dosha causes an excessive secretion of bile juice. The accumulated bile juice gets converted into harmful products (Kutistha Malas), which needs to be eliminated from the body immediately. If these products are not removed from the body regularly, it gives rise to various liver diseases.<sup>5</sup></p>

     <div class="">
        <h3>The signs and symptoms to look out for <sup>3</sup> </h3>
        <p><span class="hbbold">Premonitory symptoms: </span> The<b> Poorvarupa</b> or premonitory symptoms of liver disease are those that occur before the complete manifestation of the disease. </p>
        <p>In the ancient text CikitsakramaKalpavalli, the following premonitory symptoms of jaundice or Kamala (a type of liver disease) are mentioned: </p>

        <ul class="dysfunctions">
            <li>1.Thirst (Daha)</li>
            <li>2.Mild fever (Mandajwara)</li>
            <li>3.Tastelessness (Aruchi)</li>
            <li>4.Indigestion (Avipaka)</li>
            <li>5.Decreased digestive capacity or weakened digestive fire (Agnimandya)</li>
          </ul>
          <p><span class="hbbold">Signs and symptoms:</span>  The signs and symptoms of different types of liver diseases are varied and are listed below:</p>



















       
     </div>
        <div class="">
          <h3>Symptoms of Hepatomegaly (Yakrt-vrddhi)<sup>5</sup></h3>
              <p>Enlargement of the liver is also associated with other symptoms such as: </p>
              <div class="clear"></div>
              <ul class="dysfunctions">
                <li>1.Mild fever (Mandajvara)</li>
                <li>2.Generalised weakness (Ksina-bala)</li>
                <li>3.Diminished digestive process (Agnimandya)</li>
                <li>4.Severe anaemia (Ati-pandu)</li>
              </ul>
          </div>
          <div class="row">
            <h3>Signs and Symptoms of Cirrhosis of liver (Yakrddalyudara)<sup>5</sup></h3>
            <p>Liver cirrhosis is the scarring and damage to the liver cells. This condition is clinically manifested as listed below:</p>
            <ul class="dysfunctions">
              <li>1. Indigestion (Avipaka)</li>
              <li>2. Loss of appetite (Arocaka)</li>
              <li>3. Vomiting (Chardi)</li>
              <li>4. Thirst (Trishna)</li>
              <li>5. Feeling of darkness in the front of eyes (Tamahpravesa)</li>
              <li>6. Mild fever (Mrdu-jvara)</li>
              <li>7. Distention of abdomen (Anaha)</li>
              <li>8. Heaviness (Gaurava)</li>
              <li>9. Joint pains(Parvbheda)</li>
              <li>10. Cough (Kasa)</li>
              <li>11.	Emaciation (Karsya)</li>
              <li>12. Unconsciousness (Murcha)</li>
              <li>13. Weakness (Daurbalya)</li>
              <li>14. Change in the colour of the abdomen (Vivarnaya)</li>
              <li>15. Loss of appetite (Aruchi)</li>
            </ul>
          </div>
          <div class="">
            <h3 class="dysfunctions">Signs and Symptoms of Jaundice (Kamala roga)<sup>3</sup></h3>
            <p>The following are some of the signs and symptoms of jaundice:</p>
            <ul class="dysfunctions">
              <li>1. Yellowish eyes (Haridra-netrata)</li>
              <li>2. Yellowness of face (Haridra-anana)</li>
              <li>3. Yellowish skin (Haridra-twak)</li>
              <li>4. Blood in the urine (Rakta-pita mutra)</li>
              <li>5. Blood in the stools (Rakta-pita Sakrta)</li>
              <li>6. Exhausted senses (Hatendriya)</li>
              <li>7. Burning sensation (Daha)</li>
              <li>8. Fatigue (Sadana)</li>
              <li>9. Anorexia (Aruchi)</li>
            </ul>
            <h3 class="dysfunctions">Clinical features of Jaundice complicated with fever (Halimaka)<sup>3</sup></h3>
            <p>Patients with this type of jaundice experience the following symptoms:</p>
            <ul class="dysfunctions">
              <li>1. Yellowish discolouration of the skin (Haridra-twak)</li>
              <li>2. Loss of strength (Daurbalya)</li>
              <li>3. Oversleeping (Atinidra)</li>
              <li>4. Joints pain (Parvbheda)</li>
              <li>5. Loss of Libido</li>
            </ul>
            <h3 class="dysfunctions">Signs of Jaundice complicated with Diarrhoea (Panaki)<sup>4</sup></h3>
            <p>This type of jaundice is manifested in the form of:</p>
            <ul class="dysfunctions">
              <li>1 Pyrexia (Santapa)</li>
              <li>2. Yellowish discolouration of the external and internal body parts (Vahirantasca Pitta)</li>
              <li>3. Loose motions (Bhinnavarcasa)</li>
              <li>4. Pale eyes (Pandunetra)</li>  
            </ul>
            <h3 class="dysfunctions">Symptoms of Chronic hepatitis (Lagharaka and Alasakya)<sup>4</sup></h3>
            <p>Some of the common symptoms of these types of liver diseases are:</p>
            <ul class="dysfunctions">
              <li>1. Fever (Jvara)</li>
              <li>2. Giddiness (Bhrama)</li>
              <li>3. Emaciation (Karsya)</li>
              <li>4. Fatigue (Sadana)</li>
            </ul>
            <h3 class="dysfunctions">Symptoms of Jaundice with Ascites (Kumbhakamala)<sup>5</sup></h3>
            <p>People with Ascites associated jaundice shows the following symptoms:</p>
            <div class="clear10"></div>
            <ul class="dysfunctions">
              <li>1. Oedema in the joints (Sopha)</li>
              <li>2. Joints pain (Parva-bheda)</li>
            </ul>
          </div>
          <!-- <div class="row">
              <div class="col-1 col-lg-1 col-md-1"></div>
              <div class="col-10 col-lg-10 col-md-10">
                 <div class="carbohydrate-border">
                     <h3>Other factors implicated in hypertension4</h3>
                     <p><b>Samana Vayu</b> (balancing component of Vata humor) is believed to play a role in circulation. After digestion, ‘Samana Vayu’ aids in the transportation of the Rasa from the heart and circulating it to the entire body. </p>                     
                     <p><b>Apana Vayu</b> is responsible for removal of waste from the body. Vitiation of Apana vayu hinders the excretion of feces (Purisha) and urine (Mutra), disturbing the homeostasis and altering the blood pressure.</p>
                     <p><b>AvalambakaKapha</b> maintains muscle tone, contractility, and normal rhythm of the heart. Vitiation of AvalambakaKapha will affect the normal functioning of the heart.</p>
                    </div>
              </div>
              <div class="col-1 col-lg-1 col-md-1"></div>
            </div>  -->
            <div class="symptoms">
                <h3>Complications of Liver problems</h3>
                <p>When inflammation of the liver (chronic liver disease) persists for long period of time, i.e. for several years, there may be scarring of the liver tissue(Cirrhosis) and/ or end-stage liver disease. 
                </p>
              <p>The chronic liver disease also gives rise to these complications:</p>
                
                <ul class="dysfunctions">
                  <li>1. Portal hypertension</li>
                  <li>2. Bleeding disorders</li>
                  <li>3. Spontaneous bacterial infections (peritonitis)</li>
                  <li>4. Cirrhotic cardiomyopathy</li>
                  <li>5. Cerebral edema</li>
                  <li>6. Anaemia </li>
                  <li>7. Malnutrition</li>
                </ul>
                <p>The prognosis of the liver diseases depends on the amount of liver tissue damaged.</p>
                <h3>Risk factors for Liver problems<sup>1</sup></h3>
                <p>The presence of any of the following factors may increase the risk of an individual to acquire liver diseases:</p>
                
                <ul class="dysfunctions">
                    <li>1. Excessive consumption of alcohol</li>
                    <li>2. Obesity</li> 
                    <li>3. Diabetes</li>
                    <li>4. High cholesterol</li>
                    <li>5. Blood born viral diseases (hepatitis) </li>
                    <li>6. Exposure to harmful toxins</li>
                </ul>
                <h3>Diagnosis of Liver problems<sup>1</sup> </h3>
                <p><b>The following diagnostic tests are recommended to determine the exact stage of disease: </b></p>
                <ul class="dysfunctions">
                  <li><h3 class="dysfunctions">1. Liver function test (LFT):</h3>
                    <p>In this test, blood sample are analyzed to check the levels of the following parameters:</p>
                    <ul>
                      <li>-	Total protein level(albumin+ all other proteins in the blood )</li>
                      <li>-	Albumin, a type of protein produced by liver</li>
                      <li>-	Enzymes such as alkaline phosphatase (ALP), alanine transaminase (ALT), aspartate transaminase (AST) and 
                        gamma-glutamyltranspeptidase (GGT), all of which are found in the liver.</li>
                    </ul>
                  </li>
                  <li><h3 class="dysfunctions">2. Blood test:</h3>
                    <p>A sample of blood is collected to check for bilirubin levels in the body of an individual. An excess amount of bilirubin indicates jaundice.</p>
                  </li>
                  <li><h3 class="dysfunctions">3. Clotting time:</h3>
                  <p>In this test, the time taken for the blood to clot is determined. The liver produces some chemicals which plays a major role in blood clotting. 
                    A liver problem may result in the decreased production of clotting factors, which results in reduced clotting and uncontrolled bleeding.</p>
                  </li>
                  <li><h3 class="dysfunctions">4. Biopsy:</h3>
                  <p>A small amount of tissue is removed from the tissue of the liver for microscopic examination to detect the presence of liver diseases. </p>
                  </li>
                </ul>
            <p>Other tests such as ultrasound, computed tomography (CT) scan and magnetic resonance imaging (MRI) scan may also be performed to find out the presence of any structural damage to the liver tissue.  </p>
            </div>  

            <div class="">
                <h3>Solve your liver problems, the Ayurvedic way</h3> 
                <h3 class="dysfunctions">Keep your liver in check with a few lifestyle changes: </h3> 
                <p>Faulty eating habits and excessive drinking of alcohol are the faulty lifestyle practices that cause liver problems. Let us have a look at some of the lifestyle modifications which according to Ayurveda, would be very useful for people with liver diseases. </p>
                <h3 class="dysfunctions">Dietary modifications (Ahara)<sup>7</sup></h3>
                <p>The inclusion of the following in the diet is helpful in maintaining a healthy liver:</p>
                <ul class="dysfunctions">
                  <li>1.<span class="hbbold">Vegetables:</span> Bitter gourd, snake gourd, drumsticks, ginger.</li>
                  <li>2.<span class="hbbold">Fruits:</span> Bananas, grapes, amla, raisins, dried dates, avocados and almonds.</li>
                  <li>3.<span class="hbbold">	Cereals:</span> Barley, green gram and red rice</li>
                  <li>4.<span class="hbbold">Spices:</span> Cardamom, garlic.</li>
                </ul>
              </div>


              <div class="">
                <h3>Exercise (Vihara) <sup>7</sup></h3>
                <p>As most of the liver conditions are linked with obesity, regular physical activity helps in the management of body weight and decreases the risk of occurrence of liver diseases. </p>
                <p>Though many people consider going to the gym as an important form of doing physical activity, there are also many other ways to reduce weight, they are:</p>
                <ul class="dysfunctions">
                  <li>1. Jogging </li>
                  <li>2. Walking</li>
                  <li>3. Cycling</li>
                  <li>4. Swimming</li>
                </ul>
                <h3 class="dysfunctions">Changes in the daily routine (Acaharya) :</h3> 
                <p>The following daily routine (Dinacharya)can be adopted by every one of us to maintain a healthy liver:</p>
                <ul class="dysfunctions">
                  <li>1. Follow a regular schedule for daily meals.</li>
                  <li>2. Sleep early and wake up early (BrahmamuhurtaJagarana).</li>
                  <li>3. Take enough rest.</li>
                  <li>4. Limit the quantity of alcohol you take in.</li>
                  <li>5. Practise some form of physical activity regularly.</li>
                  <li>6. Perform yoga such as Suryanamaskar and meditation as a part of the daily routine.</li>
                </ul>
                <div class="col-12 col-sm-12 col-md-10 col-md-10 mx-auto">
                  <div class="carbohydrate-border">
                    <h3>Side-effects of drinking alcohol<sup>1</sup> </h3>
                    <p>Excessive drinking of alcohol may be hard on liver and it results in:</p>
                    <ul class="dysfunctions">
                      <li>1. Accumulation of fat in the liver due to a discrepancy in the metabolic activity of conversion of glucose into fat</li>
                      <li>2. Infection of the liver (alcoholic hepatitis) due to the consumption of large amounts of alcohol in a short span of time</li>
                      <li>3. Scarring of the liver, may be a permanent stage of liver damage</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="">
                <h3>To avoid liver troubles, prevention is better than cure</h3>
                <h3 class="dysfunctions">Ayurevdic Do’s and Don’ts</h3>
                <h3 class="dysfunctions">Do’s for Liver Diseases (Pathya)<sup>7,8</sup> </h3>
                <ul class="dysfunctions">
                  <li>1. Consume food items made of cereals such as old rice or old barley</li>
                  <li>2. Include more of green gram (mudga), toor dal (Adhaki) and lentils (masoora) in your regular meals</li>
                  <li>3. Drink meat soup which is rich in protein and has less fat</li>
                  <li>4. Maintain an ideal body weight</li>
                </ul>
                <h3 class="dysfunctions">Don’ts for Liver Diseases (Apathya):<sup>7,8</sup> </h3>
                <ul class="dysfunctions">
                  <li>1. Avoid the intake of spicy foods</li>
                  <li>2. Limit the consumption of meat</li>
                  <li>3. Avoid drinking alcohol regularly </li>
                  <li>4. Do not hold up the natural urges (Vegaavarodha)</li>
                  <li>5. Avoid excessive physical activity (Ativyayama)</li>
                  <li>6. Avoid late night sleeping habits (Diswapna)</li>
                </ul>
                <p>Liver problems are not always life-threatening. Early diagnosis of liver diseases can be treated effectively by the ayurvedic approach, which not only focuses on the medications but also on the diet and lifestyle modifications to prevent further damage.</p>
              </div>
                      
                  <div class="reference">
                      <h3>References:</h3>
                      <ul>
                        <li>1. Sonia Friedman, Richard S. Blumberg. Harrison's principles of internal medicine (19th edition). New York: McGraw Hill Education; 2015. Chapter 357, Approach to the Patient with Liver Disease;1989-1994</li>
                        <li>2. National Health Portal. Ayurvedic Perspective of liver. (Online) (Published on 12/02/2016, Cited on 5/09/2018). Available from: https://www.nhp.gov.in/ayurvedic-perspective-of-liver_mtl. </li>
                        <li>3. P.V Sharma. Chapter XVI, Section 6- On Treatment of Panduroga (Anemia). In:Caraka Samita. 2014 Edition. Varanasi: Chaukhambha Orientalia</li>
                        <li>4. Tomar G S. A review of Ayurvedic Hepatology and inferences from a pilot study on Kalmegh ( Andrographis Paniculata) intervention in hepatic disorders of variable etiology. Annals of Ayurvedic Medicine. Jan-Jun 2012;1(1-2): 44-52</li>
                        <li>5. P.V Sharma. Chapter XII, Section 6- On Treatment of Udara. In:Caraka Samita. 2014 Edition. Varanasi: Chaukhambha Orientalia</li>
                        <li>6. Rane J, Jadhao R, Bakal R L. Liver diseases and herbal drugs- A review. JIPBS. 2016; 3 (2): 24-36.</li>
                        <li>7. Goyal M, Remya E. Non-Alcoholic Fatty Liver Disease- An Ayurvedic pragmatic approach with its management. International Journal of Ayurvedic and Herbal Medicine. 2017; 7(6): 2948–29557.</li>
                        <li>8. Chauhan P,Kinja K, Ishan S, Gupta N. Liver disorders. IJRAP.2011; 2(2): 369-374</li>
                        </ul>
                  </div>    
            </div>
    </div>
</section>
<div class="mb-5 mt-5">
  <app-main-footer></app-main-footer>
</div>