<app-navigation></app-navigation>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 home-top">
    <app-floating></app-floating>
</div>
<div class="clear"></div>
<div class="container">
  <div class="row m-0">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <p class="blurtxt txtcenter">DIABETES</p>
      <div class="clear20"></div>
      <p class="txt1 txtcenter">Top 9 Measures To Prevent Foot
        Ulcers In Diabetics</p>
      <div class="clear10"></div>
      <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
      <div class="clear20"></div>
      <p class="topptxt txtcenter">If you have had diabetes for some time now, you are at an increased risk of having
        diabetic foot. Diabetes foot problems have been known to be one of the most common cause of hospitalisation in
        diabetics. </p>
      <div class="clear40"></div>
      <div class="row m-0">
        <div class="col-6 col-am-6 col-md-6 col-lg-6 borderright">
          <p class="byUStxt">By U.S. News Staff</p>
        </div>
        <div class="col-6 col-am-6 col-md-6 col-lg-6">
          <label class="byUStxt">Jan 03, 2018 at 7:45 pm</label>
        </div>
      </div>
      <div class="clear40"></div>
      <p class="paratxt3 txtcenter">But what has diabetes to do with your foot?
        Over time, high blood sugar levels in diabetics cause damage to the nerves which help us to perceive sensations
        such as touch, pain, temperature and pressure. This is called diabetic neuropathy. So, unlike normal people,
        chronic diabetics may be unable to sense pain when they have an injury in the foot. These injuries get
        unnoticed and then become infected and ulcerate over time. Plus, circulation is also a problem in diabetics.
        Impaired circulation also impairs healing. In some diabetics, the wounds do not heal at all.
        This is a serious problem because if not addressed on time, diabetic foot problems may lead to serious
        complications like gangrene due to which you may have to lose your limbs(amputation).
        Don’t get scared already. This can be prevented. All you need is to give some extra time and attention to your
        feet. Here are the top tips to prevent diabetic foot problems:</p>
      <div class="clear40"></div>
      <p class="paratxt1 txtcenter"> 1. Do not walk barefoot: </p>
      <p class="paratxt3 txtcenter">
        If you walk barefoot, there are greater chances for your foot getting injured by things lying in your path,
        such as pebbles, stones, sharp objects etc. If you are a diabetic, you may never know that you have a bruise or
        a cut (unless of course you check your feet). So, always wear a good pair of shoes and socks to protect your
        feet from any kind of external injuries.</p>
      <p class="paratxt1 txtcenter"> 2. Keep your feet neat: </p>
      <p class="paratxt3 txtcenter">
        Allot a specific time for cleaning your foot daily. Wash your feet with warm water and mild soap. Make sure you
        check the temperature of the water before you start cleaning. Do not soak your legs for too long as it can
        cause dryness an make your foot skin susceptible to injury. After cleaning thoroughly, pat your feet dry. Apply
        lotion to your feet to keep them well moisturised. But avoid putting too much lotion in between your toes.
        Excess moisture in these areas can increase the risk of skin infection and breakdown.</p>


      <p class="paratxt1 txtcenter"> 3. Have a regular foot check routine:</p>
      <p class="paratxt3 txtcenter"> You must inspect your foot multiple times a day. Check for cuts, blisters and
        sores, corns, calluses, swellings and even changes in skin color. Use a hand mirror to check the bottom of your
        foot. If you find it difficult to bend down for foot inspection, ask help from somebody. Do not forget to look
        in the areas between the toes as these areas are more prone to infection.</p>
      <p class="paratxt1 txtcenter">4. Take good care of your toe nails:</p>
      <p class="paratxt3 txtcenter">Nails should always be trim and should not have any sharp edges. The nails should
        be cut and filed with a good quality nail trimmer and filer. Do not ever use knives or razors to cut your nails
        as there is a serious risk of injury. Do not cut the cuticles (the dead skin present at the base of the
        fingernail or toenail).</p>

      <p class="paratxt1 txtcenter"> 5. Wear well-fitting shoes and socks:</p>
      <p class="paratxt3 txtcenter">

        Shoes and socks prevent foot trauma and also protect the foot from extreme temperatures. When you buy your
        shoe, make sure that it fits well, neither too tight, nor too loose. Always check the shoes before wearing
        them, check of there are any holes or sharp edges. Use a good fitting, light colored socks, so that even if you
        have any oozing of pus or blood, it would be clearly visible.</p>

      <p class="paratxt1 txtcenter">

        6. Avoid smoking:</p>
      <p class="paratxt3 txtcenter">

        Smoking also affects circulation. It would further complicate the effects of diabetes. So, if you are a
        diabetic, you should learn strategies to quit smoking. </p>

      <p class="paratxt1 txtcenter">7. Keep your foot moving:</p>
      <p class="paratxt3 txtcenter"> Moving your ankle and toes frequently ensures that your foot circulation is
        maintained. Ankle toe movements are perhaps the easiest exercise that can be done anywhere, anytime.</p>
      <p class="paratxt1 txtcenter">

        8. Avoid cross legged sitting for a long time:</p>
      <p class="paratxt3 txtcenter">
        Sitting cross-legged decreases the blood flow to your foot. So, do not sit cross-legged for a long time.</p>

      <p class="paratxt1 txtcenter"> 9. Recognise the signs:</p>
      <p class="paratxt3 txtcenter">
        All diabetics must know the signs of diabetic foot and signs that indicate injury to the skin and soft tissue
        of the foot. Consult your doctor if you notice these changes- skin discoloration and swelling, wounds and sores
        that have not healed over a long time, foul smell coming from a blister, pain and tingling in feet, no sweating
        in the feet- all these may indicate that you have diabetic foot.
        Follow these steps and keep foot problems at bay. Give time to yourself and your body and you sure would be
        able to overcome all challenges related to diabetes and its complications.</p>



      <div class="clear40"></div>
      <hr />
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 topreads">
        <p class="txt1 txtcenter">Top Reads </p>
        <div class="clear10"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 txtcenter">
          <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
        </div>
        <div class="clear20"></div>
      </div>
      <div class="row m-0">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
          <img src="././assets/images/b-food.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <label class="diseasestxt">Digestive Health</label>
          </div>
          <label class="diseasestxt2">14 best & worst foods for your ...</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
            <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
          <img src="././assets/images/safron.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <label class="diseasestxt">SKIN</label>
          </div>
          <label class="diseasestxt2">Saffron for good health..</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
            <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
      </div>
      <div class="clear20"></div>
      <div class="row m-0">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
          <img src="././assets/images/b-food.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <label class="diseasestxt">Digestive Health</label>
          </div>
          <label class="diseasestxt2">14 best & worst foods for your ...</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
            <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
          <img src="././assets/images/safron.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <label class="diseasestxt">SKIN</label>
          </div>
          <label class="diseasestxt2">Saffron for good health..</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
            <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
      </div>
      <div class="clear40"></div>
      <hr />
    </div>
  </div>
  <div class="clear40"></div>
  <div class="row m-0">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
      <label class="txt1">Related Articles</label>
      <div class="clear10"></div>
      <img class="img-fluid iwidth" src="../../assets/images/big_border.png">
      <div class="clear20"></div>
    </div>
    <div class="clear40"></div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
      <img src="././assets/images/awellness.png">
      <div class="clear10"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <label class="diseasestxt">wellness</label>
      </div>
      <label class="diseasestxt2">Low calorie diet
        to lose weight...</label>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
        <button class="btn read_morenew">READ MORE</button>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
      <img src="././assets/images/asuryanamaskar.png">
      <div class="clear10"></div>
      <div class="col-12 col-md-12 col-sm-12 col-lg-12 text-center">
        <label class="diseasestxt">healthy food</label>
      </div>
      <label class="diseasestxt2">Food & Activity
        Journal for...</label>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
        <button class="btn read_morenew">READ MORE</button>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
      <img src="././assets/images/plane.png">
      <div class="clear10"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <label class="diseasestxt">kids & teens</label>
      </div>
      <label class="diseasestxt2">Young overweight
        & Obesity in...</label>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
        <button class="btn read_morenew">READ MORE</button>
      </div>
    </div>
  </div>
  <div class="clear70"></div>
</div>