<app-navigation></app-navigation>
<app-floating></app-floating>

<section class="declaimer">
  <div class="container pt-5 text-center">
    <h1>Hair fall</h1>
    <img src="././assets/images/big_border.png">
<div class="maindiv mt-4 text-left">
  <h3>Are you suffering from hair-loss?  </h3>
  <p>Hair-loss is one of the most common problems all over the world. Though losing hair is not a serious health issue, it has a significant impact on the aesthetics of an individual. This leads to depression, loss of confidence and low self-esteem. No wonder hair-fall treatment is a billion-dollar industry today! </p>
  <p>It is normal to lose around 50-100 hair strands a day. One should remember that hair fall is usually temporary, and lost hair grows back; it is a part of ageing. Excess hair-fall can be genetic, due to an illness, stress, iron deficiency, or as a side effect of any medication.</p>
  <p>Hair enhances the beauty of an individual. Baldness is considered to be a curse. Even though hair fall is a very common problem, very few people receive treatment for it, considering the side effects of the available therapies. However, Ayurvedic science suggests the treatment for hair fall without any side effects – with an emphasis on a healthy diet and lifestyle modifications. </p>
  
  <h3>Can hair loss be treated with Ayurveda? </h3>   
  <p>In Ayurveda, loss of hair is known as Khalitya. Ayurvedic treatment aims to address the root cause of hair fall.</p> 
  <p>Based on the causes, hair fall can be classified into four different types: </p>
    <ul class="dysfunctions"> 
       <li>•	Hereditary hair-loss</li>
       <li>•	Autoimmune hair loss</li>
       <li>•	Hair-loss due to underlying disease</li>
       <li>	•	Hair loss as a result of chemotherapy</li>      
     </ul>

     <h3>What causes hair fall? (Nidana)</h3>
      <p>Different types of hair fall have different causes, such as: </p>
        <p>1)	Diffuse scarring alopecia</p>
        <ul class="dysfunctions"> 
          <li>a.	Telogen effluvium (illness in previous 2– 3 months)</li>
          <li>b.	Post- partum</li>
          <li>c.	Androgenetic alopecia</li>
          <li>d.	Thyroid disease or iron deficiency anaemia</li>
          <li>e.	Certain drugs</li> 
          <li>f.	Rare congenital causes</li>     
        </ul>


        <p>2)	Scarring alopecia</p>
          <ul class="dysfunctions"> 
            <li>a.	Trauma: including radiotherapy</li>
            <li>b.	Tumours</li>
            <li>c.	Benign: naevus sebaceous </li>
            <li>d.	Malignant: Basal cell carcinoma (BCC), Squamous cell carcinoma (SCC), metastatic deposits</li>
            <li>e.	Discoid lupus erythematosus (DLE) </li> 
            <li>f.	Acne keloidalis</li>     
          </ul>



          <h3>Pathophysiology (Samprapti)</h3>
          <p>Vata joins with body heat and burns the hair ground shortly, which eventually leads to baldness.</p>
          <p>Hair follicles (romakupagata) contain bhrajaka pitta, a type of pitta, which promotes healthy hair. Khalitya is primarily a pitta dominant tridoshajanyavyadhi. Deranged pitta and vata dosha in the hair follicle act upon the root, and shaft of the hair till the hair tips cause hair fall.</p>
          <p>Deranged pitta also leads to a derangement of Rakta Dhatu (blood cells) and Kaphadosha. The kaphadosha loses its normal consistency and becomes more vicious and sticky. As a result of these changes, Kapha along with Rakta Dosha blocks the opening of the pore, or hair follicles, in such a way that normal hair growth is inhibited.</p>
          
          <h3>Symptoms (Rupa)</h3>
          <p>Gradual loss or fall of hair is the only sign associated with hair fall. The symptom of hair fall is exhibited by abnormal loss of hair which may be mild (loss of around 100 hair per day) or severe (accounts to loss of 100 to 200 hair per day).</p>
          
          <div class="col-12 col-sm-12 col-md-10 col-lg-10 mx-auto">
              <div class="carbohydrate-border">
                <p> Alopecia areata (Indralupta) or hair loss in patches in the scalp is a common autoimmune disease that leads to hair loss on the scalp and in other body parts. It mainly occurs before the age of 30 years. The word “areata” indicates hair loss in patches. Alopecia areata usually starts with small, round bald patches on the scalp and progresses to total scalp (alopecia totalis) or even can progress to complete hair loss in the body (alopecia universalis).</p>
              </div>
          </div>
          

  
          <h3 class="dysfunctions">Diagnosis</h3>
          <p>The diagnosis of hair fall is done through various steps known as TrividhaPareeksha (Tri-examination system) of the patient which includes:</p>
          <p>1. Darshana (Inspection): In this process, the doctor would examine the extent of baldness, dandruff, and/ or dry hair roots. The doctor also examines if there is single or multiple patch of hair loss.</p>
          <p>2. Sparshana (Palpation): In this process of examination, the doctor usually checks for dryness of the skin (saririkrukshata) to rule out VataDusti; teeth and bone health to rule out osteoporosis (asthikshaya) and AsthiPradhosaja (bone deformities); nail, eye brow and facial hair to rule out rakatajkrimi (infestation of parasites), dry, rough and yellow skin to examine chronic vitamin A toxicity, swelling and deformities in small joints to rule out rheumatoid arthritis, mouth ulcers, butterfly rashes to rule out SLE (systemic lupus erythematosus).</p>
          <p>3. Prashna (Questioning): In this process, the doctor would ask questions to the patient related to</p>
          <ul class="dysfunctions">
              <li>•	Diet- like salt intake and other pitta aggravating food intake</li><br>
              <li>•	Number of hair that fall in a day (100 or more)</li><br>
              <li>•	Any scalp problems like dandruff</li><br>
              <li>•	Soap, shampoo, hair colors used by the patient </li><br>
              <li>•	If the patient is undergoing any particular treatment like chemotherapy, radiotherapy, anti-hypertensive drugs, anti-diabetic drugs, contraceptive pills, anti- epileptic drugs, long term use of steroid, etc. </li><br>
              <li>•	If the patient has any medical conditions like thyroid dysfunction, systemic lupus erythematosis, or rheumatoid arthritis</li> <br>
              <li>•	If the patient is going through any sort of stress in the family, social, occupational or academic level</li> <br>
              <li>•	Sleep pattern</li> 
            </ul> 

            <p>Other tests that are recommended for the diagnosis of hair fall are listed below: </p>
          <ul class="dysfunctions">
              <li>•	Scalp biopsy: In this procedure, skin scrapes from the scalp or few hair will be plucked to examine the root of the hair for any infections that may lead to hair fall.</li><br>
              <li>•	Blood test: Blood test helps the doctor to find any underlying medical condition which is responsible for hair fall.</li><br>
              <li>•	Light microscopy: In this process, the doctor trims the hair at the bases and studies it under the microscope to check for any possible disorder in the shaft of the hair.</li><br>
              <li>•	Pull test: In this test procedure, the doctor may pull several dozens of hair together to check how many hair strands come out. This test helps to determine the severity of hair fall. </li>
          </ul> 

          <h3>Stop hair fall, with the help of Ayurveda </h3>
          <h3>Ayurvedic Therapy:</h3>
          <p>Panchakarma treatment which helps to restore hair growth, includes the following techniques:</p>
          <ul class="dysfunctions">
              <li>•	Shiroabhyanga: Massage of the scalp with warm oil to prevent dry scalp and enhance the lustrous nature of hair</li><br>
              <li>•	Shirolepa: In this process, a herbal paste is applied to the scalp. Paste is usually prepared by using herbs like triphala, amalaki, bhringaraj, neeli, etc.</li><br>
              <li>•	Nasya: In this process, medicated oil/liquid is administered through the nose, which enhances blood circulation.</li><br>
              <li>•	Shirodhara: Shirodhara is the process in Ayurvedic therapy that includes gently pouring of medicated liquids on the forehead. This technique of treatment helps to alleviate stress and strengthen the nervous system.</li><br>
              <li>•	Other external ointments (lepa) to prevent hair loss and graying of hair includes Murrayakoenigii (curry leaves), henna, black tea, coconut milk, fenugreek paste and yogurt.</li><br>
          </ul> 

          <h3>Lifestyle Modifications:</h3>
          <h3>Diet</h3>
          <p>A well-balanced diet providing adequate nutrition and proper digestion is very essential for healthy and lustrous hair. The following things should be included in the daily diet regime:</p>
          <ul class="dysfunctions">
              <li>•	Vegetables like kale, chard, collard, mustard greens, arugula, pumpkin</li><br>
              <li>•	Fresh juices of carrot, alfalfa, spinach, lettuce</li><br>
              <li>•	Sesame seeds (til) and fenugreek (methi)</li><br>
              <li>•	Whole grains</li><br>
              <li>•	Dairy products like milk, cheese, yogurt</li><br>
              <li>•	Fruits include all juicy fruits, coconut</li><br>
              <li>•	Nuts like Walnuts, raisins</li><br>
              <li>•	Spices like sesame seed (til), fenugreek (methi), cilantro, cumin, black pepper, turmeric, curry leaves</li><br>
              <li>•	Drink adequate amount of water regularly</li><br>
          </ul> 

          <h3>Pathya</h3>
          <ul class="dysfunctions">
              <li>•	Sleep adequately as it promotes rejuvenation of hair, prevents stress and increases energy levels.</li><br>
              <li>•	Use gentle and natural shampoos or hair products that are free from harmful chemicals.</li><br>
              <li>•	Wash hair with chlorine-filtered water.</li><br>
              <li>•	Practice dinacharya (Ayurvedic daily routine) that includes waking up in the morning before 6:00 a.m, eating the main meal during lunch and going to bed before 10:00 pm. This helps to balance the three fundamental doshas- vata, pitta and kapha.</li><br>
              <li>•	Brush your hair every night to stimulate the scalp and enhance the growth of healthy, lustrous hair. Use smooth long strokes from the scalp to the tip of the hair.</li><br>
              <li>•	Use wooden comb to avoid generation of static electricity.</li><br>
          </ul> 

          <h3>Apathya</h3>
          <ul class="dysfunctions">
              <li>•	Avoid heavy meals (Guru ahara).</li><br>
              <li>•	Avoid cold food (atisheetaahara).</li><br>
              <li>•	Avoid spicy food.</li><br>
              <li>•	Avoid excessive hot food (atiushna)</li><br>
              <li>•	Avoid sleeping at daytime (diva-svapna).</li><br>
              <li>•	Avoid incompatible foods (virudhaanna).</li><br>
              <li>•	Avoid frequent use of shampoo.</li><br>
              <li>•	Avoid using hair dryer</li><br>
              <li>•	Avoid suppressing natural urges.</li><br>
              <li>•	Avoid exposure to cold breeze during night outs.</li><br>
          </ul> 
          <p>Various diet and lifestyle modifications, along with Ayurvedic therapy like Panchakarma and Ayurvedic formulations, can effectively prevent and cure hair loss without any side effects. The effects of Ayurvedic therapy can be seen, not only in the disease symptoms but also in the general health of an individual.</p>
          <div class="reference">
            <h3>Reference:</h3>
            <ul class="dysfunctions">
                <li>1.	Phillips TG, Slomiany WP, Allison R. Hair Loss: Common Causes and Treatment. Am Fam Physician. 2017 Sep 15; 96(6):371-378.</li><br>
                <li>2.	P.V Sharma. Chapter XXVI, Section 6- On Treatment Of The Disorders Of Three Vital Organs. In: Caraka samita. 4th edition .1998. Varanasi. Chaukhambha Orientalia:2017</li><br>
                <li>3.	Soni A, Chaudhury S, Soni S. Ayurvedic management of Alopecia (Khalitya) - A Case Study. International Journal of Applied Ayurved Research. 2017. 3(1). 155-159</li><br>
                <li>4.	Kumari M, Sharma A, Porte SM. Ayurvedic method of diagnosis, prevention and cure of hair fall (Alopecia). WJPR.2018; 7(3): 1491-1501</li><br>
                <li>5.	A.P. Pathak, S Misar. Management of Khalitya (Hair Fall) By Ayurvedic Formulations –A Review. International Ayurveda Publication. 2017;2(5): 675-680</li>
            </ul> 
          </div>

          <!-- <h3 class="dysfunctions">Diagnosis4   </h3> 
          <p>The diagnosis of hair fall is done through various steps known as TrividhaPareeksha (Tri-examination system) of the patient which includes:</p>
            <ul class="dysfunc  tions">
              <li>1. Darshana (Inspection): In this process, the doctor would examine the extent of baldness, dandruff, and/ or dry hair roots. The doctor also examines if there is single or multiple patch of hair loss</li>
              <li>-	Lack of ejaculation (Nirvirya)</li>
              <li>-	The absence of erection (Dhvajanuccharya)</li>
              <li>-	Inability to perform a sexual act (Suratasaktata) </li>
              <li>-	Profuse sweating (SvinnaGatrata) </li>
              <li>-	The absence of frothy formation in urine</li> 
              <li>-	Swelling, pain and redness of penis</li> 
              <li>-	Ring like hardness in the circumference of the penis</li> 
              <li>- Pain in the pelvis, testicles and groin </li>
            </ul> -->
   
          <!-- <h3 class="dysfunctions">•	DhvajabhangajaKlaibya: </h3>
    <p>Dhwaja in this context means penis and bhanga means change in the structure. Any change in the structure of the penis causes inflammatory changes and ulceration in the genital areas. This leads to pain and discomfort during intercourse. Gradually, the ulcer may penetrate the deeper tissues and destroy the blood vessels, muscles and nerves present in the male genitalia, leading to a permanent erectile dysfunction.</p>

    <h3 class="dysfunctions">•	BijopaghatajaKlaibya: </h3>
    <p>According to Chakrapani, factors like consuming dry or incompatible food, excessive food intake, excessive physical activity, sorrow or grief cause an aggravation of the vatadosha, and diminution of semen (Shukrakshaya). This may lead to erectile dysfunction.</p>
   
    <h3 class="dysfunctions">•	JarajaKlaibya: </h3>
    <p>This type of erectile dysfunction mainly occurs in old-age or due to consumption of anaphrodisiac foods (avrishyaahara). Such conditions cause a decrease in tissue fluids (rasa dhatu). In elderly males, the decrease in the level of testosterone (the main androgenic hormone) leads to a decrease in the production of sperms, which in turn decreases the force of erection and ejaculation.</p>

    <h3 class="dysfunctions">•	Shukrakshayaja Klaibya2: </h3>
    <p>According to Charaka, factors like regular consumption of hot and spicy food, psychological factors like anger or depression cause an increase in the vatadosha, which leads to a decrease in the tissue fluids. Subsequently there is progressive loss of all body tissue elements (dhatukshaya), including seminal fluid. </p>

    <h3 class="dysfunctions">What are the symptoms to look out for (Rupa)5?  </h3> 
      <p>The symptoms or Rupa of erectile dysfunction are:</p>
        <ul class="dysfunctions">
          <li>-	Constriction of the penis (MlanaSisnata)</li>
          <li>-	Lack of ejaculation (Nirvirya)</li>
          <li>-	The absence of erection (Dhvajanuccharya)</li>
          <li>-	Inability to perform a sexual act (Suratasaktata) </li>
          <li>-	Profuse sweating (SvinnaGatrata) </li>
          <li>-	The absence of frothy formation in urine</li> 
          <li>-	Swelling, pain and redness of penis</li> 
          <li>-	Ring like hardness in the circumference of the penis</li> 
          <li>- Pain in the pelvis, testicles and groin </li>
        </ul>

    <h3 class="dysfunctions">Can erectile dysfunction lead to other problems (Upadrava)6? </h3> 
      <p>The following are the complications associated with erectile dysfunction:</p>
        <ul class="dysfunctions">
          <li>-	Low self-esteem </li>
          <li>-	Unhappy sexual life</li>
          <li>-	Strained relationships</li>
          <li>-	Psychological symptoms like anxiety and depression</li>
        </ul>

    <h3 class="dysfunctions">Risk factors for Erectile Dysfunction9: </h3> 
      <p>The following factors increase the susceptibility to erectile dysfunction:</p>
        <ul class="dysfunctions">
          <li>	•	Old age</li>
          <li>•	Prolonged usage of medicines like steroids</li>
          <li>•	Psychological issues like depression or anger</li>
          <li>•	Obesity </li>
          <li>•	Lifestyle habits like smoking and drinking alcohol</li>
          <li>•	Medical conditions such as heart disease and diabetes</li> 
          <li>•	Psychological conditions such as anxiety and stress</li> 
        </ul>

        <h3 class="dysfunctions">Diagnosis:</h3>.
        <p>Patient history: Patient  information related to onset of symptoms, duration of erection, sexual drive, history of pelvic trauma, recent surgeries and other treatments around the pelvic area, medications, and comorbid conditions is gathered and clinically correlated. </p>
        <p>Physical examination: The penis size and shape is determined, presence of conditions that may have caused secondary ED - such as thyroid conditions, sexual development - is assessed. </p>

        <p>Lab tests: </p>
        <p>The following parameters are evaluated:</p>
          <ul class="dysfunctions">
            <li>1. Serum testosterone levels: Low levels indicate that erectile dysfunction is hormonal in origin. </li>
            <li>2. Complete blood picture</li>
            <li>3. Thyroid profile and blood sugar levels</li>
            <li>4. Serum prostate antigen (PSA): To determine prostate diseases</li>
          </ul>
        <p>Other tests: Some tests may be recommended to determine blood flow though the penis, such as penile Doppler ultrasound, penile angiography, dynamic infusion cavernosography/ cavernosometry</p>

        <h3 class="dysfunctions">Treatment of Erectile dysfunction:</h3>.
        <p>Ayurvedic treatment for erectile dysfunction includes both herbal treatments and Ayurvedic drug treatment.</p>

        <div class="col-12 col-sm-12 col-md-10 col-lg-10 mx-auto">
            <div class="carbohydrate-border">
              <h3 class="dysfunctions">The cure for your ED is there in your pantry</h3>
              <p>The following items from your kitchen will help to improve your stamina and sexual performance </p>
              <ul class="dysfunctions">
                  <li> <span class="hbbold">•	Honey: </span>
                    It is an energy-booster and is rich in vitamin-B, amino acids and minerals-all of which are helpful in improving sexual potency.</li>
                    <br>
                    <li> <span class="hbbold">•	Chocolates:</span>
                      They contain natural antidepressants, which improve brain activity and stimulate emotions such as pleasure or romance.</li>
                      <br>
                      <li> <span class="hbbold">•	Saffron:  </span>
                        This spice can be used while cooking or can be consumed with milk.  It improves the blood flow to the reproductive organs.</li>
                </ul>
            </div>
          </div>


          <h3 class="dysfunctions">Lifestyle measures to battle Erectile Dysfunction:</h3>
          <p>Ayurveda also lays emphasis on dietary modifications and other lifestyle changes, which in turn help in treating erectile dysfunction and improving sexual health.</p>
     
           <h3 class="dysfunctions">Dietary modifications (Ahara)</h3>
          <p>Ayurveda depicts shukradosha (diminution of semen) as the main cause of erectile dysfunction. The following dietary and lifestyle modifications are recommended to reduce aggravated shukradosha:</p>
     
          <ul class="dysfunctions">
              <li> <span class="hbbold">•	Vegetables:</span>
                Beans, potatoes, brinjal, carrots, soya beans and spinach</li><br>
              <li> <span class="hbbold">•	Cereals:  </span>  Wheat and rice
              </li> <br>
              <li> <span class="hbbold">•	Pulses: </span>  
                Black gram</li><br>
              <li> <span class="hbbold">•	Fruits:</span>  
                : Apples, mangoes, bananas, papaya, pineapple, watermelon, pomegranate and cherries</li><br>
              <li> <span class="hbbold">•	Nuts:</span>  
                Almonds, coconuts, pine nuts, walnuts</li><br>
              <li> <span class="hbbold">•	Spices:  </span>  
                Ginger, black pepper, aniseed, basil, chillies, cinnamon, coriander, garlic and cardamom</li><br>
              <li> <span class="hbbold">•	Meat :  </span>  
                Chicken and goat meat prepared as soups and curries </li>
              <li> <span class="hbbold">•	Eggs</span>  
                Medical conditions that require a catheter or tube inside the urethra and bladder.   </li>
          </ul>

          <div class="col-12 col-sm-12 col-md-10 col-lg-10 mx-auto">
              <div class="carbohydrate-border">
                <h3 class="dysfunctions">Vajikarana therapy</h3>
                <p>In Sanskrit, Vaji means horse, which is a symbol of sexual potency. Thus, Vajikarana is producing a horse’s strength and stamina in the context of sexual activity. </p><br>
                <p>Vajikarana is a type of ayurvedic treatment in which the potential of the man is increased by the use of ayurvedic medicines or therapy. This helps him to participate in sexual activities with greater strength and vigor (AstangaHridyaUttaraSthana).</p><br>
                <p>Vajikaranaor Vrishyachikitsa is one of the eight specialities of Ashtanga Ayurveda. This method involves a strict adherence to a lifestyle that has been depicted in the Ayurvedic classics. The following are some of the therapies included in Vajikarana:</p><br>

                <ul class="dysfunctions">
                    <li> >•	Body cleansing (Shodhana) therapies</li>
                      <br>
                      <li> •	Emesis (Vaman) therapies</li>
                        <br>
                        <li>•	Purgation (Virechana) therapies</li><br>
                        <li>•	Sweating (Swedana) therapies</li>
                  </ul>
                  <p>The other components of therapy include- wearing fragrant garlands, body massage with medicated herbal oils, applying fragrant herbal pastes on the body, listening to music etc.</p>
                  <p>The above-mentioned steps of vajikarana help to revitalise the body elements (dhatus) and also restores the energy of an individual.</p>
                </div>
            </div>

            <div class="col-12 col-sm-12 col-md-10 col-lg-10 mx-auto">
                <div class="carbohydrate-border">
                  <h3 class="dysfunctions">An Ayurvedic guide to Sexual wellness:</h3>
                  <p>Talking about sex has always been a taboo in Indian society. But since ancient days, Ayurvedic science has been providing excellent tips for improving the sexual health of both males and females. </p><br>
                  <p>Ayurveda considers sex and sexual intercourse not only as an activity that gives pleasure but also as one that enhances the emotional bond and mutual respect between both partners. The couple maintain equilibrium and achieve sexual satisfaction in an activity. In Ayurveda, Sex (Kama) is considered to be a valid and legitimate goal of human life.</p><br>
                  <p>One of the most vital aspects of sex in Ayurvedic literature is Shukra. Shukra refers to sperms, ovum, sex hormones and a matter-based potency in every cell. The presence of this Shukra in each cell is responsible for the regeneration of the cells. The food we consume undergoes several levels of metabolic transformation to form Shukra. It is present in our body since birth, but it acts as a major driving force in the body after puberty sets in. </p><br>
                  <p>The Shukra in our reproductive organs is the cause for procreation and that present in other parts of the body becomes responsible for the beauty and sexual attraction in both males and females. This effect of Shukra begins to decrease with the process of ageing.</p>
                  <p>According to Ayurveda, the following sexual cycles are helpful in healthy sexual management:</p>

                  <ul class="dysfunctions">
                      <li>•	Diurnal sexual cycle, practising sex in the nighttime is recommended than during day times.</li>
                        <br>
                        <li> •	As the body’s shukra levels begin to deplete according to age, the ideal age to have good sexual activity is in the age between 18 years to 25 years. </li>
                          <br>
                          <li>•	Avoid sex when women are in their periods or active menstrual cycle. This is to avoid the effect of aggravated vata dosha during this phase.</li><br>
                          <li>•	Do not indulge in sex if you are too hungry or thirsty, and immediately after a meal.</li>
                    </ul>
                    <p> Ayurveda also recommends the consumption of warm milk after coitus to replenish the lost vigor.</p>
                    
                  </div>
              </div> -->
    
             
           
            </div>
    </div>
</section>
<div class="mb-5 mt-5">
  <app-main-footer></app-main-footer>
</div>