<app-navigation></app-navigation>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 home-top">
        <app-floating></app-floating>
</div>
<div class="clear"></div>
<div class="container">
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <p class="blurtxt txtcenter">UTI</p>
          <div class="clear20"></div>
          <p class="txt1 txtcenter">Top 7 Habits To Change If 
            You Have Recurrent UTI </p>
              <div class="clear10"></div>
              <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
              <div class="clear20"></div>
              <p class="topptxt txtcenter">Urinary tract infections (UTIs) affect nearly 50% of women at least once in their lifetimes </p>
              <div class="clear40"></div>
              <div class="row m-0">
                <div class="col-6 col-am-6 col-md-6 col-lg-6 borderright">
                  <p class="byUStxt">By U.S. News Staff</p>
                </div>
                <div class="col-6 col-am-6 col-md-6 col-lg-6">
                     <label class="byUStxt">Jan 03, 2018 at 7:45 pm</label>
                  </div>
              </div>
              <div class="clear40"></div>
              <p class="paratxt3 txtcenter">Urinary tract infections (UTIs) affect nearly 50% of women at least once in their lifetimes. UTIs can infect any part of the urinary tract. This type of infection can be treated with antibiotics. If left untreated, the infection may progress and affect the kidneys; in such cases, the individual might need to be hospitalized immediately. 
                The exact cause why some people get recurrent UTIs, and others don’t is not well understood. However, women are more prone to UTIs than men, as they have a shorter urethra that is close to the anus, allowing the bacteria to enter the urinary tract easily. But, men are more likely to get recurrent UTIs, because the bacteria may reach the deep tissues of the prostate that cannot be eliminated easily. Also, people with diabetes who have trouble peeing are more prone to repeated UTIs. 
                In people with chronic UTI, the infection might progress to other parts of the urinary tract despite the treatment, or it may recur after the treatment. Some simple steps can be adopted in the daily routine to reduce the risk of UTI. But, it must be noted that these techniques may work for some individuals and may not be effective for others. This article will provide an insight into the habits that may increase the risk of infection and suggest ways to prevent recurrent UTI.</p>
              <div class="clear40"></div>
              <p class="paratxt1 txtcenter">1.	Waiting to pee:</p>
              <p class="paratxt3 txtcenter">  Holding in urine for long hours allows the bacteria to multiply  rapidly in individuals with a history of UTI. During sexual intercourse, the urethra is exposed to several bacteria that can cause the infection. So, it is advised to urinate after sex and when you feel the urge.</p>
              <p class="paratxt1 txtcenter">2.	Taking baths: </p>
              <p class="paratxt3 txtcenter">Individuals who take baths in a tub or a jacuzzi are at high risk of recurrent UTI. Soaking in a bath for long durations allows the bacteria and other chemicals to enter the urinary tract easily. Thus, it is recommended to take showers instead of baths with scented soaps, salts, or bath oils.
              </p>
           
           
              <p class="paratxt1 txtcenter">  3.	Not drinking enough water:</p>
              <p class="paratxt3 txtcenter"> 
                Individuals who do not consume enough fluids are at increased risk of recurrent UTI. Drinking plenty of water, fills the bladder frequently. When urinating, the pee flushes the bacteria in and around the urethra. Hence, it is suggested to drink 6 to 8 glasses of water, fruit juices, herbal teas, and other beverages to reduce the risk of infection in individuals previously diagnosed with UTI.</p>

                

              <p class="paratxt1 txtcenter">4.	Shunning citrus fruits:</p>
              <p class="paratxt3 txtcenter">
                People who do not eat vitamin C containing fruits are prone to recurrent UTIs. Ascorbic acid or vitamin C increases the acidity of the urine and inhibits the growth of bacteria. Cranberry juice without sugar is believed to prevent the adherence of bacteria onto the urinary tract. Thus, it is advised to include citrus fruits such as lemon, oranges, grapefruits, kiwifruit and cranberry juice in your diet.</p>
            
              <p class="paratxt1 txtcenter">5.	Using feminine products:</p>
              <p class="paratxt3 txtcenter">
                Feminine hygiene products used on the genitals may irritate the urinary tract and increase the risk of UTI recurrence. Avoid the use of products like the intimate washes, scented sprays, douches, fragrant tampons, and scented sanitary napkins. Instead, cleanse the area with sterile water and use unscented tampons.</p>
              
              <p class="paratxt1 txtcenter">6.	Wearing undergarments of synthetic material:</p>
              <p class="paratxt3 txtcenter"> 
                Underwear made of synthetic fabrics trap the moisture and keeps the genital area moist and warm. These undergarments increase the risk of infections. Instead of using silk, polyester, or nylon undergarments, wear cotton fabrics that are more breathable, letting air to circulate and avoiding the bacterial growth.</p>
               
              <p class="paratxt1 txtcenter">

                7.	Wiping from back to front:</p>
              <p class="paratxt3 txtcenter"> 
                Wiping in the wrong direction, i.e., from back to front, allows the bacteria from the anus to enter the urinary tract, especially for women. This increases the risk of developing UTI. So, while using a tissue paper, wipe from front to back to prevent recurrent UTI.</p>
                
              <p class="paratxt3 txtcenter">UTIs are troublesome for most individuals. Some individuals are more prone to the recurrence of the infection. The habits mentioned above can enhance the risk of recurrence. So, it is advised to avoid these habits to reduce the incidence of UTI. In case the infection progresses, seek immediate medical intervention.</p>
              
                          <div class="clear40"></div>
                          <hr/>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 topreads">
            <p class="txt1 txtcenter">Top Reads </p>
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 txtcenter">
                <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
            </div>
            <div class="clear20"></div>
        </div>
        <div class="row m-0">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
            <img src="././assets/images/b-food.png">
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <label class="diseasestxt">Digestive Health</label>
            </div>
            <label class="diseasestxt2">14 best & worst foods for your ...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/safron.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">SKIN</label>
              </div>
              <label class="diseasestxt2">Saffron for good health..</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
        </div>
        <div class="clear20"></div>
        <div class="row m-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/b-food.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">Digestive Health</label>
              </div>
              <label class="diseasestxt2">14 best & worst foods for your ...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
                <img src="././assets/images/safron.png">
                <div class="clear10"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <label class="diseasestxt">SKIN</label>
                </div>
                <label class="diseasestxt2">Saffron for good health..</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                    <button class="btn read_morenew">READ MORE</button>
                </div>
              </div>
          </div>
          <div class="clear40"></div>
          <hr/>
      </div>
  </div>
  <div class="clear40"></div>
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <label class="txt1">Related Articles</label>
          <div class="clear10"></div>
          <img class="img-fluid iwidth" src="././assets/images/big_border.png">
          <div class="clear20"></div>
      </div>
      <div class="clear40"></div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
          <img src="././assets/images/awellness.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <label class="diseasestxt">wellness</label>
          </div>
          <label class="diseasestxt2">Low calorie diet
              to lose weight...</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
              <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
            <img src="././assets/images/asuryanamaskar.png">
            <div class="clear10"></div>
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 text-center">
                <label class="diseasestxt">healthy food</label>
            </div>
            <label class="diseasestxt2">Food & Activity
                Journal for...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
              <img src="././assets/images/plane.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">kids & teens</label>
              </div>
              <label class="diseasestxt2">Young overweight 
                  & Obesity in...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
  </div>
  <div class="clear70"></div>
</div>
