<app-navigation *ngIf="showHeader" ></app-navigation>
<section class="home-top pt-5"> 
    <app-floating></app-floating>
  <div class="container "> 
      <h1 class="main_title">Hypertension</h1>
    <h1 class="main_title2">“a global disease and is a major cause for death”</h1>

    <div class="clearfix"></div>
<div class="clear20"></div>
<div class="HedingMapContentBox col-12 col-sm-12 col-md-12 col-lg-11">
  <div class="row graphtxtr">
      <div class="col-12 col-sm-12 col-md-4 col-lg-3">
        <div class="col-12 col-lg-12 text-center">
          <img src="././assets/images/world-map.png">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-8 col-lg-4 padlrn">
        <div class="col-12 col-lg-12 text-left padlrn">
          <div class="row">
            <div class="col-6 col-md-3 col-lg-4  Around50Text2 Around50Text  text-center">
              <p>Globally, 
              </p>
              <h1>1/8</h1>
            </div>
            <div class="col-6 col-md-9 col-lg-8 m-l-25 padlrn">
              <div class="clear10"></div>
                <div class="BorderBotton"></div>
                <p class="million1"> deaths occur due to 
                  high blood pressure
                    </p>     
              </div>
          </div>
          <div class="BorderBotton"></div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-1 mrgnt15 txtalligncenter1 text-center">
          <img src="././assets/images/india.png">
      </div>
      <div class="col-12 col-sm-12 col-md-8 col-lg-4">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                  <div class="col-10 col-sm-10 col-md-6 col-lg-10">
                      <span class="million1">High BP accounts for</span>
                  </div>
                  <div class="col-2 col-sm-2 col-lg-1 col-md-1 padlrn">
                    <div class="clear20"></div>
                      <div class="BorderBotton"></div>
                  </div>
                </div>
                  
              </div>
              <div class="col-6 col-sm-6 col-md-3 col-lg-4 m-t-18">
                  <h1 class="seventytwo">1.1</h1>
                  <p class="million"> million</p>
                   
              </div> 
              <div class="col-6 col-sm-6 col-md-8 col-lg-8 Around50Text2 Around50Text padlrn m-l-50">
                    <p>deaths in India 
                        every year.</p>     
              </div> 
          </div>  
                  <div class="clear"></div>
          <div class="col-8 col-lg-11 padln">
            <div class="BorderBotton"></div>
          </div>
                  
          </div>
        </div>
       
  </div>


</div>
<div class="clear20"></div>
  <div class="DibetectSection">
      <div class="DibeticLeft" (click)="scrollTo('Overview')">
        <img src="././assets/images/noun-health.png">
        <p class="m-0">Overview</p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('SymptomsCauses')">
        <img src="././assets/images/noun-medical.png">
        <p class="m-0">Symptoms &amp; Causes  </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('PreventionDiagnosis')" >
        <img src="././assets/images/noun-bacteria.png">
        <p class="m-0"> Prevention &amp; Diagnosis </p>
      </div>
      <div class="DibeticLeft"  (click)="scrollTo('AyurvedaApproach')">
        <img src="././assets/images/noun-herbal-medicine.png">
        <p class="m-0"> Ayurveda Approach </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('Complications')" >
        <img src="././assets/images/noun-healt.png">
        <p class="m-0"> Complications </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('RelatedProducts')">
          <img src="././assets/images/noun-medicine10.png">
          <p class="m-0">    Related Products </p>
        </div>
    
  
    </div>
    <div class="clear20"></div>
<div class="clear"></div>
</div>
</section>
<div class="clear"></div>
<div class="container">
  <!-- <div class="zanduservicemain">
    <div class="card-deck px-5">
      <div class="card zanduservice">
        <div class="card-body">
          <p class="card-text">Sign up to get <br>
            Zandu Services FREE!</p>
        </div>
      </div>
      <div class="card zanduservice text-center">
        <div class="card-body">
          <button class="btn FbBtn" type="button"><img alt="facebook" class="mr-2" src="././assets/images/facebook.png">
            Login With Facebook</button>
        </div>
      </div>
      <div class="card zanduservice text-left">
        <div class="card-body ">
          <button class="btn  GoogleBtn" type="button"><img _ngcontent-c1="" alt="google" class="mr-2" src="././assets/images/google.png">
            Sign up with Google</button>
        </div>
      </div>
      <div class="card zanduservice mr-4">
        <div class="card-body ">
          <span>Call us @</span>
          <h5>9999 8888 22</h5>
        </div>
      </div>
    </div>
  </div> -->
</div>
<div class="clear"></div>

<section id="Overview" class="Yoga_AurvedaSection">
    <div class="clear"></div>
  <h1>What is Hypertension?</h1>
  <div class="clear"></div>
  <div class="text-center">
    <img src="././assets/images/big_border.png">
  </div> 
  <div class="row m-0">
  <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 txtalligncenter col-md-6 col-lg-6 imghidden">
      <img class="w-100" src="././assets/images/hypertention.png">
  </div>
  <div class="Yoga_Ayurveda_RightDiv txtalligncenter col-12 col-sm-12 col-md-12  col-lg-6">
    <h5 class="txtpad">When the blood pressure elevates above 140/90 mmHg, it is considered as hypertension or high blood pressure </h5>
    <p class="txtpad">If the blood pressure continues to rise and is not 
        controlled, it can lead to serious consequences such 
        as stroke, heart failure, kidney disease, and vision loss. </p>
  
    <button class="btn btn-primary mb-2 mt-4 signnew" routerLink="../HypertensionRead" type="button">read more</button>
  </div> 
</div>
  <div class="clear"></div>
  

</section> 
<section id="SymptomsCauses" class="Yoga_AurvedaSection12 Yoga_AurvedaSymptoms symptoms-uti">
  <div class="container">
    <h1 class="text-center txtpad">Symptoms of hypertension</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
    <p class="text-center ptractinfection txtpad">Signs and symptoms of Hypertension  </p>
    <div class="clear30"></div>
    <div class="row ResMainDiv">
        <div class="col-9 col-sm-3 col-md-3 col-lg-3 text-center imghidden ResScroll">
          <img src="././assets/images/headache.png">
          <div class="clear20"></div>
          <label class="lyfestyle-mgmt">Headache</label>
        </div>
        <div class="col-6 col-sm-3 col-md-3 col-lg-3 text-center ResScroll">
            <img src="././assets/images/gidness.png">
            <div class="clear20"></div>
            <label class="lyfestyle-mgmt">Giddiness</label>
          </div>
          <div class="col-6 col-sm-3 col-md-3 col-lg-3 text-center ResScroll">
              <img src="././assets/images/palpitation.png">
              <div class="clear20"></div>
              <label class="lyfestyle-mgmt">Palpitation</label>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 text-center ResScroll">
                <img src="././assets/images/fatigyability.png">
                <div class="clear20"></div>
                <label class="lyfestyle-mgmt">Easy fatigability</label>
              </div>
      </div>  
  
    <div class="clear"></div>
  </div>
  
  </section> 
  <section id="PreventionDiagnosis" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms">
  <div class="container">
      <h1>Do you know what actually 
          causes Hypertension</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
      <p class="text-center ptractinfection txtpad">According to Ayurveda, hypertension is caused by the vitiation of the three somatic doshas (Vata, Pitta, Kapha) and derangements in mental health (manas). Some factors responsible for this vitiation are as follows:</p>
     
      <div class="clear"></div>
      <div class="clear20"></div>
      <div class="row ResMainDiv">
          <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center ResScroll">
            <img src="././assets/images/intake-salt.png">
            <div class="clear20"></div>
            <label class="lyfestyle-mgmt">Excessive intake<br>of salt</label>
          </div>
          <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center ResScroll">
              <img src="././assets/images/over-eating.png">
              <div class="clear20"></div>
              <label class="lyfestyle-mgmt">Over-<br>eating</label>
            </div>
            <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center ResScroll">
                <img src="././assets/images/sleep-daytime.png">
                <div class="clear20"></div>
                <label class="lyfestyle-mgmt">Sleeping during<br>
                    daytime</label>
              </div>
              <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center ResScroll">
                  <img src="././assets/images/e-physics.png">
                  <div class="clear20"></div>
                  <label class="lyfestyle-mgmt">Excessive physical<br>
                      activities</label>
                </div> 
                <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center ResScroll DisplayNone_Web">
                  <img src="././assets/images/anger.png">
                  <div class="clear20"></div>
                  <label class="lyfestyle-mgmt">Anger</label>
                </div>
                <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center ResScroll DisplayNone_Web">
                    <img src="././assets/images/fear.png">
                    <div class="clear20"></div>
                    <label class="lyfestyle-mgmt">Fear</label>
                  </div>
                  <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center ResScroll DisplayNone_Web">
                      <img src="././assets/images/stress.png">
                      <div class="clear20"></div>
                      <label class="lyfestyle-mgmt">Stress</label>
                    </div>
                    <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center ResScroll DisplayNone_Web">
                        <img src="././assets/images/sedentary-lifestyle.png">
                        <div class="clear20"></div>
                        <label class="lyfestyle-mgmt">Sedentary lifestyle</label>
                      </div>
        </div>  
     <div class="clear10"></div>
     <div class="row">
        <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center  DisplayShow_Web">
          <img src="././assets/images/anger.png">
          <div class="clear20"></div>
          <label class="lyfestyle-mgmt">Anger</label>
        </div>
        <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center  DisplayShow_Web">
            <img src="././assets/images/fear.png">
            <div class="clear20"></div>
            <label class="lyfestyle-mgmt">Fear</label>
          </div>
          <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center  DisplayShow_Web">
              <img src="././assets/images/stress.png">
              <div class="clear20"></div>
              <label class="lyfestyle-mgmt">Stress</label>
            </div>
            <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center  DisplayShow_Web">
                <img src="././assets/images/sedentary-lifestyle.png">
                <div class="clear20"></div>
                <label class="lyfestyle-mgmt">Sedentary lifestyle</label>
              </div>
      </div>  
      <div class="clear"></div>
     
      <div class="topping_spac">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <div class="all_benefits pt-3 txtalligncenter">
                  <p class="txtpad">Want to get all the Benefits of <br>
                    Ayurveda? Get a Free consultation!</p>
                  <span>Book Your Appointment now in 3 Easy Steps</span>
                </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 txtalligncenter">
              <div class="all_benefits all_benefits2 text-center">
                  <button class="btn btn-primary mb-2 signnew" type="button" routerLink="../patientloginpage">consult ayurvedic doctor</button>
                  <p class="ORTExt">Or </p>
                  <p>call 1800 572 8000</p>
                </div>
            </div>
        </div>
        
    
         
     
      </div>
    </div>
    </section> 
    <div class="clear40"></div>
    <div class="clear40"></div>
    <section class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms ">
        <h1 class="text-center">Hypertension & the Doshas   </h1>
        <div class="clear"></div>
        <div class="text-center">
          <img src="././assets/images/big_border.png">
        </div> 
        <p class="text-center ptractinfection txtpad"> Aggravation of Vata Dosha is considered as the main cause of hypertension, especially the vitiation of Prana vata and VyanaVata.</p>
      <div class="clear20"></div>
      <div class="container">
      <div class="text-center ResMainDiv ht">
          <div class="article_div col-12 col-sm-12 col-md-6 col-lg-4 text-center mrgnb15 ResScroll">
            <img class="mx-auto d-block img-fluid" src="././assets/images/Kapha.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>Kapha</span>
              <div class="clear10"></div>
              <p>Massage with medicated oil prepared<br> with bitter herbs. Enema is given as medicate<br> niruha basti. Fomentation therapies...
            </div>
            <div class="clear50"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew " (click)="setNav('kapha')"  routerLink="../HypertensionRead">READ MORE</button>
            </div>
            <div class="margin20"></div>
          </div>
  
          <div class="article_div col-12 col-sm-12 col-md-6 col-lg-4 text-center mrgnb15 ResScroll">
            <img class="mx-auto d-block img-fluid" src="././assets/images/Pita.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>PITA</span>
              <div class="clear10"></div>
              <p>Whole body massage with cooling oils like<br> olive oil, sunflower oil and coconut oil<br>
                  Cold affusion, cold bath with pitta pacifying...
                  </p>
            </div>
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew" (click)="setNav('kapha')" routerLink="../HypertensionRead">READ MORE</button>
            </div>
            <div class="margin20"></div>
          </div>
  
          <div class="article_div col-12 col-sm-12 col-md-6 col-lg-4 text-center mrgnb15 ResScroll">
            <img class="mx-auto d-block img-fluid" src="././assets/images/Vata.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span> VATA</span>
              <div class="clear10"></div>
              <p>Whole body massage with medicated oils that<br> alleviate vata. Massage on the area above pelvis<br> with warm sesame oil along with ashwagandha...
            </div>
            <div class="clear30"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew " (click)="setNav('kapha')" routerLink="../HypertensionRead">READ MORE</button>
            </div>
            <div class="margin20"></div>
          </div>
      </div>
     
      <div class="clear40"></div>
     
        
    </div>
    <div class="clear"></div>
    <div class="container">
        <div class="topping_spac">
        
       <span class="call-queries1">Call 1800 572 8000</span> <span class="call-queries">  to get in touch with our 
            Health Experts & resolve your Health Queries</span>  
        
       
          </div>
        </div>
      </section> 

<div class="clear40"></div>
<section class="Yoga_AurvedaSection-prevention Yoga_AurvedaSymptoms">
    <h1>Preventions for Hypertension</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
    <p class="text-center ptractinfection txtpad">Consumption of the following foods will help in reducing the blood pressure.</p>
     
    <div class="clear"></div>
    <div class="clear40"></div>
   <div class="container">
      <div class="row m-0 ResMainDiv">
          <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 ResScroll">
              <img src="././assets/images/jowar.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever">Sorghum ( Jowar)
                  </span>
          </div> 
          <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 ResScroll">
              <img src="././assets/images/green-gram.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever">Green gram<br> 
                  of Fluids
                  </span>
          </div>
          <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 ResScroll">
              <img src="././assets/images/wheat.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever">Barley &<br>
                  Wheat
                  </span>
          </div>
          <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 ResScroll">
              <img src="././assets/images/horse-gram.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever">Horse gram
                  </span>
          </div>
          <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 ResScroll DisplayNone_Web">
            <img src="././assets/images/carrot.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Carrot (Gajar)
                </span>
        </div> 
        <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 ResScroll DisplayNone_Web">
            <img src="././assets/images/turnip-shalgam.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Turnip (Shalgam)<br> 
                of Fluids
                </span>
        </div>
        <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 ResScroll DisplayNone_Web">
            <img src="././assets/images/karela.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Bitter gourd (Karela)
                </span>
        </div>
        <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 ResScroll DisplayNone_Web">
            <img src="././assets/images/radish.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Radish (Muli)
                </span>
        </div> 
        <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 ResScroll DisplayNone_Web">
          <img src="././assets/images/black-grapes.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Black grapes
              </span>
      </div> 
      <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 ResScroll DisplayNone_Web">
          <img src="././assets/images/pineapple.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Pineapple
              </span>
      </div>
      <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 ResScroll DisplayNone_Web">
          <img src="././assets/images/apple.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Apple
              </span>
      </div>
      <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 ResScroll DisplayNone_Web">
          <img src="././assets/images/anar.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Pomegranate (Anar)
              </span>
      </div>
        </div> 
        <div class="clear20"></div>
        <div class="row m-0">
            <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 DisplayShow_Web">
                <img src="././assets/images/carrot.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Carrot (Gajar)
                    </span>
            </div> 
            <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 DisplayShow_Web">
                <img src="././assets/images/turnip-shalgam.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Turnip (Shalgam)<br> 
                    of Fluids
                    </span>
            </div>
            <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 DisplayShow_Web">
                <img src="././assets/images/karela.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Bitter gourd (Karela)
                    </span>
            </div>
            <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 DisplayShow_Web">
                <img src="././assets/images/radish.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Radish (Muli)
                    </span>
            </div>
           
        </div> 
         <div class="clear20"></div>
        <div class="row m-0">
            <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 DisplayShow_Web">
                <img src="././assets/images/black-grapes.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Black grapes
                    </span>
            </div> 
            <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 DisplayShow_Web">
                <img src="././assets/images/pineapple.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Pineapple
                    </span>
            </div>
            <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 DisplayShow_Web">
                <img src="././assets/images/apple.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Apple
                    </span>
            </div>
            <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 DisplayShow_Web">
                <img src="././assets/images/anar.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Pomegranate (Anar)
                    </span>
            </div>
           
        </div> 
   </div>
 

    <div class="clear"></div>
  </section> 
<div class="clear40"></div>
<section class="Yoga_AurvedaSection-prevention Yoga_AurvedaSymptoms">
    <h1>Yoga for Hypertension</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
     
    <div class="clear"></div>
    <div class="clear40"></div>
   <div class="container">
      <div class="row m-0 ResMainDiv">
          <div class="col-8 col-sm-5 mrgnb25 col-md-2 col-lg-2 text-center ResScroll">
              <img src="././assets/images/tadasna.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever pfever">Tada  Asana 
                  </span>
          </div> 
          <div class="col-8 col-sm-6 mrgnb25 col-md-2 col-lg-2 text-center ResScroll">
              <img src="././assets/images/trikonasan.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever pfever">Trikona 
                  Asana 
                  </span>
          </div>
          <div class="col-8 col-sm-6 mrgnb25 col-md-2 col-lg-2 text-center ResScroll">
              <img src="././assets/images/bhujangasan.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever pfever">Bhujanga 
                  Asana  
                  </span>
          </div>
          <div class="col-8 col-sm-6 mrgnb25 col-md-2 col-lg-2 text-center ResScroll">
              <img src="././assets/images/vakraasan.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever pfever">Vakra<br>
                  Asana
                  </span>
          </div>
          <div class="col-8 col-sm-6 mrgnb25 col-md-2 col-lg-2 text-center ResScroll">
              <img src="././assets/images/matsyasan.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever">Matsya<br>
                  Asana 
                  </span>
          </div>
          <div class="col-8 col-sm-6 mrgnb25 col-md-2 col-lg-2 text-center ResScroll">
              <img src="././assets/images/pavanmuktasana.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever pfever">Pavana  Mukta
                  Asana 
                  </span>
          </div>
        </div>        
   </div>
 
    <div class="clear"></div>
  </section> 
  <div class="clear40"></div>
  <div class="clear40"></div>
  <section class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms">
      <h1 class="text-center">How Hypertension is Identified<br>
          in the Human Body </h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
    <div class="clear20"></div>
    <div class="container">
    <div class="text-center ResMainDiv">
        <div class="article_div-human ResScroll mrgnb15">
          <img class="mx-auto d-block img-fluid" src="././assets/images/blood-sample.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 txtcenter">
              <span>Blood samples </span>
            </div>
            <div class="clear10"></div>
          </div>
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition12">
              <button class="btn read_morenew" routerLink="../HypertensionRead">READ MORE</button>
          </div>
        </div>
  
        <div class="article_div-human ResScroll mrgnb15">
          <img class="mx-auto d-block img-fluid" src="././assets/images/bp-monitoring.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <span>Blood pressure<br>
                monitoring </span>
            </div>
            <div class="clear10"></div>
          </div>
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition12">
              <button class="btn read_morenew" routerLink="../HypertensionRead">READ MORE</button>
          </div>
        </div>
  
        <div class="article_div-human ResScroll mrgnb15">
          <img class="mx-auto d-block img-fluid" src="././assets/images/urin-sample.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
              <span>Urine sample </span>
            </div>
            <div class="clear10"></div>
          </div>
          <div class="clear30"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition12">
              <button class="btn read_morenew" routerLink="../HypertensionRead">READ MORE</button>
          </div>
        </div>
  
       <div class="clear41"></div>
        <div class="article_div-human mrgnb15 ResScroll WebHide">
          <img class="mx-auto d-block img-fluid" src="././assets/images/cardiogram.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>
            <span>Electro cardiogram </span>
            <div class="clear10"></div>
          </div>
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition12">
              <button class="btn read_morenew" routerLink="../HypertensionRead">READ MORE</button>
          </div>
        </div>
  
        <div class="article_div-human mrgnb15 ResScroll WebHide">
          <img class="mx-auto d-block img-fluid" src="././assets/images/chest-xray.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>
            <span>Chest X Ray  </span>
            <div class="clear10"></div>
          </div>
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition12">
              <button class="btn read_morenew" routerLink="../HypertensionRead">READ MORE</button>
          </div>
        </div>
  
        <div class="article_div-human mrgnb15 WebHide ResScroll">
          <img class="mx-auto d-block img-fluid" src="././assets/images/a-bp-monitoring.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>
            <span>24-hour ambulatory blood<br>
                pressure monitoring </span>
            <div class="clear10"></div>
          </div>
          <div class="clear30"></div>
         
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition12">
              <button class="btn read_morenew" routerLink="../HypertensionRead">READ MORE</button>
          </div>
          
        </div>


    </div>
    <div class="clear30"></div>
     <!-- <div class="text-center ResMainDiv mobhidden">
        <div class="article_div-human mrgnb15 ResScroll">
          <img class="mx-auto d-block img-fluid" src="././assets/images/cardiogram.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>
            <span>Electro cardiogram </span>
            <div class="clear10"></div>
          </div>
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition12">
              <button class="btn read_morenew" routerLink="../HypertensionRead">READ MORE</button>
          </div>
        </div>
  
        <div class="article_div-human mrgnb15 ResScroll">
          <img class="mx-auto d-block img-fluid" src="././assets/images/chest-xray.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>
            <span>Chest X Ray  </span>
            <div class="clear10"></div>
          </div>
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition12">
              <button class="btn read_morenew" routerLink="../HypertensionRead">READ MORE</button>
          </div>
        </div>
  
        <div class="article_div-human mrgnb15 ResScroll">
          <img class="mx-auto d-block img-fluid" src="././assets/images/a-bp-monitoring.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>
            <span>24-hour ambulatory blood<br>
                pressure monitoring </span>
            <div class="clear10"></div>
          </div>
          <div class="clear30"></div>
         
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition12">
              <button class="btn read_morenew" routerLink="../HypertensionRead">READ MORE</button>
          </div>
          
        </div>
  
       
    </div> -->
    <div class="clear"></div>
    <!-- <div class="SliderArrow text-center">
      <a class="mrgn-r50 mrscroll-r" (click)="previous()"> <img class="apos" src="././assets/images/product_left.png" /></a>
      <a class="" (click)="next()"> <img class="apos" src="././assets/images/product_right.png" /></a>
    </div> -->
    <!-- <div class="row" *ngIf="isMobile">
    
      <div *ngFor="let item of mobProds" class="col-12 col-lg-3 text-center"  style="height: 380px;" >
          <div class="WhiteBox" >
           <div (click)="getProductDetails(item.id)">
            <img class="img-fluid" src="{{item.imghb}}"/>
            <div class="clear10"></div>
            <h5 class="htoinhb">  {{item.text}}</h5>
          </div>
          <div class="clear30"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition12">
              <button class="btn read_morenew" routerLink="../HypertensionRead">READ MORE</button>
          </div>
          
           
          </div>
        </div>
      </div> -->
    
  </div>
  <div class="clear"></div>
    </section> 
  <div class="clear40 hidden-xs"></div>
  
  <div class="clear40 hidden-xs"></div>
<div class="clear40 hidden-xs"></div>
<div class="clear40 hidden-xs"></div>

<section id="AyurvedaApproach" class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms">
    <h1 class="text-center">Ayurvedic Approach to Manage Hypertension</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
    <p class="text-center ptractinfection txtpad txtpad">In the Ayurvedic system of medicine, avoiding the causative factor is considered as the first line of treatment<br>
        for all diseases. Along with this prevention, various therapies are implemented to treat hypertension.  </p>
  <div class="clear20"></div>
  <div class="container">
      <div class="row">
       
        <div class="col-12 mx-auto col-md-8 col-lg-6">
          <div class="row ResMainDiv">
              <div class="col-8 col-sm-12 col-md-6  col-lg-6 text-center ResScroll">
                  <div class="text-center">
                      <div class="article_div1">
                        <img class="mx-auto d-block img-fluid" src="././assets/images/ayurvedic-drug.png">
                        <div class="clear10"></div>
                        <div class="infor">      
                          <div class="clear10"></div>
                          <label class="utitop">Ayurvedic herbal<br>
                              & drug therapy</label>
                        </div>
                        <div class="clear10"></div>
                      </div>
                  </div>
                </div>
                <div class="col-8 col-sm-12 col-md-6  col-lg-6 text-center ResScroll">
                    <div class="text-center">
                        <div class="article_div1">
                          <img class="mx-auto d-block img-fluid" src="././assets/images/panchkarma.png">
                          <div class="clear10"></div>
                          <div class="infor">      
                            <div class="clear10"></div>
                            <label class="utitop">Panchakarma<br>
                                Therapy</label>
                          </div>
                          <div class="clear10"></div>
                        </div>
                    </div>
                  </div>
          </div>
        </div>   
      </div>
 
  
  
  <div class="clear30"></div>
  <div class="col-12 col-lg-12 text-center lfst-box">
    <label class="lyfestyle-mgmt">Lifestyle Management</label>
  </div>
  <div class="clear40"></div>
  <div class="row ResMainDiv">
    <div class="col-8 col-sm-6 col-md-4 col-lg-4 text-center ResScroll">
      <img src="././assets/images/Diet.png">
      <div class="clear20"></div>
      <label class="lyfestyle-mgmt">DIET</label>
    </div>
   
      <div class="col-6 col-sm-6 col-md-4 col-lg-4 text-center ResScroll">
          <img src="././assets/images/pranayam.png">
          <div class="clear20"></div>
          <label class="lyfestyle-mgmt">Pranayama</label>
        </div>
        <div class="col-6 col-sm-6 col-md-4 col-lg-4 text-center ResScroll">
            <img src="././assets/images/yoga-ramdevbaba.png">
            <div class="clear20"></div>
            <label class="lyfestyle-mgmt">Yoga</label>
          </div>
  </div>
 
</div>
<div class="clear"></div>
  </section> 
<div class="clear40"></div>
<!-- <section class="dosha">
  <div class="dosham">
    <p>As hypertension is a lifestyle-related disease, adapting to 
        healthy habits is the major part of the treatment. The 
        healthy day-to-day regime helps the patient to prevent 
        complications of the disease.</p>
       <h5>-       Ayurvedic diet recommendations </h5> 
       <h5>-      Yoga</h5> 
       <h5>-      Pranayama (breathing exercises</h5>    
       <div class="clear20"></div> 
  </div>
  <div class="clear"></div>
  <div class="clear40"></div>
  <div class="clear40"></div>
  <div class="clear40"></div>
 

</section>  -->
<section class="HomeDisplayNone">
  <div class="container">
      <div class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms deal-areabg"> 
     
          <h1 class="text-center">Home Remedies</h1>
          <div class="clear"></div>
          <div class="text-center">
            <img src="././assets/images/big_border.png">
          </div>    
      <div class="clear"></div>
      <div class="clear20"></div>
      <div class="deal_area">
          <div class=" mb-4">
            <div class="shadoo1 mx-0">
              <div class="card tab_card mx-0 small_div BorderradiusLeft">
                <div class=" BorderradiusLeft card-body {{tabs[0].active}}" (click)="openCity(0)">
                  <div class="border_div">
                    <span>exercise & walk  </span>
                  </div>
                </div>
              </div>
              <div class="card tab_card mx-0">
                <div class="card-body {{tabs[1].active}}" (click)="openCity(1)">
                  <div class="border_div">
                    <span>sodium</span>
                  </div>
                </div>
              </div>
              <div class="card tab_card mx-0 BorderradiusRight">
                <div class=" BorderradiusRight card-body  {{tabs[2].active}} " (click)="openCity(2)">
                  <div class="border_div ">
                    <span>alcohol                   </span>
                  </div>
                </div>
              </div>
              <div class="card tab_card mx-0 BorderradiusRight">
                  <div class=" BorderradiusRight card-body  {{tabs[3].active}} " (click)="openCity(3)">
                    <div class="border_div ">
                      <span>caffeine</span>
                    </div>
                  </div>
                </div>
              <div class="card tab_card mx-0 BorderradiusRight">
                  <div class=" BorderradiusRight card-body  {{tabs[4].active}} " (click)="openCity(4)">
                    <div class="border_div HiddenBorder">
                      <span> cocoa & chocolate</span>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        
          <div class="{{tabs[0].tabcontent}} p-0 TabContentBox paddingTabContentDiv BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
               <div class="row">
                 <div class="col-12 col-sm-12 col-md-6 col-lg-6 hr-tabdiv">
                   <p class="tab-p">Walk and exercise regularly. 
                      Exercise is one of the best things you can do to lower high blood pressure.</p>
                 </div>
                 <div class="col-12 col-sm-12 col-md-6 col-lg-6 hidden">
                   <img class="img-fluid" src="././assets/images/hyper-hr.png">
                 </div>
               </div>
              </div>
            </div>
          </div>
        
          <div class="{{tabs[1].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
              <div class="">
                  <div class="tab1ContentBox">
                   <div class="row">
                     <div class="col-12 col-sm-12 col-md-6 col-lg-6 hr-tabdiv">
                       <p class="tab-p">Walk and exercise regularly. 
                          Exercise is one of the best things you can do to lower high blood pressure.</p>
                     </div>
                     <div class="col-12 col-sm-12 col-md-6 col-lg-6 hidden">
                       <img class="img-fluid" src="././assets/images/hyper-hr.png">
                     </div>
                   </div>
                  </div>
                </div>
          </div>
        
          <div class="{{tabs[2].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
              <div class="">
                  <div class="tab1ContentBox">
                   <div class="row">
                     <div class="col-12 col-sm-12 col-md-6 col-lg-6 hr-tabdiv">
                       <p class="tab-p">Walk and exercise regularly. 
                          Exercise is one of the best things you can do to lower high blood pressure.</p>
                     </div>
                     <div class="col-12 col-sm-12 col-md-6 col-lg-6 hidden">
                       <img class="img-fluid" src="././assets/images/hyper-hr.png">
                     </div>
                   </div>
                  </div>
                </div>
          </div>
      
          <div class="{{tabs[3].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
              <div class="">
                  <div class="tab1ContentBox">
                   <div class="row">
                     <div class="col-12 col-sm-12 col-md-6 col-lg-6 hr-tabdiv">
                       <p class="tab-p">Walk and exercise regularly. 
                          Exercise is one of the best things you can do to lower high blood pressure.</p>
                     </div>
                     <div class="col-12 col-sm-12 col-md-6 col-lg-6 hidden">
                       <img class="img-fluid" src="././assets/images/hyper-hr.png">
                     </div>
                   </div>
                  </div>
                </div>
            </div>
      
            <div class="{{tabs[4].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
                <div class="">
                    <div class="tab1ContentBox">
                     <div class="row">
                       <div class="col-12 col-sm-12 col-md-6 col-lg-6 hr-tabdiv">
                         <p class="tab-p">Walk and exercise regularly. 
                            Exercise is one of the best things you can do to lower high blood pressure.</p>
                       </div>
                       <div class="col-12 col-sm-12 col-md-6 col-lg-6 hidden">
                         <img class="img-fluid" src="././assets/images/hyper-hr.png">
                       </div>
                     </div>
                    </div>
                  </div>
              </div>
        </div> 
      </div>
  </div>
</section>
<div class="clear40 hidden-xs"></div>
<div class="clear40 hidden-xs"></div>
<section id="Complications" class="Yoga_AurvedaSection">
    <div class="container">
      <div class="clear40"></div>
    <h1>Complications of Hypertension</h1>
    <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
    <p class="text-center ptractinfection txtpad">Some of the complications associated with uncontrolled hypertension are as follows:   </p>
    <div class="clear"></div>
    
    <div class="row m-0 ">
        <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-6 col-lg-5 ml-auto">
            <div class="row ResMainDiv">
              <div class="col-8 col-sm-6 col-md-6 text-center ResScroll">
                <img class="img-fluid" src="././assets/images/heart-attack.png">
                <div class="clear10"></div>
                <span class="pfever">Heart attack</span>
              </div>
              <div class="col-6 col-sm-6 col-md-6 text-center ResScroll">
                 <img class="img-fluid" src="././assets/images/impotence.png">
                 <div class="clear10"></div>
                 <span class="pfever">Impotence</span>
               </div> 
               <div class="col-6 col-sm-6 col-md-6 text-center DisplayNone_Web ResScroll">
                <img class="img-fluid" src="././assets/images/stroke.png">
                <div class="clear10"></div>
                <span class="pfever"> stroke<br>
                  edema</span>
            </div>
            <div class="col-6 col-sm-6 col-md-6 text-center DisplayNone_Web ResScroll">
                <img class="img-fluid" src="././assets/images/blurred-vision.png">
                <div class="clear10"></div>
                <span class="pfever">
                 Blurred vision</span>
             </div> 
             <div class="col-6 col-sm-6 offset-md-6 col-md-6 text-center DisplayNone_Web ResScroll">
              <img class="img-fluid" src="././assets/images/kidney.png">
              <div class="clear10"></div>
              <span class="pfever">Kidney disease</span>
           </div>
            </div>
            <div class="clear10"></div>
            <div class="row">
               <div class="col-6 col-sm-6 col-md-6 text-center DisplayShow_Web">
                   <img class="img-fluid" src="././assets/images/stroke.png">
                   <div class="clear10"></div>
                   <span class="pfever"> stroke<br>
                     edema</span>
               </div>
               <div class="col-6 col-sm-6 col-md-6 text-center DisplayShow_Web">
                   <img class="img-fluid" src="././assets/images/blurred-vision.png">
                   <div class="clear10"></div>
                   <span class="pfever">
                    Blurred vision</span>
                </div>
             </div>
             <div class="clear10"></div>
             <div class="row ">
                <div class="col-6 col-sm-6 offset-md-6 col-md-6 text-center DisplayShow_Web">
                    <img class="img-fluid" src="././assets/images/kidney.png">
                    <div class="clear10"></div>
                    <span class="pfever">Kidney disease</span>
                 </div>
              </div>
           </div> 
    <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-6 col-lg-5 mr-auto">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12  comp-contentbx1">
     <div class="row">
       <div class="col-1 col-lg-1 p-0">
          <span><img src="././assets/images/nxt-arrow.png"> </span>
       </div>
       <div class="col-11 col-lg-10">
          <p class="c-infection">Myocardial infarction  </p>
       </div>
     </div>
     <div class="row">
        <div class="col-1 col-lg-1 p-0">
            <span><img src="././assets/images/nxt-arrow.png"> </span>
        </div>
        <div class="col-11 col-lg-10">
            <p class="c-infection">Cerebrovascular accidents (CVA) or strokes</p>
        </div>
      </div>
      <div class="row">
          <div class="col-1 col-lg-1 p-0">
              <span><img src="././assets/images/nxt-arrow.png"> </span>
          </div>
          <div class="col-11 col-lg-10">
              <p class="c-infection">Congestion in the lungs </p>
          </div>
      </div>
      <div class="row">
        <div class="col-1 col-lg-1 p-0">
            <span><img src="././assets/images/nxt-arrow.png"> </span>
        </div>
        <div class="col-11 col-lg-10">
            <p class="c-infection">Hypertensive nephropathy, retinopathy, and encephalopathy</p>
        </div>
      </div>
      <div class="row">
        <div class="col-1 col-lg-1 p-0">
            <span><img src="././assets/images/nxt-arrow.png"> </span>
        </div>
        <div class="col-11 col-lg-10">
            <p class="c-infection">Hypertensive cardiomyopathy (heart failure)</p>
        </div>
      </div>
      <div class="row">
          <div class="col-1 col-lg-1 p-0">
              <span><img src="././assets/images/nxt-arrow.png"> </span>
          </div>
          <div class="col-11 col-lg-10">
              <p class="c-infection">       
  Left ventricular hypertrophy
                  </p>
          </div>
        </div>
        <div class="row">
            <div class="col-1 col-lg-1 p-0">
               <span><img src="././assets/images/nxt-arrow.png"> </span>
            </div>
            <div class="col-11 col-lg-10">
               <p class="c-infection">Blurring of vision owing to retinal changes  </p>
            </div>
          </div>
          <div class="row">
             <div class="col-1 col-lg-1 p-0">
                 <span><img src="././assets/images/nxt-arrow.png"> </span>
             </div>
             <div class="col-11 col-lg-10">
                 <p class="c-infection">Impotence</p>
             </div>
           </div>
           <div class="row">
               <div class="col-1 col-lg-1 p-0">
                   <span><img src="././assets/images/nxt-arrow.png"> </span>
               </div>
               <div class="col-11 col-lg-10">
                   <p class="c-infection">Epistaxis(nose bleeding)</p>
               </div>
           </div>
           <div class="row">
             <div class="col-1 col-lg-1 p-0">
                 <span><img src="././assets/images/nxt-arrow.png"> </span>
             </div>
             <div class="col-11 col-lg-10">
                 <p class="c-infection">
                    Angina pectoris (chest pain)</p>
             </div>
           </div>
    </div>
    </div> 
  </div>
    <div class="clear"></div>
  </div>
  </section> 
<div class="clear40"></div>
  <section id="RelatedProducts" class="Yoga_AurvedaSectionrp Yoga_AurvedaSymptoms">
      <h1 class="text-center">Related Products</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
     
  <div class="clear"></div>
  <div class="clear20"></div>
<div class="container">
    <div class="row" *ngIf="visibleCategory">
  
        <div class="col-6 col-sm-4 col-md-4 col-lg-4 "  *ngFor="let data of visibleCategory">
      <div class="col-6 col-sm-12 col-md-12 col-lg-12 Product_div tab-h text-center padlrn" *ngIf="visibleCategory.length!=0">
        <div class="clear20"></div>
        <div class="WhiteBox">
          <div (click)="getProductDetails(data.id)" >
              <img src="{{data.imageUrl}}" width="199" height="194">
              <div class="clear10"></div>
              <label class="zl-text cursor">{{data.name}}</label>
          </div>
        </div>
        <br>
      

        <div class="row">
          <div class="text-center col-6 col-sm-6 col-md-6 col-lg-6 ">
            <label class="">
              <label class="zl-text1">&#8377;</label>
              <label class="zl-text12">{{data.selling}}</label>
            </label>
          </div>
          <div class=" col-6 col-sm-6 col-md-6 col-lg-6 text-left">
            <div class="product_img">
              <div class="clear10"></div>
              <div class="order-margin-top2"> 
             
                <i *ngIf="qtyP!=0" class="fa" (click)="reduce(data)"><img src="././assets/images/SpinnerMinus.png"></i>&nbsp;
                <input [(ngModel)]="data.qty" class="input-spinner" >&nbsp;
                <i class="fa" (click)=" add(data)"><img src="././assets/images/SpinnerPluse.png"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">
        <div class="col-6 col-lg-12 text-center rmpositionnew">
            <div class="clear20"></div>
            <button class="btn  read_morerp AddToCartBtn" (click)="addToCart(data)" type="button">add
                to cart</button>
          
        </div> 
        </div>
        <div class="clear20"></div>       
      </div>
    </div>
</div>
<div  class="row " *ngIf="visibleCategory.length==0">
    <div class="col-12 col-lg-12 text-center">
        <div class="clear20"></div>
        <h6>No Products Found...</h6>
    </div> 
  
  </div>
<!-- </div> -->
<div class="clear20"></div>
<div class="row" *ngIf="visibleCategory.length!=0">
    <div class="col-6 col-lg-12 text-center">
        <div class="clear20"></div>
        <button class="btn read_morerp" routerLink="../mainproductpage">explore all products</button>            
    </div> 
    </div>
</div> 
</section> 
<div class="clear40"></div>
<div class="clear40"></div>


  <div class="clear40"></div>

<div class="clear40"></div>
<section class="Yoga_AurvedaSection-artical Yoga_AurvedaSymptoms">
    <h1 class="text-center">Articles </h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
   
  <div class="clear20"></div>
  <div class="container">
  <div class="text-center ResMainDiv">
      <div class="article_div-artical ResScroll">
        <img class="mx-auto d-block img-fluid" src="././assets/images/hypertension1.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>HYPERTENSION</span>
          <div class="clear10"></div>
          <p>Top 7 Everyday<br/> Habits To Adopt... </p>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 rmposition1 text-center">
            <button class="btn read_morenew " routerLink="../HypertensionHabits">READ MORE</button>
        </div>
      </div>

      <div class="article_div-artical ResScroll">
        <img class="mx-auto d-block img-fluid" src="././assets/images/hypertension2.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>sarpgandha</span>
          <div class="clear10"></div>
          <p>Rauwolfia<br/> serpentina(Sar...</p>
        </div>
        <div class="clear10"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 rmposition1 text-center">
            <button class="btn read_morenew " routerLink="../SarpgandhaArticles">READ MORE</button>
        </div>
      </div>

    
     
  </div>
  <div class="clear40"></div>
</div>
<div class="clear"></div>

  </section> 



  <div class="container">
      <div class="topping_spac txtalligncenter">
        
          <div class="all_benefits pt-3 col-12 col-sm-12 col-md-6 col-lg-6">
            <p>Want to get all the Benefits of <br>
              Ayurveda? Get a Free consultation!</p>
            <span>Book Your Appointment now in 3 Easy Steps</span>
          </div>
    
          <div class="all_benefits all_benefits2 col-12 col-sm-12 col-md-6 col-lg-6 text-center">
            <button class="btn btn-primary mb-2 signnew" type="button" routerLink="../patientloginpage">consult Ayurvedic doctor</button>
            <p class="ORTExt">Or </p>
            <p>call 1800 572 8000</p>
          </div>
     
        </div>
      </div>





<div class="">
  <app-main-footer></app-main-footer>
</div>


<!-- The Modal -->
<div class="modal {{nomodel}}">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body text-center py-5">
        <span class="modeltitle">COMING SOON</span>
        <img src="././assets/images/model_border.png">
        <p class="pt-3">Your Dosha Calculator</p>
        <div class="smlltxt pb-4">We’ll Notify You Via Mail</div>
        <button type="button" class="btn closingbtn" data-dismiss="modal" (click)="closed()">OK</button>
      </div>
    </div>
  </div>
</div>