<app-navigation></app-navigation>
<app-floating></app-floating>

<section class="declaimer">
  <div class="container pt-5 text-center">
    <h1>Are you suffering from obesity?</h1>
    <img src="././assets/images/big_border.png">
  <div class="maindiv mt-4 text-left">
    <h3>Is obesity troubling you?</h3>
    <p>“Obesity occurs not because it runs in the family but because no one runs in the family”.1 This statement signifies why obesity has become a global epidemic in the 21st century. It is estimated that globally more than 1.9 billion adults (18 years of age and older) are overweight, among whom 650 million were obese. Over 340 million children and adolescents (5 to 19 years) are obese or overweight.2 A new study done by Indian Council of Medical research (ICMR) on the prevalence rate of obesity found that 13% of the Indian Population suffers from obesity. </p>
    <p>Obesity is a lifestyle disorder. The staggering incidence of obesity is majorly because of urbanisation, frequent consumption of junk food, more time being spent on watching TV, computer and smart phones, consuming foods that are high in carbs and fats and low on other essential nutrients, increased use of cars, increased use of buses and other automobiles.Obese people are at higher risk of conditions such as diabetes, high blood pressure, stroke and heart attack.
     </p>  
     <h3>Obesity, addressed in Ayurveda </h3>
     <p>In Ayurveda, obesity is known as Atisthaulya or Sthaulya/ Medoroga. It occurs due to excessive accumulation of Meda (fat or adipose tissue) and Mamsa (muscle tissue or flesh) which causes flabbiness in the abdomen, hips and other body parts. Sthaulya is a form of disease which is caused due to excess consumption of calories (santarpanotthavikaras) or due to disorder in fat metabolism (medodushti). Sthaulya is responsible for various diseases like diabetes, ischemic heart disease, osteoarthritis, hypertension and cancer.</p>   
    <div class="causes">
        <h3>What causes obesity (Nidana)? </h3>
        <p>The causative factors associated with obesity are broadly classified into four groups which include:</p>
        <p><span>1. Dietary Cause (AharatmakaNidana): </span>The dietary causes of obesity include excessive consumption of:</p> 
        <ul>
            <li>Heavy meal (Guru)</li>
            <li>Sweet (Madhura) foods</li>
            <li>Cold (Sheeta) foods</li>
            <li> Unctuous food (Snighdha)</li>
            <li>Fresh grains (Navannasevana)</li>
            <li>Fresh preparation of alcohol (Nava Madya)</li>
            <li>Meat and soup of domestic animals (Gramya Rasa)</li>
            <li>Meat of aquatic animals (Audak Rasa)</li>
            <li>Milk and its preparations (PayaVikar)</li>
            <li>Curd (Dadhi)</li>
            <li>Ghee (Sarpi)</li>
            <li>Sugarcane preparations (IkshuVikara)</li>
            <li>Jaggery preparations (GudaVikara)</li>
            <li>Rice (Shali)</li>
            <li>Wheat (Godhum)</li>
            <li>Black gram (Masha)</li>           
          </ul>
        <p>Other practices related to diet that may cause obesity are as follows:</p> 
        <ul>
          <li>Over nourishment (Santarpana)</li>
          <li>Over eating (Adhyasana)</li>
          <li>Drinking water immediately after food (Bhojanottara Jal-pana) </li>                  
      </ul>
      <p><span>2.  Causes associated with Lifestyle regimens (ViharatmakaNidana):</span> The causes related to lifestyle regimen that lead to obesity include:</p>
        <ul>
            <li>Lack of physical exercise (Avyayama)</li>
            <li>Lack of sexual life (Avyavaya) </li>
            <li>Sleeping during the day time (Divaswap)</li>
            <li>Excessive sleep (Swapnaprasangat)</li>
            <li>Using of perfumed garlands (GandhamalyanuSevana)</li>
            <li>Bathing after having meals (BhojanottarSnana)</li>
            <li>Sleeping immediately after having meals (Bhojanottarnidra)</li>
            <li>Taking drugs after meals (Bhojanottaraushadhasevana)</li>
          </ul>       
        <p><span>3. Psychological Cause (ManasNidana): </span>The psychological causes associated with obesity include:</p>
        <ul>
            <li>	Relaxation from tension (Manasonivritti)</li>
            <li>	Observation of beloved things (Priyadarshana)</li>
            <li>	Lack of anxiety (Achintanat)</li>
            <li>Uninterrupted cheerfulness (Harshnityatvat)</li>
            <li>	Saukhyena</li>
          </ul>
        <p><span>4. Other causes (Anya Nidana):</span> The other causes associated with obesity include:</p> 
        <ul>
            <li>Heredity (Bijadoshasvabhavat)</li>
            <li>Administration of unctuous and sweet enema (SnighdhamadhuraBastiSevana)</li>
        </ul> 
        <h3>Pathophysiology (Samprapti)</h3> 
        <p>Excessive consumption of foods that are difficult to digest (Guru), cold (Sheeta), unctuous (snighdha), sweet and kapha aggravating (Madhuradi Kaphavardhaka), not to mention decreased physical activity (sedentary lifestyle), provides excessive nourishment of Medas (fat tissue) and deprives other elements (dhatus) of the body of nourishment which results in obesity or sthaulya.</p>
        <h3>Role of Tridosha in Sthaulya (Obesity)</h3> 
        <p>According to Ayurveda, the imbalance in all three doshas contributes to the development and retention of obesity. </p>
        <p><span>Role of Vata: </span> Imbalance of vata may cause unstable mood and irregular appetite and thus lead to obesity. Vata gets disturbed due to a lack of routine in diet, and faulty lifestyle habits.</p> 
        <p><span>Role of Pitta:</span> Imbalance of pitta causes intense hunger and a tendency to eat wrong food items (like junk foods). Pitta also facilitates an individual to eat more noxious food items like sugar, red meat, coffee, etc., which causes flabbiness of the body. </p>
        <p><span>Role of Kapha: </span>Imbalance of Kapha decreases body metabolism which leads to obesity. Disturbed Kaphadosha causes a tendency towards fat deposition, eating addiction, hormonal imbalance leading to retention of weight, reduced or weak activity of the pancreas and disturbed digestive fire (digestive juices)- all of which leads to obesity.  </p>
        <h3>Keep a lookout for the signs of obesity (Rupa)</h3>
        <p> symptoms of obesity are listed below:</p> 
        <ul>
            <li>	Excessive sweating (Atisweda)</li>
            <li>	Excessive sleep (Atinidra)</li>
            <li>	Sluggishness (Jadyata)</li>
            <li>	Excessive hunger (Kshudhavridhi)</li>
            <li>	Breathlessness on mild exertion (Shramjanyaswasa)</li>
            <li>	Foul body odour (SharirDurgandhta)</li> 
            <li>	Unclear voice (Gadgadatva)</li> 
            <li>	Decreased body strength (Alpabala)</li> 
            <li>	Excessive thirst (Atitrishna)</li> 
            <li>	Difficulty to perform heavy work (KaryaDaurbalyata)</li> 
        </ul>
        <h5>Complications (Upadrava) </h5>
        <ul>
            <li><span>Cardiovascular:</span> High blood pressure, Heart failure, Cor pulmonale, Varicose veins, Pulmonary diseases, Diseases of the blood vessels that supply heart muscles (Atisweda)</li>
            <li><span>Respiratory:</span> Asthma, Breathlessness, Sleep disorders, Hypoventilation syndrome </li>
            <li><span>Endocrine:</span> Metabolic syndrome, Type 2 diabetes, Dyslipidemia, Polycystic ovarian syndrome, Prameha Peedaka (Diabatic Ulcer)</li>
            <li><span>Gastrointestinal:</span>  Gastroesophageal reflux disease, Liver diseases, Gallbladder stones, Hernias, cancer of the colon</li>
            <li><span>Musculoskeletal:</span> Gout, Immobility, Osteoarthritis (knees and hips), Low back pain, Carpal tunnel syndrome</li>
            <li><span>Genitourinary: </span>Urinary incontinence, glomerulopathy, Breast and uterine cancer, Pregnancy complications</li> 
            <li><span>Psychological: </span> Mood disorders, negative body image, impaired low self-esteem, Social stigmatization, Dementia, Utsah hani</li> 
            <li><span>Neurologic:</span> Stroke, Idiopathic intracranial hypertension, Meralgia paresthetica, Pakshaghat (Paralysis)</li> 
            <li><span>Skin related:</span> Lymphedema, Cellulitis, Intertrigo, carbuncles, Acanthosis nigricans, Hidradenitis suppurativa, Vidradhi (Absces)</li> 
        </ul>
        <h3>Diagnosis</h3>
        <p>The diagnosis of obesity is based on the BMI (Body Mass Index) of an individual. If the BMI is in the obese category, then the doctor may recommend a few tests to check for any obesity related complications. These tests are listed below:</p>   
        <p><span>1. Physical examination: </span>A general physical examination of the patient is done to measure the height, vital signs like heart rate, temperature, blood pressure, examination of the abdomen, and the heart, lungs for any associated sounds (with stethoscope). </p>
        <p><span>2. Health history of the patient:</span> The doctor may ask questions related to the family’s health history, patient’s weight history, eating patterns, exercise habits, any medications being taken, stress levels of the patient etc. </p>
        <p><span>3. Calculate BMI:</span> This is done to determine the severity of obesity; the doctor will check the BMI of the patient. BMI of the patient is helpful to determine the health risk of the patient. </p>
        <div class="row">
            <div class="col-1 col-lg-1 col-md-1"></div>
            <div class="col-10 col-lg-10 col-md-10">
               <div class="bmi-border">                  
                   <p>BMI (Body Mass Index) is assessed by measuring a person’s weight in kilograms divided by the square of his/ her height in meters (kg/m2).9 Normal BMI – 18.5 – 24.9 kg/m2</p>
                   <ul>
                      <li>Overweight BMI – 25 – 29.9 kg/m2 (Increased risk of complications)</li>
                      <li>Obesity BMI – more than 30 kg/m2 (High risk of complications)</li>
                      <li>Extremely obese – more than 40 kg/m2 (Extremely high risk of complications)</li> 
                    </ul>
               </div>
            </div>
            <div class="col-1 col-lg-1 col-md-1"></div>
          </div>
        <p><span>4. Blood test:</span> Blood tests help to determine the cholesterol levels, fasting glucose, liver function, and thyroid hormone levels in the body. The doctor may also recommend electrocardiogram to examine the heart function. </p>
        <p><span>5. Measuring the waist circumference:</span> Fats stored around the waist, known as visceral fat or abdominal fat, may increase the risk of diseases like cardiovascular diseases, diabetes etc. Women with a waist circumference measurement of more than 35 inches (80cm) and men with waist circumference more than 40 inches (102 cm) have increased risk of obesity complications. </p>
        <h3>Managing obesity, the Ayurvedic way </h3>
        <h5>Ayurvedic Therapy</h5> 
          <p>In Ayurveda, treatment of any disorder is done based on the following three principles. They are:</p>
          <ul class="therapy">
              <li><span>NidanaParivarijan:</span> This refers to the avoidance or riddance of the factors which contribute to the pathophysiologic process (samprapti) of obesity. This is the most important line of treatment in obesity. All the factors that have been described in the causes must be avoided. </li>
              <li><span>Shodhana therapy (purification therapy):</span> This therapy aims at eliminating the toxins from the body along with the vitiated dosha to achieve doshic balance. It includes:
                  <p><span>BahyaShodhana</span>(External purification therapies) such as</p>
                  <ul>
                    <li>Udvartana (body massage using medicated powders)</li>
                    <li>Avagaha(immersing body in medicated oil) </li>
                    <li>Parisheka (stream pouring of medicated liquids)</li>
                    <li>Lepana(body massage with medicated paste) </li>
                  </ul>
                <p><span>AbhyantarShodhana</span>(Internal purification therapies) such as</p>
                <ul>
                    <li>Vamana (induced Emesis) </li>
                    <li>Virechana (administering purgatives for cleansing bowels)</li>
                    <li>Nasya (instillation of herbal liquids through nasal passage) </li>
                    <li>Niruha (Administrations of herbal decoction as rectal enema)  </li>
                  </ul>
              </li>
              <li><span>Shamana therapy (palliative therapy):</span> These therapies are milder than shodhana therapies and aim at restoring the doshic balance as well. They include:
                 <ul>
                    <li>Langhana (fasting) </li>
                    <li>Deepan Pachan (administering digestives which help in metabolizing fats)</li>
                    <li>Recommending light (laghu), hot (ushna), dry (ruksha), sharp (tikshna) foods as they have fat tissue reducing (Medonashaka), kapha alleviating (kaphanashaka) and sthaulyahara (obesity reducing) properties.  </li>
                    <li>Recommending exercises </li>
                  </ul>
              </li>
            </ul> 
            <h3>Battle obesity, with a few lifestyle changes </h3> 
            <h5>Diet</h5>
            <p>Obesity or Sthaulya results from food- energy imbalance. This refers to eating high calorie diet and not utilizing those calories with proper physical exercise. Therefore, to maintain or reduce body weight, the individual should concentrate more on the calorie intake and the calorie that he/she burns off through physical activities.</p>
            <p>A healthy diet for weight loss emphasizes more on fresh vegetables, fruits, cooked dry beans, whole grains, such as Nachani, Vari, Bajri, Yava, Kulattha, nuts, peas, seeds etc. It may also include sea food, low fat milk products that are low in saturated fat, trans fat, cholesterol, salt and added sugar. </p>
            <ul>
              <li>Intake of low caloric diet like millets and fibrous vegetables like cabbage is ideal food to reduce obesity as these take more time to get digested</li>
              <li>Regular intake of natural honey (Madhu) is indicated for the treatment of Sthoulya (obesity). Honey has anti-obesity property.</li>
              <li >Lukewarm water is a natural detoxifier. It washes away impurities (partially digested food) as it travels through the digestive system and improves the metabolic rate.</li> 
              <li>Cow urine consists of uric acid, urea and minerals. Research studies claimed that cow urine contains vitamin A, B, C, D, E, sodium, potassium and nitrogen, along with other minerals. </li>             
            </ul>
            <h3>Keep obesity away with simple postures and breathing habits</h3>
            <p>The various yogasana poses and pranayama (breathing techniques) are listed below:</p>           
            <ul class="stage" >
              <li >1.	Pranayama (Breathing exercise)
                <ul class="stage-inner">
                  <li>NadiSuddhiPranayam</li>
                  <li>KapalbhatiSuddhikriya</li>                  
                </ul> 
              </li>
              <li > 2. Yogasanas
                  <ul class="stage-inner">
                      <li>Padvruttasana (leg rotation pose)</li>
                      <li>Naukasana (boat pose)</li>
                      <li>Dvichakrikasan (Bicycling)</li>
                      <li>Utthanpadasan (Raised leg pose)</li>
                      <li>Pawanmuktasana (wind liberating pose)</li>
                      <li>Suryanamaskara (sun salutation)</li>
                      <li>ArdhaMatsyendrasana (Half lord of the fishes pose)</li>
                      <li>Sarwangasana(Shoulder stand pose)</li>
                      <li>Trikonasana(Extended triangle pose)n </li>
                      <li>Bhujangasana (Cobra pose) </li>
                      <li>Veerasana (Warrior pose) </li>
                      <li>Chakrasana (Wheel pose) </li>
                      <li>Dhanurasna (Bow pose) </li>
                      <li>Halasana (Plough pose) </li>
                      <li>Pacchimottasana(Seated forward bend) </li>
                  </ul>  
              </li>
            </ul>
            <p>Along with diet and exercise, Ayurveda prescribes certain dos and don’ts which are beneficial to attain a healthy weight: </p>
            <h3>Pathya (Dos)</h3>            
            <ul>
              <li>Hard work (shrama)</li>
              <li>Sexual activity (Vyavaya)</li>
              <li>Intake of low fat and low-calorie food items</li>
              <li>Frequent meals should be taken to avoid cravings</li>
              <li>Eat steamed, boiled or baked vegetables rather than fried</li>
              <li>Take more proteins to stay longer without food</li>
              <li>Include lemon in diet as well as drinks</li>
            </ul>
            <h3>Apathya (Don’ts):</h3>
            <ul>
                <li>Avoid cold water (sheetalajala).</li>
                <li>Avoid sleeping during the day time (Divaswapa).</li>
                <li>Avoid doing less exercise and indulging in sexual activity (Avyayama, Avyavaya).</li>
                <li>Avoid excessive sleeping (Swapna Prasanga).</li>
                <li>Avoid too much comfortable or cozy bedding (sukha shaiyya).</li>
                <li>Avoid staying idle.</li>
              </ul>            
            <p>Prevention is always better than cure. However, adapting to a healthy lifestyle, with emphasis on the balanced food habits, can help to attain a healthy body weight. Emphasis should be given on long term weight management rather than short term weight loss. Ayurvedic treatments are very effective both in preventing and managing obesity. </p> 
    </div>
    <div class="reference">
      <h3>References:</h3>
      <ul>
        <li>1.	Saboo B. Obesity is not because it runs in family, it's because no one runs in family. J Obes Metab Res. 2014;1(3):3</li>
        <li>2.	World Health Organization website. Obesity and Overweight factsheet. (Updated on 16/02/2018, Cited on 5/09/2018). Available from: http://www.who.int/news-room/fact-sheets/detail/obesity-and-overweight.</li>
        <li>3.	Undavalli VK, Ponnaganti SC, Narni H. Prevalence of generalized and abdominal obesity: India’s big problem. Int J Community Med Public Health. 2018 Apr;5(4):1311-1316</li>
        <li>4.	P.V Sharma. Chapter XXI, Section 1- On The Eight Despicables etc. In: Caraka samita. 4th edition .1998. Varanasi. Chaukhambha Orientalia:2017</li>
        <li>5.	Sharma H, Chandola HM .Obesity in Ayurveda ; Dietary, lifestyle, and herbal considerations., in bioactive food as dietary interventions for Diabetes, Edited by Ronald Ross Watson and Victor R. Preedy, Academic Press, San Diego,CA,USA, First Edition 2013  </li> 
        <li>6.	Mawale PM, Pajai SV. Prevention and management of Obesity. International Journal of Research in Ayurveda and Pharmacy. Jan- Feb 2014; 5 (1): 65-68</li> 
        <li>7.	Yadav AL, Shitre A, Bhirud P. Sthaulya: Ayurveda perspective w.s.r.to childhood obesity. World Journal of Pharmaceutical and Medical Research. 2017;3(6): 320-322.      </li>
        <li>8.	Sonia Friedman, Richard S. Blumberg. Harrison's principles of internal medicine (19th edition). New York: McGraw Hill Education; 2015. Chapter 416- Evaluation and Management of Obesity. 2392-2399</li>
        <li>9.	Sharma S. Obesity (Sthaulya) and its Ayurvedic management.  IAMJ. June 2017; 5(6).2098-2105</li>
        <li>10.	Kumar G, Sharma M, Ramesh K, Ashwani R, Sharma OP. A review on Sthaulya (Obesity) and its management in Ayurveda. Unique Journal of Ayurvedic and Herbal Medicines. 2014; 2 (6): 66-72</li>
        <li>11.	Obesity (Sthaulya). Central Council for Research in Ayurvedic Science. (Accessed on 5/ 09/2018). Available from:  http://www.ccras.nic.in/sites/default/files/viewpdf/faq/OBESITY.pdf.  </li>
      </ul>
    </div>    
  </div>
</div>
</section>
<div class="mb-5 mt-5">
  <app-main-footer></app-main-footer>
</div>
