<app-navigation></app-navigation>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 m-top text-center">
      <div class="clear20"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <img class="img-fluid" src="../../assets/images/sticknew.png">
      </div>
      <div class="clear20"></div>
      <label class="txt1">Your order has been Confirmed</label>
      <div class="clear20"></div>
      <label class="txt2">Thank you for Shopping with Us</label>
      <div class="clear20"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 mx-auto">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <button type="button" class="signnew">view order summary</button>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <button type="button" class="signnew1">continue shopping</button>
          </div>
        </div> 
      </div>
      <div class="clear30"></div>
    </div>
  </div>
</div>
<app-main-footer></app-main-footer>