<app-patient-navigation></app-patient-navigation>
<app-patient-header></app-patient-header> 
<app-floating></app-floating>
<div id="" class="appointmentsMainContainer container">
  
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-12">
        <ul class="timeline">
          <!-- <app-year-slider></app-year-slider> -->
          <div class="clear30"></div>
          <!-- <app-months-multislider></app-months-multislider> -->
          <li>
            <app-year-slider></app-year-slider>
          </li>
          <li>
            <app-months-multislider></app-months-multislider>
          </li>
          <li>
            <label class="appo-timeline-heading text-uppercase">Upcoming Appointments</label>
            <div class="clear30"></div>
            <div class="row">
              <div  class="col-md-6 pdlr-5" *ngFor ="let item of upCommingAppointmentDetails">
                <div class="appointment-card-wrap upcommingAppointments">
                  <div class="card appointment-card">
                    <div class="card-header">
                      <span class="float-left text-lowercase">23<sup>rd</sup> August, 2018
                        &nbsp; <a class="badge badge-light text-uppercase">TODAY</a>
                      </span>
                      <span class="float-right">{{item.appoTime}}</span>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-4 pdlr-5 text-center">
                          <img class="img-fluid rounded-circle" src="{{item.appoDoctImg}}" />
                        </div>
                        <div class="col-md-8 pdlr-5">
                            <div class="clear10"></div>
                          <div class="doct-info fs-16px fw-bold">{{item.appoDoctName}}</div>
                          <div class="doct-exp fs-14px">{{item.appoDoctExp}}</div>
                          <div class="clear5"></div>
                          <div class="doct-info fs-12px fw-bold">{{item.appoDisease}}</div>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="clear30"></div>
                <div class="row mx-auto">
                  <button type="button" class="btn btn-trasnp-1">CANCEL</button>
                  <button type="button" class="mx-auto btn btn-trasnp-1">RESCHEDULE</button>
                  <button type="button" class="btn btn-green-1">START</button>
                </div>
                </div>
                <div class="clear10"></div>
               </div>
              </div>
          </li>
          <li>
            <label class="appo-timeline-heading text-uppercase">Past Appointments</label>
            <div class="clear30"></div>
            <div class="row">
                <div class="col-md-6 pdlr-5" *ngFor ="let item of pastAppointmentDetails">
                  <div class="appointment-card-wrap pastAppointments">
                    <div class="card appointment-card">
                      <div class="card-header">
                        <span class="float-left text-lowercase">23<sup>rd</sup> August, 2018
                          &nbsp; <a class="badge badge-light text-uppercase">TODAY</a>
                        </span>
                        <span class="float-right">2:00 pm</span>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-4 pdlr-5 text-center">
                            <img class="img-fluid rounded-circle" src="{{item.appoDoctImg}}" />
                          </div>
                          <div class="col-md-8 pdlr-5">
                              <div class="clear10"></div>
                            <div class="doct-info fs-16px fw-bold">Ayurveda Expert</div>
                            <div class="doct-exp fs-14px">35 Years Experience</div>
                            <div class="clear5"></div>
                            <div class="doct-info fs-12px fw-bold">Diabetic care</div>
                          </div>
                        </div>
  
                      </div>
                    </div>
                    <div class="clear30"></div>
                  <div class="row mx-auto">
                    <button type="button" routerLink="/patientPrescription" class="btn btn-trasnp-1">view prescription</button>
                    <button type="button" routerLink="/patientFeedback" class="mx-auto btn btn-trasnp-1">Give Feedback</button>
                    <button type="button" class="btn btn-green-1">re-book</button>
                  </div>
                  </div>
                  <div class="clear10"></div>
                 </div>
                </div>
              <div class="clear10"></div>
              
          </li>
        </ul>
      </div>
    </div>
</div>
</div>
<app-footer></app-footer>
