<app-navigation></app-navigation>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 home-top">
    <app-floating></app-floating>
</div>
<div class="clear"></div>
<div class="container">
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <p class="blurtxt txtcenter">Kutaja (Holarrhena antidysenterica) </p>
          <div class="clear20"></div>
          <p class="txt1 txtcenter">Kutaja (Holarrhena Antidysenterica) 
            is a well-known medicinal herb  </p>
              <div class="clear10"></div>
              <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
              <div class="clear20"></div>
              <p class="topptxt txtcenter">Prescribed in the Ayurvedic and Unani system of medicine.  It is especially popular for the treatment of dysentery and diarrhoea. </p>
              <div class="clear40"></div>
              <div class="row m-0">
                <div class="col-6 col-am-6 col-md-6 col-lg-6 borderright">
                  <p class="byUStxt">By U.S. News Staff</p>
                </div>
                <div class="col-6 col-am-6 col-md-6 col-lg-6">
                     <label class="byUStxt">Jan 03, 2018 at 7:45 pm</label>
                  </div>
              </div>
            
              <!-- <p class="paratxt3 txtcenter">Piles and having normal bowel movements is an absolute must to relieve discomfort and relieve Piles.  Following certain self-help measures can be helpful to ease bowel movement and heal bleeding piles:
                </p> -->
              <div class="clear40"></div>
              <p class="paratxt1 txtcenter">What is Kutaja?
              </p>
              <p class="paratxt3 txtcenter"> 
                Kutaja is a large tree around 30-40 feet in height. It bears white flowers and fruits around half an inch in diameter. This plant is found in the subtropical regions of Asia and Africa. In India, this tree is found in abundance especially in the sub Himalayan regions. The seeds, leaves and the bark of the tree are usually prescribed as medicines.  </p>
              <p class="paratxt1 txtcenter">Quick facts:</p>
              <p class="paratxt3 txtcenter">  • In Orissa, people offer rice with Kutaja leaves during the festival of Nabanna. 

              </p> 
              <p class="paratxt3 txtcenter"> • In Ayurveda, this herb is a major constituent of many important Ayurvedic formulations such as Kutajarishta, Kutajavleha, Kutajghan vati, Mahamanjishtadi Kashayam, Stanyashodhana Kashaya, and Patoladi Choornam.

              </p>
             
              <p class="paratxt3 txtcenter">  • Many Indian tribes have used kutaja for the treatment of conditions such as anemia, cholera and epilepsy. 

              </p>
             
             
              <p class="paratxt1 txtcenter">

                Medicinal properties: </p> 
                <p class="paratxt1 txtcenter">

                  The following medicinal properties of Kutaja has been reported: 
                </p>
              <p class="paratxt1 txtcenter"> 
                • Antidiabetic: 
</p>
              <p class="paratxt3 txtcenter">The seeds of Kutaja are known to possess antidiabetic properties. 
              </p>
              <p class="paratxt1 txtcenter"> 
                • Anticancer: 


              </p> 
              <p class="paratxt3 txtcenter"> 
                There is some evidence that alcohol extracts of Kutaja leaves has anticancer activity in lung, colon, liver, ovarian, cervical and neurological cancers. 


              </p>
              <p class="paratxt1 txtcenter"> 
                • Anti-plasmodial: 

              </p>
              <p class="paratxt3 txtcenter"> 
                Animal studies have found that kutaja plant extracts have significant activity against certain plasmodium species such as plasmodium bergheii. 


              </p>
              <p class="paratxt1 txtcenter"> 
                • Antibacterial: 


              </p>
              
              <p class="paratxt3 txtcenter"> 
                The extract of the root has antiacne effects.</p>
              <p class="paratxt1 txtcenter">
 
                • Antioxidant activity: 
              </p>
              <p class="paratxt3 txtcenter">Kutaja has been found to be effective against various microorganisms that cause diarrhoea such as E. coli, Shigella, Staphylococcus aureus, and Salmonella typhi. The bark extracts have also shown some activity against Anti-methicillin resistant Staphylococcus aureus (MRSA). 
              </p>
              <p class="paratxt1 txtcenter">

                Medicinal uses: 

              </p>
              <p class="paratxt1 txtcenter">
                Different parts of the Kutaja plant have different medicinal uses. They are as follows:  


                  </p>
              <p class="paratxt1 txtcenter">•Diarrhoea and Dysentery: 

 
                </p>
              <p class="paratxt3 txtcenter">
                The juice extracted from the Kutaja bark or the paste of the bark are used to treat diarrhoea and dysentery.

                  </p> 

                  <p class="paratxt1 txtcenter">• Intestinal Worms: 


 
                  </p>
                <p class="paratxt3 txtcenter">
                  The juice obtained from pounding Kutaja leaves are given to kill worms in the intestine. 

   
                    </p>
                    <p class="paratxt1 txtcenter">• Liver problems: 

 
 
                    </p>
                  <p class="paratxt3 txtcenter">
                    The decoction of the bark is used to treat liver problems. 

                      </p>
                      <p class="paratxt1 txtcenter">• Body pains: 
 

 
                      </p>
                    <p class="paratxt3 txtcenter">
                      The ground bark with water can be taken orally or applied on the body to treat body ache.
                        </p>
                        <p class="paratxt1 txtcenter">• Stomach ache: 
 
 
 
                        </p>
                      <p class="paratxt3 txtcenter">
                        Dried bark powder when taken orally is helpful to reduce stomach ache </p>
                          <p class="paratxt1 txtcenter">• Antidote: 
 
 
 
                          </p>
                        <p class="paratxt3 txtcenter">
                          5-10 grams of powdered seeds, given orally and the paste of the seeds applied locally serves as an antidote and helps in relieving pain and swelling due to poisonous bites. 

                            </p>
                            <p class="paratxt3 txtcenter">The bark of the tree is also used for treatment of bleeding piles, as a diuretic (to increase urine production), and chest problems. The seed has been used for conceiving and also to tone up vaginal tissues after delivery. 

 
 
                            </p>
                          <p class="paratxt1 txtcenter">
                            Side effects: 
                              </p>
             
                            <p class="paratxt3 txtcenter">
                              The following are some of the side effects reported with the use of Kutaja such as nausea, flatulence, heat sensation in the stomach and the head, constipation, insomnia, vertigo, syncope, weakness, dry mouth and lightness of the body. In some cases, it has also known to cause neurological symptoms such as agitation, vertigo, insomnia, delirium and anxiety.
                                </p>

                                <p class="paratxt1 txtcenter">Safety: 

 
                                </p>
                              <p class="paratxt3 txtcenter">
                                The appropriate dose of Kutaja depends upon the illness, the age, sex and overall health of the person using it. More studies are needed to determine the recommended safe dose of Kutaja. As for any drug, herbal medicines such as Kutaja should also be taken according to the dosage suggested by the health care provider. 
                                  </p>
                                
                          <div class="clear40"></div>
                          <hr/>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 topreads">
            <p class="txt1 txtcenter">Top Reads </p>
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 txtcenter">
                <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
            </div>
            <div class="clear20"></div>
        </div>
        <div class="row m-0">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
            <img src="././assets/images/b-food.png">
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <label class="diseasestxt">Digestive Health</label>
            </div>
            <label class="diseasestxt2">14 best & worst foods for your ...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/safron.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">SKIN</label>
              </div>
              <label class="diseasestxt2">Saffron for good health..</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
        </div>
        <div class="clear20"></div>
        <div class="row m-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/b-food.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">Digestive Health</label>
              </div>
              <label class="diseasestxt2">14 best & worst foods for your ...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
                <img src="././assets/images/safron.png">
                <div class="clear10"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <label class="diseasestxt">SKIN</label>
                </div>
                <label class="diseasestxt2">Saffron for good health..</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                    <button class="btn read_morenew">READ MORE</button>
                </div>
              </div>
          </div>
          <div class="clear40"></div>
          <hr/>
      </div>
  </div>
  <div class="clear40"></div>
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <label class="txt1">Related Articles</label>
          <div class="clear10"></div>
          <img class="img-fluid iwidth" src="././assets/images/big_border.png">
          <div class="clear20"></div>
      </div>
      <div class="clear40"></div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
          <img src="././assets/images/awellness.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <label class="diseasestxt">wellness</label>
          </div>
          <label class="diseasestxt2">Low calorie diet
              to lose weight...</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
              <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
            <img src="././assets/images/asuryanamaskar.png">
            <div class="clear10"></div>
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 text-center">
                <label class="diseasestxt">healthy food</label>
            </div>
            <label class="diseasestxt2">Food & Activity
                Journal for...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
              <img src="../../assets/images/plane.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">kids & teens</label>
              </div>
              <label class="diseasestxt2">Young overweight 
                  & Obesity in...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
  </div>
   <div class="clear70"></div>
</div>
