<app-navigation *ngIf="showHeader" ></app-navigation>
<section class="home-top pt-5"> 
    <app-floating></app-floating>
  <div class="container "> 
      <h1 class="main_title">Hairfall </h1>
    <h1 class="main_title2">“one of the most common problems<br>
      all over the world”</h1>

    <div class="clearfix"></div>
<div class="clear20"></div>
<!-- <div class="HedingMapContentBox col-12 col-sm-12 col-md-12 col-lg-11">
  <div class="row graphtxtr">
      <div class="col-12 col-sm-12 col-md-6 col-lg-3">
        <div class="col-12 col-lg-12 text-center">
          <img src="././assets/images/world-map.png">
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 padlrn">
        <div class="col-12 col-lg-12 text-left padlrn">
          <div class="row">
            <div class="col-6 col-lg-4  Around50Text2 Around50Text  text-center">
              <p>Globally, 
              </p>
              <h1>1/8</h1>
            </div>
            <div class="col-6 col-lg-8 m-l-25 padlrn">
              <div class="clear10"></div>
                <div class="BorderBotton"></div>
                <p class="million1"> deaths occur due to 
                  high blood pressure
                    </p>     
              </div>
          </div>
          <div class="BorderBotton"></div>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-1 mrgnt15 txtalligncenter1">
          <img src="././assets/images/india.png">
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row">
                  <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                      <span class="million1">High BP accounts for</span>
                  </div>
                  <div class="col-2 col-sm-2 col-lg-1 col-md-1 padlrn">
                    <div class="clear20"></div>
                      <div class="BorderBotton"></div>
                  </div>
                </div>
                  
              </div>
              <div class="col-3 col-sm-3 col-md-3 col-lg-4 m-t-18">
                  <h1 class="seventytwo">1.1</h1>
                  <p class="million"> million</p>
                   
              </div> 
              <div class="col-12 col-sm-12 col-md-8 col-lg-8 Around50Text2 Around50Text padlrn m-l-50">
                    <p>cases of diabetes
                      were reported in
                      the year 2017</p>     
              </div> 
          </div>  
                  <div class="clear"></div>
          <div class="col-8 col-lg-11 padln">
            <div class="BorderBotton"></div>
          </div>
                  
          </div>
        </div>
       
  </div>


</div> -->
<div class="clear20"></div>
  <div class="DibetectSection">
      <div class="DibeticLeft" (click)="scrollTo('Overview')">
        <img src="././assets/images/noun-health.png">
        <p class="m-0">Overview</p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('SymptomsCauses')">
        <img src="././assets/images/noun-medical.png">
        <p class="m-0">Symptoms &amp; Causes  </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('PreventionDiagnosis')" >
        <img src="././assets/images/noun-bacteria.png">
        <p class="m-0"> Prevention &amp; Diagnosis </p>
      </div>
      <div class="DibeticLeft"  (click)="scrollTo('AyurvedaApproach')">
        <img src="././assets/images/noun-herbal-medicine.png">
        <p class="m-0"> Ayurveda Approach </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('Complications')" >
        <img src="././assets/images/noun-healt.png">
        <p class="m-0"> Complications </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('RelatedProducts')">
          <img src="././assets/images/noun-medicine10.png">
          <p class="m-0">    Related Products </p>
        </div>
    
  
    </div>
    <div class="clear20"></div>
<div class="clear"></div>
</div>
</section>
<div class="container">
  <!-- <div class="zanduservicemain">
    <div class="card-deck px-5">
      <div class="card zanduservice">
        <div class="card-body">
          <p class="card-text">Sign up to get <br>
            Zandu Services FREE!</p>
        </div>
      </div>
      <div class="card zanduservice text-center">
        <div class="card-body">
          <button class="btn FbBtn" type="button"><img alt="facebook" class="mr-2" src="././assets/images/facebook.png">
            Login With Facebook</button>
        </div>
      </div>
      <div class="card zanduservice text-left">
        <div class="card-body ">
          <button class="btn  GoogleBtn" type="button"><img _ngcontent-c1="" alt="google" class="mr-2" src="././assets/images/google.png">
            Sign up with Google</button>
        </div>
      </div>
      <div class="card zanduservice mr-4">
        <div class="card-body ">
          <span>Call us @</span>
          <h5>9999 8888 22</h5>
        </div>
      </div>
    </div>
  </div> -->
</div>
<div class="clear"></div>

<section id="Overview" class="Yoga_AurvedaSection">
    <div class="clear"></div>
  <h1>What is Hairfall ?</h1>
  <div class="clear"></div>
  <div class="text-center">
    <img src="././assets/images/big_border.png">
  </div> 
  <div class="row m-0">
  <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 txtalligncenter col-md-6 col-lg-6">
      <img class="w-100" src="././assets/images/whthairfall.png">
  </div>
  <div class="Yoga_Ayurveda_RightDiv txtalligncenter col-12 col-sm-12 col-md-6  col-lg-6">
    <h5>Though losing hair is not a serious health issue, it has a significant impact on the aesthetics of an individual. </h5>
    <p>This leads to depression, loss of confidence and 
      low self-esteem. No wonder hair-fall treatment 
      is a billion-dollar industry today!</p>
  
    <button class="btn btn-primary mb-2 mt-4 signnew" routerLink="../HypertensionRead" type="button">read more</button>
  </div> 
</div>
  <div class="clear"></div>
  

</section> 

<section id="SymptomsCauses" class="Yoga_AurvedaSection12 Yoga_AurvedaSymptoms symptoms-uti">
  <div class="container">
    <div class="clear"></div>
    <h1 class="text-center">Symptoms of Hairfall </h1>
  <div class="clear"></div>
  <div class="text-center">
    <img src="././assets/images/big_border.png">
  </div> 
  <div class="row m-0">
  <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 txtalligncenter col-md-6 col-lg-6">
      <img class="w-100" src="././assets/images/smptomhairfall.png">
  </div>
  <div class="Yoga_Ayurveda_RightDiv txtalligncenter col-12 col-sm-12 col-md-6  col-lg-6">
    <p>Gradual loss or fall of hair is the only sign associated 
      with hair fall. The symptom of hair fall is exhibited by 
      abnormal loss of hair which may be mild (loss of around 
      100 hair per day) or severe (accounts to loss of 100 
      to 200 hair per day).</p>
  
    <button class="btn btn-primary mb-2 mt-4 signnew" routerLink="../hairfallreadmore" type="button">read more</button>
  </div> 
  </div>
  <div class="clear"></div>
  </div>
  
  </section> 
<div class="clear"></div>



  <section id="PreventionDiagnosis" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms ">
  <div class="container ResMainDiv">
      <h1>Do you know what actually <br>
        causes Hairfall </h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
      <p class="text-center ptractinfection">Different types of hair fall have different causes, such as:</p>
     
      <div class="clear"></div>
      <div class="clear20"></div>
      <div class="row ResMainDiv">
          <div class="col-6 col-sm-6 col-md-3 col-lg-3 text-center ResScroll">
            <img src="././assets/images/excess-exercise.png">
            <div class="clear20"></div>
            <label class="lyfestyle-mgmt">Excessive<br>
              Exercise</label>
          </div>
          <div class="col-6 col-sm-6 col-md-3 col-lg-3 text-center ResScroll">
              <img src="././assets/images/anxifty.png">
              <div class="clear20"></div>
              <label class="lyfestyle-mgmt">Anxiety, fear,<br>
                or anger</label>
            </div>
            <div class="col-6 col-sm-6 col-md-3 col-lg-3 text-center ResScroll">
                <img src="././assets/images/hunger.png">
                <div class="clear20"></div>
                <label class="lyfestyle-mgmt">Hunger<br>
                    daytime</label>
              </div>
              <div class="col-6 col-sm-6 col-md-3 col-lg-3 text-center ResScroll">
                  <img src="././assets/images/trauma.png">
                  <div class="clear20"></div>
                  <label class="lyfestyle-mgmt">Trauma/<br>
                    Major Injuries</label>
                </div>
        </div>  
     <div class="clear10"></div>
      
      <div class="clear"></div>
      <div class="topping_spac">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
              <div class="all_benefits pt-3 txtalligncenter">
                  <p>Want to get all the Benefits of <br>
                    Ayurveda? Get a Free consultation!</p>
                  <span>Book Your Appointment now in 3 Easy Steps</span>
                </div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 txtalligncenter">
              <div class="all_benefits all_benefits2 text-center">
                  <button class="btn btn-primary mb-2 signnew" type="button" routerLink="../patientloginpage">book appointment</button>
                  <p class="ORTExt">Or </p>
                  <p>call 1800 572 8000</p>
                </div>
            </div>
        </div>
        
    
         
     
      </div>
    </div>
    </section> 
    <div class="clear40"></div>
    <div class="clear40"></div>
    <section class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms ">
        <h1 class="text-center">Hairfall  & the Doshas</h1>
        <div class="clear"></div>
        <div class="text-center">
          <img src="././assets/images/big_border.png">
        </div> 
        <p class="text-center ptractinfection">According to Ayurveda, the imbalance in all three doshas contributes to the development and retention of obesity.</p>
      <div class="clear20"></div>
      <div class="container">
      <div class="text-center">
          <div class="article_div col-12 col-sm-12 col-md-6 col-lg-4 text-center mrgnb15">
            <img class="mx-auto d-block img-fluid" src="././assets/images/Kapha.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>Kapha</span>
              <div class="clear10"></div>
              <p>The kaphadosha loses its normal consistency and becomes more vicious and sticky. As a result of these changes, Kapha along with Rakta Dosha blocks the opening of the pore, or hair follicles, in such a way that normal hair growth is inhibited.</p>
            </div>
            <div class="clear50"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew " (click)="setNav('kapha')"  routerLink="../hairfallreadmore">READ MORE</button>
            </div>
            <div class="margin20"></div>
          </div>
  
          <div class="article_div col-12 col-sm-12 col-md-6 col-lg-4 text-center mrgnb15">
            <img class="mx-auto d-block img-fluid" src="././assets/images/Pita.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>PITA</span>
              <div class="clear10"></div>
              <p>Deranged pita dosha in the hair follicle act upon the root, and shaft of the hair till the hair tips cause hair fall. Deranged pitta also leads to a derangement of Rakta Dhatu (blood cells) and Kaphadosha.</p>
            </div>
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew" (click)="setNav('kapha')" routerLink="../hairfallreadmore">READ MORE</button>
            </div>
            <div class="margin20"></div>
          </div>
  
          <div class="article_div col-12 col-sm-12 col-md-6 col-lg-4 text-center mrgnb15">
            <img class="mx-auto d-block img-fluid" src="././assets/images/Vata.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span> VATA</span>
              <div class="clear10"></div>
              <p>Vata joins with body heat and burns the hair ground shortly, which eventually leads to baldness. Deranged vata dosha in the hair follicle act upon the root, and shaft of the hair till the hair tips cause hair fall.</p>
            </div>
            <div class="clear30"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew " (click)="setNav('kapha')" routerLink="../hairfallreadmore">READ MORE</button>
            </div>
            <div class="margin20"></div>
          </div>
      </div>
      <div class="clear40"></div>
      <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <label class="minitues">Take our 3 Minute Dosha Test</label>
          <div class="clear30"></div>
          <div class="col-12 col-lg-12 text-center">
              <button class="btn  read_more1 ">calculate now</button>
          </div>
        </div> -->
    </div>
    <div class="clear"></div>
    <div class="container">
        <div class="topping_spac">
        
       <span class="call-queries1">Call 1800 572 8000</span> <span class="call-queries">  to get in touch with our 
            Health Experts & resolve your Health Queries</span>  
        
       
          </div>
        </div>
      </section> 

<section class="Yoga_AurvedaSection-prevention Yoga_AurvedaSymptoms">
  <h1>Yoga for Hairfall </h1>
  <div class="clear"></div>
  <div class="text-center">
    <img src="././assets/images/big_border.png">
  </div> 
   
  <div class="clear"></div>
  <div class="clear40"></div>
 <div class="container">
    <div class="row m-0">
        <div class="allyoga mrgnb25  text-center ">
            <img src="././assets/images/uttanasana.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Uttanasana
                </span>
        </div> 
        <div class="allyoga mrgnb25  text-center">
            <img src="././assets/images/vajrasana.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Vajrasana
                </span>
        </div>
        <div class="allyoga mrgnb25 text-center ">
            <img src="././assets/images/adhomukh.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Adhomukhashavasana</span>
        </div>
        <div class="allyoga mrgnb25 text-center">
            <img src="././assets/images/vipritkarani.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Vipritakarani 
                </span>
        </div>
        <div class="allyoga mrgnb25 text-center">
            <img src="././assets/images/halasana.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Halasana 
                </span>
        </div>
      </div>        
 </div>

  <div class="clear"></div>
</section> 


<section class="Yoga_AurvedaSection-prevention Yoga_AurvedaSymptoms">
  <h1>How Hairfall is Identified<br>
    in the Human Body</h1>
  <div class="clear"></div>
  <div class="text-center">
    <img src="././assets/images/big_border.png">
  </div> 
   
  <div class="clear"></div>
  <div class="clear40"></div>
 <div class="container">
    <div class="row m-0">
        <div class="col-12 col-sm-6 mrgnb25 col-md-3 col-lg-3 hhihb text-center ">
            <img src="././assets/images/comb.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Scalp biopsy </span>
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 rmposition1 text-center">
              <button class="btn read_morenew " routerLink="../hairfallreadmore">READ MORE</button>
          </div>
        </div> 
        <div class="col-12 col-sm-6 mrgnb25 col-md-3 col-lg-3 hhihb text-center">
            <img src="././assets/images/bldtst.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Blood test </span>
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 rmposition1 text-center">
              <button class="btn read_morenew " routerLink="../hairfallreadmore">READ MORE</button>
          </div>
        </div>
        <div class="col-12 col-sm-6 mrgnb25 col-md-3 col-lg-3 hhihb text-center ">
            <img src="././assets/images/microscopic.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Microscopic examination 
              of hair
            </span>
            <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 rmposition1 text-center">
                  <button class="btn read_morenew " routerLink="../hairfallreadmore">READ MORE</button>
              </div>
        </div>
        <div class="col-12 col-sm-6 mrgnb25 col-md-3 col-lg-3 hhihb text-center">
            <img src="././assets/images/hairpull.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Hair Pull test</span>
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 rmposition1 text-center">
              <button class="btn read_morenew " routerLink="../hairfallreadmore">READ MORE</button>
          </div>
        </div>
      </div>        
 </div>

  <div class="clear"></div>
</section> 


<div class="clear40"></div>

<div class="clear40"></div>
<div class="clear40"></div>
<section id="AyurvedaApproach" class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms">
    <h1 class="text-center">Ayurvedic Approach to Manage Hairfall 
    </h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
    <p class="text-center ptractinfection">Panchakarma treatment which helps to restore hair growth, includes the following techniques  </p>
  <div class="clear20"></div>
  <div class="container">
    <div class="row m-0">
      <div class="col-12 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25">
          <img src="././assets/images/shirobhya.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Shiroabhyanga –  
            Scalp Massage 
            with warm oil
              </span>
      </div> 
      <div class="col-12 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25">
          <img src="././assets/images/sherolep.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Shirolep – Applying 
            herbal paste to 
            the scalp
              </span>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 ">
          <img src="././assets/images/nasya.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Nasya – Administering 
            medicated oil through 
            the nose to improve 
            blood circulation
              </span>
      </div>
      <div class="col-12 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25">
          <img src="././assets/images/shirodha.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Shirodhara – 
            Pouring medicated 
            liquids in the forehead 
            to relieve stress</span>
      </div>
     
    </div> 
    <div class="clear20"></div>
    <div class="row m-0">
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25">
            <img src="././assets/images/soaked.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Paste of soaked 
              fenugreek seeds
                </span>
        </div> 
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25">
            <img src="././assets/images/paste.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Paste of amla powder
              and warm water
                </span>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25">
            <img src="././assets/images/eggglass.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">One egg white 
              and lemon juice
                </span>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25">
            <img src="././assets/images/almondoil.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Hot almond oil, 
              or coconut oil
                </span>
        </div>
       
    </div> 
 
  
  
  <div class="clear60"></div>
  <div class="col-12 col-lg-12 text-center lfst-box">
    <label class="lyfestyle-mgmt">Lifestyle Management</label>
  </div>
  <div class="clear40"></div>
  <div class="row">
    <div class="col-6 col-sm-6 col-md-4 col-lg-4 text-center mx-auto">
      <img src="././assets/images/Diet.png">
      <div class="clear20"></div>
      <label class="lyfestyle-mgmt">DIET</label>
    </div>
  </div>
</div>
<div class="clear"></div>
  </section> 




<!-- <section class="dosha">
  <div class="dosham">
    <p>As hypertension is a lifestyle-related disease, adapting to 
        healthy habits is the major part of the treatment. The 
        healthy day-to-day regime helps the patient to prevent 
        complications of the disease.</p>
       <h5>-       Ayurvedic diet recommendations </h5> 
       <h5>-      Yoga</h5> 
       <h5>-      Pranayama (breathing exercises</h5>    
       <div class="clear20"></div> 
  </div>
  <div class="clear"></div>
  <div class="clear40"></div>
  <div class="clear40"></div>
  <div class="clear40"></div>
 

</section>  -->
<section class="HomeDisplayNone">
  <div class="container">
      <div class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms deal-areabg"> 
     
          <h1 class="text-center">Home Remedies</h1>
          <div class="clear"></div>
          <div class="text-center">
            <img src="././assets/images/big_border.png">
          </div>    
      <div class="clear"></div>
      <div class="clear20"></div>
      <div class="deal_area">
          <div class=" mb-4">
            <div class="shadoo1 mx-0">
              <div class="card tab_card mx-0 small_div BorderradiusLeft">
                <div class=" BorderradiusLeft card-body {{tabs[0].active}}" (click)="openCity(0)">
                  <div class="border_div">
                    <span>sleep  </span>
                  </div>
                </div>
              </div>
              <div class="card tab_card mx-0">
                <div class="card-body {{tabs[1].active}}" (click)="openCity(1)">
                  <div class="border_div">
                    <span>shampoo</span>
                  </div>
                </div>
              </div>
              <div class="card tab_card mx-0 BorderradiusRight">
                <div class=" BorderradiusRight card-body  {{tabs[2].active}} " (click)="openCity(2)">
                  <div class="border_div ">
                    <span>hair brush                   </span>
                  </div>
                </div>
              </div>
             
              <div class="card tab_card mx-0 BorderradiusRight">
                  <div class=" BorderradiusRight card-body  {{tabs[3].active}} " (click)="openCity(3)">
                    <div class="border_div HiddenBorder">
                      <span>food
                      </span>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        
          <div class="{{tabs[0].tabcontent}} p-0 TabContentBox paddingTabContentDiv BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
               <div class="row">
                 <div class="col-12 col-sm-12 col-md-6 col-lg-6 hr-tabdiv">
                   <p class="tab-p">Sleep adequately as it promotes rejuvenation of hair, prevents stress and increases energy levels.</p>
                 </div>
                 <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                   <img class="img-fluid" src="././assets/images/hfsllep.png">
                 </div>
               </div>
              </div>
            </div>
          </div>
        
          <div class="{{tabs[1].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
               <div class="row">
                 <div class="col-12 col-sm-12 col-md-6 col-lg-6 hr-tabdiv">
                   <p class="tab-p">Sleep adequately as it promotes rejuvenation of hair, prevents stress and increases energy levels.</p>
                 </div>
                 <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                   <img class="img-fluid" src="././assets/images/hfsllep.png">
                 </div>
               </div>
              </div>
            </div>
          </div>
        
          <div class="{{tabs[2].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
               <div class="row">
                 <div class="col-12 col-sm-12 col-md-6 col-lg-6 hr-tabdiv">
                   <p class="tab-p">Sleep adequately as it promotes rejuvenation of hair, prevents stress and increases energy levels.</p>
                 </div>
                 <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                   <img class="img-fluid" src="././assets/images/hfsllep.png">
                 </div>
               </div>
              </div>
            </div>
          </div>
      
          <div class="{{tabs[3].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
               <div class="row">
                 <div class="col-12 col-sm-12 col-md-6 col-lg-6 hr-tabdiv">
                   <p class="tab-p">Sleep adequately as it promotes rejuvenation of hair, prevents stress and increases energy levels.</p>
                 </div>
                 <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                   <img class="img-fluid" src="././assets/images/hfsllep.png">
                 </div>
               </div>
              </div>
            </div>
            </div>
      
        </div> 
      </div>
  </div>
</section>


  <section id="RelatedProducts" class="Yoga_AurvedaSectionrp Yoga_AurvedaSymptoms">
      <h1 class="text-center">Related Products</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
     
  <div class="clear"></div>
  <div class="clear20"></div>
<div class="container">
    <div class="row" *ngIf="visibleCategory">
  
        <div class="col-6 col-sm-4 col-md-4 col-lg-4 "  *ngFor="let data of visibleCategory">
      <div class="col-6 col-sm-12 col-md-12 col-lg-12 Product_div tab-h text-center padlrn" *ngIf="visibleCategory.length!=0">
        <div class="clear20"></div>
        <div class="WhiteBox">
          <div (click)="getProductDetails(data.id)" >
              <img src="{{data.imageUrl}}" width="199" height="194">
              <div class="clear10"></div>
              <label class="zl-text cursor">{{data.name}}</label>
          </div>
        </div>
        <br>
      

        <div class="row">
          <div class="text-center col-6 col-sm-6 col-md-6 col-lg-6 ">
            <label class="">
              <label class="zl-text1">&#8377;</label>
              <label class="zl-text12">{{data.selling}}</label>
            </label>
          </div>
          <div class=" col-6 col-sm-6 col-md-6 col-lg-6 text-left">
            <div class="product_img">
              <div class="clear10"></div>
              <div class="order-margin-top2"> 
             
                <i *ngIf="qtyP!=0" class="fa" (click)="reduce(data)"><img src="././assets/images/SpinnerMinus.png"></i>&nbsp;
                <input [(ngModel)]="data.qty" class="input-spinner" >&nbsp;
                <i class="fa" (click)=" add(data)"><img src="././assets/images/SpinnerPluse.png"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">
        <div class="col-6 col-lg-12 text-center rmpositionnew">
            <div class="clear20"></div>
            <button class="btn  read_morerp AddToCartBtn" (click)="addToCart(data)" type="button">add
                to cart</button>
          
        </div> 
        </div>
        <div class="clear20"></div>       
      </div>
    </div>
</div>
<div  class="row " *ngIf="visibleCategory.length==0">
    <div class="col-12 col-lg-12 text-center">
        <div class="clear20"></div>
        <h6>No Products Found...</h6>
    </div> 
  
  </div>
<!-- </div> -->
<div class="clear20"></div>
<div class="row" *ngIf="visibleCategory.length!=0">
    <div class="col-6 col-lg-12 text-center">
        <div class="clear20"></div>
        <button class="btn read_morerp" routerLink="../mainproductpage">explore all products</button>            
    </div> 
    </div>
</div> 
</section> 
<div class="clear40"></div>
<div class="clear40"></div>

<div class="clear40"></div>

<div class="clear40"></div>

  <div class="clear40"></div>

<div class="clear40"></div>
<section class="Yoga_AurvedaSection-artical Yoga_AurvedaSymptoms">
    <h1 class="text-center">Articles </h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
   
  <div class="clear20"></div>
  <div class="container">
  <div class="text-center">
      <div class="article_div-artical">
        <img class="mx-auto d-block img-fluid" src="././assets/images/hypertension1.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>HYPERTENSION</span>
          <div class="clear10"></div>
          <p>Top 7 Everyday<br/> Habits To Adopt... </p>
        </div>
        <div class="clear50"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 rmposition1 text-center">
            <button class="btn read_morenew " routerLink="../hairfallreadmore">READ MORE</button>
        </div>
      </div>

      <div class="article_div-artical">
        <img class="mx-auto d-block img-fluid" src="././assets/images/hypertension2.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>sarpgandha</span>
          <div class="clear10"></div>
          <p>Rauwolfia<br/> serpentina(Sar...</p>
        </div>
        <div class="clear10"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 rmposition1 text-center">
            <button class="btn read_morenew " routerLink="../hairfallreadmore">READ MORE</button>
        </div>
      </div>

      <!-- <div class="article_div-artical text-center">
        <img class="mx-auto d-block img-fluid" src="././assets/images/b-food.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span> PRANAYAMA</span>
          <div class="clear10"></div>
          <p>14 best & worst<br> foods for your ... </p>
        </div>
        <div class="clear30"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition1">
            <button class="btn read_morenew" routerLink="../HypertensionRead">READ MORE</button>
        </div>
      </div> -->
  </div>
  <div class="clear40"></div>
</div>
<div class="clear"></div>

  </section> 



  <div class="container">
      <div class="topping_spac txtalligncenter">
        
          <div class="all_benefits pt-3 col-12 col-sm-12 col-md-6 col-lg-6">
            <p>Want to get all the Benefits of <br>
              Ayurveda? Get a Free consultation!</p>
            <span>Book Your Appointment now in 3 Easy Steps</span>
          </div>
    
          <div class="all_benefits all_benefits2 col-12 col-sm-12 col-md-6 col-lg-6 text-center">
            <button class="btn btn-primary mb-2 signnew" type="button" routerLink="../patientloginpage">book appointment</button>
            <p class="ORTExt">Or </p>
            <p>call 1800 572 8000</p>
          </div>
     
        </div>
      </div>





<div class="">
  <app-main-footer></app-main-footer>
</div>


<!-- The Modal -->
<div class="modal {{nomodel}}">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body text-center py-5">
        <span class="modeltitle">COMING SOON</span>
        <img src="././assets/images/model_border.png">
        <p class="pt-3">Your Dosha Calculator</p>
        <div class="smlltxt pb-4">We’ll Notify You Via Mail</div>
        <button type="button" class="btn closingbtn" data-dismiss="modal" (click)="closed()">OK</button>
      </div>
    </div>
  </div>
</div>