<app-navigation></app-navigation>
<section class="home-top pt-5"> 
    <app-floating></app-floating>
  <div class="container ">
    <h1 class="main_title">Skin Diseases</h1>
    <h1 class="main_title2">“skin - the first line of defence of your body.”</h1>

    <div class="clear10"></div>
    <div class="HedingMapContentBox col-12 col-lg-6">
      <div class="MapLeft">
        <img src="././assets/images/world-map.png">

      </div>
      <div class="MapLeft2"> 
       
        <div class="Around50Text"> 
         
            <p>Some of the common skin diseases 
              which are highly prevalent in the 
              population today are acne, dermatitis, 
              eczema and psoriasis. 

              </p>
          
        </div>
        <div class="clear10"></div>
        
        <div class="clear30"></div> 
      </div>
    </div>


    <div class="clear"></div>

    <div class="DibetectSection">
      <div class="DibeticLeft" (click)="scrollTo('a')">
        <img src="././assets/images/Overview.png">
        <p class="m-0">Overview</p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('b')">
        <img src="././assets/images/SymptomsCauses.png">
        <p class="m-0">Symptoms &amp; Causes</p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('c')">
        <img src="././assets/images/PreventationAndDignosis.png">
        <p class="m-0">Prevention &amp; Diagnosis</p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('d')">
        <img src="././assets/images/AurvedaApproch.png">
        <p class="m-0">Ayurveda Approach</p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('e')">
        <img src="././assets/images/general.png">
        <p class="m-0">Complications</p>
      </div> 
      <div class="DibeticLeft" (click)="scrollTo('f')">
          <img src="././assets/images/ReletedProducts.png">
          <p class="m-0">Related Products</p>
        </div>
    </div>
  </div>

</section>
<section id="a" class="Yoga_AurvedaSection">
  <div class="container">
    <h1>What is a Skin Disease?</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div>
    <div class="row m-0">
      <div class="Yoga_Ayurveda_RightDiv col-12 col-md-12 col-lg-6 DisplayNone">
        <img class="w-100" src="././assets/images/SkinDiseaseLeft.png">
      </div>
      <div class="Yoga_Ayurveda_RightDiv col-12 col-md-12 col-lg-6">
        <h5>The incidence of skin problems has drastically increased in this contemporary era due to 
          faulty eating habits, environmental factors and weak immunity. </h5>
        <div class="clear10"></div>
        
        <div class="clear10"></div>
        <button routerLink="../SkinRead" class="btn btn-primary mb-2 mt-2 ml-2 SignBtn" type="button">read more</button>
      </div>
    </div>
    <div class="clear"></div>

  </div>
</section>
<section id="b" class="Yoga_AurvedaSection ActuallyCausesPiles Yoga_AurvedaSymptoms">
  <div class="container">
    <h1>Symptoms of Skin Diseases</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div>
    <p class="text-center HeadingTextSmall">In case of skin diseases, the following symptoms are usually evident before a person<br> 
        actually starts showing the clinical symptoms of particular skin disease (Purvarupa)</p>
        <div class="row m-0 mt-5 ResMainDiv">
            <div class="ActuallyCausesLeft1 text-center ResScroll">
              <img src="././assets/images/drySkin.png">
              <div class="clear mt-4"></div>
              <span>Dry
                   <br />
                   skin
              </span>
            </div>
            <div class="ActuallyCausesLeft1 text-center ResScroll">
              <img src="././assets/images/excessSweating.png">
              <div class="clear mt-4"></div>
              <span>Excess
                  <br />
                  Sweating
              </span>
            </div>
            <div class="ActuallyCausesLeft1 text-center ResScroll">
              <img src="././assets/images/lackOfSweating.png">
              <div class="clear mt-4"></div>
              <span>lack of
                   <br />
                   Sweating
      
              </span>
            </div>
            <div class="ActuallyCausesLeft1 text-center ResScroll">
              <img src="././assets/images/numbness.png">
              <div class="clear mt-4"></div>
              <span>Numbness
              </span>
            </div> 
            <div class="ActuallyCausesLeft1 text-center ResScroll">
                <img src="././assets/images/itching.png">
                <div class="clear mt-4"></div>
                <span>Itching
                </span>
              </div>
          </div>    
          <div class="clear20"></div>
          <div class="headingBG">
              <span class="text-center">Symptoms based on dosha predominance</span>
          </div>
          <div class="clear20"></div>
          <div class="row ResMainDiv">
            <div class="skinDosh col-md-4 col-lg-4 ResScroll">
              <h4>Kapha</h4>
              <div class="clear10"></div>
                <ul>
                    <li>Skin becomes cold and dense</li>
                    <li>Itching</li>
                    <li>Discolouration</li> 
                    <li>Heaviness in the affected area</li> 
                </ul>
            </div>
            <div class="skinDosh col-md-4 col-lg-4 ResScroll">
              <h4>Pita</h4>
              <div class="clear10"></div>
                <ul>
                    <li>Redness of the skin</li>
                    <li>Burning sensation</li>
                    <li>Blister formation</li> 
                    <li>Excessive secretions</li> 
                    <li>Wearing of dead skin in the affected area</li>
                </ul>
            </div>
            <div class="skinDosh col-md-4 col-lg-4 ResScroll">
              <div class="clear10"></div>
              <h4>Vata</h4>
              <div class="clear10"></div>
                <ul>
                    <li>Roughness in the skin</li>
                    <li>Dryness due to the absence of sweating</li>
                    <li>Numbness in the affected area</li> 
                    <li>Stretching</li> 
                    <li>Swelling</li>
                </ul>
            </div>
  
        </div>
  </div>   
</section>
<div class="clear20"></div>
<section class="Yoga_AurvedaSection ActuallyCausesPiles">
    <div class="container">
      <h1>Do you know what actually <br/>
          causes Skin diseases</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div>
      <p class="text-center HeadingTextSmall">Ayurveda has described many internal and external factors for causing skin diseases. 
        The different etiological factors are as follows:</p>
  
      <div class="clear"></div>
      <div class="row m-0 mt-5 ResMainDiv">
        
        <div class="ActuallyCausesLeft1 text-center ResScroll">
          <img src="././assets/images/excessSalt.png">
          <div class="clear mt-4"></div>
          <span>Excess intake
              <br />
              of salts
          </span>
        </div>
        <div class="ActuallyCausesLeft1 text-center ResScroll">
          <img src="././assets/images/excessOil.png">
          <div class="clear mt-4"></div>
          <span>excessive 
               <br />
               consumption
               <br />
               of oily foods
  
          </span>
        </div>
        <div class="ActuallyCausesLeft1 text-center ResScroll">
          <img src="././assets/images/honeyFishJaggery.png">
          <div class="clear mt-4"></div>
          <span>eating honey/
               <br />
               fish/jaggery 
               <br />
               in high quantity
          </span>
        </div> 
        <div class="ActuallyCausesLeft1 text-center ResScroll">
            <img src="././assets/images/excessSesame.png">
            <div class="clear mt-4"></div>
            <span>excessive intake
                <br />
                of sesame in food
                <br />
                items
            </span>
          </div>
          <div class="ActuallyCausesLeft1 text-center ResScroll">
              <img src="././assets/images/excessAlcohol.png">
              <div class="clear mt-4"></div>
              <span>excessive
                   <br />
                   alcohol intake
              </span>
            </div>
      </div> 
      <div class="clear40"></div>
      <div class="headingBG">
          <span class="text-center">Lifestyle Factors</span>
      </div>
    <div class="clear60"></div>
    <div class="row m-0 ResMainDiv">
        <div class="col-6 col-md-6 col-lg-3 text-center ResScroll">
          <img src="././assets/images/basti.png">
          <div class="clear20"></div>
          <span>Excessive exposure<br />
              to sunlight
          </span>
        </div>
        <div class="col-6 col-md-6 col-lg-3 text-center ResScroll">
          <img src="././assets/images/herbalFacePack.png">
          <div class="clear20"></div>
          <span>Excessive daytime<br />
              sleeping
          </span>
        </div>
        <div class="col-6 col-md-6 col-lg-3 text-center ResScroll">
          <img src="././assets/images/swedan.png">
          <div class="clear20"></div>
          <span>Continuous exposure <br />
              to Air conditioner
          </span>
        </div>
        <div class="col-6 col-md-6 col-lg-3 text-center ResScroll">
          <img src="././assets/images/udvartan.png">
          <div class="clear20"></div>
          <span>Excessive physical<br />
              strain
          </span>
      </div>
    </div>
      <div class="clear"></div>
      <div class="topping_spac">
        <div class="all_benefits pt-3">
          <p>Want to get all the Benefits of <br>
            Ayurveda? Get a Free consultation!</p>
          <span>Book Your Appointment now in 3 Easy Steps</span>
        </div>
  
        <div class="all_benefits all_benefits2 text-center">
          <button class="btn btn-primary mb-2 SignBtn" type="button" routerLink="../patientloginpage">consult Ayurvedic<br> doctor</button>
          <p class="ORTExt">Or </p>
          <p>call 1800 572 8000</p>
        </div>
      </div>
    </div>
  </section>
<div class="clear"></div>
<section class="Yoga_AurvedaSection  artcle text-center">
  <div class="container">
    <div class="small_wrapper mb-4">
      <h1>Skin Diseases & the Doshas  </h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div>
      <p class="text-center HeadingTextSmall">According to Acharya Charaka, there are seven dravyas involved in the disease process inside the body. </p>

      <div class="clear mt-5"></div>
      <div class="text-center ResMainDiv">
        <div class="article_div ResScroll">
          <img class="mx-auto d-block img-fluid" src="././assets/images/Kapha.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>
            <span>Kapha</span>
            <div class="clear10"></div>
            <p>Skin becomes cold and dense. Causes<br>
              Itching and Discolouration. Heaviness is<br>
              noticed in the affected area.</p>
          </div>
          <div class="clear60"></div>
          <button routerLink="../SkinRead" (click)="setNav('kapha')" class="btn read_more">READ MORE</button>
        </div>
        <div class="article_div ResScroll">
          <img class="mx-auto d-block img-fluid" src="././assets/images/Pita.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>
            <span>Pita</span>
            <div class="clear10"></div>
            <p>Redness of the skin is noticed with a<br>
                burning sensation and Blister formation.<br>
                Excessive secretions take place. <br>
          Dead skin wears off in the affected area.</p>
          </div>
          <div class="clear40"></div>
          <button routerLink="../SkinRead" (click)="setNav('kapha')" class="btn read_more">READ MORE</button>
        </div>

        <div class="article_div ResScroll">
          <img class="mx-auto d-block img-fluid" src="././assets/images/Vata.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>
            <span> Vata</span>
            <div class="clear10"></div>
            <p>Roughness in the skin is noticed with dryness
               due to the absence of sweating. There is
                Numbness in the affected area along with
                 Stretching & Swelling.</p>
          </div>
          <div class="clear40"></div>
          <button routerLink="../SkinRead" (click)="setNav('kapha')" class="btn read_more">READ MORE</button>
        </div>
      </div>
    </div>
    <div class="clear mt-4"></div>
    <!-- <div class="dosham_Piles mt-5">
      <h5>Take our 3 Minute Dosha Test</h5>

      <div class="clear10"></div>
      <button class="btn btn-primary mb-2 SignBtn" type="button" data-toggle="modal" data-target="#myModal" (click)="model()">calculate
        now</button>

    </div> -->
    <div class="clear"></div>
    <div class="topping_spac">
      <div class="all_benefits callToGetInTouch pt-3">
        <p><span> Call 1800 572 8000</span> to get in touch with our
          Health Experts & resolve your Health Queries</p>

      </div>

    </div>
  </div>
</section> 
<section id="c" class="Yoga_AurvedaSection ActuallyCausesPiles">
    <div class="clear"></div>
  <div class="container">
    <h1>Preventions for Skin Diseases</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div>
    <p class="text-center HeadingTextSmall">Daily consumption of these are helpful in keeping skin diseases at bay</p>
    <div class="clear"></div>
    <div class="row m-0 mt-5 ">
      <div class="col-12 col-lg-12 Margin0_auto ">
        <div class="row m-0 mt-5 ResMainDiv">
          <div class="ActuallyCausesLeft1 text-center ResScroll">
            <img src="././assets/images/vegetables.png">
            <div class="clear mt-4"></div>
            <span>Vegetables: 
                Bitter gourd, 
                garlic, cucumber, 
                cabbage & leafy 
                vegetables 
                with a bitter taste
                           </span>
          </div>
          <div class="ActuallyCausesLeft1 text-center ResScroll">
            <img src="././assets/images/fruits.png">
            <div class="clear mt-4"></div>
            <span>Fruits: Gooseberry 
                (amla), papaya, 
                and nutmeg
                
              
            </span>
          </div>
          <div class="ActuallyCausesLeft1 text-center ResScroll">
            <img src="././assets/images/pulses.png">
            <div class="clear mt-4"></div>
            <span>Pulses: Green 
                gram, & red gram
                
                
            </span>
          </div>
          <div class="ActuallyCausesLeft1 text-center ResScroll">
            <img src="././assets/images/otherProducts.png">
            <div class="clear mt-4"></div>
            <span>Other products: 
                Honey, ghee, 
                mustard oil 
                & buttermilk
                            </span>
          </div> 
          <div class="ActuallyCausesLeft1 text-center ResScroll">
              <img src="././assets/images/cerealsAndMillets.png">
              <div class="clear mt-4"></div>
              <span>Cereals and 
                  millets: 
                  Wheat, rice, 
                  maize & barley
                
              </span>
            </div>
        </div> 
      </div>
    </div>
    <div class="clear"></div>
  </div>
</section> 
<section class="artcle text-center Yoga_AurvedaSection InspectionSectionDiv ActuallyCausesPiles">
    <div class="container">
      <div class="small_wrapper mb-4">
        <h1>How Skin Diseases are Identified<br />
            in the Human Body</h1>
        <div class="clear"></div>
        <div class="text-center">
          <img src="././assets/images/big_border.png">
        </div>
        
        <div class="clear"></div>

        <div class="row ResMainDiv hidden-md">
          <div class="article_div ResScroll">
            <img class="mx-auto d-block img-fluid" src="././assets/images/patchtest.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>Patch test</span>
              <div class="clear10"></div>
              
            </div>
            <div class="clear10"></div>
            <button routerLink="../SkinRead" class="btn read_more">READ MORE</button>
          </div>
  
          <div class="article_div ResScroll">
            <img class="mx-auto d-block img-fluid" src="././assets/images/scratchTest.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>KOH preparation</span>
              <div class="clear10"></div>
              
            </div>
            <div class="clear10"></div>
            <button routerLink="../SkinRead" class="btn read_more">READ MORE</button>
          </div>
  
          <div class="article_div ResScroll">
              <img class="mx-auto d-block img-fluid" src="././assets/images/skinBiopsy.png">
              <div class="clear10"></div>
              <div class="infor">
                <div class="clear10"></div>
                <span> Skin Biopsy</span>
                <div class="clear10"></div>
                
              </div>
              <div class="clear10"></div>
              <button routerLink="../SkinRead" class="btn read_more">READ MORE</button>
            </div>
            <div class="article_div ResScroll">
              <img class="mx-auto d-block img-fluid" src="././assets/images/tanzack.png">
              <div class="clear10"></div>
              <div class="infor">
                <div class="clear10"></div>
                <span>Tzanck Smear</span>
                <div class="clear10"></div>
                
              </div>
              <div class="clear10"></div>
              <button routerLink="../SkinRead" class="btn read_more">READ MORE</button>
            </div>
    
            <div class="article_div ResScroll">
              <img class="mx-auto d-block img-fluid" src="././assets/images/wltest.png">
              <div class="clear10"></div>
              <div class="infor">
                <div class="clear10"></div>
                <span> Wood Lamp test</span>
                <div class="clear10"></div>
                
              </div>
              <div class="clear10"></div>
              <button routerLink="../SkinRead" class="btn read_more">READ MORE</button>
            </div>

        </div>

        <div class="text-center mt-4 ResMainDiv hidden-xs">
          <div class="article_div ResScroll">
            <img class="mx-auto d-block img-fluid" src="././assets/images/patchtest.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>Patch test</span>
              <div class="clear10"></div>
              
            </div>
            <div class="clear10"></div>
            <button routerLink="../SkinRead" class="btn read_more">READ MORE</button>
          </div>
  
          <div class="article_div ResScroll">
            <img class="mx-auto d-block img-fluid" src="././assets/images/scratchTest.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>KOH preparation</span>
              <div class="clear10"></div>
              
            </div>
            <div class="clear10"></div>
            <button routerLink="../SkinRead" class="btn read_more">READ MORE</button>
          </div>
  
          <div class="article_div ResScroll">
              <img class="mx-auto d-block img-fluid" src="././assets/images/skinBiopsy.png">
              <div class="clear10"></div>
              <div class="infor">
                <div class="clear10"></div>
                <span> Skin Biopsy</span>
                <div class="clear10"></div>
                
              </div>
              <div class="clear10"></div>
              <button routerLink="../SkinRead" class="btn read_more">READ MORE</button>
            </div>
    
         
        </div>
        <div class="clear30"></div>
        <div class="text-center mt-4 ResMainDiv hidden-xs">
          <div class="article_div ResScroll">
            <img class="mx-auto d-block img-fluid" src="././assets/images/tanzack.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>Tzanck Smear</span>
              <div class="clear10"></div>
              
            </div>
            <div class="clear10"></div>
            <button routerLink="../SkinRead" class="btn read_more">READ MORE</button>
          </div>
  
          <div class="article_div ResScroll">
            <img class="mx-auto d-block img-fluid" src="././assets/images/wltest.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span> Wood Lamp test</span>
              <div class="clear10"></div>
              
            </div>
            <div class="clear10"></div>
            <button routerLink="../SkinRead" class="btn read_more">READ MORE</button>
          </div> 
          </div>
      </div>
    </div>
  </section> 
  <section id="d" class="Yoga_AurvedaSection ActuallyCausesPiles mt-0">
      <div class="container">
          <div class="clear30"></div>
        <h1>Ayurvedic Approach to Manage Skin Diseases </h1>
        <div class="clear"></div>
        <div class="text-center">
          <img src="././assets/images/big_border.png">
        </div>
        <p class="text-center HeadingTextSmall">The main aim of Ayurvedic treatment is to regain the lost doshic balance in the body. Ayurveda focuses on three-fold management of skin diseases:
    
        </p>
    
        <div class="clear mt-5"></div>
        <div class="row m-0 ResMainDiv">
          <div class="col-5 col-md-6 col-lg-3 text-center ResScroll">
            <img class="ResMarginTopImg" src="././assets/images/ayurvedic-drug.png">
            <div class="clear20"></div>
            <span class="hidden">
                Ayurvedic Herbal<br>
                Therapy
            </span>
          </div>
          <div class="col-5 col-md-6 col-lg-3 text-center ResScroll">
            <img src="././assets/images/vaman.png">
            <div class="clear20"></div>
            <span>Vaman<br />
              dhauti
            </span>
          </div>
          <div class="col-5 col-md-6 col-lg-3 text-center ResScroll">
            <img src="././assets/images/potliMassage.png">
            <div class="clear20"></div>
            <span>potli massage
            </span>
          </div>
          <div class="col-5 col-md-6 col-lg-3 text-center ResScroll">
            <img src="././assets/images/virechan.png">
            <div class="clear20"></div>
            <span>virechan
            </span>
        </div>
       <div class="col-5 col-md-6 col-lg-3 text-center WebHide ResScroll">
            <img src="././assets/images/basti.png">
            <div class="clear20"></div>
            <span>Basti
            </span>
          </div>
          <div class="col-5 col-md-6 col-lg-3 text-center WebHide ResScroll">
            <img src="././assets/images/herbalFacePack.png">
            <div class="clear20"></div>
            <span>Herbal face<br />
              pack
            </span>
          </div>
          <div class="col-5 col-md-6 col-lg-3 text-center WebHide ResScroll">
            <img src="././assets/images/swedan.png">
            <div class="clear20"></div>
            <span>swedan
            </span>
          </div>
          <div class="col-5 col-md-6 col-lg-3 text-center WebHide ResScroll">
            <img src="././assets/images/udvartan.png">
            <div class="clear20"></div>
            <span>udvartan
            </span>
        </div>
      </div>
      <div class="row m-0">
          <div class="col-12 col-md-6 col-lg-3 text-center DisplayNone">
            <img src="././assets/images/basti.png">
            <div class="clear20"></div>
            <span>Basti
            </span>
          </div>
          <div class="col-12 col-md-6 col-lg-3 text-center DisplayNone">
            <img src="././assets/images/herbalFacePack.png">
            <div class="clear20"></div>
            <span>Herbal face<br />
              pack
            </span>
          </div>
          <div class="col-12 col-md-6 col-lg-3 text-center DisplayNone">
            <img src="././assets/images/swedan.png">
            <div class="clear20"></div>
            <span>swedan
            </span>
          </div>
          <div class="col-12 col-md-6 col-lg-3 text-center DisplayNone">
            <img src="././assets/images/udvartan.png">
            <div class="clear20"></div>
            <span>udvartan
            </span>
        </div>
      </div>
      <div class="clear60"></div>

      <div class="clear80"></div>
    
    </div>
    </section> 
    <section class="Yoga_AurvedaSection HomeRemedies">
        <div class="container">
          <div class="mb-4">
      <h1>Home Remedies </h1>
      <div class="clear"></div>
      <div class="text-center">
      <img src="././assets/images/big_border.png">
      </div>
      <div class="shadoo mx-0 mt-5 shadoo1">
      <div class="card tab_card mx-0 small_div BorderradiusLeft">
       <div class=" BorderradiusLeft card-body {{tabs[0].active}}" (click)="openCity(0)">
         <div class="border_div">
           <span> VEGETABLES  </span>
         </div>
       </div>
      </div>
      <div class="card tab_card mx-0">
       <div class="card-body {{tabs[1].active}}" (click)="openCity(1)">
         <div class="border_div">
           <span> FRUITS </span>
         </div>
       </div>
      </div>
      <div class="card tab_card mx-0 CarretDiv">
       <div class=" BorderradiusRight card-body  {{tabs[2].active}} " (click)="openCity(2)">
         <div class="border_div">
           <span>  PULSES</span>
         </div>
       </div>
      </div>
      <div class="card tab_card mx-0 ">
       <div class=" BorderradiusRight card-body  {{tabs[3].active}} " (click)="openCity(3)">
         <div class="border_div">
           <span> Cereals & millets </span>
         </div>
       </div>
      </div> 
      <div class="card tab_card mx-0 BorderradiusRight CarretDiv ">
       <div class=" BorderradiusRight  card-body {{tabs[4].active}} " (click)="openCity(4)">
         <div class="border_div HiddenBorder">
           <span> OTHER PRODUCTS </span>
         </div>
       </div>
      </div>
      </div>
      </div>
      
      <div class="{{tabs[0].tabcontent}} p-0 TabContentBox paddingTabContentDiv BorderRadiusDiv bordertop">
      
      <div class="tab1ContentBox">
      <div class="row">
       <div class="col-12 col-md-12 col-sm-12 col-lg-6 mt-4">
         <p class="herbof_text herbof_text3 mt-5">Bitter gourd, garlic, cucumber, cabbage and leafy  vegetables with a bitter taste.
             
         </p>
       </div>
       <div class="col-12 col-md-12 col-sm-12 col-lg-6 DisplayNone">
         <img class="w-100" src="././assets/images/SkinHome1.png">
       </div>
      </div>
      
      
      <div class="clear20"></div>
      
      </div>
      
      </div>
      
      <div class="{{tabs[1].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
      
          <div class="tab1ContentBox">
              <div class="row">
               <div class="col-12 col-md-12 col-sm-12 col-lg-6 mt-4">
                 <p class="herbof_text herbof_text3 mt-5">Gooseberry(Amla), papaya, Dadim
                     
                 </p>
               </div>
               <div class="col-12 col-md-12 col-sm-12 col-lg-6 DisplayNone">
                 <img class="w-100" src="././assets/images/SkinHome2.png">
               </div>
              </div>
              
              
              <div class="clear20"></div>
              
              </div>
      
      </div>
      
      <div class="{{tabs[2].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
      
          <div class="tab1ContentBox">
              <div class="row">
               <div class="col-12 col-md-12 col-sm-12 col-lg-6 mt-4">
                 <p class="herbof_text herbof_text3 mt-5">Green gram, lentils and red gram
                     
                 </p>
               </div>
               <div class="col-12 col-md-12 col-sm-12 col-lg-6 DisplayNone">
                 <img class="w-100" src="././assets/images/SkinHome3.png">
               </div>
              </div>
              
              
              <div class="clear20"></div>
              
              </div>
      
      </div>
      
      <div class="{{tabs[3].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
      
          <div class="tab1ContentBox">
              <div class="row">
               <div class="col-12 col-md-12 col-sm-12 col-lg-6 mt-4">
                 <p class="herbof_text herbof_text3 mt-5">Wheat, rice, maize and barley
                 </p>
               </div>
               <div class="col-12 col-md-12 col-sm-12 col-lg-6 DisplayNone">
                 <img class="w-100" src="././assets/images/SkinHome4.png">
               </div>
              </div>
              
              
              <div class="clear20"></div>
              
              </div>
      
      </div>
      <div class="{{tabs[4].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
      
          <div class="tab1ContentBox">
              <div class="row">
               <div class="col-12 col-md-12 col-sm-12 col-lg-6 mt-4">
                 <p class="herbof_text herbof_text3 mt-5">Honey, ghee, mustard oil and buttermilk
                 </p>
               </div>
               <div class="col-12 col-md-12 col-sm-12 col-lg-6 DisplayNone">
                 <img class="w-100" src="././assets/images/SkinHome5.png">
               </div>
              </div>
              
              
              <div class="clear20"></div>
              
              </div>
          
          </div>
      </div>
      </section>
<section id="e" class="Yoga_AurvedaSection ActuallyCausesPiles">
  <div class="container">
      <div class="clear30"></div>
    <h1>Complications of Skin Diseases</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div>
    <p class="text-center HeadingTextSmall">Early diagnosis and treatment of Kushthi are essential to avoid the development of complications such as infections <br />
        (krimi) in the affected areas. The infections may be the bacterial or fungal type and give rise to the following symptoms:</p>
    <div class="row m-0">
      <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6 text-center DisplayNone">
        <img class="" src="././assets/images/ComplicationSkin.png">
      </div>
      <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6">

        <div class="clear10"></div>
        <ul class="AnaemiaBG ThirstUl">
          <li>Formation of skin boils</li>
          <li>Excessive thirst and burning</li>
          <li>Infections around the nails</li> 
          <li>Infections of the hair follicle</li> 
          <li>Jock itch</li>
          <li>Vaginal infections</li>
        </ul>
        <div class="clear10"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>

</section>

 <!-- <section class="dosha clearfix">
    <div class="clear60"></div>
  <div class="dosham">

    <p>The consumption of these ayurvedic drugs should be 
        under the guidance of a licensed Ayurvedic practitioner. 
        The drugs commonly prescribed for skin diseases are 
        listed below:

       </p>
    <ul class="DrugUl mt-4">
      <li>-&nbsp;&nbsp;&nbsp; Asava</li>
      <li>-&nbsp;&nbsp;&nbsp; Khwatam</li>
      <li>-&nbsp;&nbsp;&nbsp; Guggulu</li>
      <li>-&nbsp;&nbsp;&nbsp; Ghritam</li> 
      <li>-&nbsp;&nbsp;&nbsp; Ras</li> 
      <li>-&nbsp;&nbsp;&nbsp; Churnam</li>
      <li>-&nbsp;&nbsp;&nbsp; Tailam</li>
      <li>-&nbsp;&nbsp;&nbsp; Lepam</li>
    </ul>
  </div>
  <div class="clear80"></div>
 

</section>  -->


  
<section id="f" class="Yoga_AurvedaSection ActuallyCausesPiles mt-0"> 

    <div class="clear"></div>
  <div class="deal_area container">
    <div class=" mb-4">
      <h1>Related Products </h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">

      </div>
      <div class="clear"></div>
      <div class="row mt-5" *ngIf="visibleCategory">
        <div class="col-6 col-sm-4 col-md-4 col-lg-4 "  *ngFor="let data of visibleCategory">
          <div class="col-6 col-sm-12 col-md-12 col-lg-12 Product_div tab-h text-center padlrn" *ngIf="visibleCategory.length!=0">
            <div class="clear20"></div>
            <div class="WhiteBox">
              <div (click)="getProductDetails(data.id)" >
                  <img src="{{data.imageUrl}}" width="199" height="194">
                  <div class="clear10"></div>
                  <label class="zl-text cursor">{{data.name}}</label>
              </div>
            </div>
            <br>
          
    
            <div class="row">
              <div class="text-center col-6 col-sm-6 col-md-6 col-lg-6 ">
                <label class="">
                  <label class="zl-text1">&#8377;</label>
                  <label class="zl-text12">{{data.selling}}</label>
                </label>
              </div>
              <div class=" col-6 col-sm-6 col-md-6 col-lg-6 text-left">
                <div class="product_img">
                  <div class="clear10"></div>
                  <div class="order-margin-top2"> 
                 
                    <i *ngIf="qtyP!=0" class="fa" (click)="reduce(data)"><img src="././assets/images/SpinnerMinus.png"></i>&nbsp;
                    <input [(ngModel)]="data.qty" class="input-spinner" >&nbsp;
                    <i class="fa" (click)=" add(data)"><img src="././assets/images/SpinnerPluse.png"></i>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="clearfix"></div>
            <div class="row">
            <div class="col-6 col-lg-12 text-center rmpositionnew">
                <div class="clear20"></div>
                <button class="btn  read_morerp AddToCartBtn" (click)="addToCart(data)" type="button">add
                    to cart</button>
              
            </div> 
            </div>
            <div class="clear20"></div>       
          </div>
        </div>
      </div>
      <div  class="row " *ngIf="visibleCategory.length==0">
        <div class="col-12 col-lg-12 text-center">
            <div class="clear20"></div>
            <h6>No Products Found...</h6>
        </div> 
      
      </div>
    </div> 
    <!-- <div class="text-center">
    <button  class="btn btn-primary mb-2 mt-4  SignBtn" type="button" routerLink="../mainproductpage">explore all products</button> 
  </div> -->
  <div class="clear20"></div>
<div class="row" *ngIf="visibleCategory.length!=0">
    <div class="col-6 col-lg-12 text-center">
        <div class="clear20"></div>

        <button class="btn read_morerp" routerLink="../mainproductpage">explore all products</button>            
    </div> 
    </div>
  </div>
</section>
<div class="clear"></div>

<div class="clear"></div>


<section class="artcle text-center Yoga_AurvedaSection ActuallyCausesPiles">
  <div class="container">
    <div class="small_wrapper mb-4">
      <h1>Articles </h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div>
      <div class="clear"></div>
      <div class="text-center ResMainDiv">
        <div class="article_div ResScroll">
          <img class="mx-auto d-block img-fluid" src="././assets/images/skinAricles1.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>

            <div class="clear10"></div>
            <p class="smallTextArticles m-0">Skin diseases</p>
            <p class="SaffronText">Top 8 Personal<br/> Habits...</p>
          </div>
          <div class="clear10"></div>
          <button routerLink="../SkindiseasesArticles" class="btn read_more">READ MORE</button>
        </div>

        <div class="article_div ResScroll">
          <img class="mx-auto d-block img-fluid" src="././assets/images/skinAricles2.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>

            <div class="clear10"></div>
            <p class="smallTextArticles m-0">Sariva</p>
            <p class="SaffronText">Hemidesmus<br/> indicus, also...</p>
          </div>
          <div class="clear10"></div>
          <button routerLink="../SkinSarivaArticles" class="btn read_more">READ MORE</button>
        </div>

      </div>
    </div>
    <div class="clear"></div>
    <div class="topping_spac">
        <div class="all_benefits pt-3">
          <p>Want to get all the Benefits of <br>
            Ayurveda? Get a Free consultation!</p>
          <span>Book Your Appointment now in 3 Easy Steps</span>
        </div>
  
        <div class="all_benefits all_benefits2 text-center">
          <button class="btn btn-primary mb-2 SignBtn" type="button" routerLink="../patientloginpage">Consult Ayurvedic<br> doctor</button>
          <p class="ORTExt">Or </p>
          <p>call 1800 572 8000</p>
        </div>
      </div>
  </div>
</section>
<div class="">
  <app-main-footer></app-main-footer>
</div>