<div class="header">
  <p _ngcontent-c1="" class="m-0 logopointer" routerlink="../" tabindex="0" ng-reflect-router-link="">
    <img _ngcontent-c1="" src="././assets/images/logo.png">
  </p>
</div>
<div class="clear"></div>
<div class="row m-0">
  <div class="col-12 col-lg-6 col-md-6 p-0">
    <div class="DoctorLoginLeftBox">
      <img class="Thetescopeimg" src="././assets/images/ForgotPassword.png">
      <div class="content">
        <h4>Welcome to <br /> Zandu Health Care !</h4>
        <div class="clear10"></div>
        <h5>Your Partner in helping live healthy & active lifestyle.</h5>
        <h6>Your Partner in helping live healthy & active lifestyle.<br />
          We appreciate your support & thank you for being part of growing ecosystem to<br />
          help people manage their lifestyle problems.
        </h6>
        <div class="clear20"></div>
        <div class="row">
          <div class="col-12 col-lg-8 Margin0_auto">
            <div class="row m-0 mt-4">
              <div class="col-12 col-lg-6 col-sm-6">
                <div class="AudioImg">
                  <img src="././assets/images/LoginImg2.png">
                  <h5 class="mt-4">audio <br />
                    consultation</h5>
                </div>
              </div>
              <div class="col-12 col-lg-6 col-sm-6">
                <div class="AudioImg">
                  <img src="././assets/images/LoginImg3.png">
                  <h5 class="mt-4">video <br />
                    consultation</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="col-12 col-lg-6 col-md-6 p-0">
    <div class="bgcolor">
      <div class="mt-4 mb-4 text-center">
        <h4 class="text-center mt-4 ForgotPasswordheading">Forgot Password</h4>
        <img _ngcontent-c1="" src="././assets/images/borderImg.png">
        <div class="card border-0 mt-2">
          <div class="card-body">
            <form class="form-horizontal" [formGroup]="forgetPasswordForm">
              <div class="form-group">
                <div class="col-sm-12">
                  <input type="number" formControlName="number"  class="FormText form-control2 form-control form-control11 mb-2 mr-sm-2 border-0"
                   required placeholder="Enter Your Mobile Number" (keyup.enter)="forgetPass(forgetPasswordForm.value)">
                </div>
              </div>
              <div class="clear10"></div>
              <button _ngcontent-c1="" (click)='forgetPass(forgetPasswordForm.value)' class="btn UpdateBtn mt-4" type="button">reset
                password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>

 <!-- The Modal -->
 <div class="modal fade  {{custom}}" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header text-center">
          <h4 class="modal-title ">Error</h4>
          <button type="button" class="close" (click)="close()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body text-center"> 
          <img src="../../assets/images/Alert.png">
          <br/> 
          <div class="clear20"></div>
          Please Enter 10 digits mobile Number
           <div class="clear20"></div>
        
        </div>
        
        <!-- Modal footer -->
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="close()" data-dismiss="modal">Close</button>
        </div> -->
        
      </div>
    </div>
  </div>

     <!-- The Modal -->