<div class="dropdown-content"> 
   
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <p class="mostReadheading">Most read health conditions</p>
        <div class="healthAresLeft">
            <div class="healthAresContent mt-0">
                <div class="diabetesImg">
                  <img src="././assets/images/Nav_4.png">
                </div>
    
                <p  (click)="getHealthArea($event.target.innerText)" class="DiabetesText">Constipation </p>
    
                <div class="right_arrowContent">
                  <img src="././assets/images/right_arrow.png">
                </div>
              </div>
          <div class="healthAresContent ">
            <div class="diabetesImg">
              <img src="././assets/images/Nav_1.png">
            </div>

            <!-- <p routerLink="../diabetes" class="DiabetesText">Diabetes</p> -->
            <p (click)="getHealthArea($event.target.innerText)" class="DiabetesText">Diabetes</p>
            <div class="right_arrowContent">
              <img src="././assets/images/right_arrow.png">
            </div>
          </div>
          <div class="healthAresContent">
            <div class="diabetesImg">
              <img src="././assets/images/erectliedysfunction.png">
            </div>

            <p (click)="getHealthArea($event.target.innerText)" class="DiabetesText">Erectile Dysfunction</p>

            <div class="right_arrowContent">
              <img src="././assets/images/right_arrow.png">
            </div>
          </div>
          <div class="healthAresContent">
            <div class="diabetesImg">
              <img src="././assets/images/Dysmenorrhea.png">
            </div>

            <p (click)="getHealthArea($event.target.innerText)" class="DiabetesText">Dysmenorrhoea </p>

            <div class="right_arrowContent">
              <img src="././assets/images/right_arrow.png">
            </div>
          </div>
        
          <div class="healthAresContent mb-0">
            <div class="diabetesImg">
              <img src="././assets/images/liver.png">
            </div>

            <p (click)="getHealthArea($event.target.innerText)" class="DiabetesText mb-0">Liver health / Jaundice</p>

            <div class="right_arrowContent">
              <img src="././assets/images/right_arrow.png">
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <p class="mostReadheading">All health conditions</p>

        <div class="healthAresLeft healthAresLeft2">
          <div class="row">
            <div class="col-12 col-lg-4 Healtharesrightp"> 
                <!-- <p routerLink="../hypertension" >Hypertension </p>  -->
                <p (click)="getHealthArea($event.target.innerText)">Hypertension </p> 
                <p (click)="getHealthArea($event.target.innerText)">Constipation 
                </p> 
                <p (click)="getHealthArea($event.target.innerText)">Diarrhoea</p> 
                <p (click)="getHealthArea($event.target.innerText)"> Piles</p>  
              
                <!-- (click)="down(i)            -->
            </div>
            <div class="col-12 col-lg-4 Healtharesrightp BorderLR"> 
                <p (click)="getHealthArea($event.target.innerText)">UTI / Urology
                </p>   
                <p (click)="getHealthArea($event.target.innerText)">Liver health / Jaundice
                </p> 
                <!-- <p (click)="getHealthArea($event.target.innerText)">Gynaecological
                </p> -->

                
                <p (click)="getHealthArea($event.target.innerText)">
                  Acne / Derma (Skin diseases)</p> 
            
                  <!-- <p  routerLink="../Insomnia">Insomnia</p> --> 
                  <!-- <p  routerLink="../Stress">Stress</p>  -->
            </div> 
            <div class="col-12 col-lg-4 Healtharesrightp">
                <p (click)="getHealthArea($event.target.innerText)"> Respiratory / Bronchitis / Asthma</p>
                <p (click)="getHealthArea($event.target.innerText)">
                  Diabetes</p> 
                  <p (click)="getHealthArea($event.target.innerText)">Erectile Dysfunction
                  </p> 
                
                  <!-- <p  routerLink="../Hairfall">Hairfall</p>   -->
               
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div> 
    <div class="clear20"></div>
    <!-- <div class="row mt-2">
      <div class="col-12 col-lg-4">
        <div class="article">
          <p>HYPERTENSION</p>
          <h6 class="cursor" routerLink="../HypertensionHabits">Top 7 Everyday
            Habits To Adopt... </h6>
        </div>
        <div class="RightArrowImg">
          <img src="././assets/images/WhiteArrow.png">
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="article">
          <p>suran</p>
          <h6 class="cursor" routerLink="../PilesSuranArticles">Amorphophallus
            paeoniifolius...</h6>
        </div>
        <div class="RightArrowImg">
          <img src="././assets/images/WhiteArrow.png">
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="article">
          <p>DIABETES</p>
          <h6 class="cursor" routerLink="../DiabetesTopTipsArticles">Top 9 Measures To
            Prevent Foot... </h6>
        </div>
        <div class="RightArrowImg">
          <img src="././assets/images/WhiteArrow.png">
        </div>
      </div>
    </div> -->
<div class="clear20"></div>

  </div>
</div>