<app-navigation></app-navigation>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 home-top">
        <app-floating></app-floating>
</div>
<div class="clear"></div>
<div class="container">
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <p class="blurtxt txtcenter">Skin diseases</p>
          <div class="clear20"></div>
          <p class="txt1 txtcenter">Top 8 Personal Habits 
            That Invite Acne </p>
              <div class="clear10"></div>
              <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
              <div class="clear20"></div>
              <p class="topptxt txtcenter">Acne is the most common skin condition that produces pimples and spots,  </p>
              <div class="clear40"></div>
              <div class="row m-0">
                <div class="col-6 col-am-6 col-md-6 col-lg-6 borderright">
                  <p class="byUStxt">By U.S. News Staff</p>
                </div>
                <div class="col-6 col-am-6 col-md-6 col-lg-6">
                     <label class="byUStxt">Jan 03, 2018 at 7:45 pm</label>
                  </div>
              </div>
              <div class="clear40"></div>
              <p class="paratxt3 txtcenter">Acne is the most common skin condition that produces pimples and spots, particularly on the face. It often occurs when we hit puberty. Though the condition doesn’t require immediate medical intervention, it can scar the skin and result in emotional distress that can lower one’s self-confidence. 
                In addition to the face, the acne can occur on the back, shoulders, chest, neck, and upper arms. There are different types of acne, including blackheads, whiteheads, cysts, pimples, and nodules. This skin condition occurs due to excess production of oil, clogging of hair follicles by oil or dead skin cells, the presence of bacteria, or increased production of a hormone known as androgens. 
                In most individuals, the pimples disappear slowly and reappear periodically. To avoid the scarring of the skin, one must start the treatment early. 
                Maintaining personal hygiene is a must to prevent acne breakouts. But there are certain habits that can do more harm than good. This article lists out the habits that can increase the incidence of acne. 
                </p>
              <div class="clear40"></div>
              <p class="paratxt1 txtcenter">1. Washing the skin too often:</p>
              <p class="paratxt3 txtcenter"> 
                Though it is essential to wash your skin to remove dirt, extra oil and dead skin cells, washing it more than twice can only make the acne worse. So, it is recommended to wash your skin with a mild soap or other cleansing products when you wake up in the morning and before bedtime.</p>
              <p class="paratxt1 txtcenter">2. Scrubbing the skin vigorously:  </p>
              <p class="paratxt3 txtcenter"> 
                Rubbing your skin with a loofah, washcloth, or a harsh exfoliant can irritate the skin and increase the risk of acne. Instead, wash your skin with lukewarm water and gentle soap using a soft cloth or only your hand.</p>
           
           
              <p class="paratxt1 txtcenter">3. Not cleaning the sweaty skin:</p>
              <p class="paratxt3 txtcenter"> You may sweat profusely, after a tough workout in the gym or being in the hot sun for too long. If you use a rough towel to wipe the sweat, it may irritate your skin. When you let the sweaty skin dry out, it may allow the bacteria to remain on skin for long hours. These factors may increase the incidence of acne. Hence, take a hot water bath or wash your skin quickly after sweating.</p>

                

              <p class="paratxt1 txtcenter"> 4. Popping pimples:</p>
              <p class="paratxt3 txtcenter">When pimples appear on the skin, you are tempted to squeeze or pick them. But, popping them increases the redness and pushes the pus deeper into the skin, leaving a scar. So, keep your hands away from acne and use anti-acne creams or lotions to reduce their size.</p>
            
              <p class="paratxt1 txtcenter"> 5. Skipping shampoo:</p>
              <p class="paratxt3 txtcenter">If you don’t wash your hair regularly, the excess oil from your hair might reach your face and cause acne. So, wash your hair often to stop the oil reaching your forehead and back to prevent pimples.</p>
              
              <p class="paratxt1 txtcenter"> 6. Using oily hair and skin products:</p>
              <p class="paratxt3 txtcenter"> The cosmetic products that contain oil may cause pimple breakouts. Several hair products when used may clog the pores on the face. Hence, it is suggested to use skin and hair products that do not contain oil, and cover the face while using hairspray, mousse, gel, or other hair products.</p>
               
              <p class="paratxt1 txtcenter">7. Eating greasy foods:</p>
              <p class="paratxt3 txtcenter"> 
                The type of food that you eat does not cause acne. But when the greasy foods come in contact with the acne-prone skin, the grease and excess oil from the food might clog the pores and lead to pimples. Thus, always follow a healthy diet and avoid greasy, oily, or fried foods to prevent acne.</p>
               <p class="paratxt1 txtcenter"> 8. Stopping acne treatment:</p> 
              <p class="paratxt3 txtcenter">
                If you are taking treatment for your acne breakouts, do not stop it abruptly, when your skin gets clear. To prevent recurrent pimples, complete the course of the treatment and finish all the medications as prescribed by your dermatologist.
                In some situations, like when you hit puberty, the pimples cannot be prevented. But, the steps listed above can stop you from making them worse. For most individuals, switching these bad habits with the good ones will help prevent acne breakouts. Though these changes are small, they can help you have a glowing skin, with no pimples and scars, boosting your confidence. 
                </p>
              
                          <div class="clear40"></div>
                          <hr/>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 topreads">
            <p class="txt1 txtcenter">Top Reads </p>
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 txtcenter">
                <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
            </div>
            <div class="clear20"></div>
        </div>
        <div class="row m-0">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
            <img src="././assets/images/b-food.png">
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <label class="diseasestxt">Digestive Health</label>
            </div>
            <label class="diseasestxt2">14 best & worst foods for your ...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/safron.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">SKIN</label>
              </div>
              <label class="diseasestxt2">Saffron for good health..</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
        </div>
        <div class="clear20"></div>
        <div class="row m-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/b-food.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">Digestive Health</label>
              </div>
              <label class="diseasestxt2">14 best & worst foods for your ...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
                <img src="././assets/images/safron.png">
                <div class="clear10"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <label class="diseasestxt">SKIN</label>
                </div>
                <label class="diseasestxt2">Saffron for good health..</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                    <button class="btn read_morenew">READ MORE</button>
                </div>
              </div>
          </div>
          <div class="clear40"></div>
          <hr/>
      </div>
  </div>
  <div class="clear40"></div>
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <label class="txt1">Related Articles</label>
          <div class="clear10"></div>
          <img class="img-fluid iwidth" src="././assets/images/big_border.png">
          <div class="clear20"></div>
      </div>
      <div class="clear40"></div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
          <img src="././assets/images/awellness.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <label class="diseasestxt">wellness</label>
          </div>
          <label class="diseasestxt2">Low calorie diet
              to lose weight...</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
              <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
            <img src="././assets/images/asuryanamaskar.png">
            <div class="clear10"></div>
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 text-center">
                <label class="diseasestxt">healthy food</label>
            </div>
            <label class="diseasestxt2">Food & Activity
                Journal for...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
              <img src="././assets/images/plane.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">kids & teens</label>
              </div>
              <label class="diseasestxt2">Young overweight 
                  & Obesity in...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
  </div>
  <div class="clear70"></div>
</div>
