<app-patient-navigation></app-patient-navigation>
<app-patient-header></app-patient-header> 
<app-floating></app-floating>
<div class="container mb-3">

    <div class="card pink-bg">
        <div class="card-body">
          <h1>Appointment Request Submitted</h1>
          <h2>We have sent you an Email and SMS with the details</h2>
        </div>
</div>

<div class="card-deck">
    <div class="card hyfl">
      <div class="card-body ">
       <div class="spacing text-center">
          <h2>Zandu Health Care!</h2>
        <p>Your partner is helping people live healthy 
           <br> and active Lifestyle</p>
            <p class="primise">Our Promise to You</p>
       </div>
           <div class="px-3">
              <div class="waiting"><img class="mr-2" src="././assets/images/timepiece.png"> 15 mins or minimum wait</div>
            <div class="consult"><img  class="mr-2" src="././assets/images/thums.png"> Best Ayurvedic Consultation</div>
           </div>
           
      </div>
    </div>
    <div class="card expert">
      <div class="card-body ">
   <div class="innerdiv">
   <div class="px-3 bori">
      <div class="waiting">18th August, 2018</div>
    <div class="consult">9:00 am</div>
   </div>
 <div class="py-4 px-5">
  <h4>Digestive care Ayurvedic Expert
  </h4>
  <p>15 Years Experience
    </p>
 </div>
    </div>
    <div class="buto text-right">
 <button type="button"   class="btn  CanselBtnCard mt-3 mb-3 mr-3" >Cancel</button> 

 <button type="button"    class="btn CanselBtnCard GetStartedBtn   mt-3 mb-3 " >RESCHEDULE</button> 
    </div>
      </div>
    </div>
    </div>
    <div class="text-right mt-3">
      <button class="btn UpdateBtn" routerLink="../PatientDashboard" type="button" (click)="gotodashboard()">bACK TO DASHBOARD</button>
    </div>
</div>
<app-footer></app-footer>