<app-navigation></app-navigation>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 home-top">
        <app-floating></app-floating>
</div>
<div class="clear"></div>
<div class="container">
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <p class="blurtxt txtcenter">liver diseases</p>
          <div class="clear20"></div>
          <p class="txt1 txtcenter">6 Foods That Can Ruin Your 
            Liver </p>
              <div class="clear10"></div>
              <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
              <div class="clear20"></div>
              <p class="topptxt txtcenter">Liver is one of the largest and the most complex organ systems in the body. It plays a major role in the process of digestion, purifying your blood and filtering all toxins,</p>
              <div class="clear40"></div>
              <div class="row m-0">
                <div class="col-6 col-am-6 col-md-6 col-lg-6 borderright">
                  <p class="byUStxt">By U.S. News Staff</p>
                </div>
                <div class="col-6 col-am-6 col-md-6 col-lg-6">
                     <label class="byUStxt">Jan 03, 2018 at 7:45 pm</label>
                  </div>
              </div>
              <div class="clear40"></div>
              <!-- <p class="paratxt1 txtcenter">What is kutki (Picrorhiza kurroa)?</p> -->
              <p class="paratxt3 txtcenter">Your liver processes all things that you eat and drink and converts it into forms that are usable by the body.<br/> 
                So, while our liver works so hard to keep our body healthy and running, it is our responsibility to look after its health. One of the best ways to keep our liver healthy is to – watch what we eat. Here is a list of foods that have potentially damaging effects on your liver: 
               <div class="clear40"></div>
              <p class="paratxt1 txtcenter">1. Alcohol: </p>
              <p class="paratxt3 txtcenter"> Your liver is responsible for eliminating alcohol and other toxins from the blood. Did you know that each time your liver processes alcohol, some of your liver cells die? But the liver is a resilient organ and can regenerate new liver cells. However, chronic alcoholism can reduce this ability of the liver cells to regenerate. The by-products of the alcohol metabolism also cause fat build-up in the liver. Chronic alcoholism destroys the cells of the liver and leads to alcoholic hepatitis, scarring of the liver and may also lead to liver cancer. </p>
              <p class="paratxt2 txtcenter"> 2. Deep fried foods: </p>
              <p class="paratxt3 txtcenter">
                As much as we love to binge eat samosas, fries and burgers, we must all know that it has a deleterious effect on your liver. These foods are high in saturated fats plus they may also have excess salts and sugar. These are also high in calories and overconsumption may make you obese. Overconsumption of deep-fried foods are one of the most common causes of non-alcoholic fatty liver disease.</p>
              <p class="paratxt2 txtcenter"> 3. Sugary foods:</p>
              <p class="paratxt3 txtcenter">  Liver is the fuel reservoir of the body. The sugar that we take in is converted to either glucose (for immediate use) or fat and glycogen (for later use).  Too much sugar puts extra workload on liver and leads to excess fat production. Sugary foods also increase your risk of having diabetes, cholesterol, high triglycerides- all which can increase your risk of having fatty liver.  Watch out while eating candies, sweetened beverages, sweet bakes and even the tea or coffee from the coffeeshop.</p>
              <p class="paratxt2 txtcenter"> 4. White breads:</p>
              <p class="paratxt3 txtcenter"> White breads have a lot of refined carbohydrates and sugars such as the fructose corn syrup, which are dangerous for the liver. </p>
              <p class="paratxt2 txtcenter"> 5. Red and processed meat:</p>
              <p class="paratxt3 txtcenter"> A recent study found that having processed and red meats frequently can increase your risk of having fatty liver disease. Moreover, its consumption was also associated with diabetes. Diabetes again has an adverse effect on your liver. </p>
              <div class="clear40"></div>
              <p class="paratxt1 txtcenter">  6. Salt:</p>
              <p class="paratxt3 txtcenter">Research suggests that the sodium present in salt can initiate the process of liver fibrosis. Salt is widely used as a flavour enhancer in foods. So, watch out on how much salt you use in your foods. You can replace salt with some spices and herbs to enhance the flavour of your food. There is a lot of hidden salts in processed foods, canned foods and pickles. So, reduce the intake of such food stuffs] as well.  
                Now that you know what foods to avoid, you must be wondering- ‘what do I eat then?’ Eat a balanced diet- include grains, vegetables, fruits, milk, pulses and oils. Have lot of fruits and vegetables which are rich in essential micronutrients and dietary fibre. Also, remember that water is the purest and the most ideal beverage. Drinking adequate water keeps dehydration at bay and helps your liver to function better. In addition, maintain a healthy lifestyle- quit smoking, exercise daily and stay away from toxins. </p>
                         <div class="clear40"></div>
                          <hr/>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 topreads">
            <p class="txt1 txtcenter">Top Reads </p>
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 txtcenter">
                <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
            </div>
            <div class="clear20"></div>
        </div>
        <div class="row m-0">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
            <img src="././assets/images/b-food.png">
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <label class="diseasestxt">Digestive Health</label>
            </div>
            <label class="diseasestxt2">14 best & worst foods for your ...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/safron.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">SKIN</label>
              </div>
              <label class="diseasestxt2">Saffron for good health..</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
        </div>
        <div class="clear20"></div>
        <div class="row m-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/b-food.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">Digestive Health</label>
              </div>
              <label class="diseasestxt2">14 best & worst foods for your ...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
                <img src="././assets/images/safron.png">
                <div class="clear10"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <label class="diseasestxt">SKIN</label>
                </div>
                <label class="diseasestxt2">Saffron for good health..</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                    <button class="btn read_morenew">READ MORE</button>
                </div>
              </div>
          </div>
          <div class="clear40"></div>
          <hr/>
      </div>
  </div>
  <div class="clear40"></div>
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <label class="txt1">Related Articles</label>
          <div class="clear10"></div>
          <img class="img-fluid iwidth" src="././assets/images/big_border.png">
          <div class="clear20"></div>
      </div>
      <div class="clear40"></div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
          <img src="././assets/images/awellness.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <label class="diseasestxt">wellness</label>
          </div>
          <label class="diseasestxt2">Low calorie diet
              to lose weight...</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
              <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
            <img src="././assets/images/asuryanamaskar.png">
            <div class="clear10"></div>
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 text-center">
                <label class="diseasestxt">healthy food</label>
            </div>
            <label class="diseasestxt2">Food & Activity
                Journal for...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
              <img src="././assets/images/plane.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">kids & teens</label>
              </div>
              <label class="diseasestxt2">Young overweight 
                  & Obesity in...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
  </div>
  <div class="clear70"></div>
</div>
