:host >>> app-patient-navigation{
    display: none !important; 
}
.MarginTop20{
    margin-top: 40px;
}
.patientPriscript-info-bottom .ml-5.no-data-found-style-2{
    margin-left: 11.5rem !important;
}
.p-lr5px{
    /* padding-left: 5px !important; */
    padding-right: 5px  !important;
}
.w-30px{
    width: 30px !important;;
}
.addFamBtn1{
    font-size: 14px !important;
    padding: 5px 3px !important;
}
.queriesMainContainer .chat_div .P {
    position: relative;
    margin-right: auto;
    margin-left: 3rem !important;
}
.queriesMainContainer .chat_div .D {
    margin-left: auto;
    position: relative;
    margin-right: 3rem !important;
}
.queriesMainContainer .chat_div .P  img{
    height: 40px;
    width: 40px;
    position: absolute;
    top: -44px;
    left: -40px;
}
.queriesMainContainer .chat_div .D img{
    height: 40px;
    width: 40px;
    position: absolute;
    top: -44px;
    right: -40px;
}
.queriesMainContainer{
    font-family: 'TrajanPro-Regular';
}

.box-with-shadow{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}
.queries-heading{
    font-family: 'TrajanPro-Regular';
    font-size: 18.4px;
    letter-spacing: 1.8px;
    color: #000000;
}
.stylein{
    width: 100%!important;
    border-right: 1px solid #cc9966!important;
    height: 50px; 
     background-position: 90%; 
     outline: none!important;
    background-image: url("../../../assets/images/pin.png") no-repeat;
}
.queriesMainContainer .btn-green-1{
    border-radius: 5px;
    border: solid 1px #84b367;
    background-color: #bccf60;
    font-family: 'TrajanPro-Bold';
    font-size: 12px;
    letter-spacing: 1.2px;
    color: #402909;
    box-shadow: 0 0 0 5px #bccf60;
    padding: 5px 25px;
}
.queriesMainContainer .card-header{
    background-color: #ffffff;
    border-bottom: 1px solid #f7f0dd;
    padding: 30px 50px;
}
.queriesMainContainer .card-body{
    padding: 0 10px;
}

.queriesMainContainer .rounded-search input.search-query {
    padding-left:40px;
    border-radius: 10px;
    outline: none;
    border: solid 1px #d6ad66;
    width: 100%;
    height: 45px;
    padding-bottom: 5px;
    font-family: 'PlayfairDisplay-Regular';
    font-size: 14px;
    line-height: 2.29;
    letter-spacing: 0.7px;
    color: #000000;


}
.queriesMainContainer .rounded-search input.search-query ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bebcbc;
}
.queriesMainContainer .rounded-search form.form-search {
    position: relative;
}

.queriesMainContainer .rounded-search form.form-search:before {
    content:'';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url("../../../assets/images/searchIconOrange.png");
    background-repeat: no-repeat;
    position: absolute;
    top:15px;
    left:15px;
    z-index: 1000;
}

/* .rounded-search form.form-search:after {
    content:'';
    display: block;
    width: 14px;
    height: 14px;
    background-image: url('../../../assets/images/closeIconOrange.png');
    background-repeat: no-repeat;
    position: absolute;
    top:15px;
    right:15px;
    z-index: 1000;
} */
.queriesMainContainer .queries-filter-by{
    font-family: 'PlayfairDisplay-Regular';
    font-size: 22px;
    letter-spacing: 1.1px;
    color: #333333;
}

/* tabs css */
/* Style the tab */
.queriesMainContainer .tab {
    float: left;
    background-color: #f9f4e4;
    width: 50%;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    direction: rtl; /* scroll to left side */
}
.queriesMainContainer .tab div{
    direction: ltr; /* text to right side */
}
/* custom scroll */
 /* width */
 .queriesMainContainer ::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.queriesMainContainer ::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.queriesMainContainer ::-webkit-scrollbar-thumb {
    background: #d6ad66;
}

/* Handle on hover */
.queriesMainContainer ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.queriesMainContainer .dateText{
    font-size: 12px;
    line-height: 2.67;
    letter-spacing: 0.6px;
    color: #402909;
}
.queriesMainContainer .doctNameText{
    font-family: 'TrajanPro-Bold';
    font-size: 16.7px;
    font-weight: bold;
    color: #402909;
}
.queriesMainContainer .doctSpecialityText{
    font-family: 'PlayfairDisplay-Regular';
    font-size: 14px;
    letter-spacing: 0.7px;
    color: #333333;
}
.queriesMainContainer .queryQtnText{
 font-family: 'PlayfairDisplay-Regular';
  font-size: 14px;
  letter-spacing: 0.7px;
  color: #333333;
}
.queriesMainContainer .repliesText{
    font-family: 'TrajanPro-Bold';
        font-size: 16px;
        font-weight: bold;
        line-height: 2;
        letter-spacing: 0.8px;
        color: #84b367;
}
.queriesMainContainer .BorderHeading {
   border-left: none !important;
}
/* Style the buttons inside the tab */
.queriesMainContainer .tab .inner_div {
    display: block;
    color: black;
    padding-top: 10px;
    padding-bottom:10px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
    position: relative;
}
.queriesMainContainer .tab .inner_div:nth-of-type(even){
    background-color: #ffffff;
}
.queriesMainContainer .tab .inner_div:nth-of-type(odd){

    background-color: #fdfbf6;
}


/* Create an active/current "tab button" class */
.queriesMainContainer .tab .inner_div.active {
    position: relative;
    border-right: 25px solid #bccf60;
}
.queriesMainContainer .tab .inner_div.active .queryQtnText{
    font-weight: bold;
}

/* Style the tab content */
.queriesMainContainer .tabcontent {
    float: left;
    padding: 0px 12px;
    border-right: none !important;
    width: 50%;
    border-left: none;
    height: 500px;
    position: relative
}

.queriesMainContainer .tabcontent{
    display: block;
}
.queriesMainContainer .hide{
    display: none;
}
.queriesMainContainer .bl_pressure {
    width: 50%;
    display: inline-block;
}
.queriesMainContainer .bl_img {
    margin-right: 30px;
}
.queriesMainContainer .doc_info {
    width: 50% !important;
    display: inline-block !important;
    vertical-align: top;
    border-bottom: none !important;
    padding: 5px 0px !important;
    font-size: 14px !important;
    font-weight: 900;
}
.queriesMainContainer .fent_font {
    color: #aca9a9 !important;
    font-weight: 600;
}

.queriesMainContainer .divider {
    border: 1px solid #f3e7ce;
}
.queriesMainContainer .active.right_arrow{
    display: block;

}
.queriesMainContainer .right_arrow {
    position: absolute;
    top: 45%;
    right: -18px;

}
.queriesMainContainer .chat_inpute {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #f9f4e4;
    padding:0px 10px;
}
.queriesMainContainer .chatbox,.nbg {    border: none;
    background: #f9f4e4;
    font-family: 'PlayfairDisplay-Regular';
font-size: 16px;
color: #333333;
}
.queriesMainContainer .nbg{cursor: pointer}
.queriesMainContainer input.form-control.chatbox:focus {
    box-shadow: none;
    outline: none;
}
.queriesMainContainer input.form-control.chatbox::placeholder {
    color: #5c5c5c;
    font-size: 20px;
}
.queriesMainContainer p.green_text.font-weight-bold.text-right {
    color: #e1c599 !important;
}


.queriesMainContainer .chat_div {
    height: 370px;
    overflow-y: auto;
}
.queriesMainContainer .chat_div .patient {
    position: relative;
    margin-right: auto;
    margin-left: 3rem !important;
}
.queriesMainContainer .chat_div .doctor {
    margin-left: auto;
    position: relative;
    margin-right: 3rem !important;
}
.queriesMainContainer .chat_div .patient  img{
    height: 40px;
    width: 40px;
    position: absolute;
    top: -44px;
    left: -40px;
}
.queriesMainContainer .chat_div .doctor  img{
    height: 40px;
    width: 40px;
    position: absolute;
    top: -44px;
    right: -40px;
}

.queriesMainContainer .reply-date{
    font-family: 'PlayfairDisplay-Regular';
    font-size: 11px;
    letter-spacing: 0.6px;
    color: #656464;
}
@media only screen and (max-width: 768px) {
    .queriesMainContainer .text-right{
        text-align:center !important;
    }
    .queriesMainContainer .card-header{
        text-align: center !important;
    }
    .queriesMainContainer .BorderHeading, .queriesMainContainer .tabcontent{
        width: 100%;
    }
}

.queriesMainContainer .custom_modal {

    position: fixed !important ;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    background: rgba(0,0,0,0.5);
    z-index: 1 !important;

  }

  .queriesMainContainer .modal-dialog {
    top: 20% !important;
    /* width: 500px; */
    }

    .queriesMainContainer .modal-content{
    margin-left: 10px;
    padding-bottom: 14px;
}

.queriesMainContainer .modal-title {
    margin-bottom: 0;
    padding-left: 20px;
    line-height: 1.5;
    font-family: TrajanPro;
    font-size: 13.5px;
    font-weight: bold;
    color: #402909;
}

.queriesMainContainer .queryHeight{
    margin-top: 18px;
}

.queriesMainContainer .textareaMargin {
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 18px;
    margin-right: 18px;
}
.queriesMainContainer .tacolor{
    opacity: 0.62;
  border-radius: 5px;
 border-color: #d6ad66;
}
.queriesMainContainer .selectDrop{
    opacity: 0.62;
  border-radius: 5px;
  border-color: #d6ad66;
  margin-left: 20px;
    width: 92%;
}
.queriesMainContainer .dragHeight{
    margin-top: 25px;
    margin-left: 20px;
    text-align: center;
}
.queriesMainContainer .dragFiles{
    background-image:url("../../../assets/images/move.png"); 
    background-repeat: no-repeat;
    /* width: 86px;
    height: 86px;
    border: 0px;
    color: white; */
    /* opacity: 0;
    position: absolute;
    z-index: -1; */
}
.queriesMainContainer label {
    cursor: pointer;
    
    /* Style as you please, it will become the visible UI component. */
 }
 
 .queriesMainContainer #upload-photo {
    
    opacity: 0;
    position: absolute;
    z-index: -1;
 }
 .queriesMainContainer button.close {
    margin-right: 15px;
    padding: 0;
    margin-top: -8px;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

.queriesMainContainer .btned{
    width: 132px;
}
.queriesMainContainer .btn-trasnp-1{
    font-size: 12px;
    letter-spacing: 1.2px;
    background: transparent;
    border-radius: 5px;
    border: solid 1px #cfa15a;
    font-family: 'TrajanPro-Bold';
    padding: 7px 25px;
    margin-right: 22px;
   }
   .queriesMainContainer .UpdateBtn{
    font-family: 'TrajanPro-Bold';
    background: #bccf60;
    border-radius: 15px;
        outline: 1px solid #84b367;
    outline-offset: -11px;
    -moz-outline-radius: 10px;
    padding: 18px 58px;
} 
.queriesMainContainer .GetStartedBtn{
    padding: 8px 20px;
    outline-offset: -6px;
    -moz-outline-radius: 5px;
    font-size: 12px;
    border-radius: 5px; 
    box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.13);
    }
    .queriesMainContainer .submitbtn{
        width: 133px;
     }   
     .queriesMainContainer .date_cursor{
        cursor: pointer;
    }        

/* ----------------------- */




.disabledInputs {
    background: white !important;
    background-image: none !important;
    border: none !important;
  }
  .txt3 .disabledInputs{
    border: none !important;
  }
.fh-div:nth-child(2n){
    border: none;
}
.edit-remove-address{
    z-index: 11;
    position: absolute;
    top: 0;
    right: 40px;
}
.no-data-found-style-2{
    color: #dc1616;
    font-size: 16px;
}
.no-data-found-style-1{
    color: #dc1616;
    font-size: 20px;
}
.addressDiv{
    cursor: pointer;
}
.cust-msg-div{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    /* min-height: 450px; */
    width: 85%;
    padding: 5%;
    border-radius: 5px;
    background-image: url('../../../assets/images/herbBG.png');
    background-size: cover;
    color: #402909;
    font-size: 20px;
    font-family: 'TrajanPro-Bold';
    margin: auto;
}
.delImg{
    width: 56%;
}
.editimg {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #cfa15a;
    padding: 5%;
}
.editimg img{
    cursor: pointer;
}
.daysCustInput{
    position: relative !important;
    opacity: 1 !important;
    cursor: auto !important;
    height: 35px !important;
    width: 100% !important;
    top: -30px;
    left: 50px;
}
.patientPriscript-info-bottom2 .checkmark{
  width: 25px;
  height: 25px;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: none !important;
}
.patientPriscript-info-bottom2 .chkbx-container .checkmark:after {
    left: 10px;
    top: 3px;
    width: 5px;
    height: 15px;
    border-width: 0 2px 2px 0;
}
.cust-textarea{
    width: 370px;
    border: none !important;
}
.rad-btn{
    margin-left: 10px;
}
::placeholder {
    font-size: 13px;
  }
.box-shadow-seperation{
    margin-top: 10px;
    box-shadow: 0 8px 6px -6px #f7f0dd;
    -webkit-box-shadow: 0 8px 6px -6px #f7f0dd;
    -moz-box-shadow: 0 8px 6px -6px #f7f0dd;
}
.select-medicines-notes{
    
    color: #402909;
    font-size: 14px;
    line-height: 1.37;
    text-align: left;
    font-family: 'PlayfairDisplay-Regular'
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.profimg{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.padlrn{
    padding: 0px;
}
.clear5{
    clear: both;
    height: 5px;
}
.clear50{
    clear: both;
    height: 50px;
}
.clear100{
    clear: both;
    height: 100px;
}
.text2{
    font-size: 18px;
    font-weight: bold;
    font-family: TrajanPro-Bold;
    color: #402909;
}
.text3{
  font-family: PlayfairDisplay-Regular;
  font-size: 18px;
  font-weight: normal;
  color: #333333;
}
.text4{
    font-family: PlayfairDisplay-Regular;
  font-size: 16px;
  font-weight: normal;
  color: #333333;
}
.text41{
    font-family: PlayfairDisplay-Regular;
  font-size: 16px;
  font-weight: 600;
  color: #333333;
}
.text5{
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}
.fh{
    font-family: TrajanPro-Regular;
    font-size: 16px;
    font-weight: normal;
    color: #402909;
}
.fh1{
    font-size: 14px;
  font-weight: bold;
  color: #333333;
}
.ddbstyle{
    border-bottom: solid 1px #f7f0dd;
    border-radius: 0px;
    background-color: #ffffff;
    font-family: PlayfairDisplay-Bold;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    }
.title{
    font-family: TrajanPro-Bold;
    font-size: 18.5px;
    font-weight: bold;
    color: #000000;
}
hr{
    border: solid 1px #f7f0dd!important;
    
}
.content-box{
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #d6ad66;
    padding: 35px;
}
.content-box1{
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #d6ad66;
    padding: 35px;
    min-height: 275px;
}
.card.patientPriscript-info-bottom{
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #000000;
}
.card.patientPriscript-info-bottom1{
    border-radius: 5px;
    border:1px solid #d9b065;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #000000;
}
.card.patientPriscript-info-bottom1 .card-header{
    border-bottom: 1px solid #d9b065;
    background-color: #ffffff;
}
.card.patientPriscript-info-bottom .card-header{
    background-color: #ffffff;
    border-bottom: 2px solid #f7f0dd;
    padding: 21px 25px;
    font-family: 'TrajanPro-Regular';
    font-size: 18.4px;
    letter-spacing: 1.8px;
}
.areabg{
    background-color: #fbf8ee;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
}
.w-h{
width: 100%;
text-align: left;
}
.w-h1{
    width: 100%;
    }
.fh-div1{
    padding-left: 4%;
}
.fh-div{
    padding-left: 4%;
    border-right: solid 1px #d6ad66;
}
.fh-button{
    border-radius: 5px;
    background-color: #fbf8ee;
    font-family: TrajanPro-Bold;
    font-size: 15.5px;
    font-weight: bold;
    color: #3e2808;
}
.fh-text{
    font-family: TrajanPro-Bold;
    font-size: 13.5px;
    font-weight: bold;
    color: #402909;
}
.fh-text2{
    font-family: PlayfairDisplay-Regular;
  font-size: 14px;
  font-weight: normal;
  color: #402909;
}
.rs{
    font-family: RupeeForadian;
    font-size: 16px;
    font-weight: normal;
}
.fh-text3{
    font-size: 12px;
  font-weight: normal;
  color: #402909;
}
.os-text2{
    font-family: TrajanPro-Bold;
  font-size: 16.4px;
  font-weight: bold;
  color: #000000;
}
.os-text1{
    font-family: TrajanPro-Bold;
    font-size: 18.4px;
    font-weight: bold;
    color: #000000;
}
.os-remove-edit{
    font-family: PlayfairDisplay-Regular;
  font-size: 10px;
  font-weight: normal;
  text-decoration: underline;
}
.os-text3{
    font-family: PlayfairDisplay-Bold;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
}
.os-text4{
  font-family: TrajanPro-Bold;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
}
.addbtnpad{
    padding: 43px;
    border: solid 1px #d6ad66!important;
    background-color: #ffffff!important;
}
.addressbg{
    border-radius: 10px;
    background-color: #f7eedb;
}
.addressbg hr{
    border: solid 1px #cfa15a!important;
}
.full-droppad{
    padding-right: 29px!important;
}
.card-bg{
    
    background-color: #f9f4e4!important;
}
.btn-green-1{
    font-size: 12px;
    letter-spacing: 1.2px;
    border-radius: 3px;
    border: solid 1px #84b367;
    background-color: #bccf60;
    font-family: 'TrajanPro-Bold';
    box-shadow: 0 0 0 2px #bccf60;
    padding: 15px 61px;
 }
 .btn-green-2{
    font-size: 12px;
    letter-spacing: 1.2px;
    border-radius: 5px;
    border: solid 1px #84b367;
    background-color: #bccf60;
    font-family: 'TrajanPro-Bold';
    box-shadow: 0 0 0 2px #bccf60;
    padding: 2px 20px;
 }
 .btn-green-3{
    font-size: 12px;
    letter-spacing: 1.2px;
    border-radius: 3px;
    border: solid 1px #84b367;
    background-color: #bccf60;
    font-family: 'TrajanPro-Bold';
    box-shadow: 0 0 0 2px #bccf60;
    padding: 5px 20px;
 }
 .btn-gray-1{
    letter-spacing: 1.2px;
    border-radius: 3px;
    border: solid 1px #959595;
    background-color: #b7b7b7;
    font-family: 'TrajanPro-Bold';
    box-shadow: 0 0 0 5px #b7b7b7;
    border-radius: 15px;
    padding: 15px 40px;
    font-size: 15.5px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
 }
 .btn-gray-default-2{
    font-size: 12px;
    letter-spacing: 1.2px;
    border-radius: 5px;
    border: solid 1px #959595;
    background-color: #b7b7b7;
    font-family: 'TrajanPro-Bold';
    box-shadow: 0 0 0 2px #b7b7b7;
    padding: 2px 20px;
 }

 .prof-box{
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
 }
 .tab-hbright{
    border-right: 2px solid #d9b065;
    padding: 15px 0px;
    margin: 0px;
    font-size: 24px; 
    }
 .tab-hbright12{
    padding: 15px 0px;
    margin: 0px;
    font-size: 24px; 
}
.allerp{
    padding-right: 23px;
}
.sincepad{
    
    padding-left: 7px;
    padding-right: 30px;
}
.pluspad{
    padding-left: 0px;
}
.minuspad{
    padding: 6px 15px;
}
.plusminusbtn{
    cursor: pointer;
    width: auto;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #f7f0dd!important;
    background-color: #ffffff!important;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
   }
.option{
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}
.formfield {
    font-weight: normal;
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 2px 2px;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    border: none;
    background-color: #fff;
    background-clip: padding-box;
    /* border: 1px solid #ced4da; */
    border-bottom: 1px solid #f7f0dd;
    border-radius: 0rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
   }
   .styled-select {
    width: 100%;
    height: 40px;
    overflow: hidden;
    overflow: -moz-hidden-unscrollable;
    background: url("../../../assets/images/upDropDown.png") no-repeat right center !important;
    border-bottom: 1px solid #d9b065;
    font-size: 14px;
    font-family: 'PlayfairDisplay-Regular';
    display: inline-block;
    position: relative;
  }
  
  .styled-select select {
      outline: none;
    background: transparent;
    -webkit-appearance: none;
    width: 100% !important;
    font-size: 14px;
    border: 0;
    position: absolute;
    left: 0;
    top: 0; 
    font-family: 'PlayfairDisplay-Regular';
  }
/* Style the tab */
.tab {
    overflow: hidden;
    border: none;
    background-color: #ffffff; 
    box-shadow: 0px 0px 15px #e5e5e5; 
    padding: 0px;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none; 
   
    cursor: pointer;
    width: 100%;
    padding: 12px 16px 12px 16px;
    font-family: TrajanPro-Regular;
    font-weight: normal;
    color: #402909;
    font-size: 24.5px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ffffff;
}

/* Create an active/current tablink class */
.tab button.active {
    font-family: TrajanPro-Bold;
    font-size: 24.5px;
    font-weight: bold;
    box-shadow: 0px 3px 14.2px 1.8px rgba(0, 0, 0, 0.14);
  background-color: #f9f4e4;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.date_cursor{
    cursor: pointer;
}

.tabcontent{
    display: block;
}
.hide{
    display: none;
}
.fontstyle{
    font-family: TrajanPro-Regular;
    font-size: 14.5px;
    font-weight: normal;
    color: #000000;
}
.tabshadow{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06)!important;
}

/* modal css */
.modal.fade.show {
    display: block;
  }
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    outline: 0;
  }
  
  .modal.fade.show {
    display: block;
  }
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    outline: 0;
  }
  .select-style{
    width: 100%;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #cccccc;
  }
  .Addaddressbtn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    background-color: #d6ad66!important;
    color: #ffffff!important;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.popclose {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #d6ad66;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    background-color: #ffffff!important;
    color: #000000!important;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.os-price{
    font-family: TrajanPro-Bold;
    font-size: 12px;
    font-weight: bold;
    color: #402909;
}
.hrnone:last-of-type hr{
display: none;
}
.pad-r-50{
    padding-right: 50px;
}
.f-text{
    font-family: TrajanPro-Bold;
    font-size: 14px;
    font-weight: bold;
    color: #6c593f;
}
 

.btn-unclicked-1 {
    background-color: #f7f0dd;
}

/* Hide the browser's default checkbox/radio */

.buttonmain input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* When the checkbox is checked, change background */

.buttonmain input:checked~.checkmark {
    background-color: #d6ad66 !important;
}


.buttonmedicine input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* When the checkbox is checked, change background */

.buttonmedicine input:checked~.checkmark {
    background-color: #bccf60 !important;
}

.cod input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* When the checkbox is checked, change background */

.cod input:checked~.checkmark {
    background-color: #fbf4da !important;
}



.btnfont{
    font-family: TrajanPro-Bold;
  font-size: 15.5px;
  font-weight: bold;
  color: #3e2808;
}
.cp-mbuttonpad{
    padding-left: 17px;
}
.cp-input{
    border-bottom: 1px solid #f7f0dd!important;
    border: none;
    border-radius: 0px;
    font-family: PlayfairDisplay-Regular;
  font-size: 16px;
  font-weight: normal;
  color: #333333;
}
.cp-chk-text{
    font-family: PlayfairDisplay-Regular;
  font-size: 16px;
  font-weight: normal;
  color: #333333;
}

/*---Chk box---*/



.chkbx-container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.chkbx-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.chkbx-container .checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #ffffff;
    border: solid 2px #000000;
}


.chkbx-container:hover input ~ .checkmark {
    background-color: #ffffff;
}


.chkbx-container input:checked ~ .checkmark {
    background-color: #ffffff;
}


.chkbx-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.chkbx-container input:checked ~ .checkmark:after {
    display: block;
}


.chkbx-container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: 1px solid #000000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*---Chk box---*/
.cp-select-mtext{
    font-family: PlayfairDisplay-Regular;
  font-size: 16px;
  font-weight: normal;
  color: #333333;
}
.pm-button{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    font-family: PlayfairDisplay-Bold;
  font-size: 14px;
  font-weight: bold;
  color: #402909;
}
.medicineContainer1{
    border-radius: 5px;
    background-color: #fbf8ee;
}
.bgcolor{
    background-color: #fbf8ee;
}
.prescription{
  font-family: PlayfairDisplay-Regular;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
}
.addproducttext{
    font-family: PlayfairDisplay-Regular;
  font-size: 11.8px;
  font-weight: normal;
  color: #402909;
}
.input-spinner{
    width:40px;
    text-align: center
}
.offer{
    font-family: PlayfairDisplay-Bold;
  font-size: 16px;
  font-weight: bold;
  color: #402909;
}
.m-left{
    margin-left: 25%;
}
.zandupoptext{
    font-family: TrajanPro-Bold;
    font-size: 40px;
    font-weight: bold;
    color: #402909;
}
.pop-con-id{
    font-family: TrajanPro-Bold;
    font-size: 20px;
    font-weight: bold;
    color: #402909;
}
.pop-con-id1{
    font-family: TrajanPro-Bold;
    font-size: 20px;
    font-weight: bold;
    color: #666666;
}
.pop-head-bgcolor{
    background-color: #f9f4e4;
}
.pop-text1{
    font-family: TrajanPro-Bold;
  font-size: 24px;
  font-weight: bold;
  color: #402909;
}
.pop-text2{
    font-family: PlayfairDisplay-Bold;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
}
.pop-text2-1{
    font-family: PlayfairDisplay-Regular;
    font-size: 20px;
    font-weight: normal;
    color: #333333;
}
.pop-input{
    border: 0px;
    border-bottom:1px solid #d9b065!important;
    border-radius: 0px;
    font-family: PlayfairDisplay-Regular;
    font-size: 16px;
    font-weight: normal;
    color: #333333;
}
.pop-overflow{
    overflow: scroll;
}
.pop-divheight{
    height: 250px;
}
/* --- pop chk box*/


.chkbx-container1 {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.chkbx-container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.chkbx-container1 .checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #ffffff;
    border: solid 2px #d9b065;
}


.chkbx-container1:hover input ~ .checkmark {
    background-color: #ffffff;
}


.chkbx-container1 input:checked ~ .checkmark {
    background-color: #ffffff;
}


.chkbx-container1 .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.chkbx-container1 input:checked ~ .checkmark:after {
    display: block;
}


.chkbx-container1 .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: 1px solid #d9b065;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*---pop chk box-end */
#popup table thead tr th{
    font-family: PlayfairDisplay!important;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    border-bottom: solid 1px #d6ad66;   
}

#popup table tbody tr td{
    font-family: PlayfairDisplay-Regular;
    font-size: 16px;
    font-weight: normal;
    color: #333333;
}
#popup table tbody tr{
    border-top: solid 1px #d6ad66;   
    }
    #popup table tbody tr:first-of-type{
    border-top: none;   
    }
.pop-f-bgcolor{
    background-color: #f9f4e4;
}
.fot-text{
    font-family: PlayfairDisplay-Regular;
  font-size: 18px;
  font-weight: normal;
  color: #666666;
}
.fot-text1{
  color: #402909!important;
  font-family: PlayfairDisplay-Regular;
  font-size: 18px;
  font-weight: normal;
}
.web-text{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #666666;
}
.web-text1{
    font-size: 14px;
  font-weight: normal;
  font-style: normal;
  color: #402909;
}
.btn-trasnp-1{
    font-size: 12px;
    letter-spacing: 1.2px;
    background: transparent;
    border-radius: 5px;
    border: solid 1px #cfa15a;
    font-family: 'TrajanPro-Bold';
    padding: 7px 25px;
}
.scgh{
    word-break: break-all;
}
:host >>> .footerDiv{
    bottom: 0;
    position: fixed;
    left: 0;
    background: #ffffff;
    right: 0;
    text-align: center;
}
:host >>>  .footerDiv h6{
    color: #b5803c;
    font-family: 'TrajanPro-Bold';
    font-size: 18px;
}
.displayImg{
    max-width: 100%;
    max-height: 120px;
}
.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
.medicine-background{
    background-color: #f9f4e4;
}
.form-element-margin{
    margin-top: 5%!important;
    margin-bottom: 5%!important;
}
.form-elemet-margin-right{
    margin-right: 5%!important;
}

.textAreaCss{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 33px;
}
 @media only screen and (min-width:576px) and (max-width:768px) {
    .center{
        text-align: center;
    }
 }
 @media screen and (max-width:576px) {
    .center{
        text-align: center;
    }.displayImg{
        max-height: 120px;
        max-width: 100%;
        text-align: center;
    
    }
}

/* Health Report */
.cardbodydiv{
    box-shadow: 0px 0px 10px #f1f1f1;
border: none;
padding: 1%;
background: #f9f4e4;
}  
.PaddingTextX{
    padding: 0% 9%;
}
.Righttext{
    font-size: 12px; 
    color: #402909; 
    font-family: 'TrajanPro-Regular';
} 
.card.cardbodydiv.shadow-sm.mb-3:hover {

    background: #ffffff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.23);
    transform: scaleX(1.1);
    transition: 0.3s;

}
.xrayheading{
    font-size: 14px;
    font-family: 'TrajanPro-Bold';
}  
.pdfname{
    font-size: 14px;
    font-family: 'PlayfairDisplay-Regular';
    text-decoration: underline;
}
.ReportMainDiv{
    border-radius: 5px;
    padding: 5%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}  
.ReportMainDiv h2{
    font-family: 'TrajanPro-Regular';
    font-size: 18px;
}

@media only screen and (max-width: 768px) {
    .add-report-float{
        text-align:center;
    }
    .report-font{
        text-align: center;
        font-size: 28px;
        font-weight: 800;
    }
    .float-filter-by{
        text-align: center;
    }
    .Righttext{
        font-size: 16px; 
        color: #666;
    }
    
    .MarginLeft{
        margin-left: 10px;
        }
        
    .img-size{
        width:24%;
        cursor: pointer;
    }            
}