 <section class="bg">
    <footer class="footerDiv">
        <!-- <h6 class="mb-4">ZanduCare</h6>
      <footer class="footerDiv">
        <h6 class="mb-4 zandstyle">ZanduCare</h6>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 logostyle">
          <img class="img-fluid" src="././assets/images/newlogo.png">
        </div>
        <div class="clear30"></div>
      <span>Subscribe to newsletter</span>
      <div class="col-11 col-sm-11 col-md-11 col-lg-11 mx-auto">
      <div class="input-group my-3">
        <input type="text" class="form-control opct" placeholder="enter your email id">
        <div class="input-group-append">
          <button class="btn btn-success bor-right" type="submit">subscribe</button> 
        </div>
      </div>
      </div>
      <ul>
        <li>About Us </li>
      <li>    Media   </li> 
        
      <li>  Join Us </li>   
        
       <li> Contact Us </li>   
        
        <li routerLink="/disclaimer">Disclaimer</li>    
        
      <li>   Privacy Policy   </li>  
        
        <li>Sitemap</li>
      </ul>P
        <p>© 2018 Zandu. All Rights Reserved. </p> -->   
        <div class="img">
    
      </div>
      <div class="row">
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 p-0 mb-0 webhidden">
             <a routerLink=""><img class="cursor"  src="././assets/images/ZanduLogoFOOTER.png"> </a> 
              <div class="clear10"></div> 
              <div class="clear40"></div>
              <div class="clear30"></div>
              <div class="clear30"></div>
              <!-- <div class="clear20"></div> -->
              <div class="clear8"></div>
               <p class="DescalmerText">Provide us your Feedback </p> 
                </div> 
        <div class="col-12 col-lg-10 col-sm-12 col-md-12 outer-footer">
            <div class="row mt-5">
        
                <div class="col-12 col-sm-12 col-md-12 col-lg-4 SecondDiv mb-0">
                    <p class="DescalmerText">Contact us </p>  
                    <div class="clear10"></div> 
                    <div class="clear5"></div>
                    <p class="DescalmerTextspan">Emami Group, Emami<br>
                        Tower, 687 Anandapur,<br>
                        EM Bypass<br>
                        Kolkata 700 107
                    </p>
                         <p class="DescalmerTextspan"> <img  src="././assets/images/FooterCall.png"> 1800 572 8000
                         </p> 
                         <p class="DescalmerTextspan"> <img  src="././assets/images/FooterMail.png"> care@zandu.com  </p>
                  </div>
            
              <div class="col-12 col-sm-6 col-md-6 col-lg-4 p-0 mb-0 mobhidden">
            <a routerLink=""><img class="cursor" src="././assets/images/ZanduLogoFOOTER.png"> </a>
            <div class="clear10"></div> 
            <div class="clear40"></div>
            <div class="clear30"></div>
            <div class="clear30"></div>
            <!-- <div class="clear20"></div> -->
            <div class="clear8"></div>
             <p class="DescalmerText">Provide us your Feedback </p> 
              </div> 
             
              <div class="col-12 col-sm-12 col-md-12 col-lg-4  SecondDiv mb-0">
                <div class="contactDis">
                    <p class="DescalmerText cursor" routerLink="/disclaimer">Disclaimer</p>  
                    <div class="clear20"></div>
                    <p class="DescalmerText cursor" routerLink="/ReturnPolicy">Return Policy</p>  
                    <div class="clear20"></div>
                    <p class="DescalmerText cursor" routerLink="/PrivacyPolicy">Privacy Policy</p>  
                    <div class="clear20"></div>
                    <p class="DescalmerText cursor">FAQs</p>
                    <div class="clear20"></div>
                    <p class="DescalmerText cursor" routerLink="/ShippingPolicy">Shipping Policy</p>  
                </div>
                  
                  <!-- <div class="clear10"></div> -->
                <!-- <div class="form-group UserEmailFormGroup">
                   <input type="text" class="form-control UserIcon" id="usr" placeholder="NAME">
                </div> -->
                <!-- <div class="form-group UserEmailFormGroup2">
                    <input type="email" class="form-control EmailIcon" id="email" placeholder="EMAIL">
                </div>   -->
                <!-- <div class="form-group">
                 
                  <textarea class="form-control TextArea" rows="5" id="comment" placeholder="WRITE MESSAGE HERE"></textarea>
                </div>    -->
                <!-- <div class="clear10"></div>
                <button class="btn SubmitBtn cursor">SUBMIT</button>
                <div class="clear40"></div> -->
              </div>
              
            </div>
        </div>
      </div>
      
      <div class="HorizontalLine"></div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="footer-info">
            <div class="clear10"></div>
              <p>copyrights (c) 2019-www.zanducare.com </p>
              <div class="clear30"></div>
          </div>
        </div>
      </div>
      
      </footer> 
 </section>
 
  