<app-navigation></app-navigation>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 home-top">
        <app-floating></app-floating>
</div>
<div class="clear"></div>
<div class="container">
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <p class="blurtxt txtcenter">Suran</p>
          <div class="clear20"></div>
          <p class="txt1 txtcenter">Amorphophallus paeoniifolius,
              also known as Elephant foot 
              yam or Suran in Hindi, is a 
              tropical tuber crop with 
              great nutritive and 
              medicinal values.  </p>
              <div class="clear10"></div>
              <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
              <div class="clear20"></div>
              <p class="topptxt txtcenter">These tubers are also a very popular 
                  vegetable used in a variety of Indian delicacies.   </p>
              <div class="clear40"></div>
              <div class="row m-0">
                <div class="col-6 col-am-6 col-md-6 col-lg-6 borderright">
                  <p class="byUStxt">By U.S. News Staff</p>
                </div>
                <div class="col-6 col-am-6 col-md-6 col-lg-6">
                     <label class="byUStxt">Jan 03, 2018 at 7:45 pm</label>
                  </div>
              </div>
              <div class="clear40"></div>
              <p class="paratxt1 txtcenter">What is Amorphophallus paeoniifolius?</p>
              <p class="paratxt3 txtcenter">
                  Amorphophallus paeoniifolius is a perennial, underground corm which is dark brown in color and approximately 20-25 cm in diameter. The plant bears flowers and fruits in the month of April- May. This plant grows well in hot and humid        climate. The initial stages of crop growth require humid weather, whereas dry weather helps in adding to the bulk of the tuber.  
                  Elephant foot yam is widely cultivated and used in South East Asian countries such as India, Sri-Lanka, Malaysia, Indonesia and Philippines. In India, it is grown in the states of Andhra Pradesh, West Bengal, Gujarat, Kerala, Tamil Nadu, Maharashtra, Uttar Pradesh, and Jharkhand.
</p>
            <p class="paratxt1 txtcenter">.


                Medicinal and Nutritional properties:</p>
                <p class="paratxt3 txtcenter"> 
                    Elephant foot yam is a great source of starch, proteins, sugar and also minerals such as potassium, phosphorus, calcium and iron. Plus, it also has the following medicinal properties:</p>
            
              <p class="paratxt1 txtcenter">

                  1. Analgesic activity:</p>
              <p class="paratxt3 txtcenter"> 
               

                  Animal studies have found that methanol extracts of Amorphophallus paeoniifolius cause significant reduction in pain. </p>
              <p class="paratxt1 txtcenter">

                  2. Gastroprotective ability:
                  </p>
              <p class="paratxt3 txtcenter"> Phytochemicals present in Amorphophallus paeoniifolius such as polyphenols are known to prevent gastric ulcers. In few animal studies, methanol extracts of Amorphophallus paeoniifolius has been found to acidity, gastric pH and ulcer score.</p>
              <p class="paratxt1 txtcenter">

                  3. Antidiarrheal activity:</p>
              <p class="paratxt3 txtcenter"> 
                   
Ethanol extracts of Amorphophallus paeoniifolius have been found to be effective in reducing the frequency and severity of diarrhoea in rat models. This proves that it can be effective in treating diarrhoea due to different causes.</p>
              <p class="paratxt1 txtcenter">

                  

4. Anti-inflammatory effect:</p>
              <p class="paratxt3 txtcenter"> 
                  
Methanol extracts of Amorphophallus paeoniifolius have potential                           anti-inflammatory effects. </p>
              <p class="paratxt1 txtcenter">

                  5. Antibacterial effect: </p>
              <p class="paratxt3 txtcenter"> 
                  
Extracts of Amorphophallus paeoniifolius is known to be effective against a variety of disease-causing gram-positive organisms such as Bacillus subtilis, Bacillus       megaterium, Staphylococcus aureus, Streptococcus β-haemolyticus and      gram-negative organisms such as Escherichia coli, Proteus vulgaris, Pseudomonas aeruginosa and Salmonella typhi.  </p>
              <p class="paratxt1 txtcenter">6. Avoid sitting for a long time: </p>
              <p class="paratxt3 txtcenter"> 
                  Sitting for a long time puts more pressure on the veins around the anus. If you have piles, avoid sitting on hard surfaces as this can put more pressure in the area around your anus.</p>
              <p class="paratxt1 txtcenter">
 
                7. Keep fibre supplements handy:</p>
              <p class="paratxt3 txtcenter">In our modern-day lifestyle, most people do not take in adequate amount of fibre in their diet. Therefore, it is advisable to take external fibre supplements such as psyllium husk and methylcellulose (Women: 25 grams a day, and Men: 38 grams a day) to have regular and soft stools. </p>
              <p class="paratxt1 txtcenter">

                  8. Befriend Water: </p>
              <p class="paratxt3 txtcenter">
                  Constipation is sometimes due to dehydration. Therefore, drinking adequate water may help loosen the stools and make it easy to pass. Moreover, if you take high fibre diet, you must take water as well. Without water, the fibre makes your stools hard and this can aggravate constipation.
                  </p>
              <p class="paratxt1 txtcenter">9. Take Sitz bath: 
                </p>
              <p class="paratxt3 txtcenter">
                  A sitz is a shallow tub which is filled with warm water. You need to sit in the bath and immerse your bottom (anal area) in warm water. This helps to relieve burning and inflammation of the genital area. If piles is really bothering you, it is the best option for instant relief. 
                  Piles is not a life-threatening condition but causes immense discomfort. But the good news is that it can be managed by following some simple steps. However, in spite of following these measures, if piles discomfort doesn’t get relieved, consult your doctor.  If piles have advanced, you may be recommended surgery. 
              </p>
              <p class="paratxt1 txtcenter"> 10. Central Nervous system depressant activity:</p>
              <p class="paratxt3 txtcenter"> Petroleum ether extracts of Amorphophallus paeoniifolius have been found to bring about significant central nervous system depression.</p>
              <p class="paratxt1 txtcenter">11. Hepatoprotective activity:</p>
              <p class="paratxt3 txtcenter">Animal studies have proven that extracts of Amorphophallus paeoniifolius is           effective in normalising the levels of liver function indicators such as serum alkaline phosphatase (sALP), serum bilirubin (SB), serum glutamic pyruvic transaminase (sGPT), and serum glutamic oxaloacetic transaminase (sGOT).</p>
              <p class="paratxt1 txtcenter"> 12. Immunomodulation:</p>
              <p class="paratxt3 txtcenter">Amorphophallus paeoniifolius have been found to have immunosuppressant      property. </p>
              <p class="paratxt1 txtcenter">

                  Medicinal uses:</p>
              <p class="paratxt2 txtcenter">Amorphophallus paeoniifolius has been found to be useful for the following      conditions:</p>
              <p class="paratxt2 txtcenter">
                  1. Gastric motility disorders:</p>
              <p class="paratxt3 txtcenter"> 
                  Amorphophallus paeoniifolius extracts have been found to improve gastric emptying and intestinal transit. This indicates that it can be useful in the treatment of gastric motility disorders such as constipation.</p>
              <p class="paratxt2 txtcenter">

                  2. Piles:</p>
              <p class="paratxt3 txtcenter">
                  Amorphophallus paeoniifolius has been found to be effective in curing piles. This is chiefly due to its anti-inflammatory and antioxidative properties.</p>
              <p class="paratxt2 txtcenter">3. Ulcerative colitis: </p>
              <p class="paratxt3 txtcenter"> 
                  Amorphophallus paeoniifolius have been found to treat ulcerative colitis by reducing inflammation and oxidative damage to the lining of the colon. 
                  According to Ayurveda, Amorphophallus paeoniifolius can be useful in conditions in which there is vitiation of the Vata and Kapha dosha such as elephantiasis, tumors, inflammations, constipation, dyspepsia, flatulence, asthma, cough, bronchitis, amenorrhea, dysmenorrhea, anemia and general weakness. 
                  Traditionally, tuberous roots of Amorphophallus paeoniifolius are known to be useful for blood purification and is used for the treatment of haemorrhoids, spleen enlargement, asthma and rhenumatism.</p>
              <p class="paratxt2 txtcenter">Side effects:</p>
              <p class="paratxt3 txtcenter">The Amorphophallus paeoniifolius tubers contain calcium oxalate which can cause irritation of mouth and throat. This can be prevented by cooking these tubers in tamarind water or sour buttermilk. Other than this, no side effect has been reported with the use of Amorphophallus paeoniifolius.
                </p>
              <p class="paratxt2 txtcenter">Safety:</p>
              <p class="paratxt3 txtcenter">
                  Taking the plant extracts at a therapeutic dose of 250 mg/kg body weight is known to be safe. However, the dose of the Amorphophallus paeoniifolius varies according to the person, and the illness. Therefore, as any other drug, these tuber extracts should also be taken in doses as suggested by the physician.</p>

              <div class="clear40"></div>
              <p class="paratxt3 txtcenter"></p>
                          <hr/>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 topreads">
            <p class="txt1 txtcenter">Top Reads </p>
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 txtcenter">
                <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
            </div>
            <div class="clear20"></div>
        </div>
        <div class="row m-0">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
            <img src="././assets/images/b-food.png">
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <label class="diseasestxt">Digestive Health</label>
            </div>
            <label class="diseasestxt2">14 best & worst foods for your ...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/safron.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">SKIN</label>
              </div>
              <label class="diseasestxt2">Saffron for good health..</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
        </div>
        <div class="clear20"></div>
        <div class="row m-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/b-food.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">Digestive Health</label>
              </div>
              <label class="diseasestxt2">14 best & worst foods for your ...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
                <img src="././assets/images/safron.png">
                <div class="clear10"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <label class="diseasestxt">SKIN</label>
                </div>
                <label class="diseasestxt2">Saffron for good health..</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                    <button class="btn read_morenew">READ MORE</button>
                </div>
              </div>
          </div>
          <div class="clear40"></div>
          <hr/>
      </div>
  </div>
  <div class="clear40"></div>
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <label class="txt1">Related Articles</label>
          <div class="clear10"></div>
          <img class="img-fluid iwidth" src="././assets/images/big_border.png">
          <div class="clear20"></div>
      </div>
      <div class="clear40"></div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
          <img src="././assets/images/awellness.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <label class="diseasestxt">wellness</label>
          </div>
          <label class="diseasestxt2">Low calorie diet
              to lose weight...</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
              <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
            <img src="././assets/images/asuryanamaskar.png">
            <div class="clear10"></div>
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 text-center">
                <label class="diseasestxt">healthy food</label>
            </div>
            <label class="diseasestxt2">Food & Activity
                Journal for...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
              <img src="././assets/images/plane.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">kids & teens</label>
              </div>
              <label class="diseasestxt2">Young overweight 
                  & Obesity in...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
  </div>
   
</div>
