
<div class="MainFooterDiv">
<div class="logo text-center">
  <img routerLink="" src="././assets/images/ZanduLogoFOOTER.png">  
  <div class="clear10"></div>
  <p>Provide us your Feedback</p>
</div> 
<div class="clear"></div> 
<div class="row">
<div class="col-8">
  <p>Contact us </p> 
  <h6>Emami Group, Emami 
      Tower, 687 Anandapur,
      EM Bypass
      Kolkata 700 107</h6> 
      <h6>
        <img src="././assets/images/FooterCall.png">&nbsp;&nbsp; 1800 572 8000</h6> 
      <h6><img src="././assets/images/FooterMail.png">&nbsp;&nbsp; customercare
        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; care@zandu.com  </h6>
</div>
<div class="col-4">
  <p routerLink="/disclaimer">Disclaimer</p> 
  <p routerLink="/ReturnPolicy">Return Policy</p>  
  <p routerLink="/PrivacyPolicy">Privacy Policy</p> 
  <p>FAQs</p> 
  <p routerLink="/ShippingPolicy">Shipping Policy</p>
</div>
</div>  
<div class="Border"></div>
<div class="clear10"></div> 
<h4 class="CopyRight text-center">copyrights©2011-www.zanduayurveda.com</h4>
</div>