<app-navigation></app-navigation>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 home-top">
        <app-floating></app-floating>
</div>
<div class="clear"></div>
<div class="container">
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <p class="blurtxt txtcenter">Asthma</p>
          <div class="clear20"></div>
          <p class="txt1 txtcenter">Surprising Triggers Of Asthma </p>
              <div class="clear10"></div>
              <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
              <div class="clear20"></div>
              <p class="topptxt txtcenter">Ask an asthmatic, the value of being able to breath. Asthma is a debilitating condition in which a person has shortness of breath, chest tightness, coughing and wheezing. </p>
              <div class="clear40"></div>
              <div class="row m-0">
                <div class="col-6 col-am-6 col-md-6 col-lg-6 borderright">
                  <p class="byUStxt">By U.S. News Staff</p>
                </div>
                <div class="col-6 col-am-6 col-md-6 col-lg-6">
                     <label class="byUStxt">Jan 03, 2018 at 7:45 pm</label>
                  </div>
              </div>
              <div class="clear40"></div>
              <p class="paratxt3 txtcenter">With increasing urbanization and faulty lifestyle practices, the incidence of asthma is also increasing in epidemic proportions. According to World Health Organization, there are nearly 235 million people with asthma worldwide. 
                So, what happens in Asthma? A person with asthma has inflammation of the airways due to which they become swollen and produce too much mucus. What is the end result? Narrowing of the airways. 
                An episode of asthma is triggered when you are exposed to some irritants. When you are exposed to certain irritants, your airways swell further and this causes more narrowing. This results in asthma symptoms.  Thanks to the greater accessibility of knowledge resources that we have, if you ask someone today about the common allergens that cause asthma, the most common answers that you would expect is- pollen, dust and smoking. But, there are other triggers of asthma that might actually surprise you:</p>
              <div class="clear40"></div>
              <p class="paratxt1 txtcenter">1. Cockroaches and Mice:</p>
              <p class="paratxt3 txtcenter"> 
                
These little creatures produce allergens which may cause an asthma attack. Mouse urine has been found to be one of the biggest source of asthma allergens.  So, keep these little ones in check and set traps to get rid of them. These pests are usually found in the kitchen shelves and cabinets. So, always clean the kitchen utensils before use.</p>
              <p class="paratxt1 txtcenter"> 

                2. Strong fragrances: </p>
              <p class="paratxt3 txtcenter"> Strong perfumes, scented candles, and flowers with a strong fragrance can also trigger asthma. According to a 2016 Australian study, around 1100 people were exposed to highly scented environments for once every week. Nearly 33% of the people reported of having asthma symptoms, migraine, nasal congestions and skin problems. So, avoid places with such strong fragrances.</p>
           
           
              <p class="paratxt1 txtcenter">3. Strong feelings:</p>
              <p class="paratxt3 txtcenter"> 
                When you get strong feelings such as anger, fear, and excitement, you tend to breathe fast (hyperventilate), this may also trigger an asthma episode. So when you feel overwhelmed with your emotions, try to calm down, take slow, deep breaths.</p>

                

              <p class="paratxt1 txtcenter"> 4. Chlorine:</p>
              <p class="paratxt3 txtcenter">
                Though uncommon, the chlorine, which is commonly used as a disinfectant in pools and hot tubs, can also trigger asthma symptoms in some people. </p>
            
              <p class="paratxt1 txtcenter"> 5. Weather changes:</p>
              <p class="paratxt3 txtcenter">
                Changes in temperature and humidity may also cause inflammation of the airways and can trigger asthma episode. Cold air during winter causes constriction of the airways and exacerbates symptoms of asthma. Wind and rain, on the other hand, facilitate spread of common allergens such as pollen.  Thunderstorm has also been found to cause asthma symptoms in some children, but its reason is not fully understood.</p>
              
              <p class="paratxt1 txtcenter"> 

                6. Certain foods: </p>
              <p class="paratxt3 txtcenter"> 
                If you are allergic to certain foods, consumption of those foods can also trigger asthma symptoms. Some common food allergens are eggs, milk, sesame and soya. Foods that contain chemicals such as histamine and sulphites can trigger asthma. Histamine is naturally a part of some foods such as yogurt, cheese and smoked meats. Sulphites are also used as a preservative in processed and pickled foods.</p>
               
              <p class="paratxt1 txtcenter">7. Certain common medications:</p>
              <p class="paratxt3 txtcenter"> 
                 
Some commonly prescribed pain relievers such as aspirin and non-steroidal anti-inflammatory drugs (eg: Ibuprofen, naproxen) and blood pressure lowering drugs such as beta blockers (atenolol, metoprolol) can cause asthma symptoms in some people.</p>
               <p class="paratxt1 txtcenter"> 8. Campfires, fireworks, and wood burning stoves:</p> 
              <p class="paratxt3 txtcenter">
                
If you use these, your asthma symptoms may aggravate. This is because the burnt particles directly lodge into your airways and irritate them.
                </p>
              <p class="paratxt3 txtcenter">

                Asthma triggers may vary from person to person. So, be alert and consult your doctor to find what triggers your asthma attack. While it can be difficult to not to be exposed to the irritants all the time, we can take measures to limit exposure as much as possible. Maintaining cleanliness in your surroundings by vacuuming the place frequently, ensuring adequate pest control, and preventing exposure to extreme weathers and smoke may help to prevent asthma attacks. Keeping your medications/ inhalers always in hand especially when you go out can help manage the acute phase, during asthma attacks. 
                </p>
              
                          <div class="clear40"></div>
                          <hr/>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 topreads">
            <p class="txt1 txtcenter">Top Reads </p>
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 txtcenter">
                <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
            </div>
            <div class="clear20"></div>
        </div>
        <div class="row m-0">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
            <img src="././assets/images/b-food.png">
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <label class="diseasestxt">Digestive Health</label>
            </div>
            <label class="diseasestxt2">14 best & worst foods for your ...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/safron.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">SKIN</label>
              </div>
              <label class="diseasestxt2">Saffron for good health..</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
        </div>
        <div class="clear20"></div>
        <div class="row m-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/b-food.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">Digestive Health</label>
              </div>
              <label class="diseasestxt2">14 best & worst foods for your ...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
                <img src="././assets/images/safron.png">
                <div class="clear10"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <label class="diseasestxt">SKIN</label>
                </div>
                <label class="diseasestxt2">Saffron for good health..</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                    <button class="btn read_morenew">READ MORE</button>
                </div>
              </div>
          </div>
          <div class="clear40"></div>
          <hr/>
      </div>
  </div>
  <div class="clear40"></div>
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <label class="txt1">Related Articles</label>
          <div class="clear10"></div>
          <img class="img-fluid iwidth" src="././assets/images/big_border.png">
          <div class="clear20"></div>
      </div>
      <div class="clear40"></div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
          <img src="././assets/images/awellness.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <label class="diseasestxt">wellness</label>
          </div>
          <label class="diseasestxt2">Low calorie diet
              to lose weight...</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
              <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
            <img src="././assets/images/asuryanamaskar.png">
            <div class="clear10"></div>
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 text-center">
                <label class="diseasestxt">healthy food</label>
            </div>
            <label class="diseasestxt2">Food & Activity
                Journal for...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
              <img src="././assets/images/plane.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">kids & teens</label>
              </div>
              <label class="diseasestxt2">Young overweight 
                  & Obesity in...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
  </div>
  <div class="clear70"></div>
</div>
