<app-navigation></app-navigation>
<section class="home-top pt-5"> 
    <app-floating></app-floating>
  <div class="container "> 
      <h1 class="main_title">Liver Diseases</h1>
    <h1 class="main_title2">“one of the important visceral<br>
        organs of the body”</h1>

    <div class="clearfix"></div>
<div class="clear20"></div>

<div class="clear20"></div>
  <div class="DibetectSection">
      <div class="DibeticLeft mrgnb15" (click)="scrollTo('Overview')">
        <img src="././assets/images/noun-health.png">
        <p class="m-0">Overview</p>
      </div>
      <div class="DibeticLeft mrgnb15" (click)="scrollTo('SymptomsCauses')">
        <img src="././assets/images/noun-medical.png">
        <p class="m-0">Symptoms &amp; Causes  </p>
      </div>
      <div class="DibeticLeft mrgnb15" (click)="scrollTo('PreventionDiagnosis')" >
        <img src="././assets/images/noun-bacteria.png">
        <p class="m-0"> Prevention &amp; Diagnosis </p>
      </div>
      <div class="DibeticLeft mrgnb15"  (click)="scrollTo('AyurvedaApproach')">
        <img src="././assets/images/noun-herbal-medicine.png">
        <p class="m-0"> Ayurveda Approach </p>
      </div>
      <div class="DibeticLeft mrgnb15" (click)="scrollTo('Complications')" >
        <img src="././assets/images/noun-healt.png">
        <p class="m-0"> Complications </p>
      </div>
      <div class="DibeticLeft mrgnb15" (click)="scrollTo('RelatedProducts')">
          <img src="././assets/images/noun-medicine10.png">
          <p class="m-0">    Related Products </p>
        </div>
    
  
    </div>
    <div class="clear20"></div>
<div class="clear"></div>
</div>
</section>
<div class="container">
  <!-- <div class="zanduservicemain">
    <div class="card-deck px-5">
      <div class="card zanduservice">
        <div class="card-body">
          <p class="card-text">Sign up to get <br>
            Zandu Services FREE!</p>
        </div>
      </div>
      <div class="card zanduservice text-center">
        <div class="card-body">
          <button class="btn FbBtn" type="button"><img alt="facebook" class="mr-2" src="././assets/images/facebook.png">
            Login With Facebook</button>
        </div>
      </div>
      <div class="card zanduservice text-left">
        <div class="card-body ">
          <button class="btn  GoogleBtn" type="button"><img _ngcontent-c1="" alt="google" class="mr-2" src="././assets/images/google.png">
            Sign up with Google</button>
        </div>
      </div>
      <div class="card zanduservice mr-4">
        <div class="card-body ">
          <span>Call us @</span>
          <h5>9999 8888 22</h5>
        </div>
      </div>
    </div>
  </div> -->
</div>
<div class="clear20"></div>

<section id="Overview" class="Yoga_AurvedaSection"> 
    <div class="clear40"></div>
    <div class="clear40"></div>
  <h1>What is a Liver Disease?</h1>
  <div class="clear"></div>
  <div class="text-center">
    <img src="././assets/images/big_border.png">
  </div> 
  <div class="row m-0">
  <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6 txtalligncenter DisplayNone">
      <img class="w-100" src="././assets/images/liver-ten.png">
  </div>
  <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6 txtalligncenter">
    <h5>Loss of appetite, nausea, vomiting, pain in the upper abdomen and generalised weakness are some of the common symptoms of liver diseases.  </h5>
   <div class="row ResMainDiv">
      <div class="col-6 col-sm-12 col-md-4 col-lg-3 txtalligncenter text-center ResScroll">
          <img class="img-fluid" src="././assets/images/secrete-hike.png">
          <p class="wht-dp">Secretes bile
            </p>
         </div>
         <div class="col-6 col-sm-12 col-md-4 col-lg-3 txtalligncenter text-center ResScroll">
            <img class="img-fluid" src="././assets/images/diagnosis.png">
            <p class="wht-dp">Aids in the process<br>
              of digestion            
                </p>
          </div>
          <div class="col-6 col-sm-12 col-md-4 col-lg-3 txtalligncenter text-center ResScroll">
            <img class="img-fluid" src="././assets/images/asorbs.png">
            <p class="wht-dp">Asorbs fats and<br>
              fat - soluble vitamins         
                </p>
          </div>
   </div>
    <button class="btn btn-primary mb-2 mt-4 SignBtn" type="button" routerLink="../LiverRead">read more</button>
  </div> 
</div>
  <div class="clear"></div>
  <section id="PreventionDiagnosis" class="Yoga_AurvedaSectioncld Yoga_AurvedaSymptoms">
      <div class="container">
          <h1>Common Liver Diseases</h1>
          <div class="clear"></div>
          <div class="text-center">
            <img src="././assets/images/big_border.png">
          </div> 
               
          <div class="clear"></div>
          <div class="clear20"></div>
          <div class="row m-0 ResMainDiv">
            <div class="col-8 col-sm-6 col-md-3 col-lg-3 mrgnb25 text-center ResScroll">
                <img src="././assets/images/liver-cirrosis.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Liver Cirrhosis</span>
            </div> 
            <div class="col-8 col-sm-6 col-md-3 col-lg-3 mrgnb25 text-center ResScroll">
                <img src="././assets/images/jaundice.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Jaundice</span>
            </div>
            <div class="col-8 col-sm-6 col-md-3 col-lg-3 mrgnb25 text-center ResScroll">
                <img src="././assets/images/hepatitis.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Hepatitis
                    </span>
            </div>
            <div class="col-8 col-sm-6 col-md-3 col-lg-3 mrgnb25 text-center ResScroll">
                <img src="././assets/images/ascities.png">  
                <div class="clear"></div>
                <div class="clear10"></div>
                <span class="pfever">Ascites
                    </span>
            </div>
          </div> 
         <div class="clear10"></div>
        </div>
        </section> 
</section> 
<section id="SymptomsCauses" class="Yoga_AurvedaSection12 Yoga_AurvedaSymptoms symptoms-uti">
  <div class="container">
    <h1 class="text-center">Symptoms of Liver Disease</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
    <p class="text-center ptractinfection">The Poorvarupa or premonitory symptoms of liver disease are those that occur before the complete manifestation of the disease.   </p>
        <div class="row m-0">
            <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6 DisplayNone">
                <img class="w-100" src="././assets/images/liver-symptom.png">
            </div>
            <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6 ">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12  comp-contentbx">
              <p class="sop">Symptoms of  Premonitory Liver Diseases:</p>
              <p class="ptractinfection">In the ancient text CikitsakramaKalpavalli, the following premonitory<br>
                symptoms of jaundice or Kamala (a type of liver disease) are mentioned:</p>
             <div class="row">
               <div class="col-1 col-sm-1 col-md-1 col-lg-1">
                  <span><img src="././assets/images/nxt-arrow.png"> </span>
               </div>
               <div class="col-10 col-sm-10 col-md-10 col-lg-11">
                  <div class="c-infection"> thirst</div>
               </div>
             </div>           
             <div class="row">
                <div class="col-1 col-sm-1 col-md-1 col-lg-1">
                    <span><img src="././assets/images/nxt-arrow.png"> </span>
                </div>
                <div class="col-10 col-sm-10 col-md-10 col-lg-11">
                    <div class="c-infection">Mild fever</div>
                </div>
              </div>
              <div class="row">
                  <div class="col-1 col-sm-1 col-md-1 col-lg-1">
                      <span><img src="././assets/images/nxt-arrow.png"> </span>
                  </div>
                  <div class="col-10 col-sm-10 col-md-10 col-lg-11">
                      <p class="c-infection">Tastelessness
                        </p>
                  </div>
              </div>
              <div class="row">
                <div class="col-1 col-sm-1 col-md-1 col-lg-1">
                    <span><img src="././assets/images/nxt-arrow.png"> </span>
                </div>
                <div class="col-10 col-sm-10 col-md-10 col-lg-11">
                    <p class="c-infection">
                      Indigestion
                      </p>
                </div>
              </div>
              <div class="row">
                <div class="col-1 col-sm-1 col-md-1 col-lg-1">
                    <span><img src="././assets/images/nxt-arrow.png"> </span>
                </div>
                <div class="col-10 col-sm-10 col-md-10 col-lg-11">
                    <p class="c-infection">
                      Decreased digestive capacity or weakened digestive fire
                    </p>
                </div>
              </div> 
              </div>
            </div> 
          </div>
        <!-- <div class="row m-0">
            <div class="col-12 col-lg-3 text-center">
                <img src="././assets/images/fever.png">  
                <div class="clear"></div>
                <span class="pfever">Fever</span>
            </div> 
            <div class="col-12 col-lg-3 text-center">
                <img src="././assets/images/urenety-pain.png">  
                <div class="clear"></div>
                <span class="pfever">Dysuria or pain
                   <br/>
                   while urinating
                    </span>
            </div>
            <div class="col-12 col-lg-3 text-center">
                <img src="././assets/images/urination.png">  
                <div class="clear"></div>
                <span class="pfever">Increased 
                    frequency  <br/>
                    of urination
                    </span>
            </div>
            <div class="col-12 col-lg-3 text-center">
                <img src="././assets/images/lower-abdomen.png">  
                <div class="clear"></div>
                <span class="pfever">Pain in Lower 
                   <br/>   Abdomen
                    </span>
            </div>
          </div> 
    -->
   
    <div class="clear"></div>
  </div>
  
  </section> 
  <div class="clear40"></div>
  <div class="clear40"></div>
  <section id="PreventionDiagnosis" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms">
  <div class="container">
      <h1>Do you know what actually<br> 
          causes Liver Diseases</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
      <p class="text-center ptractinfection">
          According to Ayurvedic medicine, the following factors are considered responsible for the occurrence of liver diseases
      </p>
     
      <div class="clear"></div>
      <div class="clear20"></div>
      <div class="row m-0 ResMainDiv LiverDeases">
        <div class="col-8 col-sm-6 col-md-4 col-lg-4 mrgnb25 text-center ResScroll">
            <img src="././assets/images/spicy.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Eating spicy or heat <br>
                causing food items</span>
        </div> 
        <div class="col-8 col-sm-6 col-md-4 col-lg-4 mrgnb25 text-center ResScroll">
            <img src="././assets/images/heavyfood.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Eating heavy food</span>
        </div>
        <div class="col-8 col-sm-6 col-md-4 col-lg-4 mrgnb25 text-center ResScroll">
            <img src="././assets/images/e-sleeping.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Consuming excessive <br>
                non-vegetarian<br>
                food frequently
                </span>
        </div>
        <div class="col-8 col-sm-6 col-md-4 col-lg-4 mrgnb25 text-center WebHide ResScroll">
            <img src="././assets/images/sleep-day.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Sleeping during 
                daytime
                </span>
        </div> 
        <div class="col-8 col-sm-6 col-md-4 col-lg-4 mrgnb25 text-center WebHide ResScroll">
            <img src="././assets/images/awake-let.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Being awake 
                late at night</span>
        </div>
        <div class="col-8 col-sm-6 col-md-4 col-lg-4 mrgnb25 text-center WebHide ResScroll">
            <img src="././assets/images/excess-alcohol.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Excess alcohol<br> 
                intake
              
                </span>
        </div> 
        <div class="col-8 col-sm-6 col-md-3 col-lg-3 mrgnb25 text-center WebHide ResScroll">
            <img src="././assets/images/infection-hepyatetis.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Infections -
                Hepatitis
                </span>
        </div> 
        <div class="col-8 col-sm-6 col-md-3 col-lg-3 mrgnb25 text-center WebHide ResScroll">
            <img src="././assets/images/injuri-to-liver.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Injury to the
                Liver</span>
        </div>
        <div class="col-8 col-sm-6 col-md-3 col-lg-3 mrgnb25 text-center WebHide ResScroll">
            <img src="././assets/images/frequent.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Frequent exposure
                to chemical
                compounds
                </span>
        </div>
        <div class="col-8 col-sm-6 col-md-3 col-lg-3 mrgnb25 text-center WebHide ResScroll">
            <img src="././assets/images/prolonged.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Prolonged use 
                of certain drugs
                </span>
        </div>
      </div> 
     <div class="clear20"></div>
     <div class="row m-0">
        <div class="col-5 col-sm-6 col-md-4 col-lg-4 mrgnb25 text-center DisplayNone">
            <img src="././assets/images/sleep-day.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Sleeping during 
                daytime
                </span>
        </div> 
        <div class="col-5 col-sm-6 col-md-4 col-lg-4 mrgnb25 text-center DisplayNone">
            <img src="././assets/images/awake-let.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Being awake 
                late at night</span>
        </div>
        <div class="col-5 col-sm-6 col-md-4 col-lg-4 mrgnb25 text-center DisplayNone">
            <img src="././assets/images/excess-alcohol.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Excess alcohol<br> 
                intake
              
                </span>
        </div>
        
      </div> 
      <div class="clear20"></div>
      <div class="row m-0">
          <div class="col-12 col-sm-6 col-md-3 col-lg-3 mrgnb25 text-center DisplayNone">
              <img src="././assets/images/infection-hepyatetis.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever">Infections -
                  Hepatitis
                  </span>
          </div> 
          <div class="col-12 col-sm-6 col-md-3 col-lg-3 mrgnb25 text-center DisplayNone">
              <img src="././assets/images/injuri-to-liver.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever">Injury to the
                  Liver</span>
          </div>
          <div class="col-12 col-sm-6 col-md-3 col-lg-3 mrgnb25 text-center DisplayNone">
              <img src="././assets/images/frequent.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever">Frequent exposure
                  to chemical
                  compounds
                  </span>
          </div>
          <div class="col-12 col-sm-6 col-md-3 col-lg-3 mrgnb25 text-center DisplayNone">
              <img src="././assets/images/prolonged.png">  
              <div class="clear"></div>
              <div class="clear10"></div>
              <span class="pfever">Prolonged use 
                  of certain drugs
                  </span>
          </div>
          
        </div> 
      <div class="clear"></div>
      <div class="topping_spac">
        <div class="row">
          <div class="all_benefits col-12 col-sm-12 col-md-6 col-lg-6 text-center mrgnb25 pt-3">
            <p>Want to get all the Benefits of <br>
              Ayurveda? Get a Free consultation!</p>
            <span>Book Your Appointment now in 3 Easy Steps</span>
          </div>
    
          <div class="all_benefits col-12 col-sm-12 col-md-6 col-lg-6 all_benefits2 text-center">
            <button class="btn btn-primary mb-2 SignBtn" type="button" routerLink="../patientloginpage">book appointment</button>
            <p class="ORTExt">Or </p>
            <p>call 1800 572 8000</p>
          </div>
      </div>
     
      </div>
    </div>
    </section> 
    <div class="clear40"></div>
    <div class="clear40"></div>
    <section class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms ">
        <h1 class="text-center">Liver Diseases & the Doshas   </h1>
        <div class="clear"></div>
        <div class="text-center">
          <img src="././assets/images/big_border.png">
        </div> 
        <p class="text-center ptractinfection">According to Ayurveda, aggravation of any of the tridoshas (vata, pitta, kapha) acts on the digestive fire or Agni and ultimately causes Diarrhoea.    </p>
      <div class="clear20"></div>
      <div class="container">
      <div class="text-center">
        
  
          <div class="article_div col-12 col-sm-12 col-md-4 col-lg-4 mx-auto text-center">
            <img class="mx-auto d-block img-fluid" src="././assets/images/Pita.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>PITA</span>
              <div class="clear10"></div>
              <p>Whole body massage with cooling oils like<br> olive oil, sunflower oil and coconut oil<br>
                  Cold affusion, cold bath with pitta pacifying<br> herbs like manjistha, amalaki, gokshura.<br> Enema is given as medicate niruha<br> basti and medicate anuvasan basti.
                  </p>
            </div>
            <div class="clear10"></div>
            <button class="btn read_more" (click)="setNav('kapha')" routerLink="../LiverRead">READ MORE</button>
          </div>
      </div>
      <div class="clear40"></div>
      <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <label class="minitues">Take our 3 Minute Dosha Test</label>
          <div class="clear30"></div>
          <div class="col-12 col-lg-12 text-center">
              <button class="btn  read_more1 ">calculate now</button>
          </div>
        </div> -->
    </div>
    <div class="clear"></div>
    <div class="container">
        <div class="topping_spac">
        
       <span class="call-queries1">Call 1800 572 8000</span> <span class="call-queries">  to get in touch with our 
            Health Experts & resolve your Health Queries</span>  
        
       
          </div>
        </div>
      </section> 

<div class="clear40"></div>
<div class="clear40"></div>
<section class="Yoga_AurvedaSection Yoga_AurvedaSymptoms">
    <h1>Preventions for Liver Diseases</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
    <p class="text-center ptractinfection">Consumption of the following foods will help in treating liver disease.

      </p>
     
    <div class="clear"></div>
    <div class="clear40"></div>
   
      <div class="row ResMainDiv hidden-md">
        <div class="div1 text-center mrgnb25 ResScroll">
          <img src="././assets/images/bitter-gourd.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Bitter Gourd</span>
      </div> 
      <div class="div2 text-center mrgnb25 ResScroll">
          <img src="././assets/images/drumstics.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Drumsticks</span>
      </div>
      <div class="div3 text-center mrgnb25 ResScroll">
          <img src="././assets/images/ginger.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Ginger 
              </span>
      </div>
      <div class="div4 text-center mrgnb25 ResScroll">
          <img src="././assets/images/bananas.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Bananas
             </span>
      </div>
      <div class="div5 text-center mrgnb25 ResScroll">
          <img src="././assets/images/grapes.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Grapes
             </span>
      </div>
      <div class="div1 text-center mrgnb25 ResScroll">
        <img src="././assets/images/amla.png">  
        <div class="clear"></div>
        <div class="clear10"></div>
        <span class="pfever">Amla</span>
    </div> 
    <div class="div2 text-center mrgnb25 ResScroll">
        <img src="././assets/images/raisins.png">  
        <div class="clear"></div>
        <div class="clear10"></div>
        <span class="pfever">Raisins</span>
    </div>
    <div class="div3 text-center mrgnb25 ResScroll">
        <img src="././assets/images/drydates.png">  
        <div class="clear"></div>
        <div class="clear10"></div>
        <span class="pfever">Dry Dates
            </span>
    </div>
    <div class="div4 text-center mrgnb25 ResScroll">
        <img src="././assets/images/almondld.png">  
        <div class="clear"></div>
        <div class="clear10"></div>
        <span class="pfever">Almond
           </span>
    </div>
    <div class="div5 text-center mrgnb25 ResScroll">
        <img src="././assets/images/barley.png">  
        <div class="clear"></div>
        <div class="clear10"></div>
        <span class="pfever">Barley
           </span>
    </div>
    <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 ResScroll">
      <img src="././assets/images/greengram.png">  
      <div class="clear"></div>
      <div class="clear10"></div>
      <span class="pfever">Green Gram</span>
  </div> 
  <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 ResScroll">
      <img src="././assets/images/redrice.png">  
      <div class="clear"></div>
      <div class="clear10"></div>
      <span class="pfever">Red Rice</span>
  </div>
  <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 ResScroll">
      <img src="././assets/images/cardo.png">  
      <div class="clear"></div>
      <div class="clear10"></div>
      <span class="pfever">Cardamom
          </span>
  </div>
  <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 ResScroll">
      <img src="././assets/images/gralic.png">  
      <div class="clear"></div>
      <div class="clear10"></div>
      <span class="pfever">Garlic
         </span>
  </div>

      </div>

    <div class="row m-0 ResMainDiv hidden-xs">
      <div class="div1 text-center mrgnb25 ResScroll">
          <img src="././assets/images/bitter-gourd.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Bitter Gourd</span>
      </div> 
      <div class="div2 text-center mrgnb25 ResScroll">
          <img src="././assets/images/drumstics.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Drumsticks</span>
      </div>
      <div class="div3 text-center mrgnb25 ResScroll">
          <img src="././assets/images/ginger.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Ginger 
              </span>
      </div>
      <div class="div4 text-center mrgnb25 ResScroll">
          <img src="././assets/images/bananas.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Bananas
             </span>
      </div>
      <div class="div5 text-center mrgnb25 ResScroll">
          <img src="././assets/images/grapes.png">  
          <div class="clear"></div>
          <div class="clear10"></div>
          <span class="pfever">Grapes
             </span>
      </div>
    </div> 
    <div class="clear40 hidden-xs"></div>
    <div class="row m-0 ResMainDiv hidden-xs">
        <div class="div1 text-center mrgnb25 ResScroll">
            <img src="././assets/images/amla.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Amla</span>
        </div> 
        <div class="div2 text-center mrgnb25 ResScroll">
            <img src="././assets/images/raisins.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Raisins</span>
        </div>
        <div class="div3 text-center mrgnb25 ResScroll">
            <img src="././assets/images/drydates.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Dry Dates
                </span>
        </div>
        <div class="div4 text-center mrgnb25 ResScroll">
            <img src="././assets/images/almondld.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Almond
               </span>
        </div>
        <div class="div5 text-center mrgnb25 ResScroll">
            <img src="././assets/images/barley.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Barley
               </span>
        </div>
      </div> 
    <div class="clear40 hidden-xs"></div>
    <div class="row m-0 ResMainDiv hidden-xs">
        <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 ResScroll">
            <img src="././assets/images/greengram.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Green Gram</span>
        </div> 
        <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 ResScroll">
            <img src="././assets/images/redrice.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Red Rice</span>
        </div>
        <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 ResScroll">
            <img src="././assets/images/cardo.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Cardamom
                </span>
        </div>
        <div class="col-8 col-sm-6 col-md-3 col-lg-3 text-center mrgnb25 ResScroll">
            <img src="././assets/images/gralic.png">  
            <div class="clear"></div>
            <div class="clear10"></div>
            <span class="pfever">Garlic
               </span>
        </div>
      </div> 
      <div class="clear40 hidden-xs"></div>
    <div class="clear"></div>
  </section> 
<div class="clear"></div>
<section class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms">
    <h1 class="text-center">How Liver Disease is Identified<br>
      in the Human Body</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
  <div class="clear20"></div>
  <div class="container">
  <div class="text-center ResMainDiv">
      <div class="article_div-human col-8 col-sm-6 col-md-6 col-lg-3 mrgnb25-2 text-center ResScroll">
        <img class="mx-auto d-block img-fluid" src="././assets/images/liver-function.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>Liver function test</span>
          <div class="clear10"></div>
          <p>Total protein, Albumin, and liver enzyme levels</p>
        </div>
        <div class="clear50"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 rmposition text-center">
            <button class="btn read_more" routerLink="../LiverRead">READ MORE</button>
        </div>
      </div>

      <div class="article_div-human col-8 col-sm-6 col-md-6 col-lg-3 mrgnb25-2 text-center ResScroll">
        <img class="mx-auto d-block img-fluid" src="././assets/images/blood-test.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>Blood tests</span>
          <div class="clear10"></div>
          <p>Bilirubin levels</p>
        </div>
        <div class="clear10"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 rmposition text-center">
            <button class="btn read_more" routerLink="../LiverRead">READ MORE</button>
        </div>
      </div>

      <div class="article_div-human col-8 col-sm-6 col-md-6 col-lg-3 mrgnb25-2 text-center ResScroll">
        <img class="mx-auto d-block img-fluid" src="././assets/images/cloting-time.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span> Clotting time</span>
          <div class="clear10"></div>
          
        </div>
        <div class="clear30"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 rmposition text-center">
            <button class="btn read_more" routerLink="../LiverRead">READ MORE</button>
        </div>
      </div>

      <div class="article_div-human col-8 col-sm-6 col-md-6 col-lg-3 mrgnb25-2 text-center ResScroll">
        <img class="mx-auto d-block img-fluid" src="././assets/images/biopsy.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span> Liver biopsy</span>
          <div class="clear10"></div>
         
        </div>
        <div class="clear30"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 rmposition text-center">
            <button class="btn read_more" routerLink="../LiverRead">READ MORE</button>
        </div>
      </div>

     
  </div>
</div>
<div class="clear"></div>
  </section>

<div class="clear40"></div>
<div class="clear40"></div>
<div class="clear40"></div>
<section id="AyurvedaApproach" class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms">
    <h1 class="text-center">Ayurvedic Approach to Manage Liver Diseases</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
    <p class="text-center ptractinfection">Ayurvedic treatment for liver diseases includes both natural (herbal) remedies and ayurvedic drug treatment.  </p>
  <div class="clear20"></div>
  <div class="container">
      <div class="row">
        <div class="col-3 col-lg-3">

        </div>
        <div class="col-6 col-lg-6">
          <div class="row">
              <div class="col-12 col-lg-12">
                  <div class="text-center">
                      <div class="article_div1">
                        <img class="mx-auto d-block img-fluid" src="././assets/images/ayurvedic-drug.png">
                        <div class="clear10"></div>
                        <div class="infor">      
                          <div class="clear10"></div>
                          <label class="utitop">Ayurvedic herbal
                              & drug therapy</label>
                        </div>
                        <div class="clear10"></div>
                      </div>
                  </div>
                </div>
          </div>
        </div>   
      </div>
 
  
  
  <div class="clear30"></div>
  <div class="col-12 col-lg-12 text-center lfst-box">
    <label class="lyfestyle-mgmt">Lifestyle Management</label>
  </div>
  <div class="clear40"></div>
  <div class="row ResMainDiv">
    <div class="col-6 col-sm-6 col-md-2 col-lg-2 mrgnb25 text-center ResScroll">
      <img src="././assets/images/followRegularSchedule.png">
      <div class="clear10"></div>
      <label class="lyfestyle-mgmt">Follow a regular 
          schedule for
          daily meals</label>
    </div>
      <div class="col-6 col-sm-6 col-md-2 col-lg-2 mrgnb25 text-center ResScroll">
          <img src="././assets/images/sleepEarly.png">
          <div class="clear20"></div>
          <label class="lyfestyle-mgmt">Sleep early<br>
              & wake up<br>
              early</label>
        </div>
        <div class="col-6 col-sm-6 col-md-2 col-lg-2 mrgnb25 text-center ResScroll">
            <img src="././assets/images/takeRest.png">
            <div class="clear20"></div>
            <label class="lyfestyle-mgmt">Take enough<br>
                rest</label>
          </div>
          <div class="col-6 col-sm-6 col-md-2 col-lg-2 mrgnb25 text-center ResScroll">
              <img src="././assets/images/avoidAlcohol.png">
              <div class="clear20"></div>
              <label class="lyfestyle-mgmt">Avoid alcohol</label>
            </div>
          <div class="col-6 col-sm-6 col-md-2 col-lg-2 mrgnb25 text-center ResScroll">
              <img src="././assets/images/exerciseRegularly.png">
              <div class="clear20"></div>
              <label class="lyfestyle-mgmt">Exercise<br>
                  regularly</label>
            </div>
            <div class="col-6 col-sm-6 col-md-2 col-lg-2 mrgnb25 text-center ResScroll">
                <img src="././assets/images/performYoga.png">
                <div class="clear20"></div>
                <label class="lyfestyle-mgmt">Perform yoga as
                    a part of the
                    daily routine</label>
              </div>
            
  </div>
</div>
<div class="clear"></div>

  </section> 
<div class="clear40"></div>
 <!-- <section class="dosha">
  <div class="dosham">
    <p>Many medicinal herbs and their derivatives are used to 
        treat liver diseases naturally.  Ayurvedic drugs are mainly 
        prescribed to reduce the vitiated pitta dosha and to 
        prevent the further damage of the liver.
        List of natural herbs to treat liver diseases:
          </p>
       <h5>-      Kutki, 200mg/kg </h5> 
       <h5>-      Arishtha (neem)</h5> 
       <h5>-      Raktapunarnava  </h5>  
    <p> List of important single drugs to treat liver diseases:-</p>  
       <h5>-      Pippali</h5> 
       <h5>-      Vasa</h5>  
       <h5>-      Haritaki</h5>       
       <div class="clear20"></div> 
       <div class="col-12 col-lg-12">
          <button _ngcontent-c1="" class="btn read_more rmposition" routerLink="../LiverRead">READ MORE</button>
          <div class="clear40"></div>
       </div>

  </div>
  <div class="clear"></div>
  <div class="clear40"></div>
  <div class="clear40"></div>
  <div class="clear40"></div>
  
    
</section>  -->
<section class="HomeDisplayNone">
  <div class="container">
      <div class="Yoga_AurvedaSection1 Yoga_AurvedaSymptoms deal-areabg"> 
      
          <h1 class="text-center">Home Remedies</h1>
          <div class="clear"></div>
          <div class="text-center">
            <img src="././assets/images/big_border.png">
          </div> 
         
      <div class="clear"></div>
      <div class="clear20"></div>
      <div class="deal_area">
          <div class=" mb-4">
            <div class="shadoo1 mx-0">
              <div class="card tab_card mx-0 small_div BorderradiusLeft">
                <div class=" BorderradiusLeft card-body {{tabs[0].active}}" (click)="openCity(0)">
                  <div class="border_div">
                    <span>lEMON wATER  </span>
                  </div>
                </div>
              </div>
              <div class="card tab_card mx-0">
                <div class="card-body {{tabs[1].active}}" (click)="openCity(1)">
                  <div class="border_div">
                    <span> STEWED APPLE  </span>
                  </div>
                </div>
              </div>
              <div class="card tab_card mx-0 BorderradiusRight">
                <div class=" BorderradiusRight card-body  {{tabs[2].active}} " (click)="openCity(2)">
                  <div class="border_div ">
                    <span>COCONUT WATER  </span>
                  </div>
                </div>
              </div>
      
              <div class="card tab_card mx-0 BorderradiusRight">
                  <div class=" BorderradiusRight card-body  {{tabs[3].active}} " (click)="openCity(3)">
                    <div class="border_div ">
                      <span>PEAR</span>
                    </div>
                  </div>
                </div>
                  <div class="card tab_card mx-0 BorderradiusRight">
                    <div class=" BorderradiusRight card-body  {{tabs[4].active}} " (click)="openCity(4)">
                      <div class="border_div HiddenBorder">
                        <span>BUTTERMILK</span>
                      </div>
                    </div>
                  </div>
             
            </div>
          </div>
        
          <div class="{{tabs[0].tabcontent}} p-0 TabContentBox paddingTabContentDiv BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
               <div class="row">
                 <div class="col-12 col-sm-12 col-md-6 col-lg-6 txtalligncenter hr-tabdiv">
                   <p class="tab-p">Drink 2-4 cups of lemon water early in the morning and give a gap of 20 minutes before eating anything</p>
                 </div>
                 <div class="col-12 col-sm-12 col-md-6 col-lg-6 DisplayNone">
                   <img class="img-fluid" src="././assets/images/l-juce.png">
                 </div>
               </div>
              </div>
            </div>
          </div>
        
          <div class="{{tabs[1].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
               <div class="row">
                 <div class="col-12 col-sm-12 col-md-6 col-lg-6 txtalligncenter hr-tabdiv">
                   <p class="tab-p">Drink 2-4 cups of lemon water early in the morning and give a gap of 20 minutes before eating anything</p>
                 </div>
                 <div class="col-12 col-sm-12 col-md-6 col-lg-6 DisplayNone">
                   <img class="img-fluid" src="././assets/images/l-juce.png">
                 </div>
               </div>
              </div>
            </div>
          </div>
        
          <div class="{{tabs[2].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
               <div class="row">
                 <div class="col-12 col-sm-12 col-md-6 col-lg-6 txtalligncenter hr-tabdiv">
                   <p class="tab-p">Drink 2-4 cups of lemon water early in the morning and give a gap of 20 minutes before eating anything</p>
                 </div>
                 <div class="col-12 col-sm-12 col-md-6 col-lg-6 DisplayNone">
                   <img class="img-fluid" src="././assets/images/l-juce.png">
                 </div>
               </div>
              </div>
            </div>
          </div>
      
          <div class="{{tabs[3].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
            <div class="">
              <div class="tab1ContentBox">
               <div class="row">
                 <div class="col-12 col-sm-12 col-md-6 col-lg-6 txtalligncenter hr-tabdiv">
                   <p class="tab-p">Drink 2-4 cups of lemon water early in the morning and give a gap of 20 minutes before eating anything</p>
                 </div>
                 <div class="col-12 col-sm-12 col-md-6 col-lg-6 DisplayNone">
                   <img class="img-fluid" src="././assets/images/l-juce.png">
                 </div>
               </div>
              </div>
            </div>
            </div>
      
            <div class="{{tabs[4].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
              <div class="">
                <div class="tab1ContentBox">
                 <div class="row">
                   <div class="col-12 col-sm-12 col-md-6 col-lg-6 txtalligncenter hr-tabdiv">
                     <p class="tab-p">Drink 2-4 cups of lemon water early in the morning and give a gap of 20 minutes before eating anything</p>
                   </div>
                   <div class="col-12 col-sm-12 col-md-6 col-lg-6 DisplayNone">
                     <img class="img-fluid" src="././assets/images/l-juce.png">
                   </div>
                 </div>
                </div>
              </div>
              </div>
        </div> 
      </div>
  </div>
</section>
<section id="Complications" class="Yoga_AurvedaSection">
  <div class="container">
    <div class="clear40"></div>
  <h1>Complications in Liver Diseases</h1>
  <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
  <p class="text-center ptractinfection">When inflammation of the liver persists for more than 6 months, there may be scarring of the liver tissue and/ or end-stage liver disease.<br> 
      The chronic liver disease also gives rise to these complications:
       </p>
  <div class="clear"></div>
  
  <div class="row m-0 ">
 
 
  <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-6 col-lg-6 ">
     <div class="row ResMainDiv">
       <div class="col-7 col-sm-6 col-md-6 text-center ResScroll">
         <img class="img-fluid" src="././assets/images/peritones.png">
         <div class="clear10"></div>
         <span class="pfever">Peritonitis</span>
       </div>
       <div class="col-7 col-sm-6 col-md-6 text-center ResScroll">
          <img class="img-fluid" src="././assets/images/anaemia.png">
          <div class="clear10"></div>
          <span class="pfever">Anaemia</span>
        </div> 
        <div class="col-7 col-sm-6 col-md-6 text-center WebHide ResScroll">
            <img class="img-fluid" src="././assets/images/edema.png">
            <div class="clear10"></div>
            <span class="pfever"> Cerebral<br>
              edema</span>
        </div>
        <div class="col-7 col-sm-6 col-md-6 text-center WebHide ResScroll">
            <img class="img-fluid" src="././assets/images/bleeding.png">
            <div class="clear10"></div>
            <span class="pfever">Bleeding<br>
                disorders</span>
         </div>
     </div>
     <div class="clear10"></div>
     <div class="row">
        <div class="col-12 col-sm-6 col-md-6 text-center DisplayNone">
            <img class="img-fluid" src="././assets/images/edema.png">
            <div class="clear10"></div>
            <span class="pfever"> Cerebral<br>
              edema</span>
        </div>
        <div class="col-12 col-sm-6 col-md-6 text-center DisplayNone">
            <img class="img-fluid" src="././assets/images/bleeding.png">
            <div class="clear10"></div>
            <span class="pfever">Bleeding<br>
                disorders</span>
         </div>
      </div>
       
    </div> 
    <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12  comp-contentbx1">
       <div class="row">
         <div class="col-1 col-sm-1 col-md-1 col-lg-1">
            <span><img src="././assets/images/nxt-arrow.png"> </span>
         </div>
         <div class="col-10 col-sm-10 col-md-10 col-lg-10">
            <p class="c-infection">Portal hypertension
              </p>
         </div>
       </div>
       <div class="row">
          <div class="col-1 col-sm-1 col-md-1 col-lg-1">
              <span><img src="././assets/images/nxt-arrow.png"> </span>
          </div>
          <div class="col-10 col-sm-10 col-md-10 col-lg-10">
              <p class="c-infection">Bleeding disorders
                </p>
          </div>
        </div>
        <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1">
                <span><img src="././assets/images/nxt-arrow.png"> </span>
            </div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                <p class="c-infection">Spontaneous bacterial infections </p>
            </div>
        </div>
        <div class="row">
          <div class="col-1 col-sm-1 col-md-1 col-lg-1">
              <span><img src="././assets/images/nxt-arrow.png"> </span>
          </div>
          <div class="col-10 col-sm-10 col-md-10 col-lg-10">
              <p class="c-infection">Cirrhotic cardiomyopathy</p>
          </div>
        </div>
        <div class="row">
          <div class="col-1 col-sm-1 col-md-1 col-lg-1">
              <span><img src="././assets/images/nxt-arrow.png"> </span>
          </div>
          <div class="col-10 col-sm-10 col-md-10 col-lg-10">
              <p class="c-infection">
                  Cerebral edema
                  </p>
          </div>
        </div>
        <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1">
                <span><img src="././assets/images/nxt-arrow.png"> </span>
            </div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                <p class="c-infection">
                    Anaemia
                    </p>
            </div>
          </div>
          <div class="row">
              <div class="col-1 col-sm-1 col-md-1 col-lg-1">
                  <span><img src="././assets/images/nxt-arrow.png"> </span>
              </div>
              <div class="col-10 col-sm-10 col-md-10 col-lg-10">
                  <p class="c-infection">
                      Malnutrition</p>
              </div>
            </div>
      </div>
       
         
      </div> 
</div>
  <div class="clear"></div>
</div>

</section> 
<div class="clear40"></div>
<div class="clear40"></div>
  <section id="RelatedProducts" class="Yoga_AurvedaSectionrp Yoga_AurvedaSymptoms">
      <h1 class="text-center">Related Products</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div> 
     
  <div class="clear"></div>
  <div class="clear20"></div>
  <div class="container">
    <div class="row" *ngIf="visibleCategory">
  
        <div class="col-12 col-sm-4 col-md-4 col-lg-4 "  *ngFor="let data of visibleCategory">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 Product_div tab-h text-center padlrn" *ngIf="visibleCategory.length!=0">
        <div class="clear20"></div>
        <div class="WhiteBox">
          <div (click)="getProductDetails(data.id)" >
              <img src="{{data.imageUrl}}" width="199" height="194">
              <div class="clear10"></div>
              <label class="zl-text cursor">{{data.name}}</label>
          </div>
        </div>
        <br>
      

        <div class="row">
          <div class="text-center col-12 col-sm-6 col-md-6 col-lg-6 ">
            <label class="">
              <label class="zl-text1">&#8377;</label>
              <label class="zl-text12">{{data.selling}}</label>
            </label>
          </div>
          <div class=" col-12 col-sm-6 col-md-6 col-lg-6 text-left">
            <div class="product_img">
              <div class="clear10"></div>
              <div class="order-margin-top2"> 
             
                <i *ngIf="qtyP!=0" class="fa" (click)="reduce(data)"><img src="././assets/images/SpinnerMinus.png"></i>&nbsp;
                <input [(ngModel)]="data.qty" class="input-spinner" >&nbsp;
                <i class="fa" (click)=" add(data)"><img src="././assets/images/SpinnerPluse.png"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="row">
        <div class="col-12 col-lg-12 text-center rmpositionnew">
            <div class="clear20"></div>
            <button class="btn  read_morerp AddToCartBtn" (click)="addToCart(data)" type="button">add
                to cart</button>
          
        </div> 
        </div>
        <div class="clear20"></div>       
      </div>
    </div>
</div>
<div  class="row " *ngIf="visibleCategory.length==0">
    <div class="col-12 col-lg-12 text-center">
        <div class="clear20"></div>
        <h6>No Products Found...</h6>
    </div> 
  
  </div>
<!-- </div> -->
<div class="clear20"></div>
<div class="row" *ngIf="visibleCategory.length!=0">
    <div class="col-12 col-lg-12 text-center">
        <div class="clear20"></div>

        <button class="btn read_morerp" routerLink="../mainproductpage">explore all products</button>            
    </div> 
    </div>
</div>  
</section> 

<div class="clear40"></div>
<div class="clear40"></div>
<section class="Yoga_AurvedaSection-artical Yoga_AurvedaSymptoms mt-5">
    <h1 class="text-center">Articles </h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div> 
   
  <div class="clear20"></div>
  <div class="container">
  <div class="text-center ResMainDiv">
      <div class="article_div-artical ResScroll">
        <img class="mx-auto d-block img-fluid" src="././assets/images/liver-disease1.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>liver disease</span>
          <div class="clear10"></div>
          <p>6 Foods That Can<br/> 
              Ruin Your Liver...</p>
        </div>
        <div class="clear50"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition1">
            <button class="btn read_more " routerLink="../LiverDiseaseArticles">READ MORE</button>
        </div>
      </div>

      <div class="article_div-artical ResScroll">
        <img class="mx-auto d-block img-fluid" src="././assets/images/liver-disease2.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span>kutki</span>
          <div class="clear10"></div>
          <p>Picrorhiza kurroa or <br/>
              Kutki is a popular...</p>
        </div>
        <div class="clear10"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition1">
            <button class="btn read_more " routerLink="../kutkiliverdisease">READ MORE</button>
        </div>
      </div>
<!-- 
      <div class="article_div-artical text-center">
        <img class="mx-auto d-block img-fluid" src="././assets/images/b-food.png">
        <div class="clear10"></div>
        <div class="infor">
          <div class="clear10"></div>
          <span> PRANAYAMA</span>
          <div class="clear10"></div>
          <p>14 best & worst<br> foods for your ... </p>
        </div>
        <div class="clear30"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition1">
            <button class="btn read_more " routerLink="../LiverRead">READ MORE</button>
        </div>
      </div> -->
  </div>
  <div class="clear40"></div>
</div>
<div class="clear"></div>

  </section> 



  <div class="container">
      <div class="topping_spac">
        <div class="row">
          <div class="all_benefits pt-3 col-12 col-sm-12 col-md-6 col-lg-6 txtalligncenter  mrgnb25">
            <p>Want to get all the Benefits of <br>
              Ayurveda? Get a Free consultation!</p>
            <span>Book Your Appointment now in 3 Easy Steps</span>
          </div>
    
          <div class="all_benefits all_benefits2 text-center col-12 col-sm-12 col-md-6 col-lg-6">
            <button class="btn btn-primary mb-2 SignBtn" type="button" routerLink="../patientloginpage">book appointment</button>
            <p class="ORTExt">Or </p>
            <p>call 1800 572 8000</p>
          </div>
      </div>
     
        </div>
      </div>





<div class="">
  <app-main-footer></app-main-footer>
</div>


<!-- The Modal -->
<div class="modal {{nomodel}}">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body text-center py-5">
        <span class="modeltitle">COMING SOON</span>
        <img src="././assets/images/model_border.png">
        <p class="pt-3">Your Dosha Calculator</p>
        <div class="smlltxt pb-4">We’ll Notify You Via Mail</div>
        <button type="button" class="btn closingbtn" data-dismiss="modal" (click)="closed()">OK</button>
      </div>
    </div>
  </div>
</div>