<app-navigation></app-navigation>
<app-floating></app-floating>

<section class="declaimer">
  <div class="container pt-5 text-center">
    <h1>Urinary Tract Infection</h1>
    <img src="././assets/images/big_border.png">
<div class="maindiv mt-4 text-left">
  <h3>What is UTI?  </h3>
  <p>Any infection in the urinary tract - be it the kidney, urinary bladder or the urethra, is known as Urinary Tract Infection (UTI). UTI is one of the most common bacterial infections; its estimated incidence is approximately 150,000 million per year globally. UTI is more common among women than in men. </p>
  <p>Women in the age group of 16 – 35 years are usually affected. Women after menopause are also at risk of both primary and recurring UTI. Approximately, 40% of women and 12% of men in India suffer from UTI during their lifetime.<sup>1,2</sup></p>
  <h3>UTI, through the lens of Ayurveda <sup>3,4</sup></h3>   
  <p>In Ayurveda, Mutrakricchra, Mutraukasada, Mutrajathara, Mutrotsanga, Mutrasamksaya, Mutratita, Mutragranthi and Vatabasti are similar to Urinary Tract Infection (UTI). </p>
  <p>The signs of the conditions are:</p> 
  <p>Mutrakrcchra: The person, when he has the urge of urination and performs the act of sexual intercourse, dislodges the semen that gets obstructed and is discharged before or after urine</p>
  <p>Mutraukasada: Red, yellow urine with solids, accompanied by a burning sensation</p>
<p>Mutrajathara: Suppression of natural urges blows up the abdomen, resulting in pain, indigestion and retention of urine and faeces</p>
<p>Mutrasamksaya: Urine gets dried up due to vata, along with all other symptoms</p>
<p>Mutratita: After holding the urge of urination for long time, urine passes slowly</p>
<p id="kapha">Mutragranthi: Vata and pitta affect blood and produce a hard nodular mass in the opening of the urinary bladder, which makes urination difficult and painful.</p>
<p>Vatabasti: Suppressing the urge of urination leads to the vitiation of the vatadosha in bladder, resulting in the retention of urine along with distress and itching</p>
   <h3>What causes UTI (Nidana)?<sup>15</sup>  </h3>
  <p>The various causes of urinary tract infection are as follows:</p>
  
  <ul class="dysfunctions">
    <li> <span class="hbbold">•	Excessive Exercise (AtiVyayama): </span>
        Studies suggest that strenuous or heavy physical exercise - one that causes excessive sweating - may alter the urinary pH and make the urine concentrated  which leads to various other illnesses in the kidney, bladder and ureter like cystitis, calculi etc. </li>
    <li> <span class="hbbold">•	Excessive intake of sea foods (Anupamamsa): </span>  
      Too much intake of meat of animals belonging to marshy lands is responsible for increasing the kapha dosha. Fish, in particular, acts as an obstruction to channels through which the urine flows (mutravahasrotas). The vitiated kapha also affects the immunity of the body, and the decreased immunity increases the risk of UTI.  
    </li> 
    <li> <span class="hbbold">•	Medication (Tikshnaaushadha):  </span>  
      Consumption of strong potency drugs increases pitta dosha. This leads to a change in the pH level of the urine, decreases urine volume and produces more concentrated urine. This leads to increased risk of UTI. Drugs like cyclophosphamide, ifosfamide used in chemotherapy, may cause bladder inflammation known as drug induced cystitis. </li>
    <li> <span class="hbbold">•	Alcohol consumption (Madya):  </span>  
      Alcohol has qualities that make the body hot (ushna), dry (ruksha), fast acting (ashukari) and sharp (teekshna). This causes vitiation of vata and pitta dosha. Alcohol consumption can also change the pH level of the urine and increase the susceptibility of the bladder towards infection.   </li>
    <li> <span class="hbbold">•	Salt and astringent materials (Katuamlalavana rasa): </span>  
      Excess intake of salt and astringent (present in the spicy food) materials causes irritation of the bladder wall and increases urinary calcium, reducing urinary citrate levels that lead to formation of stone and other urinary tract problems like pain, obstruction, hematuria (blood in urine), and burning micturition.</li>
    <li> <span class="hbbold">•	Suppression of natural urges (Vegadharana): </span>  
      This is one of the most important and common causes of UTI. Prolonged retention of urine in the bladder increases the risk of UTI because urine is sterile and clears the urinary tract and washes away the bacteria that attempts to enter through the urethra. Thus, by suppressing the urge and retention of urine, the bacteria is allowed to enter the bladder and cause UTI. </li>
    <li> <span class="hbbold">•	Excessive travelling (Nityadrutaprusthayana):  </span>  
      This refers to riding the back of those animals that move fast, or travelling on uneven surfaces. This aggravates apanavata and causes khavaigunya (depletion of tissues) in mutravahasrotas (urinary system). Increased vatadosha causes dryness (rukshaguna) of the body which leads to a decrease in the urine volume, more concentrated urine and a favourable environment for bacterial growth.  </li>
    <li> <span class="hbbold">•	Heavy meal and indigestion (Adhyashana and Ajirna): </span>  
      Heavy meals may cause indigestion, which in turn leads to a mix up of heavy materials with urine and reduces the liquidity, density and specific gravity of urine.  </li>
   </ul>
  
   <h3 class="dysfunctions">Pathophysiology (Samprapti)<sup>5</sup> </h3>
   <p>The causative factors, as mentioned above, cause vitiation of all three doshas (vata, pitta, kapha). Factors such as excessive physical exertion, intake of irritant drugs, excessive consumption of sea foods, indigestion and intake of heavy meals also diminish the digestive fire (agnimandya). The vitiated tridoshas produce symptoms like burning sensation during micturition (sadahamutrapravritti), yellowish urine (peetamutra), pain in groin and pelvis region, frequent or reduced urination, turbid urine due to the presence of leucocytes (snighdha, picchila and shwetamutra),  and inflammation of the bladder (mutrendriyagurutwa).  </p>
   <h3 class="dysfunctions">Know the signs of UTI <sup>5</sup>  </h3> 
   <p>The symptoms of mutrakrichchhra (UTI) are as follows:</p>
   <ul class="dysfunctions">
     <li>-	Increased frequency of urination (muhurmuhurmutrapravritti)</li>
     <li>-	Hesitancy or discomfort in urinating (krichchrata)</li>
     <li>-	Dysuria or pain while urinating (Shula)</li>
     <li>-  Turbid urine (picchilamutra) </li>
     <li>-	Presence of leukocytes in urine (Shwetamutra) </li>
     <li>-	Fever (Jwara)</li> 
     <li>-	Burning sensation while passing urine</li> 
     <li>-	Suprapubic pain ( pain in the lower abdomen)</li> 
     <li>-  Nausea and vomiting</li>
   </ul>
<h3 class="dysfunctions">Can UTI lead to further problems?<sup>6</sup>  </h3>
<p>UTI, if left untreated, may lead to the following complications:</p>

   <ul class="dysfunctions">
     <li>-  Permanent damage of the kidneys may occur if  UTI remains untreated for a prolonged period</li>
     <li>-  Recurrent UTI in women (more than two episodes of UTI within six months or four or more within 12 months)</li>
     <li>-	Narrowing of urethra in men who have recurrent episodes of UTI</li>
     <li>-  Sepsis (severe blood infection that spreads infection to all body tissues) may occur if the infection reaches the kidneys</li>
    </ul> 

     <h3 class="dysfunctions">You may be at risk<sup>6</sup> </h3>
     <p>The factors that increase the possibility or risk of developing UTI are listed below:</p>
     
     <ul class="dysfunctions">
        <li> <span class="hbbold">•	Sexual activity:  </span>
          Bacteria may enter into the body from infected partner, anal sex, and may cause trauma to the urethra and its surrounding structures. Therefore, sexually active women are at high risk of developing UTI.</li>
        <li> <span class="hbbold">•	Structural and functional abnormalities:  </span>  
          This includes congenital abnormalities, cysts, diverticula, neurological defects leading to urinary retention, enlarged prostate etc. It’s one of the major causes of UTI in men.  
        </li> 
        <li> <span class="hbbold">•	Blockage of the urinary tract:   </span>  
          Blockage can be due to stone formation in the kidney or bladder.</li>
        <li> <span class="hbbold">•	Mode of birth control:  </span>  
          Use of diaphragm, spermicidal condoms, or spermicidal contraception increases the risk of UTI. </li>
        <li> <span class="hbbold">•	Metabolic abnormalities: </span>  
          Metabolic disorders, like diabetes mellitus, cause glycosuria (increased sugar levels in the urine). This leads to an increase in the growth of bacteria.</li>
        <li> <span class="hbbold">•	Hormonal status: </span>  
          Decreased estrogen levels during menopause also increase the risk of UTI.</li>
        <li> <span class="hbbold">•	Genetics: </span>  
          Genetic exposure to certain cells (present on the vaginal wall) that allow certain bacteria to get attached; they enter the bladder, causing UTI. </li>
        <li> <span class="hbbold">•	Foreign bodies: </span>  
           Medical conditions that require a catheter or tube inside the urethra and bladder.   </li>
 
       <li> <span class="hbbold">•	Personal Hygiene:  </span>  
         Poor hygiene or excessive cleansing of the genital area with scented toilet paper or deodorants etc., increases the risk of UTI.  </li>
 
     <li> <span class="hbbold">•	Impaired immunity:  </span>  
      Immunity decreases due to immunosuppressant drugs, allowing favorable environment for growth of bacteria.   </li>
   </ul>
    

   <h3 class="dysfunctions">Diagnosis:<sup>6</sup> </h3>
   <p>The physician will do a physical examination of the patient where he/she would examine the lower abdomen for any pain(indicator of infection of bladder). The following tests may be recommended by the physician to diagnose UTI:</p>
   
   <ul class="dysfunctions">
      <li> <span class="hbbold">1. Urine Analysis:  </span>
        In this procedure, the urine sample is sent to a laboratory to check for the presence of any bacteria, white blood cell or red blood cell. The patient would be asked to wipe the genital area with an antiseptic pad and then collect midstream urine in a container.</li>
      <li> <span class="hbbold">2. Urine culture:  </span>  
        In this procedure, once the urine sample is collected, it is sent to a laboratory for culture. This helps to find out the type of bacteria which is causing UTI and also helps the doctor to prescribe the effective medications.  
      </li> 
      <li> <span class="hbbold">3. CT scan or MRI of the urinary tract:   </span>  
        CT scan (Computerised Tomography) and MRI (Magnetic Resonance Imaging) use high frequency radio waves to develop images of the urinary tract. A contrast dye may be used to highlight the intended structures for examination. These images help to examine the internal structure of the urinary tract.</li>
      <li> <span class="hbbold">4. Cystoscopy:  </span>  
        Cystoscopy is done with the help of a long thin tube called the cystoscope. The cystoscope is inserted into the urethra and passed into the bladder. This is usually recommended for patients who have recurrent UTI. This technique helps the physician to study the internal structure of the urinary tract.</li>
     </ul>
  


     <h3 class="dysfunctions">Manage UTI, the Ayurvedic way  </h3>
    <h3 class="dysfunctions">Ayurvedic Therapies:<sup>5</sup> </h3> 
    <p>Ayurvedic therapies are prescribed according to the type of dosha associated with UTI. The various Ayurvedic therapies for the treatment of UTI are listed below:</p>
   
   <h3>1.	Ayurvedic therapy for vataja mutrakrichchhra: </h3>
    <ul class="dysfunctions"> 
       <li>-  Whole body massage with medicated oils that alleviate vata. </li>
       <li>-	Heat therapy in hot tub bath with application of heat above the pelvis area</li>
       <li>-	Unctuous and non-unctuous enema given as medicated niruhabasti and medicated anuvasanbasti </li>
       <li>-	Unctuous poultice, Urethral douche and affusion</li>
       <li>-	Diet of meat prepared with sthiradi and other vata-alleviating drugs</li>
      
     </ul>
     <h3>2. Ayurvedic therapy for Pittaja mutrakrichchhra: </h3>
    <ul class="dysfunctions"> 
       <li>-  Whole body massage with cooling oils like olive oil, sunflower oil and coconut oil </li>
       <li>-	Cold affusion, cold bath with pitta pacifying herbs like manjistha, amalaki, gokshura</li>
       <li>-	Enema is given as medicated niruhabasti and medicated anuvasanbasti </li>
       <li>-	Milk and purgatives prepared with the juice of grapes, vidari, sugarcane as well as ghee</li>
       <li>-	Cold decoction of satavari.</li> 
       <li>-  Kasa, vidari, Sali, goksura, iksu and kaseruka added with honey and sugar</li>
       <li>-	Seed of ervaru, madhuka and daruharidra combined together with rice water</li>
     </ul>
     <h3>3. Ayurvedic therapy for Kaphaja mutrakrichchhra: </h3>
     <ul class="dysfunctions"> 
        <li>-  Massage with medicated oil prepared with bitter herbs </li>
        <li>-	 Hot and sharp drugs and diet, such as barley food and buttermilk</li>
        <li>-	 Non –unctuous enema is given as medicated niruhabasti </li>
        <li>-	 Trikatu, goksura, smaller cardamom and bones of cranes should be given in doses of 5gm, added with honey and urine</li>
        <li>-	 Take small cardamom along with honey, accompanied by juice of banana plant or kaidarya</li> 
        <li>-  Powdered corals, given with rice water</li>
        <li>-	 Seeds of sitivara with buttermilk</li> 
        <li>-  Vamana (emetic therapy)</li>
      </ul>
     <div class="diabetes"> 
      <h3>Manage UTI with a few lifestyle changes<sup>1,5</sup>  </h3> 
      <!-- <h3 class="dysfunctions">Diet1</h3> -->
     <p>Ayurveda suggest a diet that pacifies the pitta dosha and helps to eliminate the toxins that produce excessive heat in the body. The diet recommended for patients with UTI includes:</p>
      <ul class="dysfunctions">
       <li>•	Whole foods (cooked and raw)</li>
        <li>•	Grains like oats, millets, barley and old rice</li>
        <li>•	Milk and milk products like ghee, curd and buttermilk</li>
        <li>•	Vegetables like potatoes, beans, fuzzy gourd (kaddu) and ridge gourd</li>
        <li>•	Cooling oils</li>
        <li>•	Ghee </li>
        <li>•	Wild meat</li> 
        <li>•	Fruits like grapes, lime juice, cucumbers, coconut etc.</li> 
        <li>•	Spices like cumin, saffron, basil, neem leaves, coriander, fennel, turmeric, dill, and parsley</li>
        <li>•	Lentil soup- yusha</li> 
        <li>•	Ayurvedic sugar-sharkara</li> 
        <li>•	Ginger -ardraka</li>
        <li>•	Camphor- karpura</li>
      </ul>
     </div>
     <div class="diabetes"> 
        
        <h3 class="dysfunctions">Apathya:<sup>1</sup> </h3> 
        <h3>Prevention is better than cure </h3>
       <p>The following is a list of habits and foods that should be avoided to prevent UTI and its recurrence:</p>
        <ul class="dysfunctions">
         <li>•	Betel leaves(tambula)</li>
          <li>•	Fish(matsyaya)</li>
          <li>•	Salt(Lavana)</li>
          <li>•	Asafetida(hingu)</li>
          <li>•	Sesame seeds(til)</li>
          <li>•	Black gram (masha)</li>
          <li>•	Foods which cause a burning sensation, are dry, or too sour</li> 
          <li>•	Consuming incompatible combination of food - fish and milk, curds and milk etc. (viruddhahara)</li> 
          <li>•	Consuming food with disregard to bodily cravings, such as eating when not hungry or fasting when hungry- vishamashana</li>
          <li>•	Travelling frequently- Yana gamana</li> 
          <li>•	Suppressing natural urges- Vega dharana</li> 
          <li>•	Washing the genitals with fragrant soaps and lotions</li>
         
        </ul> 
        <p>Urinary tract infection, though a common condition, can be life threatening if it’s not treated on time. Ayurveda has found out some simple yet effective solutions to not only curb UTI but to also prevent its recurrence. </p>
       </div> 
           <div class="reference">
                      <h3>References:</h3>
                      <ul>
                        <li>1.	John AS, Mboto IC, Agbo B. A review on the prevalence and predisposing factors responsible for urinary tract infection among adults. Euro. J. Exp. Bio. 2016; 6(4):7-11. </li>
                        <li>2.	Kant S, Lohiya A, Kapil A, Gupta SK. Urinary tract infection among pregnant women at a secondary level hospital in Northern India. Indian J Public Health. 2017; 61: 118-23</li>
                        <li>3.	Asharafi A, Goswami A, Devi B, Sharma R.  Mutrakrichha: A review based on Ayurveda and modern perspective. WJPMR. 2017;3(8): 128-132</li>
                        <li>4.	P.V Sharma. Chapter IX section 8- On successful management of the three vital parts. In: Caraka samita. 4th edition.1998. Varanasi. Chaukhambha Orientalia</li>
                        <li>5.	P.V Sharma. Chapter XXVI Section 6- On Successful Management of The Three Vital Parts. In: Caraka samita. 4th edition .1998. Varanasi. Chaukhambha Orientalia </li>
                        <li>6.	Sonia Friedman, Richard S. Blumberg. Harrison's principles of internal medicine (19th edition). New York: McGraw Hill Education; 2015. Chapter 162, Urinary Tract infections, Pyelonephritis, and prostatitis;861-868.</li>
                        </ul>
                  </div>    
            </div>
    </div>
</section>
<div class="mb-5 mt-5">
  <app-main-footer></app-main-footer>
</div>