<div class="row vitalsDataMainContainer">
    <div class="col-md-6" *ngFor="let data of inMemorySelectedVital;let i = index">
      <div class="box-pink">
        <div class="row mx-auto">
          <div class="offset-md-1 col-md-7 col-8">
            <span class="vitalsHeading">{{data.vitalName}}</span>
          </div>

        </div>
        <div class="row mx-auto">

          <div class="tab tabButtonsContainer">

            <div class="clear30"></div>
            <ul>
              <li>
                <button class="btn tablinks {{data.tabShow[0].active}}" (click)="openCity(data,'DAY',i)">Day</button>
              </li>
              <li>
                <button class="btn tablinks {{data.tabShow[1].active}}" (click)="openCity(data,'WEEK',i)">Week</button>
              </li>
              <li>
                <button class="btn tablinks {{data.tabShow[2].active}}" (click)="openCity(data,'MONTH',i)">Month</button>
              </li>
              <li>
                <button class="btn tablinks {{data.tabShow[3].active}}" (click)="openCity(data,'YEAR',i)">Year</button>
              </li>
            </ul>
          </div>

          <div class="tab tabContentContainer">
            <div class="clear30"></div>
            <div id="London">
              <div class="row topActions mx-auto">
                <div class="offset-8 col-2">
                  <img class="img-fluid" (click)="showTable(i)" src="././assets/images/listIcon-1.png">
                </div>
                <div class="col-md-2 col-2">
                  <img class="img-fluid" (click)="showVitalForm(i)" src="././assets/images/plusIcon-1.png">
                </div>
              </div>
              <form class="{{data.showForm}}">
                <div class="row">
                  <div class="mx-auto col-9">
                    <div class="vitalLabel">Enter new sets of vitals</div>
                    <div class="clear20"></div>
                  </div>

                  <div class="mx-auto col-9 text-center">
                    <input type="number" placeholder="{{data.vitalName}}" #dataVal class="form-control" />
                    <div [ngClass]="{'errorClass':vitalData.value == '','hideClass':vitalData.value != ''}">Please enter the vital Data</div>
                    <div class="clear20"></div>
                  </div>
                  <div class="mx-auto col-9 text-center">
                    <input [owlDateTime]="dt1" placeholder="Select Date" #dateVal class="vitalDate form-control" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
                    <owl-date-time #dt1></owl-date-time>
                    <div [ngClass]="{'errorClass':dateVal.value == '','hideClass':dateVal.value != ''}">Please enter the vital Data</div>
                    <div class="clear20"></div>
                  </div>
                  <div class="mx-auto col-9 text-center">
                    <button class="btn btn-green-1" [disabled]="dateVal.value == '' && dateVal.value == ''" (click)="addVitals(data,dataVal,dateVal,i)">Submit</button>
                    <div class="clear20"></div>
                  </div>
                </div>
              </form>
              <div>
                <canvas class="{{data.showGraph}} vitalsLineGraph"
                  id="lineChart_{{data.vitalId}}" style="width: 420px; height: 225px;">
                </canvas>
                <div class="{{data.showGraph}} customLegendContainer text-right">
                    <ul>
                      <li>
                        <span>Doctor</span>
                      </li>
                      <li>
                        <span>Patient</span>
                      </li>
                    </ul>
                </div>
              </div>
              <div class="{{data.showGridList}} table-responsive">
                <table class="table table-hover">
                  <thead class="thead-dark">
                    <tr>
                      <th>(Entry) Date and Time</th>
                      <th>Weight</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of data.gridList">
                      <td>{{item.vitalEntry}}</td>
                      <td style="padding-left:25px;">{{item.vitalEntryValue}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="clear20"></div>
    </div>
  </div>
