<div class="dropdown-content"> 
   
    <div class="container">
      <div class="row">
    
        <div class="col-12 col-lg-12">
         
  
          <div class="healthAresLeft healthAresLeft2">
            <h1 class="AharViharText">Zandu deals in numerous Health Areas</h1>
            <div class="clear"></div> 
            <div class="row mt-4">
              <div class="col-12 col-lg-4">
                  <button type="button" class="btn AharviharBtn" routerLink="../diabetes"><img class="mr-5" src="././assets/images/Nav_1.png"> Diabetes <img class="BtnArrowImg" src="././assets/images/right_arrow.png"></button>
              </div> 
              <div class="col-12 col-lg-4">
                  <button type="button" class="btn AharviharBtn" routerLink="../Piles"><img class="mr-4" src="././assets/images/Nav_2.png"> Piles <img class="BtnArrowImg" src="././assets/images/right_arrow.png"></button>
              </div> 
              <div class="col-12 col-lg-4">
                  <button type="button" class="btn AharviharBtn" routerLink="../hypertension"><img class="mr-4" src="././assets/images/Nav_3.png"> Hypertension <img class="BtnArrowImg" src="././assets/images/right_arrow.png"></button>
              </div>  
              
              <div class="col-12 col-lg-4 mt-4">
                  <button type="button" class="btn AharviharBtn" routerLink="../Constipation"> <img class="mr-4" src="././assets/images/Nav_4.png"> Constipation <img class="BtnArrowImg" src="././assets/images/right_arrow.png"></button>
              </div> 
              <div class="col-12 col-lg-4 mt-4">
                  <button type="button" class="btn AharviharBtn" routerLink="../Asthma"> <img class="mr-4" src="././assets/images/Nav_5.png"> Asthma <img class="BtnArrowImg" src="././assets/images/right_arrow.png"></button>
              </div> 
              <div class="col-12 col-lg-4 mt-4">
                  <button type="button" class="btn AharviharBtn AharviharBtn2 border-0" routerLink="../mainproductpage"> Explore all Products <img class="BtnArrowImg" src="././assets/images/right_arrow.png"></button>
              </div> 
            </div>
          </div>
        </div>
      </div> 
      <div class="clear20"></div>
      <div class="row mt-2">
        <div class="col-12 col-lg-4">
          <div class="article">
            <p>article</p>
            <h6>Continuous glucose monitors are FDA
              approved systems that track your blood..</h6>
          </div>
          <div class="RightArrowImg">
            <img src="././assets/images/WhiteArrow.png">
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="article">
            <p>article</p>
            <h6>Continuous glucose monitors are FDA
              approved systems that track your blood..</h6>
          </div>
          <div class="RightArrowImg">
            <img src="././assets/images/WhiteArrow.png">
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="article">
            <p>article</p>
            <h6>Continuous glucose monitors are FDA
              approved systems that track your blood..</h6>
          </div>
          <div class="RightArrowImg">
            <img src="././assets/images/WhiteArrow.png">
          </div>
        </div>
      </div>
  <div class="clear20"></div>
  
    </div>
  </div>