.margin_10 {
    margin: 10px 0px
    }
    
    .margin_20 {
    margin: 20px 0px
    }
    
    .margin_30 {
    margin: 30px 0px
    }
    
    .margin_40 {
    margin: 40px auto
    }
    .t-order{
    font-size: 18px;
    font-weight: normal;
    color: #000000;
    font-family: 'TrajanPro-Regular', sans-serif;
    }
    .f-by{
    font-size: 22px;
    color: #402909;
    font-family: 'TrajanPro-Regular', sans-serif;
    }
    
    .show > .btn-primary.dropdown-toggle {
    color: #fff;
    /* background-color: #0062cc; */
    /* border-color: #005cbf; */
    }
    .dropdown-item.active, .dropdown-item:active {
    color: #000000;
    text-decoration: none;
    background-color: #ffffff; 
    }
    .ddbstyle{
    border-bottom: solid 5px #402909;
    border-radius: 0px;
    background-color: #ffffff;
    font-size: 20px;
    color: #666666;
    font-family: 'TrajanPro-Regular', sans-serif;
    }
    .tw-hundred{
    width: 100%;
    height: 93px;
    padding: 0px;
    outline: none!important;
    font-family: 'TrajanPro-Regular', sans-serif;
    }
    .tab-h{
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    }
    
    .tab-hbright{
    border-right: 2px solid #d9b065;
    padding: 27px 0px;
    margin: 0px;
    font-size: 24px; 
    }
    .tab-hbright12{
    padding: 27px 0px;
    margin: 0px;
    font-size: 24px; 
    }
    .padln{
    padding-left:0px;
    }
    .padrn{
    padding-right: 0px;
    }
    .tab-h .table-heading{
    font-family: TrajanPro-Bold;
    font-size: 16px;
    font-weight: bold;
    color: #402909;
    }
    .table-text0{
    font-size: 18px;
    font-weight: bold;
    color: #402909;
    font-family: 'TrajanPro-Regular', sans-serif;
    }
    .table-text{
    font-size: 16px;
    font-weight: bold;
    color: #402909;
    font-family: 'TrajanPro-Regular', sans-serif;
    }
    .table-text1{
    font-size: 16px;
    font-weight: normal;
    color: #402909;
    font-family: 'TrajanPro-Regular', sans-serif;
    }
    .table-text2{
    font-size: 12px;
    font-weight: normal;
    color: #402909;
    font-family: 'TrajanPro-Regular';
    }
    .text1{
    font-family: 'TrajanPro-Regular';
    font-size: 18px;
    font-weight: normal;
    color: #000000;
    }
    .text3{
    font-size: 18px;
    font-weight: normal;
    color: #000000;
    }
    .link-font{
    font-family: "PlayfairDisplay-Regular";
    }
    #ordertab table th{
    border-radius: 5px;
    background-color: #fff9e5;
    }
    #ordertab table{
    border-radius: 5px;
    background-color: #ffffff;
    }
    #ordertab table td:last-of-type,#ordertab table th:last-of-type{
    vertical-align: middle;
    }
    #ordertab table tbody tr{
    border-top: solid 1px #d6ad66;   
    }
    #ordertab table tbody tr:first-of-type{
    border-top: none;   
    }
    /* btns */
    .btn-trasnp-1{
    font-size: 12px;
    letter-spacing: 1.2px;
    background: transparent;
    border-radius: 5px;
    border: solid 1px #cfa15a;
    font-family: 'TrajanPro-Bold';
    padding: 5px 10px;
    }
    .btn-green-1{
    font-size: 12px;
    letter-spacing: 1.2px;
    border-radius: 3px;
    border: solid 1px #84b367;
    background-color: #bccf60;
    font-family: 'TrajanPro-Bold';
    box-shadow: 0 0 0 2px #bccf60;
    padding: 3px 25px;
    }
    .zl-text{
    font-size: 22px;
    font-weight: bold;
    color: #333333;
    font-family: 'TrajanPro-Regular';
    }
    .zl-text1{
    font-family: 'IndianRupee';
    font-size: 24px;
    color: #333333;
    }
    .zl-text12{
    font-size: 30px;
    font-weight: normal;
    font-family: 'PlayfairDisplay-Regular';
    color: #333333;
    }
    .zl-text2{
    font-size: 14px;
    font-weight: normal;
    font-family: 'PlayfairDisplay-Regular';
    color: #402909;
    }
    
    .product_img {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    display: content;
    }
    .order-margin-top2 .fa {
    cursor: pointer;
    }
    .input-spinner{
    width:40px;
    text-align: center
    }
    .clear5 {
    clear: both;
    height: 5px;
    }
    .inflex{
    display: flex!important;
    }
    .Product_div{position: relative;overflow: hidden;border-radius: 10px;}
    .Product_div span {
    display: block;
    width: 120px;
    height: 24px;
    background-color: #402909;
    -webkit-transform: rotate(45deg);
    transform: rotate(319deg);
    position: absolute;
    text-align: center;
    line-height: 24px;
    top: 8px;
    font-family: arial;
    font-size: 12px;
    left: -38px;
    font-weight: 600;
    color: #ffffff;
    }
    
    
    /* tab css */
    .inner_div {
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden
    }
    
    .label_div{
    font-weight: bold;
    }
    .link_table tr:nth-child(even) {background-color: #f36523;}
    .link_table tr:nth-child(odd) {background-color: #211d71;}
    
    .link_table td{
    font-size: 13px;
    text-align: center;
    }
    
    .link_table td a{
    color:white !important;
    }
    
    .add_link_table td{
    font-size: 13px;
    text-align: center;
    background-color:#8fa7a6;
    }
    
    .add_link_table td a{
    color:white !important;
    }
    
    .link_table span, .add_link_table span{
    padding-right: 8px;
    }
    
    .inner_div::-webkit-scrollbar {
    width: 7px;
    border-radius: 5px;
    height: 5px;
    }
    
    /* Track */
    .inner_div::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
    height: 5px;
    }
    
    /* Handle */
    .inner_div::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
    height: 5px;
    }
    
    /* Handle on hover */
    .inner_div::-webkit-scrollbar-thumb:hover {
    background: #555; 
    }
    button {
    background-color: white;
    border: none;
    }
    button:hover {
    background-color: #ddd;
    }
    .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
    }
    .tabcontent{
    display: block;
    }
    
    .hide{
    display: none;
    }
    .padlrn{
    padding: 0px!important;
    }
    .top-btns{
    border: 1px solid #cccccc;
    border-radius: 15px;
    padding: .275rem .75rem;
    }
    .main-div{
    position: relative;
    
    }
    button.active[_ngcontent-c1] {
    background-color: #f9f4e4!important;
    border:0px!important;
    border-radius: 0px;
    background-color: #ffffff;
    border-top-right-radius: 4px;
    outline: none!important;
    }
    .btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active {
    background-image: none;
    
    color: #ffffff;
    }
    button[_ngcontent-c1]:hover {
    background-color: #FFFFFF;
    
    }
    
    /* tab css end*/
    @media screen and (max-width: 768px) {
    .input-spinner{
    width:26px;
    text-align: center
    }
    }
    @media only screen and (min-width:576px) and (max-width:768px) {
    .btn-green-1{
    width: 125px!important;
    }
    .btn-trasnp-1{
    width: 125px!important;
    margin-top: 10px;
    }
    }
    
    @media screen and (max-width: 576px) {
    .r-align{
    text-align: center!important;
    }
    }
    @media only screen and (min-width:480px) and (max-width:576px) {
    .tabres-font{
    font-size: 18px;
    }
    }
    @media screen and (max-width:480px) {
    .tabres-font{
    font-size: 12px;
    }
    }
    @media screen and (max-width:400px) {
    .btn-green-1{
    width: 125px!important;
    }
    .btn-trasnp-1{
    width: 125px!important;
    margin-top: 10px;
    }
    
    }
    @media screen and (max-width:320px) {
    .tabres-font{
    font-size: 10px;
    }
    }
    