<app-patient-navigation></app-patient-navigation>
<app-patient-header></app-patient-header>
<div class="margin_40"></div> 
<app-floating></app-floating>
<div class="container">
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 r-align">
    <label class="t-order">TOTAL ORDERS-10</label>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-right">
    <div class="row">
      <div class="col-6 col-sm-2 col-lg-6 col-md-6">
      </div>
      <div class="col-12 col-sm-10 col-lg-6 col-md-6">
        <div class="row">
          <div class="col-12 col-sm-5 col-md-5 col-lg-6 text-right r-align">
            <label class="f-by">Filter By</label>
          </div>
          <div class="col-12 col-sm-7 col-md-7 col-lg-6 r-align text-left">
            <div class="dropdown {{custom}}">
              <button type="button" class="btn dropdown-toggle ddbstyle" (click)="drop()" data-toggle="dropdown">
                {{sring}}
              </button>
              <div class="dropdown-menu {{custom}}">
                <ng-container *ngFor="let item of Dropi">
                  <a class="dropdown-item" (click)="sring=item.name;closed()">{{item.name}}</a>
                </ng-container>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-12 col-sm-12 col-md-12 col-lg-12 padlrn">
    <div class="inner_div" id="ordertab">
      <div class="label_div">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 tab-h padlrn">
          <div class="row">
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 text-center padrn">
              <button class="tablinks tw-hundred {{tabs[0].active}}" (click)="openTabs(0)" title="Agents">
                <h4 class="tab-hbright12  tabres-font {{default}}">RECENT</h4>
              </button>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 text-center padlrn">
              <button class="tablinks  tw-hundred {{tabs[1].active}}" (click)="openTabs(1)" title="developer">
                <h4 class="tab-hbright12  tabres-font  {{default2}}">DELIVERED</h4>
              </button>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-4 text-center padln">
              <button class="tablinks  tw-hundred {{tabs[2].active}}" (click)="openTabs(2)" title="Clients">
                <h4 class="tab-hbright12 tabres-font {{default3}}">CANCELLED</h4>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="margin_40"></div>
      <div id="agent" class="{{tabs[0].tabcontent}} padlrn">
        <div class=" table-responsive tab-h">
          <table class="table table-borderless">
            <thead>
              <tr *ngFor="let item of tableoneheader">
                <th>
                  <span class="table-heading"></span>ORDER PLACED
                  <br>
                  <span class="table-text1">{{item.orderdate}}</span>
                </th>
                <th>
                  <span class="table-heading"></span>EXPECTED DELIVERY
                  <br>
                  <span class="table-text1">{{item.expecteddelivery}}</span>
                </th>
                <th>
                  <span class="table-heading"></span>ORDER ID
                  <span class="table-text1">{{item.oid}}
                    <br>
                    <a class="link-font" href="#">Order Detail</a>
                  </span>
                </th>
                <th>
                  <span class="table-heading"></span>TOTAL
                  <br>
                  <span class="table-text0">RS{{item.total}}</span>
                </th>
                <th>
                  <button type="button" class="btn btn-green-1">track order</button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tableonedata">
                <td>
                  <img src="{{item.pimg}}"> </td>
                <td>
                  <span class="table-text1">{{item.product}}</span>
                  <br>
                  <span class="table-text0">{{item.total}}</span>&nbsp;
                  <span class="table-text2">
                    <del>Rs{{item.iprice}} </del>
                  </span>
                  <br>
                  <span class="table-text2">Save Rs{{item.save}}</span>
                </td>
                <td class="table-heading">QTY {{item.qty}}</td>
                <td></td>
                <td>
                  <button type="button" class="mx-auto btn btn-trasnp-1">Cancel Order</button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="margin_20"></div>
        <div class="  table-responsive  tab-h">
          <table class="table table-borderless">
            <thead>
              <tr *ngFor="let item of tabletwoheader">
                <th>
                  <span class="table-heading"></span>ORDER PLACED
                  <br>
                  <span class="table-text1">{{item.orderdate}}</span>
                </th>
                <th>
                  <span class="table-heading"></span>EXPECTED DELIVERY
                  <br>
                  <span class="table-text1">{{item.expecteddelivery}}</span>
                </th>
                <th>
                  <span class="table-heading"></span>ORDER ID
                  <span class="table-text1">{{item.oid}}
                    <br>
                    <a class="link-font" href="#">Order Detail</a>
                  </span>
                </th>
                <th>
                  <span class="table-heading"></span>TOTAL
                  <br>
                  <span class="table-text0">RS{{item.total}}</span>
                </th>
                <th>
                  <button type="button" class="btn btn-green-1">Track Order</button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tabletwodata">
                <td>
                  <img src="{{item.pimg}}"> </td>
                <td>
                  <span class="table-text1">{{item.product}}</span>
                  <br>
                  <span class="table-text0">{{item.total}}</span>&nbsp;
                  <span class="table-text2">
                    <del>Rs{{item.iprice}} </del>
                  </span>
                  <br>
                  <span class="table-text2">Save Rs{{item.save}}</span>
                </td>
                <td class="table-heading">QTY {{item.qty}}</td>
                <td></td>
                <td>
                  <button type="button" class="mx-auto btn btn-trasnp-1">Cancel Order</button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="margin_40"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 padlrn">
          <label class="text1">PRODUCT RECOMMENDATIONS</label>
        </div>
        <div class="margin_40"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 padlrn">
          <div class="row">llllllllllllllllllllllllll
            <div class="col-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let item of recommendation">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 Product_div tab-h text-center padlrn">
                <div class="clear20"></div>
                <img src="{{item.pimg}}">
                <div class="clear10"></div>
                <label class="zl-text">{{item.product}}</label>
                <label class="zl-text2">{{item.description}}</label>

                <div class="row">
                  <div class="text-right col-6 col-sm-6 col-md-6 col-lg-6 ">
                    <label class="">
                      <label class="zl-text1">&#8377;</label>
                      <label class="zl-text12">{{item.price}}</label>
                    </label>
                  </div>
                  <div class=" col-6 col-sm-6 col-md-6 col-lg-6 text-left">
                    <div class="product_img">
                      <div class="clear10"></div>
                      <div class="order-margin-top2">
                        <i class="fa" (click)="down()">&#xf056;</i>&nbsp;
                        <input [(ngModel)]="spinner" class="input-spinner">&nbsp;
                        <i class="fa" (click)="spinner=spinner+1">&#xf055;</i>
                      </div>
                    </div>
                  </div>
                </div>
                <span>{{item.offer}}</span>
                <button type="button" class="btn btn-green-1">Buy Now</button>&nbsp;&nbsp;
                <button type="button" class="mx-auto btn btn-trasnp-1">Add To Cart</button>
                <div class="clear10"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="developer" class="{{tabs[1].tabcontent}} padlrn">
        <div class=" table-responsive tab-h">
          <table class="table table-borderless">
            <thead>
              <tr *ngFor="let item of tableoneheader">
                <th>
                  <span class="table-heading"></span>ORDER PLACED
                  <br>
                  <span class="table-text1">{{item.orderdate}}</span>
                </th>
                <th>
                  <span class="table-heading"></span>Delivery Date
                  <br>
                  <span class="table-text1">{{item.expecteddelivery}}</span>
                </th>
                <th>
                  <span class="table-heading"></span>ORDER ID
                  <span class="table-text1">{{item.oid}}
                    <br>
                    <a class="link-font" href="#">Order Detail</a>
                  </span>
                </th>
                <th>
                  <span class="table-heading"></span>TOTAL
                  <br>
                  <span class="table-text0">RS{{item.total}}</span>
                </th>
                <th>
                  <button type="button" class="btn btn-green-1">track order</button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tableonedata">
                <td>
                  <img src="{{item.pimg}}"> </td>
                <td>
                  <span class="table-text1">{{item.product}}</span>
                  <br>
                  <span class="table-text0">{{item.total}}</span>&nbsp;
                  <span class="table-text2">
                    <del>Rs{{item.iprice}} </del>
                  </span>
                  <br>
                  <span class="table-text2">Save Rs{{item.save}}</span>
                </td>
                <td class="table-heading">QTY {{item.qty}}</td>
                <td></td>
                <td>
                  <button type="button" class="mx-auto btn btn-trasnp-1">Cancel Order</button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="margin_20"></div>
        <div class="  table-responsive  tab-h">
          <table class="table table-borderless">
            <thead>
              <tr *ngFor="let item of tabletwoheader">
                <th>
                  <span class="table-heading"></span>ORDER PLACED
                  <br>
                  <span class="table-text1">{{item.orderdate}}</span>
                </th>
                <th>
                  <span class="table-heading"></span>Delivery Date
                  <br>
                  <span class="table-text1">{{item.expecteddelivery}}</span>
                </th>
                <th>
                  <span class="table-heading"></span>ORDER ID
                  <span class="table-text1">{{item.oid}}
                    <br>
                    <a class="link-font" href="#">Order Detail</a>
                  </span>
                </th>
                <th>
                  <span class="table-heading"></span>TOTAL
                  <br>
                  <span class="table-text0">RS{{item.total}}</span>
                </th>
                <th>
                  <button type="button" class="btn btn-green-1">Track Order</button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tabletwodata">
                <td>
                  <img src="{{item.pimg}}"> </td>
                <td>
                  <span class="table-text1">{{item.product}}</span>
                  <br>
                  <span class="table-text0">{{item.total}}</span>&nbsp;
                  <span class="table-text2">
                    <del>Rs{{item.iprice}} </del>
                  </span>
                  <br>
                  <span class="table-text2">Save Rs{{item.save}}</span>
                </td>
                <td class="table-heading">QTY {{item.qty}}</td>
                <td></td>
                <td>
                  <button type="button" class="mx-auto btn btn-trasnp-1">Cancel Order</button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>



        <div class="margin_40"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 padlrn">
          <label class="text1">PRODUCT RECOMMENDATIONS</label>
        </div>
        <div class="margin_40"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 padlrn">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let item of recommendation">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 Product_div tab-h text-center padlrn">
                <div class="clear20"></div>
                <img src="{{item.pimg}}">
                <div class="clear10"></div>
                <label class="zl-text">{{item.product}}</label>
                <label class="zl-text2">{{item.description}}</label>

                <div class="row">
                  <div class="text-right col-6 col-sm-6 col-md-6 col-lg-6 ">
                    <label class="">
                      <label class="zl-text1">&#8377;</label>
                      <label class="zl-text12">{{item.price}}</label>
                    </label>
                  </div>
                  <div class=" col-6 col-sm-6 col-md-6 col-lg-6 text-left">
                    <div class="product_img">
                      <div class="clear10"></div>
                      <div class="order-margin-top2">
                        <i class="fa" (click)="down()">&#xf056;</i>&nbsp;
                        <input [(ngModel)]="spinner" class="input-spinner">&nbsp;
                        <i class="fa" (click)="spinner=spinner+1">&#xf055;</i>
                      </div>
                    </div>
                  </div>
                </div>
                <span>{{item.offer}}</span>
                <button type="button" class="btn btn-green-1">Buy Now</button>&nbsp;&nbsp;
                <button type="button" class="mx-auto btn btn-trasnp-1">Add To Cart</button>
                <div class="clear10"></div>

              </div>

            </div>

          </div>
        </div>
      </div>
      <div id="brokers" class="{{tabs[2].tabcontent}} padlrn">
        <div class=" table-responsive tab-h">
          <table class="table table-borderless">
            <thead>
              <tr *ngFor="let item of tableoneheader">
                <th>
                  <span class="table-heading"></span>ORDER PLACED
                  <br>
                  <span class="table-text1">{{item.orderdate}}</span>
                </th>
                <th>
                  <span class="table-heading"></span>CANCELLED DATE
                  <br>
                  <span class="table-text1">{{item.expecteddelivery}}</span>
                </th>
                <th>
                  <span class="table-heading"></span>ORDER ID
                  <span class="table-text1">{{item.oid}}
                    <br>
                    <a class="link-font" href="#">Order Detail</a>
                  </span>
                </th>
                <th>
                  <span class="table-heading"></span>TOTAL
                  <br>
                  <span class="table-text0">RS{{item.total}}</span>
                </th>
                <th>
                  <button type="button" class="btn btn-green-1">track order</button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tableonedata">
                <td>
                  <img src="{{item.pimg}}"> </td>
                <td>
                  <span class="table-text1">{{item.product}}</span>
                  <br>
                  <span class="table-text0">{{item.total}}</span>&nbsp;
                  <span class="table-text2">
                    <del>Rs{{item.iprice}} </del>
                  </span>
                  <br>
                  <span class="table-text2">Save Rs{{item.save}}</span>
                </td>
                <td class="table-heading">QTY {{item.qty}}</td>
                <td></td>
                <td>
                  <button type="button" class="mx-auto btn btn-trasnp-1">Cancel Order</button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

        <div class="margin_20"></div>
        <div class="  table-responsive  tab-h">
          <table class="table table-borderless">
            <thead>
              <tr *ngFor="let item of tabletwoheader">
                <th>
                  <span class="table-heading"></span>ORDER PLACED
                  <br>
                  <span class="table-text1">{{item.orderdate}}</span>
                </th>
                <th>
                  <span class="table-heading"></span>CANCELLED DATE
                  <br>
                  <span class="table-text1">{{item.expecteddelivery}}</span>
                </th>
                <th>
                  <span class="table-heading"></span>ORDER ID
                  <span class="table-text1">{{item.oid}}
                    <br>
                    <a class="link-font" href="#">Order Detail</a>
                  </span>
                </th>
                <th>
                  <span class="table-heading"></span>TOTAL
                  <br>
                  <span class="table-text0">RS{{item.total}}</span>
                </th>
                <th>
                  <button type="button" class="btn btn-green-1">Track Order</button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tabletwodata">
                <td>
                  <img src="{{item.pimg}}"> </td>
                <td>
                  <span class="table-text1">{{item.product}}</span>
                  <br>
                  <span class="table-text0">{{item.total}}</span>&nbsp;
                  <span class="table-text2">
                    <del>Rs{{item.iprice}} </del>
                  </span>
                  <br>
                  <span class="table-text2">Save Rs{{item.save}}</span>
                </td>
                <td class="table-heading">QTY {{item.qty}}</td>
                <td></td>
                <td>
                  <button type="button" class="mx-auto btn btn-trasnp-1">Cancel Order</button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="margin_40"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 padlrn">
          <label class="text1">PRODUCT RECOMMENDATIONS</label>
        </div>
        <div class="margin_40"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 padlrn">
          <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3" *ngFor="let item of recommendation">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 Product_div tab-h text-center padlrn">
                <div class="clear20"></div>
                <img src="{{item.pimg}}">
                <div class="clear10"></div>
                <label class="zl-text">{{item.product}}</label>
                <label class="zl-text2">{{item.description}}</label>

                <div class="row">
                  <div class="text-right col-6 col-sm-6 col-md-6 col-lg-6 ">
                    <label class="">
                      <label class="zl-text1">&#8377;</label>
                      <label class="zl-text12">{{item.price}}</label>
                    </label>
                  </div>
                  <div class=" col-6 col-sm-6 col-md-6 col-lg-6 text-left">
                    <div class="product_img">
                      <div class="clear10"></div>
                      <div class="order-margin-top2">
                        <i class="fa" (click)="down()">&#xf056;</i>&nbsp;
                        <input [(ngModel)]="spinner" class="input-spinner">&nbsp;
                        <i class="fa" (click)="spinner=spinner+1">&#xf055;</i>
                      </div>
                    </div>
                  </div>
                </div>
                <span>{{item.offer}}</span>
                <button type="button" class="btn btn-green-1">Buy Now</button>&nbsp;&nbsp;
                <button type="button" class="mx-auto btn btn-trasnp-1">Add To Cart</button>
                <div class="clear10"></div>

              </div>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<app-footer></app-footer>
