<app-navigation *ngIf="showHeader"></app-navigation>
<section class="home-top pt-5"> 
    <app-floating></app-floating>
  <div class="container ">
    <h1 class="main_title">Ayurveda: Personalized, <br>
        Holistic &amp; Convenient 
        </h1>

    <div class="clearfix"></div>

  </div>

</section>
<section class="AyurvedicDietContent2">
    <div class="container">
      <div class="Heading mb-5">
        <h1>Our Ayurvedic Philosophy</h1>
        <div class="clear10"></div>
        <div class="text-center">
          <img class="img-fluid" src="././assets/images/big_border.png">
        </div>
      </div>
      <div class="col-md-10 mx-auto">
        <div class="para-res">
            <p class="paratxt">
                To get the most out of Ayurveda, Zandu looks to practice Ayurveda in its truest form, which recognises...
             </p>
             <ul class="paratxt paraul">
               <li>- Each person and his problem is different ( prakriti is different ) </li>
               <li>- The solution has to be personalised &amp; holistic ( diet, lifestyle, medicines )</li>
             </ul>
             <p class="paratxt">
                Moreover access to quality healthcare should be easy.
              </p>
              <p class="paratxt">
                  To ensure the same:<br>
                  We have expert ayurvedic specialists accessible to you on your phone , who use prakriti analysis ( to assess vata, pita, kapha of the patient ) and prescribe  holistic treatment (aahaar, vihaar, aushadhi). 
                  
              </p> 
        </div>
          
      </div>
    
    </div>
  </section>

  <section class="AyurvedicDietContent2">
      <div class="container">
        <div class="Heading my-5">
          <div class="clear40"></div>
          <div class="clear20"></div>
          <h1>Know Ayurveda</h1>
          <div class="clear10"></div>
          <div class="text-center">
            <img class="img-fluid" src="././assets/images/big_border.png">
          </div>
        </div>
        <div class="col-md-10 mx-auto">
            <div class="para-res">
                <p class="paratxt">
                    Ayurveda, is the art of living in harmony with nature. The term Ayurveda is taken from the Sanskrit word ‘Ayur’ , meaning life or lifespan. The word ‘Ayur’ literally means ‘life’ and ‘veda’, the ‘science’ or ‘knowledge’.
                 </p>
                 
                  <p class="paratxt">
                      There are four Vedas or treatises that form the basis of the Indian medical philosophy. These are the Rigveda, the Yajurveda, the Samaveda and the Atharva Veda. Ayurveda emerged as a branch of Atharva Veda (one of the four most ancient books of Indian knowledge, wisdom and culture). It dates back to over five thousand years and is one of the world’s oldest and most complete systems of natural healing.
                      
                  </p> 
            </div>
           
        </div>
      
      </div>
    </section>
  <div class="clear40"></div>
  <section class="Yoga_AurvedaSection  artcle text-center">
      <div class="container1">
        <div class="clear"></div>
        <div class="small_wrapper">
          <!-- <h1>Diarrhoea & the Doshas  </h1> -->
          <!-- <div class="clear"></div>
          <div class="text-center">
            <img src="././assets/images/big_border.png">
          </div>
          <p class="text-center HeadingTextSmall txtpadr">According to Ayurveda, aggravation of any of the tridoshas (vata, pitta, kapha) acts on the digestive fire or Agni and ultimately causes Diarrhoea.  </p> -->
    
          <div class="clear mt-5"></div>
          <div class="text-center rscroll ResMainDiv">
            <div class="article_div wscroll ResScroll">
              <div class="20"></div>
              <img class="mx-auto d-block img-fluid m-tops" src="././assets/images/Kapha.png">
              <div class="clear10"></div>
              <div class="infor">
                <div class="clear10"></div>
                <span>Kapha</span>
                <div class="clear10"></div>
                <p class="ppad">People tend to have sturdy, heavy frames,
                   providing a good reserve of physical 
                   strength and stamina...
                   </p>
              </div>
              <!-- <div class="clear10"></div>  -->
             <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 rmposition">
                <button class="btn  read_more" routerLink="../DiherraRead" (click)="setNav('Kapha')">READ MORE</button>
             </div> -->
            </div> 
    
            <div class="article_div wscroll ResScroll">
              <img class="mx-auto d-block img-fluid" src="././assets/images/Pita.png">
              <div class="clear10"></div>
              <div class="infor">
                <div class="clear10"></div>
                <span>Pita</span>
                <div class="clear10"></div>
                <p class="ppad">People are generally of medium<br/>
                   size and well proportioned. They<br/>
                    have a medium amount of physical...</p>
              </div>
              <!-- <div class="clear10"></div> -->
              <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 rmposition">
                  <button class="btn  read_more" routerLink="../DiherraRead" (click)="setNav('Kapha')">READ MORE</button>
               </div> -->
            </div>
    
            <div class="article_div wscroll ResScroll">
              <img class="mx-auto d-block img-fluid" src="././assets/images/Vata.png">
              <div class="clear10"></div>
              <div class="infor">
                <div class="clear10"></div>
                <span> Vata</span>
                <div class="clear10"></div>
                <p class="ppad">People are generally thin and find<br/>
                   it hard to gain weight, because of<br/>
                    this; Vatas have very little energy...</p>
              </div>
              <!-- <div class="clear10"></div> -->
              <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 rmposition">
                  <button class="btn  read_more" routerLink="../DiherraRead" (click)="setNav('Kapha')">READ MORE</button>
               </div> -->
            </div>
          </div>
        </div>
        <!-- <div class="clear mt-4"></div> -->
        <!-- <div class="dosham_Piles mt-5">
          <h5>Take our 3 Minute Dosha Test</h5>
    
          <div class="clear10"></div>
          <button class="btn btn-primary mb-2 SignBtn" type="button" data-toggle="modal" data-target="#myModal" (click)="model()">calculate
            now</button>
    
        </div> -->
        <!-- <div class="clear"></div> -->
        <!-- <div class="topping_spac ResMArgint">
          <div class="all_benefits callToGetInTouch pt-3">
            <p><span> Call 1800 572 8000</span> to get in touch with our
              Health Experts & resolve your Health Queries</p>
    
          </div>
    
        </div> -->
      </div>
    </section>
  <section class="AyurvedicDietContent">
      <div class="container">
        <div class="row m-0">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 p-0 ahaar-res">
            <div class="">
                <img class="img-fluid" src="././assets/images/AyurvedicDiet.png">
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 p-0  AyurvedicDietRightText">
            <div class="clear"></div>
          
            <h1 class="txtalligncenter">Ahaar  </h1>
            <div class="txtalligncenter mobhidden">
              <img class="img-fliud onesideicon" src="././assets/images/onesidei.png">
            </div>
            <div class="text-center webhidden">
                <img class="img-fluid" src="././assets/images/big_border.png">
            </div>
           
            <div class="clear20"></div>
            <h5 class="txtalligncenter">Ahaar is the primary factor that balances <br>
                our doshas. Balanced and wholesome ahara <br>
                nourishes the mind and the body and <br>
                provides energy in different forms. 
                
                </h5>
            <div class="clear10"></div>
            <p class="txtalligncenter">“When diet is wrong medicine is of no use. When 
                diet is correct<br> medicine is of no need.”
                </p>
            <div class="clear"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 txtalligncenter padlrn">
                <button class="btn btn-primary mb-2 SignBtn m-top mt-4" routerLink="../Ahaar" type="button">LET’S EXPLORE MORE</button>
            </div> 
          </div>
    <div class="clear20"></div>
        </div>
      </div>
    </section>
    <div class="clear10"></div>
    <section class="Yoga_AurvedaSection  artcle text-center">
      <div class="clear10"></div>
        <div class="container1 kaphadiet-res">
          <div class="small_wrapper mb-5">
            <!-- <h1>Diarrhoea & the Doshas  </h1> -->
            <!-- <div class="clear"></div>
            <div class="text-center">
              <img src="././assets/images/big_border.png">
            </div>
            <p class="text-center HeadingTextSmall txtpadr">According to Ayurveda, aggravation of any of the tridoshas (vata, pitta, kapha) acts on the digestive fire or Agni and ultimately causes Diarrhoea.  </p> -->
      
            <div class="clear mt-5"></div>
            <div class="text-center rscroll ResMainDiv">
              <div class="article_div wscroll ResScroll">
                <div class="clear10"></div>
                <img class="mx-auto d-block img-fluid m-tops" src="././assets/images/Kapha.png">
                <div class="clear10"></div>
                <div class="infor">
                  <div class="clear10"></div>
                  <span>kapha diet</span>
                  <div class="clear10"></div>
                  <p class="ppad">Use this diet to help clear<br/>
                      mucus, heaviness, sinus congestion.<br/>
                      thick tongue coating, tiredness...</p>
<div class="clear20"></div>
                      <button class="btn  read_more hiddencta" >READ MORE</button>
                </div>
                <div class="clear30"></div>
               <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 rmposition10">
                 
               </div> -->
              </div> 
      
              <div class="article_div wscroll ResScroll">
                <img class="mx-auto d-block img-fluid" src="././assets/images/Pita.png">
                <div class="clear10"></div>
                <div class="infor">
                  <div class="clear10"></div>
                  <span>pita diet</span>
                  <div class="clear10"></div>
                  <p class="ppad">People are generally of medium <br/>
                    size and well proportioned. They<br/>
                     have a medium amount of physical...</p> 
<div class="clear30"></div>
                      <button class="btn  read_more hiddencta" >READ MORE</button>
                </div>
                <div class="clear30"></div>
                <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 rmposition10">
                   
                 </div> -->
              </div>
      
              <div class="article_div wscroll ResScroll">
                <img class="mx-auto d-block img-fluid" src="././assets/images/Vata.png">
                <div class="clear10"></div>
                <div class="infor">
                  <div class="clear10"></div>
                  <span>  vata diet</span>
                  <div class="clear10"></div>
                  <p class="ppad">Use this diet to help relieve <br/>
                      nervous tension, cramps, pain,<br/>
                      anxiety, insomnia, bloating...</p> 
                      <div class="clear30"></div>
                      <button class="btn  read_more hiddencta">READ MORE</button>
                    </div>
                    <div class="clear30"></div>
                <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 rmposition10">
                   
                </div> -->
              </div>
            </div>
          </div>
          <div class="clear mt-4"></div>
          <!-- <div class="dosham_Piles mt-5">
            <h5>Take our 3 Minute Dosha Test</h5>
      
            <div class="clear10"></div>
            <button class="btn btn-primary mb-2 SignBtn" type="button" data-toggle="modal" data-target="#myModal" (click)="model()">calculate
              now</button>
      
          </div> -->
          <!-- <div class="clear"></div> -->
          <!-- <div class="topping_spac ResMArgint">
            <div class="all_benefits callToGetInTouch pt-3">
              <p><span> Call 1800 572 8000</span> to get in touch with our
                Health Experts & resolve your Health Queries</p>
      
            </div>
      
          </div> -->
        </div>
      </section>
    <!-- <section class="AyurvedicDietContent AyurvedicDietContent2">
      <div class="container">
        <div class="Heading my-5">
          <div class="clear20"></div>
          <h1>Are you looking for Healthy Diet Ideas?</h1>
          <div class="clear10"></div>
          <div class="text-center">
            <img src="././assets/images/big_border.png">
          </div>
        </div>
        <div class="row m-0">
          <div class="col-12 col-sm-12 col-md-7 col-lg-7 p-0 AyurvedicDietRightText2 AyurvedicDietRightText">
            <div class="clear20"></div>
            <ul>
              <li> Want to enjoy more nourishing<br />
                easy meals?</li>
              <div class="clear20"></div>
              <li> Tired of feeling restricted?</li>
              <div class="clear20"></div>
              <li>
                Love the idea of eating plenty<br />
                of food?</li>
            </ul>
            <div class="clear10"></div>
            <h5 class="IFSODiv"><img src="././assets/images/IFSOLine.png"> IF SO <img src="././assets/images/IFSOLine.png">
            </h5>
            <div class="clear"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center"> -->
                <!-- <button class="btn btn-primary mb-2 SignBtn mt-4" type="button">view health tips</button> -->
            <!-- </div>
          </div>
          <div class="col-12 col-sm-12 col-md-5 col-lg-5 p-0">
            <img class="img-fluid" src="././assets/images/HealthyDietIdeas.png">
          </div>
        </div>
      </div>
    </section> -->
  <!-- <div class="clear80"></div> -->
  <div class="clear80"></div>
<div class="container">
  <div class="zanduservicemain">
    <div class="card-deck px-5">
      <div class="card zanduservice txtalligncenter">
        <div class="card-body">
          <p class="card-text">Sign up to get <br>
            Zandu Services FREE!</p>
      </div>
       
      </div>
      <div class="card zanduservice text-center col-12 col-sm-12">
        <div class="card-body">
          <button class="btn FbBtn" type="button" (click)="socialSignIn('facebook')"><img alt="facebook" class="mr-2" src="././assets/images/facebook.png">
            Login With Facebook</button>
        </div>
     
      </div>
      <div class="card zanduservice text-left col-12 col-sm-12">
        <div class="card-body txtalligncenter">
          <button class="btn  GoogleBtn" type="button" (click)="socialSignIn('google')"><img _ngcontent-c1="" alt="google" class="mr-2" src="././assets/images/google.png">
            Login with Google</button>
        </div>
    
      </div>
      <div class="card zanduservice mr-4 txtalligncenter col-12 col-sm-12">
        <div class="card-body txtalligncenter ">
          <span class="txtalligncenter">Call us @</span>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center padlrn">
              <h5 class="txtalligncenter">1800 572 8000</h5>
          </div>
          
        </div>
   
      </div>
    </div>
  </div>
</div>
<!-- <div class="clear80"></div> -->
<section class="AyurvedicDietContent2">
    <div class="container vihar-container">
      <div class="Heading my-5">
        <div class="clear80"></div>
        <h1>Vihaar</h1>
        <div class="clear10"></div>
        <div class="text-center">
          <img class="img-fluid" src="././assets/images/big_border.png">
        </div>
      </div>
      <div class="col-md-10 mx-auto">
          <p class="paratxt vihaar-res">
              Our daily routine is critical to our doshas staying balanced or getting unbalaned especially in today’s world where distractions from maintaining a healthy lifestyle are a plenty . Ayurveda is all about living a natural lifestyle. It teaches you to live a lifestyle closer to your body’s needs.

           </p>
           
            <!-- <p class="paratxt"> -->
              <p class="subtxtb text-center">
                “A well-lived day is medicine unto itself.” Acharya Shunya 
                
            </p> 
      </div>
    
    </div>
    <section class="Yoga_AurvedaSection">
        <!-- <h1>Yoga & Ayurveda</h1> -->
        <div class="clear"></div>
        <!-- <div class="text-center">
          <img src="././assets/images/big_border.png">
        </div> -->
      
        <!-- <div class="row m-0">
          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <img class="img-fluid" src="././assets/images/yogi123.png">
          </div>
        <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-6 col-lg-6 float-right">
          <h5 class="txtalligncenter">Yoga and Ayurveda are <br />
            inseperable and connected  <br/>
            to each other</h5>
          <div class="clear10"></div>
          <p class="txtalligncenter">Yoga, clubbed together with Ayurveda, will produce<br>
            positive effects on health and wellness. The word <br />
            “Yoga” comes from the Sanskrit word “YUJ” which <br />
            means “To unite or integrate”</p>
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 txtalligncenter"> -->
              <!-- <button class="btn btn-primary mb-2 SignBtn" type="button">read more</button> -->
          <!-- </div>
        </div>
      </div> -->
        <div class="clear"></div>
        <div class="text-center">
          <div class="small_wrapper">
      
            <div class="text-center">
              <div class="row m-0">
              <div class="col-12 col-sm-12 col-md-12 col-lg-4 article_divall">
                <img class="mx-auto d-block img-fluid" src="././assets/images/meditation.png">
                <div class="clear10"></div>
                <div class="infor">
                  <div class="clear10"></div>
                  <span>meditation</span>
                  <div class="clear10"></div>
                  <p class="ppad">Meditation is a practice wherein there is<br/>
                     constant observation of the mind, medita-
                     tion brings awareness, harmony..
                      </p>
                </div>
                <div class="clear10"></div>
                <div class="medi-btn col-12 col-sm-12 col-md-12 col-lg-12 text-center rsposition">
                    <button class="btn read_more medi-btn-learn hiddencta">learn MORE</button>
                </div>
                
              </div>
      
              <div class=" col-12 col-sm-12 col-md-12 col-lg-4 article_divall">
                <img class="mx-auto d-block img-fluid" src="././assets/images/suryanamaskar.png">
                <div class="clear10"></div>
                <div class="infor">
                  <div class="clear10"></div>
                  <span>surya namaskar</span>
                  <div class="clear10"></div>
                  <p class="ppad">Surya Namaskar is an ancient form <br/>
                    of yoga. It is the art of solar vitalization. <br/>
                    This form of yoga is a complete...</p>
                </div>
                <div class="clear10"></div>
                <div class="medi-btn col-12 col-sm-12 col-md-12 col-lg-12 text-center rsposition">
                    <button class="btn read_more medi-btn-learn hiddencta">learn MORE</button>
                </div>
              </div>
      
              <div class="col-12 col-sm-12 col-md-12 col-lg-4 article_divall">
                <img class="mx-auto d-block img-fluid" src="././assets/images/healthylifestyle.png">
                <div class="clear10"></div>
                <div class="infor">
                  <div class="clear10"></div>
                  <span> healthy lifestyle</span>
                  <div class="clear10"></div>
                  <p class="ppad">Ayurveda, hygiene, lifestyle and diet are<br/>
                     crucial to good health. To attain good <br/>
                     health, Ayurveda prescribes the daily...</p>
                </div>
                <div class="clear10"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rsposition">
                    <button class="btn read_more medi-btn-learn hiddencta">learn MORE</button>
                </div>
                
              </div>
            </div>
       
       <div class="clear30"></div>
            <div class="row m-0">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="row m-0">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-6 article_divall">
                        <div class="clear20"></div>
                        <img class="mx-auto d-block img-fluid" src="././assets/images/YOGAnew.png">
                        <div class="clear10"></div>
                        <div class="infor">
                          <div class="clear10"></div>
                          <span>Yoga</span>
                          <div class="clear10"></div>
                          <p class="ppad1">Yoga and Ayurveda are inseparable and<br/>
                             connected to each other. Both belong<br/>
                              to the ancient Indian tradition...
                              </p>
                        </div>
                        <div class="clear10"></div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rsposition">
                            <button class="btn read_more medi-btn-learn hiddencta">learn MORE</button>
                        </div>
                      </div>
              
                      <div class=" col-12 col-sm-12 col-md-12 col-lg-6 article_divall">
                          <div class="clear20"></div>
                        <img class="mx-auto d-block img-fluid" src="././assets/images/newpancha.png">
                        <div class="clear10"></div>
                        <div class="infor">
                          <div class="clear10"></div>
                          <span>Panchkarma</span>
                          <div class="clear10"></div>
                          <p class="ppad1">Panchakarma is the word for the<br/>
                             five different procedures used in<br/>
                             Ayurveda which are believed to purify the body.</p>
                        </div>
                        <div class="clear10"></div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rsposition">
                            <button class="btn read_more medi-btn-learn hiddencta">learn MORE</button>
                        </div>
                      </div>
            <!--   
                      <div class="col-12 col-sm-12 col-md-6 col-lg-6 article_div">
                        <img class="mx-auto d-block img-fluid" src="././assets/images/healthylifestyle.png">
                        <div class="clear10"></div>
                        <div class="infor">
                          <div class="clear10"></div>
                          <span> healthy lifestyle</span>
                          <div class="clear10"></div>
                          <p>Ayurveda, hygiene, lifestyle and diet are<br>
                             crucial to good health. To attain good <br>
                             health, Ayurveda prescribes the daily routine and the seasonal regime.</p>
                        </div>
                        <div class="clear10"></div>
                        <button class="btn read_more">learn MORE</button>
                      </div> -->
                    </div>
              </div>
            </div>
            
            </div>
          </div>
        </div>
      </section>
  </section>
<!-- <section class="Yoga_AurvedaSection newbg"> -->
 
<!-- <section class="dosha">
  <div class="dosham">
    <h3>Know your Dosha,<br>
      Know your Body Type</h3>
    <img class="my-3" src="././assets/images/big_border.png">
    <p>A simple test to determine your unique
      psychological temperament based on your
      doshas - Kapha, Pitta & Vata and help you
      make the right decisions for a better living.</p>
    <h4>Find out how balanced<br>
      your Mind and Body are</h4>
    <h5>Take our 3 Minute Dosha Test</h5>
    <div class="form-group">
      <input type="email" class="form-control my_email" placeholder="email id">
      <button class="btn btn-primary mb-2 SignBtn" type="button" data-toggle="modal" data-target="#myModal" (click)="model()">calculate
        now</button>
    </div>

  </div>
</section> -->
<div class="clear30"></div>
<section class="AyurvedicDietContent">
    <div class="container">
        <div class="row m-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row m-0">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 p-0 ahaar-res">
                      <img class="img-fluid suparistyle" src="././assets/images/supari.png">
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6 p-0  AyurvedicDietRightText m-t">
                      <div class="clear"></div>
                      <h1 class="txtalligncenter">Aushadhi</h1>
                      <div class="txtalligncenter mobhidden">
                          <img class="img-fliud onesideicon" src="././assets/images/onesidei.png">
                        </div>
                        <div class="text-center webhidden">
                            <img class="img-fluid" src="././assets/images/big_border.png">
                        </div>
                      <!-- <div class="clear20"></div> -->
                      <!-- <h5 class="txtalligncenter">Herb of the Day</h5> -->
                      <div class="clear10"></div>
                      <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 txtalligncenter padlrn">
                        <span class="subtxtb ">Areca Nut, Betel Nut</span>
                      </div> -->
                      <p class="padright122 txtalligncenter">As per ayurveda, illness or health issues are caused 
                          when our doshas get unbalanced. And hence the 
                          medicines – primarily derived from plants and 
                          other natural substances - combine with aahaar 
                          and vihaar to restore the balance of the doshas. </p>
                      <div class="clear"></div>
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 txtalligncenter">
                          <button class="btn btn-primary mb-2 SignBtn mt-4" routerLink="../mainproductpage" type="button">view zandu product range</button>
                      </div>
                    </div>
              
                  </div>
            </div>
        </div>
      
    </div>
  </section>
<section>
  <div class="container">
    <div class="topping_spac">
      <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 all_benefits pt-3">
        <p class="txtalligncenter">Want to get all the Benefits of <br>
          Ayurveda? Get a Free consultation!</p>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 txtalligncenter padlrn">
            <span class="">Book Your Appointment now in 3 Easy Steps</span>
          </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-6 all_benefits all_benefits2 text-center padlrn">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center padlrn">
            <button routerLink="../patientloginpage" class="btn btn-primary mb-2 SignBtn" type="button">Consult Ayurvedic
              Doctor</button>
        </div>
        <p class="ORTExt txtalligncenter">Or </p>
        <p class="txtalligncenter">
            call 1800 572 8000</p>
      </div>
    </div>
    </div>
  </div>
</section>
<div class="">
  <app-main-footer></app-main-footer>
</div>


<!-- The Modal -->
<div class="modal {{nomodel}}">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body text-center py-5">
        <span class="modeltitle">COMING SOON</span>
        <img class="img-fluid" src="././assets/images/model_border.png">
        <p class="pt-3">Your Dosha Calculator</p>
        <div class="smlltxt pb-4">We’ll Notify You Via Mail</div>
        <button type="button" class="btn closingbtn" data-dismiss="modal" (click)="closed()">OK</button>
      </div>
    </div>
  </div>
</div>