<app-navigation></app-navigation>
<div class="col-12 col-sm-12 col-md-12 col-lg-12 home-top">
        <app-floating></app-floating>
</div>
<div class="clear"></div>
<div class="container">
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <p class="blurtxt txtcenter">Kutki (Picrorhiza kurroa)</p>
          <div class="clear20"></div>
          <p class="txt1 txtcenter">Picrorhiza kurroa or Kutki is a 
              popular herb </p>
              <div class="clear10"></div>
              <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
              <div class="clear20"></div>
              <p class="topptxt txtcenter">Used in the Ayurvedic and Unani system of medicine. Traditionally, Picrorhiza kurroa herb is used to treat a variety of ailments affecting the liver and the respiratory tract, fever, and gastrointestinal problems such as acidity and diarrhoea. </p>
              <div class="clear40"></div>
              <div class="row m-0">
                <div class="col-6 col-am-6 col-md-6 col-lg-6 borderright">
                  <p class="byUStxt">By U.S. News Staff</p>
                </div>
                <div class="col-6 col-am-6 col-md-6 col-lg-6">
                     <label class="byUStxt">Jan 03, 2018 at 7:45 pm</label>
                  </div>
              </div>
              <div class="clear40"></div>
              <p class="paratxt1 txtcenter">What is kutki (Picrorhiza kurroa)?</p>
              <p class="paratxt3 txtcenter">In Greek, “picros” means bitter, and “rhiza” means root. Picrorhiza kurroa or Kutki is a small, perennial herb which belongs to the family Scrophulariaceae. It grows well in cool and moist climate in sandy- clay textured soils.
                  It is found in the Himalayan regions which includes- North and north east part of India, Nepal, Bhutan, West China and South East Tibet. In India, it is found mainly in the Himalayan areas of Uttar Pradesh, Himachal Pradesh, Jammu and Kashmir, Sikkim and Arunachal Pradesh.</p>
              <div class="clear40"></div>
              <p class="paratxt1 txtcenter">Medicinal Properties:</p>
              <p class="paratxt3 txtcenter">The following medicinal properties of Picrorhiza kurroa have been reported:</p>
              <p class="paratxt2 txtcenter">Antioxidant:</p>
              <p class="paratxt3 txtcenter">
                  Picrorhiza kurroa has been found to be as effective antioxidant as superoxide dismutase, metal-ion chelators, and xanthine oxidase inhibitors. 
                  Hepatoprotective: In animal studies, Picrorhiza kurroa has been found to stimulate regeneration of liver cells. It has also been found to have strong anticholestatic (prevent stasis of bile and bile salts) and choleretic (increase bile flow) action.</p>
              <p class="paratxt2 txtcenter">Anti-inflammatory:</p>
              <p class="paratxt3 txtcenter"> Picrorhiza kurroa has been known to have strong anti-inflammatory action. This is mainly due to its constituent apocynin.</p>
              <p class="paratxt2 txtcenter">Antibacterial and antifungal:</p>
              <p class="paratxt3 txtcenter">Picrorhiza kurroa has shown significant activity against a variety of disease-causing fungi such as Candida and bacteria such as Staphylococcus Aureus, E- coli, and Pseudomonas Aeruginosia.</p>
              <p class="paratxt2 txtcenter">Anti-ulcer:</p>
              <p class="paratxt3 txtcenter">Animal studies have shown that ethanolic extracts of Picrorhiza kurroa enhanced healing of gastric ulcers caused by NSAID (common painkillers) medications.</p>
              <div class="clear40"></div>
              <p class="paratxt1 txtcenter"> Medicinal Uses:</p>
              <p class="paratxt3 txtcenter"> Picrorhiza kurroa can be used for the treatment of the following:</p>
              <p class="paratxt2 txtcenter"> 1. Liver damage:</p>
              <p class="paratxt3 txtcenter">The antioxidant properties of Picrorhiza kurroa is useful for preventing damage of the liver due to toxins. In Aryuveda, Kutki is an important constituent of Arogyavardhini, an Ayurvedic preparation for the treatment of liver disorders.</p>
              <p class="paratxt2 txtcenter">2. Viral Hepatitis:</p>
              <p class="paratxt3 txtcenter">
                  Clinical studies indicate that Picrorhiza kurroa is highly effective in the management of viral hepatitis. Taking Picrorhiza kurroa for 12 weeks has been found to have significantly reduced the symptoms of acute viral hepatitis such as nausea, anorexia and general discomfort. </p>
              <p class="paratxt2 txtcenter">3. Asthma/ allergy:</p>
              <p class="paratxt3 txtcenter">
                  Plant extracts of Picrorhiza kurroa have been found to reduce bronchial obstruction and inhibit the activity of histamine, a chemical produced by the immune system, which plays a major role in the pathophysiology of allergy and asthma.</p>
              <p class="paratxt2 txtcenter">
                  4. Vitiligo:</p>
              <p class="paratxt3 txtcenter">
                  Taking Picrorhiza kurroa extracts along with a drug called methoxsalen have been found to be helpful in the treatment of vitiligo (a disease in which there are white patches all over the skin)
                  Traditionally, kutki is used to treat a variety of disorders such as coughs, cold, fever, skin disease, indigestion, liver disease, anaemia, jaundice, hepatitis, and metabolic disorders. It is also used as an appetite stimulant. In Unani medicine, preparations containing Picrorhiza kurroa (Roghane-qust-talakh, an essential oil and majoon-e-murravehulazwah) are used for treating tremors, tetanus and gout.</p>
                  <div class="clear40"></div>
              <p class="paratxt1 txtcenter"> 
                  Side-effects:</p>
              <p class="paratxt3">
                  Root extracts of Picrorhiza kurroa are widely used in India and no adverse effects having been reported till date. In some cases, it may cause mild rash, vomiting, diarrhoea and itching.</p>
              <div class="clear40"></div>
              <p class="paratxt1 txtcenter"> Safety:</p>
              <p class="paratxt3 txtcenter">
                  The typical dosage for adults is 400 to 1500 mg/day. However, the dose may differ according to the age and condition of the person using it. People with the following conditions should take Picrorhiza kurroa with caution:
                  </p>
              <p class="paratxt2 txtcenter">
                  1. Autoimmune disease:</p>
              <p class="paratxt3 txtcenter"> 
                  There is some evidence that Picrorhiza kurroa may increase the activity of the immune system and aggravate the symptoms of autoimmune diseases. Therefore, its use should be avoided by people having such conditions.</p>
                  <p class="paratxt2 txtcenter">
                      2. Diabetes:</p>
                    <p class="paratxt3 txtcenter">Picrorhiza kurroa may lower blood sugar levels in some people. Therefore, people with diabetes, especially those on medications, must monitor their blood sugar levels if they are taking Picrorhiza kurroa extracts.
                      </p>
                      <p class="paratxt3 txtcenter">
                          For any drug and/or herbal products, it is always best to follow the instructions of your healthcare provider regarding the use of Picrorhiza kurroa to attain maximum benefits. 
                          </p>

                          <div class="clear40"></div>
                          <hr/>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 topreads">
            <p class="txt1 txtcenter">Top Reads </p>
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 txtcenter">
                <img class="img-fluid iwidth txtcenter" src="././assets/images/onesideicon.png">
            </div>
            <div class="clear20"></div>
        </div>
        <div class="row m-0">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
            <img src="././assets/images/b-food.png">
            <div class="clear10"></div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <label class="diseasestxt">Digestive Health</label>
            </div>
            <label class="diseasestxt2">14 best & worst foods for your ...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/safron.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">SKIN</label>
              </div>
              <label class="diseasestxt2">Saffron for good health..</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
        </div>
        <div class="clear20"></div>
        <div class="row m-0">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
              <img src="././assets/images/b-food.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">Digestive Health</label>
              </div>
              <label class="diseasestxt2">14 best & worst foods for your ...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center article_div">
                <img src="././assets/images/safron.png">
                <div class="clear10"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <label class="diseasestxt">SKIN</label>
                </div>
                <label class="diseasestxt2">Saffron for good health..</label>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                    <button class="btn read_morenew">READ MORE</button>
                </div>
              </div>
          </div>
          <div class="clear40"></div>
          <hr/>
      </div>
  </div>
  <div class="clear40"></div>
  <div class="row m-0">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <label class="txt1">Related Articles</label>
          <div class="clear10"></div>
          <img class="img-fluid iwidth" src="././assets/images/big_border.png">
          <div class="clear20"></div>
      </div>
      <div class="clear40"></div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
          <img src="././assets/images/awellness.png">
          <div class="clear10"></div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <label class="diseasestxt">wellness</label>
          </div>
          <label class="diseasestxt2">Low calorie diet
              to lose weight...</label>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
              <button class="btn read_morenew">READ MORE</button>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
            <img src="././assets/images/asuryanamaskar.png">
            <div class="clear10"></div>
            <div class="col-12 col-md-12 col-sm-12 col-lg-12 text-center">
                <label class="diseasestxt">healthy food</label>
            </div>
            <label class="diseasestxt2">Food & Activity
                Journal for...</label>
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                <button class="btn read_morenew">READ MORE</button>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center article_div1">
              <img src="././assets/images/plane.png">
              <div class="clear10"></div>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center">
                  <label class="diseasestxt">kids & teens</label>
              </div>
              <label class="diseasestxt2">Young overweight 
                  & Obesity in...</label>
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmposition">
                  <button class="btn read_morenew">READ MORE</button>
              </div>
            </div>
  </div>
  <div class="clear70"></div>
</div>
