<app-navigation *ngIf="showHeader"></app-navigation>
<section class="home-top pt-5"> 
    <app-floating></app-floating>
  <div class="container ">
    <h1 class="main_title">Constipation</h1>
    <h1 class="main_title2">“most common cause of painful defecation”</h1>
    <div class="clear10"></div>
    <div class="HedingMapContentBox col-12 col-lg-9">
        <div class="row">
            <div class="col-lg-3">
              <div class="col-12 col-sm-12 col-lg-12 text-center">
                <img src="././assets/images/ConstationMap.png">
              </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-4 padlrn m-t10">
              <div class="col-12 col-lg-12 text-left padlrn">
                <div class="row">
                  <div class="col-3 col-sm-3 col-lg-4 padrnn  Around50Text2 Around50Text  text-right">
                    <div class="nearly text-right">Nearly 
                    </div>
                    <h1>2%</h1>
                  </div>
                  <div class="col-6 col-sm-6 col-lg-8 m-l-25 padlrn">
                  
                    <div class="row">
                      <div class="col-9 col-md-8 padrn">
                          <div class="text1">of people in India 
                          </div>
                      </div>
                      <div class="col-3 col-md-3 padlrn">
                        <div class="clear10"></div>
                          <div class="BorderBotton"></div>
                      </div>
                    </div>
                     <div class="col-12 col-md-12 col-lg-12 padln">
                        <div class="text1">  suffer from recurrent 
                            or chronic constipation               
                        </div>   
                     </div>
                       
                    </div>
                </div>             
              </div>
            </div>
          
            <div class="col-12 col-sm-12 col-lg-5 col-lg-5 padlrn m-t10">
                <div class="col-12 col-lg-12">
                  <div class="row">
                   
                    <div class="col-3 col-sm-3 col-lg-4 m-t-18 padlrnn text-center text2">
                        <h1 class="padrn text-right">80%</h1>
                        <div class="nearly text-center padrn">People
                          </div>
                    </div> 
                    <div class="col-9 col-sm-9 col-lg-8 Around50Text2 Around50Text padlrn m-l-50">
                      <div class="row">
                        <div class="col-9 col-md-9 col-lg-9 padrn">
                          <div class="text1">with constipation in</div>
                        </div>
                        <div class="col-3 col-md-3 col-lg-3">
                          <div class="clear10"></div>
                            <div class="BorderBotton"></div>
                        </div>
                      </div>
                          <div class="text1">developed countries 
                              use ayurvedic medications 
                              </div>     
                    </div> 
                </div>  
                        <div class="clear"></div>
               
                        
                </div>
              </div>
             
        </div>
      
      
      </div>

    <div class="clear"></div>

    <div class="DibetectSection m-t11">
      <div class="DibeticLeft" (click)="scrollTo('a')">
        <img src="././assets/images/Overview.png">
        <p class="m-0">Overview</p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('b')">
        <img src="././assets/images/SymptomsCauses.png">
        <p class="m-0">Symptoms &amp; Causes</p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('c')">
        <img src="././assets/images/PreventationAndDignosis.png">
        <p class="m-0">Prevention &amp; Diagnosis</p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('d')">
        <img src="././assets/images/AurvedaApproch.png">
        <p class="m-0">Ayurveda Approach</p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('e')">
        <img src="././assets/images/general.png">
        <p class="m-0">Complications</p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('f')">
        <img src="././assets/images/ReletedProducts.png">
        <p class="m-0">Related Products</p>
      </div>
    </div>
  </div>

</section>
<section id="a" class="Yoga_AurvedaSection">
  <div class="container">
    <h1>What is Constipation?</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div>
    <div class="row m-0">
      <div class="Yoga_Ayurveda_RightDiv col-md-6 col-lg-6 imghidden">
        <img class="w-100" src="././assets/images/DhireaLeft.png">
      </div>
      <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-md-12 col-lg-6">
        <h5>The matter of greatest concern for all Indian parents- Did my child eat food properly? And Is he/she passing stools regularly?</h5>
        <div class="clear10"></div>
        <p class="p2txt">If the answer is yes for both, then they are at ease, 
            because for ages, a good appetite, and regular bowel 
            movements has been considered to be the prime 
            indicator of good health.
            Almost everyone has constipation once in their life. 
            Insufficient water and/or fiber intake, faulty food habits 
            having certain medications, lack of exercise- all can 
            contribute to constipation.   
        </p>
        


        <div class="clear10"></div>
        <button routerLink="../constipationRead" class="btn btn-primary mb-2 mt-2 ml-2 SignBtn" type="button">read more</button>
      </div>
    </div>
    <div class="clear"></div>

  </div>
</section>
<section id="b" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms">
  <div class="container">
    <h1>Symptoms of Constipation</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div>
    <p class="text-center HeadingTextSmall">The aggravated vata dosha gives rise to the following preliminary signs of
      constipation:</p>
    <div class="row m-0">
      <div class="Yoga_Ayurveda_RightDiv col-md-6 col-lg-6 imghidden">
        <img class="w-100" src="././assets/images/Symptoms1.png">
      </div>
      <div class="Yoga_Ayurveda_RightDiv Symptopsofpilestext col-md-6 col-lg-6">
        <h5>Preliminary signs of Constipation </h5>
        <div class="clear10"></div>
        <ul>
          <li>Thirst  
          </li>
          <li>  Heaviness in the abdomen (Anaha)</li>
          <li>Lassitude </li>
          <li> Debility </li>
          <li> Burning of food
            </li>
          <li>  Delayed digestion  </li>
          <li>  Loss of appetite (Aruchi) </li>

        </ul>
        <div class="clear10"></div>
        <h5>Symptoms of Constipation according to Ayurveda
        </h5>
        <div class="clear"></div>
        <ul class="ULListNone pl-4">
          <li> The symptoms of constipation according to the
            ayurvedic perspective include the following:

          </li>

        </ul>
        <ul>
          <li>Anorexia </li>
          <li>Abnormal taste in mouth</li>
          <li>  Excessive salivation </li>
          <li> Dark discoloration of the tongue
 
          </li>
          <li>Slow digestion process
          </li>
          <li>Yellowish coloured stools</li>
          <li>   Difficult in the elimination of stool
          </li>
          <li>Excess abdominal bloating, cramps and uneasiness
            </li>
          <li>Loss of appetite</li>
          <li>   Feeling Lethargic
 
          </li>
          <li> Bright red rectal bleeding in case of acute constipation
            </li>
          <li> Nausea and Vomiting
            </li>
          <li>  Weight loss
            </li>
            <li> Headache and dizziness
              </li>
            <li> Dry, small and hard fecal formation

              </li>
        </ul>
        <div class="clear10"></div>
        <button routerLink="../constipationRead" class="btn btn-primary mb-2 mt-2 ml-2 SignBtn" type="button">read more</button>
      </div>
    </div>
    <div class="clear"></div>

  </div>
</section>
<section id="c" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms ActuallyCausesPiles">
  <div class="container">
    <h1>Do you know what actually <br />
      causes Constipation</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div>
    <p class="text-center HeadingTextSmall">According to Ayurveda, constipation occurs due to the predominance of vata
      dosha</p>

    <div class="clear"></div>
    <div class="row m-0 mt-5 rscroll">
      <div class="ActuallyConstipation text-center wscroll">
        <img src="././assets/images/ActuallyCausesConstipation1.png">
        <div class="clear mt-4"></div>
        <span>Insufficient<br />
          Fiber intake
        </span>
      </div>
      <div class="ActuallyConstipation text-center wscroll">
        <img src="././assets/images/ActuallyCausesConstipation2.png">
        <div class="clear mt-4"></div>
        <span>Eating foods<br />
          irregularly
        </span>
      </div>
      <div class="ActuallyConstipation text-center wscroll">
        <img src="././assets/images/ActuallyCausesConstipation3.png">
        <div class="clear mt-4"></div>
        <span>Drinking lots of<br />
          caffeinated drinks
        </span>
      </div>
      <div class="ActuallyConstipation text-center wscroll">
          <img src="././assets/images/ActuallyCausesConstipation4.png">
          <div class="clear mt-4"></div>
          <span>Eating too much<br />
            fatty and spicy foods
          </span>
        </div>
    </div>
    <div class="clear"></div>
    <div class="topping_spac panchkarmaTretment">

        <p>Environmental & Behavioral Factors</p>
  
      </div>
      <div class="row m-0 rscroll">
        <div class="EnvironmentalFactorsLeft1 text-center wscroll">
          <img src="././assets/images/Aging1.png">
          <div class="clear20"></div>
          <span>Aging
          </span>
        </div>
        <div class="EnvironmentalFactorsLeft1 text-center wscroll">
          <img src="././assets/images/Aging2.png">
          <div class="clear20"></div>
          <span>Insomnia
          </span>
        </div>
        <div class="EnvironmentalFactorsLeft1 text-center wscroll">
          <img src="././assets/images/Aging3.png">
          <div class="clear20"></div>
          <span>Walking too <br />
            much on foot
          </span>
        </div>
        <div class="EnvironmentalFactorsLeft1 text-center wscroll">
          <img src="././assets/images/Aging4.png">
          <div class="clear20"></div>
          <span>Suppression of<br />
            natural urges
          </span>
        </div>
        <div class="EnvironmentalFactorsLeft1 text-center wscroll">
          <img src="././assets/images/Aging5.png">
          <div class="clear20"></div>
          <span>Excessive alcohol<br />
            consumption
          </span>
        </div>
      </div>
      <div class="clear10"></div>
      <div class="topping_spac panchkarmaTretment">

          <p>individuals at high risk for constipation
            </p>
    
        </div>
    <div class="clear"></div>
    <div class="row m-0 rscroll">
        <div class="EnvironmentalFactorsLeft12 text-center wscroll">
          <img src="././assets/images/cwomen.png">
          <div class="clear20"></div>
          <span>Women
          </span>
        </div>
        <div class="EnvironmentalFactorsLeft12 text-center wscroll">
          <img src="././assets/images/elderyadults.png">
          <div class="clear20"></div>
          <span>Elderly Adults
          </span>
        </div>
        <div class="EnvironmentalFactorsLeft12 text-center wscroll">
          <img src="././assets/images/obeospeople.png">
          <div class="clear20"></div>
          <span>Obese People
          </span>
        </div>
        <div class="EnvironmentalFactorsLeft12 text-center wscroll">
          <img src="././assets/images/pregnantwomen.png">
          <div class="clear20"></div>
          <span>Pregnant Women</span>
        </div>
      </div>
    <div class="topping_spac">
      <div class="all_benefits pt-3">
        <p>Want to get all the Benefits of <br>
          Ayurveda? Get a Free consultation!</p>
        <span>Book Your Appointment now in 3 Easy Steps</span>
      </div>

      <div class="all_benefits all_benefits2 text-center">
        <button class="btn btn-primary mb-2 SignBtn" type="button" routerLink="../patientloginpage">consult Ayurvedic<br> doctor</button>
        <p class="ORTExt">Or </p>
        <p>call 1800 572 8000</p>
      </div>
    </div>
  </div>
</section>
<div class="clear"></div>
<section class="Yoga_AurvedaSection  artcle text-center">
  <div class="container">
    <div class="small_wrapper mb-4">
      <h1>Constipation & the Doshas </h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div>
      <p class="text-center HeadingTextSmall">According to Ayurveda, constipation occurs due to the predominance of vata dosha.  </p>

      <div class="clear mt-5"></div>
      <div class="text-center rscroll">
        <div class="article_div wscroll">
          <img class="mx-auto d-block img-fluid" src="././assets/images/Kapha.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>
            <span>Kapha</span>
            <div class="clear10"></div>
            <p>Constipation can also be caused by <br /> Kapha dosha imbalance. If there is<br /> excess kapha in the
              bowel,<br /> </p>
          </div>
          <div class="clear10"></div>
          <button routerLink="../constipationRead" class="btn read_more">READ MORE</button>
        </div>

        <div class="article_div wscroll">
          <img class="mx-auto d-block img-fluid" src="././assets/images/Pita.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>
            <span>Pita</span>
            <div class="clear10"></div>
            <p>An aggravated Pita dosha in addition to<br /> vata imbalance, increases heat in the<br /> body leads to
              drying out of the stools </p>
          </div>
          <div class="clear10"></div>
          <button routerLink="../constipationRead" class="btn read_more">READ MORE</button>
        </div>

        <div class="article_div wscroll">
          <img class="mx-auto d-block img-fluid" src="././assets/images/Vata.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>
            <span> Vata</span>
            <div class="clear10"></div>
            <p>According to Ayurveda, constipation occurs<br /> due to the predominance of vata dosha.<br /> People
              with vata body composition are more</p>
          </div>
          <div class="clear10"></div>
          <button routerLink="../constipationRead" class="btn read_more">READ MORE</button>
        </div>
      </div>
    </div>
    <div class="clear mt-4"></div>
    <!-- <div class="dosham_Piles mt-5">
      <h5>Take our 3 Minute Dosha Test</h5>

      <div class="clear10"></div>
      <button class="btn btn-primary mb-2 SignBtn" type="button" data-toggle="modal" data-target="#myModal" (click)="model()">calculate
        now</button>

    </div> -->
    <div class="clear"></div>
    <div class="topping_spac">
      <div class="all_benefits callToGetInTouch pt-3">
        <p><span> Call 1800 572 8000</span> to get in touch with our
          Health Experts & resolve your Health Queries</p>

      </div>

    </div>
  </div>
</section>
<div class="clear40"></div>
<section class="Yoga_AurvedaSection Yoga_AurvedaSymptoms ActuallyCausesPiles">
    <div class="container">
      <h1>Preventions for Constipation</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div>
      <p class="text-center HeadingTextSmall">Incorporating the following do's helps to prevent constipation</p>
      <div class="clear"></div>
      <div class="row m-0 mt-5">
        <div class="col-12 col-lg-12 Margin0_auto">
          <div class="row m-0 mt-5 rscroll">
            <div class="ActuallyCausesLeft1 text-center wscroll">
              <img src="././assets/images/PreventionsforConstipation1.png">
              <div class="clear mt-4"></div>
              <span>Reduce Tobacco<br />
                & Alcohol <br />
                Consumtion
              </span>
            </div>
            <div class="ActuallyCausesLeft1 text-center wscroll">
              <img src="././assets/images/PreventionsforConstipation2.png">
              <div class="clear mt-4"></div>
              <span>Reduce <br />
                consumption<br />
                of Rice, Banana,<br />
                Black Grains
              </span>
            </div>
            <div class="ActuallyCausesLeft1 text-center wscroll">
              <img src="././assets/images/PreventionsforConstipation3.png">
              <div class="clear mt-4"></div>
              <span>Avoid suppressing<br />
                natural urge<br />
                to defecate
  
              </span>
            </div>
            <div class="ActuallyCausesLeft1 text-center wscroll">
              <img src="././assets/images/PreventionsforConstipation4.png">
              <div class="clear mt-4"></div>
              <span>Limit oily <br />
                food intake
              </span>
            </div>
            <div class="ActuallyCausesLeft1 text-center wscroll">
              <img src="././assets/images/PreventionsforConstipation5.png">
              <div class="clear mt-4"></div>
              <span>Avoid late<br />
                Night Sleep
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </section>
<div class="clear40"></div>
<section class="Yoga_AurvedaSection Yoga_AurvedaSymptoms ActuallyCausesPiles">
    <div class="container">
      <h1>Yoga for Constipation</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div>
      <div class="clear"> </div>
      <p class="text-center HeadingTextSmall">Here is the list of some yogic postures to relieve constipation:</p>
      <div class="clear"></div>
      <div class="clear40"></div>
      <div class="row m-0 rscroll">
          <div class="EnvironmentalFactorsLeft12 text-center wscroll">
            <img src="././assets/images/cvaj.png">
            <div class="clear20"></div>
            <span>Vajrasana
            </span>
          </div>
          <div class="EnvironmentalFactorsLeft12 text-center wscroll">
            <img src="././assets/images/bhujangasana.png">
            <div class="clear20"></div>
            <span>Bhujangasana
            </span>
          </div>
          <div class="EnvironmentalFactorsLeft12 text-center wscroll">
            <img src="././assets/images/katichakrasana.png">
            <div class="clear20"></div>
            <span>Katichakrasana
            </span>
          </div>
          <div class="EnvironmentalFactorsLeft12 text-center wscroll">
            <img src="././assets/images/nauk.png">
            <div class="clear20"></div>
            <span>Naukasana</span>
          </div>

          <div class="EnvironmentalFactorsLeft123 text-center webhidden mx-auto wscroll">
            <img src="././assets/images/uttanpadmasana.png">
            <div class="clear20"></div>
            <span>Uttanpadasana</span>
          </div>
          <div class="EnvironmentalFactorsLeft123 text-center webhidden mx-auto wscroll">
              <img src="././assets/images/dhanusrana.png">
              <div class="clear20"></div>
              <span>Dhanurasana</span>
            </div>
            <div class="EnvironmentalFactorsLeft123 text-center webhidden mx-auto wscroll">
                <img src="././assets/images/pran.png">
                <div class="clear20"></div>
                <span>Pranayama</span>
              </div>

        </div>
      <div class="clear"></div>
      <div class="clear20"></div>
      <div class="row m-0 rscroll mobhidden">
          <div class="EnvironmentalFactorsLeft123 text-center mobhidden mx-auto wscroll">
              <img src="././assets/images/uttanpadmasana.png">
              <div class="clear20"></div>
              <span>Uttanpadasana</span>
            </div>
            <div class="EnvironmentalFactorsLeft123 text-center mobhidden mx-auto wscroll">
                <img src="././assets/images/dhanusrana.png">
                <div class="clear20"></div>
                <span>Dhanurasana</span>
              </div>
              <div class="EnvironmentalFactorsLeft123 text-center mobhidden mx-auto wscroll">
                  <img src="././assets/images/pran.png">
                  <div class="clear20"></div>
                  <span>Pranayama</span>
                </div>
      </div>
    </div>
  </section>
<div class="clear40"></div>
<section id="e" class="artcle text-center Yoga_AurvedaSection Yoga_AurvedaSymptoms InspectionSectionDiv ActuallyCausesPiles">
    <div class="container">
      <div class="mb-4">
        <h1>How Constipation is Identified<br />
          in the Human Body </h1>
        <div class="clear"></div>
        <div class="text-center">
          <img src="././assets/images/big_border.png">
        </div>
  
        <div class="clear"></div>
        <div class="text-center mt-4 row rscroll">
          <div class="IdentifiedHumanBody">
            <img class="mx-auto d-block img-fluid" src="././assets/images/ThehumanBody1.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>Stool test <br />&nbsp;</span>
              <div class="clear10"></div>
              <p class="hihb">In this test, a sample of<br /> stool is microscopically ex-<br />amined to determine any <br />disease-causing
                microor-<br />ganisms. It also helps to
  
              </p>
            </div>
            <div class="clear10"></div>
            <button routerLink="../constipationRead" class="btn read_more">READ MORE</button>
          </div>
  
          <div class="IdentifiedHumanBody">
            <img class="mx-auto d-block img-fluid" src="././assets/images/ThehumanBody2.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>Barium Enema <br />&nbsp;</span>
              <div class="clear10"></div>
              <p class="hihb">During this test, an x-ray<br /> is performed to examine <br />the large intestine i.e the <br /> colon
                and therectum. A <br />contrast medium such as </p>
            </div>
            <div class="clear10"></div>
            <button routerLink="../constipationRead" class="btn read_more">READ MORE</button>
          </div>
          <div class="IdentifiedHumanBody">
            <img class="mx-auto d-block img-fluid" src="././assets/images/ThehumanBody3.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>Abdominal <br />
                Examination</span>
              <div class="clear10"></div>
              <p class="hihb">High-frequency ultrasonic<br /> waves are passed through<br /> the abdomen to get the de-<br />tailed
                images of the inter-<br />nal organs such as liver</p>
            </div>
            <div class="clear10"></div>
            <button routerLink="../constipationRead" class="btn read_more">READ MORE</button>
          </div>
          <div class="IdentifiedHumanBody">
            <img class="mx-auto d-block img-fluid" src="././assets/images/ThehumanBody4.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>Complete<br />
                blood count</span>
              <div class="clear10"></div>
              <p class="hihb">A sample of blood is col-<br />lected to determine the<br /> blood cell count. Any al-<br />terations in
                the number of <br />blood cells may imply </p>
            </div>
            <div class="clear10"></div>
            <button routerLink="../constipationRead" class="btn read_more">READ MORE</button>
          </div>
          <div class="IdentifiedHumanBody">
            <img class="mx-auto d-block img-fluid" src="././assets/images/ThehumanBody5.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>Sigmoidoscopy <br />&nbsp;</span>
              <div class="clear10"></div>
              <p class="hihb">During this test, a flexible,<br /> long and narrow tube with<br /> a light and camera, called a<br />
                sigmoidoscope is used to<br /> look inside the rectum and</p>
            </div>
            <div class="clear10"></div>
            <button routerLink="../constipationRead" class="btn read_more">READ MORE</button>
          </div>
  
        </div>
      </div>
    </div>
  </section>
<div class="clear40"></div>

<section id="d" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms ActuallyCausesPiles">
  <div class="container">
    <h1>Ayurvedic Approach to Manage Constipation</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div>
    <p class="text-center HeadingTextSmall">The treatment aims to avoid the causative factors (nidanparivarjan), to
      pacify the aggravated doshas <br />
      and restore electrolyte levels. Ayurvedic therapy consists of both herbal therapy and ayurvedic drug therapy.
    </p>

    <div class="clear mt-5"></div>
    <div class="row m-0">
      <div class="col-12 col-lg-12 text-center">
        <img src="././assets/images/Ayurvedicdrugtherapy.png">
        <div class="clear20"></div>
        <span>Ayurvedic herbal & drug therapy
        </span>
      </div>

    </div>
    <div class="clear"></div>
    <div class="clear30"></div>
    <div class="col-12 col-lg-12 text-center lfst-box">
      <div class="clear10"></div>
        <label class="lyfestyle-mgmt">Lifestyle Management</label>
      </div>
      <div class="clear40"></div>
      <div class="row rscroll">
        <div class="col-8 col-sm-6 col-md-4 col-lg-3 text-center ml-auto wscroll">
          <img src="././assets/images/ex.png">
          <div class="clear20"></div>
          <label class="lyfestyle-mgmt">Exercise</label>
        </div>
       
          <div class="col-6 col-sm-6 col-md-4 col-lg-3 mr-auto text-center wscroll">
              <img src="././assets/images/yog.png">
              <div class="clear20"></div>
              <label class="lyfestyle-mgmt">yoga</label>
            </div>
            
      </div>

  </div>
</section>
<!-- <section class="dosha mt-5">  
  <div class="clear"></div>
  <div class="container">
  <div class="dosham">

    <p>People who have recovered recently and those who are
      prone to diarrhea follow the adaptations in lifestyle,
      to avoid the recurrence of the disease. The following
      changes in the daily routine are helpful in individuals
      suffering from frequent diarrhoea:
    </p>
    <ul class="DrugUl mt-4">
      <li>
        -&nbsp;&nbsp;&nbsp; Wake up early in the morning, before the sunrise <br />
        &nbsp;&nbsp;&nbsp; to pacify the vata dosha.
      </li>
      <li> -&nbsp;&nbsp;&nbsp; Drink one or two glasses of lukewarm water on  <br />
        &nbsp;&nbsp;&nbsp; an empty stomach to help in healthy elimination
      </li>
      <li> -&nbsp;&nbsp;&nbsp; Consume freshly cooked foods
      </li>
      <li> -&nbsp;&nbsp;&nbsp; Cleaning surroundings on a daily basis</li>
      <li>-&nbsp;&nbsp;&nbsp; Wash hands before every meal
      </li>
      <li>-&nbsp;&nbsp;&nbsp; Follow a regular exercise regime
      </li>
    </ul>
  </div> 
  <div class="clear20"></div>
  
  <div class="clear"></div>
</div> 
<div class="clear"></div>
</section> -->
<section class="HomeDisplayNone">
  <div class="container">
      <div class="Yoga_AurvedaSection Yoga_AurvedaSymptoms HomeRemedies HomeRemedies2">


          <div class="mb-4">
            <h1>Home Remedies </h1>
            <div class="clear"></div>
            <div class="text-center">
              <img src="././assets/images/big_border.png">
            </div>
            <div class="shadoo mx-0 mt-5 rscroll">
              <div class="card tab_card mx-0 small_div BorderradiusLeft wscroll">
                <div class=" BorderradiusLeft card-body {{tabs[0].active}}" (click)="openCity(0)">
                  <div class="border_div">
                    <span> sesame seeds </span>
                  </div>
                </div>
              </div>
              <div class="card tab_card mx-0 wscroll">
                <div class="card-body {{tabs[1].active}}" (click)="openCity(1)">
                  <div class="border_div">
                    <span> unripe bananas</span>
                  </div>
                </div>
              </div>
              <div class="card tab_card mx-0 CarretDiv wscroll">
                <div class=" BorderradiusRight card-body CarretDiv2  {{tabs[2].active}} " (click)="openCity(2)">
                  <div class="border_div pt-0">
                    <span> buttermilk & Water</span>
                  </div>
                </div>
              </div>
              <div class="card tab_card mx-0 BorderradiusRight wscroll">
                <div class="card-body  {{tabs[3].active}} " (click)="openCity(3)">
                  <div class="border_div">
                    <span> UNRIPE pear</span>
                  </div>
                </div>
              </div>
              <div class="card tab_card mx-0 BorderradiusRight wscroll">
                <div class=" BorderradiusRight  card-body  {{tabs[4].active}} " (click)="openCity(4)">
                  <div class="border_div HiddenBorder">
                    <span> carrots & ghee</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div class="{{tabs[0].tabcontent}} p-0 TabContentBox paddingTabContentDiv BorderRadiusDiv bordertop">
      
            <div class="tab1ContentBox">
              <div class="row">
                <div class="col-12 col-lg-6 mt-4">
                  <p class="herbof_text herbof_text3 mt-5">Consume finely grind sesame<br /> seeds with lukewarm water and<br />
                    honey.
                  </p>
                </div>
                <div class="col-12 col-lg-6">
                  <img class="w-100" src="././assets/images/SesameSeeds.png">
                </div>
              </div>
      
      
              <div class="clear20"></div>
      
            </div>
      
          </div>
      
          <div class="{{tabs[1].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
      
              <div class="tab1ContentBox">
                  <div class="row">
                    <div class="col-12 col-lg-6 mt-4">
                      <p class="herbof_text herbof_text3 mt-5">Consume finely grind sesame<br /> seeds with lukewarm water and<br />
                        honey.
                      </p>
                    </div>
                    <div class="col-12 col-lg-6 imghidden">
                      <img class="w-100" src="././assets/images/SesameSeeds.png">
                    </div>
                  </div>
          
          
                  <div class="clear20"></div>
          
                </div>
          
          </div>
      
          <div class="{{tabs[2].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
      
              <div class="tab1ContentBox">
                  <div class="row">
                    <div class="col-12 col-lg-6 mt-4">
                      <p class="herbof_text herbof_text3 mt-5">Consume finely grind sesame<br /> seeds with lukewarm water and<br />
                        honey.
                      </p>
                    </div>
                    <div class="col-12 col-lg-6 imghidden">
                      <img class="w-100" src="././assets/images/SesameSeeds.png">
                    </div>
                  </div>
          
          
                  <div class="clear20"></div>
          
                </div>
          
      
          </div>
      
          <div class="{{tabs[3].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
      
              <div class="tab1ContentBox">
                  <div class="row">
                    <div class="col-12 col-lg-6 mt-4">
                      <p class="herbof_text herbof_text3 mt-5">Consume finely grind sesame<br /> seeds with lukewarm water and<br />
                        honey.
                      </p>
                    </div>
                    <div class="col-12 col-lg-6 imghidden">
                      <img class="w-100" src="././assets/images/SesameSeeds.png">
                    </div>
                  </div>
                  <div class="clear20"></div>
                </div>
          </div>
          <div class="{{tabs[4].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">
              <div class="tab1ContentBox">
                  <div class="row">
                    <div class="col-12 col-lg-6 mt-4">
                      <p class="herbof_text herbof_text3 mt-5">Consume finely grind sesame<br /> seeds with lukewarm water and<br />
                        honey.
                      </p>
                    </div>
                    <div class="col-12 col-lg-6 imghidden">
                      <img class="w-100" src="././assets/images/SesameSeeds.png">
                    </div>
                  </div>
                  <div class="clear20"></div>
                </div>
          </div>
        </div>  
  </div>
</section>
<section class="Yoga_AurvedaSection Yoga_AurvedaSymptoms ActuallyCausesPiles">
    <div class="container">
      <h1>Complications in Constipation</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div>
      <p class="text-center HeadingTextSmall">Constipation is not a very serious problem, but if you are experiencing it
        for a very long time then the following health issues may set-in:</p>
      <div class="row m-0">
        <div class="Yoga_Ayurveda_RightDiv col-md-6 col-lg-6">
          <img class="w-100" src="././assets/images/ComplicationDhariya.png">
        </div>
        <div class="Yoga_Ayurveda_RightDiv col-md-6 col-lg-6">
  
          <div class="clear10"></div>
          <ul class="AnaemiaBG ThirstUl">
            <li>Hernia
            </li>
            <li>Rectal prolapse
            </li>
            <li>Bowel obstruction</li>
            <li>Haemorrhoids
            </li>
            <li>Irritable bowel syndrome
            </li>
            <li>Syncope</li>
          </ul>
          <div class="clear10"></div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  
  </section>
<div class="clear40"></div>
<section id="f" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms ActuallyCausesPiles RelatedProductMt">
  <div class="deal_area container">
    <div class=" mb-4">
      <h1>Related Products </h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">

      </div>
      <div class="clear"></div>
      <div class="row mt-5" *ngIf="visibleCategory.length!=0">
      
            <div class="col-12 col-sm-4 col-md-4 col-lg-4 m-t10"  *ngFor="let data of visibleCategory">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 Product_div tab-h text-center padlrn" *ngIf="visibleCategory!=''">
                  <div class="clear20"></div>
                  <div class="WhiteBox">
                    <div (click)="getProductDetails(data.id)" >
                        <img src="{{data.imageUrl}}" width="199" height="194">
                        <div class="clear10"></div>
                        <label class="zl-text cursor">{{data.name}}</label>
                    </div>
                  </div>
            <br>


            <div class="row">
              <div class="text-center col-6 col-sm-6 col-md-6 col-lg-6 ">
                <label class="">
                  <label class="zl-text1">&#8377;</label>
                  
                  <label class="zl-text12">{{data.selling}}</label>
                </label>
              </div>
              <div class=" col-6 col-sm-6 col-md-6 col-lg-6 text-left">
                <div class="product_img">
                  <div class="clear10"></div>
                  <div class="order-margin-top2">
                    <i *ngIf="qtyP!=0" class="fa" (click)="reduce(data)"><img src="././assets/images/SpinnerMinus.png"></i>&nbsp;
                    <input [(ngModel)]="data.qty" class="input-spinner" >&nbsp;
                    <i class="fa" (click)=" add(data)"><img src="././assets/images/SpinnerPluse.png"></i>
                  </div>
                </div>
              </div>
            </div>
           
            <div class="clear10"></div>
           
            <div class="row">
                <!-- <div class="col-6 col-lg-12 text-center rmpositionnew">
                    <div class="clear20"></div>
                    <button class="btn  read_morerp AddToCartBtn" (click)="addToCart(qtyP, data.id)" type="button">add
                        to cart</button>
                
                </div>  -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center rmpositionnew">
                  <div class="clear20"></div>
                  <button class="btn  read_morerp AddToCartBtn" (click)="addToCart(data)" type="button">add
                      to cart</button>
                
              </div> 
                </div>
            <div class="clear20"></div>
          </div>
        </div>
      </div>
      <div  class="row " *ngIf="visibleCategory.length==0">
        <div class="col-12 col-lg-12 text-center">
            <div class="clear20"></div>
            <h6>No Products Found...</h6>
        </div> 
      
      </div>
    </div>
    <div class="text-center" *ngIf="visibleCategory.length!=0">
      <!-- <button class="btn btn-primary mb-2 mt-4  SignBtn" type="button" routerLink="../mainproductpage">explore all products</button> -->
      <button class="btn read_morerp" routerLink="../mainproductpage">explore all products</button> 
    </div>
  </div>
</section>
<div class="clear"></div>

<div class="clear"></div>


<!-- <section class="artcle text-center Yoga_AurvedaSection Yoga_AurvedaSymptoms ActuallyCausesPiles">
  <div class="container">
    <div class="small_wrapper mb-4">
      <h1>Articles </h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div>
      <div class="clear"></div>
      <div class="text-center rscroll">
        <div class="article_div wscroll">
          <img class="mx-auto d-block img-fluid" src="././assets/images/safron.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>

            <div class="clear10"></div>
            <p class="smallTextArticles m-0">skin</p>
            <p class="SaffronText">Saffron for<br />
              good health..</p>
          </div>
          <div class="clear10"></div>
          <button routerLink="../constipationRead" class="btn read_more">READ MORE</button>
        </div>

        <div class="article_div wscroll">
          <img class="mx-auto d-block img-fluid" src="././assets/images/food.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>

            <div class="clear10"></div>
            <p class="smallTextArticles m-0">YOGA FOR PAIN</p>
            <p class="SaffronText">14 best & worst<br /> foods for your ...</p>
          </div>
          <div class="clear10"></div>
          <button routerLink="../constipationRead" class="btn read_more">READ MORE</button>
        </div>

        <div class="article_div wscroll">
          <img class="mx-auto d-block img-fluid" src="././assets/images/health.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>

            <div class="clear10"></div>
            <p class="smallTextArticles m-0">PRANAYAMA</p>
            <p class="SaffronText">14 best & worst<br /> foods for your ...</p>
          </div>
          <div class="clear10"></div>
          <button routerLink="../constipationRead" class="btn read_more">READ MORE</button>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="topping_spac">
      <div class="all_benefits pt-3">
        <p>Want to get all the Benefits of <br>
          Ayurveda? Get a Free consultation!</p>
        <span>Book Your Appointment now in 3 Easy Steps</span>
      </div>

      <div class="all_benefits all_benefits2 text-center">
        <button class="btn btn-primary mb-2 SignBtn" type="button" routerLink="../patientloginpage">book appointment</button>
        <p class="ORTExt">Or </p>
        <p>call 1800 572 8000</p>
      </div>
    </div>
  </div>
</section> -->
<div class="">
  <app-main-footer></app-main-footer>
</div>