<app-navigation *ngIf="showHeader"></app-navigation>
<section class="home-top pt-5"> 
    <app-floating></app-floating>
  <div class="container ">
    <h1 class="main_title">Piles</h1>
    <h1 class="main_title2">“The most common condition that stops you
      from sitting comfortably on your bottom”</h1>

    <div class="clear10"></div>
    <div class="HedingMapContentBox col-12 col-lg-6">
      <div class="MapLeft">
        <img src="././assets/images/PilesMap.png">

      </div>
      <div class="MapLeft2">
        <div class="Around50Text">
          <p>Around </p>
          <h1>50%</h1>

        </div>
        <div class="Around50Text2 Around50Text">
          <p class="txtal">of the population are affected
            by Piles, atleast once during
            their entire lifespan. </p>


        </div>
        <div class="clear10"></div>
        <div class="BorderBotton"></div>
        <div class="clear30"></div>
      </div>
    </div>


    <div class="clear"></div>

    <div class="DibetectSection">
      <div class="DibeticLeft" (click)="scrollTo('Overview')">
        <img src="././assets/images/noun-health.png">
        <p class="m-0">Overview</p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('SymptomsCauses')">
        <img src="././assets/images/noun-medical.png">
        <p class="m-0">Symptoms &amp; Causes  </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('PreventionDiagnosis')" >
        <img src="././assets/images/noun-bacteria.png">
        <p class="m-0"> Prevention &amp; Diagnosis </p>
      </div>
      <div class="DibeticLeft"  (click)="scrollTo('AyurvedaApproach')">
        <img src="././assets/images/noun-herbal-medicine.png">
        <p class="m-0"> Ayurveda Approach </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('Complications')" >
        <img src="././assets/images/noun-healt.png">
        <p class="m-0"> Complications </p>
      </div>
      <div class="DibeticLeft" (click)="scrollTo('RelatedProducts')">
          <img src="././assets/images/noun-medicine10.png">
          <p class="m-0">    Related Products </p>
        </div>
    
  
    </div>
  </div>

</section>
<section class="Yoga_AurvedaSection" id="Overview">
  <div class="container">
    <h1>What is Piles?</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div>
    <div class="row m-0">
      <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-lg-6 col-md-12 hideimg">
        <img class="w-100" src="././assets/images/PilesOlderImg.png">
      </div>
      <div class="Yoga_Ayurveda_RightDiv col-12 col-sm-12 col-lg-6 col-md-12 txtaligncenter">
        <h5 class="txtpadr">Piles is a condition where the veins of the anus and lower rectum get inflamed and swollen. </h5>
        <div class="clear10"></div>
        <p class="hideimg txtpadr">On the basis of location, piles are of two types</p>

        <div class="row rscroll">
          <div class="col-8 col-sm-6 col-md-6 col-sm-4 text-center wscroll">
            <img src="././assets/images/InternalPiles.png">
            <div class="clear10"></div>
            <span>Internal piles: Located <br />
              above the opening <br />
              of the anus
            </span>
          </div>
          <div class="col-8 col-sm-6 col-md-6 text-center wscroll">
            <img src="././assets/images/externalpiles.png">
            <div class="clear10"></div>
            <span>External piles: Located <br>
                at the outside edge <br>
                of the anus 
                
            </span>
          </div>
        </div>
        <div class="clear10"></div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 txtaligncenter padlrn">
            <button class="btn btn-primary mb-2 mt-4 ml-2 SignBtn" type="button" routerLink="../PillsRead">read more</button>
        </div>
      </div>
    </div>
    <div class="clear"></div>

  </div>
</section>
<section  id="SymptomsCauses" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms">
  <div class="container">
    <h1>Symptoms of Piles</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div>
    <p class="text-center HeadingTextSmall txtpadr">According to Ayurveda, the following symptoms become apparent</p>
    <div class="row m-0">
      <div class="Yoga_Ayurveda_RightDiv col-sm-6">
        <img class="img-fluid" src="././assets/images/Symptoms.png">
      </div>
      <div class="Yoga_Ayurveda_RightDiv Symptopsofpilestext col-sm-6">
        <h5>Symptoms of Piles </h5>
        <div class="clear10"></div>
        <ul>
          <li>Fleshy swelling at the anus</li>
          <li>Obstruction to the passage of the gases
          </li>
          <li>Constipation</li>
          <li>Pain and/ or bleeding while passing stools
          </li>
          <li>Decreased appetite </li>
        </ul>
        <div class="clear10"></div>
      </div>
    </div>
    <div class="clear"></div>

  </div>
</section>
<section id="PreventionDiagnosis" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms ActuallyCausesPiles">
  <div class="container">
    <h1>Do you know what actually<br />
      causes Piles</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div>
    <p class="text-center HeadingTextSmall txtpadr">Piles occur when the digestive fire (Agni) becomes abnormal or gets
      reduced, which may occur
      due to improper diet and lifestyle. <br />
      Disturbances in the digestive fire (jatharagni), impairs the balance of tridoshas(Vata, Pitta and kapha), mainly
      Vata Dosha <br />
      and this leads to the development of piles in the guda region (place for accommodation and elimination of the
      faeces).</p>

    <div class="clear"></div>
    <div class="row m-0 mt-5">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row rscroll">
      <div class="col-8 col-sm-6 col-lg-3 wscroll text-center">
        <img src="././assets/images/ActuallyCauses_1.png">
        <div class="clear mt-4"></div>
        <span>Spicy & fried <br />
          food
        </span>
      </div>
      <div class="col-8 col-sm-6 col-lg-3 wscroll text-center">
        <img src="././assets/images/ActuallyCauses_2.png">
        <div class="clear mt-4"></div>
        <span>Sitting or standing<br />
          for long durations
        </span>
      </div>
      <div class="col-8 col-sm-6 col-lg-3 wscroll text-center">
        <img src="././assets/images/ActuallyCauses_3.png">
        <div class="clear mt-4"></div>
        <span>Sitting constantly <br />
          on hard surface

        </span>
      </div>
      <div class="col-8 col-sm-6 col-lg-3 wscroll text-center">
        <img src="././assets/images/ActuallyCauses_4.png">
        <div class="clear mt-4"></div>
        <span>Suppressing the <br />
          urge to defecate

        </span>
      </div>
      </div>
      </div>
    </div>


    <!-- <div class="text-center my-4 access-icons">

      <div class="row mx-auto my-auto">
      <div id="recipeCarousel" class="carousel slide w-100 mt-3" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
      
      <div class="carousel-item active">
      
       <div class="row" *ngIf="isDesktop">
      
      <div class="col-md-3 col-12">     
      <div class="card">
        <img class="card-img-top img-fluid" src="./assets/images/{{carouselarr2[DImageIndex].imageURL}}" alt="Card image">
        <div class="card-body">
          <p class="card-text">{{carouselarr2[DImageIndex].cardText}}</p>
        </div>
      </div>
      </div>
      <div class="col-md-3 col-12">     
      <div class="card">
        <img class="card-img-top img-fluid" src="./assets/images/{{carouselarr2[DImageIndex+1].imageURL}}" alt="Card image">
        <div class="card-body">
          <p class="card-text">{{carouselarr2[DImageIndex+1].cardText}}</p>
        </div>
      </div>
      </div>
      
      <div class="col-md-3 col-12">       
      <div class="card">
        <img class="card-img-top img-fluid" src="./assets/images/{{carouselarr2[DImageIndex+2].imageURL}}" alt="Card image">
        <div class="card-body">
          <p class="card-text">{{carouselarr2[DImageIndex+2].cardText}}</p>
        </div>
      </div>
      </div>
      
      <div class="col-md-3 col-12">       
      <div class="card">
        <img class="card-img-top img-fluid" src="./assets/images/{{carouselarr2[DImageIndex+3].imageURL}}" alt="Card image">
        <div class="card-body">
          <p class="card-text">{{carouselarr2[DImageIndex+3].cardText}}</p>
        </div>
      </div>
      </div>
      </div> 
      
      <div class="row" *ngIf="isMobile">
      
        <div class="col-12">      
        <div class="card">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center imgmobr">
              <img class="card-img-top img-fluid" src="./assets/images/{{carouselarr2[DImageIndex].imageURL}}" alt="Card image">
          </div>
          <div class="card-body">
            <p class="rslideres">{{carouselarr2[DImageIndex].cardText}}</p>
          </div>
        </div>
        </div>
        </div>
       </div>
       </div>
                <a class="carousel-control-prev" (click)="previousSlide()">
                    <span class="carousel-control-prev-icon" style="background-color:black" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" (click)="nextSlide()">
                    <span class="carousel-control-next-icon" style="background-color:black;"  aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
      </div> -->
      
      




    <div class="clear"></div>
    <div class="topping_spac">
      <div class="all_benefits pt-3">
        <p class="txtpadr">Want to get all the Benefits of <br>
          Ayurveda? Get a Free consultation!</p>
        <span>Book Your Appointment now in 3 Easy Steps</span>
      </div>

      <div class="all_benefits all_benefits2 text-center">
        <button class="btn btn-primary mb-2 SignBtn" type="button" routerLink="../patientloginpage">Consult ayurvedic 
          doctor</button>
        <p class="ORTExt">Or </p>
        <p>call 1800 572 8000</p>
      </div>
    </div>
  </div>
</section>
<div class="clear"></div>
<section class="Yoga_AurvedaSection  artcle text-center doshas">
  <div class="container">
    <div class="small_wrapper mb-4">
      <h1>Piles & the Doshas </h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div>
      <p class="text-center HeadingTextSmall txtpadr">The causes or nidanas, as mentioned above, leads to derangements in the
        digestive
        fire(jatharagni) which leads to tridosha imbalances, especially vata dosha. </p>

      <div class="clear"></div>
      <div class="text-center rscroll">
        <div class="article_div wscroll">
          <img class="mx-auto d-block img-fluid" src="././assets/images/Kapha.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>
            <span>Kapha</span>
            <div class="clear10"></div>
            <p class="txtpadr">On the basis of the character of bleeding, piles is classified as Non-bleeding Piles :
              Occur due to impairment of Vata and Kapha Dosha</p>
          </div>
          <div class="clear10"></div> 
          <div class="clear5"></div>
          <button class="btn read_more" routerLink="../PillsRead" (click)="setNav('Kapha')">READ MORE</button>
        </div>

        <div class="article_div wscroll">
          <img class="mx-auto d-block img-fluid" src="././assets/images/Pita.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>
            <span>Pita</span>
            <div class="clear10"></div>
            <p>On the basis of the character of
              bleeding, piles is classified as Bleeding Piles : Occur due to impairment of
              Rakta(blood) and Pita Dosha</p>
          </div>
          <div class="clear10"></div>
          <button class="btn read_more" routerLink="../PillsRead" (click)="setNav('Kapha')">READ MORE</button>
        </div>

        <div class="article_div wscroll">
          <img class="mx-auto d-block img-fluid" src="././assets/images/Vata.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>
            <span> Vata</span>
            <div class="clear10"></div>
            <p>On the basis of the character of bleeding, piles is classified as Non-bleeding Piles :
              Occur
              due to impairment of Vata and Kapha Dosha</p>
          </div>
          <div class="clear10"></div>
          <button class="btn read_more" routerLink="../PillsRead" (click)="setNav('Kapha')">READ MORE</button>
        </div>
      </div>

      <!-- <div class="text-center my-4 webhidden">

          <div class="row mx-auto my-auto">
          <div id="recipeCarousel" class="carousel slide w-100 mt-3" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
          
          <div class="carousel-item active">
          
           <div class="row" *ngIf="isDesktop">
          
          <div class="col-md-3 col-12">     
          <div class="card">
              <img class="card-img-top" src="./assets/images/{{carouselarr3[pvkDImageIndex].imageURL}}" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">{{carouselarr3[pvkDImageIndex].cardTitle}}</h4>
                <p class="card-text">{{carouselarr3[pvkDImageIndex].cardText}}</p>
                <div class="clear10"></div> 
                <div class="clear5"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <button class="btn read_more" routerLink="../PillsRead" (click)="setNav('Kapha')">READ MORE</button>
                </div>
              </div>
          </div>
          </div>
          <div class="col-md-3 col-12">     
          <div class="card">
            <img class="card-img-top img-fluid" src="./assets/images/{{carouselarr3[pvkDImageIndex+1].imageURL}}" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">{{carouselarr3[pvkDImageIndex].cardTitle}}</h4>
                <p class="card-text">{{carouselarr3[pvkDImageIndex].cardText}}</p>
                <div class="clear10"></div> 
                <div class="clear5"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <button class="btn read_more" routerLink="../PillsRead" (click)="setNav('Kapha')">READ MORE</button>
                </div>
              </div>
          </div>
          </div>
          
          <div class="col-md-3 col-12">       
          <div class="card">
            <img class="card-img-top img-fluid" src="./assets/images/{{carouselarr3[pvkDImageIndex+2].imageURL}}" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">{{carouselarr3[pvkDImageIndex].cardTitle}}</h4>
                <p class="card-text">{{carouselarr3[pvkDImageIndex].cardText}}</p>
                <div class="clear10"></div> 
                <div class="clear5"></div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                    <button class="btn read_more" routerLink="../PillsRead" (click)="setNav('Kapha')">READ MORE</button>
                </div>
              </div>
          </div>
          </div>
          </div> 
          
          <div class="row" *ngIf="isMobile">
          
            <div class="col-12">      
            <div class="card">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center imgmobr">
                  <img class="card-img-top img-fluid" src="./assets/images/{{carouselarr3[pvkDImageIndex].imageURL}}" alt="Card image">
              </div>
              <div class="card-body">
                  <h4 class="card-title">{{carouselarr3[pvkDImageIndex].cardTitle}}</h4>
                  <p class="card-text">{{carouselarr3[pvkDImageIndex].cardText}}</p>
                  <div class="clear10"></div> 
                  <div class="clear5"></div>
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                      <button class="btn read_more" routerLink="../PillsRead" (click)="setNav('Kapha')">READ MORE</button>
                  </div>
                </div>
            </div>
            </div>
            </div>
           </div>
           </div>
                    <a class="carousel-control-prev" (click)="previousSlide()">
                        <span class="carousel-control-prev-icon" style="background-color:black" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" (click)="nextSlide()">
                        <span class="carousel-control-next-icon" style="background-color:black;"  aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
          </div> -->
    </div>
    <div class="clear mt-4"></div>
    <!-- <div class="dosham_Piles mt-5">
      <h5>Take our 3 Minute Dosha Test</h5>

      <div class="clear10"></div>
      <button class="btn btn-primary mb-2 SignBtn" type="button" data-toggle="modal" data-target="#myModal" (click)="model()">calculate
        now</button>

    </div> -->
    <div class="clear"></div>
    <div class="topping_spac">
      <div class="all_benefits callToGetInTouch pt-3">
        <p><span> Call 1800 572 8000</span> to get in touch with our
          Health Experts & resolve your Health Queries</p>

      </div>

    </div>
  </div>
</section>
<div class="clear40"></div>
<section  class="Yoga_AurvedaSection Yoga_AurvedaSymptoms ActuallyCausesPiles PreventionsSection">
    <div class="container">
      <h1>Preventions for Piles</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div>
      <div class="clear"></div>
      <div class="row m-0 mt-6">
        <div class="col-12 col-lg-5 Margin0_auto">
  
  
          <div class="row m-0 rscroll">
            <div class="col-8 col-sm-6 col-lg-6 text-center wscroll">
              <img src="././assets/images/EatHighFibercontentsFood.png">
              <div class="clear20"></div>
              <span>Eat High Fiber<br />
                contents Food
  
              </span>
            </div>
            <div class="col-8 col-sm-6 col-lg-6 text-center wscroll">
              <img src="././assets/images/Sufficientintakefluids.png">
              <div class="clear20"></div>
              <span>Sufficient intake <br />
                of Fluids
  
              </span>
            </div>
  
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </section>
  
  <section  class="Yoga_AurvedaSection Yoga_AurvedaSymptoms ActuallyCausesPiles PreventionsSection">
      <div class="container">
        <h1>Yoga for Piles</h1>
        <div class="clear"></div>
        <div class="text-center">
          <img src="././assets/images/big_border.png">
        </div>
        <div class="clear"></div>
        <div class="row m-0 mt-5">
          <div class="col-12 col-lg-12 Margin0_auto">
    
    
            <div class="row m-0 rscroll">
              <div class="div1 text-center wscroll">
                <img src="././assets/images/tadsana.png">
                <div class="clear20"></div>
                <span>Tadasana
                </span>
              </div>
              <div class="div1 text-center wscroll">
                <img src="././assets/images/vipartika.png">
                <div class="clear20"></div>
                <span>Vipartika karini
                </span>
              </div>
              <div class="div1 text-center wscroll">
                  <img src="././assets/images/sarvangasana.png">
                  <div class="clear20"></div>
                  <span>Sarvangasana 
                  </span>
              </div>
              <div class="div1 text-center wscroll">
                  <img src="././assets/images/shirshashna.png">
                  <div class="clear20"></div>
                  <span>Shirshasana  
                  </span>
              </div>
              <div class="div1 text-center wscroll">
                  <img src="././assets/images/pavanmuktasana.png">
                  <div class="clear20"></div>
                  <span>Pavanmukthasana  
                  </span>
              </div>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </section>
<section class="artcle text-center Yoga_AurvedaSection Yoga_AurvedaSymptoms InspectionSectionDiv ActuallyCausesPiles IdentifiedSection">
    <div class="container">
      <div class="small_wrapper mb-4">
        <h1>How Piles is Identified<br/>
            in the Human Body </h1>
        <div class="clear"></div>
        <div class="text-center">
          <img src="././assets/images/big_border.png">
        </div>
        <p class="text-center HeadingTextSmall hideimg txtpadr">The causes or nidanas, as mentioned above, leads to derangements in the digestive
          fire(jatharagni) which leads to tridosha imbalances, especially vata dosha. </p>
  
        <div class="clear"></div>
        <div class="text-center mt-4 rscroll">
          <div class="article_div wscroll">
            <img class="mx-auto d-block img-fluid HumanImg" src="././assets/images/inspection.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>Inspection</span>
              <div class="clear10"></div>
              <p class="txtpadr">Visual inspection of the anorectal region...
               </p>
            </div>
            <div class="clear10"></div>
            <button class="btn rmposition read_more" routerLink="../PillsRead" (click)="setNav('Identified')">READ MORE</button>
          </div>
  
          <div class="article_div wscroll">
            <img class="mx-auto d-block img-fluid HumanImg"  src="././assets/images/pulpation.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span>Palpation</span>
              <div class="clear10"></div>
              <p class="txtpadr"> Palpation helps in detecting the piles which are... </p>
            </div>
            <div class="clear10"></div>
            <button class="btn rmposition read_more" routerLink="../PillsRead" (click)="setNav('Identified')">READ MORE</button>
          </div>
  
          <div class="article_div wscroll">
            <img class="mx-auto d-block img-fluid HumanImg" src="././assets/images/interrogation.png">
            <div class="clear10"></div>
            <div class="infor">
              <div class="clear10"></div>
              <span> Interrogation</span>
              <div class="clear10"></div>
              <p class="txtpadr">It is important to get information from...</p>
            </div>
            <div class="clear10"></div>
            <button class="btn rmposition read_more" routerLink="../PillsRead" (click)="setNav('Identified')">READ MORE</button>
          </div>
        </div>
      </div>
    </div>
  </section>
<section id="AyurvedaApproach" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms ActuallyCausesPiles AyurvedicApproach">
  <div class="container">
    <h1>Ayurvedic Approach to Manage Piles</h1>
    <div class="clear"></div>
    <div class="text-center">
      <img src="././assets/images/big_border.png">
    </div>
    <p class="text-center HeadingTextSmall txtpadr">Ayurveda follows a holistic approach in the treatment of piles. Not only
      does it help to
      remove the piles, <br />
      but also eliminates the pathophysiological process of piles from the grassroot level.

    </p>

    <div class="clear mt-5"></div>
    <div class="row m-0 rscroll">
      <div class="col-7 col-sm-7 col-md-3 col-lg-3 text-center wscroll">
        <img src="././assets/images/Ayurvedicdrugtherapy.png">
        <div class="clear20"></div>
        <span>Ayurvedic drug
          <br />
          therapy
        </span>
      </div>
      <div class="col-7 col-sm-7 col-md-3 col-lg-3 text-center wscroll">
        <img src="././assets/images/ChemicalCauterization.png">
        <div class="clear20"></div>
        <span>Chemical
          <br />
          Cauterization
        </span>
      </div>
      <div class="col-7 col-sm-7 col-md-3 col-lg-3 text-center wscroll">
        <img src="././assets/images/Cauterization.png">
        <div class="clear20"></div>
        <span>Cauterization

        </span>
      </div>
      <div class="col-7 col-sm-7 col-md-3 col-lg-3 text-center wscroll">
        <img src="././assets/images/SurgicalTherapy.png">
        <div class="clear20"></div>
        <span>Surgical
          <br />
          Therapy
        </span>
      </div>
    </div>
    <div class="clear"></div>
    <div class="topping_spac panchkarmaTretment">

      <p>Panchakarma treatment for Piles</p>

    </div>
    <div class="row m-0 rscroll">
      <div class="col-7 col-sm-6 col-lg-2 text-center wscroll">
        <img src="././assets/images/oilMassage.png">
        <div class="clear20"></div>
        <span>Oil

          <br />
          Massage
        </span>
      </div>
      <div class="col-7 col-sm-6 col-lg-2 text-center wscroll">
        <img src="././assets/images/steamTherapy.png">
        <div class="clear20"></div>
        <span>Steam

          <br />
          Therapy
        </span>
      </div>
      <div class="col-7 col-sm-6 col-lg-2 text-center wscroll">
        <img src="././assets/images/immerssionTherapy.png">
        <div class="clear20"></div>
        <span>Immersion <br />
          Therapy

        </span>
      </div>
      <div class="col-7 col-sm-6 col-lg-2 text-center wscroll">
        <img src="././assets/images/rectalEnema.png">
        <div class="clear20"></div>
        <span>Rectal enema

        </span>
      </div>
      <div class="col-7 col-sm-6 col-lg-2 text-center wscroll">
        <img src="././assets/images/pastes.png">
        <div class="clear20"></div>
        <span>Pastes for <br />
          local application
        </span>
      </div>
      <div class="col-7 col-sm-6 col-lg-2 text-center wscroll">
        <img src="././assets/images/fumigation.png">
        <div class="clear20"></div>
        <span>Fumigation <br />
          therapy
        </span>
      </div>
    </div>
  </div>
</section>
<!-- <section class="dosha mt-5">
  <div class="dosham">

    <p>The mild form of piles can be cured by medicines alone,
      and further does not need any surgical treatment. Diet
      plays an important role in the prevention of piles as
      piles occur due to impairment of digestive function.
      Ayurveda follows a holistic approach in the treatment
      of piles. Not only does it help to remove the piles, but
      also eliminates the pathophysiological process of piles
      from the grassroot level. </p>
    <ul class="DrugUl mt-4">
      <li>
        -&nbsp;&nbsp;&nbsp; Drug therapy (Bheshaja Karma) </li>
      <li> -&nbsp;&nbsp;&nbsp; Surgical therapy (Shastra Karma)</li>
      <li> -&nbsp;&nbsp;&nbsp; Chemical cauterization (Kshara Karma)</li>
      <li> -&nbsp;&nbsp;&nbsp; Cauterization (Agni Karma)</li>
    </ul>
  </div>
  <div class="clear"></div>

</section> -->
<section class="Yoga_AurvedaSection Yoga_AurvedaSymptoms HomeRemedies HomeDisplayNone">
  <div class="container">

    <div class="mb-4">
      <h1>Home Remedies </h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div>
      <div class="shadoo mx-0 mt-5 rscroll">
        <div class="card tab_card mx-0 small_div BorderradiusLeft wscroll">
          <div class=" BorderradiusLeft card-body {{tabs[0].active}}" (click)="openCity(0)">
            <div class="border_div">
              <span> Dietary measures</span>
            </div>
          </div>
        </div>
        <div class="card tab_card mx-0 wscroll">
          <div class="card-body {{tabs[1].active}}" (click)="openCity(1)">
            <div class="border_div">
              <span> yoga</span>
            </div>
          </div>
        </div>
        <div class="card tab_card mx-0 wscroll">
          <div class=" BorderradiusRight card-body  {{tabs[2].active}} " (click)="openCity(2)">
            <div class="border_div">
              <span> fluid intake</span>
            </div>
          </div>
        </div>
        <div class="card tab_card mx-0 BorderradiusRight wscroll">
          <div class=" BorderradiusRight card-body  {{tabs[3].active}} " (click)="openCity(3)">
            <div class="border_div HiddenBorder">
              <span> healthy lifestyle</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="{{tabs[0].tabcontent}} p-0 TabContentBox paddingTabContentDiv BorderRadiusDiv bordertop">

      <div class="tab1ContentBox">
        <div class="row">
          <div class="col-12 col-lg-6 mt-4">
            <p class="herbof_text herbof_text3 mt-5 txtpadr">Diet plays an important role in the prevention of piles as piles
              occur due to impairment of digestive function (Agni). To maintain the proper digestive function of the
              body, high fiber diet should be taken.
            </p>
          </div>
          <div class="col-12 col-lg-6 hidden">
            <img class="w-100" src="././assets/images/HomeRedmisRight.png">
          </div>
        </div>


        <div class="clear20"></div>

      </div>

    </div>

    <div class="{{tabs[1].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">

      <div class="tab1ContentBox">
        <div class="row">
          <div class="col-12 col-lg-6 mt-4">
            <p class="herbof_text herbof_text3 mt-5 txtpadr">Diet plays an important role in the prevention of piles as piles
              occur due to impairment of digestive function (Agni). To maintain the proper digestive function of the
              body, high fiber diet should be taken.
            </p>
          </div>
          <div class="col-12 col-lg-6 hidden">
            <img class="w-100" src="././assets/images/HomeRedmisRight.png">
          </div>
        </div>


        <div class="clear20"></div>

      </div>

    </div>

    <div class="{{tabs[2].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">

      <div class="tab1ContentBox">
        <div class="row">
          <div class="col-12 col-lg-6 mt-4">
            <p class="herbof_text herbof_text3 mt-5 txtpadr">Diet plays an important role in the prevention of piles as piles
              occur due to impairment of digestive function (Agni). To maintain the proper digestive function of the
              body, high fiber diet should be taken.
            </p>
          </div>
          <div class="col-12 col-lg-6 hidden">
            <img class="w-100" src="././assets/images/HomeRedmisRight.png">
          </div>
        </div>


        <div class="clear20"></div>

      </div>

    </div>

    <div class="{{tabs[3].tabcontent}} p-0 TabContentBox BorderRadiusDiv bordertop">

      <div class="tab1ContentBox">
        <div class="row">
          <div class="col-12 col-lg-6 mt-4">
            <p class="herbof_text herbof_text3 mt-5 txtpadr">Diet plays an important role in the prevention of piles as piles
              occur due to impairment of digestive function (Agni). To maintain the proper digestive function of the
              body, high fiber diet should be taken.
            </p>
          </div>
          <div class="col-12 col-lg-6 hidden">
            <img class="w-100" src="././assets/images/HomeRedmisRight.png">
          </div>
        </div>


        <div class="clear20"></div>

      </div>
    </div>
  </div>
</section>
<section id="Complications" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms ActuallyCausesPiles ComplicationsSection">
    <div class="container">
      <h1>Complications in Piles</h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div>
      <p class="text-center HeadingTextSmall txtpadr">The following are the compication of piles:</p>
      <div class="row m-0">
        <div class="Yoga_Ayurveda_RightDiv col-sm-6 text-center hideimg">
          <img class="img-fluid" src="././assets/images/complicationsPiles.png">
        </div>
        <div class="Yoga_Ayurveda_RightDiv col-12  col-sm-12 col-md-12 col-lg-6">
  
          <div class="clear10"></div>
          <ul class="AnaemiaBG">
            <li>Anaemia: It is rare, but excess blood loss <br />
              from bleeding piles may lead to anemia.
            </li>
            <li>Thrombosed strangulated piles: Sometimes, a clot may form in the Haemorrhoidss which may <br />
              further cut off the blood supply to the <br />
              Haemorrhoids. This causes intense pain.
  
  
            </li>
  
          </ul>
          <div class="clear10"></div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  
  </section>
<section id="RelatedProducts" class="Yoga_AurvedaSection Yoga_AurvedaSymptoms ActuallyCausesPiles ">
  <div class="deal_area container">
    <div class=" mb-4">
      <h1>Related Products </h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">

      </div>
      <div class="clear"></div>
      <div class="row mt-5" *ngIf="visibleCategory">
        <div class="col-6 col-sm-4 col-md-4 col-lg-4 "  *ngFor="let data of visibleCategory">
          <div class="col-6 col-sm-12 col-md-12 col-lg-12 Product_div tab-h text-center padlrn" *ngIf="visibleCategory.length!=0">
            <div class="clear20"></div>
            <div class="WhiteBox">
              <div (click)="getProductDetails(data.id)" >
                  <img src="{{data.imageUrl}}" width="199" height="194">
                  <div class="clear10"></div>
                  <label class="zl-text cursor">{{data.name}}</label>
              </div>
            </div>
            <br>
          
    
            <div class="row">
              <div class="text-center col-6 col-sm-6 col-md-6 col-lg-6 ">
                <label class="">
                  <label class="zl-text1">&#8377;</label>
                  <label class="zl-text12">{{data.selling}}</label>
                </label>
              </div>
              <div class=" col-6 col-sm-6 col-md-6 col-lg-6 text-left">
                <div class="product_img">
                  <div class="clear10"></div>
                  <div class="order-margin-top2"> 
                 
                    <i *ngIf="qtyP!=0" class="fa" (click)="reduce(data)"><img src="././assets/images/SpinnerMinus.png"></i>&nbsp;
                    <input [(ngModel)]="data.qty" class="input-spinner" >&nbsp;
                    <i class="fa" (click)=" add(data)"><img src="././assets/images/SpinnerPluse.png"></i>
                  </div>
                </div>
              </div>
            </div>
    
            <div class="clearfix"></div>
            <div class="row">
            <div class="col-6 col-lg-12 text-center rmpositionnew">
                <div class="clear20"></div>
                <button class="btn  read_morerp AddToCartBtn" (click)="addToCart(data)" type="button">add
                    to cart</button>
              
            </div> 
            </div>
            <div class="clear20"></div>       
          </div>
        </div>
      </div>
      <div  class="row " *ngIf="visibleCategory.length==0">
        <div class="col-12 col-lg-12 text-center">
            <div class="clear20"></div>
            <h6>No Products Found...</h6>
        </div> 
      
      </div>
    </div> 
    <div class="clear20"></div>
  <div class="row" *ngIf="visibleCategory.length!=0">
      <div class="col-6 col-lg-12 text-center">
          <div class="clear20"></div>

          <button class="btn read_morerp" routerLink="../mainproductpage">explore all products</button>            
      </div> 
      </div>
  </div>
</section>
<div class="clear"></div>

<div class="clear"></div>


<section class="artcle text-center Yoga_AurvedaSection Yoga_AurvedaSymptoms ActuallyCausesPiles">
  <div class="container">
    <div class="small_wrapper mb-4">
      <h1>Articles </h1>
      <div class="clear"></div>
      <div class="text-center">
        <img src="././assets/images/big_border.png">
      </div>
      <div class="clear"></div>
      <div class="text-center rscroll">
        <div class="article_div wscroll articledivSuran">
          <img class="mx-auto d-block img-fluid" src="././assets/images/piles1.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>

            <div class="clear10"></div>
            <p class="smallTextArticles m-0">Piles</p>
            <p class="SaffronText">9 Habits to<br/> Inculcate If... 
              </p>
          </div>
          <div class="clear10"></div>
          <button class="btn read_more" routerLink="../PilesHabitArticles">READ MORE</button>
        </div>

        <div class="article_div wscroll articledivSuran">
          <img class="mx-auto d-block img-fluid" src="././assets/images/piles2.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>

            <div class="clear10"></div>
            <p class="smallTextArticles m-0">suran</p>
            <p class="SaffronText">Amorphophallus<br/>
                paeoniifolius...</p>
          </div>
          <div class="clear10"></div>
          <button class="btn read_more" routerLink="../PilesSuranArticles">READ MORE</button>
        </div>
<!-- 
        <div class="article_div">
          <img class="mx-auto d-block img-fluid" src="././assets/images/health.png">
          <div class="clear10"></div>
          <div class="infor">
            <div class="clear10"></div>

            <div class="clear10"></div>
            <p class="smallTextArticles m-0">PRANAYAMA</p>
            <p class="SaffronText">14 best & worst<br /> foods for your ...</p>
          </div>
          <div class="clear10"></div>
          <button class="btn read_more" routerLink="../PillsRead">READ MORE</button>
        </div> -->
      </div>
    </div>
    <div class="clear"></div>
    <div class="topping_spac">
        <div class="all_benefits pt-3">
          <p>Want to get all the Benefits of <br>
            Ayurveda? Get a Free consultation!</p>
          <span>Book Your Appointment now in 3 Easy Steps</span>
        </div>
  
        <div class="all_benefits all_benefits2 text-center">
          <button class="btn btn-primary mb-2 SignBtn" type="button" routerLink="../patientloginpage">Consult ayurvedic 
            doctor</button>
          <p class="ORTExt">Or </p>
          <p>call 1800 572 8000</p>
        </div>
      </div>
  </div>
</section>
<div class="">
  <app-main-footer></app-main-footer>
</div>